// SPDX-FileCopyrigthText: 2024 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: LGPL-2.1-or-later

@import './base';

#main {
  img, video {
    border-radius: 1rem;
  }
}


#features-hero {
  height: 10rem !important;
}
