<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/accessibility-inspector-24.04.90.tar.xz">accessibility-inspector-24.04.90</a></td>
   <td align="right">79kB</td>
   <td><tt>89d1e005c16ea4475fb4fb712f691bdaad560bfcdd5004eef20c4b64cdefee63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-24.04.90.tar.xz">akonadi-24.04.90</a></td>
   <td align="right">1661kB</td>
   <td><tt>163518358e5dfdb5d834ee37e638f970be56f7396da06e28c686148c3582a350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-calendar-24.04.90.tar.xz">akonadi-calendar-24.04.90</a></td>
   <td align="right">497kB</td>
   <td><tt>e6d50f3315a272ff7b4f5f4efd864a54034d5b1ad8d8018f61f45929169477a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-calendar-tools-24.04.90.tar.xz">akonadi-calendar-tools-24.04.90</a></td>
   <td align="right">258kB</td>
   <td><tt>7ed75926cffcd9c893f129cfd3df649d1555af0ebc310226af361a571cffa7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadiconsole-24.04.90.tar.xz">akonadiconsole-24.04.90</a></td>
   <td align="right">290kB</td>
   <td><tt>0050c933d396c748fe9670bd014bfc31cfe3cce2e991a6bea6af3f75634eb09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-contacts-24.04.90.tar.xz">akonadi-contacts-24.04.90</a></td>
   <td align="right">416kB</td>
   <td><tt>53b500535e89a7d4a9d7d1bb7911a997cbaa842657b0a9b7ae6e6f3e9183ebac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-import-wizard-24.04.90.tar.xz">akonadi-import-wizard-24.04.90</a></td>
   <td align="right">476kB</td>
   <td><tt>ea73abbc6cebfedb5e653056a1e44f12717ecc8de3459b40c43720975b301773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-mime-24.04.90.tar.xz">akonadi-mime-24.04.90</a></td>
   <td align="right">168kB</td>
   <td><tt>fed302c58c1002d9bc4275672f09efb2fd671514aedcbb6939528cf13b37dc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-notes-24.04.90.tar.xz">akonadi-notes-24.04.90</a></td>
   <td align="right">27kB</td>
   <td><tt>b3704b4a788938870cc7a7aaf1027e2cf7348030a0d88332070fa3f9701b6a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akonadi-search-24.04.90.tar.xz">akonadi-search-24.04.90</a></td>
   <td align="right">109kB</td>
   <td><tt>f3230294bc6073b34f00aa113c1d92a4e9f7eacdbe44fe3f0b3d8c9cd10a19ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/akregator-24.04.90.tar.xz">akregator-24.04.90</a></td>
   <td align="right">2061kB</td>
   <td><tt>b17037e15e457ac470fa5395cfb22dd1345572f1eb81feb8cd6f7ee5fa25e597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/alligator-24.04.90.tar.xz">alligator-24.04.90</a></td>
   <td align="right">189kB</td>
   <td><tt>f0692f69c08911eff0992028bb2beefc65d155f3c3f22d84e0bd3346bd380bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/analitza-24.04.90.tar.xz">analitza-24.04.90</a></td>
   <td align="right">351kB</td>
   <td><tt>bbe1940446f768bb9eed65dc7252a7583585767860fc643c85713b0de0bfe689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/angelfish-24.04.90.tar.xz">angelfish-24.04.90</a></td>
   <td align="right">263kB</td>
   <td><tt>11de7246638fa932fd591edb3ebf462eb294e4e43116ba0618129e557e4d63e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/arianna-24.04.90.tar.xz">arianna-24.04.90</a></td>
   <td align="right">799kB</td>
   <td><tt>9ec55ce47e3fa0d98f2751bff9fd3d1d16723d1c87062cb2d366f499b254a819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ark-24.04.90.tar.xz">ark-24.04.90</a></td>
   <td align="right">2932kB</td>
   <td><tt>c560c8d76cdc8b1aaf0866f53d3ff637823037cb3b73dc727bc0f45b5f303e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/artikulate-24.04.90.tar.xz">artikulate-24.04.90</a></td>
   <td align="right">1027kB</td>
   <td><tt>08fb5e8c627f33b82c52c91f4700f5aafdec317339517d3d18a2f2d6ab9c066f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/audex-24.04.90.tar.xz">audex-24.04.90</a></td>
   <td align="right">675kB</td>
   <td><tt>24b766e7b39f7fec97ae40fa81395d6dc7fe82a2e648564fabc410aa4ab103bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/audiocd-kio-24.04.90.tar.xz">audiocd-kio-24.04.90</a></td>
   <td align="right">557kB</td>
   <td><tt>f60c1a1f7754e1911678a1d37b8c8b7f06f9048f07f0b8f87005e4b405a2abf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/audiotube-24.04.90.tar.xz">audiotube-24.04.90</a></td>
   <td align="right">149kB</td>
   <td><tt>74cde1e84e55678e94859a2c7e035749278aae423b60f0d1d44adaa2f5e29839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/baloo-widgets-24.04.90.tar.xz">baloo-widgets-24.04.90</a></td>
   <td align="right">270kB</td>
   <td><tt>5e54eb69e698da5134969191b80770efdd814faa82f1d37152556c52c4a3bbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/blinken-24.04.90.tar.xz">blinken-24.04.90</a></td>
   <td align="right">2533kB</td>
   <td><tt>3b5214500f0be1d939c738d81db34c841c9b2610b4aa7b6fc65c7af58653ab6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/bomber-24.04.90.tar.xz">bomber-24.04.90</a></td>
   <td align="right">820kB</td>
   <td><tt>e3c5c7e79e107884f7a5c84f23535024868b29efda10fba160419eb25f564fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/bovo-24.04.90.tar.xz">bovo-24.04.90</a></td>
   <td align="right">211kB</td>
   <td><tt>7efaf2c14b697154f5ec381301fad97bd5092c3ba221a142d69e90eb9873ce8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/calendarsupport-24.04.90.tar.xz">calendarsupport-24.04.90</a></td>
   <td align="right">977kB</td>
   <td><tt>98664f2cf00b88186f7d3511e6130afa7dce7eb151a27376abad4e6f41c7908c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/calindori-24.04.90.tar.xz">calindori-24.04.90</a></td>
   <td align="right">379kB</td>
   <td><tt>e69e86f2f7b7a0d272b3a866ae25be905fec402be98db66740be8ba820e9cb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/cantor-24.04.90.tar.xz">cantor-24.04.90</a></td>
   <td align="right">8982kB</td>
   <td><tt>ec06065788aec11a0a660f2b3301a8672f4d23b5ddc2768ea1fc6ab74cf324f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/cervisia-24.04.90.tar.xz">cervisia-24.04.90</a></td>
   <td align="right">1767kB</td>
   <td><tt>84502b6b1d8b303dbdf319caaa241563bfa77d0ca00df3c39abfcec85b916031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/colord-kde-24.04.90.tar.xz">colord-kde-24.04.90</a></td>
   <td align="right">114kB</td>
   <td><tt>7e15294b880666e82e761c5e8bfe02aa536fcfca82d1f2dfc5d2000ee91a07a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/dolphin-24.04.90.tar.xz">dolphin-24.04.90</a></td>
   <td align="right">5436kB</td>
   <td><tt>fa56c186b86c1d38f1b7e0272b386f37fa4c0c7c2187f36a5a9eb8f643734e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/dolphin-plugins-24.04.90.tar.xz">dolphin-plugins-24.04.90</a></td>
   <td align="right">297kB</td>
   <td><tt>b71469a08ecb046d3240a89b5ad140272d28325a0d05a34e494c555f882b4f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/dragon-24.04.90.tar.xz">dragon-24.04.90</a></td>
   <td align="right">1785kB</td>
   <td><tt>0b20376cb584001142e190d513127e6138bc96f93d773d82a1a2b8f1b8e3656d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/elisa-24.04.90.tar.xz">elisa-24.04.90</a></td>
   <td align="right">2031kB</td>
   <td><tt>f10e60a67fa494e4b1619302f6c7f858b3ed4d7c5f879c4f5d13d7a7ae8bddf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/eventviews-24.04.90.tar.xz">eventviews-24.04.90</a></td>
   <td align="right">462kB</td>
   <td><tt>ade9a293f7cdcc8182195ea11c8a08b5982164e461bc64887c0c4a8ae59e0a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/falkon-24.04.90.tar.xz">falkon-24.04.90</a></td>
   <td align="right">2523kB</td>
   <td><tt>421e9f0ebfe2e7c9896189d4e95e8e94c166daec9ef4efba80535170b09f40be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ffmpegthumbs-24.04.90.tar.xz">ffmpegthumbs-24.04.90</a></td>
   <td align="right">32kB</td>
   <td><tt>7ae681f0a622f9bd7ac6a672a509d4aedf4b1ac32f48438ad342eec70c86ac65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/filelight-24.04.90.tar.xz">filelight-24.04.90</a></td>
   <td align="right">664kB</td>
   <td><tt>9f717e0bf3b4fae802bf59a52a9de020d4f3ca3b174e89ecdd7478d80d25ad5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/francis-24.04.90.tar.xz">francis-24.04.90</a></td>
   <td align="right">97kB</td>
   <td><tt>9b1b6a3901c479e1c688cfc1cd3e688c5b3392ee41aee7108cb3084782a8fa1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ghostwriter-24.04.90.tar.xz">ghostwriter-24.04.90</a></td>
   <td align="right">3547kB</td>
   <td><tt>82e08efb745507d2f4a4d0412ba2cc65f4c28c1dbc93299e80608558fd0b92e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/granatier-24.04.90.tar.xz">granatier-24.04.90</a></td>
   <td align="right">1961kB</td>
   <td><tt>45d6e7f1bfe5db1164cc6d92f5271d300c4cb3e586c4eff248f222e2e84b05db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/grantlee-editor-24.04.90.tar.xz">grantlee-editor-24.04.90</a></td>
   <td align="right">118kB</td>
   <td><tt>3fb9a64de894148e4e2ee2973cc2d3691d00ebc08dcee9b3c3e1e798de87d849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/grantleetheme-24.04.90.tar.xz">grantleetheme-24.04.90</a></td>
   <td align="right">61kB</td>
   <td><tt>467450fa78f8f96390837b48fefde14ebc0cc5c498eafd27d5effed14b2ebca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/gwenview-24.04.90.tar.xz">gwenview-24.04.90</a></td>
   <td align="right">6360kB</td>
   <td><tt>d5bbdaa3faac4bfd494245ff9db8455b0c0935515999b408bf88a351f0a9bcb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/incidenceeditor-24.04.90.tar.xz">incidenceeditor-24.04.90</a></td>
   <td align="right">571kB</td>
   <td><tt>7ada042155884e19bff1a770a355d8b8e0ae86e579191329931c005ea601a512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/isoimagewriter-24.04.90.tar.xz">isoimagewriter-24.04.90</a></td>
   <td align="right">456kB</td>
   <td><tt>bb80bef9371e244df03b5406650f4911c4e90609320230e9e160c17f883ac91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/itinerary-24.04.90.tar.xz">itinerary-24.04.90</a></td>
   <td align="right">696kB</td>
   <td><tt>beed07ef5224e238ae723d7cc8830450479658462c93c199cc2179d7bde17384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/juk-24.04.90.tar.xz">juk-24.04.90</a></td>
   <td align="right">1854kB</td>
   <td><tt>4565c9b45fb6a07445b832af4c6b8a3d96d0704ed30b7e9ece800d4fe4f8e552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/k3b-24.04.90.tar.xz">k3b-24.04.90</a></td>
   <td align="right">10440kB</td>
   <td><tt>4a11ab8db43feac3df6726ee904fbeba3210156db47c7e3b7102e428f8a2662c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kaccounts-integration-24.04.90.tar.xz">kaccounts-integration-24.04.90</a></td>
   <td align="right">90kB</td>
   <td><tt>adaf10304a6206ef96453573377c8e28218b2c7e8961db202a80407114ebe251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kaccounts-providers-24.04.90.tar.xz">kaccounts-providers-24.04.90</a></td>
   <td align="right">67kB</td>
   <td><tt>373f8288d621d9dba9b38ad667cdb62fc902c36d6ed8729c6d9a8d96af11e9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kaddressbook-24.04.90.tar.xz">kaddressbook-24.04.90</a></td>
   <td align="right">3327kB</td>
   <td><tt>b9e58735b54f8d0d66e4f94bd592a560015980998ec7a83cee2f1060128bffc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kajongg-24.04.90.tar.xz">kajongg-24.04.90</a></td>
   <td align="right">4494kB</td>
   <td><tt>6aecbf584db8a26c9e2a14aa3cb7bdf58466d2d5077838e8db0191bf72cb6db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kalarm-24.04.90.tar.xz">kalarm-24.04.90</a></td>
   <td align="right">2525kB</td>
   <td><tt>4ea3910fd00b477094923dc6473893bd857e28553b5444e75a362fb0f8f8bce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kalgebra-24.04.90.tar.xz">kalgebra-24.04.90</a></td>
   <td align="right">921kB</td>
   <td><tt>242f3306847f75a00ca105b984f3a2ca6c05c7ca9cca13b73537fc349665c864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kalk-24.04.90.tar.xz">kalk-24.04.90</a></td>
   <td align="right">74kB</td>
   <td><tt>fe65b380b4e60ce7c2036db107d426a9904083c4796443b7f5bc4ecb71f16de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kalm-24.04.90.tar.xz">kalm-24.04.90</a></td>
   <td align="right">71kB</td>
   <td><tt>9ab03e6b05f796cd72c495fae8005c7e8ad49f439c8ffa4ac7c02ddf66ed2416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kalzium-24.04.90.tar.xz">kalzium-24.04.90</a></td>
   <td align="right">22134kB</td>
   <td><tt>cec1b3518d5ed22b69b0a66a6599085340ce3b244027209aabe678e5d3a39abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kamera-24.04.90.tar.xz">kamera-24.04.90</a></td>
   <td align="right">127kB</td>
   <td><tt>ea5dd1884b61617c4f0d43c8f56854c36105fb755bb09437fdf6f9397298493a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kamoso-24.04.90.tar.xz">kamoso-24.04.90</a></td>
   <td align="right">227kB</td>
   <td><tt>83d1513befd1ec538a770bbab80f6109b65269f77e34e9951aec77074be28154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kanagram-24.04.90.tar.xz">kanagram-24.04.90</a></td>
   <td align="right">7597kB</td>
   <td><tt>88e598140b55c9641906c559595c0de753af108dc92170a17697f90cbe02ecd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kapman-24.04.90.tar.xz">kapman-24.04.90</a></td>
   <td align="right">2092kB</td>
   <td><tt>7a415c48d9ccff5821bcfd664df4b9e1dd1e5532947ce3df462ffe1e15584a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kapptemplate-24.04.90.tar.xz">kapptemplate-24.04.90</a></td>
   <td align="right">334kB</td>
   <td><tt>d99fceb738cc20b76c447ef7dc9ce25132387ab20f27fd026225e6afd427a844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kasts-24.04.90.tar.xz">kasts-24.04.90</a></td>
   <td align="right">593kB</td>
   <td><tt>1473a17ae05bf14f51a8dde3e230a18629f746053ed384acfce325d2e54c7348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kate-24.04.90.tar.xz">kate-24.04.90</a></td>
   <td align="right">7954kB</td>
   <td><tt>8175961c82b577adc50c8d8903f9a432092da613a2d260b50589e2ddba376d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/katomic-24.04.90.tar.xz">katomic-24.04.90</a></td>
   <td align="right">1407kB</td>
   <td><tt>404ece0665fef5818552063c80eeb82108143377cc435812de668a1f1d23e90e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kbackup-24.04.90.tar.xz">kbackup-24.04.90</a></td>
   <td align="right">365kB</td>
   <td><tt>fb7a7e5004fe3da560f770f59e2ad327f06e30d7b10a5d41bbc58965f092b12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kblackbox-24.04.90.tar.xz">kblackbox-24.04.90</a></td>
   <td align="right">532kB</td>
   <td><tt>f19db887f4e8acf3eff80f96d755862ef10127e58c5063d9d96029facdde8b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kblocks-24.04.90.tar.xz">kblocks-24.04.90</a></td>
   <td align="right">2049kB</td>
   <td><tt>9132caeb25ad6ca3ca1539a17fe567ea2a1ecaf9da4f8447e4bb6034e3456159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kbounce-24.04.90.tar.xz">kbounce-24.04.90</a></td>
   <td align="right">3242kB</td>
   <td><tt>492c3f5c3493fb16d4d8359d3cd39ce53c73a56300ce8ae49be98f396056701e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kbreakout-24.04.90.tar.xz">kbreakout-24.04.90</a></td>
   <td align="right">2492kB</td>
   <td><tt>1665eac360f4fa3b43c57f491a63dbec48a4f518288dd8302d65433e55578683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kbruch-24.04.90.tar.xz">kbruch-24.04.90</a></td>
   <td align="right">5027kB</td>
   <td><tt>cad200c1e5ee0c40d7aca5cc4b482e4f73b90d983e9272ffac84dcc4a8ab5aca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcachegrind-24.04.90.tar.xz">kcachegrind-24.04.90</a></td>
   <td align="right">913kB</td>
   <td><tt>2fae26b0284614d4c8b42c9e3c97b2cf0ea69cb893a7e2074d69eab9b01c9d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcalc-24.04.90.tar.xz">kcalc-24.04.90</a></td>
   <td align="right">450kB</td>
   <td><tt>b383984f91e894caa332529354ee75e484bd9f4bb35f26b3a5d1b0759b189dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcalutils-24.04.90.tar.xz">kcalutils-24.04.90</a></td>
   <td align="right">346kB</td>
   <td><tt>93b2e727fd00a29693c6edb0d43375b17d61f0ad2c25b7ad4550fbd97e930471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcharselect-24.04.90.tar.xz">kcharselect-24.04.90</a></td>
   <td align="right">463kB</td>
   <td><tt>1cc11d9b8711a895427641d74516bcfa7e9b3998ba2c2cc1730564760872ac49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kclock-24.04.90.tar.xz">kclock-24.04.90</a></td>
   <td align="right">638kB</td>
   <td><tt>0e3ed176f7573f974fdaba36657ea8fdcfa750ec50e166a5211272432bdc4b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcolorchooser-24.04.90.tar.xz">kcolorchooser-24.04.90</a></td>
   <td align="right">34kB</td>
   <td><tt>e32266cb306717ed2de9c03ac52f99f90b0116eee2c5f962f965ebcd83160140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kcron-24.04.90.tar.xz">kcron-24.04.90</a></td>
   <td align="right">855kB</td>
   <td><tt>46b613894b751d8db8e9a610d51432b62247e0ddf2f142dfaa26c668aaecf7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdebugsettings-24.04.90.tar.xz">kdebugsettings-24.04.90</a></td>
   <td align="right">109kB</td>
   <td><tt>6e144be8457a60c093fe2eb880d17b839045bd92428aa1681ab52ad9c5088e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdeconnect-kde-24.04.90.tar.xz">kdeconnect-kde-24.04.90</a></td>
   <td align="right">678kB</td>
   <td><tt>3c838c62adb9c78da6f35bfd802f5c314a9f0bbbc2754c301364430d4c8d0f8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kde-dev-scripts-24.04.90.tar.xz">kde-dev-scripts-24.04.90</a></td>
   <td align="right">363kB</td>
   <td><tt>d122d4d820634a695361da4dc303f768d144a66eafa59fd735c596067e4abe3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kde-dev-utils-24.04.90.tar.xz">kde-dev-utils-24.04.90</a></td>
   <td align="right">73kB</td>
   <td><tt>1c5cad200958ccd1453eee65d1ad5c6e381d50ef536cdc947a5c0595620d3f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdeedu-data-24.04.90.tar.xz">kdeedu-data-24.04.90</a></td>
   <td align="right">330kB</td>
   <td><tt>15721b24e14849dc8b2f025ddc0eaad067d856168549bf41e1f507d09203eb8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdegraphics-mobipocket-24.04.90.tar.xz">kdegraphics-mobipocket-24.04.90</a></td>
   <td align="right">12kB</td>
   <td><tt>7fe40456a3a36455337e709cb39d6eb8cee80c4998632240c92a20bb0fe8837b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdegraphics-thumbnailers-24.04.90.tar.xz">kdegraphics-thumbnailers-24.04.90</a></td>
   <td align="right">47kB</td>
   <td><tt>22460d029e35cd44ae2edb1caca65ed67deb290ddb98c061101298bbb8addc6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kde-inotify-survey-24.04.90.tar.xz">kde-inotify-survey-24.04.90</a></td>
   <td align="right">229kB</td>
   <td><tt>954678b482b98695f32754e3d3bcf83fa04407c5cb3ebeb4cfee400fdb8306cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdenetwork-filesharing-24.04.90.tar.xz">kdenetwork-filesharing-24.04.90</a></td>
   <td align="right">482kB</td>
   <td><tt>83ec0f5f419e54db559aa6ccdc17d32a837ead271bf020f92ac364691ba16a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdenlive-24.04.90.tar.xz">kdenlive-24.04.90</a></td>
   <td align="right">12595kB</td>
   <td><tt>4c26cfc4b4f52f715d211f172f35e34e5b2d894c7f243fe7490adeea14e48058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdepim-addons-24.04.90.tar.xz">kdepim-addons-24.04.90</a></td>
   <td align="right">2577kB</td>
   <td><tt>47c925c2e99a5ac1b9b402b9b3fbc0f1b981c0bf55b99c18a56804458c3635f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdepim-runtime-24.04.90.tar.xz">kdepim-runtime-24.04.90</a></td>
   <td align="right">1640kB</td>
   <td><tt>25f40e11ad2b77c59f276f63ef5ba4fc4f8ac54c7e29a4364bb77b57189afdba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdesdk-kio-24.04.90.tar.xz">kdesdk-kio-24.04.90</a></td>
   <td align="right">40kB</td>
   <td><tt>eb42b4c6168960f1a2e8e50867ff7049862f5fcdd244aa82ae1f9402cc425109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdesdk-thumbnailers-24.04.90.tar.xz">kdesdk-thumbnailers-24.04.90</a></td>
   <td align="right">26kB</td>
   <td><tt>47cdb5c2466a71c27f68212453372d37b39ae0ca4b1acd5c615f5f0488ead64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdevelop-24.04.90.tar.xz">kdevelop-24.04.90</a></td>
   <td align="right">8560kB</td>
   <td><tt>fdf70ba4be562bad20fd716df004bee4275d5ac8942650850d30cdf6e638da3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdev-php-24.04.90.tar.xz">kdev-php-24.04.90</a></td>
   <td align="right">1064kB</td>
   <td><tt>472b30e1126a623b3319defcc2a60fb4a15a695058a92143030cfe107eb3d30e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdev-python-24.04.90.tar.xz">kdev-python-24.04.90</a></td>
   <td align="right">1072kB</td>
   <td><tt>127012ab9e321b363a306f004fdd59f89be36ddc610426d86059c20422fdcc06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdf-24.04.90.tar.xz">kdf-24.04.90</a></td>
   <td align="right">465kB</td>
   <td><tt>376702134c0a87eb74b09f6b77df627e9d7eb65d15de1169a6b7e7b0f659dfd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdialog-24.04.90.tar.xz">kdialog-24.04.90</a></td>
   <td align="right">142kB</td>
   <td><tt>d39001aae35d6cb8e1e9132781ae8fd53399dd744fbcecae7906892f16898588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kdiamond-24.04.90.tar.xz">kdiamond-24.04.90</a></td>
   <td align="right">4559kB</td>
   <td><tt>069045e98cd9eea54c22330b1de6ec53da7e0bb79c8fdeecbd73cce666da0289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/keditbookmarks-24.04.90.tar.xz">keditbookmarks-24.04.90</a></td>
   <td align="right">238kB</td>
   <td><tt>ff3fcac936bf746f40516eec8bb4dfa27dfa84052011fc362cada603423b457a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/keysmith-24.04.90.tar.xz">keysmith-24.04.90</a></td>
   <td align="right">167kB</td>
   <td><tt>9420ab4dad11c9969f1d874c78ab4ad67893c2b5dc6c261043a9b608ba9d992d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kfind-24.04.90.tar.xz">kfind-24.04.90</a></td>
   <td align="right">316kB</td>
   <td><tt>13fdcd1f8694b32796f2452282fa724bc42ecc66b2bf0ff2ce74c2550c73cf97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kfourinline-24.04.90.tar.xz">kfourinline-24.04.90</a></td>
   <td align="right">721kB</td>
   <td><tt>d623a8535f6fd6d2ae2cca3ebc8ce4980dcc609bc61ef67abe920bf4583b2ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kgeography-24.04.90.tar.xz">kgeography-24.04.90</a></td>
   <td align="right">12144kB</td>
   <td><tt>5c099232948cf2ccaeedbdf1a09755fe1e77e7e8cb0f1352c46d62b520ae1751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kget-24.04.90.tar.xz">kget-24.04.90</a></td>
   <td align="right">4793kB</td>
   <td><tt>34baf70eb5cfadb4f3e8c538f6ad6880d3ec78b54d8de28233f06f8d623ee797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kgoldrunner-24.04.90.tar.xz">kgoldrunner-24.04.90</a></td>
   <td align="right">4192kB</td>
   <td><tt>f457c5b9b5cff75b76b1a4b2716efd7b31060afa64c671165dfbd25c6b607342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kgpg-24.04.90.tar.xz">kgpg-24.04.90</a></td>
   <td align="right">2950kB</td>
   <td><tt>dcbdff29cc754179e31e203add1ad8b0a82a7d130cb255dea9edc83cf1224818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/khangman-24.04.90.tar.xz">khangman-24.04.90</a></td>
   <td align="right">6853kB</td>
   <td><tt>d83c7982d860f761e22374c215397492f69deed3e1a6d68746048e6733da4d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/khealthcertificate-24.04.90.tar.xz">khealthcertificate-24.04.90</a></td>
   <td align="right">502kB</td>
   <td><tt>e22193c54d21374bfd425f957dc0a1b8826aaaf4f9eab29e82be07ca36994618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/khelpcenter-24.04.90.tar.xz">khelpcenter-24.04.90</a></td>
   <td align="right">4121kB</td>
   <td><tt>7a33471e7095fa15e798978d2bdcd9cc864cdc8b58edb478b55bac20cefed1a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kidentitymanagement-24.04.90.tar.xz">kidentitymanagement-24.04.90</a></td>
   <td align="right">189kB</td>
   <td><tt>0cef520364dc5b9cb67f8f1df048e98ace4f446b33cac9f53c3d41a88d40fbd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kig-24.04.90.tar.xz">kig-24.04.90</a></td>
   <td align="right">3174kB</td>
   <td><tt>9a4c37d6ebb9862ed10995f52358ae9c07ee0e4bc03654c386e541090c55e9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kigo-24.04.90.tar.xz">kigo-24.04.90</a></td>
   <td align="right">4712kB</td>
   <td><tt>5e20b39677d1f5a722c25c6209727ee043b974189fb97caa8cddbab9db6b5dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/killbots-24.04.90.tar.xz">killbots-24.04.90</a></td>
   <td align="right">1132kB</td>
   <td><tt>43701da888d6898f6563755df22856f77b71d4001b041a6a4c05b081f16797af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kimagemapeditor-24.04.90.tar.xz">kimagemapeditor-24.04.90</a></td>
   <td align="right">1043kB</td>
   <td><tt>8f39e3bc6399b4dee7204641139faeb2fe138d7c22673246fc2f306895eaea23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kimap-24.04.90.tar.xz">kimap-24.04.90</a></td>
   <td align="right">128kB</td>
   <td><tt>59b69f17f302e67a00886f11a10519627ca1eee19c3f03079c953f062218535f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kio-admin-24.04.90.tar.xz">kio-admin-24.04.90</a></td>
   <td align="right">37kB</td>
   <td><tt>6b860d4408040175fbffa6a24c5891273b2a6ffccec22a6fb418847189c85ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kio-extras-24.04.90.tar.xz">kio-extras-24.04.90</a></td>
   <td align="right">3388kB</td>
   <td><tt>f0e5031e3e5ca462ee9dad89178806c93465aaab561e9fca8634175e71580cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kio-gdrive-24.04.90.tar.xz">kio-gdrive-24.04.90</a></td>
   <td align="right">78kB</td>
   <td><tt>934fce3e9ff607e5ea820b53bc9c5b8590f1de2e645c2374f5025444ce4bc9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kio-zeroconf-24.04.90.tar.xz">kio-zeroconf-24.04.90</a></td>
   <td align="right">43kB</td>
   <td><tt>52b06f2528e8a0a692f8cbfb615cc8451141818681b9edc628655f26080d3706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kipi-plugins-24.04.90.tar.xz">kipi-plugins-24.04.90</a></td>
   <td align="right">1536kB</td>
   <td><tt>d6c37e29d6a871cb08cf8df134ecc4bc7c321de6ad3b3e2996aa228b0dc1661c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kirigami-gallery-24.04.90.tar.xz">kirigami-gallery-24.04.90</a></td>
   <td align="right">349kB</td>
   <td><tt>daa48273fbbb4f437d0ffb32db516250e9dfb0ae48cbf90e11844cd5538754af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kiriki-24.04.90.tar.xz">kiriki-24.04.90</a></td>
   <td align="right">359kB</td>
   <td><tt>9e414979dad9fed14a834de9e0a6d787ba947e986a6ceabdda9aedcdbee010d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kiten-24.04.90.tar.xz">kiten-24.04.90</a></td>
   <td align="right">11043kB</td>
   <td><tt>da81a4641e813167e3563a940baf75975894ff6826ce6fe659687faaff29596b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kitinerary-24.04.90.tar.xz">kitinerary-24.04.90</a></td>
   <td align="right">1937kB</td>
   <td><tt>5c5a9cae9342e60d025569bab9b41e5997c4f3d96a24befc5418f975a10e163c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kjournald-24.04.90.tar.xz">kjournald-24.04.90</a></td>
   <td align="right">506kB</td>
   <td><tt>ab7db9d751fb25e1d4151efd170219596de8a2a05b73616f87c5208c74b9f69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kjumpingcube-24.04.90.tar.xz">kjumpingcube-24.04.90</a></td>
   <td align="right">331kB</td>
   <td><tt>2951b7a4af48639a30fa8f767dc4d5ffd8358cbd7f87371324c89936edadbef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kldap-24.04.90.tar.xz">kldap-24.04.90</a></td>
   <td align="right">180kB</td>
   <td><tt>9b93cd02e9280f215a8e6fe90d2a740eeae2d3c40fe5cf13d058f28dba56d473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kleopatra-24.04.90.tar.xz">kleopatra-24.04.90</a></td>
   <td align="right">2782kB</td>
   <td><tt>1459279ce5b24235ab91d59642877e46b57b6bc9539b2559a5bdda9622e9ba3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/klettres-24.04.90.tar.xz">klettres-24.04.90</a></td>
   <td align="right">46070kB</td>
   <td><tt>d2e020a2e5e762fc3d34ef7111bf41431f655fe2839e647f8c14c151f2eb6c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/klickety-24.04.90.tar.xz">klickety-24.04.90</a></td>
   <td align="right">1349kB</td>
   <td><tt>48471d0fb8c3d29405f0ee102c5de7d1705d7973fea3388ebf782e10654e688f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/klines-24.04.90.tar.xz">klines-24.04.90</a></td>
   <td align="right">1629kB</td>
   <td><tt>9cf39b83c8ef80bfb2394d31be42940a336dcc4bd3a95a43b4ae602deabb6865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmag-24.04.90.tar.xz">kmag-24.04.90</a></td>
   <td align="right">658kB</td>
   <td><tt>788ca8b98e1654c62b7dfc673f5101d6480b520be39cce06c65afab6666d1f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmahjongg-24.04.90.tar.xz">kmahjongg-24.04.90</a></td>
   <td align="right">3626kB</td>
   <td><tt>854505cdbd1bd33aed456b76cec1827fa6421faded718f4e677a8adcd840fa11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmail-24.04.90.tar.xz">kmail-24.04.90</a></td>
   <td align="right">8235kB</td>
   <td><tt>972df57e99dcdc5987bbc5256d6ab41d9d1116f7eeadd5691bdc5aa70ab5f827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmail-account-wizard-24.04.90.tar.xz">kmail-account-wizard-24.04.90</a></td>
   <td align="right">158kB</td>
   <td><tt>cd93d2a4f1e68297c46c0ffc1b9b44590e5e5b0b22955b604f6dbae2f5080dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmailtransport-24.04.90.tar.xz">kmailtransport-24.04.90</a></td>
   <td align="right">181kB</td>
   <td><tt>ad91b454a19f7c83f495b9bdf4c6039b132d2232a8e0fb2f3e9dd919bf47fc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmbox-24.04.90.tar.xz">kmbox-24.04.90</a></td>
   <td align="right">28kB</td>
   <td><tt>7314f925ba83e399c806e2006d53e0d55c5abb3f2c593e58a40cd5ae11e498d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmime-24.04.90.tar.xz">kmime-24.04.90</a></td>
   <td align="right">157kB</td>
   <td><tt>a3c2351d9f9c8c68588eced9a77808978b837e04f582726554295fa406fc6ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmines-24.04.90.tar.xz">kmines-24.04.90</a></td>
   <td align="right">921kB</td>
   <td><tt>b79a4bc897e054b8a29209314baea3398054face7f6c25cea8f3e00f8ec61532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmix-24.04.90.tar.xz">kmix-24.04.90</a></td>
   <td align="right">1137kB</td>
   <td><tt>2d50d0d4c70eed1e36182e0657ab739124f46cccf23a263aae5f8e0143e06098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmousetool-24.04.90.tar.xz">kmousetool-24.04.90</a></td>
   <td align="right">127kB</td>
   <td><tt>70d62d8a775b7c80e3c239bfa683b1d50c543d9514aca0b729b7cd06a684da53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmouth-24.04.90.tar.xz">kmouth-24.04.90</a></td>
   <td align="right">1890kB</td>
   <td><tt>c9339aa2128196f477cdd4e9ce28ba2317b7ab10ef13348821aba0c9567ca2f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kmplot-24.04.90.tar.xz">kmplot-24.04.90</a></td>
   <td align="right">2933kB</td>
   <td><tt>4bde76dbd6c0c3a76bca29b15a161db3401c6477dc0ac2e74babbef29c8b2b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/knavalbattle-24.04.90.tar.xz">knavalbattle-24.04.90</a></td>
   <td align="right">1017kB</td>
   <td><tt>412ca8840407beb72ef7864c22fcd82937297b0345b2df3bcd04c1f56a86be11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/knetwalk-24.04.90.tar.xz">knetwalk-24.04.90</a></td>
   <td align="right">986kB</td>
   <td><tt>e76a95abd1b2db6cf4e48752a645866fd874c0aa291938c4d40b18dfaa01e173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/knights-24.04.90.tar.xz">knights-24.04.90</a></td>
   <td align="right">2413kB</td>
   <td><tt>62a8e44eb7553fc54a4a66863896ce61fbe2f7a2a0f04c5f2bc35542644db18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/knotes-24.04.90.tar.xz">knotes-24.04.90</a></td>
   <td align="right">372kB</td>
   <td><tt>9409349c212192c0b76d33cd4e4808b4be5e20c8423d5d4e8fbb9cb2d4f38b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/koko-24.04.90.tar.xz">koko-24.04.90</a></td>
   <td align="right">8332kB</td>
   <td><tt>88707e4bde2d8a9f3477820edb7e968f04537c4b2c08f21e4b00c80d784ea1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kolf-24.04.90.tar.xz">kolf-24.04.90</a></td>
   <td align="right">1039kB</td>
   <td><tt>e1779231a243ae9ed46d4e595be9f178e264e0af93ef3c70272f57926edec612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kollision-24.04.90.tar.xz">kollision-24.04.90</a></td>
   <td align="right">301kB</td>
   <td><tt>d5448d23d762c8224011c9ae23b2bedfade81a176c18230d1c799bf15939a140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kolourpaint-24.04.90.tar.xz">kolourpaint-24.04.90</a></td>
   <td align="right">5170kB</td>
   <td><tt>08bb9cfcc80c4ff049fc929a71e3b1ca2c661dcded55353d1d618c283fd26acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kompare-24.04.90.tar.xz">kompare-24.04.90</a></td>
   <td align="right">920kB</td>
   <td><tt>8cc645f2e594b15089a6883ae84ecaafbcfb5a232608361e2a5cdc252b72cb79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kongress-24.04.90.tar.xz">kongress-24.04.90</a></td>
   <td align="right">579kB</td>
   <td><tt>ebea39afd15fc7ba2e284ecfc9bd2439c7af7d9943e65cf9c8e44b8f1a4591d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/konqueror-24.04.90.tar.xz">konqueror-24.04.90</a></td>
   <td align="right">9484kB</td>
   <td><tt>125049d27442712856422e9856aeebe44a574995475c5966f7d001b850fcfa66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/konquest-24.04.90.tar.xz">konquest-24.04.90</a></td>
   <td align="right">834kB</td>
   <td><tt>344cff593a4af208fb55c2da95cfdcfb3af31a87ce3f38a1edaf4cdce9eb77ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/konsole-24.04.90.tar.xz">konsole-24.04.90</a></td>
   <td align="right">1727kB</td>
   <td><tt>79d08a7eeebfe4cbe549816618b55a4e651b27f190e615466be5240f40208d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kontact-24.04.90.tar.xz">kontact-24.04.90</a></td>
   <td align="right">842kB</td>
   <td><tt>81db7b20f2ad0dd1c6aadca8840cdcfa40e13a922baca376ed50abe03397756f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kontactinterface-24.04.90.tar.xz">kontactinterface-24.04.90</a></td>
   <td align="right">39kB</td>
   <td><tt>63d61dcbad386abece9c75efb2e34ecfac0164d5c1d3f18e9c1d9ca7824dfafc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kontrast-24.04.90.tar.xz">kontrast-24.04.90</a></td>
   <td align="right">209kB</td>
   <td><tt>27bf82b716eaafcf8055937913b81d5b99f6790a5a5ae6fa2e2398a955fcd7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/konversation-24.04.90.tar.xz">konversation-24.04.90</a></td>
   <td align="right">4284kB</td>
   <td><tt>7a42b521f3851815f1c16f9b7b6937d37e493d3226cee72952a559d068c29d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kopeninghours-24.04.90.tar.xz">kopeninghours-24.04.90</a></td>
   <td align="right">72kB</td>
   <td><tt>609193d3952dfa669f046b5ad4b15f77463f4daa2eb5b6242ef46b0301b48497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/korganizer-24.04.90.tar.xz">korganizer-24.04.90</a></td>
   <td align="right">2509kB</td>
   <td><tt>e1a9ca4d493d001ac5fc5b20a61d05e237892b591b9aed5fdcf55defa5436863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kosmindoormap-24.04.90.tar.xz">kosmindoormap-24.04.90</a></td>
   <td align="right">630kB</td>
   <td><tt>80d5e63c6aa5baf4e58406d616a2d731cfe8f43d69ec10460a6f5ed22f5e8051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kpat-24.04.90.tar.xz">kpat-24.04.90</a></td>
   <td align="right">3627kB</td>
   <td><tt>99162e130978734d143d7f4cb4c5894f8a3d50b002b61ad6fa21d14cdda4b626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kpimtextedit-24.04.90.tar.xz">kpimtextedit-24.04.90</a></td>
   <td align="right">165kB</td>
   <td><tt>cbd7d4662c9f0ccd4f7d8555947ac2469f547a2bdbfe756f8988219e94feb42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kpkpass-24.04.90.tar.xz">kpkpass-24.04.90</a></td>
   <td align="right">28kB</td>
   <td><tt>c00adba23e95819c90069272e9b6053776a2f5843ba323418a6802bd97b3ce0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kpmcore-24.04.90.tar.xz">kpmcore-24.04.90</a></td>
   <td align="right">623kB</td>
   <td><tt>36e544729381a87469240931ebd1941ef2c5a6983dd45919cf5e16d620c3b78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kpublictransport-24.04.90.tar.xz">kpublictransport-24.04.90</a></td>
   <td align="right">652kB</td>
   <td><tt>59de0281458f71776033f552e16d6e276c854a81c59573c83cc27c17ded0456b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kqtquickcharts-24.04.90.tar.xz">kqtquickcharts-24.04.90</a></td>
   <td align="right">30kB</td>
   <td><tt>50d676336056ee6f31c8dbf0fc4da8154bcd0082a336754651a874aacf22a57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/krdc-24.04.90.tar.xz">krdc-24.04.90</a></td>
   <td align="right">1505kB</td>
   <td><tt>56111643eee7228b6715aa7ddb55a9c117a0cc7106aa7bc062cf0aa263547817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/krecorder-24.04.90.tar.xz">krecorder-24.04.90</a></td>
   <td align="right">162kB</td>
   <td><tt>2c80962c47862025c3148d5c5abddd548e0833f0483f9264a0c7f64041f2a04c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kreversi-24.04.90.tar.xz">kreversi-24.04.90</a></td>
   <td align="right">1001kB</td>
   <td><tt>f0b017ad026939b9fd3f3ed9d051e1039bb43a43a03b734e4e45d05924d0310a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/krfb-24.04.90.tar.xz">krfb-24.04.90</a></td>
   <td align="right">1168kB</td>
   <td><tt>bcc415e3b40740f16b1fbd09e444bfe9d9af76982c9c0e79ca4a4f684895a88f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kross-interpreters-24.04.90.tar.xz">kross-interpreters-24.04.90</a></td>
   <td align="right">148kB</td>
   <td><tt>858cd7448c7203c56c6495a28609d4e7eb6e75b3f54178dcd1a9f208005c13d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kruler-24.04.90.tar.xz">kruler-24.04.90</a></td>
   <td align="right">277kB</td>
   <td><tt>6ec9dc67e94f4197cc5872fd0f03b1bd51626de33a23e7d3a1f3ce7254d0cd55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksanecore-24.04.90.tar.xz">ksanecore-24.04.90</a></td>
   <td align="right">49kB</td>
   <td><tt>c4129f19d1b0178628586bea9fca73988daa608014a5977b8cb9920cb8789587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kshisen-24.04.90.tar.xz">kshisen-24.04.90</a></td>
   <td align="right">944kB</td>
   <td><tt>7cfeb958b124d755a8fd856a773835820dbae046db8e453387b0a45561119de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksirk-24.04.90.tar.xz">ksirk-24.04.90</a></td>
   <td align="right">6903kB</td>
   <td><tt>15ba07e26551a9ee78cf3ac8a9b4d34bbe5e2984c41556a3a87ee2e50c1eb4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksmtp-24.04.90.tar.xz">ksmtp-24.04.90</a></td>
   <td align="right">51kB</td>
   <td><tt>cc4b0052c583668428039ca9ed6fadc32c509583f9569d6e61b030ed5a394ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksnakeduel-24.04.90.tar.xz">ksnakeduel-24.04.90</a></td>
   <td align="right">562kB</td>
   <td><tt>9d8faf827709a5fbc838619af77c08f7b8fcb996e85d8cdba78a159b316336d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kspaceduel-24.04.90.tar.xz">kspaceduel-24.04.90</a></td>
   <td align="right">613kB</td>
   <td><tt>368f4199d9930dba9515218c7641239b49c05d63413297f29d8112a9d98ef1ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksquares-24.04.90.tar.xz">ksquares-24.04.90</a></td>
   <td align="right">310kB</td>
   <td><tt>85d108ba04f8c6e2f669d9ec8c4ea9da74bcd7e8b82d769508298a9d2f6dcebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksudoku-24.04.90.tar.xz">ksudoku-24.04.90</a></td>
   <td align="right">1678kB</td>
   <td><tt>9e34ddea675f2b75cdadd3d9613f840d3bbe26bb56e4e6a482c99695bb8924f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ksystemlog-24.04.90.tar.xz">ksystemlog-24.04.90</a></td>
   <td align="right">1811kB</td>
   <td><tt>ae2b608665dcf91a5cc5b9783be7c61435e809ca360c2791a96606de5d3c200d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kteatime-24.04.90.tar.xz">kteatime-24.04.90</a></td>
   <td align="right">300kB</td>
   <td><tt>a3915e9f127229c6bad08a5d68575763d360267b3ad0c4af82620ba644731ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktimer-24.04.90.tar.xz">ktimer-24.04.90</a></td>
   <td align="right">440kB</td>
   <td><tt>4491e6eab2ff4bef97c1024fbd37884ae6ee68c026ea1bce297c4ff60d5bcaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktnef-24.04.90.tar.xz">ktnef-24.04.90</a></td>
   <td align="right">305kB</td>
   <td><tt>3c2a94997745cba7854c8b9e22a7134874a283f0c681c55e42da9b45c90f60bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktorrent-24.04.90.tar.xz">ktorrent-24.04.90</a></td>
   <td align="right">2131kB</td>
   <td><tt>b00babedadfd72cb198e76104df30e254b902532dc6ca200aa57164796ea3370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktouch-24.04.90.tar.xz">ktouch-24.04.90</a></td>
   <td align="right">4670kB</td>
   <td><tt>4bd88d8347b83bf0b456d3c5f00460bd858b2b29816db35ea436af884b4c189c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktrip-24.04.90.tar.xz">ktrip-24.04.90</a></td>
   <td align="right">1013kB</td>
   <td><tt>f184fc7fde5a0f6c7e223a6d2b55593556d540327a2ceac63b4a2ba3bc959979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/ktuberling-24.04.90.tar.xz">ktuberling-24.04.90</a></td>
   <td align="right">69864kB</td>
   <td><tt>923b720cb898b687bba743e65b9d6ffd2cbf2ee153e06d90d2c0723436869bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kturtle-24.04.90.tar.xz">kturtle-24.04.90</a></td>
   <td align="right">2045kB</td>
   <td><tt>3c5fc177494f328499d44145ae9ca5ded88e3331695fb26506bf7fb59bc8f9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kubrick-24.04.90.tar.xz">kubrick-24.04.90</a></td>
   <td align="right">347kB</td>
   <td><tt>1daf3bfe4196f25463a0663b9ab6c316a07f1f58b6f3c56702f74eab0fce2b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kwalletmanager-24.04.90.tar.xz">kwalletmanager-24.04.90</a></td>
   <td align="right">1011kB</td>
   <td><tt>a5bb8443695f64d51ea41ab26e5e26f9d3a8fda8d6472e916adc06cee774ef8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kwave-24.04.90.tar.xz">kwave-24.04.90</a></td>
   <td align="right">6398kB</td>
   <td><tt>b91b0fdbdfe87a6e7610d1e66fa380b05d8907565289574bc59a6fff4b319937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kweather-24.04.90.tar.xz">kweather-24.04.90</a></td>
   <td align="right">926kB</td>
   <td><tt>2737e9ecbabbd2e3ed7e3beca71e3183ad4d10cbfd30010fc86a8fc35502bd75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/kwordquiz-24.04.90.tar.xz">kwordquiz-24.04.90</a></td>
   <td align="right">3682kB</td>
   <td><tt>75203ebf84d92286fcf618efb49a210aa22d575a3cba032d649b81b6d2c6c662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libgravatar-24.04.90.tar.xz">libgravatar-24.04.90</a></td>
   <td align="right">36kB</td>
   <td><tt>860f9716f4ef8b1bc401e215d5a816613c2d83f57a009314aec9a874edad0bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkcddb-24.04.90.tar.xz">libkcddb-24.04.90</a></td>
   <td align="right">438kB</td>
   <td><tt>34d7460e646a3d201f5a9370cbb20be8eccc2fa92f60ed68fd69886daf077196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkcompactdisc-24.04.90.tar.xz">libkcompactdisc-24.04.90</a></td>
   <td align="right">97kB</td>
   <td><tt>aadcb954467f95c491ad98bde8425d6b303d097c1dda0d51176ea5de1fcbe0bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkdcraw-24.04.90.tar.xz">libkdcraw-24.04.90</a></td>
   <td align="right">36kB</td>
   <td><tt>390e31af01300d810c0342d8168a36cd2bf80cac0a31cb1a0e8c4fd30f067593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkdegames-24.04.90.tar.xz">libkdegames-24.04.90</a></td>
   <td align="right">5831kB</td>
   <td><tt>95c458ec1ed7fec7e42a0a021fdf077afc4b9a1f910c0644251fd2586207b228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkdepim-24.04.90.tar.xz">libkdepim-24.04.90</a></td>
   <td align="right">275kB</td>
   <td><tt>6f12b780472a3a832f25137aca25993f036588042c3271301998e4569e57a8e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkeduvocdocument-24.04.90.tar.xz">libkeduvocdocument-24.04.90</a></td>
   <td align="right">222kB</td>
   <td><tt>9d655b2702aa721c894b0e7ed9b3ffd09534f7101a04c1a352f85fe8343ce742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkexiv2-24.04.90.tar.xz">libkexiv2-24.04.90</a></td>
   <td align="right">59kB</td>
   <td><tt>0b3c4d5c8d10bed429df20771c6ec27f086e99785d47f33d409a700aeed9400a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkgapi-24.04.90.tar.xz">libkgapi-24.04.90</a></td>
   <td align="right">331kB</td>
   <td><tt>95fda5dd016c444bba236de4949017f63f6a434c12f9b98be7ce5ff6e2dbf72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkipi-24.04.90.tar.xz">libkipi-24.04.90</a></td>
   <td align="right">86kB</td>
   <td><tt>d7556cd0f2f621447758aa9a36346f459c3a2e77a7524ff6840eb5409b1624e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkleo-24.04.90.tar.xz">libkleo-24.04.90</a></td>
   <td align="right">572kB</td>
   <td><tt>db5193c805b1ff99c3430a3dd6caee70e51a819e05efecb5feb939af715a5024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkmahjongg-24.04.90.tar.xz">libkmahjongg-24.04.90</a></td>
   <td align="right">1653kB</td>
   <td><tt>23bf2f5a22bc516beeb6cce9187e6cf20f09a7b19c441fcff025904e6209063a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libkomparediff2-24.04.90.tar.xz">libkomparediff2-24.04.90</a></td>
   <td align="right">184kB</td>
   <td><tt>32305390def52bf640b6e82f40942d29e2e30779e0cd0faeaee4af2d904961d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libksane-24.04.90.tar.xz">libksane-24.04.90</a></td>
   <td align="right">149kB</td>
   <td><tt>74d20c47bd3f0a3e845b212e80a6aa62f55264891843f9a4fae158819e56989d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libksieve-24.04.90.tar.xz">libksieve-24.04.90</a></td>
   <td align="right">571kB</td>
   <td><tt>7da151456a5a84b09a8525a236710f039000056f7feee91e534d18a8248f9498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/libktorrent-24.04.90.tar.xz">libktorrent-24.04.90</a></td>
   <td align="right">591kB</td>
   <td><tt>915908d908f244c2c824ad3e6d5f773252ec0b5e2537d54b8b53f6677957ba3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/lokalize-24.04.90.tar.xz">lokalize-24.04.90</a></td>
   <td align="right">2027kB</td>
   <td><tt>18eec9dfc9ada6c49d6325d7d95e80b8efe735beb684e37f498b284c06cdfc26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/lskat-24.04.90.tar.xz">lskat-24.04.90</a></td>
   <td align="right">1191kB</td>
   <td><tt>81d5173cb1e222b78d6b76158a1174f63bde09839d7257a955b4c4f919b82a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/mailcommon-24.04.90.tar.xz">mailcommon-24.04.90</a></td>
   <td align="right">754kB</td>
   <td><tt>81d1d6f5ec9ac32b21ad70e902892277a3efd5b89d7c78172e6aa5ece21c6d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/mailimporter-24.04.90.tar.xz">mailimporter-24.04.90</a></td>
   <td align="right">581kB</td>
   <td><tt>704cbcf70ea0a63b83242155216f7f4041e77276b214b909df57f350ba77786e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/marble-24.04.90.tar.xz">marble-24.04.90</a></td>
   <td align="right">51217kB</td>
   <td><tt>761a6aa83e30fb1d38b919233e03d7212747cca5aafeb218faaf664a882b933f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/markdownpart-24.04.90.tar.xz">markdownpart-24.04.90</a></td>
   <td align="right">33kB</td>
   <td><tt>1d9ff233efd16b6179e05a39f7d38b035e324b69762ea7f3001f62b5eb7aea2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/mbox-importer-24.04.90.tar.xz">mbox-importer-24.04.90</a></td>
   <td align="right">30kB</td>
   <td><tt>83427ed38586d437f828276e34ea60ff23daf8b8b263bd0812e54d0e5b925247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/merkuro-24.04.90.tar.xz">merkuro-24.04.90</a></td>
   <td align="right">730kB</td>
   <td><tt>fc01129b4b7fdd71ab536ee01d3ed86584ca2276adab5bdc306030aec1b5e3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/messagelib-24.04.90.tar.xz">messagelib-24.04.90</a></td>
   <td align="right">11059kB</td>
   <td><tt>ba11777491334c575ba5b55bca4b1d975697cb32f6b1e87b236ace34cffcfe41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/mimetreeparser-24.04.90.tar.xz">mimetreeparser-24.04.90</a></td>
   <td align="right">624kB</td>
   <td><tt>b1fd626bee8922c0a090aa69aa35cd8b505ba7ede02ffaa55b996436568b1453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/minuet-24.04.90.tar.xz">minuet-24.04.90</a></td>
   <td align="right">27040kB</td>
   <td><tt>38994e963e56d1504cf46130eadbd29efdeadfe388e421a2a6ed3bfebee0e90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/neochat-24.04.90.tar.xz">neochat-24.04.90</a></td>
   <td align="right">953kB</td>
   <td><tt>fa91799ccc82b611283866e4a5533cdc68151b9dc61a6b9ce99d2ff38d8e2b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/okular-24.04.90.tar.xz">okular-24.04.90</a></td>
   <td align="right">7829kB</td>
   <td><tt>307bde281a6fd8d55d34df7fa195ea2e680c2b7352a74fa02491fe7967e480b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/palapeli-24.04.90.tar.xz">palapeli-24.04.90</a></td>
   <td align="right">2065kB</td>
   <td><tt>0b87fcb12cfa4c46428cd9a6f49cc2f7a751ea2f6a5575f72be4d7866258458a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/parley-24.04.90.tar.xz">parley-24.04.90</a></td>
   <td align="right">8223kB</td>
   <td><tt>94f55a0464fcff066a6fc996dc2101b7d1832d206b42986d041f13a5523bb358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/partitionmanager-24.04.90.tar.xz">partitionmanager-24.04.90</a></td>
   <td align="right">2259kB</td>
   <td><tt>d1c4ab009ddc7dd4ceaadda8fdf9b9a19c1d88f5ef17f5f7cdd3a29ce47a1935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/picmi-24.04.90.tar.xz">picmi-24.04.90</a></td>
   <td align="right">1479kB</td>
   <td><tt>8a2892e6594b50a43aa1bd9607b3a9fa332ee051015b87c7000b2d7b9a356cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/pimcommon-24.04.90.tar.xz">pimcommon-24.04.90</a></td>
   <td align="right">340kB</td>
   <td><tt>24fc9008df9193934a56091e83b921c381ce6b2f2ad233812f8ca94b0c851d72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/pim-data-exporter-24.04.90.tar.xz">pim-data-exporter-24.04.90</a></td>
   <td align="right">411kB</td>
   <td><tt>f3975a41b0ae7da15aa6fac5bb455b20e86917011e53fdf469ff144b80537dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/pim-sieve-editor-24.04.90.tar.xz">pim-sieve-editor-24.04.90</a></td>
   <td align="right">453kB</td>
   <td><tt>7c72b0e852a578756e27bf0c7e5f5fe8242a567104d84862dd4f4a52252bcb42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/plasmatube-24.04.90.tar.xz">plasmatube-24.04.90</a></td>
   <td align="right">187kB</td>
   <td><tt>d0fb0ed593302e27458ec6da093861f0f63a2f49b32861b0be7550b0ecbad262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/poxml-24.04.90.tar.xz">poxml-24.04.90</a></td>
   <td align="right">43kB</td>
   <td><tt>ea1684fa11168eb8eeb04b67d00c5044d41522372f8d6ede57a4fba644335628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/qmlkonsole-24.04.90.tar.xz">qmlkonsole-24.04.90</a></td>
   <td align="right">190kB</td>
   <td><tt>51878d4a2f8b511e6efbc4fab046268f9c0c8471a6509dc03a1da45a0cc7c96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/rocs-24.04.90.tar.xz">rocs-24.04.90</a></td>
   <td align="right">1529kB</td>
   <td><tt>4ae894fac15896ac7b72963e98d316f1a98a55beb0912d2bcb191edaa5e7b376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/signon-kwallet-extension-24.04.90.tar.xz">signon-kwallet-extension-24.04.90</a></td>
   <td align="right">11kB</td>
   <td><tt>eec99e5f45db061e172f5d6237532b2f0a54615b50e15e9afc6911671942b1c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/skanlite-24.04.90.tar.xz">skanlite-24.04.90</a></td>
   <td align="right">2327kB</td>
   <td><tt>ba962a513811fe01560230e1772fdd5dfddee6489073831b3cec664c231687ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/skanpage-24.04.90.tar.xz">skanpage-24.04.90</a></td>
   <td align="right">1300kB</td>
   <td><tt>ecfcd681633c1f3488691c563df3029b7afac17428892ef235c9fb5cdbcec804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/skladnik-24.04.90.tar.xz">skladnik-24.04.90</a></td>
   <td align="right">398kB</td>
   <td><tt>034c6501c3efa040c81356d111bed8490a5101548e57ea1a957cf6ba42e0fc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/spectacle-24.04.90.tar.xz">spectacle-24.04.90</a></td>
   <td align="right">1322kB</td>
   <td><tt>8b5f9d2ce0deab960a83ffccb8930f735730ea202077c872c161be8f63075b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/step-24.04.90.tar.xz">step-24.04.90</a></td>
   <td align="right">960kB</td>
   <td><tt>099739cfd0302dc2310a23797316c438e09069f3012320af3ee3c39cc5c40a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/svgpart-24.04.90.tar.xz">svgpart-24.04.90</a></td>
   <td align="right">29kB</td>
   <td><tt>076168129646954ee45a9840b57adcd96ae9812af0f383e0345a6a6ad50874a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/sweeper-24.04.90.tar.xz">sweeper-24.04.90</a></td>
   <td align="right">373kB</td>
   <td><tt>3d4e82d07e4d4f7f2beed09adb47ab06357f7a09da616eb019f2e4208b09d94a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/telly-skout-24.04.90.tar.xz">telly-skout-24.04.90</a></td>
   <td align="right">99kB</td>
   <td><tt>35e25d16d7e75e1d3147b8d9d1f7bb4791b5535f710b30e46560ee99f34fcdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/tokodon-24.04.90.tar.xz">tokodon-24.04.90</a></td>
   <td align="right">522kB</td>
   <td><tt>eb3b6525caaeae91e4ecb876110939f5c29b9a15248ac1be1468a5a59582dac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/umbrello-24.04.90.tar.xz">umbrello-24.04.90</a></td>
   <td align="right">5483kB</td>
   <td><tt>a8b7cc5b1f06b0cc66819f7eb3e199c8e73f4cd71141914719f9d36c3da9e578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/yakuake-24.04.90.tar.xz">yakuake-24.04.90</a></td>
   <td align="right">369kB</td>
   <td><tt>978abce70e55edc88a018a16e06197368e40858150d8f0b18c25690ac9c9e23c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.90/src/zanshin-24.04.90.tar.xz">zanshin-24.04.90</a></td>
   <td align="right">365kB</td>
   <td><tt>18d9c76830b868642a3dde0de4568ab3ed329bb26ea9a82d5b389c17df897dda</tt></td>
</tr>

</table>
