<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/bluedevil-6.2.3.tar.xz">bluedevil-6.2.3</a></td>
   <td align="right">379kB</td>
   <td><tt>8040b6d64883f300e4b009ba662443cb46b7ea26aea7127b72236ae7a3f191bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/breeze-6.2.3.tar.xz">breeze-6.2.3</a></td>
   <td align="right">105MB</td>
   <td><tt>508cedd9796a4bb2e3c115a2f556719d6e62603206463476397929504fa11aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/breeze-grub-6.2.3.tar.xz">breeze-grub-6.2.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9fe230df46c4a9512795ba0fd65ef3d3281e7b6a3099676a638b36d1819544b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/breeze-gtk-6.2.3.tar.xz">breeze-gtk-6.2.3</a></td>
   <td align="right">39kB</td>
   <td><tt>3c59b2f6059b6661ef1feb74e59ad305bad391d692b30d7d3b1e0d91c412c6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/breeze-plymouth-6.2.3.tar.xz">breeze-plymouth-6.2.3</a></td>
   <td align="right">108kB</td>
   <td><tt>8516a82d96104746a6f3398f3f1f15b02915c446ee1bfd744e3f70bbcda51622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/discover-6.2.3.tar.xz">discover-6.2.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6df2de75e9de8bfcba55aee7a1ceb8dbbf0fab3b018a59183fbcafbab2fb22ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/drkonqi-6.2.3.tar.xz">drkonqi-6.2.3</a></td>
   <td align="right">862kB</td>
   <td><tt>dc14e0c54885e809f9f6e282532aea157f90a37f428d54f2f70b3759a38d25e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/flatpak-kcm-6.2.3.tar.xz">flatpak-kcm-6.2.3</a></td>
   <td align="right">241kB</td>
   <td><tt>6c547e4a85f6b78b762ae60d59e9198b014edf0dfec1da335bcb6237fcf786b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kactivitymanagerd-6.2.3.tar.xz">kactivitymanagerd-6.2.3</a></td>
   <td align="right">104kB</td>
   <td><tt>4abefaf6281a47555327692e7120aa635325cc20ae8687ceb9eb3ae3b02d0d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kde-cli-tools-6.2.3.tar.xz">kde-cli-tools-6.2.3</a></td>
   <td align="right">623kB</td>
   <td><tt>4c57df7bcfd21e69c5685d727b3aa2e428bdfee1b9901e8f1d87a215d126f2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kdecoration-6.2.3.tar.xz">kdecoration-6.2.3</a></td>
   <td align="right">53kB</td>
   <td><tt>49637726e0c347674f2a0248408e4c5eb37b5e35f99e11343b7338b8c358c063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kde-gtk-config-6.2.3.tar.xz">kde-gtk-config-6.2.3</a></td>
   <td align="right">77kB</td>
   <td><tt>2e98850c9889c3a8ec77679b88733059ea2b182ea56c82b70713b6673ee58cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kdeplasma-addons-6.2.3.tar.xz">kdeplasma-addons-6.2.3</a></td>
   <td align="right">881kB</td>
   <td><tt>7c6fea28c407c67cf67460384f472014ddb47694063c45a08eeffd3fc3b1f0f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kgamma-6.2.3.tar.xz">kgamma-6.2.3</a></td>
   <td align="right">85kB</td>
   <td><tt>d5a7de9a24ef3105d3f3b1eb208320e48a7c0f57552b16fc16e6871a63093a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kglobalacceld-6.2.3.tar.xz">kglobalacceld-6.2.3</a></td>
   <td align="right">54kB</td>
   <td><tt>d9ecb9393f1aac5aa747a2418a68df7af3a6fee0d9b756b3a9b4c97d3ab6dea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kinfocenter-6.2.3.tar.xz">kinfocenter-6.2.3</a></td>
   <td align="right">714kB</td>
   <td><tt>897ed12aac54bf9ccdc3deba549009dd483ab1117839a382ebf022a1e9accca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kmenuedit-6.2.3.tar.xz">kmenuedit-6.2.3</a></td>
   <td align="right">856kB</td>
   <td><tt>1afbec30f5bcabfa079739a5c06b91e0e4ecaffba1d6952969aba8f44ba20c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kpipewire-6.2.3.tar.xz">kpipewire-6.2.3</a></td>
   <td align="right">146kB</td>
   <td><tt>bb473f15b4d4f59479cbbaba6ef781d9bc48813b97c35edfb3982d0ac8f030f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/krdp-6.2.3.tar.xz">krdp-6.2.3</a></td>
   <td align="right">91kB</td>
   <td><tt>11f7c3319a9eb4d9b6b3d54dd8beb4e68cc81788e013835ce6b27653b2afc7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kscreen-6.2.3.tar.xz">kscreen-6.2.3</a></td>
   <td align="right">206kB</td>
   <td><tt>7289b1959ee267157f9b6cfe78fd7ffae18133ca6a949f482d2251559bb93969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kscreenlocker-6.2.3.tar.xz">kscreenlocker-6.2.3</a></td>
   <td align="right">177kB</td>
   <td><tt>1438c8bdbd8e098ecc5a0f6da205e6fae525401d9cf13d279f55faf713d1e54f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/ksshaskpass-6.2.3.tar.xz">ksshaskpass-6.2.3</a></td>
   <td align="right">29kB</td>
   <td><tt>18721985e4f628a9d2a3ca88c6ac41fa52d992d129bdc6cdde7d4140b21b901b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/ksystemstats-6.2.3.tar.xz">ksystemstats-6.2.3</a></td>
   <td align="right">140kB</td>
   <td><tt>5bd43a1fdbf08c49554db22b91976b198412a5e000e109d01075bd25e606141a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kwallet-pam-6.2.3.tar.xz">kwallet-pam-6.2.3</a></td>
   <td align="right">21kB</td>
   <td><tt>ac44d47222b440d14cdf8662990ecdce578e8f65475ef6759a4c7b9d585149ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kwayland-6.2.3.tar.xz">kwayland-6.2.3</a></td>
   <td align="right">130kB</td>
   <td><tt>0fd539d0428387a4f24ffaacca1d2a51412d4c2adc41196d0ede956502bb2fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kwayland-integration-6.2.3.tar.xz">kwayland-integration-6.2.3</a></td>
   <td align="right">25kB</td>
   <td><tt>f500c3036426baa70f94eeb38087cca1b104f1cb7c2ac240651ba896dea14c2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kwin-6.2.3.tar.xz">kwin-6.2.3</a></td>
   <td align="right">8.1MB</td>
   <td><tt>eba20a395299af2358fe0ba1d6216c00480ecddcc9d4452f77f7a60c1e78f101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/kwrited-6.2.3.tar.xz">kwrited-6.2.3</a></td>
   <td align="right">23kB</td>
   <td><tt>7f02f73f24109ac7bc0ee61b61affdceda18c61f0e9168a43c6fc11ea6e761be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/layer-shell-qt-6.2.3.tar.xz">layer-shell-qt-6.2.3</a></td>
   <td align="right">35kB</td>
   <td><tt>00941fedfc5420f65d6be24704b5cc2f07f5971f5b7c00145668cedc73651e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/libkscreen-6.2.3.tar.xz">libkscreen-6.2.3</a></td>
   <td align="right">116kB</td>
   <td><tt>a79e0675944b4b69713e86f2cfe3c977757d44f24f193f311aa542e9382f2238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/libksysguard-6.2.3.tar.xz">libksysguard-6.2.3</a></td>
   <td align="right">307kB</td>
   <td><tt>ae7b157dccacfe8570d5494e05058a239860e5f02b8dcb3a3b922948da390935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/libplasma-6.2.3.tar.xz">libplasma-6.2.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2e85f3245c10b80c841985c4479fa8f45f88f4af01a6b8053fd0b7db8a9c58ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/milou-6.2.3.tar.xz">milou-6.2.3</a></td>
   <td align="right">48kB</td>
   <td><tt>371186de203e6b528d9b5d99cad7ec3cd5ef5e67bda9624d06c4385af3290257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/ocean-sound-theme-6.2.3.tar.xz">ocean-sound-theme-6.2.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>eceb27621543cdc1824051d9c340ea03038afc8bf45c10feee8cddd5ac8807d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/oxygen-6.2.3.tar.xz">oxygen-6.2.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>2d87549b2573e1b0de0db151167b9b8be904677fb351d01b5387b8d995fecfbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/oxygen-sounds-6.2.3.tar.xz">oxygen-sounds-6.2.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a6c94d2c31f4e5904124102029c18560ee34d821be9d5927fd6f401ca5b10e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma5support-6.2.3.tar.xz">plasma5support-6.2.3</a></td>
   <td align="right">186kB</td>
   <td><tt>c4eecdb5fe52a969288c63c3545019ab2d2ef404b552d719e60ffa763166f0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-activities-6.2.3.tar.xz">plasma-activities-6.2.3</a></td>
   <td align="right">65kB</td>
   <td><tt>a62ef8d45deb934c017faabcd3abac7b6adf3c7ad479196d3b0f87f37db38847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-activities-stats-6.2.3.tar.xz">plasma-activities-stats-6.2.3</a></td>
   <td align="right">81kB</td>
   <td><tt>5bed46c860f53708d3de6830f4cd5544720d1851c00741123e8851ee2dbe7efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-browser-integration-6.2.3.tar.xz">plasma-browser-integration-6.2.3</a></td>
   <td align="right">217kB</td>
   <td><tt>fece70a306d43a215f37c9476d8318d5b3db05065299cca598613ad0208c34f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-desktop-6.2.3.tar.xz">plasma-desktop-6.2.3</a></td>
   <td align="right">15MB</td>
   <td><tt>621ef18e65d75378320881c0c5d4866f390320b0b2abafebcb33d7546168632a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-dialer-6.2.3.tar.xz">plasma-dialer-6.2.3</a></td>
   <td align="right">122kB</td>
   <td><tt>524cf41d4b7b48aec67a75b50ef0b1487da521d59fc875e93f880298811b5021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-disks-6.2.3.tar.xz">plasma-disks-6.2.3</a></td>
   <td align="right">100kB</td>
   <td><tt>b45b449ba6b395772c3e41eb2b1f1ce171f4f8a30529e9ec8613141a4f481cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-firewall-6.2.3.tar.xz">plasma-firewall-6.2.3</a></td>
   <td align="right">367kB</td>
   <td><tt>c7ba18e7fdd0ed72bc06ae5825e9e0569978d8d7fa5d4e23fe990be8163267fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-integration-6.2.3.tar.xz">plasma-integration-6.2.3</a></td>
   <td align="right">93kB</td>
   <td><tt>bf43e492ef419de1e71cb2dcaffc96793d454c08f3d2fe4b1a0fedaaa9ccbb7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-mobile-6.2.3.tar.xz">plasma-mobile-6.2.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>3266b5d301cd985ff6cda204666f359b9896b0779a2fe07867c44f4514053244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-nano-6.2.3.tar.xz">plasma-nano-6.2.3</a></td>
   <td align="right">71kB</td>
   <td><tt>a095fd9c285a7e9b8f47cd37b4e009dcd63b1ae04c0a8bd661cc78466a553927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-nm-6.2.3.tar.xz">plasma-nm-6.2.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1038429cb6b5df97b8aee75771e051d3813eadbbc480f2b4f23f225d11ed9c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-pa-6.2.3.tar.xz">plasma-pa-6.2.3</a></td>
   <td align="right">180kB</td>
   <td><tt>00ec810cc258cc38d8602f5373be773c12474fbdef4a3ca2fd96a078e8e93b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-sdk-6.2.3.tar.xz">plasma-sdk-6.2.3</a></td>
   <td align="right">341kB</td>
   <td><tt>f2bec0c9001aae0276017bbbf765925643c2a2112abc177553ad1c4a8b17d2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-systemmonitor-6.2.3.tar.xz">plasma-systemmonitor-6.2.3</a></td>
   <td align="right">192kB</td>
   <td><tt>12d9c698d37535c1c4c68bed15e8da13d7ea4636fa0c949fedd22c388eb73fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-thunderbolt-6.2.3.tar.xz">plasma-thunderbolt-6.2.3</a></td>
   <td align="right">78kB</td>
   <td><tt>cb1b094c4afb535cca14a98f31592d9b4e528b785efb1987313b07a76c4dd9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-vault-6.2.3.tar.xz">plasma-vault-6.2.3</a></td>
   <td align="right">196kB</td>
   <td><tt>e7fb83b2292343cc5447b7826171330ea727b0f4413914f3f54e6d2c281f5154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-welcome-6.2.3.tar.xz">plasma-welcome-6.2.3</a></td>
   <td align="right">675kB</td>
   <td><tt>a68492986007906e06114dda72f2d30157061991c1af27743ed69694a8bcebdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-workspace-6.2.3.tar.xz">plasma-workspace-6.2.3</a></td>
   <td align="right">18MB</td>
   <td><tt>9f68007bcdca70157d93fa1c1e925bffd87b21d2b71005d2a50f8a6f27dd5998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plasma-workspace-wallpapers-6.2.3.tar.xz">plasma-workspace-wallpapers-6.2.3</a></td>
   <td align="right">106MB</td>
   <td><tt>a6f61fd02b2779873d4d35dec05887c15ecd51da34bcb1cba12e62be7b143ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/plymouth-kcm-6.2.3.tar.xz">plymouth-kcm-6.2.3</a></td>
   <td align="right">46kB</td>
   <td><tt>a11b970e31f2adbaff8c75a6f54882a9d9505c98333e1d5a4bf8554a77ff40d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/polkit-kde-agent-1-6.2.3.tar.xz">polkit-kde-agent-1-6.2.3</a></td>
   <td align="right">55kB</td>
   <td><tt>ef55d0db98d2cf9de243c07c95347f4f72e752a93ff46f2568fb2337432d8b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/powerdevil-6.2.3.tar.xz">powerdevil-6.2.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>54cf3e3d0bc2fa3578af901eb7b7e2e568fb59f0b701caeeef7017e559541ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/print-manager-6.2.3.tar.xz">print-manager-6.2.3</a></td>
   <td align="right">366kB</td>
   <td><tt>44ac8ec583b986cdbb786e40c5347d7f63826e77ce210f8b2161c79300eb81d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/qqc2-breeze-style-6.2.3.tar.xz">qqc2-breeze-style-6.2.3</a></td>
   <td align="right">64kB</td>
   <td><tt>dcb2473ca60b1db9c6b81778eb31e13c5980ffc11d6e6a2048ca2ee4f2b9d952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/sddm-kcm-6.2.3.tar.xz">sddm-kcm-6.2.3</a></td>
   <td align="right">98kB</td>
   <td><tt>9a9cc3e3a9f1340025d1433d7fe3bee47971d399067692fe27261faddd8b5d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/spacebar-6.2.3.tar.xz">spacebar-6.2.3</a></td>
   <td align="right">125kB</td>
   <td><tt>9f4cfc682a785b6d66f02fbcbcb415acd535eb45ee927812731a0f0c20a23fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/systemsettings-6.2.3.tar.xz">systemsettings-6.2.3</a></td>
   <td align="right">213kB</td>
   <td><tt>44f0050fc9c54788db6908bdfbc9f9a3b1d1ab18763ab0907d0815d163d7c13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/wacomtablet-6.2.3.tar.xz">wacomtablet-6.2.3</a></td>
   <td align="right">814kB</td>
   <td><tt>a681bc938e658d3ac1bf3723bdcb51bd91e4d8188e8749d10f3a0f16f5a505bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.3/xdg-desktop-portal-kde-6.2.3.tar.xz">xdg-desktop-portal-kde-6.2.3</a></td>
   <td align="right">175kB</td>
   <td><tt>5f2ad108c4206b96b48760ef093deb7b935185836c5cce77a33e49caf3dd74da</tt></td>
</tr>

</table>
