
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/attica-5.61.0.tar.xz">attica-5.61.0</a></td>
   <td align="right">61kB</td>
   <td><tt>6be140c4c54eef96a611b27701a1ff5d01894dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/baloo-5.61.0.tar.xz">baloo-5.61.0</a></td>
   <td align="right">263kB</td>
   <td><tt>57aa80df3b02273247c74c085840ca8596eeff43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/bluez-qt-5.61.0.tar.xz">bluez-qt-5.61.0</a></td>
   <td align="right">96kB</td>
   <td><tt>d2086374b87c7de7a0083bfdb1c9a1513b711e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/breeze-icons-5.61.0.tar.xz">breeze-icons-5.61.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>73c701b669503d1587e2198b9651d3210f854c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/extra-cmake-modules-5.61.0.tar.xz">extra-cmake-modules-5.61.0</a></td>
   <td align="right">319kB</td>
   <td><tt>75ec03fdb9c3a94fd4f2c0aff7e3adf87f340e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/frameworkintegration-5.61.0.tar.xz">frameworkintegration-5.61.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>88ead0a5376a3dd4c0ad8f77fbbeac3fe425572d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kactivities-5.61.0.tar.xz">kactivities-5.61.0</a></td>
   <td align="right">60kB</td>
   <td><tt>fdeaf80ecf305d0cb58329dac95f653caef7aebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kactivities-stats-5.61.0.tar.xz">kactivities-stats-5.61.0</a></td>
   <td align="right">60kB</td>
   <td><tt>223c6e8c9ecde49f7a731cb476f385698e0a62a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kapidox-5.61.0.tar.xz">kapidox-5.61.0</a></td>
   <td align="right">387kB</td>
   <td><tt>17b8f4dac2b3466405c8f92ad67e38faaf6ea869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/karchive-5.61.0.tar.xz">karchive-5.61.0</a></td>
   <td align="right">447kB</td>
   <td><tt>db1f46c169d1ffe3e3283d5b532806b797d4264e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kauth-5.61.0.tar.xz">kauth-5.61.0</a></td>
   <td align="right">83kB</td>
   <td><tt>d8b6a2f2f0134276087bda9e9a416037b6cb059b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kbookmarks-5.61.0.tar.xz">kbookmarks-5.61.0</a></td>
   <td align="right">117kB</td>
   <td><tt>fcfff4911d691b0f3f0c9505fe8af15d4ca8e67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kcmutils-5.61.0.tar.xz">kcmutils-5.61.0</a></td>
   <td align="right">232kB</td>
   <td><tt>db0b6d3e1be9cdb54df63bf33a0ba3561cc9f3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kcodecs-5.61.0.tar.xz">kcodecs-5.61.0</a></td>
   <td align="right">215kB</td>
   <td><tt>fc07fb2cd9a7d4daa4417a81edb5fb6b55d313f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kcompletion-5.61.0.tar.xz">kcompletion-5.61.0</a></td>
   <td align="right">112kB</td>
   <td><tt>de118c2895934f89d32d90dd68d061edc2352b68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kconfig-5.61.0.tar.xz">kconfig-5.61.0</a></td>
   <td align="right">234kB</td>
   <td><tt>221a29b8ef3da9d8813987312ebaab27d4c4c6a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kconfigwidgets-5.61.0.tar.xz">kconfigwidgets-5.61.0</a></td>
   <td align="right">368kB</td>
   <td><tt>7e1bf40fa1866bde196691838d968dbff4fe4c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kcoreaddons-5.61.0.tar.xz">kcoreaddons-5.61.0</a></td>
   <td align="right">359kB</td>
   <td><tt>21a04fcddaa8f036e575d630b264ab8daf265916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kcrash-5.61.0.tar.xz">kcrash-5.61.0</a></td>
   <td align="right">22kB</td>
   <td><tt>f03f1573227510430315a6fb2cf510251803dc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdbusaddons-5.61.0.tar.xz">kdbusaddons-5.61.0</a></td>
   <td align="right">36kB</td>
   <td><tt>a5165ddf61fff4408e6c23ae598c63a4f7704f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdeclarative-5.61.0.tar.xz">kdeclarative-5.61.0</a></td>
   <td align="right">170kB</td>
   <td><tt>6dcfc8dbca0e9fdf3606e3d4c1437e23972fec2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kded-5.61.0.tar.xz">kded-5.61.0</a></td>
   <td align="right">37kB</td>
   <td><tt>8545e3f55a2afcab8a976322ab07b50ae22cb8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdesignerplugin-5.61.0.tar.xz">kdesignerplugin-5.61.0</a></td>
   <td align="right">88kB</td>
   <td><tt>802cb2db72889c49266d6841896291c349e1300d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdesu-5.61.0.tar.xz">kdesu-5.61.0</a></td>
   <td align="right">45kB</td>
   <td><tt>7b144561dbf7c640f3d28b4811d8fef4eb542a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdnssd-5.61.0.tar.xz">kdnssd-5.61.0</a></td>
   <td align="right">56kB</td>
   <td><tt>cfe6fe09c72dceeba1af9395d7c5d30b9128d856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kdoctools-5.61.0.tar.xz">kdoctools-5.61.0</a></td>
   <td align="right">418kB</td>
   <td><tt>f1f067aee10469e7c6ba52b8021291da8f20b142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kemoticons-5.61.0.tar.xz">kemoticons-5.61.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a8feb7732d90043e77a4c5e5fc2fab68a52d089c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kfilemetadata-5.61.0.tar.xz">kfilemetadata-5.61.0</a></td>
   <td align="right">406kB</td>
   <td><tt>5b9480ec4a014a3ef252968f1de25786f62cf367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kglobalaccel-5.61.0.tar.xz">kglobalaccel-5.61.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b7caaf39ba0864bade79247565b0c17906ed6d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kguiaddons-5.61.0.tar.xz">kguiaddons-5.61.0</a></td>
   <td align="right">39kB</td>
   <td><tt>8fe7358213abb29c67cae471f09ede886971fccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kholidays-5.61.0.tar.xz">kholidays-5.61.0</a></td>
   <td align="right">199kB</td>
   <td><tt>f6c1c924fba44621960145baf9c8fe5f0416fac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/ki18n-5.61.0.tar.xz">ki18n-5.61.0</a></td>
   <td align="right">570kB</td>
   <td><tt>14a2c896769a5437b74291aaa71f409d51f0fea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kiconthemes-5.61.0.tar.xz">kiconthemes-5.61.0</a></td>
   <td align="right">202kB</td>
   <td><tt>06710b8a21bf54824f5f847411688f06ee5431e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kidletime-5.61.0.tar.xz">kidletime-5.61.0</a></td>
   <td align="right">26kB</td>
   <td><tt>d7c14f07461725aebc8cf158f009431fa2ac1805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kimageformats-5.61.0.tar.xz">kimageformats-5.61.0</a></td>
   <td align="right">199kB</td>
   <td><tt>8bc26002755f5aeda0b2c3d6f297d7e3217de6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kinit-5.61.0.tar.xz">kinit-5.61.0</a></td>
   <td align="right">117kB</td>
   <td><tt>496b0a117604cbc5f414fd75c9e4b1393c5d84bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kio-5.61.0.tar.xz">kio-5.61.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ac7e40a8905c13318a4fd4be2110806f7b243994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kirigami2-5.61.0.tar.xz">kirigami2-5.61.0</a></td>
   <td align="right">139kB</td>
   <td><tt>140141b725c3e29860dca82decb864dec60919d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kitemmodels-5.61.0.tar.xz">kitemmodels-5.61.0</a></td>
   <td align="right">380kB</td>
   <td><tt>ba5eeaa5bf854fdc943549d8d463d35aa6a55095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kitemviews-5.61.0.tar.xz">kitemviews-5.61.0</a></td>
   <td align="right">73kB</td>
   <td><tt>a2d00f195560446147c84f6956b7f83cb0e87ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kjobwidgets-5.61.0.tar.xz">kjobwidgets-5.61.0</a></td>
   <td align="right">85kB</td>
   <td><tt>bb4dfa7771a6509b3a1b538590f13c3aa0adcf3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/knewstuff-5.61.0.tar.xz">knewstuff-5.61.0</a></td>
   <td align="right">987kB</td>
   <td><tt>134ecdaa010694b5d0f4c77cd273137323e41276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/knotifications-5.61.0.tar.xz">knotifications-5.61.0</a></td>
   <td align="right">111kB</td>
   <td><tt>1a9e8f7aa559a9a5ef434428e551ad449776ead0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/knotifyconfig-5.61.0.tar.xz">knotifyconfig-5.61.0</a></td>
   <td align="right">82kB</td>
   <td><tt>feec40ecf3d3267e3503ee52650004e28b939f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kpackage-5.61.0.tar.xz">kpackage-5.61.0</a></td>
   <td align="right">129kB</td>
   <td><tt>57751e95b4502ae9e5f43d9fa8210f83774a4c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kparts-5.61.0.tar.xz">kparts-5.61.0</a></td>
   <td align="right">172kB</td>
   <td><tt>131157a5954a7099f18e208115110a28259a8ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kpeople-5.61.0.tar.xz">kpeople-5.61.0</a></td>
   <td align="right">59kB</td>
   <td><tt>cae5c143a4776472f3c1bc404e1a678fb2afc033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kplotting-5.61.0.tar.xz">kplotting-5.61.0</a></td>
   <td align="right">29kB</td>
   <td><tt>c018d553bd5e094f7c226ba986d86a3a2021a794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kpty-5.61.0.tar.xz">kpty-5.61.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0bba58f4b7d45f8268fa080775b8f6eae4e2ff40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/krunner-5.61.0.tar.xz">krunner-5.61.0</a></td>
   <td align="right">60kB</td>
   <td><tt>6b83b36c993d4b1f931cb7235a9c8d4a2487e83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kservice-5.61.0.tar.xz">kservice-5.61.0</a></td>
   <td align="right">243kB</td>
   <td><tt>0685698d20e658ffc6f67411207ec9433048b3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/ktexteditor-5.61.0.tar.xz">ktexteditor-5.61.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2ec6e673a2d7c09b17f2d9f2998e43b1537b1827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/ktextwidgets-5.61.0.tar.xz">ktextwidgets-5.61.0</a></td>
   <td align="right">300kB</td>
   <td><tt>5e8e8973d34d6af895d043bc90a287ad325da7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kunitconversion-5.61.0.tar.xz">kunitconversion-5.61.0</a></td>
   <td align="right">806kB</td>
   <td><tt>5726eebecaca7ae9b2b13dcb655659d9d4d7edac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kwallet-5.61.0.tar.xz">kwallet-5.61.0</a></td>
   <td align="right">283kB</td>
   <td><tt>92a0696e65b110894d5f19bb018d81326ada0e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kwayland-5.61.0.tar.xz">kwayland-5.61.0</a></td>
   <td align="right">322kB</td>
   <td><tt>5c8aabdcec012484d6b41cf6bcd4be336eb19cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kwidgetsaddons-5.61.0.tar.xz">kwidgetsaddons-5.61.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4080fb92661db834a37e0be5520e79fd412ba49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kwindowsystem-5.61.0.tar.xz">kwindowsystem-5.61.0</a></td>
   <td align="right">166kB</td>
   <td><tt>2bb574765563babfc94fc8ad3dbb660795dcfa6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kxmlgui-5.61.0.tar.xz">kxmlgui-5.61.0</a></td>
   <td align="right">851kB</td>
   <td><tt>95eca57afe36dceba652b00a42c5f7d12e79e544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/kxmlrpcclient-5.61.0.tar.xz">kxmlrpcclient-5.61.0</a></td>
   <td align="right">28kB</td>
   <td><tt>21a9338e2af443e8083f7539ef945f39fed6e92f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/modemmanager-qt-5.61.0.tar.xz">modemmanager-qt-5.61.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4dcdfc3ad4c95026d21442b4af0526412a50ca1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/networkmanager-qt-5.61.0.tar.xz">networkmanager-qt-5.61.0</a></td>
   <td align="right">179kB</td>
   <td><tt>78e8943563ea291620bbce936dab3a2cc06d0b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/oxygen-icons5-5.61.0.tar.xz">oxygen-icons5-5.61.0</a></td>
   <td align="right">222MB</td>
   <td><tt>dcee767d73553f2642bc9f253fbcbf8ca20fe625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/plasma-framework-5.61.0.tar.xz">plasma-framework-5.61.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2db82e27bfbd4466625353820a4be412ad21a9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/prison-5.61.0.tar.xz">prison-5.61.0</a></td>
   <td align="right">41kB</td>
   <td><tt>ac9ac4dc9a2b64fbc93f88fbd0dd0f9ff7172d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/purpose-5.61.0.tar.xz">purpose-5.61.0</a></td>
   <td align="right">145kB</td>
   <td><tt>51e9347da7c188fcbb96401173316b4ea54ed385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/qqc2-desktop-style-5.61.0.tar.xz">qqc2-desktop-style-5.61.0</a></td>
   <td align="right">43kB</td>
   <td><tt>fa91e48033744ab6d2b2d2ba6ebd56cb60da2044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/solid-5.61.0.tar.xz">solid-5.61.0</a></td>
   <td align="right">254kB</td>
   <td><tt>ec8e7a4360d60e7a16be0b545d6637dcf792391e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/sonnet-5.61.0.tar.xz">sonnet-5.61.0</a></td>
   <td align="right">279kB</td>
   <td><tt>7e202e0a0fa616124561df4898f4a13c985b8934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/syndication-5.61.0.tar.xz">syndication-5.61.0</a></td>
   <td align="right">155kB</td>
   <td><tt>04b50d4c1fcf24d49f20d06b380f1ecef2b4b9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/syntax-highlighting-5.61.0.tar.xz">syntax-highlighting-5.61.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c9c0994f63a2f5f7fef0bd4b58201170aefabefe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.61/threadweaver-5.61.0.tar.xz">threadweaver-5.61.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b9e151270e2399d56413534afa57369351b071cb</tt></td>
</tr>

</table>
