<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/bluedevil-6.1.90.tar.xz">bluedevil-6.1.90</a></td>
   <td align="right">377kB</td>
   <td><tt>e365518ae44a2a759c154d8563384776e0a260365cdbdfc03d92b458bacd366a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/breeze-6.1.90.tar.xz">breeze-6.1.90</a></td>
   <td align="right">105MB</td>
   <td><tt>39ebbf9f84212f90c9992fcbeae8cb8ff074096d205ea931c7a64a649351d63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/breeze-grub-6.1.90.tar.xz">breeze-grub-6.1.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>63effd4cd1360c038c3e8c7af38c60195ed1d9e1ec07a5e2b85449a1c5d94117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/breeze-gtk-6.1.90.tar.xz">breeze-gtk-6.1.90</a></td>
   <td align="right">39kB</td>
   <td><tt>300ab15c0f1afc9608b4d8fed1d3e05b8d19f5b49d1d2ad7824428bc2b99c83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/breeze-plymouth-6.1.90.tar.xz">breeze-plymouth-6.1.90</a></td>
   <td align="right">108kB</td>
   <td><tt>4938353ce8f5f2d3e9eb17587416c72eee63fc8df58771da0b71eb38de96972b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/discover-6.1.90.tar.xz">discover-6.1.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>007d4967485fd3d084aec02ad4ba70920e19e581b8968cf183d71521d3a25183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/drkonqi-6.1.90.tar.xz">drkonqi-6.1.90</a></td>
   <td align="right">861kB</td>
   <td><tt>b306fd90f92fff19ab71135705c02d2aae3b05acafd405956b6d37d1a6f3529f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/flatpak-kcm-6.1.90.tar.xz">flatpak-kcm-6.1.90</a></td>
   <td align="right">239kB</td>
   <td><tt>6ed71fb0fe9aed412f1d67865e72e8cfbaa9bfef5dc7b594b2304302d79006b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kactivitymanagerd-6.1.90.tar.xz">kactivitymanagerd-6.1.90</a></td>
   <td align="right">105kB</td>
   <td><tt>2426348e272dac4f504efb754a169d1980b5cde4622f95dbeda22692ec6ccb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kde-cli-tools-6.1.90.tar.xz">kde-cli-tools-6.1.90</a></td>
   <td align="right">614kB</td>
   <td><tt>698200f360b2ff99fc540b2d004442033d43fbe2c84d90595028f2a9d1938dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kdecoration-6.1.90.tar.xz">kdecoration-6.1.90</a></td>
   <td align="right">53kB</td>
   <td><tt>ab8e8b51b7192bf481bfe388502535d58ee794fabcf617ac83966ba972ee43f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kde-gtk-config-6.1.90.tar.xz">kde-gtk-config-6.1.90</a></td>
   <td align="right">76kB</td>
   <td><tt>8df4bcff78b1cedeeb76de5509175b6f3bc0d494d1353e9a9f22fa977e89fff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kdeplasma-addons-6.1.90.tar.xz">kdeplasma-addons-6.1.90</a></td>
   <td align="right">874kB</td>
   <td><tt>a9428ae1e34df4a891e67ac7def43e20d997f394dcf32fb7c37172f6305d112e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kgamma-6.1.90.tar.xz">kgamma-6.1.90</a></td>
   <td align="right">84kB</td>
   <td><tt>90092edb9f6e9446c7e3c3fe2233d3e36dfc0e91aa9d42327a08621b6c2632f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kglobalacceld-6.1.90.tar.xz">kglobalacceld-6.1.90</a></td>
   <td align="right">55kB</td>
   <td><tt>8c7273f8a50863204a57f39628c639cda014945c355e0fbff52233d2c00c7315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kinfocenter-6.1.90.tar.xz">kinfocenter-6.1.90</a></td>
   <td align="right">704kB</td>
   <td><tt>9ee005dc6895b63856e54e8d9333fc1f40bb3383ee7d85e7e492ee81f8761008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kmenuedit-6.1.90.tar.xz">kmenuedit-6.1.90</a></td>
   <td align="right">851kB</td>
   <td><tt>8da1c1a891278f29f5c88b488b91d94659ab75b0c0ffcd496e438f562c8b4ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kpipewire-6.1.90.tar.xz">kpipewire-6.1.90</a></td>
   <td align="right">145kB</td>
   <td><tt>a4072e0584580bfac5a76840b55b948c5e2ab19b6315267e5657ffdb3b84dfb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/krdp-6.1.90.tar.xz">krdp-6.1.90</a></td>
   <td align="right">88kB</td>
   <td><tt>01fbce196daa470374b0c60a4ca4aa45d1d3cc0d6ca066c3a63f4011c09799ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kscreen-6.1.90.tar.xz">kscreen-6.1.90</a></td>
   <td align="right">206kB</td>
   <td><tt>abd1ec12227b0a2f033489463a22fc12ad1526da779132a13be4046c0905beeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kscreenlocker-6.1.90.tar.xz">kscreenlocker-6.1.90</a></td>
   <td align="right">176kB</td>
   <td><tt>3b739c7148db15f8c7d4f563b706497921fe63471bbcba8c146f54f1d2a469a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/ksshaskpass-6.1.90.tar.xz">ksshaskpass-6.1.90</a></td>
   <td align="right">29kB</td>
   <td><tt>f744fcdfb11cd91df48f36414a0c8bdd0015f48597162e281d3ef1b88cabdbc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/ksystemstats-6.1.90.tar.xz">ksystemstats-6.1.90</a></td>
   <td align="right">138kB</td>
   <td><tt>4e7cfa0147f13fc715e15766589ab6cfc50ca3ff590c5ba6c8cee983c365ff42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kwallet-pam-6.1.90.tar.xz">kwallet-pam-6.1.90</a></td>
   <td align="right">22kB</td>
   <td><tt>1767d35d6ec29227c12f5318e0116c523fab3372a82ed40d98b02d712141cb09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kwayland-6.1.90.tar.xz">kwayland-6.1.90</a></td>
   <td align="right">131kB</td>
   <td><tt>19908b53fc3f1926997d7f161ccfd6093ffe30eebc72a6ef36a48035f0df4226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kwayland-integration-6.1.90.tar.xz">kwayland-integration-6.1.90</a></td>
   <td align="right">25kB</td>
   <td><tt>867954ae029bbad2d8432abab19a6e8ab3ed86b10a3759598c2e2d0a6fea5875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kwin-6.1.90.tar.xz">kwin-6.1.90</a></td>
   <td align="right">8.1MB</td>
   <td><tt>07877ed17f6ab99431506817d705eae62dbc96b1fb820654effcf39863668d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/kwrited-6.1.90.tar.xz">kwrited-6.1.90</a></td>
   <td align="right">23kB</td>
   <td><tt>1a3e192539bbad6ca28bae65ea4c8fa878ba1dbd7fdd683e9ec86e5093b5d169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/layer-shell-qt-6.1.90.tar.xz">layer-shell-qt-6.1.90</a></td>
   <td align="right">35kB</td>
   <td><tt>e09075f97231105d1442235d1e62585a8ab09d61cba2f23821485b20776a22d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/libkscreen-6.1.90.tar.xz">libkscreen-6.1.90</a></td>
   <td align="right">116kB</td>
   <td><tt>c4b5edb7d7dc29a2f49db25a5010005f00163a81aa1adffb0feb03d75b48b86e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/libksysguard-6.1.90.tar.xz">libksysguard-6.1.90</a></td>
   <td align="right">306kB</td>
   <td><tt>8eac935022fa49d4dea2de57d22ef95d1075d9466308bd4106401aa393251f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/libplasma-6.1.90.tar.xz">libplasma-6.1.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7c65e8a66999032b06ffc41ac0e312fefb2d3215baefc30ac133b24251d6695e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/milou-6.1.90.tar.xz">milou-6.1.90</a></td>
   <td align="right">48kB</td>
   <td><tt>6a6ee1bef89dfc7931c4609e3e6e2cdfcf64435fcf277170156119fb68f1bc3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/ocean-sound-theme-6.1.90.tar.xz">ocean-sound-theme-6.1.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2f56e5aa473837edf16fbcd068e7d39a07b61841c341f6f1cbee69bf6413efde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/oxygen-6.1.90.tar.xz">oxygen-6.1.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>b698b3236c3d4777a417e2355090d73429619947326127c5a54a2d31bf54bc8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/oxygen-sounds-6.1.90.tar.xz">oxygen-sounds-6.1.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4968c54343d47d53578976f6cdcfaa43d6f363678354edf7af442c76989dd68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma5support-6.1.90.tar.xz">plasma5support-6.1.90</a></td>
   <td align="right">186kB</td>
   <td><tt>a2e1d5d9d27c7b8c949c72e85f67914714a761323774bef62ede9d576411d428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-activities-6.1.90.tar.xz">plasma-activities-6.1.90</a></td>
   <td align="right">65kB</td>
   <td><tt>7b33baafef140d4d5bc6d520545f56e0724e0df012e0305f3c0d522a2f82f786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-activities-stats-6.1.90.tar.xz">plasma-activities-stats-6.1.90</a></td>
   <td align="right">81kB</td>
   <td><tt>a5c4f31158e1c2027f2655bcda50ca9eb26bc7419ec229493841607f31808d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-browser-integration-6.1.90.tar.xz">plasma-browser-integration-6.1.90</a></td>
   <td align="right">218kB</td>
   <td><tt>b94b45efd1360a7494fad1642f2ccab4449ece27b524a4ad46b7e4cb2d745a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-desktop-6.1.90.tar.xz">plasma-desktop-6.1.90</a></td>
   <td align="right">15MB</td>
   <td><tt>9ce202bcf81befeb16f3ad67ccebf1ed78712bf94db139dd2dfa679498651f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-dialer-6.1.90.tar.xz">plasma-dialer-6.1.90</a></td>
   <td align="right">123kB</td>
   <td><tt>9f2e5124e8d3d289a0990a3eb7daad39e3a8c1194c000875edd0157da6290348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-disks-6.1.90.tar.xz">plasma-disks-6.1.90</a></td>
   <td align="right">100kB</td>
   <td><tt>90fbecfdfd0e6adc68d238e4b63adc738366db49198f389e4f717458b78101f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-firewall-6.1.90.tar.xz">plasma-firewall-6.1.90</a></td>
   <td align="right">366kB</td>
   <td><tt>6468e968ad8a1e73c1b3cfdba22611e0ba4d9d1c273a57eb908a7d81dcc427cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-integration-6.1.90.tar.xz">plasma-integration-6.1.90</a></td>
   <td align="right">93kB</td>
   <td><tt>cd91c05cb52557e7549f7eed0f1f8a06fc27b965f23ca4d9e4be828c01d12dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-mobile-6.1.90.tar.xz">plasma-mobile-6.1.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>38419986dd8c692869cd948c419e227c489c1b377d4d0e592f213c1c0e067675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-nano-6.1.90.tar.xz">plasma-nano-6.1.90</a></td>
   <td align="right">71kB</td>
   <td><tt>9399a21f8dffc0c520863925b477994aff2e26a1c2b0424980e40846a9214616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-nm-6.1.90.tar.xz">plasma-nm-6.1.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>140ae69cb9d9b8625e193d37af3c316b57d0761adb0f13c706063aac574d2d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-pa-6.1.90.tar.xz">plasma-pa-6.1.90</a></td>
   <td align="right">177kB</td>
   <td><tt>113766dfb05063f7bed8d364ea2ee67076f0e72dffb743c868e4b032e5a9679a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-sdk-6.1.90.tar.xz">plasma-sdk-6.1.90</a></td>
   <td align="right">337kB</td>
   <td><tt>4445b0c39cefc68e66b63676331b823242e2f1c288376c5f1fc5f29c303853b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-systemmonitor-6.1.90.tar.xz">plasma-systemmonitor-6.1.90</a></td>
   <td align="right">191kB</td>
   <td><tt>b0612bf5b9bfd67cadd393fa26b0d924c76192e277659dbe9ab386bfc0630547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-thunderbolt-6.1.90.tar.xz">plasma-thunderbolt-6.1.90</a></td>
   <td align="right">78kB</td>
   <td><tt>6a5fae6690c1a20334536a25ad037bf32bc8ce33c1e96a46f80c71d2a8fe7f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-vault-6.1.90.tar.xz">plasma-vault-6.1.90</a></td>
   <td align="right">196kB</td>
   <td><tt>017c0415dce391d0f2d2f68da84a147f120f827c30bc8c199a402970e0766e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-welcome-6.1.90.tar.xz">plasma-welcome-6.1.90</a></td>
   <td align="right">671kB</td>
   <td><tt>321e4f6c9b2e20595186c7bbd4854fc90802fd633cd96cebf21ac41a1667079a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-workspace-6.1.90.tar.xz">plasma-workspace-6.1.90</a></td>
   <td align="right">18MB</td>
   <td><tt>e3f51217f9900b5001a4e437b9989295484c2a7198ada15a928f853af2c684e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plasma-workspace-wallpapers-6.1.90.tar.xz">plasma-workspace-wallpapers-6.1.90</a></td>
   <td align="right">106MB</td>
   <td><tt>3d4d1aeb5b8d9922e7fcbb303a03c0dae6c2962f7af4af4ca64bed64ed2c5fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/plymouth-kcm-6.1.90.tar.xz">plymouth-kcm-6.1.90</a></td>
   <td align="right">46kB</td>
   <td><tt>62086e0ee20d1bc6b970822d00793c411c8c3c41d3378a822261f841ea88aa58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/polkit-kde-agent-1-6.1.90.tar.xz">polkit-kde-agent-1-6.1.90</a></td>
   <td align="right">55kB</td>
   <td><tt>6073330efdd0aa321f57e4e0a07dcbe13a0ea2f4a8886e766e96e14769028d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/powerdevil-6.1.90.tar.xz">powerdevil-6.1.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cc24dc2ab3d168822a1af721cbde73b6b45b1425c06a62476e550208990d2807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/print-manager-6.1.90.tar.xz">print-manager-6.1.90</a></td>
   <td align="right">365kB</td>
   <td><tt>8ef71c7de626dff47735c949aa652e5f56a16587fc8120ada0744b7e6134f00f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/qqc2-breeze-style-6.1.90.tar.xz">qqc2-breeze-style-6.1.90</a></td>
   <td align="right">64kB</td>
   <td><tt>57674adbafd8df29d273e47fca15eff3585b44730437b034abe4ffdc1514e458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/sddm-kcm-6.1.90.tar.xz">sddm-kcm-6.1.90</a></td>
   <td align="right">97kB</td>
   <td><tt>540d05320cda4fc3267a5058573428d093b73a0e7f2340943c26ea23e8f138a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/spacebar-6.1.90.tar.xz">spacebar-6.1.90</a></td>
   <td align="right">123kB</td>
   <td><tt>3d2056e45f4086fd2bf3a129b461b2883742bab78f9c1837fa24e20aa7b78f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/systemsettings-6.1.90.tar.xz">systemsettings-6.1.90</a></td>
   <td align="right">208kB</td>
   <td><tt>780b955af645d3e754908b296c2f48f94e895482b6b6de982c9af64f0d0b936b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/wacomtablet-6.1.90.tar.xz">wacomtablet-6.1.90</a></td>
   <td align="right">811kB</td>
   <td><tt>1a9eb38ef4213fd1faa5dd8e04fee42fc3baf6319cedcaccc5f7245f14e19879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.1.90/xdg-desktop-portal-kde-6.1.90.tar.xz">xdg-desktop-portal-kde-6.1.90</a></td>
   <td align="right">173kB</td>
   <td><tt>b7984571934f636eecec0e19d482719a70741575af296db215fecfaf08ce0a1c</tt></td>
</tr>

</table>
