<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/attica-5.245.0.tar.xz">attica-5.245.0</a></td>
   <td align="right">67kB</td>
   <td><tt>7ec89bc91b069febf01ec385c412a4f837b264e7d14615802a2d848e94620c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/baloo-5.245.0.tar.xz">baloo-5.245.0</a></td>
   <td align="right">304kB</td>
   <td><tt>82ab7f1a343408cc441dec8f624446068b1370662676567a699884e3e51eec32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/bluez-qt-5.245.0.tar.xz">bluez-qt-5.245.0</a></td>
   <td align="right">113kB</td>
   <td><tt>7e65c260b4908463f108b1872aa6666c80e528f60f83201c8c469013020af299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/breeze-icons-5.245.0.tar.xz">breeze-icons-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>25f536613bb49049c9559928a167148a45a4b8d7d8cda03c9b9e31ed30ae038c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/extra-cmake-modules-5.245.0.tar.xz">extra-cmake-modules-5.245.0</a></td>
   <td align="right">329kB</td>
   <td><tt>f18133e1ea0aa841aaf3bfcedaa792cf524670908df0dbd350ea92b28010fe3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/frameworkintegration-5.245.0.tar.xz">frameworkintegration-5.245.0</a></td>
   <td align="right">52kB</td>
   <td><tt>babd4a9bbefa0aa8e799eb1f9452e14c0d42f7f8fb78eae102e159cb15b44320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kapidox-5.245.0.tar.xz">kapidox-5.245.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ccbe3f9d43b7f12e01c34cd8a823ea5b4de0a6198e6a727abb68702f15a05d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/karchive-5.245.0.tar.xz">karchive-5.245.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>7097fc0e45295b9b95874a78866624e6b2cdcfceb64ed75e0839ce8715bf9697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kauth-5.245.0.tar.xz">kauth-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e7cd61bd277368ac3bfc173dec5006d2854dc4173c1ee42412581faf328efa50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kbookmarks-5.245.0.tar.xz">kbookmarks-5.245.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>52fdbdfb8efbe71799cb01e08b18693d47d7102a9b03c1ac75aeaddc6348907c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcalendarcore-5.245.0.tar.xz">kcalendarcore-5.245.0</a></td>
   <td align="right">254kB</td>
   <td><tt>0cc437d22b319c28a1cc85823c016870caf35c000f065242512ee452893954e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcmutils-5.245.0.tar.xz">kcmutils-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3fee72ff38cda25bdb5aae3cc9a5bde6b1063020fe410bed93e7bf1f73e89834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcodecs-5.245.0.tar.xz">kcodecs-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9041a9349ac670d01c8acb26203b9669b3c651b565a73114a00a5b0639cf4eb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcolorscheme-5.245.0.tar.xz">kcolorscheme-5.245.0</a></td>
   <td align="right">42kB</td>
   <td><tt>f987e02735daf3255213a171ece023bca1bca4923940ca9ec2171d483d48e41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcompletion-5.245.0.tar.xz">kcompletion-5.245.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8d7379a192114f4eb99fc3f7613d07686173dc44449753f6af74a6cc361266aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kconfig-5.245.0.tar.xz">kconfig-5.245.0</a></td>
   <td align="right">284kB</td>
   <td><tt>e6ed946703bc88dc80c61410d20b731e407c6914e62fecb54bdeebaf8ca1148e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kconfigwidgets-5.245.0.tar.xz">kconfigwidgets-5.245.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0eb1abba15db658d2773dd04e6bae9d6a5d69ef9cd0b500e04e4af601efcbc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcontacts-5.245.0.tar.xz">kcontacts-5.245.0</a></td>
   <td align="right">201kB</td>
   <td><tt>e65649b83fb99ce5ed16107d268e0e138ba0471585ab4a84cf3ce6f955a9ad38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcoreaddons-5.245.0.tar.xz">kcoreaddons-5.245.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>13de65853530e20d95a9053386f1ac0c270713c63c5e4277887cf2b513ec9ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kcrash-5.245.0.tar.xz">kcrash-5.245.0</a></td>
   <td align="right">27kB</td>
   <td><tt>6dd54a910a84dcaf52772a9a9f22d61d527bfc9fe3f60678cc13a5ae6c66278b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdav-5.245.0.tar.xz">kdav-5.245.0</a></td>
   <td align="right">65kB</td>
   <td><tt>c62a0239a18492ff256309e0f31e46176942b85caa70615bccc9cb4b7a9b73e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdbusaddons-5.245.0.tar.xz">kdbusaddons-5.245.0</a></td>
   <td align="right">44kB</td>
   <td><tt>fddeddee6e068bbdf3fec37a3e9e541108b46ef82d1ae6b9242a19c3ba9d3683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdeclarative-5.245.0.tar.xz">kdeclarative-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0c371dff4ac2f4c95bddef4777cb08201b06eb27834a56726993a378e0350da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kded-5.245.0.tar.xz">kded-5.245.0</a></td>
   <td align="right">31kB</td>
   <td><tt>a244f9c5ae7ecea343ec849cd6d912ec0fc26a05bbde601c8e526807132596f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdesu-5.245.0.tar.xz">kdesu-5.245.0</a></td>
   <td align="right">55kB</td>
   <td><tt>677759b8d253a4773bd5dc88dc14c8323ba7dc43f0bf45008c004e9f78d4bdd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdnssd-5.245.0.tar.xz">kdnssd-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>616632ae076ef6f16eaa7e9d8f3400f0180b70e6d7e489ec04b2adc271d80e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kdoctools-5.245.0.tar.xz">kdoctools-5.245.0</a></td>
   <td align="right">449kB</td>
   <td><tt>042084741bf79d527f0ad92afe9629e595c476a90fe85e946888192b3f89aff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kfilemetadata-5.245.0.tar.xz">kfilemetadata-5.245.0</a></td>
   <td align="right">464kB</td>
   <td><tt>1290b836c88231488b319967d384c3c807c77de816ef7265a8e488e777231796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kglobalaccel-5.245.0.tar.xz">kglobalaccel-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>245b4fe0eb862dff81c662f46e318401fd441fde11de62cf2e1e0f135803fd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kguiaddons-5.245.0.tar.xz">kguiaddons-5.245.0</a></td>
   <td align="right">79kB</td>
   <td><tt>567e4d3f43e103887de748420d67a7fe6b2729ff42af142ae847d2c2b4c9c527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kholidays-5.245.0.tar.xz">kholidays-5.245.0</a></td>
   <td align="right">246kB</td>
   <td><tt>a737a52717e9e0514358fdd3384117c51cb4153fb99135d28eb6a4fbda1b12d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/ki18n-5.245.0.tar.xz">ki18n-5.245.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ac94633082bc0f5b5350ec3f6405a4886edd147b2322ce41edb4a1744bf43b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kiconthemes-5.245.0.tar.xz">kiconthemes-5.245.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>fbcb1399668dde2b358f7213cf535da825e37db74fc02f71f04793ab875cace6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kidletime-5.245.0.tar.xz">kidletime-5.245.0</a></td>
   <td align="right">30kB</td>
   <td><tt>525907272e42016d2bbe229b6ab07fdce89866b173e585b26006fc1b6a2cedbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kimageformats-5.245.0.tar.xz">kimageformats-5.245.0</a></td>
   <td align="right">15MB</td>
   <td><tt>82c01c536cd1eecb7928e14d022497b4367daf1451b070cf296077699bf54df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kio-5.245.0.tar.xz">kio-5.245.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5be091d541cb9308a5a104012deccb1c7f55e4479f5fb42c592509b68224cefe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kirigami-5.245.0.tar.xz">kirigami-5.245.0</a></td>
   <td align="right">363kB</td>
   <td><tt>7f3d175347bf50e904821d910e160a12d2d4e577c84b8aaf193fdc284c3c83fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kitemmodels-5.245.0.tar.xz">kitemmodels-5.245.0</a></td>
   <td align="right">388kB</td>
   <td><tt>0db7491d284d687fd360069d82ec3bc719e1ca9bb168cf89b9de6235b1a68009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kitemviews-5.245.0.tar.xz">kitemviews-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0a7b9895112777e22cbb4d1480b3267c86b2fa55a159cfc5e68f4f9768fb4a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kjobwidgets-5.245.0.tar.xz">kjobwidgets-5.245.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>501b70589a780c224d2824ce2b008ca3d8908dfe0b4e736e668d1f29bfbdaaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/knewstuff-5.245.0.tar.xz">knewstuff-5.245.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bc841cedd8249f6dc5aef87c3035a279c770df2da2a85f7631bd197c7af87e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/knotifications-5.245.0.tar.xz">knotifications-5.245.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>995d77c36f443079d5de65f2ff1a73e0e83da554f011f815a99ade2f67fa4f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/knotifyconfig-5.245.0.tar.xz">knotifyconfig-5.245.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a1ecb772232a79a1b4356b93dce4f0d7434455a82856221ec194bc934d375123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kpackage-5.245.0.tar.xz">kpackage-5.245.0</a></td>
   <td align="right">173kB</td>
   <td><tt>f179a1aa8a12c699d18dc5ce2aa8bdedd86a429b10b4ecc9259370bed73cb273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kparts-5.245.0.tar.xz">kparts-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b07a42602ce91ed65e30743f45cf3a036a5b1de60321dcbfbe937b2f65c2fc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kpeople-5.245.0.tar.xz">kpeople-5.245.0</a></td>
   <td align="right">62kB</td>
   <td><tt>4ee6c9f4516b7092c51fbdda2e627a2e9c88726b8e61ec825ee1a78cd8a3757b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kplotting-5.245.0.tar.xz">kplotting-5.245.0</a></td>
   <td align="right">32kB</td>
   <td><tt>73ba9c654f1e2c2d22740beecf8c89f16718b8e139ac6b14917a972a230bab77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kpty-5.245.0.tar.xz">kpty-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>493f90ff66be6bcee25416753f217ee81d6d9173dbadf03d3d1edd4410f9a958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kquickcharts-5.245.0.tar.xz">kquickcharts-5.245.0</a></td>
   <td align="right">107kB</td>
   <td><tt>b4c77c41c5319c104759fbab4daf0a85f63a9aef7dc548b885d9c74ec3da270d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/krunner-5.245.0.tar.xz">krunner-5.245.0</a></td>
   <td align="right">129kB</td>
   <td><tt>5187c30b9ee454ba76dad227cad69eff8fdefde4d53730350051525031f1523f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kservice-5.245.0.tar.xz">kservice-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e3418443345600034e726cba8d86edc2801620e85c28a3d19b61ef45815e9d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kstatusnotifieritem-5.245.0.tar.xz">kstatusnotifieritem-5.245.0</a></td>
   <td align="right">44kB</td>
   <td><tt>44605dd80b06d96f93d492af13ea0cd6c59d67c0db273b640aa45b3b52c2962c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/ksvg-5.245.0.tar.xz">ksvg-5.245.0</a></td>
   <td align="right">85kB</td>
   <td><tt>fc5fd0420638afdfe37e5cc2e4b2942b82cfd6808990b12e6056913ad39de391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/ktexteditor-5.245.0.tar.xz">ktexteditor-5.245.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>541a06c8a58409a79359185431a3abab261bbfa9080ab1162c107b36edaace18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/ktexttemplate-5.245.0.tar.xz">ktexttemplate-5.245.0</a></td>
   <td align="right">827kB</td>
   <td><tt>be482f4cc4b471681dbfeeed3bda5080f85705b3663eb8989c3ee1bef080a5c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/ktextwidgets-5.245.0.tar.xz">ktextwidgets-5.245.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>35e76322cfa2628a70f6e4ff4ebe7a5b6d88c1cfa186deab20e30ae3b882d5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kunitconversion-5.245.0.tar.xz">kunitconversion-5.245.0</a></td>
   <td align="right">893kB</td>
   <td><tt>17b8f406f3260bc439faf975081e05f27f30f92d2fb74c67f20302e43f5ee9cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kuserfeedback-5.245.0.tar.xz">kuserfeedback-5.245.0</a></td>
   <td align="right">226kB</td>
   <td><tt>8e671180bd6d372be3bf9d7e2544cb03b1a294cf5a710aadcf382a522ed03710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kwallet-5.245.0.tar.xz">kwallet-5.245.0</a></td>
   <td align="right">341kB</td>
   <td><tt>52eb887a2fed59dd9a1e828c31ae7851ae6e30df050e7027bcae1bc408c4b1c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kwidgetsaddons-5.245.0.tar.xz">kwidgetsaddons-5.245.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0cf71ba3ca7c16b2c81e7965d556d10660a7cdc4925d79034295279a8ee5a6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kwindowsystem-5.245.0.tar.xz">kwindowsystem-5.245.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8b9b58a4e7243c02797fccfcd90209eeff1bd02e82bef2f34f5c3b3cc5196db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/kxmlgui-5.245.0.tar.xz">kxmlgui-5.245.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>648879f1236c52cadbe82cd4ebffb8f93a36e43e02e32b8ffa64ae2ef6b541df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/modemmanager-qt-5.245.0.tar.xz">modemmanager-qt-5.245.0</a></td>
   <td align="right">118kB</td>
   <td><tt>d2008ccfc8ed14b0caf472fab8793cb72304dbfe73fd47554d4b5adb4a4c212c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/networkmanager-qt-5.245.0.tar.xz">networkmanager-qt-5.245.0</a></td>
   <td align="right">195kB</td>
   <td><tt>58b774f0a295d87a5a83d28f9270fcd57cac58962f362b5b693ad180cba64379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/prison-5.245.0.tar.xz">prison-5.245.0</a></td>
   <td align="right">54kB</td>
   <td><tt>4dc80492074cd44fedbf69fc2c7cf40d2e11f54e1591844b931f5d80321ab793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/purpose-5.245.0.tar.xz">purpose-5.245.0</a></td>
   <td align="right">175kB</td>
   <td><tt>93c32ac4bd7a356362397e8f9b062ffbd49c7803c8d94adeb032271aad29407e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/qqc2-desktop-style-5.245.0.tar.xz">qqc2-desktop-style-5.245.0</a></td>
   <td align="right">71kB</td>
   <td><tt>39d953fc3e5d1317f30d87ee3d4d14f184693ad2aba3de6c9dd9d4723c991501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/solid-5.245.0.tar.xz">solid-5.245.0</a></td>
   <td align="right">297kB</td>
   <td><tt>4b3f752cdbbe06610ed9759d551367977952feb93930e6e50531483b522b4baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/sonnet-5.245.0.tar.xz">sonnet-5.245.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4fcf419eed4619fb3c6969e341adf0de24d0633e64631e6dfc3cd9b45871086a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/syndication-5.245.0.tar.xz">syndication-5.245.0</a></td>
   <td align="right">499kB</td>
   <td><tt>49c014661d9b7c98735fa30b21895f46964ce9e3406632c9d3db43bbfffe0fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/syntax-highlighting-5.245.0.tar.xz">syntax-highlighting-5.245.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3685e19697cdbfc897971ebf588aa7ef1368553484e71b781b370ed242353111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.245.0/threadweaver-5.245.0.tar.xz">threadweaver-5.245.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7a9f112a3c6793520d5d7465baaaafaf99648499f1dc1fe58870ab8f8eee4d6e</tt></td>
</tr>

</table>
