<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/baloo-5.9.1.tar.xz">baloo-5.9.1</a></td>
   <td align="right">140kB</td>
   <td><tt>f6d03957c502d56590014c2c62f4874803d11ecc0ac605776b2b0647e8b0a973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/bluedevil-5.3.1.tar.xz">bluedevil-5.3.1</a></td>
   <td align="right">120kB</td>
   <td><tt>f4e2a536ebd4a9f1978a8984f2676404b8c6acb3ea88b2d4dfa2c2ec62bc1014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/bluez-qt-5.3.1.tar.xz">bluez-qt-5.3.1</a></td>
   <td align="right">61kB</td>
   <td><tt>149c6776e89f33c25a05ccab171e82e5bef1ba576bb9026522af1b37ebf2258e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/breeze-5.3.1.tar.xz">breeze-5.3.1</a></td>
   <td align="right">27MB</td>
   <td><tt>25673c9ffad176d749ad04b60daa64943c5cf8f383118dabd10cfc36dedb076a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kde-cli-tools-5.3.1.tar.xz">kde-cli-tools-5.3.1</a></td>
   <td align="right">472kB</td>
   <td><tt>812d79a40d54620056e320a2ae39d564eec860a4aa1c15c9759b314ca21f9374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kdecoration-5.3.1.tar.xz">kdecoration-5.3.1</a></td>
   <td align="right">32kB</td>
   <td><tt>56c33a824fc2f5b0e871569843c77867ec94818db29e09755009cbbc63f91da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kde-gtk-config-5.3.1.tar.xz">kde-gtk-config-5.3.1</a></td>
   <td align="right">140kB</td>
   <td><tt>b42c8905f0d417b3ac363c18f2c677375774a1d97236a8a58fcbe537599b3ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kdeplasma-addons-5.3.1.tar.xz">kdeplasma-addons-5.3.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>db720b84a6ef72cf89cbf134ab37dcf73a55700b9de6a0b0a7ea61894019d3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kfilemetadata-5.9.1.tar.xz">kfilemetadata-5.9.1</a></td>
   <td align="right">117kB</td>
   <td><tt>1a229cf7db0fc2ec865203910755626c707a3f63625c3bdb4790b0b8f873ee09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/khelpcenter-5.3.1.tar.xz">khelpcenter-5.3.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c2fd45fa386d3d10a91045eaf017fda974a3762f7bfcb9a7ab2666c347193336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/khotkeys-5.3.1.tar.xz">khotkeys-5.3.1</a></td>
   <td align="right">594kB</td>
   <td><tt>bb6a42028ef92da96105e1e8ee32b03192950255a29df3aa183d4931bfccbf86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kinfocenter-5.3.1.tar.xz">kinfocenter-5.3.1</a></td>
   <td align="right">984kB</td>
   <td><tt>2adcc747a0346b76368333b268b2188b8d2f6f8bb62b08371169dd045ba4f809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kio-extras-5.3.1.tar.xz">kio-extras-5.3.1</a></td>
   <td align="right">599kB</td>
   <td><tt>07b1b58f8261a5345f8fe93024df9b9f517ff54856b31821b357c19e2a602fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kmenuedit-5.3.1.tar.xz">kmenuedit-5.3.1</a></td>
   <td align="right">302kB</td>
   <td><tt>1fff2deaf3aac69f895dcc7afe8056cf4c66e9cf79e3b15dc7625931561fde6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kscreen-5.3.1.tar.xz">kscreen-5.3.1</a></td>
   <td align="right">92kB</td>
   <td><tt>d99f5f6666bb05fdc9a78216662bd738e111ead0f4097ba0dcecee4bdfd01e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/ksshaskpass-5.3.1.tar.xz">ksshaskpass-5.3.1</a></td>
   <td align="right">18kB</td>
   <td><tt>a2a916b04808aaad781e79174bef1c60bb4cb6e3603fb95a696d1912d73eba45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/ksysguard-5.3.1.tar.xz">ksysguard-5.3.1</a></td>
   <td align="right">468kB</td>
   <td><tt>12fa035d7e1b0a61125316652f7ae6ed1deedb2dc751224a26ee4f8d8b7b38fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kwayland-5.3.1.tar.xz">kwayland-5.3.1</a></td>
   <td align="right">90kB</td>
   <td><tt>0ee5f0a776a07280c09a7bea0664f06ed4b303a6f7f2c5bf09d1f80b80d34def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kwin-5.3.1.tar.xz">kwin-5.3.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>665412fd2cdd8b1f69fcd957f8972afd4c0da29166063d1da2b62e460b717d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/kwrited-5.3.1.tar.xz">kwrited-5.3.1</a></td>
   <td align="right">18kB</td>
   <td><tt>e8892b7f4a8e69b1c87e089a9ffe1e2c0be53532697f4baffe652a9299773b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/libkscreen-5.3.1.tar.xz">libkscreen-5.3.1</a></td>
   <td align="right">70kB</td>
   <td><tt>74983b37ab9cd48dd40a33dbcb81d7f4acebe09fd4c629550210fbe87c00e401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/libksysguard-5.3.1.tar.xz">libksysguard-5.3.1</a></td>
   <td align="right">545kB</td>
   <td><tt>d507cca37ea3de258fcd129e8ac82e4dddc60d06c3faa23486f61a4f30e6b184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/milou-5.3.1.tar.xz">milou-5.3.1</a></td>
   <td align="right">49kB</td>
   <td><tt>0aad31fec55e8420cf2ec6016d6b0f4eef981260c8ce35f7596be067af30bc9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/muon-5.3.1.tar.xz">muon-5.3.1</a></td>
   <td align="right">1014kB</td>
   <td><tt>b3ba3f202383131568d41a1f0d29305a6f36c19a52d1dfb6f7afc4d48a304c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/oxygen-5.3.1.tar.xz">oxygen-5.3.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a97366788999f057b3924ea8caf2b998091397487b94e52aba65cfab5fcf680d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/oxygen-fonts-5.3.1.tar.xz">oxygen-fonts-5.3.1</a></td>
   <td align="right">157kB</td>
   <td><tt>fbde57bfed59e9f5b6b4589f127e56ce1432e6985ad36d410b7977a0090be87e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-desktop-5.3.1.tar.xz">plasma-desktop-5.3.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>97f618a0860e01d7378976c9db511837aea7f3989de14107c82fd877d7153b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-mediacenter-5.3.1.tar.xz">plasma-mediacenter-5.3.1</a></td>
   <td align="right">152kB</td>
   <td><tt>a87925ea2ad90cab5ab72a5faaab47d7caff065a38d5e0c33a131efbb5bf0d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-nm-5.3.1.tar.xz">plasma-nm-5.3.1</a></td>
   <td align="right">510kB</td>
   <td><tt>b3140cb169b9a2aea44f0b208bdc48fb2dcde2b5e4b5608ff20a092164faf949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-sdk-5.3.1.tar.xz">plasma-sdk-5.3.1</a></td>
   <td align="right">625kB</td>
   <td><tt>dae1bb9b7fca1252721dd3df0b94c0a669d2e44004e8771ef141547e9a20e794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-workspace-5.3.1.tar.xz">plasma-workspace-5.3.1</a></td>
   <td align="right">6.5MB</td>
   <td><tt>21436b4577bbe9d5eb4e1d78b2acd4c6b3d6a026b645339e2b0154c861464fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/plasma-workspace-wallpapers-5.3.1.tar.xz">plasma-workspace-wallpapers-5.3.1</a></td>
   <td align="right">48MB</td>
   <td><tt>be70e120e5fba91e8bd4c63e75150f063f54195d639b9c28243c760cf46fcff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/polkit-kde-agent-1-5.3.1.tar.xz">polkit-kde-agent-1-5.3.1</a></td>
   <td align="right">38kB</td>
   <td><tt>2c0cb022b055e83df993545945194b062f7ada2981353c8b7884841c947a2a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/powerdevil-5.3.1.tar.xz">powerdevil-5.3.1</a></td>
   <td align="right">344kB</td>
   <td><tt>1459673e50c20d63562514e2732bd246a3c53791cd7dc66dbf8aae8f4fc36c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/sddm-kcm-5.3.1.tar.xz">sddm-kcm-5.3.1</a></td>
   <td align="right">45kB</td>
   <td><tt>89c3d198cd07d7b9c63b2ed6ea888b8e9099b356e71d8e5d79e768b4cee7719b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.1/systemsettings-5.3.1.tar.xz">systemsettings-5.3.1</a></td>
   <td align="right">152kB</td>
   <td><tt>a077850478d72f46aac613574d35aafbfbbe2e7a1a3c5784853b82dcc2c8a31a</tt></td>
</tr>

</table>
