<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-23.07.80.tar.xz">akonadi-23.07.80</a></td>
   <td align="right">1623kB</td>
   <td><tt>0417fceb8ebb0df574479b6a1392e83aa018f25f5d582cce32f488730410e3df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-calendar-23.07.80.tar.xz">akonadi-calendar-23.07.80</a></td>
   <td align="right">460kB</td>
   <td><tt>293ac1b0bb432f034293466ff76fb8780bf233de41895b5c8044158102759d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-calendar-tools-23.07.80.tar.xz">akonadi-calendar-tools-23.07.80</a></td>
   <td align="right">248kB</td>
   <td><tt>a29a127e4b7f9dc6884f124aecaacf2461c29f744cd1d36dc3b9ddc06547d992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadiconsole-23.07.80.tar.xz">akonadiconsole-23.07.80</a></td>
   <td align="right">269kB</td>
   <td><tt>6813063d0dba1e7419c178ef72d93ee6c29eacbbc3893d90b1158d5713d2b2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-contacts-23.07.80.tar.xz">akonadi-contacts-23.07.80</a></td>
   <td align="right">411kB</td>
   <td><tt>ba0d9c786a29e936975f059b08437b3bb2ed74847372250c765ee908c84e5236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-import-wizard-23.07.80.tar.xz">akonadi-import-wizard-23.07.80</a></td>
   <td align="right">502kB</td>
   <td><tt>a5f970dbdff3d1baed0e66a5cd4bf8136b9e55d0126622d62649679f2e25849d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-mime-23.07.80.tar.xz">akonadi-mime-23.07.80</a></td>
   <td align="right">162kB</td>
   <td><tt>485c250266c7cc82c1f26dbce783fd6f221c37f2dbea3ea68d52804a7aab5c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-notes-23.07.80.tar.xz">akonadi-notes-23.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>b181e07e4721ce21f9cb8e87846014803809b32d728c63f064b06f3ffc2d5c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akonadi-search-23.07.80.tar.xz">akonadi-search-23.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>dda7c86295b10dfd57867e337c41d8a53d4a57e5dc961b69074e391a62c9b327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/akregator-23.07.80.tar.xz">akregator-23.07.80</a></td>
   <td align="right">2266kB</td>
   <td><tt>07c487025a879b9ae1cc1c648b619fc5dc5dd5667786367425832697ede8ecfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/alligator-23.07.80.tar.xz">alligator-23.07.80</a></td>
   <td align="right">185kB</td>
   <td><tt>25ebc74df60a64898da1cfe932ca04b72e03357c4e35614465f446a3d4ee65ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/analitza-23.07.80.tar.xz">analitza-23.07.80</a></td>
   <td align="right">344kB</td>
   <td><tt>6cbe13bcafd2a5840754337fdfc98c5e5e3ba429606fc7b3c395a50bd16a3085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/angelfish-23.07.80.tar.xz">angelfish-23.07.80</a></td>
   <td align="right">239kB</td>
   <td><tt>b92050872deb22d602ebfda41c25c1c38614f3243e42fb8b6d3fd865ddd033c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/arianna-23.07.80.tar.xz">arianna-23.07.80</a></td>
   <td align="right">788kB</td>
   <td><tt>b32c72f65f60449c057f6be26614ff9aa6b8a82c45fcb3ef524c06629a8334aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ark-23.07.80.tar.xz">ark-23.07.80</a></td>
   <td align="right">2945kB</td>
   <td><tt>049af67fabe5bc37cb1d8b05cd64789969982a186500f978a176579ec9493046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/artikulate-23.07.80.tar.xz">artikulate-23.07.80</a></td>
   <td align="right">1067kB</td>
   <td><tt>32553f1d8fc6b477d44f6e94fdb1c72676f27b64181a0f0c72c591f1681fa624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/audiocd-kio-23.07.80.tar.xz">audiocd-kio-23.07.80</a></td>
   <td align="right">550kB</td>
   <td><tt>b8d51f750da98ba03b79e075492a658d07fdfc525666430dea22171b063478dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/audiotube-23.07.80.tar.xz">audiotube-23.07.80</a></td>
   <td align="right">141kB</td>
   <td><tt>9b55888196fe3303fef70a795f9cc834b79ec47ebf73d6f89099b139143fb2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/baloo-widgets-23.07.80.tar.xz">baloo-widgets-23.07.80</a></td>
   <td align="right">270kB</td>
   <td><tt>14e02880f4e13de03be9f8e2aeef49d580cfec41f9abb663a7f7f7487efda614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/blinken-23.07.80.tar.xz">blinken-23.07.80</a></td>
   <td align="right">2660kB</td>
   <td><tt>d9c2fb564bdd18499130d598589008e75c7b3b20883dfa10f7eca3368b310f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/bomber-23.07.80.tar.xz">bomber-23.07.80</a></td>
   <td align="right">819kB</td>
   <td><tt>19884a4bf35cf4b41f9dd742047e62c5028ef43e43575bba6dc5b4dc815c0a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/bovo-23.07.80.tar.xz">bovo-23.07.80</a></td>
   <td align="right">210kB</td>
   <td><tt>ea70b6ece40da4e4e306d6dbbcca679ade7ec2d9d25bd57341b3312883b35ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/calendarsupport-23.07.80.tar.xz">calendarsupport-23.07.80</a></td>
   <td align="right">964kB</td>
   <td><tt>2457ad9bf0c29f8c2a5805de5a013d5638b5370d971f0f47b822936edd6caa94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/calindori-23.07.80.tar.xz">calindori-23.07.80</a></td>
   <td align="right">370kB</td>
   <td><tt>09ba3d8935e58e95716c9eefc85deaa69d00dd2608f143942b1dc935d313a99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/cantor-23.07.80.tar.xz">cantor-23.07.80</a></td>
   <td align="right">9060kB</td>
   <td><tt>358690e8e31b280e56e252e0eb53a6fc9857286d4301e9b57c502d1d49021082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/cervisia-23.07.80.tar.xz">cervisia-23.07.80</a></td>
   <td align="right">1900kB</td>
   <td><tt>3cb5c0ce15b426b8944d4f3ee715c4adb27cb7dd45037737a93e426cebe54140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/colord-kde-23.07.80.tar.xz">colord-kde-23.07.80</a></td>
   <td align="right">106kB</td>
   <td><tt>06cfd45bd6108bfd9e099649c06116a1c1c2658ccf2ded3b0eee647da01c159a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/dolphin-23.07.80.tar.xz">dolphin-23.07.80</a></td>
   <td align="right">5624kB</td>
   <td><tt>37f68c35f42ccabd5ad146ae216c31ee210aa6eb1eea9dfbd544ef99eee5d945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/dolphin-plugins-23.07.80.tar.xz">dolphin-plugins-23.07.80</a></td>
   <td align="right">267kB</td>
   <td><tt>688e9765063a27c9c075647a943d614cb745abbbc795bf966934a3effbe7082e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/dragon-23.07.80.tar.xz">dragon-23.07.80</a></td>
   <td align="right">1630kB</td>
   <td><tt>9a7dc37fcde14aad6321ccadb32969c3278940c4c3ab898ca73c2d7d42169313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/elisa-23.07.80.tar.xz">elisa-23.07.80</a></td>
   <td align="right">1770kB</td>
   <td><tt>9675b254b4a0e56b10155bd5b2bc0233d63b84d4f3a0a3c75e40de8445ca5795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/eventviews-23.07.80.tar.xz">eventviews-23.07.80</a></td>
   <td align="right">448kB</td>
   <td><tt>e98c4ec9350f18e9ab8817b906244e43ad49f27291a49094af69b222694941d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/falkon-23.07.80.tar.xz">falkon-23.07.80</a></td>
   <td align="right">2508kB</td>
   <td><tt>5b24aba5802b7cc65bb3e20cf314a9c1206fc28a442edf90ac7068729f454a74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ffmpegthumbs-23.07.80.tar.xz">ffmpegthumbs-23.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>f56ee0ec5caa0e677e85f4d6af5259267e541f4c9dd65d3c95cd9b3559700932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/filelight-23.07.80.tar.xz">filelight-23.07.80</a></td>
   <td align="right">681kB</td>
   <td><tt>9fc155c486c7dc15a2c1ac2449d42b9a70718a171759144d96e67d308b5b7fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ghostwriter-23.07.80.tar.xz">ghostwriter-23.07.80</a></td>
   <td align="right">3528kB</td>
   <td><tt>5c65fbf53ea0c0706740edcdb2802a1142c0004b15b56ed583e85f93292eb511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/granatier-23.07.80.tar.xz">granatier-23.07.80</a></td>
   <td align="right">2063kB</td>
   <td><tt>fe19c89f39226e482c893207caff217fa144b8d34fc7ac646d9d6449d44ec86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/grantlee-editor-23.07.80.tar.xz">grantlee-editor-23.07.80</a></td>
   <td align="right">114kB</td>
   <td><tt>b6e9ce24a0321238691e641ba1d8de8395a8b273f7ba9d7f89eeae154727cdae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/grantleetheme-23.07.80.tar.xz">grantleetheme-23.07.80</a></td>
   <td align="right">61kB</td>
   <td><tt>9ccd62c1d7abf870da4b962a0a637504deb8557cb23c2d3981d96f86ab674a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/gwenview-23.07.80.tar.xz">gwenview-23.07.80</a></td>
   <td align="right">6738kB</td>
   <td><tt>635957bce7ad296bb56982ca78ea470852805f6c93fb571832a39c19addad0c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/incidenceeditor-23.07.80.tar.xz">incidenceeditor-23.07.80</a></td>
   <td align="right">554kB</td>
   <td><tt>b6078e16d4f1e57b664f0f545b10c3c2e82f279b58895c958bd5499ad7ece3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/itinerary-23.07.80.tar.xz">itinerary-23.07.80</a></td>
   <td align="right">615kB</td>
   <td><tt>fec9f9a0e9897011daeef420c5d7e4ff239a1e2ee69ef4bb342a970cdf180bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/juk-23.07.80.tar.xz">juk-23.07.80</a></td>
   <td align="right">2031kB</td>
   <td><tt>e6cd4fa254cf51172b0aa9685246796fab7258a8a50b2d405aac865cd836c840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/k3b-23.07.80.tar.xz">k3b-23.07.80</a></td>
   <td align="right">10708kB</td>
   <td><tt>872ac0c942655a30fcfe49f7ed24beb430eacd25ced8f4fc3323205f2acd461d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kaccounts-integration-23.07.80.tar.xz">kaccounts-integration-23.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>2cb699fc329300ca561f4a4b58433f0694b39f117d8a28f601b1cdf823c10bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kaccounts-providers-23.07.80.tar.xz">kaccounts-providers-23.07.80</a></td>
   <td align="right">64kB</td>
   <td><tt>8236dcbdcce2dda3813dd435aa3c96a01fd22482e467fbe2a9661a2a2d931d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kaddressbook-23.07.80.tar.xz">kaddressbook-23.07.80</a></td>
   <td align="right">3375kB</td>
   <td><tt>3c3623b207ae40ecfc10004272a688d9ad4f48fc40de854aeec8378e55cd58e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kajongg-23.07.80.tar.xz">kajongg-23.07.80</a></td>
   <td align="right">4470kB</td>
   <td><tt>c0bccd9f2cf6f89531ea508a828ef3a6c80992d1615d908637da455147334738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kalarm-23.07.80.tar.xz">kalarm-23.07.80</a></td>
   <td align="right">2533kB</td>
   <td><tt>1e9e2b348431bd80293725714d315f723ada0695c185091df2b8acae2d10103c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kalgebra-23.07.80.tar.xz">kalgebra-23.07.80</a></td>
   <td align="right">1012kB</td>
   <td><tt>d71004072a313651443ef7d5a1e29f7826bd518e2baf097d0ce9958775812535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kalk-23.07.80.tar.xz">kalk-23.07.80</a></td>
   <td align="right">82kB</td>
   <td><tt>28d242f53f4fa042ed7eaa5adc1045a0302c6cf6545f8482f62139b60c07b9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kalzium-23.07.80.tar.xz">kalzium-23.07.80</a></td>
   <td align="right">24064kB</td>
   <td><tt>3b192e785e0b7c25a38ebb96b1d28af094f53275c28d52f7ee57aa0df0fad943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kamera-23.07.80.tar.xz">kamera-23.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>f3a11a24523e49943e706f4c70af2ef486ed07000cc188cbfd853a084303c444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kamoso-23.07.80.tar.xz">kamoso-23.07.80</a></td>
   <td align="right">226kB</td>
   <td><tt>5cb6200d7b2a770a2be46050a2026daba8582ef15e37c5ca1911afdb44902e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kanagram-23.07.80.tar.xz">kanagram-23.07.80</a></td>
   <td align="right">7877kB</td>
   <td><tt>b5324927a6b58a0476bbd02bf744c0c6284186205d8ff402a9c8e76bbd471841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kapman-23.07.80.tar.xz">kapman-23.07.80</a></td>
   <td align="right">2423kB</td>
   <td><tt>7ae64506589d34b567cd973c1ae5c9512061a9a322270e885c08ed5017e636f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kapptemplate-23.07.80.tar.xz">kapptemplate-23.07.80</a></td>
   <td align="right">331kB</td>
   <td><tt>48626f8511cc46b77d6e4a8440ad67d3662a10a8f6b9002c9f109ade2da01143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kasts-23.07.80.tar.xz">kasts-23.07.80</a></td>
   <td align="right">543kB</td>
   <td><tt>c4ccd21f11dfa3f2915d74dc065c8953041be08625b225384c37d2b9c8d6b52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kate-23.07.80.tar.xz">kate-23.07.80</a></td>
   <td align="right">7840kB</td>
   <td><tt>f5cc53bd28dba0d525216f56d3ccf42c983cea1e0dba310298a8b15852e25381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/katomic-23.07.80.tar.xz">katomic-23.07.80</a></td>
   <td align="right">1417kB</td>
   <td><tt>5f52993cdbe77e2a47a5c62c54c343fd9c33e1eab5d167d2cba25b27f2044331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kbackup-23.07.80.tar.xz">kbackup-23.07.80</a></td>
   <td align="right">388kB</td>
   <td><tt>d520bc9e2f793da4e2226a7e9cd322a8a5278e38596615d4422fd2a4d06116b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kblackbox-23.07.80.tar.xz">kblackbox-23.07.80</a></td>
   <td align="right">537kB</td>
   <td><tt>974d525feab10718cf3c88fe2d49e0995fe5067edc5e164f87f1b77d9d75b168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kblocks-23.07.80.tar.xz">kblocks-23.07.80</a></td>
   <td align="right">2059kB</td>
   <td><tt>269bb2c3a393015219739531dc3261bcd6413f045c0d93de7fce552abd53424e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kbounce-23.07.80.tar.xz">kbounce-23.07.80</a></td>
   <td align="right">3460kB</td>
   <td><tt>9fec14a1e47070bffa1265943fca8b4765aaedd5806d4670af96ab4064656761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kbreakout-23.07.80.tar.xz">kbreakout-23.07.80</a></td>
   <td align="right">2499kB</td>
   <td><tt>d2ba2d72720e6b3f413fc492f837c47ba302108a414eebe69869d05a1cb2cb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kbruch-23.07.80.tar.xz">kbruch-23.07.80</a></td>
   <td align="right">5523kB</td>
   <td><tt>f562f64df47cc7ad296e7c1ce58efe1423348ec7027843b999f336d02472d7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcachegrind-23.07.80.tar.xz">kcachegrind-23.07.80</a></td>
   <td align="right">900kB</td>
   <td><tt>5d2b90a01e1f3a06a2baea0f157ff74e16d71e5220be530b4ebc40e00811016d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcalc-23.07.80.tar.xz">kcalc-23.07.80</a></td>
   <td align="right">427kB</td>
   <td><tt>a113409f03bdf3039cd4bbd3a2c4ed1e84140ba89ba83c4f6808139c7d2892f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcalutils-23.07.80.tar.xz">kcalutils-23.07.80</a></td>
   <td align="right">343kB</td>
   <td><tt>5d7278e2f1f7c0388a61d5055f07c170d8ca18b89fbb5d4abb941ea31d6bfe23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcharselect-23.07.80.tar.xz">kcharselect-23.07.80</a></td>
   <td align="right">374kB</td>
   <td><tt>02de7b902569bdf68589379e48f9df6e9723ea8556316273135e94ab2d3f4d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kclock-23.07.80.tar.xz">kclock-23.07.80</a></td>
   <td align="right">624kB</td>
   <td><tt>003bb1c307ee4ad6d2f76d2e5a1bd71152eca6b8597008684f9195497781b8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcolorchooser-23.07.80.tar.xz">kcolorchooser-23.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>910450355f78ce4c1cd457fa707ed9ad4fc2bbd895dc2b7770e7d37c8db8aa5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kcron-23.07.80.tar.xz">kcron-23.07.80</a></td>
   <td align="right">919kB</td>
   <td><tt>2fa0d0ae46cdb63805e716d4f4015cdf0357f487b11cbd398a090a5d6949ad52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdebugsettings-23.07.80.tar.xz">kdebugsettings-23.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>664f87c209ab77cbb298712a98620de296861765b04b86033097dc1dbfe3e20f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdeconnect-kde-23.07.80.tar.xz">kdeconnect-kde-23.07.80</a></td>
   <td align="right">638kB</td>
   <td><tt>f552a3f521f686be8315fca643676372e67637740af589ef5531a083beba1a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kde-dev-scripts-23.07.80.tar.xz">kde-dev-scripts-23.07.80</a></td>
   <td align="right">365kB</td>
   <td><tt>7677bf8c8f443e786a0366953f8fe6c0efd6cf1be51e6d79ce04bd37af86f896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kde-dev-utils-23.07.80.tar.xz">kde-dev-utils-23.07.80</a></td>
   <td align="right">72kB</td>
   <td><tt>c017a840540537bf9c503e217360b15b1ea77b40138328ad15f3a9f086b074da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdeedu-data-23.07.80.tar.xz">kdeedu-data-23.07.80</a></td>
   <td align="right">325kB</td>
   <td><tt>0387f051d56f60d405c2c42d4e99fd73eaeb4e9bf8bf5a179cedc15190280291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdegraphics-mobipocket-23.07.80.tar.xz">kdegraphics-mobipocket-23.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>be16c55a0eb7758be5414ab20fa6df793d1da9aff6dce5ee24942a73d01b8fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdegraphics-thumbnailers-23.07.80.tar.xz">kdegraphics-thumbnailers-23.07.80</a></td>
   <td align="right">48kB</td>
   <td><tt>c379b91672cf8654f91b33a71e8ba416ae135ff026afa4135e0935587d38e59a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kde-inotify-survey-23.07.80.tar.xz">kde-inotify-survey-23.07.80</a></td>
   <td align="right">224kB</td>
   <td><tt>05eec4b4e539231c5b0c2be0b8aafa1143385a7c65c71bf5aedab40d27df3f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdenetwork-filesharing-23.07.80.tar.xz">kdenetwork-filesharing-23.07.80</a></td>
   <td align="right">468kB</td>
   <td><tt>46dd7cb22716acec63bcbbf584972a8eff9eb3bb276f0011652238dab61dcf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdenlive-23.07.80.tar.xz">kdenlive-23.07.80</a></td>
   <td align="right">12385kB</td>
   <td><tt>94ed215660292b18ebf8b704d37df8798226003172ca235aa5990a1c02300f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdepim-addons-23.07.80.tar.xz">kdepim-addons-23.07.80</a></td>
   <td align="right">2580kB</td>
   <td><tt>61dbd59ec8b9e9523879df4b8b065c2b182c92208aba8ba53c3c2086d8b6ada3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdepim-runtime-23.07.80.tar.xz">kdepim-runtime-23.07.80</a></td>
   <td align="right">1819kB</td>
   <td><tt>f78347aff99984697648ceaae0732e06d6831a0f1b7cbc95980c93bf6a72fc88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdesdk-kio-23.07.80.tar.xz">kdesdk-kio-23.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>075151acd011eac10f0b2430fc55863bec24ff3d150aacab4b311136eb177fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdesdk-thumbnailers-23.07.80.tar.xz">kdesdk-thumbnailers-23.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>5e0038a28501a14341b8931e90c1b2594ff6154d10eb77d68c06ac88576de7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdevelop-23.07.80.tar.xz">kdevelop-23.07.80</a></td>
   <td align="right">8500kB</td>
   <td><tt>c1607dcea10dffb9cfe63e39444d91c8c692ed1561ef5d86ca882fda9460e073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdev-php-23.07.80.tar.xz">kdev-php-23.07.80</a></td>
   <td align="right">1062kB</td>
   <td><tt>9d9f1fcddc76dc2d1b5b121309b70c274b75ed22479dd14fb3d7424460600ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdev-python-23.07.80.tar.xz">kdev-python-23.07.80</a></td>
   <td align="right">1071kB</td>
   <td><tt>5975399b5cbd3f2ead19db932ed589c4a633f1f77bf4c4c02778110e0dd896d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdf-23.07.80.tar.xz">kdf-23.07.80</a></td>
   <td align="right">480kB</td>
   <td><tt>4f5c754ddf73a3a8124cf8c86223a8da8187fe955a97a00a3cfd20f87f461470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdialog-23.07.80.tar.xz">kdialog-23.07.80</a></td>
   <td align="right">139kB</td>
   <td><tt>9eb1f28b9b295a118a8f2056f82320c8474de4babb7cb6dbe3c7104f60f50fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kdiamond-23.07.80.tar.xz">kdiamond-23.07.80</a></td>
   <td align="right">4598kB</td>
   <td><tt>725feb1d9a74919f24ce8cd5142efdfee202e4fba04af8aaec6044af3fe69051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/keditbookmarks-23.07.80.tar.xz">keditbookmarks-23.07.80</a></td>
   <td align="right">233kB</td>
   <td><tt>4bc3e1774877130d249b6cc76d98dbdd455826c9761597e790f8d98ab67ccdd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/keysmith-23.07.80.tar.xz">keysmith-23.07.80</a></td>
   <td align="right">159kB</td>
   <td><tt>6d24141751a3be8c7d5d610ba7c19ca38b05c031e32e990c53b9f9aa6cd3d572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kfind-23.07.80.tar.xz">kfind-23.07.80</a></td>
   <td align="right">335kB</td>
   <td><tt>7a7394c2414affbe5a72ceb8a44f71e29268d0e6be9aadb72024e96d7bb6a63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kfourinline-23.07.80.tar.xz">kfourinline-23.07.80</a></td>
   <td align="right">721kB</td>
   <td><tt>d4181723f7a67cdee5952521ceb2896023347dda3b81aff93a50571fa3e4ad45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kgeography-23.07.80.tar.xz">kgeography-23.07.80</a></td>
   <td align="right">12257kB</td>
   <td><tt>ad22bd979711e4a722f0e104cbd806e660014dc631a9e8acc2abdcfedb0bfe94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kget-23.07.80.tar.xz">kget-23.07.80</a></td>
   <td align="right">5433kB</td>
   <td><tt>e705bbc8fb350f8dd40d8d4350337a418fccdf540f34208b24f4e476802788cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kgoldrunner-23.07.80.tar.xz">kgoldrunner-23.07.80</a></td>
   <td align="right">4789kB</td>
   <td><tt>fe0e1e4a9aceacd7eb477d87f70e1fc18663e4dbecbb52de5494d006d0e3f151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kgpg-23.07.80.tar.xz">kgpg-23.07.80</a></td>
   <td align="right">2974kB</td>
   <td><tt>3fbc0ebb3a41cc47d145ff801db28377915794dc98fcbc08e447dfe3beff0b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/khangman-23.07.80.tar.xz">khangman-23.07.80</a></td>
   <td align="right">7267kB</td>
   <td><tt>09b6872926f1d8ea8562e087c615c44f34d4002ea58d63bd1b2089e819bb0e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/khelpcenter-23.07.80.tar.xz">khelpcenter-23.07.80</a></td>
   <td align="right">4266kB</td>
   <td><tt>687e364d2dd4c3f31fa5d5437cd4a8bf43791c6cf734ee3d6a65e89ef467e8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kidentitymanagement-23.07.80.tar.xz">kidentitymanagement-23.07.80</a></td>
   <td align="right">160kB</td>
   <td><tt>8a30c702b8962b8acc5cb484a63910627a4c7afea71d794b366b0c968c4d1b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kig-23.07.80.tar.xz">kig-23.07.80</a></td>
   <td align="right">3220kB</td>
   <td><tt>c26f79d5c67ffa02c52632f328f8ad228863affd60acc2cf15ecfaa159d21384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kigo-23.07.80.tar.xz">kigo-23.07.80</a></td>
   <td align="right">5142kB</td>
   <td><tt>177fdeec5aeb9886433a6f54775a23656319befddd9b88f1e0cedada5c288b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/killbots-23.07.80.tar.xz">killbots-23.07.80</a></td>
   <td align="right">1174kB</td>
   <td><tt>d0be1906dc03e9652872d373b2d42306aead197b463c7ebd855bef2d600b41a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kimagemapeditor-23.07.80.tar.xz">kimagemapeditor-23.07.80</a></td>
   <td align="right">1078kB</td>
   <td><tt>17a85421d2202fb9c4b2976adfb1008fb222b756575885484f7fc76bfbb3b3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kimap-23.07.80.tar.xz">kimap-23.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>57ee3e4964752d950d4838176a9aaba4fab85f04a160b287ba68d75cc54787d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kio-admin-23.07.80.tar.xz">kio-admin-23.07.80</a></td>
   <td align="right">34kB</td>
   <td><tt>46b2424a1fb3feca3dddd3011ec37e1aa3ecbabcf98fa197faf58cb3b999d5b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kio-extras-23.07.80.tar.xz">kio-extras-23.07.80</a></td>
   <td align="right">1395kB</td>
   <td><tt>7fce65aa0805b9405cdb3bf77e687518dd6cee68bbe4f1497a3088980cb24e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kio-gdrive-23.07.80.tar.xz">kio-gdrive-23.07.80</a></td>
   <td align="right">77kB</td>
   <td><tt>afa587c06372d47c116082f097a7136a59ef66d5121441a6439252bfb29fa99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kio-zeroconf-23.07.80.tar.xz">kio-zeroconf-23.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>b8d96a35ea5065e54c84c21361f18b6d6ec4aa49444abc7ec22c305a3869c1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kipi-plugins-23.07.80.tar.xz">kipi-plugins-23.07.80</a></td>
   <td align="right">1527kB</td>
   <td><tt>fadea7f358c818cd0c5ca2e51e3a86c25b0d336416861f60867912ff07c96fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kirigami-gallery-23.07.80.tar.xz">kirigami-gallery-23.07.80</a></td>
   <td align="right">342kB</td>
   <td><tt>96e112a383b79f5569e95c9f6e8704bb1e6edfbe019deaf9b80f6b1701e0ccfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kiriki-23.07.80.tar.xz">kiriki-23.07.80</a></td>
   <td align="right">361kB</td>
   <td><tt>b0a97f1cc60c79401309706b752c2ab3ff0db8e056dcc12431487b47b7b18ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kiten-23.07.80.tar.xz">kiten-23.07.80</a></td>
   <td align="right">11068kB</td>
   <td><tt>b42d79f28b06fcb2275335269565a94a6fa205f6d5ba0964ff2f77366a3e668e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kitinerary-23.07.80.tar.xz">kitinerary-23.07.80</a></td>
   <td align="right">1879kB</td>
   <td><tt>4d82036a8167b62366d398022474494911381f80c7e293117d381548361a617d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kjournald-23.07.80.tar.xz">kjournald-23.07.80</a></td>
   <td align="right">501kB</td>
   <td><tt>9773c7d84ecef9d4fb1269c59d1ee3548fb0d3069adb23fe2b44ac4ae6055521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kjumpingcube-23.07.80.tar.xz">kjumpingcube-23.07.80</a></td>
   <td align="right">329kB</td>
   <td><tt>369a80fc74e84b524e7a5c54c275b2cb9a11eb749ba4df9b5f46c6f26755d9eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kldap-23.07.80.tar.xz">kldap-23.07.80</a></td>
   <td align="right">178kB</td>
   <td><tt>a4b995b6f0c35fcf768194eb7b1c74be0a130cf2c933a357e42f791da2bc7498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kleopatra-23.07.80.tar.xz">kleopatra-23.07.80</a></td>
   <td align="right">2612kB</td>
   <td><tt>356d706f24043f061b35b9c5606d0b4624cc232f987787a5307b63e16699232b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/klettres-23.07.80.tar.xz">klettres-23.07.80</a></td>
   <td align="right">46727kB</td>
   <td><tt>5586261215953441f30a028462e63f19e507934a27632ef4d9dc75fc018d2752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/klickety-23.07.80.tar.xz">klickety-23.07.80</a></td>
   <td align="right">1465kB</td>
   <td><tt>5c26f90e69413507c286d58cf06e77f70c00febae36163112c571d39e10ab167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/klines-23.07.80.tar.xz">klines-23.07.80</a></td>
   <td align="right">1698kB</td>
   <td><tt>7cb6efcf19e1c85ccee33c843d5dd0e64f5222d97c4d1cf592764657ab304c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmag-23.07.80.tar.xz">kmag-23.07.80</a></td>
   <td align="right">707kB</td>
   <td><tt>3e959229d6f68f20fda74f1b5e6ca902412441183a47c4f6f312a66fe8a66851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmahjongg-23.07.80.tar.xz">kmahjongg-23.07.80</a></td>
   <td align="right">3999kB</td>
   <td><tt>6b2808cc952e1ffbdbe8a92e40703ec81197c06f5d5ceae3a7b36ed26b3418fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmail-23.07.80.tar.xz">kmail-23.07.80</a></td>
   <td align="right">7471kB</td>
   <td><tt>e95f4e7cb80c4c181da8269cf55895a8b27697338d7480f633694d601e12652a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmail-account-wizard-23.07.80.tar.xz">kmail-account-wizard-23.07.80</a></td>
   <td align="right">180kB</td>
   <td><tt>69e00377ac937e64de642f227cc77853547d66de4be5a496c9534216b4aa4c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmailtransport-23.07.80.tar.xz">kmailtransport-23.07.80</a></td>
   <td align="right">170kB</td>
   <td><tt>34dd71710dafbd24896d699796196fac072e019eda6962c4e3f4ff8c3ada3380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmbox-23.07.80.tar.xz">kmbox-23.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>42224c3500650a1dab581d85526d6f5f37e5326c9d21fc0195bc62d8eeaf228d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmime-23.07.80.tar.xz">kmime-23.07.80</a></td>
   <td align="right">158kB</td>
   <td><tt>66989de730e0438b017237cbd4aa62ee759cad9f47ef4f0c37ee781608cf01f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmines-23.07.80.tar.xz">kmines-23.07.80</a></td>
   <td align="right">985kB</td>
   <td><tt>03c71ae7970785d852c94069c67905f434debbf21fb2a32064e7a629e8758c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmix-23.07.80.tar.xz">kmix-23.07.80</a></td>
   <td align="right">1179kB</td>
   <td><tt>263a00c39a3f55368ca8889dad97b042897dfedf2c067b112fd6fa4145be0201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmousetool-23.07.80.tar.xz">kmousetool-23.07.80</a></td>
   <td align="right">126kB</td>
   <td><tt>48a50e9bc5d610ccb9fe9256a3b2ba4a2c65106498b2041dc9313befd6097d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmouth-23.07.80.tar.xz">kmouth-23.07.80</a></td>
   <td align="right">2038kB</td>
   <td><tt>003203d011d8af257e288ac9f16142c756d53c00223f32cba8c237d8532eb807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kmplot-23.07.80.tar.xz">kmplot-23.07.80</a></td>
   <td align="right">3026kB</td>
   <td><tt>a71170f956405a3e41155057ccfc789bbd642d7578abc87cdee20cc0f7c826ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/knavalbattle-23.07.80.tar.xz">knavalbattle-23.07.80</a></td>
   <td align="right">1367kB</td>
   <td><tt>b10d1b93dcf9917d7dedbfb1845777ea11fcf3ef0029a793dd88985e107dd6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/knetwalk-23.07.80.tar.xz">knetwalk-23.07.80</a></td>
   <td align="right">1079kB</td>
   <td><tt>ba90638bfdd04ef5c205f2d505a19913799b46aaec0e7fbc26bd48f05a15cc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/knights-23.07.80.tar.xz">knights-23.07.80</a></td>
   <td align="right">3251kB</td>
   <td><tt>462c439b0833d0b62ab4ee99f3fc34f739b35afe045cc7554612d65df425a0e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/knotes-23.07.80.tar.xz">knotes-23.07.80</a></td>
   <td align="right">368kB</td>
   <td><tt>ee95f033ac68f9145ce9eda099ac15213adec0239d19e4120f59343b096e32e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/koko-23.07.80.tar.xz">koko-23.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>558246306811f348874ab735f222cbfbcca5dff790f4ff315908e9a8a8162ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kolf-23.07.80.tar.xz">kolf-23.07.80</a></td>
   <td align="right">1046kB</td>
   <td><tt>84dd3f9a474b1b8a9303d38d99107b3f74ba6c768d22cf4683d22255e758a430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kollision-23.07.80.tar.xz">kollision-23.07.80</a></td>
   <td align="right">300kB</td>
   <td><tt>1e1c7f14b84aa9f844faffaeafb8747b1e7bb1fbb57c664c60a95fafb989f46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kolourpaint-23.07.80.tar.xz">kolourpaint-23.07.80</a></td>
   <td align="right">5650kB</td>
   <td><tt>15daa46f29c9c3aea85c239c65a1c138ba69fc5de6e77d1afbbf6b5808a460f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kompare-23.07.80.tar.xz">kompare-23.07.80</a></td>
   <td align="right">960kB</td>
   <td><tt>61d20937c430f0035fbe459582ebdf7b0b8c06ea3798485689c823810a557286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kongress-23.07.80.tar.xz">kongress-23.07.80</a></td>
   <td align="right">574kB</td>
   <td><tt>b020d40cf484b21dde24a8b299acd7ef4c476a66d98b03b7d87c0cff1d20bc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/konqueror-23.07.80.tar.xz">konqueror-23.07.80</a></td>
   <td align="right">9828kB</td>
   <td><tt>342427dfe7e9246faca724473e4322e7adccc81518b97c980fd1c29988817a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/konquest-23.07.80.tar.xz">konquest-23.07.80</a></td>
   <td align="right">854kB</td>
   <td><tt>bccaba54b8255322ef9a49809fa387cd1d5ab8fc8ed3cc19d136697fe28648cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/konsole-23.07.80.tar.xz">konsole-23.07.80</a></td>
   <td align="right">1782kB</td>
   <td><tt>9bdb69474acca0f5f683a56da0888889ad3d1ff1fdfdb01221e7d834f2de8db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kontact-23.07.80.tar.xz">kontact-23.07.80</a></td>
   <td align="right">854kB</td>
   <td><tt>4274e352a64ec1817f9ce9aed724175c29ed1630281b88f64d1ff46da7fac029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kontactinterface-23.07.80.tar.xz">kontactinterface-23.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>15a0469313ee3be452c7fa87c4b39c99bd51f4e21c483a4f389d44d955293688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kontrast-23.07.80.tar.xz">kontrast-23.07.80</a></td>
   <td align="right">203kB</td>
   <td><tt>713b4150e615498eb5f34dc36b65c26dd26d01bdb96b4f794f7e5c9392d77dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/konversation-23.07.80.tar.xz">konversation-23.07.80</a></td>
   <td align="right">4372kB</td>
   <td><tt>2562fbf46dcedf9e63feadf34e3bd05e40c9011c7924c226382b4c84a7a1e6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kopeninghours-23.07.80.tar.xz">kopeninghours-23.07.80</a></td>
   <td align="right">70kB</td>
   <td><tt>d803d9c800f46917841d11543b3f35339204726ea49dd56e03c5fd948bcd81c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kopete-23.07.80.tar.xz">kopete-23.07.80</a></td>
   <td align="right">9907kB</td>
   <td><tt>ace9caa681e6b0c3267af2085d8cd27bf0e9c1555f561cd26cff57427fc68449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/korganizer-23.07.80.tar.xz">korganizer-23.07.80</a></td>
   <td align="right">2476kB</td>
   <td><tt>24b682c25e7df70d0387a8c8f6e4b8a174f03c2dce0ff9e258a21304368c2e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kosmindoormap-23.07.80.tar.xz">kosmindoormap-23.07.80</a></td>
   <td align="right">367kB</td>
   <td><tt>d9b03ca237d8fe95385498b6e866bd1de03bc283175a36277ee9cc25bb69798c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kpat-23.07.80.tar.xz">kpat-23.07.80</a></td>
   <td align="right">3664kB</td>
   <td><tt>36fa193391e064cfa1ffc4ae171df47ead7e35a55cc2f518d994170b4fdbc4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kpimtextedit-23.07.80.tar.xz">kpimtextedit-23.07.80</a></td>
   <td align="right">295kB</td>
   <td><tt>414b16eefdf0a92b9d2116d28979f0bd4bf90c8f0dc9d8ad5c96c375861b0633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kpkpass-23.07.80.tar.xz">kpkpass-23.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>7d0f0d73c6048c71619f869187ac0fa6df5ff3d3d1d9c39a6901567397680dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kpmcore-23.07.80.tar.xz">kpmcore-23.07.80</a></td>
   <td align="right">608kB</td>
   <td><tt>bea95dc73de35b925c8192af4063d1027f6b1e0666d322be9558627853f107cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kpublictransport-23.07.80.tar.xz">kpublictransport-23.07.80</a></td>
   <td align="right">554kB</td>
   <td><tt>620e0712b61145098c2ec568a9877764d28b70d7a94293e987d6165f32249cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kqtquickcharts-23.07.80.tar.xz">kqtquickcharts-23.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>bd642a703e99f4e34597ca47e7006b3c1c0a2f2e3f2feffbe2ae4fe24938256a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/krdc-23.07.80.tar.xz">krdc-23.07.80</a></td>
   <td align="right">1590kB</td>
   <td><tt>03464732accaccc3c39cb81021af7a431bfac1ec3988ce5af88992566687476c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/krecorder-23.07.80.tar.xz">krecorder-23.07.80</a></td>
   <td align="right">156kB</td>
   <td><tt>7d05400b13124b69cd070e209e5d02303caa152d33446c24379fde2df88a3be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kreversi-23.07.80.tar.xz">kreversi-23.07.80</a></td>
   <td align="right">1052kB</td>
   <td><tt>4bd51e2ab8fce8d3c22e5026a2377a4262162ac5230c8a2fa86889084879c4d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/krfb-23.07.80.tar.xz">krfb-23.07.80</a></td>
   <td align="right">1288kB</td>
   <td><tt>d5d3d13d26181eb5aecf3ae2d8bb5c6d33c0b4cb058beba32c6a31d90b2e5846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kross-interpreters-23.07.80.tar.xz">kross-interpreters-23.07.80</a></td>
   <td align="right">148kB</td>
   <td><tt>9750c07ac5c76205ffddb83e1d3065cad9ee905cce132928b18137be87f5f6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kruler-23.07.80.tar.xz">kruler-23.07.80</a></td>
   <td align="right">280kB</td>
   <td><tt>2a6ec2574c96d482d147ea6646f7623680a3c0b0c7ad40253faa0d57e6bbe347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksanecore-23.07.80.tar.xz">ksanecore-23.07.80</a></td>
   <td align="right">48kB</td>
   <td><tt>48f8a340bb394fe9987c30a2cec2bfe7c9bb1e854e9d3d88af09bbe54dc0e1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kshisen-23.07.80.tar.xz">kshisen-23.07.80</a></td>
   <td align="right">984kB</td>
   <td><tt>fdd602b84c627aa7f53de92d5dfb1b69bc8c48a421f5b112c1dd380d6629e5cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksirk-23.07.80.tar.xz">ksirk-23.07.80</a></td>
   <td align="right">6882kB</td>
   <td><tt>03fd6cab778236eb074a384c4f952c6cc4fa2b3f172b21b7a33d2f07beaa818a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksmtp-23.07.80.tar.xz">ksmtp-23.07.80</a></td>
   <td align="right">49kB</td>
   <td><tt>bd6c98eca8de888b82055a4b6dce2cd6894fc969dbb145f0908c5e0cc6b7986b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksnakeduel-23.07.80.tar.xz">ksnakeduel-23.07.80</a></td>
   <td align="right">587kB</td>
   <td><tt>bef8696732ffb34f140fc0cec176e7c828fdcc35fd1f8a0b20f1eb26d2ad0625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kspaceduel-23.07.80.tar.xz">kspaceduel-23.07.80</a></td>
   <td align="right">644kB</td>
   <td><tt>78bed17a7f4096f2f7163721c7d47ca2101ed046e293d23086e2ab2ce715522a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksquares-23.07.80.tar.xz">ksquares-23.07.80</a></td>
   <td align="right">305kB</td>
   <td><tt>26a7b29caf8a89face8b66cb55b917edd02854d99d59bb23b074f9c6589c1acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksudoku-23.07.80.tar.xz">ksudoku-23.07.80</a></td>
   <td align="right">1662kB</td>
   <td><tt>4cba7186704f1fe3b3967301f41e57eed81f9ce93f0fde9c1ac4fbb64f3eedc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ksystemlog-23.07.80.tar.xz">ksystemlog-23.07.80</a></td>
   <td align="right">1957kB</td>
   <td><tt>a19d5b34825e51a5350ebf950152c13c495975b2bd3bdec2d2ba45fc7ed18eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kteatime-23.07.80.tar.xz">kteatime-23.07.80</a></td>
   <td align="right">305kB</td>
   <td><tt>4f16f264a6a139c2b2de1eafdfc0daf3d0473f6c930e263c10ad2f0958db5d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktimer-23.07.80.tar.xz">ktimer-23.07.80</a></td>
   <td align="right">395kB</td>
   <td><tt>f3027c3eeb7f95aef8f966e3d2dd13474c19fd18a3789cbed958cba20fa729d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktnef-23.07.80.tar.xz">ktnef-23.07.80</a></td>
   <td align="right">302kB</td>
   <td><tt>32610dba7de98f51f6b02895d21508e02c1c047ade7fdebf52a84d54055a64c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktorrent-23.07.80.tar.xz">ktorrent-23.07.80</a></td>
   <td align="right">2103kB</td>
   <td><tt>abf03e0cd32069bfe8a32f895d22cd0159479cc79a7937635ffe2a6a1a84c8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktouch-23.07.80.tar.xz">ktouch-23.07.80</a></td>
   <td align="right">4919kB</td>
   <td><tt>9be56ed6cf47a9191d8148f7db3282b967582e139e065b9d76558e83df08e998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktrip-23.07.80.tar.xz">ktrip-23.07.80</a></td>
   <td align="right">247kB</td>
   <td><tt>129411643eede26e8278764e6dc9445e1cd3213858450e05007218d4e469a168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/ktuberling-23.07.80.tar.xz">ktuberling-23.07.80</a></td>
   <td align="right">69730kB</td>
   <td><tt>f55cc0fba96f4d84915b8e80ae069ea86648722d891d621ad9d7c5bd2dbdc5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kturtle-23.07.80.tar.xz">kturtle-23.07.80</a></td>
   <td align="right">2190kB</td>
   <td><tt>103233efb0f8cc6e110bb57e0cc5b156fcd62af0d3cc815d1de96a083d92cc6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kubrick-23.07.80.tar.xz">kubrick-23.07.80</a></td>
   <td align="right">340kB</td>
   <td><tt>d7b7272678a098046add96fa70e92b7ac4637ea120b9ffc2d7e3a39c8903f44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kwalletmanager-23.07.80.tar.xz">kwalletmanager-23.07.80</a></td>
   <td align="right">831kB</td>
   <td><tt>592da231a21ca1cf73441a66a660d36b74754b80bd0b271809812e77eb19b6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kwave-23.07.80.tar.xz">kwave-23.07.80</a></td>
   <td align="right">6802kB</td>
   <td><tt>f4cb8d36a31a3e256cee7c6c67b0b53947f352bfffaf63f51f622aeac1e75939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kweather-23.07.80.tar.xz">kweather-23.07.80</a></td>
   <td align="right">921kB</td>
   <td><tt>33a087a9414f081cb67e73f06122ca2596e2dc1823ad10fb0ddc545384d99823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/kwordquiz-23.07.80.tar.xz">kwordquiz-23.07.80</a></td>
   <td align="right">4012kB</td>
   <td><tt>c836e4aae13b9a0f5e2400a9450de0a0b7fe53f278ee1495e802a518dd5b0516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libgravatar-23.07.80.tar.xz">libgravatar-23.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>8fcbcc371b3cb49b28fffbf8cf7e029c26b5aebb333c5de9aa8d997c8f4b57d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkcddb-23.07.80.tar.xz">libkcddb-23.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>4783001a03152067b95330a516f401146ae86d4a08d0246d0f4c84eb8b773511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkcompactdisc-23.07.80.tar.xz">libkcompactdisc-23.07.80</a></td>
   <td align="right">97kB</td>
   <td><tt>b89c5b45a284382d4eab0e976a7e46ff8e2e271a7ed08f143ab00c1e350ef122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkdcraw-23.07.80.tar.xz">libkdcraw-23.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>d5421f1b5c4cbee2e615a30d88c291ef84a8210ce31648f58bc92120597fec9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkdegames-23.07.80.tar.xz">libkdegames-23.07.80</a></td>
   <td align="right">5847kB</td>
   <td><tt>689aa975a1cea8a6888d07830da0a8cc68a093d7c970eec656807c44b846dff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkdepim-23.07.80.tar.xz">libkdepim-23.07.80</a></td>
   <td align="right">278kB</td>
   <td><tt>884a30047a6a69a1330f871aeb927afebad3a027d46386538c13246a9a6c5176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkeduvocdocument-23.07.80.tar.xz">libkeduvocdocument-23.07.80</a></td>
   <td align="right">223kB</td>
   <td><tt>27c85557e44e8deae612a79b463737aa1b18dbefb8c6def5947b2c1d7aec5c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkexiv2-23.07.80.tar.xz">libkexiv2-23.07.80</a></td>
   <td align="right">59kB</td>
   <td><tt>28fcae808d893bde87c04347077ddb336dfa4c856aff3d853383d3b132cb4e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkgapi-23.07.80.tar.xz">libkgapi-23.07.80</a></td>
   <td align="right">327kB</td>
   <td><tt>fb2c78e83531bf59fef600f65aac4d7f2327f74ab320a3cbf2892f93156ab6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkipi-23.07.80.tar.xz">libkipi-23.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>bcfc8e14af877520130a652a62ef8353a74ea81686d285f7d93426c489731d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkleo-23.07.80.tar.xz">libkleo-23.07.80</a></td>
   <td align="right">535kB</td>
   <td><tt>e6c6dcbd42819b882bd9f1ee0ccc4d68a9ffd22a0ac01dd04c27e5b3d9b70827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkmahjongg-23.07.80.tar.xz">libkmahjongg-23.07.80</a></td>
   <td align="right">1648kB</td>
   <td><tt>27a579a401b8e5e78f0b5bf8da44aa33809b1881eec712bd38e217658e565438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libkomparediff2-23.07.80.tar.xz">libkomparediff2-23.07.80</a></td>
   <td align="right">183kB</td>
   <td><tt>0d7a3a2800d6a6afe710a239bf6c83f9189d26477bb913f5e9506d0028f19df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libksane-23.07.80.tar.xz">libksane-23.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>5ec6b1613b879f9189d0240ff079aeb17bfc6d5d3540e9754fb6180f895a67f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libksieve-23.07.80.tar.xz">libksieve-23.07.80</a></td>
   <td align="right">542kB</td>
   <td><tt>cd0fc158af4c97301428a0d8d581a8828b3d4e9066b556f329c926f531ac3a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/libktorrent-23.07.80.tar.xz">libktorrent-23.07.80</a></td>
   <td align="right">589kB</td>
   <td><tt>52bac71968dbd49c9269b8039151d413658d324041089467dabf2dc494efc400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/lokalize-23.07.80.tar.xz">lokalize-23.07.80</a></td>
   <td align="right">2088kB</td>
   <td><tt>cee63cdf0aa13b102757fa4ad8c2ab90b7699ca94e3af279ac32ca6dcb25599e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/lskat-23.07.80.tar.xz">lskat-23.07.80</a></td>
   <td align="right">1219kB</td>
   <td><tt>762114ceb280e563ecdccaccf23bcab246eb9dd8e84cf2e5b1854909e7db30e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/mailcommon-23.07.80.tar.xz">mailcommon-23.07.80</a></td>
   <td align="right">740kB</td>
   <td><tt>baff217d6eb5c05c215f39936bca73a32f92462530c380cef77d94017d304631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/mailimporter-23.07.80.tar.xz">mailimporter-23.07.80</a></td>
   <td align="right">577kB</td>
   <td><tt>256f99b524a69dc51fb92bc4a9c26a0c39876c0293ca04188d5dafbbacc360c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/marble-23.07.80.tar.xz">marble-23.07.80</a></td>
   <td align="right">52524kB</td>
   <td><tt>f0238e2678ef49f0967b0984c4434919833c09cfa9e20e79e95ddbee72aaba4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/markdownpart-23.07.80.tar.xz">markdownpart-23.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>b6993384360133df97947ede6817b6fe85e2f4db2f150c22416ad20f9161929a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/mbox-importer-23.07.80.tar.xz">mbox-importer-23.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>a8d9600877194d214c5c588ef560f1111b25e9df23959cf889a30048ed4bf05b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/merkuro-23.07.80.tar.xz">merkuro-23.07.80</a></td>
   <td align="right">940kB</td>
   <td><tt>b0f39ec4ac09c29c0d0b92472c454e41cec3a8f5194e78278fb4c680f3df2649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/messagelib-23.07.80.tar.xz">messagelib-23.07.80</a></td>
   <td align="right">11019kB</td>
   <td><tt>a7aaafa9baefaffac3ccdac610fec7dda61f18d9e877a5e6719fa18c6e43d7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/minuet-23.07.80.tar.xz">minuet-23.07.80</a></td>
   <td align="right">27036kB</td>
   <td><tt>1ee8ed8d3736acd42ef443d43e20f2cf278a8a6b8835e666b480cf5bd4bde7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/neochat-23.07.80.tar.xz">neochat-23.07.80</a></td>
   <td align="right">748kB</td>
   <td><tt>fc2aded46750f71781428ce77aa9e35f5518dc93fd754f6454c74cbb1eac865e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/okular-23.07.80.tar.xz">okular-23.07.80</a></td>
   <td align="right">8311kB</td>
   <td><tt>bd11e9dbc0c6c38841a4c93c2b40a7842714d7690f8384eadc1dba16f0652891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/palapeli-23.07.80.tar.xz">palapeli-23.07.80</a></td>
   <td align="right">2062kB</td>
   <td><tt>745818eb007c9d23f3a198b08dfe664db70f06397da5eb2d94e33dc480f5f4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/parley-23.07.80.tar.xz">parley-23.07.80</a></td>
   <td align="right">8396kB</td>
   <td><tt>a9424d5686ab0380bb83ba2945f2e93d57cdd6bbfed64c80a756f7e03ac1fd4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/partitionmanager-23.07.80.tar.xz">partitionmanager-23.07.80</a></td>
   <td align="right">2097kB</td>
   <td><tt>1425901d8ef7a004c7d15c3f9e5ff21b27121b327b1f522c68d439c7cc7a231b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/picmi-23.07.80.tar.xz">picmi-23.07.80</a></td>
   <td align="right">1504kB</td>
   <td><tt>3ff2e47d52ebd7ddf89b4929af5177361adc7ab06d7ed7803aa57708c51e2338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/pimcommon-23.07.80.tar.xz">pimcommon-23.07.80</a></td>
   <td align="right">340kB</td>
   <td><tt>b5562280a11799c25c04b4ff5a9eaef0cbaf831e557c96ff92dcd09bed30cc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/pim-data-exporter-23.07.80.tar.xz">pim-data-exporter-23.07.80</a></td>
   <td align="right">417kB</td>
   <td><tt>eaaec807b329884d25496a4d0f254b9bcbf5b22ec31531dd5379e8fe1125c7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/pim-sieve-editor-23.07.80.tar.xz">pim-sieve-editor-23.07.80</a></td>
   <td align="right">455kB</td>
   <td><tt>b3a964ba6ad9160e92b07f067536191f6c6c2bc623332f6339b076a6bdbff177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/plasmatube-23.07.80.tar.xz">plasmatube-23.07.80</a></td>
   <td align="right">81kB</td>
   <td><tt>08154b9b643f1160e106875163d82fc942b657fe932d12b54d1c1e978fb86ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/poxml-23.07.80.tar.xz">poxml-23.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>e70a6e6bcc62975f73b38c579b2b5b61bae7f06a60ff957b977c37a94be89ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/print-manager-23.07.80.tar.xz">print-manager-23.07.80</a></td>
   <td align="right">282kB</td>
   <td><tt>054b895007761310b979a06184cc1e26f5c66cf81f3cb9bd7a54198d45fa1513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/qmlkonsole-23.07.80.tar.xz">qmlkonsole-23.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>4524916582cf60084cac3737dc4085d3b16003c8db5aa94b4cad1133c81c0d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/rocs-23.07.80.tar.xz">rocs-23.07.80</a></td>
   <td align="right">1532kB</td>
   <td><tt>34ef0477773328ce3c65c8cc65766fa8e2eca8f5a959850f96797a9e7b28a7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/signon-kwallet-extension-23.07.80.tar.xz">signon-kwallet-extension-23.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>28dc57896a564cca5ee7889bc344549646e88f8eda90735cac122bdd735eebcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/skanlite-23.07.80.tar.xz">skanlite-23.07.80</a></td>
   <td align="right">2392kB</td>
   <td><tt>061e02d33bed87222c9cc1813f98b0c929c6fa8ad3e1d7fb5dbad79134c28f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/skanpage-23.07.80.tar.xz">skanpage-23.07.80</a></td>
   <td align="right">1281kB</td>
   <td><tt>d3b93cb9c1c9c7c1f93f266de97d1ddc4bd61f75f0f23f7e8f75601ea2230ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/spectacle-23.07.80.tar.xz">spectacle-23.07.80</a></td>
   <td align="right">1319kB</td>
   <td><tt>2d7b7c20a2ab23cb356899985672ea4987270211a3f0825f49261744915f46d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/step-23.07.80.tar.xz">step-23.07.80</a></td>
   <td align="right">971kB</td>
   <td><tt>4674e4d949b77acf4321852b6204244fec88ca903c0de65783148b34dfdbc21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/svgpart-23.07.80.tar.xz">svgpart-23.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>a0e2755cd5e0be27e7a70e9e18c8e0bcd00f9b632bddd547e89ed55704b5f016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/sweeper-23.07.80.tar.xz">sweeper-23.07.80</a></td>
   <td align="right">388kB</td>
   <td><tt>83800f6aa05edeaadbeaee946ebf734620380fcd7a8bc8725a934e72787efe5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/telly-skout-23.07.80.tar.xz">telly-skout-23.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>0977b0ee9055cdd45632ac8e14c0206d07b11eae06194d20db406570aeec29de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/tokodon-23.07.80.tar.xz">tokodon-23.07.80</a></td>
   <td align="right">303kB</td>
   <td><tt>011bddc8165977a97429fc4e54c1498f3ee270c337f9b94eb5abd24a2602c694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/umbrello-23.07.80.tar.xz">umbrello-23.07.80</a></td>
   <td align="right">5638kB</td>
   <td><tt>4aa92c8713ef675dc8c758b647ce08e94de3b74c58a9b24b0d239951d43709d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/yakuake-23.07.80.tar.xz">yakuake-23.07.80</a></td>
   <td align="right">418kB</td>
   <td><tt>14d2173ad4b4894cb4e342d959bb75c0a414ecc57efd9811e41917b2b81a167b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.80/src/zanshin-23.07.80.tar.xz">zanshin-23.07.80</a></td>
   <td align="right">350kB</td>
   <td><tt>cf3c74246e427b720e8ddb5484640276731aa9979dcee4442c9cd70e5b93a2bf</tt></td>
</tr>

</table>
