
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/attica-5.69.0.tar.xz">attica-5.69.0</a></td>
   <td align="right">66kB</td>
   <td><tt>1084e9e9067394e46087ac744db7241be1c6a410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/baloo-5.69.0.tar.xz">baloo-5.69.0</a></td>
   <td align="right">271kB</td>
   <td><tt>25d288706570d2dd576878402bd7035c053e0e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/bluez-qt-5.69.0.tar.xz">bluez-qt-5.69.0</a></td>
   <td align="right">100kB</td>
   <td><tt>336d87fa6e5ff7c6dd1fcf2d5cc8ec15e538047b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/breeze-icons-5.69.0.tar.xz">breeze-icons-5.69.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>884375548ec5d223973f80d21142aba1a61dca21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/extra-cmake-modules-5.69.0.tar.xz">extra-cmake-modules-5.69.0</a></td>
   <td align="right">334kB</td>
   <td><tt>4a154a47221170870af10575de0fd50cc91e5ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/frameworkintegration-5.69.0.tar.xz">frameworkintegration-5.69.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>64c3bcad58739790d29cd934e4bc573750dac27e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kactivities-5.69.0.tar.xz">kactivities-5.69.0</a></td>
   <td align="right">60kB</td>
   <td><tt>bbdecbe3649a25499ecb046845499db6eaf59659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kactivities-stats-5.69.0.tar.xz">kactivities-stats-5.69.0</a></td>
   <td align="right">61kB</td>
   <td><tt>491d48c8416dc55efd9221a1b22f2cfd31cffe8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kapidox-5.69.0.tar.xz">kapidox-5.69.0</a></td>
   <td align="right">388kB</td>
   <td><tt>4e98f82b1f38be1f7f9662842ddc1883ed3023d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/karchive-5.69.0.tar.xz">karchive-5.69.0</a></td>
   <td align="right">965kB</td>
   <td><tt>778e321aadb3c39d3f6e5d3c4071504f555ab4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kauth-5.69.0.tar.xz">kauth-5.69.0</a></td>
   <td align="right">84kB</td>
   <td><tt>428c22b0c8fc03ca2589dc180f8b2e54c678139a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kbookmarks-5.69.0.tar.xz">kbookmarks-5.69.0</a></td>
   <td align="right">118kB</td>
   <td><tt>fdfaa476e2c14699409046f854fdfdb88da00582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcalendarcore-5.69.0.tar.xz">kcalendarcore-5.69.0</a></td>
   <td align="right">247kB</td>
   <td><tt>e2ee33be6f6d07e3e8a4a396c820545ea90fd3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcmutils-5.69.0.tar.xz">kcmutils-5.69.0</a></td>
   <td align="right">234kB</td>
   <td><tt>e48e79b053e4092d1cbd831460f8c722c47149b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcodecs-5.69.0.tar.xz">kcodecs-5.69.0</a></td>
   <td align="right">223kB</td>
   <td><tt>92a6e5f29bcafa8534535e7853b6d63fc74ab469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcompletion-5.69.0.tar.xz">kcompletion-5.69.0</a></td>
   <td align="right">117kB</td>
   <td><tt>7b0fce0980b65370d85596a313d823de80da81e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kconfig-5.69.0.tar.xz">kconfig-5.69.0</a></td>
   <td align="right">252kB</td>
   <td><tt>124230488a9abd2aef046671551885c5be39c16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kconfigwidgets-5.69.0.tar.xz">kconfigwidgets-5.69.0</a></td>
   <td align="right">372kB</td>
   <td><tt>c49d146c16f180354af48e36a9a0ef788a4c4c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcontacts-5.69.0.tar.xz">kcontacts-5.69.0</a></td>
   <td align="right">531kB</td>
   <td><tt>73de2112e5edb517cfb95f26e0623fc8cae8e4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcoreaddons-5.69.0.tar.xz">kcoreaddons-5.69.0</a></td>
   <td align="right">371kB</td>
   <td><tt>7a4a9462fc8657e821d4298a460e720bdc82ec63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kcrash-5.69.0.tar.xz">kcrash-5.69.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b54dbb5f6401abcc75cf78ed04a0c2f28ef476a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kdbusaddons-5.69.0.tar.xz">kdbusaddons-5.69.0</a></td>
   <td align="right">42kB</td>
   <td><tt>8fccd714150aa438c48bb677601ad141873d7b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kdeclarative-5.69.0.tar.xz">kdeclarative-5.69.0</a></td>
   <td align="right">171kB</td>
   <td><tt>a0216c73e76169605d2e7b7f3b756ca563fd5aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kded-5.69.0.tar.xz">kded-5.69.0</a></td>
   <td align="right">37kB</td>
   <td><tt>5c52ed072bfc42b5ba3725f46549418a8c7dea42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kdesu-5.69.0.tar.xz">kdesu-5.69.0</a></td>
   <td align="right">46kB</td>
   <td><tt>882cfe6e0c65b6bdeabbbba713df6009ca3bd6c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kdnssd-5.69.0.tar.xz">kdnssd-5.69.0</a></td>
   <td align="right">59kB</td>
   <td><tt>58c0c0640986fea6ec137b06000506304bb4c7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kdoctools-5.69.0.tar.xz">kdoctools-5.69.0</a></td>
   <td align="right">418kB</td>
   <td><tt>44d534a0c304127ea94c02ce201d9af7bc1ccc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kemoticons-5.69.0.tar.xz">kemoticons-5.69.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b78665a82a765d4d43ba330928720680ac350e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kfilemetadata-5.69.0.tar.xz">kfilemetadata-5.69.0</a></td>
   <td align="right">413kB</td>
   <td><tt>1e1c12d48af4a3d3e0b6fd061c0dff2f7a3a61e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kglobalaccel-5.69.0.tar.xz">kglobalaccel-5.69.0</a></td>
   <td align="right">83kB</td>
   <td><tt>fb50bf6ae957be0dd1953896c614a16054b1d6cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kguiaddons-5.69.0.tar.xz">kguiaddons-5.69.0</a></td>
   <td align="right">51kB</td>
   <td><tt>489b088f7ac09bb99af0dec5b86fdbdb5516efac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kholidays-5.69.0.tar.xz">kholidays-5.69.0</a></td>
   <td align="right">214kB</td>
   <td><tt>637dd201fea02f6326bc28d9ea5ddad905b961e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/ki18n-5.69.0.tar.xz">ki18n-5.69.0</a></td>
   <td align="right">575kB</td>
   <td><tt>c8ad236bed2a6864c7097446420a70a2fc30f256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kiconthemes-5.69.0.tar.xz">kiconthemes-5.69.0</a></td>
   <td align="right">204kB</td>
   <td><tt>7e142e1f981b0aba718600202d74a9d1e6f1891a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kidletime-5.69.0.tar.xz">kidletime-5.69.0</a></td>
   <td align="right">28kB</td>
   <td><tt>0220395dea13a224d641f2fcb216d685e1b1b6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kimageformats-5.69.0.tar.xz">kimageformats-5.69.0</a></td>
   <td align="right">239kB</td>
   <td><tt>e16eb7457c6107427fc5d5389ae95f5bc88cbf11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kinit-5.69.0.tar.xz">kinit-5.69.0</a></td>
   <td align="right">116kB</td>
   <td><tt>4f97a9f9d323a049307968e7fc6e2cdc8a9cc4e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kio-5.69.0.tar.xz">kio-5.69.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>15fc44f3b6a0ec288eadebd641a93ae9308920ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kirigami2-5.69.0.tar.xz">kirigami2-5.69.0</a></td>
   <td align="right">170kB</td>
   <td><tt>d1b3566dfcf34a8b5368c81224e17c1e458dcabd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kitemmodels-5.69.0.tar.xz">kitemmodels-5.69.0</a></td>
   <td align="right">390kB</td>
   <td><tt>d27751f90e7b76e9fa09bd9e534210b31f64086a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kitemviews-5.69.0.tar.xz">kitemviews-5.69.0</a></td>
   <td align="right">76kB</td>
   <td><tt>f4afe489f86c2d3dd8dc6e8f9c990af9d5eff3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kjobwidgets-5.69.0.tar.xz">kjobwidgets-5.69.0</a></td>
   <td align="right">86kB</td>
   <td><tt>90f2abdd24609bfdc921742ed9fb689d47c0a534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/knewstuff-5.69.0.tar.xz">knewstuff-5.69.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>30ba4611b703fa8bd3a24b1f0b4ec404b02be0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/knotifications-5.69.0.tar.xz">knotifications-5.69.0</a></td>
   <td align="right">114kB</td>
   <td><tt>7364222919c6684ca773724f7f958f996cb772ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/knotifyconfig-5.69.0.tar.xz">knotifyconfig-5.69.0</a></td>
   <td align="right">83kB</td>
   <td><tt>eda0010d3eb345faca44763ebb63ba3d61c2cc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kpackage-5.69.0.tar.xz">kpackage-5.69.0</a></td>
   <td align="right">134kB</td>
   <td><tt>c97ead5ebc790b7e16d5ba398e23702f78b24a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kparts-5.69.0.tar.xz">kparts-5.69.0</a></td>
   <td align="right">183kB</td>
   <td><tt>c392fa71afa52c5c1a0da1ab661fbd69e43a278c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kpeople-5.69.0.tar.xz">kpeople-5.69.0</a></td>
   <td align="right">60kB</td>
   <td><tt>6773bbc37f3e0e8597b775c75cd35ad749d5f9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kplotting-5.69.0.tar.xz">kplotting-5.69.0</a></td>
   <td align="right">32kB</td>
   <td><tt>83b085765c56b74cae078f22de66fbb4dd7a9e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kpty-5.69.0.tar.xz">kpty-5.69.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0ac37ac983f28d6043f2d13feb5538db3e79a41a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kquickcharts-5.69.0.tar.xz">kquickcharts-5.69.0</a></td>
   <td align="right">93kB</td>
   <td><tt>13918a5eaa373170f3ab30e0167120ed7285e5b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/krunner-5.69.0.tar.xz">krunner-5.69.0</a></td>
   <td align="right">62kB</td>
   <td><tt>7990ae92ed115d63d5ab6a727f70638578e0ffbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kservice-5.69.0.tar.xz">kservice-5.69.0</a></td>
   <td align="right">253kB</td>
   <td><tt>0f3baf3bbdc3a085c599515a0fc5a63ada9af255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/ktexteditor-5.69.0.tar.xz">ktexteditor-5.69.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d974d10f16ac810f6aa71051f90d29c80f10dac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/ktextwidgets-5.69.0.tar.xz">ktextwidgets-5.69.0</a></td>
   <td align="right">303kB</td>
   <td><tt>72ad0ab799f2f4cb295cbe7e5d2917ccab4dd9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kunitconversion-5.69.0.tar.xz">kunitconversion-5.69.0</a></td>
   <td align="right">812kB</td>
   <td><tt>be06987eae3ebae48d89e7ecb2881bdc545da5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kwallet-5.69.0.tar.xz">kwallet-5.69.0</a></td>
   <td align="right">289kB</td>
   <td><tt>d8412b17965659045494081e98c16b1fe0cd95ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kwayland-5.69.0.tar.xz">kwayland-5.69.0</a></td>
   <td align="right">338kB</td>
   <td><tt>4beae1377b2a32928ae358689f6ba8b312af2cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kwidgetsaddons-5.69.0.tar.xz">kwidgetsaddons-5.69.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8f879f250787715b34f3bd36c641bb1e282eab7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kwindowsystem-5.69.0.tar.xz">kwindowsystem-5.69.0</a></td>
   <td align="right">175kB</td>
   <td><tt>dc49358f39305b2bfd34f6a546f059557076b453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kxmlgui-5.69.0.tar.xz">kxmlgui-5.69.0</a></td>
   <td align="right">837kB</td>
   <td><tt>59cb0593284b39bc275ca32daf539934196d82a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/kxmlrpcclient-5.69.0.tar.xz">kxmlrpcclient-5.69.0</a></td>
   <td align="right">29kB</td>
   <td><tt>3891dd7d5e5abee63b97e60325c3765eb97718fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/modemmanager-qt-5.69.0.tar.xz">modemmanager-qt-5.69.0</a></td>
   <td align="right">111kB</td>
   <td><tt>734ed64f7eafb0d9183965bc70b86feadcd8cc8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/networkmanager-qt-5.69.0.tar.xz">networkmanager-qt-5.69.0</a></td>
   <td align="right">190kB</td>
   <td><tt>249e47808a193c236d22ca550cea7c4c709cecb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/oxygen-icons5-5.69.0.tar.xz">oxygen-icons5-5.69.0</a></td>
   <td align="right">225MB</td>
   <td><tt>d8fefe9e67b9d485b869e21684d4d56c764bbe2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/plasma-framework-5.69.0.tar.xz">plasma-framework-5.69.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>49e8e954618a06944c5fd6de57729eed23a40f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/prison-5.69.0.tar.xz">prison-5.69.0</a></td>
   <td align="right">39kB</td>
   <td><tt>da7a212255b7133d69901542c32da59fb2f585ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/purpose-5.69.0.tar.xz">purpose-5.69.0</a></td>
   <td align="right">150kB</td>
   <td><tt>3873b628e8375cdfc176c77ef79d620cf4632a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/qqc2-desktop-style-5.69.0.tar.xz">qqc2-desktop-style-5.69.0</a></td>
   <td align="right">56kB</td>
   <td><tt>da4224c3fb9f2206664c250348ae0fd8065f792f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/solid-5.69.0.tar.xz">solid-5.69.0</a></td>
   <td align="right">262kB</td>
   <td><tt>f4eb846b90177a37d0e5f11f568b4ec52385e310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/sonnet-5.69.0.tar.xz">sonnet-5.69.0</a></td>
   <td align="right">286kB</td>
   <td><tt>7e5321588133ac3f73abb2ff3e6a7db650e1dc87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/syndication-5.69.0.tar.xz">syndication-5.69.0</a></td>
   <td align="right">498kB</td>
   <td><tt>d54a6415533ee7fc979f16c91769590c81734c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/syntax-highlighting-5.69.0.tar.xz">syntax-highlighting-5.69.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>671151f477a93651127e983b404b30e566b8fb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.69/threadweaver-5.69.0.tar.xz">threadweaver-5.69.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3be3643c6bb5c4a59c248761cd6797f6c543c72f</tt></td>
</tr>

</table>
