<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-24.02.2.tar.xz">akonadi-24.02.2</a></td>
   <td align="right">1651kB</td>
   <td><tt>1b79236956f3d7404bd23dc9073e112b5356a64156e4fbc324c409c1325bf343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-calendar-24.02.2.tar.xz">akonadi-calendar-24.02.2</a></td>
   <td align="right">488kB</td>
   <td><tt>930195e722cf268c1465ae35366abefbe6f0d36a3f72708d0cb022e6288ae859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-calendar-tools-24.02.2.tar.xz">akonadi-calendar-tools-24.02.2</a></td>
   <td align="right">255kB</td>
   <td><tt>75b6cbc6bce79a3b54a5d2c947a14d591e81220a5ecbc4294e8e4930e609b037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadiconsole-24.02.2.tar.xz">akonadiconsole-24.02.2</a></td>
   <td align="right">289kB</td>
   <td><tt>e8a5e5bb57d13245fca4bc6bf1bddff192436ffefe82351f4956f7d7b97c39b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-contacts-24.02.2.tar.xz">akonadi-contacts-24.02.2</a></td>
   <td align="right">414kB</td>
   <td><tt>eff0bc2a7015804137d9c32f4c20100ca11e5f94a8b119153cd062ebb056f51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-import-wizard-24.02.2.tar.xz">akonadi-import-wizard-24.02.2</a></td>
   <td align="right">504kB</td>
   <td><tt>f9508a3da632485f663387cfd832ad6a767eaff2086ba63e010a30344f9d5f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-mime-24.02.2.tar.xz">akonadi-mime-24.02.2</a></td>
   <td align="right">164kB</td>
   <td><tt>b0651626bda53a0ba36c8044d1147239cc551ef00eed1dfff8388a166d1ce413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-notes-24.02.2.tar.xz">akonadi-notes-24.02.2</a></td>
   <td align="right">27kB</td>
   <td><tt>0404d7ad8aec7b8838b3909d9cf222d267f4d6f3b51f26bd8ecca39a7d8b5855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akonadi-search-24.02.2.tar.xz">akonadi-search-24.02.2</a></td>
   <td align="right">108kB</td>
   <td><tt>6cfacca542f3173ad2f93baa08fbb775d13902a1ba50057e131f4866bea62b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/akregator-24.02.2.tar.xz">akregator-24.02.2</a></td>
   <td align="right">2273kB</td>
   <td><tt>946779e51ba9e0aae417a0d74c29855d67d461508a7a34b264ea58d7376aca6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/alligator-24.02.2.tar.xz">alligator-24.02.2</a></td>
   <td align="right">187kB</td>
   <td><tt>ae274e72eb0eb9975f193c82354424416e7cc9e2d9fd77b579f54fb2ab3fed55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/analitza-24.02.2.tar.xz">analitza-24.02.2</a></td>
   <td align="right">350kB</td>
   <td><tt>49d60ce43dbbedb047a281dd2df6a2818d8e9340774749d07aa7a5623f6ccc9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/angelfish-24.02.2.tar.xz">angelfish-24.02.2</a></td>
   <td align="right">257kB</td>
   <td><tt>5d3ab074739428b6d30f6a12d683a05f10dff61f543b0539f5a19a15fc4c83f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/arianna-24.02.2.tar.xz">arianna-24.02.2</a></td>
   <td align="right">798kB</td>
   <td><tt>3729a23f94d2379fb587fe900436ffb92ca03ae30296eea57b9625a9b4bebb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ark-24.02.2.tar.xz">ark-24.02.2</a></td>
   <td align="right">2946kB</td>
   <td><tt>06374f5c7c2aee7a93c04bfd7b6b3baaeab3962e8277c9087fea54ba9805bdce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/artikulate-24.02.2.tar.xz">artikulate-24.02.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>762d32afb8a3f8f8a536ce33a720888ebd9967b4fbfea8a77925a3ed0043bb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/audiocd-kio-24.02.2.tar.xz">audiocd-kio-24.02.2</a></td>
   <td align="right">556kB</td>
   <td><tt>8a0fc12a8694ecc8923b545c5cab20620404bd77b84a80e4b74c80ab4e575a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/audiotube-24.02.2.tar.xz">audiotube-24.02.2</a></td>
   <td align="right">147kB</td>
   <td><tt>fd721a0b8e889655bab59066b72808071b760ebecff1be47f5adfa743aaa5e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/baloo-widgets-24.02.2.tar.xz">baloo-widgets-24.02.2</a></td>
   <td align="right">270kB</td>
   <td><tt>276b557c363da367d1c6950eb0e1ab2cae389aab7b53daf6a9e2431f87deea15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/blinken-24.02.2.tar.xz">blinken-24.02.2</a></td>
   <td align="right">2661kB</td>
   <td><tt>85dc0bfdb6c0da7effb36ab6412f0ebd3ccb9dd8e7e775f4cb41c00b6ff85666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/bomber-24.02.2.tar.xz">bomber-24.02.2</a></td>
   <td align="right">820kB</td>
   <td><tt>ba191eda107f605fa3ec8be3119b6b3d072a576101279c4f6b4be0d017b89757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/bovo-24.02.2.tar.xz">bovo-24.02.2</a></td>
   <td align="right">210kB</td>
   <td><tt>a0522b2faacea201ea7e90c5adaadf344f257f5decfc4414070848acb78ac788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/calendarsupport-24.02.2.tar.xz">calendarsupport-24.02.2</a></td>
   <td align="right">975kB</td>
   <td><tt>906671320b5f32bd9edcf212e66a16c546d196150bd3330aaf8ab0931b0b0731</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/calindori-24.02.2.tar.xz">calindori-24.02.2</a></td>
   <td align="right">378kB</td>
   <td><tt>a0fbe85a6d933c9d0794b556cf37651939424b8fbb6dd3308c736ba80731e47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/cantor-24.02.2.tar.xz">cantor-24.02.2</a></td>
   <td align="right">9083kB</td>
   <td><tt>1cd6344e19b57ec98c103506920de412a5541b61377c43dcb5162ae39c2b9bf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/cervisia-24.02.2.tar.xz">cervisia-24.02.2</a></td>
   <td align="right">1902kB</td>
   <td><tt>fa9192fc6fd9b4ba87ffc9a5cc5f27dfeefed7f3ae67a0d8a3245805d4f0e42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/colord-kde-24.02.2.tar.xz">colord-kde-24.02.2</a></td>
   <td align="right">111kB</td>
   <td><tt>c33b84b882cebf7a739bf47b278f902e14450470d30a96091897c7d478757840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/dolphin-24.02.2.tar.xz">dolphin-24.02.2</a></td>
   <td align="right">5672kB</td>
   <td><tt>50844490d45159ca16c1d8d9f5f0701f118772e4b09adad270835b67bb26a701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/dolphin-plugins-24.02.2.tar.xz">dolphin-plugins-24.02.2</a></td>
   <td align="right">291kB</td>
   <td><tt>14ba9ec056855e010cce9cd8cb14e2788287199f1cc8f52e80a2d4a4b8c50b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/dragon-24.02.2.tar.xz">dragon-24.02.2</a></td>
   <td align="right">1632kB</td>
   <td><tt>2ff85fe255a76d4982592512903690e16e452ddcd649b6dc70249c055f4dcf98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/elisa-24.02.2.tar.xz">elisa-24.02.2</a></td>
   <td align="right">1787kB</td>
   <td><tt>08218ba739ea0ace82bba6aa98575814dcfdf69feb61596398f5d337c2956c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/eventviews-24.02.2.tar.xz">eventviews-24.02.2</a></td>
   <td align="right">462kB</td>
   <td><tt>52ac97dcd270e2e0c1389b71f97457492330d4c9f5e46a4d8b765b695e8f55ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/falkon-24.02.2.tar.xz">falkon-24.02.2</a></td>
   <td align="right">2517kB</td>
   <td><tt>f8607830d99759f55336ad7d8e8f3bf9df9696cb5632a4e308586e8920d7e9cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ffmpegthumbs-24.02.2.tar.xz">ffmpegthumbs-24.02.2</a></td>
   <td align="right">32kB</td>
   <td><tt>08e8c32873a49b6e65886ad501d325f8053240c6688c083534828313f60c245a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/filelight-24.02.2.tar.xz">filelight-24.02.2</a></td>
   <td align="right">687kB</td>
   <td><tt>1551bdfde7fc7e4234c6653d5a6138f9efefc9e8bdedaaaa683354728368bb8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ghostwriter-24.02.2.tar.xz">ghostwriter-24.02.2</a></td>
   <td align="right">3544kB</td>
   <td><tt>0adf0ceff51636f5e73391fe3335e263c5a1770ebc8662f14a0346a66dba174e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/granatier-24.02.2.tar.xz">granatier-24.02.2</a></td>
   <td align="right">2064kB</td>
   <td><tt>1f6c025fadf72550180bc36bbf8135b07246688904bfd7a1c66f900832d2bdc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/grantlee-editor-24.02.2.tar.xz">grantlee-editor-24.02.2</a></td>
   <td align="right">116kB</td>
   <td><tt>33597546dd9d4f09cf0ead4ecb4e12693f6a83bd424e307683e4c74412f52670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/grantleetheme-24.02.2.tar.xz">grantleetheme-24.02.2</a></td>
   <td align="right">60kB</td>
   <td><tt>54895f25516d274c4bfcf7cf59109d5cd2e3f7ad3619968a7e54a73a7eb5a958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/gwenview-24.02.2.tar.xz">gwenview-24.02.2</a></td>
   <td align="right">6754kB</td>
   <td><tt>5f18604076fee297e722eb5dd4f45969f0e00c65ece939e7b12463f57df78b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/incidenceeditor-24.02.2.tar.xz">incidenceeditor-24.02.2</a></td>
   <td align="right">570kB</td>
   <td><tt>2fe23d86f032e59c97a25a443e6cf0a5ede13469ca19c6c8d533058de6542517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/isoimagewriter-24.02.2.tar.xz">isoimagewriter-24.02.2</a></td>
   <td align="right">452kB</td>
   <td><tt>96c75d58d14ef72490dad4ab62b72bf5a79d5cd9029ecfa7a289df1a83f8b186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/itinerary-24.02.2.tar.xz">itinerary-24.02.2</a></td>
   <td align="right">675kB</td>
   <td><tt>7821ac982530165b211f4eb7de3225deb767ed356bc505176dc3640e854c3b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/juk-24.02.2.tar.xz">juk-24.02.2</a></td>
   <td align="right">1971kB</td>
   <td><tt>e571e5b6d6fb273f40afef1b5fb2933b63adb9170d12823d1175879ffb2bfa83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/k3b-24.02.2.tar.xz">k3b-24.02.2</a></td>
   <td align="right">10711kB</td>
   <td><tt>6047d94193ba1650ce71f4100bba0786023455f4c6a12e14c9d543058a4e8e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kaccounts-integration-24.02.2.tar.xz">kaccounts-integration-24.02.2</a></td>
   <td align="right">87kB</td>
   <td><tt>d50b3d790d8df6a24d1afe7660fa7c6e61c38159d777380f87b813c91d06d307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kaccounts-providers-24.02.2.tar.xz">kaccounts-providers-24.02.2</a></td>
   <td align="right">65kB</td>
   <td><tt>4e2f6e8a854fb61ab19f00f8ff676c8fd97b1a12b70485e6652b74afa3749c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kaddressbook-24.02.2.tar.xz">kaddressbook-24.02.2</a></td>
   <td align="right">3386kB</td>
   <td><tt>f6e8d0798f967f45e92798f68944375d8d088da8c33f6500ca4ea60b1747efa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kajongg-24.02.2.tar.xz">kajongg-24.02.2</a></td>
   <td align="right">4483kB</td>
   <td><tt>c23e9a7c0ce744d857e56e46b6856ac83445f72ccb6183e8e977f0e5a382453f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kalarm-24.02.2.tar.xz">kalarm-24.02.2</a></td>
   <td align="right">2571kB</td>
   <td><tt>2eb95704ffac43a3bde942121a63a6ff3a7f59ee783fc614eb0d0216e5786ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kalgebra-24.02.2.tar.xz">kalgebra-24.02.2</a></td>
   <td align="right">1025kB</td>
   <td><tt>a05bc95af92e45db87e7a18a907e47f56b1b891b5bd82f61ed0155b3daf34ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kalk-24.02.2.tar.xz">kalk-24.02.2</a></td>
   <td align="right">70kB</td>
   <td><tt>8bce49fc3a1f37260396ba197c0d0affa60c2051624b055b4736a47e67095163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kalzium-24.02.2.tar.xz">kalzium-24.02.2</a></td>
   <td align="right">24069kB</td>
   <td><tt>4c6c17ec5847db714c11a249de4599d41dc89fc04ba38139dc90a7fe15ff16ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kamera-24.02.2.tar.xz">kamera-24.02.2</a></td>
   <td align="right">127kB</td>
   <td><tt>e594d591aaab1f3dd5faecf026d77c0d7ee025c3662f7c55e7434608cedb54d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kamoso-24.02.2.tar.xz">kamoso-24.02.2</a></td>
   <td align="right">195kB</td>
   <td><tt>7fd72e03984587d98a1867960ada9c3a44e7c968c5486fc77563f9d3bb5d096b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kanagram-24.02.2.tar.xz">kanagram-24.02.2</a></td>
   <td align="right">7879kB</td>
   <td><tt>b39adb837f5fefc2053d1a1c15fa551e054ea2147a015c461914d9cafc9e475c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kapman-24.02.2.tar.xz">kapman-24.02.2</a></td>
   <td align="right">2141kB</td>
   <td><tt>de3d0b2edb494105d739d47d7825242523b7e8cd8ce551a950d4037e6e3e79ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kapptemplate-24.02.2.tar.xz">kapptemplate-24.02.2</a></td>
   <td align="right">332kB</td>
   <td><tt>c2bbf9e8bd1a663ca73847df113ad9550bb8413e4c0813b5079e01a74863a35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kasts-24.02.2.tar.xz">kasts-24.02.2</a></td>
   <td align="right">576kB</td>
   <td><tt>4dc7f65ef7e548163d57abc07d1492b6ed1c6b645080a268614b048c820208df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kate-24.02.2.tar.xz">kate-24.02.2</a></td>
   <td align="right">8207kB</td>
   <td><tt>1ddacb0939831a43e2b9c1abd8d7e5afefe76789842333263655370e99f5434d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/katomic-24.02.2.tar.xz">katomic-24.02.2</a></td>
   <td align="right">1419kB</td>
   <td><tt>e6d20810d012793599b58e850b364a825e91d679ce6f6f31c0f5fee3e6abd9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kbackup-24.02.2.tar.xz">kbackup-24.02.2</a></td>
   <td align="right">399kB</td>
   <td><tt>02671d722eb22444828f7a9936ab4499d6af9da4bc79aeb3387011dd37257158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kblackbox-24.02.2.tar.xz">kblackbox-24.02.2</a></td>
   <td align="right">542kB</td>
   <td><tt>3534e5ac040fc427ff3e5045f199003c3a43abb1fb6197d19efb0f6e502000f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kblocks-24.02.2.tar.xz">kblocks-24.02.2</a></td>
   <td align="right">2058kB</td>
   <td><tt>ace71ab01b42387b6bc49872a7083d738a6f1c084c7a58b573a4f1f1908a9063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kbounce-24.02.2.tar.xz">kbounce-24.02.2</a></td>
   <td align="right">3465kB</td>
   <td><tt>83d008983099c360701bb109dff9b2640b10dca41f864e820f59ef5f70bdaaa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kbreakout-24.02.2.tar.xz">kbreakout-24.02.2</a></td>
   <td align="right">2500kB</td>
   <td><tt>94432f6743463e1c74eab66bd7e91a283b35c471a2d03c0eb4b619cfde58db53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kbruch-24.02.2.tar.xz">kbruch-24.02.2</a></td>
   <td align="right">5530kB</td>
   <td><tt>9b000417d4f97a94720cacda2ab7df200004bf82e082d3d407cdc3bd878a77e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcachegrind-24.02.2.tar.xz">kcachegrind-24.02.2</a></td>
   <td align="right">914kB</td>
   <td><tt>1c43099fa42a389e9ff92613b550e6606a9de9d5b57a10a4b08ab513e5a67b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcalc-24.02.2.tar.xz">kcalc-24.02.2</a></td>
   <td align="right">434kB</td>
   <td><tt>9cc2d27635f858afb7bf30f9e7e9bef2c04dea653ee33baa43165da3e5797b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcalutils-24.02.2.tar.xz">kcalutils-24.02.2</a></td>
   <td align="right">346kB</td>
   <td><tt>8a47ff05e7ef218e2a4836d8db16280ef631e9b90d9b5dff8c56a4ccae8d1c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcharselect-24.02.2.tar.xz">kcharselect-24.02.2</a></td>
   <td align="right">377kB</td>
   <td><tt>a1854455137cc65f79d7c710246c16bfd0dd55831ba1c1fcf2146e891e29fd25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kclock-24.02.2.tar.xz">kclock-24.02.2</a></td>
   <td align="right">632kB</td>
   <td><tt>9ae9872b35ecb5b08b9e89c67b8db38bea985494f4602e98ee3f740106ed605a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcolorchooser-24.02.2.tar.xz">kcolorchooser-24.02.2</a></td>
   <td align="right">34kB</td>
   <td><tt>7f1d7c7bfda80cf627a72beb62d0944e052873f48804ee99aaec1339198005ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kcron-24.02.2.tar.xz">kcron-24.02.2</a></td>
   <td align="right">920kB</td>
   <td><tt>2c55878af458cfc7b83ccf592da571736932c27d82412043319b71eebad710b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdebugsettings-24.02.2.tar.xz">kdebugsettings-24.02.2</a></td>
   <td align="right">107kB</td>
   <td><tt>0ff0a5110cb58b812168cb62b79fb66e3eb45bd88b7ca58111d5e3864ecfba40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdeconnect-kde-24.02.2.tar.xz">kdeconnect-kde-24.02.2</a></td>
   <td align="right">662kB</td>
   <td><tt>e804910d2b1ed4f5f6ce36915c79d11c55be6cee0f265d9234d96a2c27000dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kde-dev-scripts-24.02.2.tar.xz">kde-dev-scripts-24.02.2</a></td>
   <td align="right">363kB</td>
   <td><tt>fe99b0335a0ab2b0ff09b331fc2403fada66e637efd51577ad21a0a4010919df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kde-dev-utils-24.02.2.tar.xz">kde-dev-utils-24.02.2</a></td>
   <td align="right">72kB</td>
   <td><tt>aa66f88d92718aa729c644ad37c692e005a63190528a1420191521329bdbdd4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdeedu-data-24.02.2.tar.xz">kdeedu-data-24.02.2</a></td>
   <td align="right">330kB</td>
   <td><tt>56bfeb3952c7d9217fabd893ff2fda7bf259abe158310586c6e812b08bb8b497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdegraphics-mobipocket-24.02.2.tar.xz">kdegraphics-mobipocket-24.02.2</a></td>
   <td align="right">12kB</td>
   <td><tt>911156160e4ac02f3026118de3f300896230f8e0a6bd7a7fcf5c95bc416cbd2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdegraphics-thumbnailers-24.02.2.tar.xz">kdegraphics-thumbnailers-24.02.2</a></td>
   <td align="right">47kB</td>
   <td><tt>b96912cb499a3b514e1755f920b7aa251b154212fc3c3f894b84ab409fbaf30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kde-inotify-survey-24.02.2.tar.xz">kde-inotify-survey-24.02.2</a></td>
   <td align="right">227kB</td>
   <td><tt>506d6da2662cb7c8e135db83ff11fe4e5696dd258a9d3a212b5d4ad2889308ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdenetwork-filesharing-24.02.2.tar.xz">kdenetwork-filesharing-24.02.2</a></td>
   <td align="right">477kB</td>
   <td><tt>b5166720800b1e8769d21785e83ade2e6730e72ffa1cc3d930df645722c08a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdenlive-24.02.2.tar.xz">kdenlive-24.02.2</a></td>
   <td align="right">12880kB</td>
   <td><tt>c84b6264aef2ea794e0301827f46c01e12b6d9592158937e184dddc4c3946ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdepim-addons-24.02.2.tar.xz">kdepim-addons-24.02.2</a></td>
   <td align="right">2588kB</td>
   <td><tt>b1d9ee6fcf2410094e1fe47d8f8390e92095370ba82611193fc3e61f5ab0493f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdepim-runtime-24.02.2.tar.xz">kdepim-runtime-24.02.2</a></td>
   <td align="right">1638kB</td>
   <td><tt>ec3005eb6339f2e53e89268a5e1d4c9f76b333f0b2ad0c87e7823d1846ed0dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdesdk-kio-24.02.2.tar.xz">kdesdk-kio-24.02.2</a></td>
   <td align="right">39kB</td>
   <td><tt>22374c7309eee0ede02420cbce6a170b6967a22d4d75f20aa9e3bb191caadb7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdesdk-thumbnailers-24.02.2.tar.xz">kdesdk-thumbnailers-24.02.2</a></td>
   <td align="right">26kB</td>
   <td><tt>ba27d6dca3ece9401406ea031f7f08e85b35fec9d6bb48512cb633ded5c406f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdevelop-24.02.2.tar.xz">kdevelop-24.02.2</a></td>
   <td align="right">8547kB</td>
   <td><tt>339e23870ee328736f6ad3f1713c72a84af4d156529bf2947f1133fad7a48ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdev-php-24.02.2.tar.xz">kdev-php-24.02.2</a></td>
   <td align="right">1064kB</td>
   <td><tt>c03c360c63ff868ca7862b0362c6c6693c367c07690cc5e5a894ab4350562a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdev-python-24.02.2.tar.xz">kdev-python-24.02.2</a></td>
   <td align="right">1073kB</td>
   <td><tt>f8fc7ef3db3cc74d8ec733fe4e6d6389f8187c8a7fa6585772b586a31e4a8d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdf-24.02.2.tar.xz">kdf-24.02.2</a></td>
   <td align="right">482kB</td>
   <td><tt>2b5a2e62294e5d37b00dda197ae5e225806bcfa8dd1975d8f15106d9733639d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdialog-24.02.2.tar.xz">kdialog-24.02.2</a></td>
   <td align="right">141kB</td>
   <td><tt>f1df8dd4b63fb4efbf9db80326abaf7e2f7db83128fe47d284c6df7d812e71d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kdiamond-24.02.2.tar.xz">kdiamond-24.02.2</a></td>
   <td align="right">4558kB</td>
   <td><tt>0e75f8c76c27686233afbbd1f83af0343023d6870b788ea0f3c1fe4319d5c89c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/keditbookmarks-24.02.2.tar.xz">keditbookmarks-24.02.2</a></td>
   <td align="right">238kB</td>
   <td><tt>bc74afcd0164b7acdffdf323fdb47b283b5b0960a567c07a010238a0c08c6b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/keysmith-24.02.2.tar.xz">keysmith-24.02.2</a></td>
   <td align="right">166kB</td>
   <td><tt>f16c2159261044d1bff93d1b90ea0f508e34c61ba49268b5cac0fb5724db072c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kfind-24.02.2.tar.xz">kfind-24.02.2</a></td>
   <td align="right">315kB</td>
   <td><tt>ae0f1fb029c4b4b85122ccd71f4c1d186929ef19057ddaf3b72ca1b3252c98ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kfourinline-24.02.2.tar.xz">kfourinline-24.02.2</a></td>
   <td align="right">722kB</td>
   <td><tt>47e7d8ccb77f75fe328d6d5444a218f9c3dbe13e1d1dce8422a9765389ccc32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kgeography-24.02.2.tar.xz">kgeography-24.02.2</a></td>
   <td align="right">12316kB</td>
   <td><tt>0f24245334e75bb8f7b86cd894b54cb00b8cb421928273c2cbddf829758e760a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kget-24.02.2.tar.xz">kget-24.02.2</a></td>
   <td align="right">5438kB</td>
   <td><tt>e0f91576d005194770032123b9f1c40d250abcc0564041a4459cefb73b032b64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kgoldrunner-24.02.2.tar.xz">kgoldrunner-24.02.2</a></td>
   <td align="right">4270kB</td>
   <td><tt>d16727181268a6a5bd3ee2b2d5398309e3cb3aac0e8b7030076da68e53b3bf73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kgpg-24.02.2.tar.xz">kgpg-24.02.2</a></td>
   <td align="right">2992kB</td>
   <td><tt>d97ada21b08248c8e44d918b47da60f28fa4a5b92c6152733f3137e9a2ef05eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/khangman-24.02.2.tar.xz">khangman-24.02.2</a></td>
   <td align="right">7199kB</td>
   <td><tt>ba716cce526aa7c288ecafc2115d41b336d2688e28818cc52353925a2cfc482c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/khealthcertificate-24.02.2.tar.xz">khealthcertificate-24.02.2</a></td>
   <td align="right">502kB</td>
   <td><tt>96504d018a8cc17981fdfd91d251255e951b4e24781939688472de7d7461c72d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/khelpcenter-24.02.2.tar.xz">khelpcenter-24.02.2</a></td>
   <td align="right">4282kB</td>
   <td><tt>52085021c4f742bf2849010323b043ed121aa2cc89e07e2c815d891a81bde63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kidentitymanagement-24.02.2.tar.xz">kidentitymanagement-24.02.2</a></td>
   <td align="right">182kB</td>
   <td><tt>9df0a8ec592981590077067e7be79df18894af4eb41f29451e93ea76e4081f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kig-24.02.2.tar.xz">kig-24.02.2</a></td>
   <td align="right">3220kB</td>
   <td><tt>93ce7e92b1eef8b669505b248c44a1ba098b117438c7334bffce9b5a6d78b4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kigo-24.02.2.tar.xz">kigo-24.02.2</a></td>
   <td align="right">5036kB</td>
   <td><tt>00c6275a0e4875314c5a735f20f54286e22728fed4d64e64f54d0a0c52b06816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/killbots-24.02.2.tar.xz">killbots-24.02.2</a></td>
   <td align="right">1135kB</td>
   <td><tt>89d8dcfce9f41eab96835ded248764744fc53357d8bd4f51736b5019a2bac481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kimagemapeditor-24.02.2.tar.xz">kimagemapeditor-24.02.2</a></td>
   <td align="right">1080kB</td>
   <td><tt>443eeb61e3458981382f8a201daf5029f9c79525e60799e353f3cea0856132bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kimap-24.02.2.tar.xz">kimap-24.02.2</a></td>
   <td align="right">127kB</td>
   <td><tt>617f4ffff8d01078ab4ddeba89b5c2c44f2dc396fde96fee46fe9749b3233360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kio-admin-24.02.2.tar.xz">kio-admin-24.02.2</a></td>
   <td align="right">35kB</td>
   <td><tt>24082880f0808fb9b3c8f58394715902dbc73167af7ae2ed97f2e4e284ca09b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kio-extras-24.02.2.tar.xz">kio-extras-24.02.2</a></td>
   <td align="right">3468kB</td>
   <td><tt>fa7a61f461c161c36d5fa451d070e69653f2340620648f813b4c2bcb799443c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kio-extras-kf5-24.02.2.tar.xz">kio-extras-kf5-24.02.2</a></td>
   <td align="right">1433kB</td>
   <td><tt>a9aaf58f3b802c8341bba1ceb95054f915059ea447f59ffc7b933cca71b12ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kio-gdrive-24.02.2.tar.xz">kio-gdrive-24.02.2</a></td>
   <td align="right">78kB</td>
   <td><tt>123bf4b52816dd06ac0455c1b0acd2f684cad735075ff6ed2244ef1e3a923923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kio-zeroconf-24.02.2.tar.xz">kio-zeroconf-24.02.2</a></td>
   <td align="right">43kB</td>
   <td><tt>a6784e8971c9eda45ee271928fdc0bff2b6ee0ed134ddb6488daaf1e886a144f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kipi-plugins-24.02.2.tar.xz">kipi-plugins-24.02.2</a></td>
   <td align="right">1535kB</td>
   <td><tt>5504a13b5271f08418a17ba2d875fde4b2373ca953fe564b309148d1ecb0e86d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kirigami-gallery-24.02.2.tar.xz">kirigami-gallery-24.02.2</a></td>
   <td align="right">348kB</td>
   <td><tt>70bb759c62a0e4d169781c334ccdb564f4cde0abf510910bde821335ce778add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kiriki-24.02.2.tar.xz">kiriki-24.02.2</a></td>
   <td align="right">361kB</td>
   <td><tt>06c32a8298bacac9891eb915511242f80dabf36681dcb11934f7462905047517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kiten-24.02.2.tar.xz">kiten-24.02.2</a></td>
   <td align="right">11066kB</td>
   <td><tt>edde9180719c9a4d4347fba921c9539da4688a204dc1246ab6bb75cee60cebbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kitinerary-24.02.2.tar.xz">kitinerary-24.02.2</a></td>
   <td align="right">1916kB</td>
   <td><tt>716e6e62175ca2b577e7df188c9143a52e2994c75007347c0d38ac01049e2af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kjournald-24.02.2.tar.xz">kjournald-24.02.2</a></td>
   <td align="right">504kB</td>
   <td><tt>39313db3524b4616bce3a8acec9c54bc83a0d3bc2837160ac07430d04d0c8a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kjumpingcube-24.02.2.tar.xz">kjumpingcube-24.02.2</a></td>
   <td align="right">331kB</td>
   <td><tt>270d268ed648bdd80ea24da876b979bfa49c329a89d231592589beb9f8ea370e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kldap-24.02.2.tar.xz">kldap-24.02.2</a></td>
   <td align="right">179kB</td>
   <td><tt>9546f4caa2034100aab68c9e893fe032f93821515bbd3194325dd8410f4e1854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kleopatra-24.02.2.tar.xz">kleopatra-24.02.2</a></td>
   <td align="right">2720kB</td>
   <td><tt>07743853bb1b66ddf1c0a3f9861fcf21e716bc5e59d84078c02feb9f35c643c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/klettres-24.02.2.tar.xz">klettres-24.02.2</a></td>
   <td align="right">46722kB</td>
   <td><tt>787fed5fa1effee56ce9698f28beda6b87969f8dac4f33778fd29b7f4448bb07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/klickety-24.02.2.tar.xz">klickety-24.02.2</a></td>
   <td align="right">1466kB</td>
   <td><tt>4b8cc59f2ae08563ef17a99d3b3aed2ffcecf33583e743d4268bc73b517ab654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/klines-24.02.2.tar.xz">klines-24.02.2</a></td>
   <td align="right">1699kB</td>
   <td><tt>650305f5602a7dc923879a84cf4efde8e743d82611bba6fc402e22c9cecb08e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmag-24.02.2.tar.xz">kmag-24.02.2</a></td>
   <td align="right">710kB</td>
   <td><tt>9c391c7e6ee09ed99ab43e5e9f2b755af59aa144a18e88f295328599f782f026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmahjongg-24.02.2.tar.xz">kmahjongg-24.02.2</a></td>
   <td align="right">4004kB</td>
   <td><tt>4f744ccffbd0572bb616076888d7199a1c7106eaf70d90062441009cf1ba5212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmail-24.02.2.tar.xz">kmail-24.02.2</a></td>
   <td align="right">7536kB</td>
   <td><tt>f00571ea86da783aae781f1f1d398edf29f59d28b4175750355b73ca19721826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmail-account-wizard-24.02.2.tar.xz">kmail-account-wizard-24.02.2</a></td>
   <td align="right">168kB</td>
   <td><tt>bdaeafc88825e14317dcd29085925c0d6efcd1f0985f4812635392196747f1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmailtransport-24.02.2.tar.xz">kmailtransport-24.02.2</a></td>
   <td align="right">169kB</td>
   <td><tt>28af3a90695c728b42584b7fae348f966c71f8b688f9d3792f646b55d660c65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmbox-24.02.2.tar.xz">kmbox-24.02.2</a></td>
   <td align="right">28kB</td>
   <td><tt>6facf4ec5cd053cde3e2d34799ea7276a648e107635e0fc0a21b41eae65c3e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmime-24.02.2.tar.xz">kmime-24.02.2</a></td>
   <td align="right">157kB</td>
   <td><tt>434dc6f6d23d668836b794e63660a4dbf3e9399e84fcea1d19577a4a09e64ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmines-24.02.2.tar.xz">kmines-24.02.2</a></td>
   <td align="right">1066kB</td>
   <td><tt>8c047a7f4ca4421927ac44785328b8cfb7b2cf6d49d137b9c27aed52417ad10f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmix-24.02.2.tar.xz">kmix-24.02.2</a></td>
   <td align="right">1181kB</td>
   <td><tt>83841126e8c2ff56038282ddefc200f7bac70eb607a56a971155f42f5ab856b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmousetool-24.02.2.tar.xz">kmousetool-24.02.2</a></td>
   <td align="right">127kB</td>
   <td><tt>5a36bdca6f15d483d567cb16d05bba085f30da936f5ffdce351f79be3e439c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmouth-24.02.2.tar.xz">kmouth-24.02.2</a></td>
   <td align="right">2041kB</td>
   <td><tt>5dc80ddaca107ed1e3aa64e39f5e1c043888a16682cd6fd4e4f491caee0cc492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kmplot-24.02.2.tar.xz">kmplot-24.02.2</a></td>
   <td align="right">3027kB</td>
   <td><tt>1f3518d1acc9cad4de496105612ee5e6bd3e8185984d60d56a57e7469b500282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/knavalbattle-24.02.2.tar.xz">knavalbattle-24.02.2</a></td>
   <td align="right">1367kB</td>
   <td><tt>b97895da2da69f309a07ea3d2ccf08bbb085d9ca1ca538c3546ef802d24f87a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/knetwalk-24.02.2.tar.xz">knetwalk-24.02.2</a></td>
   <td align="right">1037kB</td>
   <td><tt>a2662d2432afa6a303d9cbbc5ea8785361d553a651bc97326a4b539cac9dcb31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/knights-24.02.2.tar.xz">knights-24.02.2</a></td>
   <td align="right">2441kB</td>
   <td><tt>0fec83c862b48d890fdfdbe04ef337e68855d8dc52be8ba1b99d30b16f19e0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/knotes-24.02.2.tar.xz">knotes-24.02.2</a></td>
   <td align="right">371kB</td>
   <td><tt>90ab33621b900f6916c48648b4817ce4684e6dcc8e5b1995554b7e2574889c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/koko-24.02.2.tar.xz">koko-24.02.2</a></td>
   <td align="right">8330kB</td>
   <td><tt>736483d4d2eb68f1afa0ad182abd89730495709823cad9fd727804e1f4853158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kolf-24.02.2.tar.xz">kolf-24.02.2</a></td>
   <td align="right">1047kB</td>
   <td><tt>0b2cbfc3b509c09305c0219ff2667a10ceee5e8cea22f51bc0ba9ffd37a2eb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kollision-24.02.2.tar.xz">kollision-24.02.2</a></td>
   <td align="right">300kB</td>
   <td><tt>a5bdc0105a930257c981d896bf7732d1dfaf9ddde2b0456c8b4fe5f4271dedc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kolourpaint-24.02.2.tar.xz">kolourpaint-24.02.2</a></td>
   <td align="right">5660kB</td>
   <td><tt>0019fe41d968203dbe5c6c0166858ec53915e2d67e007ef16689e40ed19b9e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kompare-24.02.2.tar.xz">kompare-24.02.2</a></td>
   <td align="right">960kB</td>
   <td><tt>b40489ae560401f52e51a309a71ab111d54c4ef24b3006e6b2ef15d575f28741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kongress-24.02.2.tar.xz">kongress-24.02.2</a></td>
   <td align="right">577kB</td>
   <td><tt>b76d48ffb7ac9e21190adff562f9f97a37330f0ffa9f8e459950f6c85a8ff8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/konqueror-24.02.2.tar.xz">konqueror-24.02.2</a></td>
   <td align="right">9901kB</td>
   <td><tt>064f1f066dfdd4f74ff1c9e47575c8ba47de47dd6d5f5dd1856500ef4d9bc632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/konquest-24.02.2.tar.xz">konquest-24.02.2</a></td>
   <td align="right">855kB</td>
   <td><tt>e35057b2d6d3ad0d3c274099dcd937430ab42a5b07a1852e17ee2800d33aec2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/konsole-24.02.2.tar.xz">konsole-24.02.2</a></td>
   <td align="right">1712kB</td>
   <td><tt>66467e336536d7df5c12bcad31a3ef0a2150c40351d87677047a40eae440ee2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kontact-24.02.2.tar.xz">kontact-24.02.2</a></td>
   <td align="right">840kB</td>
   <td><tt>bd7114cab7c5b9c5cd36ec448287c85f61d94324a335b21b3bbf802520d61fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kontactinterface-24.02.2.tar.xz">kontactinterface-24.02.2</a></td>
   <td align="right">39kB</td>
   <td><tt>720e14ef4f01b67090bcd7c74076016bf19376b0b6c2810ae1e4354e4d656bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kontrast-24.02.2.tar.xz">kontrast-24.02.2</a></td>
   <td align="right">208kB</td>
   <td><tt>0b67ad0ac9754d54b6c9c492a01d9fd8932add7198ec32156369810a25a5bad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/konversation-24.02.2.tar.xz">konversation-24.02.2</a></td>
   <td align="right">4333kB</td>
   <td><tt>b8167b05465b0c4b7cba42636ab5b40ebccd98f088923451d34b039ffb15e249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kopeninghours-24.02.2.tar.xz">kopeninghours-24.02.2</a></td>
   <td align="right">71kB</td>
   <td><tt>cadcb5360b185ba66de21381a6f9690a6848b4bfe60bf40c2afbd6d509567084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/korganizer-24.02.2.tar.xz">korganizer-24.02.2</a></td>
   <td align="right">2514kB</td>
   <td><tt>374a2c352f4c645f5eff15d3b165a7a596647537b596c1eee49ded2134170417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kosmindoormap-24.02.2.tar.xz">kosmindoormap-24.02.2</a></td>
   <td align="right">619kB</td>
   <td><tt>f9333e5a8a3c696a7eb4c347e25aea9da550c957a819f2c0f5c82461c2e72e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kpat-24.02.2.tar.xz">kpat-24.02.2</a></td>
   <td align="right">3626kB</td>
   <td><tt>fb9f9b78150720bfecd464f44531f101e3a6cddfe37032e392b728f821a4155a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kpimtextedit-24.02.2.tar.xz">kpimtextedit-24.02.2</a></td>
   <td align="right">163kB</td>
   <td><tt>5738bd48488eaf03870a4646b1091d6238d7421e2c693c853c205e1a9cbe1020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kpkpass-24.02.2.tar.xz">kpkpass-24.02.2</a></td>
   <td align="right">28kB</td>
   <td><tt>57976e78b8d0c0f5e2a401cb9bd44c986342f4edb258978e6bda26f9eca325af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kpmcore-24.02.2.tar.xz">kpmcore-24.02.2</a></td>
   <td align="right">618kB</td>
   <td><tt>29d3909ad5cbbfa1e5bd772c97be4825407ae6e5efeb5a6ddee5b005c99654bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kpublictransport-24.02.2.tar.xz">kpublictransport-24.02.2</a></td>
   <td align="right">591kB</td>
   <td><tt>7d939dfc6ecfad75f6eb7b234b64f1ab6f52fc0e988ba5e6662e95c52e1abb26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kqtquickcharts-24.02.2.tar.xz">kqtquickcharts-24.02.2</a></td>
   <td align="right">30kB</td>
   <td><tt>2f498083c4269c693ffbfc30792da14383c631f9b9d90fab44aec768b748d5bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/krdc-24.02.2.tar.xz">krdc-24.02.2</a></td>
   <td align="right">1610kB</td>
   <td><tt>aa4e8786480dccb5840532fe8c9188881437d8ca59a98cffcff6685e5579aff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/krecorder-24.02.2.tar.xz">krecorder-24.02.2</a></td>
   <td align="right">161kB</td>
   <td><tt>0982b6d3dfc110fe9468e67fd157f03683aae4243b6ea01d74a19943c6bc82d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kreversi-24.02.2.tar.xz">kreversi-24.02.2</a></td>
   <td align="right">1054kB</td>
   <td><tt>d1c057385ef167d35c050d0044d0acc40da5d9fe4c730034386f78f9eaf8bcb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/krfb-24.02.2.tar.xz">krfb-24.02.2</a></td>
   <td align="right">1290kB</td>
   <td><tt>cf92dfc7867e33604757a59ff8d288693bbf5fbb0cf0bc379c3f975d0e4e98e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kross-interpreters-24.02.2.tar.xz">kross-interpreters-24.02.2</a></td>
   <td align="right">148kB</td>
   <td><tt>f6a5992fdc5d484c358f3acd3018900253a68263d89b4c33be853549814e86bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kruler-24.02.2.tar.xz">kruler-24.02.2</a></td>
   <td align="right">283kB</td>
   <td><tt>1244ddb7eca77cf5a955011d1916986016fff12b09367fba05de9be841954504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksanecore-24.02.2.tar.xz">ksanecore-24.02.2</a></td>
   <td align="right">49kB</td>
   <td><tt>18636264095bb56ee64185b4189d7ea14f33a69e392b818bbb0de6ffc1bb8170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kshisen-24.02.2.tar.xz">kshisen-24.02.2</a></td>
   <td align="right">986kB</td>
   <td><tt>fc13f200a8d14df2ce597f3413cd80afa3474af02b01113dfa30748678d11c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksirk-24.02.2.tar.xz">ksirk-24.02.2</a></td>
   <td align="right">6911kB</td>
   <td><tt>9fbf131c09e00cd490255f779f66b71f312d331a5a06b93d263eb1d89e7711c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksmtp-24.02.2.tar.xz">ksmtp-24.02.2</a></td>
   <td align="right">50kB</td>
   <td><tt>b522e0e5b7288777ccef5a1550276e782fa4d4de0d4dfd70f3acce4b77783598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksnakeduel-24.02.2.tar.xz">ksnakeduel-24.02.2</a></td>
   <td align="right">591kB</td>
   <td><tt>40b50e6bafb2d662b6b4c5c6cec8450f296ffbb151ffdaf37120202f2c59d301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kspaceduel-24.02.2.tar.xz">kspaceduel-24.02.2</a></td>
   <td align="right">645kB</td>
   <td><tt>80d1388576629d777262cab94e36f4517d41f35d452603b91fa08cd6812a53ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksquares-24.02.2.tar.xz">ksquares-24.02.2</a></td>
   <td align="right">310kB</td>
   <td><tt>9e488334afcee2fc96be86d39a4ddad6b6a8eb6a3da15457b920780333f430aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksudoku-24.02.2.tar.xz">ksudoku-24.02.2</a></td>
   <td align="right">1669kB</td>
   <td><tt>2029852d2165949f34b912902704613c5d6c471c40461b6428cadaf5298c4816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ksystemlog-24.02.2.tar.xz">ksystemlog-24.02.2</a></td>
   <td align="right">1966kB</td>
   <td><tt>db963bbbb94c3b7b5f813a532f071ec81a13bf2b75a1c7ced7fff2341eeb4a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kteatime-24.02.2.tar.xz">kteatime-24.02.2</a></td>
   <td align="right">307kB</td>
   <td><tt>dcbd6676b2aa0b2125028b7d639da72cd0e2fc163dafa0f71eef8d8fffa57d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktimer-24.02.2.tar.xz">ktimer-24.02.2</a></td>
   <td align="right">398kB</td>
   <td><tt>4872b00bb3a2a8cd6af467f6334ccfd04972d007b1445981f0fb14d7adac0942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktnef-24.02.2.tar.xz">ktnef-24.02.2</a></td>
   <td align="right">304kB</td>
   <td><tt>74c8dc8eeae98f8fdc65294e3d775029f1aef4ac26f406c882193817f6cf9d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktorrent-24.02.2.tar.xz">ktorrent-24.02.2</a></td>
   <td align="right">2122kB</td>
   <td><tt>0183c633e350386f31c2e763b0948cd8662c9102c8717dd2de6c4fa0042cdfd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktouch-24.02.2.tar.xz">ktouch-24.02.2</a></td>
   <td align="right">4922kB</td>
   <td><tt>53910f976e3741b2fcfbe233a5582f6accae50e0e25f12d5fdb7fe53114d48ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktrip-24.02.2.tar.xz">ktrip-24.02.2</a></td>
   <td align="right">1012kB</td>
   <td><tt>08b6861aa9a8a0bf461160e81fe51dc69d648d92e575bcd82edca9dec4beb11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/ktuberling-24.02.2.tar.xz">ktuberling-24.02.2</a></td>
   <td align="right">69901kB</td>
   <td><tt>ebf70c29438be4310733a9d4c2a822d2e585bd01a5924c99dc28129565004b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kturtle-24.02.2.tar.xz">kturtle-24.02.2</a></td>
   <td align="right">2195kB</td>
   <td><tt>04f136d3c11d42a59d356e1853928ec286f8d811e524cc24d9a7b713b8f4e61b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kubrick-24.02.2.tar.xz">kubrick-24.02.2</a></td>
   <td align="right">346kB</td>
   <td><tt>c7804e726ed70f5575fd2f10785bfb59b7dc67cc5ee1d2261eb28a5b14bf3eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kwalletmanager-24.02.2.tar.xz">kwalletmanager-24.02.2</a></td>
   <td align="right">836kB</td>
   <td><tt>0b63385f9f4932af00417eb1eb28548dedcc0506911304bf2e34479ac0f9b773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kwave-24.02.2.tar.xz">kwave-24.02.2</a></td>
   <td align="right">6819kB</td>
   <td><tt>aa2d10769dba6cd43faaa99ef9b8a75881772227c868d7de52933ccd91cd926c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kweather-24.02.2.tar.xz">kweather-24.02.2</a></td>
   <td align="right">925kB</td>
   <td><tt>897bca95de10a99d32c6dfb1c99222a0adfc148476f4ec2be82ec62828dc6a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/kwordquiz-24.02.2.tar.xz">kwordquiz-24.02.2</a></td>
   <td align="right">3977kB</td>
   <td><tt>e321b07d41c77475c2999440f8cc4b291bf45eebb43b8886aa944245e1aebae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libgravatar-24.02.2.tar.xz">libgravatar-24.02.2</a></td>
   <td align="right">35kB</td>
   <td><tt>b7df55f09b32dcfe668e549c71acba77cd62097a18713b3112befd6f4a3e5285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkcddb-24.02.2.tar.xz">libkcddb-24.02.2</a></td>
   <td align="right">440kB</td>
   <td><tt>608aa2101bdebf8ae1c23cf99cfc982c4e634945a91b3bf44990f86e01a9d5c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkcompactdisc-24.02.2.tar.xz">libkcompactdisc-24.02.2</a></td>
   <td align="right">97kB</td>
   <td><tt>da36ef8dd02e92e414307bbd342a502d0e92b5aa92ae1e24b6c5d3f1e1af0b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkdcraw-24.02.2.tar.xz">libkdcraw-24.02.2</a></td>
   <td align="right">36kB</td>
   <td><tt>7c6b4cb0af910857fdbed4dbfba6fcc5aee26aa31993eeab3219b7343c3192d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkdegames-24.02.2.tar.xz">libkdegames-24.02.2</a></td>
   <td align="right">5829kB</td>
   <td><tt>3c6bf773670e4509bbc71604bf0a14910d076434326a15756d3c47b1f5ae7e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkdepim-24.02.2.tar.xz">libkdepim-24.02.2</a></td>
   <td align="right">275kB</td>
   <td><tt>3b0831516de62d25488e927fc7d9874afb1591efbdf41dec990309f6226674c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkeduvocdocument-24.02.2.tar.xz">libkeduvocdocument-24.02.2</a></td>
   <td align="right">221kB</td>
   <td><tt>cafbfe82432fa4e206904e7ee008a4158c2ba755134de3b45fa24a43eb3c5cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkexiv2-24.02.2.tar.xz">libkexiv2-24.02.2</a></td>
   <td align="right">59kB</td>
   <td><tt>ae60226f489394b239140a4266a2db470a0bcc1a6d77b03c71ae1e3eeff308dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkgapi-24.02.2.tar.xz">libkgapi-24.02.2</a></td>
   <td align="right">328kB</td>
   <td><tt>c43c8405258380cb3c66b91e859a6d9a1949525d2be731d703ea1f4b7ec367c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkipi-24.02.2.tar.xz">libkipi-24.02.2</a></td>
   <td align="right">86kB</td>
   <td><tt>9b2e0ae74c377663613946e82dd4e63374fbe52318632166da10b5f65d63025c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkleo-24.02.2.tar.xz">libkleo-24.02.2</a></td>
   <td align="right">556kB</td>
   <td><tt>2fe3ad5004ac9b42616138ef2fc0d21b26282192d0d78618e12b06a5fa73f499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkmahjongg-24.02.2.tar.xz">libkmahjongg-24.02.2</a></td>
   <td align="right">1654kB</td>
   <td><tt>2224d95c2a1f3be670f0517fded0f5e25c50e498274cdfe0173d3d1b25c0537c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libkomparediff2-24.02.2.tar.xz">libkomparediff2-24.02.2</a></td>
   <td align="right">183kB</td>
   <td><tt>df6072b15e7fc86fa86298382fb332acd462ecc5a72ae405fef74d5d1dd272d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libksane-24.02.2.tar.xz">libksane-24.02.2</a></td>
   <td align="right">149kB</td>
   <td><tt>2ffc7fddb953ef0f9c38eb2c2bf402de0f9520c3542d3247f7b5c19ee185d8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libksieve-24.02.2.tar.xz">libksieve-24.02.2</a></td>
   <td align="right">571kB</td>
   <td><tt>9d040a4acc180dc040b2b33fc0e14bddb68f7efc2ad7b3d554dc9033ec4365f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/libktorrent-24.02.2.tar.xz">libktorrent-24.02.2</a></td>
   <td align="right">589kB</td>
   <td><tt>0116e0fffe3caad94faf20e740cab2581452158c2e842a0414cacc65a34e7861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/lokalize-24.02.2.tar.xz">lokalize-24.02.2</a></td>
   <td align="right">2092kB</td>
   <td><tt>e19ba8314af637bc9573f9a400aaa92f136dbdf7f3687f1b920e0dca71e9af7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/lskat-24.02.2.tar.xz">lskat-24.02.2</a></td>
   <td align="right">1221kB</td>
   <td><tt>53f95960ccab6325793465ffd3d5bf90e9e74f8c68aa9efb99a9f015c8b6275d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/mailcommon-24.02.2.tar.xz">mailcommon-24.02.2</a></td>
   <td align="right">753kB</td>
   <td><tt>d2e6421838376b53d7fca9aa0663083b3b94f0209eb2fc5601ad612bee421604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/mailimporter-24.02.2.tar.xz">mailimporter-24.02.2</a></td>
   <td align="right">579kB</td>
   <td><tt>6280befd3e4e66a8e982ea62c63e2d199df9a698db3f0dece52698a7b95b1006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/marble-24.02.2.tar.xz">marble-24.02.2</a></td>
   <td align="right">52568kB</td>
   <td><tt>89d76e02280bf4c921555a383dd9749f91a536f5f83124ed772b6f379f664be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/markdownpart-24.02.2.tar.xz">markdownpart-24.02.2</a></td>
   <td align="right">32kB</td>
   <td><tt>41c54b866277578da1c5e71810dae750f53637640a14bf5185ff6d3caed3fef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/mbox-importer-24.02.2.tar.xz">mbox-importer-24.02.2</a></td>
   <td align="right">29kB</td>
   <td><tt>6891c1644e693536152dd7d5a4ce5f762717fc06fac5636d7e77c9cc91e0d767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/merkuro-24.02.2.tar.xz">merkuro-24.02.2</a></td>
   <td align="right">725kB</td>
   <td><tt>1afcb7186398a20ecb26a83e0033852a7f82c10c1d21aca43b9284f152dd063b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/messagelib-24.02.2.tar.xz">messagelib-24.02.2</a></td>
   <td align="right">11050kB</td>
   <td><tt>231d9a7a63b60183bd57ad1d372590f456549678a8a4aab1f8e6b0d844feec5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/mimetreeparser-24.02.2.tar.xz">mimetreeparser-24.02.2</a></td>
   <td align="right">620kB</td>
   <td><tt>1ba88ad1ff444a32c2e9195c1c917c1d516a8b9e032e49b7e81021b3841d3ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/minuet-24.02.2.tar.xz">minuet-24.02.2</a></td>
   <td align="right">27047kB</td>
   <td><tt>452a709c357d468f242116ee35f16266acb7fa660a3d64f74e169da158c41475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/neochat-24.02.2.tar.xz">neochat-24.02.2</a></td>
   <td align="right">863kB</td>
   <td><tt>b6dce8f96be12bab0d762694f50c49cea18d6155e1e46549f0bf97046f04741e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/okular-24.02.2.tar.xz">okular-24.02.2</a></td>
   <td align="right">8350kB</td>
   <td><tt>431d36b72bec3954b53f625ff850740e9dff0087b03bc7b71699ca46aeef04de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/palapeli-24.02.2.tar.xz">palapeli-24.02.2</a></td>
   <td align="right">2072kB</td>
   <td><tt>d2c57aa8214fe7e4b3bae3bad1712ea7ed74d67515e10aa3bee109c01f747cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/parley-24.02.2.tar.xz">parley-24.02.2</a></td>
   <td align="right">8414kB</td>
   <td><tt>b94e3c6944650d3bf118abfbc402b6bbe5501987e7f841c2747ea1130911187a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/partitionmanager-24.02.2.tar.xz">partitionmanager-24.02.2</a></td>
   <td align="right">2108kB</td>
   <td><tt>02cb72008cafdc99db5742daa0df634b6ea07dcef3fa440a243e5628a938f509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/picmi-24.02.2.tar.xz">picmi-24.02.2</a></td>
   <td align="right">1505kB</td>
   <td><tt>cf6e5415ca5f1f6555d231d8f041636b7e0a748d4c143a9b6ebbc573913d218d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/pimcommon-24.02.2.tar.xz">pimcommon-24.02.2</a></td>
   <td align="right">340kB</td>
   <td><tt>4640dc276f9a0e6b0c25e25815d73b7cc658c8d73dd504d295e96a583a27d770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/pim-data-exporter-24.02.2.tar.xz">pim-data-exporter-24.02.2</a></td>
   <td align="right">417kB</td>
   <td><tt>0e12d05ab5fa13e89d36349b0d7aed1c7d325ff74b480b025eda076b90a6107f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/pim-sieve-editor-24.02.2.tar.xz">pim-sieve-editor-24.02.2</a></td>
   <td align="right">464kB</td>
   <td><tt>c83666a903d92ac4c3771ce5595f8bba21c9c1855cb83f73eaeae0d87bb67c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/plasmatube-24.02.2.tar.xz">plasmatube-24.02.2</a></td>
   <td align="right">135kB</td>
   <td><tt>af8ab3d41d2902b16705c82b8f4ca274cf145520deec747f8bfb46e6b4c339db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/poxml-24.02.2.tar.xz">poxml-24.02.2</a></td>
   <td align="right">43kB</td>
   <td><tt>a56b4838de38e4735c4ae2833169cbf3c947f093c3e8c0d621247f5f936aca65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/qmlkonsole-24.02.2.tar.xz">qmlkonsole-24.02.2</a></td>
   <td align="right">189kB</td>
   <td><tt>ce818ae76b9185b8448a5185f3309d76a85e8da5acf4ee88c3c9c40b813c9151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/rocs-24.02.2.tar.xz">rocs-24.02.2</a></td>
   <td align="right">1533kB</td>
   <td><tt>44a163107df12b52743f46b18f3e190fe62a9b04902d3c441dd2032736c4830b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/signon-kwallet-extension-24.02.2.tar.xz">signon-kwallet-extension-24.02.2</a></td>
   <td align="right">10kB</td>
   <td><tt>373275e239d887d58ed4502c2ec0417b1ca14757e97bc6827dc0633322a976e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/skanlite-24.02.2.tar.xz">skanlite-24.02.2</a></td>
   <td align="right">2394kB</td>
   <td><tt>d9abc771790bb5558cd7de6453977740d68d9d309e4ee963d2a1c2a27fd763c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/skanpage-24.02.2.tar.xz">skanpage-24.02.2</a></td>
   <td align="right">1291kB</td>
   <td><tt>a7361fe846e78ddac0290d956b4f003374bbb3549446d45a84a62f3f6a5731da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/spectacle-24.02.2.tar.xz">spectacle-24.02.2</a></td>
   <td align="right">1375kB</td>
   <td><tt>4118f7355eb0584deb2a88ce46ece7b616880397f0ab2b810cbe4cbc21742152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/step-24.02.2.tar.xz">step-24.02.2</a></td>
   <td align="right">975kB</td>
   <td><tt>280a7f11d977e307786e70c34a249d9074bbadd369565b756606ecccfb0c1ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/svgpart-24.02.2.tar.xz">svgpart-24.02.2</a></td>
   <td align="right">28kB</td>
   <td><tt>4f860fc141984fefb249d80507c83ae67171982c852545f3395f3f9723102e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/sweeper-24.02.2.tar.xz">sweeper-24.02.2</a></td>
   <td align="right">389kB</td>
   <td><tt>13755882e6c12e8c57655035c7e5f36d052c3c0bfcb40b1c067be3b93f7daddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/telly-skout-24.02.2.tar.xz">telly-skout-24.02.2</a></td>
   <td align="right">95kB</td>
   <td><tt>3daab563e317072944932f741ce37750867fe49f1b16abb70c0ec4a173c44ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/tokodon-24.02.2.tar.xz">tokodon-24.02.2</a></td>
   <td align="right">505kB</td>
   <td><tt>0ca33b0274fe187c917988363753a9b61d4d3983b6f85f2be2b24403f9c6933b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/umbrello-24.02.2.tar.xz">umbrello-24.02.2</a></td>
   <td align="right">5662kB</td>
   <td><tt>892d0bbf62a4a43dd22d61f8207aac012bbeb20d8301b7e70516b0d95617542c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/yakuake-24.02.2.tar.xz">yakuake-24.02.2</a></td>
   <td align="right">429kB</td>
   <td><tt>e45ee0d05f22543fd4565e42e8cb20b5020862d7bba6f33e645007fc60d64659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.2/src/zanshin-24.02.2.tar.xz">zanshin-24.02.2</a></td>
   <td align="right">362kB</td>
   <td><tt>4ba91dfbb0e58af5ec64f4695631356629f089c2241bb7b0c5bdc1c3b9aa27e1</tt></td>
</tr>

</table>
