<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/accessibility-inspector-24.11.80.tar.xz">accessibility-inspector-24.11.80</a></td>
   <td align="right">83kB</td>
   <td><tt>91ad4164031b63e3062cbed07a3a7a5d88d093285bf53f3455573b9494614628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-24.11.80.tar.xz">akonadi-24.11.80</a></td>
   <td align="right">1669kB</td>
   <td><tt>b83bb2819d31765d8972d455081e51ed65bc2b15ad997575c19ec1f8aa2a8f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-calendar-24.11.80.tar.xz">akonadi-calendar-24.11.80</a></td>
   <td align="right">512kB</td>
   <td><tt>01abb16b24c0d9fa0113acb80e639d89fff87b4efaf0f5972d7733be1528780f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-calendar-tools-24.11.80.tar.xz">akonadi-calendar-tools-24.11.80</a></td>
   <td align="right">263kB</td>
   <td><tt>71ae6f5e8584067a03154a18bc5749a5f8f17f531c80527822644ffeca5fe673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadiconsole-24.11.80.tar.xz">akonadiconsole-24.11.80</a></td>
   <td align="right">306kB</td>
   <td><tt>e065c6d484d3e6eecdd0ced6de5f146c63adcd1c9e82b20da83fd927a2c792ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-contacts-24.11.80.tar.xz">akonadi-contacts-24.11.80</a></td>
   <td align="right">426kB</td>
   <td><tt>40e50782f6b38e9522ac87e156f6b4d5e5fbacdf130d4a08be1dc2f133218b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-import-wizard-24.11.80.tar.xz">akonadi-import-wizard-24.11.80</a></td>
   <td align="right">480kB</td>
   <td><tt>b8d0d3049361154cd8369c0bd8b7af4cbcaecf78fc4cca2af681db821e3aaaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-mime-24.11.80.tar.xz">akonadi-mime-24.11.80</a></td>
   <td align="right">171kB</td>
   <td><tt>1ecb885a8a46ec2fa4d8a23713351154308ef134e6d426be3eea494a983ed83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akonadi-search-24.11.80.tar.xz">akonadi-search-24.11.80</a></td>
   <td align="right">110kB</td>
   <td><tt>72cc1c00b95938e2695d8d854d7f363e48bc20cfd80fa8fede138fda90906ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/akregator-24.11.80.tar.xz">akregator-24.11.80</a></td>
   <td align="right">2083kB</td>
   <td><tt>80b00bba36874b3a83a8ce954438932ee5c0d00f9236ebc6e56b81560f15fea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/alligator-24.11.80.tar.xz">alligator-24.11.80</a></td>
   <td align="right">191kB</td>
   <td><tt>32e10e626d5e80ca3f4d3cb1cfb29e0d2d274e97272d750e763de9478569aa83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/analitza-24.11.80.tar.xz">analitza-24.11.80</a></td>
   <td align="right">351kB</td>
   <td><tt>e752632762c17f4a6448867ed03fbdeaccea98b72d726103b0a5c2460c7f980c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/angelfish-24.11.80.tar.xz">angelfish-24.11.80</a></td>
   <td align="right">268kB</td>
   <td><tt>eb163c6678dd2b92aaf0f4202f77d410c1cb0c61e93921b8ab45b391646a9a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/arianna-24.11.80.tar.xz">arianna-24.11.80</a></td>
   <td align="right">801kB</td>
   <td><tt>298d5f63886737342719e3f128eb3bff8854ef2bea70b402693797a83b2feeb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ark-24.11.80.tar.xz">ark-24.11.80</a></td>
   <td align="right">2939kB</td>
   <td><tt>5fd6c127e4ee5a43be487c04c6f6e539e9190cd61bfdf090cbe1a2b26971b10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/artikulate-24.11.80.tar.xz">artikulate-24.11.80</a></td>
   <td align="right">1029kB</td>
   <td><tt>dd508231234d47c586014130813b001ad65d583667a532a1bb85b0fb0cbe8bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/audex-24.11.80.tar.xz">audex-24.11.80</a></td>
   <td align="right">697kB</td>
   <td><tt>cffa5096d6fcef3b36d9deee62657efd400d557a9dcd24e2e36bb996740e3be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/audiocd-kio-24.11.80.tar.xz">audiocd-kio-24.11.80</a></td>
   <td align="right">566kB</td>
   <td><tt>98d3b0be3e11229786b86e3a539e4926499c95ce75076fe1733088c6fb2f7a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/audiotube-24.11.80.tar.xz">audiotube-24.11.80</a></td>
   <td align="right">152kB</td>
   <td><tt>9af1dfb83f3f48876df531be1c20b3f26b12a8f064767483722a2c9833c2e1a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/baloo-widgets-24.11.80.tar.xz">baloo-widgets-24.11.80</a></td>
   <td align="right">271kB</td>
   <td><tt>8781c953e0c37f5a62aa3776a5c6343bf10db22a3ec079c1d54760407d0f1d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/blinken-24.11.80.tar.xz">blinken-24.11.80</a></td>
   <td align="right">2613kB</td>
   <td><tt>75afbf5b9c2bc3a64712ff04353e74c5233696df0205100a386de7d96efe5652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/bomber-24.11.80.tar.xz">bomber-24.11.80</a></td>
   <td align="right">819kB</td>
   <td><tt>cd1527c0dcf3f5120e7db1f279f77c198b75a6e03527934eb44169ea16e9b7eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/bovo-24.11.80.tar.xz">bovo-24.11.80</a></td>
   <td align="right">214kB</td>
   <td><tt>c09b9f914dc6650a1f0b94f81354d846a42e4cdf7bd1393739f2506014953fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/calendarsupport-24.11.80.tar.xz">calendarsupport-24.11.80</a></td>
   <td align="right">974kB</td>
   <td><tt>775d7f9375fe55f3c02de9a6d91ced0616c2a8e06a3e3e83cd6261379f1f9034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/calindori-24.11.80.tar.xz">calindori-24.11.80</a></td>
   <td align="right">387kB</td>
   <td><tt>85b93b564d4296252bb8babbec5050cd06e4576ffbfc856dfd4a22a546c834b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/calligra-24.11.80.tar.xz">calligra-24.11.80</a></td>
   <td align="right">56545kB</td>
   <td><tt>b8e2938f9a8680814bd5a5c15a0561eb6844f0a1b67bcc4a0f53231083f66bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/cantor-24.11.80.tar.xz">cantor-24.11.80</a></td>
   <td align="right">10610kB</td>
   <td><tt>fbf61ceba564712c289f07d13deee685b8e89ccaf56209118776a9a04fc39550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/cervisia-24.11.80.tar.xz">cervisia-24.11.80</a></td>
   <td align="right">1767kB</td>
   <td><tt>dcb82eb4b543cf86461b42e4422ff70d744dd68def8785af2dd94d86ab42036d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/colord-kde-24.11.80.tar.xz">colord-kde-24.11.80</a></td>
   <td align="right">115kB</td>
   <td><tt>aa5052eec53e8060af8dc1b52cecf4bc255c880b48039b772adbe5fb0953fc23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/dolphin-24.11.80.tar.xz">dolphin-24.11.80</a></td>
   <td align="right">5545kB</td>
   <td><tt>d6b421d40c2a27c087a8cf59641ab9e0fc8be17be98931ac70f3b43ece144d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/dolphin-plugins-24.11.80.tar.xz">dolphin-plugins-24.11.80</a></td>
   <td align="right">311kB</td>
   <td><tt>0444b9e11bb564c0f8c5f6bcb200af53d9a7cfc4e81e2eb7706390f55c71a9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/dragon-24.11.80.tar.xz">dragon-24.11.80</a></td>
   <td align="right">1787kB</td>
   <td><tt>a6f8d15258a9fecaea18886f21bbf86a3e23d8fe597442c90f92f604c8b058aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/elisa-24.11.80.tar.xz">elisa-24.11.80</a></td>
   <td align="right">1879kB</td>
   <td><tt>3cc5f720f2d6a09b3f44b961c90c7e9ddb6063e0ef8a0464a9744b547544bcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/eventviews-24.11.80.tar.xz">eventviews-24.11.80</a></td>
   <td align="right">485kB</td>
   <td><tt>db0e3cdc9d9e64087d6709bca0c2de4ee6ad81e374b13fbc7ef317b9fcc61967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/falkon-24.11.80.tar.xz">falkon-24.11.80</a></td>
   <td align="right">2589kB</td>
   <td><tt>d928a02dc8307cba41def4fd872cd5f20b68cfab660c4f429d559cbd3020cf10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ffmpegthumbs-24.11.80.tar.xz">ffmpegthumbs-24.11.80</a></td>
   <td align="right">32kB</td>
   <td><tt>7399ce7ebb35e34aba9c23a089ad3274b68b1c7ebfb6bfa1f0eba496750ad807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/filelight-24.11.80.tar.xz">filelight-24.11.80</a></td>
   <td align="right">670kB</td>
   <td><tt>d526890e778804ef22e9f74ba4148a9ea8f8c5b75ebdb00f425f018a738886a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/francis-24.11.80.tar.xz">francis-24.11.80</a></td>
   <td align="right">111kB</td>
   <td><tt>9f802227ed89b652968aaacacda36228af5f9aebd969e5abdf7188629d6ab0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ghostwriter-24.11.80.tar.xz">ghostwriter-24.11.80</a></td>
   <td align="right">2645kB</td>
   <td><tt>11dc252942ad998beddf6c7c781d18eca804691ea36e70b03e1eca987aaf5432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/granatier-24.11.80.tar.xz">granatier-24.11.80</a></td>
   <td align="right">1966kB</td>
   <td><tt>f565a147ef65db0c59a349d66a7a56b0716ae758a9224f4752b881ac0193d676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/grantlee-editor-24.11.80.tar.xz">grantlee-editor-24.11.80</a></td>
   <td align="right">121kB</td>
   <td><tt>676fb992e669d182ec9c22f9cbe8d331c74a0a0ec72a4e5ef786753fc27ec39c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/grantleetheme-24.11.80.tar.xz">grantleetheme-24.11.80</a></td>
   <td align="right">62kB</td>
   <td><tt>331d651547da4c7e06c9098a51ad257d1377da23efc1981049b16e1f49aaad62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/gwenview-24.11.80.tar.xz">gwenview-24.11.80</a></td>
   <td align="right">6372kB</td>
   <td><tt>96c3923e57d36fa7d4dc82de6a575061a3e86e74fffef21846d393cb0283b20f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/incidenceeditor-24.11.80.tar.xz">incidenceeditor-24.11.80</a></td>
   <td align="right">574kB</td>
   <td><tt>20fc6fce5754bdb6a775d6fc96fd94a554ea7d7920d1766b5ff72771ea8d5061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/isoimagewriter-24.11.80.tar.xz">isoimagewriter-24.11.80</a></td>
   <td align="right">457kB</td>
   <td><tt>4df37f25e85e4987ba494280e3cd2b0c02e886b3544bc22a4b064b41a8859926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/itinerary-24.11.80.tar.xz">itinerary-24.11.80</a></td>
   <td align="right">748kB</td>
   <td><tt>ad8194268584668590fa4149019a52cf84f3277aebd11380102a646c17a0f30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/juk-24.11.80.tar.xz">juk-24.11.80</a></td>
   <td align="right">1865kB</td>
   <td><tt>6365667fa6c68b597569c56063e497b8b4c0d309ca195d95f03bae271594770b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/k3b-24.11.80.tar.xz">k3b-24.11.80</a></td>
   <td align="right">10446kB</td>
   <td><tt>c4ba547dd0c186cc4ece8cad3bd3a4daec6e03ec8eb815dbb9dbb5c6256268f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kaccounts-integration-24.11.80.tar.xz">kaccounts-integration-24.11.80</a></td>
   <td align="right">91kB</td>
   <td><tt>51bbdb7bc1dbec89bf69e6cf528e29bdd06860960606537f72640cf511f1062c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kaccounts-providers-24.11.80.tar.xz">kaccounts-providers-24.11.80</a></td>
   <td align="right">67kB</td>
   <td><tt>044403dc789885e1fffdff6e67ad624e740391a34331961f5aacbac78bd05b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kaddressbook-24.11.80.tar.xz">kaddressbook-24.11.80</a></td>
   <td align="right">3349kB</td>
   <td><tt>f55128efd9a27add569717e36da0fb9bfe93e3d956edb3118f333c435f373292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kajongg-24.11.80.tar.xz">kajongg-24.11.80</a></td>
   <td align="right">4510kB</td>
   <td><tt>ed33e2a544f1dcaa616a7f341f903be1a48003d33e160e4facffd5e9ec2309d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kalarm-24.11.80.tar.xz">kalarm-24.11.80</a></td>
   <td align="right">2573kB</td>
   <td><tt>e64b848421bbb2685ea235257001062bb33d829b8619952c8a9967e50e83b7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kalgebra-24.11.80.tar.xz">kalgebra-24.11.80</a></td>
   <td align="right">926kB</td>
   <td><tt>fbfb67ffb2896912eecaa20c748a65903a5d0362c212f63f17663d6e3fd8d2c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kalk-24.11.80.tar.xz">kalk-24.11.80</a></td>
   <td align="right">75kB</td>
   <td><tt>04b05c3de234c5428b029fa784f8d3355565a8a93a8c39f6f09bd23c570ab171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kalm-24.11.80.tar.xz">kalm-24.11.80</a></td>
   <td align="right">87kB</td>
   <td><tt>130c94a51b79cf2a8795ebe4e8f9552b48272b0582414e91a90961a3f2a60abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kalzium-24.11.80.tar.xz">kalzium-24.11.80</a></td>
   <td align="right">22151kB</td>
   <td><tt>a05731d7c6058d5f88b7eb047dbabd63a1d8a47788472cdeb557bf721bb8cae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kamera-24.11.80.tar.xz">kamera-24.11.80</a></td>
   <td align="right">128kB</td>
   <td><tt>9e4c61c202284b01b4458d5a89b5307601eabe576a541c0ac5ff37995be6552f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kamoso-24.11.80.tar.xz">kamoso-24.11.80</a></td>
   <td align="right">229kB</td>
   <td><tt>56b8d16ed7895cc9a5b265b56816526d49367f90a065e1ea52f2bbddd318e04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kanagram-24.11.80.tar.xz">kanagram-24.11.80</a></td>
   <td align="right">7601kB</td>
   <td><tt>d3daa86458427cd86f028adc86582f333d5e8844fad0b91e96e2e2475d020b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kapman-24.11.80.tar.xz">kapman-24.11.80</a></td>
   <td align="right">2098kB</td>
   <td><tt>91531ea946173a46850c0c00827bc6d0878db7544147ad58816b0bb247aee93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kapptemplate-24.11.80.tar.xz">kapptemplate-24.11.80</a></td>
   <td align="right">464kB</td>
   <td><tt>e169d899a0c9f9d16d3f448b0acae824a963af303f9f9468787335f1a8ecc9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kasts-24.11.80.tar.xz">kasts-24.11.80</a></td>
   <td align="right">609kB</td>
   <td><tt>9f57a9ff302055ce60d42e89e24215c1380efaffbdbd774c3eb5a9be14e757d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kate-24.11.80.tar.xz">kate-24.11.80</a></td>
   <td align="right">8102kB</td>
   <td><tt>52d19b7ffdb34b8e49fcde0c45b07a7443dc6c0734c2679c634d8130be1dccbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/katomic-24.11.80.tar.xz">katomic-24.11.80</a></td>
   <td align="right">1414kB</td>
   <td><tt>23dff02c87778c7ca3c4d70e583ef8cfbdd84bd606ef5fce86cc524e1a18a669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kbackup-24.11.80.tar.xz">kbackup-24.11.80</a></td>
   <td align="right">379kB</td>
   <td><tt>78fecb7afd948ce71ee7cf1265c333978b86b53b63d39ff9b65a458a82e765d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kblackbox-24.11.80.tar.xz">kblackbox-24.11.80</a></td>
   <td align="right">538kB</td>
   <td><tt>55f92493f9c5ca754162711b934ba0217aad10c67b2d8462e80c98e5dc763043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kblocks-24.11.80.tar.xz">kblocks-24.11.80</a></td>
   <td align="right">2053kB</td>
   <td><tt>bccd42c80b1278f909ef0512be6a1460e025946f448b746098c4a93e12753ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kbounce-24.11.80.tar.xz">kbounce-24.11.80</a></td>
   <td align="right">3246kB</td>
   <td><tt>7abe285c97476e80495a963cefdcf572abdf9d5260a357ee6b0b9c11654c3c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kbreakout-24.11.80.tar.xz">kbreakout-24.11.80</a></td>
   <td align="right">2496kB</td>
   <td><tt>53766fc21fbd12da6af3f7bacaf4c1d685d1a122b0c19e822292906329a04515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kbruch-24.11.80.tar.xz">kbruch-24.11.80</a></td>
   <td align="right">5036kB</td>
   <td><tt>ca942f9f16319e75af02e0da72c8c889e61b7285b43dd806ab21de2a35ecdd4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcachegrind-24.11.80.tar.xz">kcachegrind-24.11.80</a></td>
   <td align="right">953kB</td>
   <td><tt>fb8de5e1efb3e46685334d19f1e458e6853b168e7e1bd906cd71eb0dda2c034c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcalc-24.11.80.tar.xz">kcalc-24.11.80</a></td>
   <td align="right">459kB</td>
   <td><tt>19c8f4594f3c397aebf63ce85c11da7e684c8c0a7f1a185e7e5988c3876390f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcalutils-24.11.80.tar.xz">kcalutils-24.11.80</a></td>
   <td align="right">347kB</td>
   <td><tt>216df17b1b78bfc3981afe1b30debeb36bb5aa46e9f5dab16cd4409f067d314a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcharselect-24.11.80.tar.xz">kcharselect-24.11.80</a></td>
   <td align="right">465kB</td>
   <td><tt>87025830cf9521748313ccc0f4ce3cc1d84b33c30127f681c8541e0722822826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kclock-24.11.80.tar.xz">kclock-24.11.80</a></td>
   <td align="right">644kB</td>
   <td><tt>7a648979841c0dbf0e742caf08c3dc5ed1a895cd45a35d3639ec1a891e7f869c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcolorchooser-24.11.80.tar.xz">kcolorchooser-24.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>16aedd6f2af0f0f84df0401154d7bd3ec79f9e58546fb60116ad014a75ed5a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kcron-24.11.80.tar.xz">kcron-24.11.80</a></td>
   <td align="right">874kB</td>
   <td><tt>7d1a2014b09eae50a382d73c9804acbfdfe9d75a9252d75e1ce4af696e19ea83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdebugsettings-24.11.80.tar.xz">kdebugsettings-24.11.80</a></td>
   <td align="right">114kB</td>
   <td><tt>5bc13ad47abd49b789c68780a2a6163f2140d67a5c0e1bc32d227b46198d5cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdeconnect-kde-24.11.80.tar.xz">kdeconnect-kde-24.11.80</a></td>
   <td align="right">696kB</td>
   <td><tt>ab6f1d6f9566302f915d1ad90fb11ee8a81e77a273bc5e0427e28913f67c57ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kde-dev-scripts-24.11.80.tar.xz">kde-dev-scripts-24.11.80</a></td>
   <td align="right">367kB</td>
   <td><tt>878cd00a73991118046d8eef9e2520ad3d1f43e0cbe1a1fa1e270b5df038cd7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kde-dev-utils-24.11.80.tar.xz">kde-dev-utils-24.11.80</a></td>
   <td align="right">73kB</td>
   <td><tt>8f9bdf7ec7d33a96e1f91d1b223983c6c596598757e0af24f78bcdd400f03712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdeedu-data-24.11.80.tar.xz">kdeedu-data-24.11.80</a></td>
   <td align="right">330kB</td>
   <td><tt>538af0096540ed9fe505b22431909be04ff6b8553262d875dbd359c3f0d195df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdegraphics-mobipocket-24.11.80.tar.xz">kdegraphics-mobipocket-24.11.80</a></td>
   <td align="right">12kB</td>
   <td><tt>59c1f3d2851ae0d61b5d9e82c208fe15d2f10b96737443542efd39eff8f1fce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdegraphics-thumbnailers-24.11.80.tar.xz">kdegraphics-thumbnailers-24.11.80</a></td>
   <td align="right">48kB</td>
   <td><tt>bc8fd781134138c435b81d5f119c6888ea146be1b89c80260b63f54123d3238a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kde-inotify-survey-24.11.80.tar.xz">kde-inotify-survey-24.11.80</a></td>
   <td align="right">230kB</td>
   <td><tt>798c3a52a91d8cc92b9e59f6f140d6cdb44665cefd782aa1b48ef4e07ff7f16a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdenetwork-filesharing-24.11.80.tar.xz">kdenetwork-filesharing-24.11.80</a></td>
   <td align="right">488kB</td>
   <td><tt>d3bc4d5b866f020dc6980cb02076c1983cb6ea032779049c4995de1e297698be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdenlive-24.11.80.tar.xz">kdenlive-24.11.80</a></td>
   <td align="right">12773kB</td>
   <td><tt>ba7e995e346184eee3330fe37a4d37779183f4b287cf0dd5c39f8ccee10b535e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdepim-addons-24.11.80.tar.xz">kdepim-addons-24.11.80</a></td>
   <td align="right">2556kB</td>
   <td><tt>7fd4251d9cbcd039e4b67f2ef79e497596e48327b1ec9b2c7f271f1912b8a3dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdepim-runtime-24.11.80.tar.xz">kdepim-runtime-24.11.80</a></td>
   <td align="right">1625kB</td>
   <td><tt>18e9962444056b075e7608529327168bba4899f8b6c9f86c0f0432e6afa26330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdesdk-kio-24.11.80.tar.xz">kdesdk-kio-24.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>061ee7570330148646064ca7a00534b8b23a9ccd7ef56f216c4042284933fc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdesdk-thumbnailers-24.11.80.tar.xz">kdesdk-thumbnailers-24.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>9ccf48132faca5588e89c937973ea66bec411181b84a55bb6847e034bff56da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdevelop-24.11.80.tar.xz">kdevelop-24.11.80</a></td>
   <td align="right">8623kB</td>
   <td><tt>1545591f7f188e20d8fa017b6c9eddde7a28cf5e7578705f69f106db4b23dd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdev-php-24.11.80.tar.xz">kdev-php-24.11.80</a></td>
   <td align="right">1068kB</td>
   <td><tt>5825ff396be415d6360d4b71f60b04aa0f3df82fc5f66a0cb0e8a5fc9b0ff283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdev-python-24.11.80.tar.xz">kdev-python-24.11.80</a></td>
   <td align="right">1077kB</td>
   <td><tt>6cc249753f12d6825e7fcb0c9c0aeaa008035cc1d2354591550a44daedb601fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdf-24.11.80.tar.xz">kdf-24.11.80</a></td>
   <td align="right">468kB</td>
   <td><tt>f457ea889c4d26ba636fa1a06cf1bd07588d7ef5a060b7ad0017f1a29a8e9088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdialog-24.11.80.tar.xz">kdialog-24.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>843f6478e4b8fcbe141929e71862365de61848798d90ffa369a7b036e4b13342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kdiamond-24.11.80.tar.xz">kdiamond-24.11.80</a></td>
   <td align="right">4563kB</td>
   <td><tt>c9bebf6997044dbbac6f6f26da45b9efdf54f01d3cf618c07bbef65c3372c7f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/keditbookmarks-24.11.80.tar.xz">keditbookmarks-24.11.80</a></td>
   <td align="right">254kB</td>
   <td><tt>d504648608ad65221b2618a5b0fd6078e2c6f7562d725983530d1977c61bd8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/keysmith-24.11.80.tar.xz">keysmith-24.11.80</a></td>
   <td align="right">168kB</td>
   <td><tt>a80c53493187077f1969c848d14b7916ca6ededceec76e4ab4ddbbdb3f9dba8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kfind-24.11.80.tar.xz">kfind-24.11.80</a></td>
   <td align="right">322kB</td>
   <td><tt>0a244462257b9bca7e04175813f7710584dfbe450c13a240a98c5df9335c9577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kfourinline-24.11.80.tar.xz">kfourinline-24.11.80</a></td>
   <td align="right">728kB</td>
   <td><tt>9d1dc3eff2d81ee37df56ff9b1f6b18207eb588b23879c7f350329a02a242a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kgeography-24.11.80.tar.xz">kgeography-24.11.80</a></td>
   <td align="right">12133kB</td>
   <td><tt>9ade5a847ec3fb3fc7fc621713133e0ed4ac114e278687ee5b61a6b78caf0e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kget-24.11.80.tar.xz">kget-24.11.80</a></td>
   <td align="right">4798kB</td>
   <td><tt>f3c2d49280c527a1336041928c0c720577dbebde1566fe1fe9afc05ccbb05a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kgoldrunner-24.11.80.tar.xz">kgoldrunner-24.11.80</a></td>
   <td align="right">4240kB</td>
   <td><tt>0afc3bc3635054c3f2a8efa88b8d6d9eedae6ed7c7edd697bbbf46755a918593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kgpg-24.11.80.tar.xz">kgpg-24.11.80</a></td>
   <td align="right">2960kB</td>
   <td><tt>8718ce8f49d63b6f06cf7a96d080e6408126732fb8ea171b48dfefc03372b4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kgraphviewer-24.11.80.tar.xz">kgraphviewer-24.11.80</a></td>
   <td align="right">1553kB</td>
   <td><tt>3b37cb12da8f785be39c85a5c6362b28c9adf4bea8c4b25e6ba66387ac95a307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/khangman-24.11.80.tar.xz">khangman-24.11.80</a></td>
   <td align="right">6854kB</td>
   <td><tt>96ee22e5baab3538386eedb82b2f29a4ee699b442a14d78b9edb841782978712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/khealthcertificate-24.11.80.tar.xz">khealthcertificate-24.11.80</a></td>
   <td align="right">502kB</td>
   <td><tt>902a3f60e8739f011f273dd12cb297d4b53d93184a0c7b25b0b2187d485e6acb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/khelpcenter-24.11.80.tar.xz">khelpcenter-24.11.80</a></td>
   <td align="right">4140kB</td>
   <td><tt>a8fb2e78751d9387ddf3ca8f9079eaf5f2a80abb84f40bbff64614b47d26030b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kidentitymanagement-24.11.80.tar.xz">kidentitymanagement-24.11.80</a></td>
   <td align="right">192kB</td>
   <td><tt>ac2ae6d5c2c9e429e21382350f0a974a753b91c49a2bbd32a8e978edb4c4b854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kig-24.11.80.tar.xz">kig-24.11.80</a></td>
   <td align="right">3170kB</td>
   <td><tt>e5cb9235b19a5700e64a30a96bfc2956b48cabca9e912455d02fd3432075b44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kigo-24.11.80.tar.xz">kigo-24.11.80</a></td>
   <td align="right">4719kB</td>
   <td><tt>bf36db7228d1e2932d68020ebf23e96ee1a98d62a9e84a134e7271cf85611bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/killbots-24.11.80.tar.xz">killbots-24.11.80</a></td>
   <td align="right">1146kB</td>
   <td><tt>b8504448e04e1766ebe59117dc1994c6932e2d2e06e58297b3b0478c41453cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kimagemapeditor-24.11.80.tar.xz">kimagemapeditor-24.11.80</a></td>
   <td align="right">1049kB</td>
   <td><tt>be75e88ab32dfb3c7758df3e4eb14d0fcd950eedf82b423a1bcc72e2447aeb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kimap-24.11.80.tar.xz">kimap-24.11.80</a></td>
   <td align="right">129kB</td>
   <td><tt>d88382bfbc1a12260eaff4bde17464e8c911380d17718b775f420b926f6570bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kio-admin-24.11.80.tar.xz">kio-admin-24.11.80</a></td>
   <td align="right">38kB</td>
   <td><tt>fc123b8aa7afbeb85ea3ac3c03a337782e9913a190c489b4b4326c09c16acf51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kio-extras-24.11.80.tar.xz">kio-extras-24.11.80</a></td>
   <td align="right">3431kB</td>
   <td><tt>8c032b23da45a7bb3e16b80ff942f1656e16fe1fb8c07d8097a5861606cf2959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kio-gdrive-24.11.80.tar.xz">kio-gdrive-24.11.80</a></td>
   <td align="right">78kB</td>
   <td><tt>e4d152c4b1b71f82a5cc024242e32461dc6d7705dbe80d70387e2211d4149087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kio-zeroconf-24.11.80.tar.xz">kio-zeroconf-24.11.80</a></td>
   <td align="right">43kB</td>
   <td><tt>eaf92f4c3c38e0d017dcc70dbed486ca9699ae8e0aebbce6c9dbdd862aa47770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kirigami-gallery-24.11.80.tar.xz">kirigami-gallery-24.11.80</a></td>
   <td align="right">361kB</td>
   <td><tt>c57abaa9164f9b31ca80fcbd0132c5719ea2aa4ecd385b44a266b233372d28e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kiriki-24.11.80.tar.xz">kiriki-24.11.80</a></td>
   <td align="right">365kB</td>
   <td><tt>3bde17ab9d5ba773406c8408d3d2fb34fb4e9cc481eb1a49cb0d1372da057412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kiten-24.11.80.tar.xz">kiten-24.11.80</a></td>
   <td align="right">11048kB</td>
   <td><tt>1e47118912b171322613045b5eb7f24cf8689753575a45a39be08de3f30e4547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kitinerary-24.11.80.tar.xz">kitinerary-24.11.80</a></td>
   <td align="right">1950kB</td>
   <td><tt>2e306a79770dfb84e418a07c5a33fcc23a9683e24d96aa85797769eda31d3001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kjournald-24.11.80.tar.xz">kjournald-24.11.80</a></td>
   <td align="right">508kB</td>
   <td><tt>9ca9b1bd378c05c8635259379ced4bc5183d794e1d029bf5f780243744d5aa20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kjumpingcube-24.11.80.tar.xz">kjumpingcube-24.11.80</a></td>
   <td align="right">338kB</td>
   <td><tt>c7ee2fed03941d9e08540f5379ba4b7d555da6ece3a57c1d2ba71d6904451d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kldap-24.11.80.tar.xz">kldap-24.11.80</a></td>
   <td align="right">185kB</td>
   <td><tt>6e8d1ce50808d386ff5d1a46e56d925781228d8e42c3d6d0ca26af2ef2cc907b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kleopatra-24.11.80.tar.xz">kleopatra-24.11.80</a></td>
   <td align="right">2714kB</td>
   <td><tt>14939e6a85b6d1f2a60075776ad1aeb46d0b48b559b80f4d7bd54c4c06d122d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/klettres-24.11.80.tar.xz">klettres-24.11.80</a></td>
   <td align="right">46081kB</td>
   <td><tt>389f6e20e3fc894fff86fdb642a623e28e80fdaf4dd416ade22d0a737d1d1eba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/klickety-24.11.80.tar.xz">klickety-24.11.80</a></td>
   <td align="right">1354kB</td>
   <td><tt>15cfac382c69da5d47b036bbf3b6f92e1b168af2d906822c5942e2efdc9f3b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/klines-24.11.80.tar.xz">klines-24.11.80</a></td>
   <td align="right">1634kB</td>
   <td><tt>ad98ee0e4b5b93bc5b3b9431979a14a8c9ea0dde721b1b0c47ea734ea4b10cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmag-24.11.80.tar.xz">kmag-24.11.80</a></td>
   <td align="right">661kB</td>
   <td><tt>a8543c20a7baf6cd4685e4dfa4d032bd4322481a1641839bf6ff90fd0da9f300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmahjongg-24.11.80.tar.xz">kmahjongg-24.11.80</a></td>
   <td align="right">3632kB</td>
   <td><tt>809a575db6bcaea5278693f5f19a9566d5cd4f8bf90e47c0a8c2b758c2ce8606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmail-24.11.80.tar.xz">kmail-24.11.80</a></td>
   <td align="right">7588kB</td>
   <td><tt>e05d338cda8cd591099a41ec005a59b64e59e978d51752bfbeebb8b1690cf80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmail-account-wizard-24.11.80.tar.xz">kmail-account-wizard-24.11.80</a></td>
   <td align="right">162kB</td>
   <td><tt>12ff792d7880bed3c1abdf818e097d733290a8b911742f68591b61e6f0e068d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmailtransport-24.11.80.tar.xz">kmailtransport-24.11.80</a></td>
   <td align="right">184kB</td>
   <td><tt>701bf92ddc82b61c799c79d56c885f04ab6cd217b676d3766f469333262ffa63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmbox-24.11.80.tar.xz">kmbox-24.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>6345eb2e42c84e7674970ea370678628c83d62e1102d7fca894136e23a15478a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmime-24.11.80.tar.xz">kmime-24.11.80</a></td>
   <td align="right">161kB</td>
   <td><tt>65f93a774c2dc5f12f7916bc542a9e5361f41cb120688cc00a8ad1b5decf5f0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmines-24.11.80.tar.xz">kmines-24.11.80</a></td>
   <td align="right">926kB</td>
   <td><tt>068af25b1cb4b8d01913f8fb6d4ec3ce1b80296f43eee6162b57d017bcc2bad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmix-24.11.80.tar.xz">kmix-24.11.80</a></td>
   <td align="right">1138kB</td>
   <td><tt>ecd9133abef8f21f4b40e7edf69db2538696b25de5d75c5100ca6dfd59133902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmousetool-24.11.80.tar.xz">kmousetool-24.11.80</a></td>
   <td align="right">131kB</td>
   <td><tt>ed383bd86300e4cb431066122fbebdd805a2cbdfe5edf98ff8fd58d152b14830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmouth-24.11.80.tar.xz">kmouth-24.11.80</a></td>
   <td align="right">1894kB</td>
   <td><tt>c63d923f1341d0fce16e293926489dcaa731aed49bd8cff0d8aba7c7d479d456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kmplot-24.11.80.tar.xz">kmplot-24.11.80</a></td>
   <td align="right">2951kB</td>
   <td><tt>e37ab92152f70c9c1d6c917a2a7859b4f203e324b715dc0eaed5c5c112425295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/knavalbattle-24.11.80.tar.xz">knavalbattle-24.11.80</a></td>
   <td align="right">1023kB</td>
   <td><tt>feb2e796b6c77c03002d4af2b5ce9d611b6adbabc1ce83a42d865ad4d8092505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/knetwalk-24.11.80.tar.xz">knetwalk-24.11.80</a></td>
   <td align="right">986kB</td>
   <td><tt>c0657ac5f0e2d07b1ee9103eb077581edc6bcf04bef4baca89589145b29c0f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/knights-24.11.80.tar.xz">knights-24.11.80</a></td>
   <td align="right">2430kB</td>
   <td><tt>906b15d83908e515510396a141467f6aa87953b6b98836824f72f294d25c6bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/koko-24.11.80.tar.xz">koko-24.11.80</a></td>
   <td align="right">8336kB</td>
   <td><tt>3637a90c6d9600161bd358993bbc1a7ff38e81ba7f6dd5132f80768b59ab17f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kolf-24.11.80.tar.xz">kolf-24.11.80</a></td>
   <td align="right">1055kB</td>
   <td><tt>edf22900531cb34a12963e0ea5585f8aa7eb91266bd4a9f146f92ea7092948b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kollision-24.11.80.tar.xz">kollision-24.11.80</a></td>
   <td align="right">304kB</td>
   <td><tt>2ed1cdb033ab38c099864c33a1774bc72ea962303c095a4a87fc15ed21ff6ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kolourpaint-24.11.80.tar.xz">kolourpaint-24.11.80</a></td>
   <td align="right">5185kB</td>
   <td><tt>729a2d93f33bd131e2b7e109b51a0976c09d0bf03c5aa008c49d9794d38a2964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kompare-24.11.80.tar.xz">kompare-24.11.80</a></td>
   <td align="right">935kB</td>
   <td><tt>89e9f0d663c7f1871846e5e71e4c8098fdf20e09987373635f7d65034340dc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kongress-24.11.80.tar.xz">kongress-24.11.80</a></td>
   <td align="right">152kB</td>
   <td><tt>217571168906dc2a296710d183503ea203aac3333ea0ff190112bcb8205b0931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/konqueror-24.11.80.tar.xz">konqueror-24.11.80</a></td>
   <td align="right">9517kB</td>
   <td><tt>d3f1b40694cc12d008ba31ec74cac9b473d776f91ab949454dbf9d758ecbf88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/konquest-24.11.80.tar.xz">konquest-24.11.80</a></td>
   <td align="right">841kB</td>
   <td><tt>da4545aeb510012ad68618df924e320886623ccd3f094e40169349de4f23c7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/konsole-24.11.80.tar.xz">konsole-24.11.80</a></td>
   <td align="right">1775kB</td>
   <td><tt>985f210ac68cc4df30d9f12b1e625e6413d4d526876eedc20877a6dc4e9ecdfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kontact-24.11.80.tar.xz">kontact-24.11.80</a></td>
   <td align="right">848kB</td>
   <td><tt>2dad907d4596bb848e6cd09924cb6cbc36167a61dab623d26ed94d8f83588ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kontactinterface-24.11.80.tar.xz">kontactinterface-24.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>9f435fa6fdddf3c76749b108c8d48cc7350df0f74df442a078f1218f72ec42b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kontrast-24.11.80.tar.xz">kontrast-24.11.80</a></td>
   <td align="right">212kB</td>
   <td><tt>762bc05ecf42feef4924d411e32d15e9ed945cd02e4353bb8e27b67432c21442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/konversation-24.11.80.tar.xz">konversation-24.11.80</a></td>
   <td align="right">4311kB</td>
   <td><tt>525aa9aee27f45d2ce30003584afe63f6e39781dd47323e9cff62e19c7237d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kopeninghours-24.11.80.tar.xz">kopeninghours-24.11.80</a></td>
   <td align="right">73kB</td>
   <td><tt>2eb5441fea9a89558fe83742ad92a85ad47620bd0ae8ee2e861cb6070795c5fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/korganizer-24.11.80.tar.xz">korganizer-24.11.80</a></td>
   <td align="right">2870kB</td>
   <td><tt>a5ffaee291d84e9a2261b9ba4b723e67b805cda347a6aa099c2fefb05fc9c24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kosmindoormap-24.11.80.tar.xz">kosmindoormap-24.11.80</a></td>
   <td align="right">676kB</td>
   <td><tt>e5ce64f4c007b58586bb80b43d39fe21765a1f88dd6fc7ae66d87680e5c4f0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kpat-24.11.80.tar.xz">kpat-24.11.80</a></td>
   <td align="right">3647kB</td>
   <td><tt>46948801cab071983b0576792aa32a1cffaa0305405e6e2541fb6c8014a65158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kpimtextedit-24.11.80.tar.xz">kpimtextedit-24.11.80</a></td>
   <td align="right">172kB</td>
   <td><tt>4333e24931764f92738875d69d743d92c2031018f4d9c1e3bd0390d0a182a055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kpkpass-24.11.80.tar.xz">kpkpass-24.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>d479da8874252b6e9dfa26612eb06cfa75f0205b225dbf57911f78e3717609cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kpmcore-24.11.80.tar.xz">kpmcore-24.11.80</a></td>
   <td align="right">631kB</td>
   <td><tt>1b026b9c16917f04b4cc5bb8b578bbcd2123279d5a8536623f47cee6000f423b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kpublictransport-24.11.80.tar.xz">kpublictransport-24.11.80</a></td>
   <td align="right">734kB</td>
   <td><tt>0fa9543643052e9eca0add229d50c69e8aef19f301d5402fcde46e35a775ca86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kqtquickcharts-24.11.80.tar.xz">kqtquickcharts-24.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>05f74e9bf18158d4eec60435053fa8c49380510ea2429122e773f36c286ba086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/krdc-24.11.80.tar.xz">krdc-24.11.80</a></td>
   <td align="right">1521kB</td>
   <td><tt>2ee89abcb7efbc2804cca8c98556f0642c66181ec40b5a2c95a9c4e042d36933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/krecorder-24.11.80.tar.xz">krecorder-24.11.80</a></td>
   <td align="right">164kB</td>
   <td><tt>dfb8d75f79089b1431fc9921d026e1e1f84e8a455efcbab4e419efa4c79f93fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kreversi-24.11.80.tar.xz">kreversi-24.11.80</a></td>
   <td align="right">1009kB</td>
   <td><tt>d7ff44effaecafa433d3ca9245b95116b028d394fa2a67498e6b213305b63e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/krfb-24.11.80.tar.xz">krfb-24.11.80</a></td>
   <td align="right">1189kB</td>
   <td><tt>857ab7b19f88728491200aa51d49dcfcdc1ebf57f3490037b6affdbd8b63359c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kross-interpreters-24.11.80.tar.xz">kross-interpreters-24.11.80</a></td>
   <td align="right">148kB</td>
   <td><tt>dfe7af8c8ce22e429edfdb8556513d555b1da58ba6e38146d29767e79ef6523c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kruler-24.11.80.tar.xz">kruler-24.11.80</a></td>
   <td align="right">279kB</td>
   <td><tt>b8989dbc7813bcd55548511881900ed54861c2ab96a934656aa71f86ad58dde9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksanecore-24.11.80.tar.xz">ksanecore-24.11.80</a></td>
   <td align="right">53kB</td>
   <td><tt>37f0582cde9e752abf645634b090989a012ed10c29986781f7070ac61a713d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kshisen-24.11.80.tar.xz">kshisen-24.11.80</a></td>
   <td align="right">949kB</td>
   <td><tt>2259754af0641a976aaf4af477cf61a60c5208cd2951c5772e1f9b82079a5618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksirk-24.11.80.tar.xz">ksirk-24.11.80</a></td>
   <td align="right">6547kB</td>
   <td><tt>86b979dbc8d8715d0041be397c91bdef787ce95330ae231af938b998b2eb663d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksmtp-24.11.80.tar.xz">ksmtp-24.11.80</a></td>
   <td align="right">51kB</td>
   <td><tt>80eb8760063da8c31552986df40c4f6f5d3072701a40bb94328bf584671530db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksnakeduel-24.11.80.tar.xz">ksnakeduel-24.11.80</a></td>
   <td align="right">564kB</td>
   <td><tt>b49edea50317c5af928d8ffd4e985a4f9c7a34c6a35792c736770fa36908bdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kspaceduel-24.11.80.tar.xz">kspaceduel-24.11.80</a></td>
   <td align="right">620kB</td>
   <td><tt>0d7db27d8ff2c6c1ab5f12024d3eeca6320130624a1668cdc50a1b814a93802e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksquares-24.11.80.tar.xz">ksquares-24.11.80</a></td>
   <td align="right">314kB</td>
   <td><tt>b40850cd3f43434847a9e20e5d8021b3e54139aa1c0938482a8b5033323fe20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksudoku-24.11.80.tar.xz">ksudoku-24.11.80</a></td>
   <td align="right">1688kB</td>
   <td><tt>048eb0a0b4a4b2aa111df6055d561b32443fa6a9b26e0af8679d2b7172ccfa32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ksystemlog-24.11.80.tar.xz">ksystemlog-24.11.80</a></td>
   <td align="right">1814kB</td>
   <td><tt>8953452d74b3887c2c93dd045c21a409c16af982bccd8fe61a846bf58b64a9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kteatime-24.11.80.tar.xz">kteatime-24.11.80</a></td>
   <td align="right">303kB</td>
   <td><tt>c7e0dd364d5127ff4d579022b2889f92a899440a9f46b78e882a081ed1ff52fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktimer-24.11.80.tar.xz">ktimer-24.11.80</a></td>
   <td align="right">442kB</td>
   <td><tt>73e252f0075de2141854eb7d182831b63e8b71840d21c431463c05a830a52a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktnef-24.11.80.tar.xz">ktnef-24.11.80</a></td>
   <td align="right">306kB</td>
   <td><tt>0dfb3ed0ae5fff1afda2348f790838ea2960686c305959aeda2f6787e678a136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktorrent-24.11.80.tar.xz">ktorrent-24.11.80</a></td>
   <td align="right">2137kB</td>
   <td><tt>a8424bacd264585a5586730f7a2fdbb5c68a8e039438f1b1144ff6c6b00d4998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktouch-24.11.80.tar.xz">ktouch-24.11.80</a></td>
   <td align="right">4675kB</td>
   <td><tt>503c28b446590f2e809c641417bbdaec4ea1e12952074908b4c20ff922deb3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktrip-24.11.80.tar.xz">ktrip-24.11.80</a></td>
   <td align="right">1014kB</td>
   <td><tt>9e953c126102bf5d87a6698cc30d6861f78654bb6699aed906aaebf0a35a2285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/ktuberling-24.11.80.tar.xz">ktuberling-24.11.80</a></td>
   <td align="right">69868kB</td>
   <td><tt>c6ecb184812ebac4fef0bfdf40f4d9420a9b2a5a5a65cd1c3017ec5b69b22df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kturtle-24.11.80.tar.xz">kturtle-24.11.80</a></td>
   <td align="right">2047kB</td>
   <td><tt>f50d4f57dd586b75a659944eb6313ebb4c2a6ff9e5ed983609007b3d449f536c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kubrick-24.11.80.tar.xz">kubrick-24.11.80</a></td>
   <td align="right">366kB</td>
   <td><tt>0d5f5c33ffb5950167c4dfc28fbb4a5eaab9a161d1b366006371ce6314d01be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kunifiedpush-24.11.80.tar.xz">kunifiedpush-24.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>2445b89cbed68e6faa30c6416d350e6568a549dd6c2e884ff597472e37e00501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kwalletmanager-24.11.80.tar.xz">kwalletmanager-24.11.80</a></td>
   <td align="right">1024kB</td>
   <td><tt>d28b96db0a5b7663d10691783b21659132ab04289d2b6daf53462481c0ed38e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kwave-24.11.80.tar.xz">kwave-24.11.80</a></td>
   <td align="right">6315kB</td>
   <td><tt>6984a0145109cc3a01b1755011e23dce23ec5e33659c8d86b22147c463b94c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kweather-24.11.80.tar.xz">kweather-24.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>41b192e6bb1d428d7d57f16c8b092c7eca30ebaf0c0cc48c7a70f0418309d7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kweathercore-24.11.80.tar.xz">kweathercore-24.11.80</a></td>
   <td align="right">74kB</td>
   <td><tt>0a392049ec2b25067ac266e3908527102a486e1baef0a027eba56161337468f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/kwordquiz-24.11.80.tar.xz">kwordquiz-24.11.80</a></td>
   <td align="right">3688kB</td>
   <td><tt>33469942bae557080a46e13bf193f294d608afb14bc2159ba6ecf213e7d02bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libgravatar-24.11.80.tar.xz">libgravatar-24.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>ad0a9e76a90e5bb44e82d86126f7ef6a64aa9f39cc055f91a529960a9cd901b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkcddb-24.11.80.tar.xz">libkcddb-24.11.80</a></td>
   <td align="right">439kB</td>
   <td><tt>9a44f0889624eca1a04ca83cc6e7eba5fe316dc14340182ce914218d70e7d999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkcompactdisc-24.11.80.tar.xz">libkcompactdisc-24.11.80</a></td>
   <td align="right">98kB</td>
   <td><tt>3203499e040da3dec0e343c5b143c5944e5d74d3e5b40519ba2fe687b460d0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkdcraw-24.11.80.tar.xz">libkdcraw-24.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>ddc5fdca52ffcb62efa1c6e516742c4ab10bda2534d1fa793c76a17a486b0061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkdegames-24.11.80.tar.xz">libkdegames-24.11.80</a></td>
   <td align="right">5825kB</td>
   <td><tt>94d08e2f716fbba3f51c3e90dfd15a84be055449e964dc09405fd19348060fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkdepim-24.11.80.tar.xz">libkdepim-24.11.80</a></td>
   <td align="right">276kB</td>
   <td><tt>d5ad85ef695a5da2760addc6a5e3ae63c156cc834306ca87fffb89c7f4224ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkeduvocdocument-24.11.80.tar.xz">libkeduvocdocument-24.11.80</a></td>
   <td align="right">223kB</td>
   <td><tt>e56d2c14f7794888b625103c591a4a4707707a7578feb1becb3ce533f43fcbf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkexiv2-24.11.80.tar.xz">libkexiv2-24.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>979459e5dce9c17381b95bafdac47adb92eb44a4f68bb2a489d4fa111951f0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkgapi-24.11.80.tar.xz">libkgapi-24.11.80</a></td>
   <td align="right">331kB</td>
   <td><tt>2a901867d4d4200e2ed5498d6efdfa22feed9ca5b251d102e677edde7ca3dcf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkleo-24.11.80.tar.xz">libkleo-24.11.80</a></td>
   <td align="right">620kB</td>
   <td><tt>3f089e8de6a54a9bd0353a956338c560eab4a9ec497d19ce3b05e1a770529c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkmahjongg-24.11.80.tar.xz">libkmahjongg-24.11.80</a></td>
   <td align="right">1653kB</td>
   <td><tt>78592dc3d52167034812ffade910195997f0e44d33787f0eb96d06c565d057ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libkomparediff2-24.11.80.tar.xz">libkomparediff2-24.11.80</a></td>
   <td align="right">183kB</td>
   <td><tt>1de0b54a0a8a38c9edc491bed57c4443110091fa8aae80d5fd405c5f878619ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libksane-24.11.80.tar.xz">libksane-24.11.80</a></td>
   <td align="right">151kB</td>
   <td><tt>36de052b2573838330bc4fb55a190effd1b789a1322294e0cf7e30be3a604512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libksieve-24.11.80.tar.xz">libksieve-24.11.80</a></td>
   <td align="right">589kB</td>
   <td><tt>4da31889d98b00a9d60d47fbb1963cd18cbcc805311aceb060612b08dac37e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/libktorrent-24.11.80.tar.xz">libktorrent-24.11.80</a></td>
   <td align="right">590kB</td>
   <td><tt>82bee6787635fbf53bb0b353fe66e1e73bb44ed9e55e40474c55c0e4cb1edefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/lokalize-24.11.80.tar.xz">lokalize-24.11.80</a></td>
   <td align="right">2010kB</td>
   <td><tt>00daf08ab38cb9f77d836a0aecae87cda27c8e2b4f86e23a980642e95e9092e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/lskat-24.11.80.tar.xz">lskat-24.11.80</a></td>
   <td align="right">1198kB</td>
   <td><tt>8532d9b6700761afe7edda539cb1a964c78ad819335e8724e880b952bd270354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/mailcommon-24.11.80.tar.xz">mailcommon-24.11.80</a></td>
   <td align="right">771kB</td>
   <td><tt>ca453f163633778d8291cfd3ec33d279b7c944bd9356772f556070e39b0b900c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/mailimporter-24.11.80.tar.xz">mailimporter-24.11.80</a></td>
   <td align="right">582kB</td>
   <td><tt>5373c9d26403d84e04ca3da1f60874fa23efa8853c5e0cab2985081cc613f1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/marble-24.11.80.tar.xz">marble-24.11.80</a></td>
   <td align="right">52381kB</td>
   <td><tt>d9348ef039160852e6237b71b184d552a460ebf1fabee821688cfe314c0a5402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/markdownpart-24.11.80.tar.xz">markdownpart-24.11.80</a></td>
   <td align="right">33kB</td>
   <td><tt>6c2f2ae51510e10e96c39a4b38d0865a335338d2727ef9bbab23533d270717d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/massif-visualizer-24.11.80.tar.xz">massif-visualizer-24.11.80</a></td>
   <td align="right">272kB</td>
   <td><tt>e8c0f743efa64f75b6e1e60a7255c16a768920b4f1d0a03fea4c796141cde05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/mbox-importer-24.11.80.tar.xz">mbox-importer-24.11.80</a></td>
   <td align="right">31kB</td>
   <td><tt>a5f587f6b92ada01996e65100de85cf48598f7260ce4166885592b8c0e22a2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/merkuro-24.11.80.tar.xz">merkuro-24.11.80</a></td>
   <td align="right">770kB</td>
   <td><tt>00bdd052606105453b1b1c0234636b826c8160e1d011b3efd314262055254e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/messagelib-24.11.80.tar.xz">messagelib-24.11.80</a></td>
   <td align="right">7244kB</td>
   <td><tt>b2067214da4245b01db0c37a92dd06d1e7f15bd785a0f81ac0c2c843e05220db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/mimetreeparser-24.11.80.tar.xz">mimetreeparser-24.11.80</a></td>
   <td align="right">630kB</td>
   <td><tt>7f7f53aa66cbfa2c0acd82ecaf840e101f426686c9d204c47e10a270fdfe39f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/minuet-24.11.80.tar.xz">minuet-24.11.80</a></td>
   <td align="right">27047kB</td>
   <td><tt>015f079a0a7c09942b0650a17621fd56c3e34c690e8308726aa747f31bffe626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/neochat-24.11.80.tar.xz">neochat-24.11.80</a></td>
   <td align="right">1035kB</td>
   <td><tt>14f9f61dbcd5c9fbf7105f7c77646d5f8e8aa844367c5f38587b3bd3a21c83f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/okular-24.11.80.tar.xz">okular-24.11.80</a></td>
   <td align="right">7867kB</td>
   <td><tt>25d94df8f1b93a2efe7a912a4f3c51ed152632cf5043ac2ec2f1428a0951c506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/palapeli-24.11.80.tar.xz">palapeli-24.11.80</a></td>
   <td align="right">2072kB</td>
   <td><tt>c732ed8f2b958abef2524c2d64160e0d438a336d2f682c1c706b52b53115683d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/parley-24.11.80.tar.xz">parley-24.11.80</a></td>
   <td align="right">8236kB</td>
   <td><tt>818913bad6d36e36e5b7569f6e1a2da5f59f96090c6bed3b6e03654f79e110b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/partitionmanager-24.11.80.tar.xz">partitionmanager-24.11.80</a></td>
   <td align="right">2268kB</td>
   <td><tt>5157592336113b16f9726e6342f04c49e67f53c4dc983c0caa1d708ede947e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/picmi-24.11.80.tar.xz">picmi-24.11.80</a></td>
   <td align="right">1483kB</td>
   <td><tt>6cf4ef134173080cedd0360c12df7f6216677b42a034701bf2b1f059b81534cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/pimcommon-24.11.80.tar.xz">pimcommon-24.11.80</a></td>
   <td align="right">355kB</td>
   <td><tt>b51cc857ef054d2a8cd4c888840f4f33073541ef6bba1125c28f7b897db469d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/pim-data-exporter-24.11.80.tar.xz">pim-data-exporter-24.11.80</a></td>
   <td align="right">411kB</td>
   <td><tt>4ef1ef32672b7789183a8d67f53bd30b050f4e2019753997c7caa044ecb9fa51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/pim-sieve-editor-24.11.80.tar.xz">pim-sieve-editor-24.11.80</a></td>
   <td align="right">459kB</td>
   <td><tt>f46bda4dbcb868684698d8e47790294a5592fcc6c07d35d4738fe5fedf38d9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/plasmatube-24.11.80.tar.xz">plasmatube-24.11.80</a></td>
   <td align="right">210kB</td>
   <td><tt>ddd6dd49ac03f4e619feafe125c8fac551932703512c43464c8d64cbd58cf89f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/poxml-24.11.80.tar.xz">poxml-24.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>87b92e1a59e877cb45cfdc7d860830ab252a8bd523fa2625a28a5016d73eec74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/qmlkonsole-24.11.80.tar.xz">qmlkonsole-24.11.80</a></td>
   <td align="right">193kB</td>
   <td><tt>6db6e193de0467e3bfc3f8ef2885d8e9de6ecd28621b07bd3bed5dd55064da81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/rocs-24.11.80.tar.xz">rocs-24.11.80</a></td>
   <td align="right">1530kB</td>
   <td><tt>41eb377bf8f97c8a34283bf2760a57d2fbbd444ccd43d1bf591a29bd59a2e240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/signon-kwallet-extension-24.11.80.tar.xz">signon-kwallet-extension-24.11.80</a></td>
   <td align="right">11kB</td>
   <td><tt>b0c1d8c384ebc7cd72a75dbf2dda02c248f610cf846cf68463c30571449127d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/skanlite-24.11.80.tar.xz">skanlite-24.11.80</a></td>
   <td align="right">2334kB</td>
   <td><tt>50a72278733a935f479e1fb9146c1bb03a707317993465ed432a3679028fac7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/skanpage-24.11.80.tar.xz">skanpage-24.11.80</a></td>
   <td align="right">1306kB</td>
   <td><tt>79abbae6ae0adec276c2b98628e8a802dd609d90c218ea464f172df19ae79f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/skladnik-24.11.80.tar.xz">skladnik-24.11.80</a></td>
   <td align="right">403kB</td>
   <td><tt>eea233341bbcdfc45d7d3ac9e6ec8196adb23ba956f07cd745994ce2f65533c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/spectacle-24.11.80.tar.xz">spectacle-24.11.80</a></td>
   <td align="right">1523kB</td>
   <td><tt>9cc5a6ff38217e90502f7232ca6229143ae50b77230e1310b53a4089331709c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/step-24.11.80.tar.xz">step-24.11.80</a></td>
   <td align="right">965kB</td>
   <td><tt>4e72e649b4c2efa389eb52dedc8cb5c663842ae098e5994751d17ecf2cc4bde7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/svgpart-24.11.80.tar.xz">svgpart-24.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>aaa87512ccd07a964583903a6fb1ad437b1f6da0cf93b438b3e0884e5933ab10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/sweeper-24.11.80.tar.xz">sweeper-24.11.80</a></td>
   <td align="right">375kB</td>
   <td><tt>3ede2935409a1fae66c4868d4cf283a1667d7b91b483333873c3008be2264549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/telly-skout-24.11.80.tar.xz">telly-skout-24.11.80</a></td>
   <td align="right">103kB</td>
   <td><tt>478e424c34a7f32e547f332238ae9340c2ce26bd31c658b5f7e234b1220bcd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/tokodon-24.11.80.tar.xz">tokodon-24.11.80</a></td>
   <td align="right">614kB</td>
   <td><tt>0e374a198f9df3e04631cc00e511c9d93fd7906bace4046b6ef278cb22df0735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/umbrello-24.11.80.tar.xz">umbrello-24.11.80</a></td>
   <td align="right">5485kB</td>
   <td><tt>8bb29ffdfd1d7203c0ae16782e47478059eeef4aad74da761b369b61c5f99982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/yakuake-24.11.80.tar.xz">yakuake-24.11.80</a></td>
   <td align="right">381kB</td>
   <td><tt>d28901d2449f595a170169af1a662aa4bc0945f07c2e2c3e5823f058e4aa6c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.80/src/zanshin-24.11.80.tar.xz">zanshin-24.11.80</a></td>
   <td align="right">368kB</td>
   <td><tt>90c31f3cdec28929313cad45652bad63ef6310be4664edf078168c1d40c34885</tt></td>
</tr>

</table>
