<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/bluedevil-6.1.2.tar.xz">bluedevil-6.1.2</a></td>
   <td align="right">364kB</td>
   <td><tt>2bf9eb813e4e97d59e76010d2e2ba145525de4e826d79e5864d2277c73eb41eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/breeze-6.1.2.tar.xz">breeze-6.1.2</a></td>
   <td align="right">55MB</td>
   <td><tt>d456dc50d941c4940209e9aa5011d5e9202def5f65badc7ea8c6d4b2ac477dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/breeze-grub-6.1.2.tar.xz">breeze-grub-6.1.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4804ff409b29486964c5e4728e9b3001d2fc66ad3196cf94c1ce54f6c5442c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/breeze-gtk-6.1.2.tar.xz">breeze-gtk-6.1.2</a></td>
   <td align="right">39kB</td>
   <td><tt>5b9fd170eb6f9e9438868a5ec607788a00a8f0fa98f3e5c7c47a9455dccaec11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/breeze-plymouth-6.1.2.tar.xz">breeze-plymouth-6.1.2</a></td>
   <td align="right">108kB</td>
   <td><tt>56b6d1ad12896a8e6c7ea3f9d02a4ae5684d977216f686260b196ae0a30ed0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/discover-6.1.2.tar.xz">discover-6.1.2</a></td>
   <td align="right">996kB</td>
   <td><tt>6ea8b4b6ba14355ffe06be9036586a29cc01fc6a47521c6f1e3f9d8185da5c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/drkonqi-6.1.2.tar.xz">drkonqi-6.1.2</a></td>
   <td align="right">850kB</td>
   <td><tt>aa005bf32e590d2cba28d4bdaabb3bdf754502eab96aabd4ac8e1a50232b26a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/flatpak-kcm-6.1.2.tar.xz">flatpak-kcm-6.1.2</a></td>
   <td align="right">236kB</td>
   <td><tt>7eedd96b40aaf1aaae40aedf76e5f864cfb3cb295ab380f673dc768196753768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kactivitymanagerd-6.1.2.tar.xz">kactivitymanagerd-6.1.2</a></td>
   <td align="right">107kB</td>
   <td><tt>08a2cfcff03432249245f86178b4b85268bfff727d8b0ab5d0206350b8c2cafd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kde-cli-tools-6.1.2.tar.xz">kde-cli-tools-6.1.2</a></td>
   <td align="right">614kB</td>
   <td><tt>718172c066da955991921fe8be038a97382739ec653eb5d04ab2b5cc81d1751b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kdecoration-6.1.2.tar.xz">kdecoration-6.1.2</a></td>
   <td align="right">54kB</td>
   <td><tt>81e85dd278bcfee3c90f1b5f908ee85f289eee6afad1d64964f990f9c6edbebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kde-gtk-config-6.1.2.tar.xz">kde-gtk-config-6.1.2</a></td>
   <td align="right">76kB</td>
   <td><tt>ea7fcd2503f2b9dac576ff91f376144b0eaa727471d0d723aa3247ec7d233625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kdeplasma-addons-6.1.2.tar.xz">kdeplasma-addons-6.1.2</a></td>
   <td align="right">867kB</td>
   <td><tt>6c0ce3e4ea2c5e6ba74979f3ad0dc2d46729f323732f90675b47eab4928412e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kgamma-6.1.2.tar.xz">kgamma-6.1.2</a></td>
   <td align="right">84kB</td>
   <td><tt>cb3d8e701b1aba7bd8286b0d19603fb93b0dd5f1e06f52de8fe128a166662663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kglobalacceld-6.1.2.tar.xz">kglobalacceld-6.1.2</a></td>
   <td align="right">54kB</td>
   <td><tt>27b39e674a6b66ba05b34e181b8b39ed084853bd87a072f3333ce4c423a668dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kinfocenter-6.1.2.tar.xz">kinfocenter-6.1.2</a></td>
   <td align="right">701kB</td>
   <td><tt>61c02ba3451e3324dbf54af314cefc4f389b09c9d3e0ad66613fec239fdeb03c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kmenuedit-6.1.2.tar.xz">kmenuedit-6.1.2</a></td>
   <td align="right">851kB</td>
   <td><tt>9454b478401c0eb6fc4d90f399cad9a516a5aa03663d08a28916d96204afd773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kpipewire-6.1.2.tar.xz">kpipewire-6.1.2</a></td>
   <td align="right">144kB</td>
   <td><tt>250f505d723fb71fdfb5af5f89e4f878f632c534fb2b01ba0bbb3ac19170d571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/krdp-6.1.2.tar.xz">krdp-6.1.2</a></td>
   <td align="right">81kB</td>
   <td><tt>0fb1add9ccb860dba66aa80d3e4d5c97a4796ac6e8199f3dfb895f174afce176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kscreen-6.1.2.tar.xz">kscreen-6.1.2</a></td>
   <td align="right">204kB</td>
   <td><tt>7f854a696aac5ae01c4456c7ce18837e1b9b0c1f16df0d1505f1e83e0239bd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kscreenlocker-6.1.2.tar.xz">kscreenlocker-6.1.2</a></td>
   <td align="right">175kB</td>
   <td><tt>bab31b670d4bb08276032179738c7593ac4290e81dc7ec1c84425812971c62da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/ksshaskpass-6.1.2.tar.xz">ksshaskpass-6.1.2</a></td>
   <td align="right">28kB</td>
   <td><tt>49f90c7c5896caa12ce5494745e00841851917edb179c1e77a68b387a2da6e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/ksystemstats-6.1.2.tar.xz">ksystemstats-6.1.2</a></td>
   <td align="right">125kB</td>
   <td><tt>31d4d4f79ed452c9cc6362722c1b621907ccf95242240e6d54021b398035693b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kwallet-pam-6.1.2.tar.xz">kwallet-pam-6.1.2</a></td>
   <td align="right">21kB</td>
   <td><tt>e7541b8a10287d6aed3020ff4b9287492551f897972379bea48aea98450aebb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kwayland-6.1.2.tar.xz">kwayland-6.1.2</a></td>
   <td align="right">130kB</td>
   <td><tt>c6a233ec6bcc6402f34398564231ef282fc101b4c6973401080c4b05315bb595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kwayland-integration-6.1.2.tar.xz">kwayland-integration-6.1.2</a></td>
   <td align="right">25kB</td>
   <td><tt>0a2561bbc4f82b351be653abf5f46c9b46a68f31495465aa22a5aebe95b6949b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kwin-6.1.2.tar.xz">kwin-6.1.2</a></td>
   <td align="right">8.0MB</td>
   <td><tt>82c582c83b01d42ac8dd6ca5fbc4b8daeea192b54dd1c859703e6f033455c00f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/kwrited-6.1.2.tar.xz">kwrited-6.1.2</a></td>
   <td align="right">23kB</td>
   <td><tt>85648a476879ca2f6d55fa1911866f2fc751521d21d545b231539e23a09416c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/layer-shell-qt-6.1.2.tar.xz">layer-shell-qt-6.1.2</a></td>
   <td align="right">35kB</td>
   <td><tt>17e8668cc783969a02fe087c1db685e0af29d720eaa58c39d60f36f9f776f509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/libkscreen-6.1.2.tar.xz">libkscreen-6.1.2</a></td>
   <td align="right">116kB</td>
   <td><tt>36dc01b9f4308aec1b70994cf1554daf2a77f950db15cd285fced8b4125897b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/libksysguard-6.1.2.tar.xz">libksysguard-6.1.2</a></td>
   <td align="right">298kB</td>
   <td><tt>805d68d2a147e14927776c9a3198fa6e87e62d04533befba7507769f62f12ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/libplasma-6.1.2.tar.xz">libplasma-6.1.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>80614164e4f8c0ef005e5d3157bca4a7f421925d16a36a1ea6841c665163214a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/milou-6.1.2.tar.xz">milou-6.1.2</a></td>
   <td align="right">48kB</td>
   <td><tt>958a90b875852fb8e70c0e325ed15bcec5a24736ee6b00f709462a6334397997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/ocean-sound-theme-6.1.2.tar.xz">ocean-sound-theme-6.1.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cbfa84d8e870306e6b2313f30b160e714600f15fe5b79ec7764fdaf2d6e94f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/oxygen-6.1.2.tar.xz">oxygen-6.1.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>0c5dc59cbf152dcd3f1bda045b78d53f702e7032437a162cb20eeabc87e468b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/oxygen-sounds-6.1.2.tar.xz">oxygen-sounds-6.1.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4ed2fe9429055fce64dbf10057244dd7526fee6e8142639ad890fa65693ddf0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma5support-6.1.2.tar.xz">plasma5support-6.1.2</a></td>
   <td align="right">85kB</td>
   <td><tt>f2cf732fef4d1f03df87eef5aa556c0de4630fdff50cd64d59effdec23689c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-activities-6.1.2.tar.xz">plasma-activities-6.1.2</a></td>
   <td align="right">69kB</td>
   <td><tt>3e02fc08bdb73d6546105b248199b86a65f29d6409053a1c61c015448719a6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-activities-stats-6.1.2.tar.xz">plasma-activities-stats-6.1.2</a></td>
   <td align="right">81kB</td>
   <td><tt>3896c364f03d6b77dc7dcdadec942530f2c18ea9bb27e0ed1874c382961f8a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-browser-integration-6.1.2.tar.xz">plasma-browser-integration-6.1.2</a></td>
   <td align="right">217kB</td>
   <td><tt>002d9ea50b08892a062ce43e45e4902a926de6ebf707321494699672075e9a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-desktop-6.1.2.tar.xz">plasma-desktop-6.1.2</a></td>
   <td align="right">15MB</td>
   <td><tt>29e4047c49274ade6996240695cbdabe78c184181708079404debf6dad87e2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-disks-6.1.2.tar.xz">plasma-disks-6.1.2</a></td>
   <td align="right">98kB</td>
   <td><tt>1f1621cb8cab1ce4d2d5d9f8d4d858520cf027ede2cf74a27b5bf8eb4c1968e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-firewall-6.1.2.tar.xz">plasma-firewall-6.1.2</a></td>
   <td align="right">365kB</td>
   <td><tt>f6ea09207d463dd1c60da31840bb26785066c1455ae7aa00b65df3583872594c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-integration-6.1.2.tar.xz">plasma-integration-6.1.2</a></td>
   <td align="right">90kB</td>
   <td><tt>e15a232928ac8572daa05404d26b4d1112cf189a051cacbdf604352eddbf0804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-mobile-6.1.2.tar.xz">plasma-mobile-6.1.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d5409fb2c94a6128e00e4036ccf2cf3c9b46a075ee2574eae661fa95df925039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-nano-6.1.2.tar.xz">plasma-nano-6.1.2</a></td>
   <td align="right">75kB</td>
   <td><tt>63de451ccf182f5d9c500530c771745b013ceed73f9fdef5115a8ca646b9cab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-nm-6.1.2.tar.xz">plasma-nm-6.1.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f986c2f8d285e09cd2da3d1d58b0a56ba67bed9983891e31988c1d700a462408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-pa-6.1.2.tar.xz">plasma-pa-6.1.2</a></td>
   <td align="right">158kB</td>
   <td><tt>fd84e0336bfdcc13fadee91582fa0a858dc36a155f3e1e5691ddc6ff9c6b4466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-sdk-6.1.2.tar.xz">plasma-sdk-6.1.2</a></td>
   <td align="right">319kB</td>
   <td><tt>09b375ed494b9b86bc30d6c4623e2125d855a807760c3ac24fac12dd9cdcb3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-systemmonitor-6.1.2.tar.xz">plasma-systemmonitor-6.1.2</a></td>
   <td align="right">183kB</td>
   <td><tt>ba87d6f7f4c3c9edfcb37574d12379849521a2286bcd16d75c584a901d4c62ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-thunderbolt-6.1.2.tar.xz">plasma-thunderbolt-6.1.2</a></td>
   <td align="right">77kB</td>
   <td><tt>44bfb1f9f33d5f23ea84e35c31045bec3fa06c3938a23b9753e95a011af6c422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-vault-6.1.2.tar.xz">plasma-vault-6.1.2</a></td>
   <td align="right">196kB</td>
   <td><tt>96a96d60413e21f7e34eedd9d825ec5a05329ac1fac1de5bf00f05f08c150ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-welcome-6.1.2.tar.xz">plasma-welcome-6.1.2</a></td>
   <td align="right">648kB</td>
   <td><tt>62ac5dc4afe4addf4804d9ec4ea4ccf695b3ae858824d4d2be52a6a76db8a0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-workspace-6.1.2.tar.xz">plasma-workspace-6.1.2</a></td>
   <td align="right">18MB</td>
   <td><tt>47f019b92dca868e65e5507ffa83d0d974adf18e895caa136256108cc02a659a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plasma-workspace-wallpapers-6.1.2.tar.xz">plasma-workspace-wallpapers-6.1.2</a></td>
   <td align="right">95MB</td>
   <td><tt>9619f7a4dc80b04f768159381da3013e60f215ea73f85768eb8b61d7e0d9a26e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/plymouth-kcm-6.1.2.tar.xz">plymouth-kcm-6.1.2</a></td>
   <td align="right">45kB</td>
   <td><tt>2f91b357e51f8766ce658b4b50fabdcb8e1e168b6a4615bbce79070d3089dca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/polkit-kde-agent-1-6.1.2.tar.xz">polkit-kde-agent-1-6.1.2</a></td>
   <td align="right">55kB</td>
   <td><tt>88916dea86dd528fe3659e9cc73c252e4a0fc58a2e7870b3ae22b56d6b7520d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/powerdevil-6.1.2.tar.xz">powerdevil-6.1.2</a></td>
   <td align="right">941kB</td>
   <td><tt>d4a8b85536f69e223697bd1c7abd1dc3fc283a71c5b5cc09a91a247d85d85014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/print-manager-6.1.2.tar.xz">print-manager-6.1.2</a></td>
   <td align="right">361kB</td>
   <td><tt>14161561ced400fe6e0a652713e0b86b434b5a50baf55320c2e9498e48c3f5a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/qqc2-breeze-style-6.1.2.tar.xz">qqc2-breeze-style-6.1.2</a></td>
   <td align="right">64kB</td>
   <td><tt>32403aeae03074bcfc6f6ff3d0bec3fff7b9a4e863dc7a68df9e15bb7dc41ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/sddm-kcm-6.1.2.tar.xz">sddm-kcm-6.1.2</a></td>
   <td align="right">96kB</td>
   <td><tt>6c78b202420e3d2d597a22b98f6e24023539d0f806f5ce09f7dcc83efe7480d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/systemsettings-6.1.2.tar.xz">systemsettings-6.1.2</a></td>
   <td align="right">208kB</td>
   <td><tt>907addec0baf4026d7741a0db3380d388f5cf69984dac07c0fa05e11058b46b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/wacomtablet-6.1.2.tar.xz">wacomtablet-6.1.2</a></td>
   <td align="right">810kB</td>
   <td><tt>7dee2a539980a810b0eee5cd8d83b6fe2b9a2a90c36ba700d16b938fecd75471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.2/xdg-desktop-portal-kde-6.1.2.tar.xz">xdg-desktop-portal-kde-6.1.2</a></td>
   <td align="right">168kB</td>
   <td><tt>b9db753c853043b19769644aa99dea413ad1ff6bfc6a8e68b2e970a27f997a36</tt></td>
</tr>

</table>
