<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/bluedevil-5.17.0.tar.xz">bluedevil-5.17.0</a></td>
   <td align="right">157kB</td>
   <td><tt>c4576b72dead133483e8faab787ea5daf96217216b324df529ca5381a5aac929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/breeze-5.17.0.tar.xz">breeze-5.17.0</a></td>
   <td align="right">15MB</td>
   <td><tt>9d32ceffe33b776fcb7ec92d99088503a97c49e4b6216153438d5f7b93af8345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/breeze-grub-5.17.0.tar.xz">breeze-grub-5.17.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5a309fc7938f02897f5dcc108d76bbfd650f667af849f31f26ef2b87e2dd9852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/breeze-gtk-5.17.0.tar.xz">breeze-gtk-5.17.0</a></td>
   <td align="right">43kB</td>
   <td><tt>bba00e94bad2b6f9baae19b1edba076785f45a94b591dd4b34f7b9104348cc3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/breeze-plymouth-5.17.0.tar.xz">breeze-plymouth-5.17.0</a></td>
   <td align="right">103kB</td>
   <td><tt>34bf3ac71813e511f293c5cfb948a584ae9ad7bcbae498e2d7b0f75ffd8f8a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/discover-5.17.0.tar.xz">discover-5.17.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>1d33f40cb259552d7083aaf7cbbb18da3f8ecd321e74ca4b7fe206352dca5daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/drkonqi-5.17.0.tar.xz">drkonqi-5.17.0</a></td>
   <td align="right">722kB</td>
   <td><tt>13974762e5987fe0af23c93770ac64026b190def95c22b230c7fa41db8c81749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kactivitymanagerd-5.17.0.tar.xz">kactivitymanagerd-5.17.0</a></td>
   <td align="right">84kB</td>
   <td><tt>23ef9043a968d0f6920b1ca677673c09282c94482be1bfdf5fb38e7b2d09fe3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kde-cli-tools-5.17.0.tar.xz">kde-cli-tools-5.17.0</a></td>
   <td align="right">576kB</td>
   <td><tt>1d554bc8c68b9a7ec7e467bcd38b64ed706c5c6a6de566c4b205b536f5490744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kdecoration-5.17.0.tar.xz">kdecoration-5.17.0</a></td>
   <td align="right">41kB</td>
   <td><tt>d6d25e6894d941001af035497388aa998599d89df0ca2847c8aa6275b9bf9266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kde-gtk-config-5.17.0.tar.xz">kde-gtk-config-5.17.0</a></td>
   <td align="right">151kB</td>
   <td><tt>a6eb212078877ef37cd103d92d2d342d6306c5c1f16778586dd271ecb75a3bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kdeplasma-addons-5.17.0.tar.xz">kdeplasma-addons-5.17.0</a></td>
   <td align="right">591kB</td>
   <td><tt>d4c6ab840f61dcdc52b925045614f9de4089dc2fdf89726fd7c8638c521eb42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kgamma5-5.17.0.tar.xz">kgamma5-5.17.0</a></td>
   <td align="right">78kB</td>
   <td><tt>5d4c7cfc63896746a994128db03037bff666132e8e35378de60ac91a3959493d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/khotkeys-5.17.0.tar.xz">khotkeys-5.17.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>da7d2a1db9f49b34ea5b24ec9bd6450142cb4e708c9a8f478adc94eb7f190d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kinfocenter-5.17.0.tar.xz">kinfocenter-5.17.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f9866450a795b6c458011de457f27e51258803459d5d384b7366f13f9a1c8d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kmenuedit-5.17.0.tar.xz">kmenuedit-5.17.0</a></td>
   <td align="right">796kB</td>
   <td><tt>c8c433e8d4e3e13a5ace0ebc265756441aa01a07b1e68e45ce71387f128cc706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kscreen-5.17.0.tar.xz">kscreen-5.17.0</a></td>
   <td align="right">96kB</td>
   <td><tt>9a1e689f0b8ac69fd9c471a5f4f54a846c1ec8a1914ab9b71754a81cd4c5d6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kscreenlocker-5.17.0.tar.xz">kscreenlocker-5.17.0</a></td>
   <td align="right">120kB</td>
   <td><tt>2047e1dad90fd1c298ab23c7668fa60fd1189b1d232aca0ed5976d086ac1f3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/ksshaskpass-5.17.0.tar.xz">ksshaskpass-5.17.0</a></td>
   <td align="right">20kB</td>
   <td><tt>75ed318ebac038b6309b78f10dd1ef6e23935e93f7575372e2c2c4bbe607febb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/ksysguard-5.17.0.tar.xz">ksysguard-5.17.0</a></td>
   <td align="right">502kB</td>
   <td><tt>4181535cc74f73c0a75fcf7a377595bd0381125a6f5537b116327b94402013d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kwallet-pam-5.17.0.tar.xz">kwallet-pam-5.17.0</a></td>
   <td align="right">19kB</td>
   <td><tt>224af4870be35075f4aec8bf9984eff7ef65d1656a2c5ca2ba1fdb5efcc574bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kwayland-integration-5.17.0.tar.xz">kwayland-integration-5.17.0</a></td>
   <td align="right">19kB</td>
   <td><tt>6cf410dd8286e9d6b26e10d8ba297d36d13c93a329c463326b47f0bffeb3c4c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kwin-5.17.0.tar.xz">kwin-5.17.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>d99443978a0f5f12d93d1d877312144d9387762933e12ac614992ae6e92daed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/kwrited-5.17.0.tar.xz">kwrited-5.17.0</a></td>
   <td align="right">19kB</td>
   <td><tt>514bbfbd3e4ab1ea764eb61b5f62606f6359d74d55908ee7296ad8491fc6e361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/libkscreen-5.17.0.tar.xz">libkscreen-5.17.0</a></td>
   <td align="right">81kB</td>
   <td><tt>80f72afc9a2409dfe80853c007b596e4c1bcc92bee95741b894646ef3176dd7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/libksysguard-5.17.0.tar.xz">libksysguard-5.17.0</a></td>
   <td align="right">589kB</td>
   <td><tt>87370f4c16ba489e988f39e53015a677b1e30070e79888b07f9826695ec7e9ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/milou-5.17.0.tar.xz">milou-5.17.0</a></td>
   <td align="right">61kB</td>
   <td><tt>d8e94ecf18f2f41e3bcb66ae324996dc1db6c3addc4a506e060c7874c2764107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/oxygen-5.17.0.tar.xz">oxygen-5.17.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0ed752fc90634277d40f816a0ce0717b4708ced1e88596ab890112991c9614d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-browser-integration-5.17.0.tar.xz">plasma-browser-integration-5.17.0</a></td>
   <td align="right">142kB</td>
   <td><tt>2b91669492f30fa7fcc082e31499f99e93a21365e27ebae3a14ead7ddeaa28d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-desktop-5.17.0.tar.xz">plasma-desktop-5.17.0</a></td>
   <td align="right">9.0MB</td>
   <td><tt>f4a913a60fee4597a7a6c98a263f9a7a40f7663f3903b4042a7f90a686dc8aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-integration-5.17.0.tar.xz">plasma-integration-5.17.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d6011bd9a94e6c8e96f9b0fbbf7f17d8170be93a24edb1e7b0ff6ac6e28429ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-nm-5.17.0.tar.xz">plasma-nm-5.17.0</a></td>
   <td align="right">793kB</td>
   <td><tt>322516acabb5a49c613f951c5049f6a15edf2b54340f08bca3c86a5b1bd6e56b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-pa-5.17.0.tar.xz">plasma-pa-5.17.0</a></td>
   <td align="right">101kB</td>
   <td><tt>da660d75ea0a4589ee3730a2697665c791e6525f35813cbf90c48408607b1ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-sdk-5.17.0.tar.xz">plasma-sdk-5.17.0</a></td>
   <td align="right">252kB</td>
   <td><tt>a8ff60bf62f0cab10ccc7a04e79a08e2124d78ec3d92a35a0bc78e469d8c199f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-tests-5.17.0.tar.xz">plasma-tests-5.17.0</a></td>
   <td align="right">1kB</td>
   <td><tt>764ca0c02fa2d329d81ef3ce9943b06117c954a3ca06a2027e5b4b38aa5a795a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-thunderbolt-5.17.0.tar.xz">plasma-thunderbolt-5.17.0</a></td>
   <td align="right">45kB</td>
   <td><tt>8e244a2f6e872451166deaf454a057110761acec054655986d55576af38a23e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-vault-5.17.0.tar.xz">plasma-vault-5.17.0</a></td>
   <td align="right">126kB</td>
   <td><tt>d63cba4e3a89a10571f120d75405a837964c0176351ce78bed04f58b37f58fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-workspace-5.17.0.tar.xz">plasma-workspace-5.17.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>4480ccf0b9168bdd10d4a5fa3ee40e5e77f10c12713f9de55c5d19e23fe993f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plasma-workspace-wallpapers-5.17.0.tar.xz">plasma-workspace-wallpapers-5.17.0</a></td>
   <td align="right">32MB</td>
   <td><tt>67d3e69d9ad6292cf6b70ab7f35fe0a88d2a626efd0a1c4fa70b5c0049d1c973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/plymouth-kcm-5.17.0.tar.xz">plymouth-kcm-5.17.0</a></td>
   <td align="right">38kB</td>
   <td><tt>a832b3644fd1fef1db420f2a9562cb854c950332e75420898d0a25776c93b824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/polkit-kde-agent-1-5.17.0.tar.xz">polkit-kde-agent-1-5.17.0</a></td>
   <td align="right">42kB</td>
   <td><tt>9bbe7faa06a25768ba5dcdb3a084afeb8d9d3e284388d0c6138bd4cd51a418f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/powerdevil-5.17.0.tar.xz">powerdevil-5.17.0</a></td>
   <td align="right">579kB</td>
   <td><tt>ea0ebd64c9f315f890421ae2ff0d7d756b61071331868ff9a63e47a9cba59fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/sddm-kcm-5.17.0.tar.xz">sddm-kcm-5.17.0</a></td>
   <td align="right">57kB</td>
   <td><tt>3ab6da7692df4b35c088f45657dfe2430797021c7c7fd6091747d7fd9ca594d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/systemsettings-5.17.0.tar.xz">systemsettings-5.17.0</a></td>
   <td align="right">168kB</td>
   <td><tt>7b3d93bd3cd4c33b878aabff4bd9c8134ca7395a0290e59260464cf5d69f17f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/user-manager-5.17.0.tar.xz">user-manager-5.17.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>659fab189915140e136c426d6a22852f9685ab85f1fec07a44faaa7a663c8d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.0/xdg-desktop-portal-kde-5.17.0.tar.xz">xdg-desktop-portal-kde-5.17.0</a></td>
   <td align="right">61kB</td>
   <td><tt>5d6a54e764cc77c4d14cbae6ca76a4908fe93dcc7e36f641a1df1ce38b43da35</tt></td>
</tr>

</table>
