<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-24.01.75.tar.xz">akonadi-24.01.75</a></td>
   <td align="right">1620kB</td>
   <td><tt>3a581bebd515215c7001e32c7183481e53c91fa566ad078d7214656c06e17464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-calendar-24.01.75.tar.xz">akonadi-calendar-24.01.75</a></td>
   <td align="right">473kB</td>
   <td><tt>8cdab82cfaf6f91fe004eac575bb2790dbb89c48848f7e277227ff733ec29cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-calendar-tools-24.01.75.tar.xz">akonadi-calendar-tools-24.01.75</a></td>
   <td align="right">252kB</td>
   <td><tt>5a7511d55312974829e7e03c9253f914904d3d1a5bd484873838a2cf532431e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadiconsole-24.01.75.tar.xz">akonadiconsole-24.01.75</a></td>
   <td align="right">280kB</td>
   <td><tt>9f48e8adc1d585867ead086eb8e93afc2c534980f3ae864a08afff955ee62e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-contacts-24.01.75.tar.xz">akonadi-contacts-24.01.75</a></td>
   <td align="right">415kB</td>
   <td><tt>1a6ac4d9d0f9ccc6a1d718068c7326873a7bd144a26478853b59080306d3557b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-import-wizard-24.01.75.tar.xz">akonadi-import-wizard-24.01.75</a></td>
   <td align="right">504kB</td>
   <td><tt>018650530ce5011ae1dd7b08706362eee4482ed756f64f09f7be4528f500835f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-mime-24.01.75.tar.xz">akonadi-mime-24.01.75</a></td>
   <td align="right">163kB</td>
   <td><tt>28fbf21b2c6199e61ab83af002cc6cfef6b2b81f24ae89b6f3d1f1e503acfaf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-notes-24.01.75.tar.xz">akonadi-notes-24.01.75</a></td>
   <td align="right">27kB</td>
   <td><tt>5169705586c0eafc55bae3a6eb8d74a571a03b4f1b6f5b28b4274b843af26d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akonadi-search-24.01.75.tar.xz">akonadi-search-24.01.75</a></td>
   <td align="right">107kB</td>
   <td><tt>c95c06a4d31d527affe308d9b504147b29fc48030c65eeea468374f3cdd00a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/akregator-24.01.75.tar.xz">akregator-24.01.75</a></td>
   <td align="right">2268kB</td>
   <td><tt>25f6ff037a90d228113e8956f08b10faf74794bf54bf74befd773194b78d3131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/alligator-24.01.75.tar.xz">alligator-24.01.75</a></td>
   <td align="right">186kB</td>
   <td><tt>10bc1e216b3bb5d423af23559c4d3a02eaf8d0d3856e5356ab9a3c12df7d6c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/analitza-24.01.75.tar.xz">analitza-24.01.75</a></td>
   <td align="right">350kB</td>
   <td><tt>6785aa839b00474b10ee773e54cd2c1e7e281de128308036c4100b44f8a6bb13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/angelfish-24.01.75.tar.xz">angelfish-24.01.75</a></td>
   <td align="right">259kB</td>
   <td><tt>8b9975004d79c722c104170a137be6e8aabbf0d98994b48364c00141509030a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/arianna-24.01.75.tar.xz">arianna-24.01.75</a></td>
   <td align="right">794kB</td>
   <td><tt>a27fbe6ab76075ae1cd5e66361bcd4eec5386677283400e08492624db6954dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ark-24.01.75.tar.xz">ark-24.01.75</a></td>
   <td align="right">2949kB</td>
   <td><tt>996319501ff38b748fef9af2f728407c35f90c715c17d635f34b6d2f9a120407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/artikulate-24.01.75.tar.xz">artikulate-24.01.75</a></td>
   <td align="right">1068kB</td>
   <td><tt>01edc124b5e6531432ad318dd928e1ba26a43885624d0c1864467eed15bd5d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/audiocd-kio-24.01.75.tar.xz">audiocd-kio-24.01.75</a></td>
   <td align="right">555kB</td>
   <td><tt>e41fae2c3fc62a9a71670ea4804cc83b7597f78e30b76f73146321fc14b2db7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/audiotube-24.01.75.tar.xz">audiotube-24.01.75</a></td>
   <td align="right">144kB</td>
   <td><tt>0765eafef1d1b2cb07c12d2093ce4fdebc5571ce6fe787d530286f41e2453953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/baloo-widgets-24.01.75.tar.xz">baloo-widgets-24.01.75</a></td>
   <td align="right">269kB</td>
   <td><tt>fc2ea6cc74a81ed5a3c4f094cad0360ea588c2c3d9ad6c195f7af895af4ca5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/blinken-24.01.75.tar.xz">blinken-24.01.75</a></td>
   <td align="right">2660kB</td>
   <td><tt>e55cd411e452a23c6ee5df068a5310ea621335339cd3e605d2daa2beeb148d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/bomber-24.01.75.tar.xz">bomber-24.01.75</a></td>
   <td align="right">819kB</td>
   <td><tt>32d43c6aaf0d6b085a2040a7e9399be2b78c9d5549116a927ee8d1fbe2dbddf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/bovo-24.01.75.tar.xz">bovo-24.01.75</a></td>
   <td align="right">210kB</td>
   <td><tt>265fd6b3024b382950b7d332bb69f6b7bdebeed0ada16c86b053f278b303d414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/calendarsupport-24.01.75.tar.xz">calendarsupport-24.01.75</a></td>
   <td align="right">972kB</td>
   <td><tt>432cff814c219831fef2aa956ead4ed97b5108b4e0eb4d1c120eba4b228c7bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/calindori-24.01.75.tar.xz">calindori-24.01.75</a></td>
   <td align="right">376kB</td>
   <td><tt>e19354c516e3383eea36049226c95bdc938c2896a6249ca86d463cdcf0f8b95c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/cantor-24.01.75.tar.xz">cantor-24.01.75</a></td>
   <td align="right">9071kB</td>
   <td><tt>eaab1b6c5a2f0c40c4773231a6b6b396aaed3c3bf049dcfe0b4d9093e046d1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/cervisia-24.01.75.tar.xz">cervisia-24.01.75</a></td>
   <td align="right">1900kB</td>
   <td><tt>4b539d9052941e07c75a00f335e2567c5230b57402dfd9200475f63eb4bac323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/colord-kde-24.01.75.tar.xz">colord-kde-24.01.75</a></td>
   <td align="right">106kB</td>
   <td><tt>6bcd3ac770bf763bd7fc0d93a34656d327ef4314ca5dbd4ff86e38fca2d7a5d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/dolphin-24.01.75.tar.xz">dolphin-24.01.75</a></td>
   <td align="right">5644kB</td>
   <td><tt>e6e8f1f9302c9c456c1f48822d04c9fa36c35f3604ceff99f02a9efee5bc8c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/dolphin-plugins-24.01.75.tar.xz">dolphin-plugins-24.01.75</a></td>
   <td align="right">279kB</td>
   <td><tt>a394025f37f2f5ceea42207d96521a7409853d1f3f7d9176793a9b47da22f2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/dragon-24.01.75.tar.xz">dragon-24.01.75</a></td>
   <td align="right">1631kB</td>
   <td><tt>11ef7e5baeea412e452d685e35ff3d4a29ae3dcc3c024cbf51d6e74e97ea4b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/elisa-24.01.75.tar.xz">elisa-24.01.75</a></td>
   <td align="right">1791kB</td>
   <td><tt>776914805696831a49670f5ba66e64d61ba01877fa527144fd5fe025b16cef9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/eventviews-24.01.75.tar.xz">eventviews-24.01.75</a></td>
   <td align="right">461kB</td>
   <td><tt>75fcecd448937a944c38c4134e907131d9a819bd91409fd678cd3269733e2ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/falkon-24.01.75.tar.xz">falkon-24.01.75</a></td>
   <td align="right">2516kB</td>
   <td><tt>f31483a124843ea3c89a69cdc3d645453718c65e8f4b3bfc38852e44f7cf08ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ffmpegthumbs-24.01.75.tar.xz">ffmpegthumbs-24.01.75</a></td>
   <td align="right">32kB</td>
   <td><tt>8016944f08536dfa66e3e7c9fa307e392b71ef6ddddcda97d5a47ed2fe9918d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/filelight-24.01.75.tar.xz">filelight-24.01.75</a></td>
   <td align="right">685kB</td>
   <td><tt>e7f195b39031ee4912101184664d642ffbd53a31ab181baa7675a8cf479e9fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ghostwriter-24.01.75.tar.xz">ghostwriter-24.01.75</a></td>
   <td align="right">3539kB</td>
   <td><tt>10701edb4328771e23b5d169d617f214b7d44403327ce45fb52e7ad877787dac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/granatier-24.01.75.tar.xz">granatier-24.01.75</a></td>
   <td align="right">2063kB</td>
   <td><tt>aeca8fee98a9ef663fba61d5b3e423449ee739517630b6045f647025c9e8bf72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/grantlee-editor-24.01.75.tar.xz">grantlee-editor-24.01.75</a></td>
   <td align="right">116kB</td>
   <td><tt>bd70bee0227aeed9464d47bae5021df82bc60e19d4873d4385e436b3118dfaad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/grantleetheme-24.01.75.tar.xz">grantleetheme-24.01.75</a></td>
   <td align="right">60kB</td>
   <td><tt>179d3e7eeddc04ff504e4e612d07828109d51f8ded4bbeebe82fdff6ccca1ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/gwenview-24.01.75.tar.xz">gwenview-24.01.75</a></td>
   <td align="right">6753kB</td>
   <td><tt>7973b1b0e148bae5a10afc698834a8df34a6a1534d384754e2877ce464465ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/incidenceeditor-24.01.75.tar.xz">incidenceeditor-24.01.75</a></td>
   <td align="right">569kB</td>
   <td><tt>58f5f38449cc9d4757ac7c73a9eea50e6b0bc2ce5d4c796a9d025c5177885c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/isoimagewriter-24.01.75.tar.xz">isoimagewriter-24.01.75</a></td>
   <td align="right">446kB</td>
   <td><tt>c6e310837d18ec8b63383efd30d1bece35eb2912b53d9a5ff83341b82013f72e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/itinerary-24.01.75.tar.xz">itinerary-24.01.75</a></td>
   <td align="right">656kB</td>
   <td><tt>8809e5f67971d5afdd3ccf2d4ff5b4ee6410c46d7c7a17a176df15d2e5863cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/juk-24.01.75.tar.xz">juk-24.01.75</a></td>
   <td align="right">2032kB</td>
   <td><tt>7dd04b07fcbbbc391e34a76e3236da261f347794e83997c3853cb430d9179830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/k3b-24.01.75.tar.xz">k3b-24.01.75</a></td>
   <td align="right">10709kB</td>
   <td><tt>160436d63c044488961503a3ebce6e63c11475436b0affe4d39f621f7a07011d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kaccounts-integration-24.01.75.tar.xz">kaccounts-integration-24.01.75</a></td>
   <td align="right">87kB</td>
   <td><tt>2013013c11eb9cb1a15589e6a94bd953a5905f1983304ecbcc12e78956bde6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kaccounts-providers-24.01.75.tar.xz">kaccounts-providers-24.01.75</a></td>
   <td align="right">64kB</td>
   <td><tt>85dab9bff546a651f7da64d486f12b66ec4acfcd5564cfaaa82b786e4ddcb93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kaddressbook-24.01.75.tar.xz">kaddressbook-24.01.75</a></td>
   <td align="right">3377kB</td>
   <td><tt>1931c796aaca01e9220ec6b909fa12d7b4e1e24947e54e34aa2bcef9135684e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kajongg-24.01.75.tar.xz">kajongg-24.01.75</a></td>
   <td align="right">4482kB</td>
   <td><tt>21a6939c158eabe7836897d6dc41c7c845c26f0edb20db061f944eeb1190a755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kalarm-24.01.75.tar.xz">kalarm-24.01.75</a></td>
   <td align="right">2570kB</td>
   <td><tt>5445a291ca9cfe9d2fc15b0d92f501e67dc1406f61678fd68778374caf2d0ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kalgebra-24.01.75.tar.xz">kalgebra-24.01.75</a></td>
   <td align="right">1020kB</td>
   <td><tt>0fa49446e1eac663af44459951a5773ef752f2ebfa4249046e75ec13c3f59611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kalk-24.01.75.tar.xz">kalk-24.01.75</a></td>
   <td align="right">85kB</td>
   <td><tt>4bddcf9c10dbb8279520204de48cf980e91d20e343a95c8cd8d622a288c722e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kalzium-24.01.75.tar.xz">kalzium-24.01.75</a></td>
   <td align="right">24064kB</td>
   <td><tt>5f549da04fa2d6ee512cb47831631e7c9ad9235eb7f2bc86f4d4efef3896bb6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kamera-24.01.75.tar.xz">kamera-24.01.75</a></td>
   <td align="right">127kB</td>
   <td><tt>eaf16f4817a8fcf345400838b3a61cc77c93a2d12180329862f5b7bb34125e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kamoso-24.01.75.tar.xz">kamoso-24.01.75</a></td>
   <td align="right">195kB</td>
   <td><tt>bbeea995784ce87ebb9edcb5ea4bec8b54955eef92fccb2c8dc7a149658edd49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kanagram-24.01.75.tar.xz">kanagram-24.01.75</a></td>
   <td align="right">7878kB</td>
   <td><tt>26fa652fb3710d963ad10de8ba9bb302a85dfe0c9ff4b8facd1f40e48e645281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kapman-24.01.75.tar.xz">kapman-24.01.75</a></td>
   <td align="right">2423kB</td>
   <td><tt>00193807468f342b5bf7d740dac58e57ade4c3fa693f101056ea19055394706c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kapptemplate-24.01.75.tar.xz">kapptemplate-24.01.75</a></td>
   <td align="right">331kB</td>
   <td><tt>989c1fa70be47f60768b25da7f952b567d379c41d333aee25d01d2e5a6f20de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kasts-24.01.75.tar.xz">kasts-24.01.75</a></td>
   <td align="right">561kB</td>
   <td><tt>7932a8c621b59206628625c424b126ff654e6a430b579fc583c0c9c251be9fe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kate-24.01.75.tar.xz">kate-24.01.75</a></td>
   <td align="right">8016kB</td>
   <td><tt>4c81c1bbf83a4b449f28b7d8ef5da63e74d64cb51615043fa915520cef603969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/katomic-24.01.75.tar.xz">katomic-24.01.75</a></td>
   <td align="right">1418kB</td>
   <td><tt>70956de6f8a067f090e617165725a3e75f2620ba50e1613618db37139d28d9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kbackup-24.01.75.tar.xz">kbackup-24.01.75</a></td>
   <td align="right">393kB</td>
   <td><tt>f9309a18b49f482d2c998b99a6064a9ab4b5eac7425aa7dbfbaca99dbc8f1966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kblackbox-24.01.75.tar.xz">kblackbox-24.01.75</a></td>
   <td align="right">540kB</td>
   <td><tt>9054981dcb182034ddb208993b0899c4a1a66d9131b940853e0cbe8512eb97f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kblocks-24.01.75.tar.xz">kblocks-24.01.75</a></td>
   <td align="right">2058kB</td>
   <td><tt>991bb9d7e9868a2569f40a39afb5b1fe0cca402f835e592a62ab249cd92dcf62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kbounce-24.01.75.tar.xz">kbounce-24.01.75</a></td>
   <td align="right">3464kB</td>
   <td><tt>86025ecd00c32570e9c27b25dd8e3b7b6e5369f0513f5645fb8e85f223c62571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kbreakout-24.01.75.tar.xz">kbreakout-24.01.75</a></td>
   <td align="right">2499kB</td>
   <td><tt>e67b82c02ef7255d7c8fd9742142722fbb4a90ff8eef669c1601032399f48887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kbruch-24.01.75.tar.xz">kbruch-24.01.75</a></td>
   <td align="right">5529kB</td>
   <td><tt>d2fb7505df2b5fe0e225e0974b0fbf15a64a40809dfcbccfc6223c35460f81b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcachegrind-24.01.75.tar.xz">kcachegrind-24.01.75</a></td>
   <td align="right">915kB</td>
   <td><tt>c8e96f7aa5b00b7d7a0078f5952208f8fa63b2bae2a244648763bd08889dbc1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcalc-24.01.75.tar.xz">kcalc-24.01.75</a></td>
   <td align="right">433kB</td>
   <td><tt>d934dbca9fcb6ee1b3261b8bc35184f27208ee0258959cc613a497ba816b7d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcalutils-24.01.75.tar.xz">kcalutils-24.01.75</a></td>
   <td align="right">346kB</td>
   <td><tt>385bddc6c93f5d87a3cd862b57a6ce6cc0407f32e2a7861d0bc5a5a7cc3523df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcharselect-24.01.75.tar.xz">kcharselect-24.01.75</a></td>
   <td align="right">376kB</td>
   <td><tt>443e3b4cc1a44d72b4359c55d37d123750080ceb69c302d3d22bf58682d27c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kclock-24.01.75.tar.xz">kclock-24.01.75</a></td>
   <td align="right">625kB</td>
   <td><tt>52093649bde6a60996ef3ecda90a889ec769beaa3645a309b9ac19f34ae0ad13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcolorchooser-24.01.75.tar.xz">kcolorchooser-24.01.75</a></td>
   <td align="right">33kB</td>
   <td><tt>d1353beb00660f00b40c2d42d2a678ccc451342c6fbc042d12134fed991c1b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kcron-24.01.75.tar.xz">kcron-24.01.75</a></td>
   <td align="right">920kB</td>
   <td><tt>b9bcdb30154f454fdb028d7ffbb90bf2ce786d1c3677ed0937d0d36d53f75978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdebugsettings-24.01.75.tar.xz">kdebugsettings-24.01.75</a></td>
   <td align="right">106kB</td>
   <td><tt>3f7aa511c97c7deae7d09c7592ed7aabf130be0e7a85164005b2e0101badfdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdeconnect-kde-24.01.75.tar.xz">kdeconnect-kde-24.01.75</a></td>
   <td align="right">653kB</td>
   <td><tt>1944f105dd4f9d814e74ef194e2935ba63d7a894432afcb19f20b3bbb71194ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kde-dev-scripts-24.01.75.tar.xz">kde-dev-scripts-24.01.75</a></td>
   <td align="right">366kB</td>
   <td><tt>3acf05f93d9b12bde884a503aba515fc7492f28784bc7179e522da615ea358f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kde-dev-utils-24.01.75.tar.xz">kde-dev-utils-24.01.75</a></td>
   <td align="right">71kB</td>
   <td><tt>4132b846a17f7dd6c00e7f39eb227b06e88ba868cdd0ff8778f3ba2c1458c27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdeedu-data-24.01.75.tar.xz">kdeedu-data-24.01.75</a></td>
   <td align="right">325kB</td>
   <td><tt>333b490395d23bc4f081ea0f43aac78fe8fa7ad868d3357422c5e7dd56d80a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdegraphics-mobipocket-24.01.75.tar.xz">kdegraphics-mobipocket-24.01.75</a></td>
   <td align="right">12kB</td>
   <td><tt>06ef4e9468708ea411a367880e558caf9dfdcd3c8ffa585f68f1ef92033b4e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdegraphics-thumbnailers-24.01.75.tar.xz">kdegraphics-thumbnailers-24.01.75</a></td>
   <td align="right">48kB</td>
   <td><tt>754fbca23d124bef0dbd36c87f9f0f5786faba8eb9a6a31604aa1bb517b45a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kde-inotify-survey-24.01.75.tar.xz">kde-inotify-survey-24.01.75</a></td>
   <td align="right">224kB</td>
   <td><tt>664c565e459d789a61841880ca6c93d45e95f887d637ae77687b40d73de914c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdenetwork-filesharing-24.01.75.tar.xz">kdenetwork-filesharing-24.01.75</a></td>
   <td align="right">469kB</td>
   <td><tt>40ef911bccda5941442fb363ea98c33c757a6a736b4fbe69f561bb129e7bced3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdenlive-24.01.75.tar.xz">kdenlive-24.01.75</a></td>
   <td align="right">12448kB</td>
   <td><tt>3910b4b98051a15a52aa32bdf13f80d1c738509b7e3b684e7de6b6a79120c9b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdepim-addons-24.01.75.tar.xz">kdepim-addons-24.01.75</a></td>
   <td align="right">2579kB</td>
   <td><tt>ebf837e72a2bba054ec4fb7d7f5c60c6f96b8c3a880c71bc9e2102c8e4631640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdepim-runtime-24.01.75.tar.xz">kdepim-runtime-24.01.75</a></td>
   <td align="right">1792kB</td>
   <td><tt>5ff88c1d04b5601af4c87b4c740ccc0f17c56b447fdf00471260455b5744e3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdesdk-kio-24.01.75.tar.xz">kdesdk-kio-24.01.75</a></td>
   <td align="right">39kB</td>
   <td><tt>47030930b3348a26635797dc263103676164980a5e07848b51e462b85c8c6ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdesdk-thumbnailers-24.01.75.tar.xz">kdesdk-thumbnailers-24.01.75</a></td>
   <td align="right">26kB</td>
   <td><tt>34356bd7a0714238c370beaf3e5b3c1a43a6e1f391ecf80ed5bd0d8d931ca911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdevelop-24.01.75.tar.xz">kdevelop-24.01.75</a></td>
   <td align="right">8541kB</td>
   <td><tt>2334523b20b46f231c1a82ad1f8d89beb2bc3c0c42a5f4addf1078fa3541f742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdev-php-24.01.75.tar.xz">kdev-php-24.01.75</a></td>
   <td align="right">1063kB</td>
   <td><tt>7cbac49c142977ff7569fdfcb70a580488611970037e75088c0fb64456d58ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdev-python-24.01.75.tar.xz">kdev-python-24.01.75</a></td>
   <td align="right">1071kB</td>
   <td><tt>b0ae4689507f7a7babd2423aab67ac45165d28b440c23e3b421f2da6570aa6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdf-24.01.75.tar.xz">kdf-24.01.75</a></td>
   <td align="right">482kB</td>
   <td><tt>ca406c4681d1fb414a99a7dd8b76376e43e2110b9c05cd90f26c873b01198f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdialog-24.01.75.tar.xz">kdialog-24.01.75</a></td>
   <td align="right">140kB</td>
   <td><tt>2c75e49a8290f4f8c6e237c5b55bec31c0c612c124944c4f12107995ec5861d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kdiamond-24.01.75.tar.xz">kdiamond-24.01.75</a></td>
   <td align="right">4598kB</td>
   <td><tt>6b76fa1c51d0b0a47b059c83f5125ee412f682a217290d2fcaba5128ac8668b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/keditbookmarks-24.01.75.tar.xz">keditbookmarks-24.01.75</a></td>
   <td align="right">238kB</td>
   <td><tt>9476802e3ad3909115d7f3e61fc4f2b5311ffe34fba874fdf6e1327636e3082d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/keysmith-24.01.75.tar.xz">keysmith-24.01.75</a></td>
   <td align="right">163kB</td>
   <td><tt>b30a9dd723ae392f6f84ac57699d0085ad27701a8a32c4e3ad67c67488a6b31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kfind-24.01.75.tar.xz">kfind-24.01.75</a></td>
   <td align="right">314kB</td>
   <td><tt>8c3f16a37dbddd0695aaf1cf79ca876bc3205e6171c57c5dfad0bafcc8deff30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kfourinline-24.01.75.tar.xz">kfourinline-24.01.75</a></td>
   <td align="right">721kB</td>
   <td><tt>fbe2688d96eaac36af7af8ff39e2e6cf240ea080f478b6a59383761cce5848e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kgeography-24.01.75.tar.xz">kgeography-24.01.75</a></td>
   <td align="right">12297kB</td>
   <td><tt>ea3f20d445ace7c36332ee94b880a6a06c012db4feac97c617206befe3f95f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kget-24.01.75.tar.xz">kget-24.01.75</a></td>
   <td align="right">5433kB</td>
   <td><tt>8f318a79ad410db335c8697ecff4747e6f9c1382f9266c062cc1eb78a2944fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kgoldrunner-24.01.75.tar.xz">kgoldrunner-24.01.75</a></td>
   <td align="right">4850kB</td>
   <td><tt>5dbaa5015d18ea3c3b1d6d41aa5c80ff6dfd336b6e66a81190789a6de05b511e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kgpg-24.01.75.tar.xz">kgpg-24.01.75</a></td>
   <td align="right">2981kB</td>
   <td><tt>f48c5e649459c4aca801c44bff8254c13f398a6023388aac0ca000afaec80c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/khangman-24.01.75.tar.xz">khangman-24.01.75</a></td>
   <td align="right">7263kB</td>
   <td><tt>cfc27db649ca223c026f5d2ba1d68e16e840e4663b5d2a59545ef09ca875a256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/khealthcertificate-24.01.75.tar.xz">khealthcertificate-24.01.75</a></td>
   <td align="right">502kB</td>
   <td><tt>b3d31344dcb28a1b2d602a54880104e9570d4b40c6eb2871831ceb015c21f22c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/khelpcenter-24.01.75.tar.xz">khelpcenter-24.01.75</a></td>
   <td align="right">4277kB</td>
   <td><tt>028601ec54cf679285f4008646da3a67dddf38d5c745ebcae25e7cdeb23c8e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kidentitymanagement-24.01.75.tar.xz">kidentitymanagement-24.01.75</a></td>
   <td align="right">176kB</td>
   <td><tt>d7b08b49ef55770d9276eb46e8c17759a442a471b6331d1b99a56612a384569e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kig-24.01.75.tar.xz">kig-24.01.75</a></td>
   <td align="right">3220kB</td>
   <td><tt>22f4979b155a5606619d6743ecfeb077342f8761771ecd6936fb9c23edbdf8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kigo-24.01.75.tar.xz">kigo-24.01.75</a></td>
   <td align="right">5144kB</td>
   <td><tt>fe48d802671a1950c1fd7f07874c2a61e9cc6f0241806f6bd378e101641ab964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/killbots-24.01.75.tar.xz">killbots-24.01.75</a></td>
   <td align="right">1177kB</td>
   <td><tt>0eb1e32e6bf5fdcd1a11c92b6e9f85789e61cadcb83656614d70d7276e7670d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kimagemapeditor-24.01.75.tar.xz">kimagemapeditor-24.01.75</a></td>
   <td align="right">1078kB</td>
   <td><tt>33da8c509f9b462ffac4da981b864dbb48e5b6bc75d4d478fd6e4cc073734a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kimap-24.01.75.tar.xz">kimap-24.01.75</a></td>
   <td align="right">127kB</td>
   <td><tt>e66b0fb495f70f8b729fce90cc5004276e05158f4937deb59abee27cda36e23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kio-admin-24.01.75.tar.xz">kio-admin-24.01.75</a></td>
   <td align="right">34kB</td>
   <td><tt>e629e1fe0f3a034c66b5a722d5bd70ce19e22121c9010c95f6cb126e444ada70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kio-extras-24.01.75.tar.xz">kio-extras-24.01.75</a></td>
   <td align="right">1432kB</td>
   <td><tt>c9b1d43f5a70f050dcf03022fc3dc5e90338c700d522e4eb05de6cb53628c1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kio-extras-kf6-24.01.75.tar.xz">kio-extras-kf6-24.01.75</a></td>
   <td align="right">3516kB</td>
   <td><tt>bd0487a5d35a09f9c539307da563e60f42364eb0780bae587ed1a61d308d4c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kio-gdrive-24.01.75.tar.xz">kio-gdrive-24.01.75</a></td>
   <td align="right">77kB</td>
   <td><tt>3ccebd50c1cea8ea5b95c1559e37763cd3378f84cc6fbb44daa09b30a3b630d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kio-zeroconf-24.01.75.tar.xz">kio-zeroconf-24.01.75</a></td>
   <td align="right">43kB</td>
   <td><tt>b53d5b71c2d7688718594cfb865df050202e080066498b11a40450f0fd68a019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kipi-plugins-24.01.75.tar.xz">kipi-plugins-24.01.75</a></td>
   <td align="right">1527kB</td>
   <td><tt>4ecc76b4f338ce4ec43ae19c9d4689fe4acd94ae7d105085da92302ffb88569c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kirigami-gallery-24.01.75.tar.xz">kirigami-gallery-24.01.75</a></td>
   <td align="right">344kB</td>
   <td><tt>18120f4a38a3b8a7473189ea179562cbadb872936b5ae6b64ad884a0c901f3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kiriki-24.01.75.tar.xz">kiriki-24.01.75</a></td>
   <td align="right">361kB</td>
   <td><tt>6a2c9f0dc99867f02d84979d2df0529faa3265b77d06d0d895d8b6bc02d25748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kiten-24.01.75.tar.xz">kiten-24.01.75</a></td>
   <td align="right">11068kB</td>
   <td><tt>af68f75406f8ed92d7e26e3b29e342daebe2fc0c69cf37db64a41bf2d68bf44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kitinerary-24.01.75.tar.xz">kitinerary-24.01.75</a></td>
   <td align="right">1903kB</td>
   <td><tt>c9170c04ae4424d1bc6a856f29f2a7c0933c5462872a932acceb9de96db3e714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kjournald-24.01.75.tar.xz">kjournald-24.01.75</a></td>
   <td align="right">502kB</td>
   <td><tt>702bd16872faf597388f5b9c416769a128663035c78a416ffc2d5445a69c479e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kjumpingcube-24.01.75.tar.xz">kjumpingcube-24.01.75</a></td>
   <td align="right">329kB</td>
   <td><tt>2dd33a82e987d553645eaff7bf08961eb292bcebe8930a94569ee8a739131a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kldap-24.01.75.tar.xz">kldap-24.01.75</a></td>
   <td align="right">178kB</td>
   <td><tt>62af7fb978999a9263351179709f2047c4f08304f5abe5c7235c3aec4779969c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kleopatra-24.01.75.tar.xz">kleopatra-24.01.75</a></td>
   <td align="right">2695kB</td>
   <td><tt>4822b8be9589eeac2c7b52ac946ce446ff1ec3c2ca58b9ee1c31111a187de743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/klettres-24.01.75.tar.xz">klettres-24.01.75</a></td>
   <td align="right">46726kB</td>
   <td><tt>08ca43ebf98e68ec4e477066ad0f70d2b3f9c51d7ae42138f60ecef1899ce155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/klickety-24.01.75.tar.xz">klickety-24.01.75</a></td>
   <td align="right">1465kB</td>
   <td><tt>f36c828c061c841ab6a49bbb8488877d503fac3ec5b52499300f5e4d07ef616d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/klines-24.01.75.tar.xz">klines-24.01.75</a></td>
   <td align="right">1697kB</td>
   <td><tt>209bdc8c779f6915be719e5dffb3e31a93f625501b38f0347533df7c59e0f2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmag-24.01.75.tar.xz">kmag-24.01.75</a></td>
   <td align="right">708kB</td>
   <td><tt>606bfa0a1b0efa669862f69393f5d86383d0256dd1b2b3368a653d777988d29f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmahjongg-24.01.75.tar.xz">kmahjongg-24.01.75</a></td>
   <td align="right">4003kB</td>
   <td><tt>7cb7c2ff3065eb1531c859a8f16acd167f0803624e4f591c416a0775add8f213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmail-24.01.75.tar.xz">kmail-24.01.75</a></td>
   <td align="right">7508kB</td>
   <td><tt>c806ce5a65ab732cd5ab2b40dee53081972e646c43662aed16034a4db41ba1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmail-account-wizard-24.01.75.tar.xz">kmail-account-wizard-24.01.75</a></td>
   <td align="right">167kB</td>
   <td><tt>5c0681732c7b6f4af9b941ed6384462c77b6613a58b3d2bb488182a9f3002eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmailtransport-24.01.75.tar.xz">kmailtransport-24.01.75</a></td>
   <td align="right">168kB</td>
   <td><tt>86635ab82b42fca7ee5ac254cb02b792f781312ea9442623918e17f553d6fbbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmbox-24.01.75.tar.xz">kmbox-24.01.75</a></td>
   <td align="right">28kB</td>
   <td><tt>588d3cd447e3086e6357d5e6e12d11b31bbc7d7b878d75934fc923678836b50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmime-24.01.75.tar.xz">kmime-24.01.75</a></td>
   <td align="right">159kB</td>
   <td><tt>60f5cda5e57e183f6200a191056e18f475f8b9215960ea850891e7c80d009d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmines-24.01.75.tar.xz">kmines-24.01.75</a></td>
   <td align="right">986kB</td>
   <td><tt>ffb432a535eb8a4e6cf063759ec9ace633cb2eb559f60a08d2f4dd862415cb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmix-24.01.75.tar.xz">kmix-24.01.75</a></td>
   <td align="right">1181kB</td>
   <td><tt>60b162eab80b5a00e45c30379aace6b4590cc598b239f10c4077b7e62a3dcd58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmousetool-24.01.75.tar.xz">kmousetool-24.01.75</a></td>
   <td align="right">126kB</td>
   <td><tt>6d0cd9fb4f8a713c75a6dc10c7afc47f00d41896daa53583ddf3d172228c1b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmouth-24.01.75.tar.xz">kmouth-24.01.75</a></td>
   <td align="right">2041kB</td>
   <td><tt>44f5bda6723f072568f2c0abb1d4ed1f93ec2a991d8eed0e73454f923f5b2896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kmplot-24.01.75.tar.xz">kmplot-24.01.75</a></td>
   <td align="right">3027kB</td>
   <td><tt>9478be12e4e786825d09d3b77fc152f2a18e714e0694ddd1aabef8e293e2a361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/knavalbattle-24.01.75.tar.xz">knavalbattle-24.01.75</a></td>
   <td align="right">1366kB</td>
   <td><tt>7e4d31ce5881f1631b29dbedcbcb29538fc37fd462f5d0028fe89aaa3d25d838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/knetwalk-24.01.75.tar.xz">knetwalk-24.01.75</a></td>
   <td align="right">1080kB</td>
   <td><tt>f8af412570149c8a249302b8ed7948b93da52ad3b55bb4d68dcf9ce5763e829b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/knights-24.01.75.tar.xz">knights-24.01.75</a></td>
   <td align="right">3255kB</td>
   <td><tt>857f74fd988dc542ac1aaf7d333374e2e848913d913697e2c64b98a8697eface</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/knotes-24.01.75.tar.xz">knotes-24.01.75</a></td>
   <td align="right">367kB</td>
   <td><tt>84022ba5892b4f486b44ed202c262f97e05450b0db9195156e0c4d36b4ff9a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/koko-24.01.75.tar.xz">koko-24.01.75</a></td>
   <td align="right">8334kB</td>
   <td><tt>b329f14c8c5117b00aaa89706c33c9232c8b1bf3f98d154081bc1a8f4143848d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kolf-24.01.75.tar.xz">kolf-24.01.75</a></td>
   <td align="right">1045kB</td>
   <td><tt>4a1ff33d8467979c3cbb4134b49a327e9a5d05b048f6e2cc9f26161fdfaf11ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kollision-24.01.75.tar.xz">kollision-24.01.75</a></td>
   <td align="right">299kB</td>
   <td><tt>0f00aa567852cd46fc4982dbb59ea3ab1bdf51e222120889c31e9f9c1143bfaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kolourpaint-24.01.75.tar.xz">kolourpaint-24.01.75</a></td>
   <td align="right">5657kB</td>
   <td><tt>0a698cd8ba6f7a984ecafb65bcce6345229be224fdb815dadb8a0550532755d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kompare-24.01.75.tar.xz">kompare-24.01.75</a></td>
   <td align="right">960kB</td>
   <td><tt>fd2a1b2135476ec7aa407f7a368c1174f5bc01e8659fe4f7ed5774509798c07d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kongress-24.01.75.tar.xz">kongress-24.01.75</a></td>
   <td align="right">576kB</td>
   <td><tt>2323e1951b2cd01795ac8144ae37e1c8a78ac38acc80df4b47b20e5a22247546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/konqueror-24.01.75.tar.xz">konqueror-24.01.75</a></td>
   <td align="right">9860kB</td>
   <td><tt>533f067ae4d42b5b5fb39edbe4740e8be935cb33467dc41f567eeca6491164bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/konquest-24.01.75.tar.xz">konquest-24.01.75</a></td>
   <td align="right">854kB</td>
   <td><tt>63818386ef67172de91688a5d3faecf83d4733110776617f488ab46a77359b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/konsole-24.01.75.tar.xz">konsole-24.01.75</a></td>
   <td align="right">1703kB</td>
   <td><tt>7d0385978c608a748e678612bb72f78d1c8636afcca3d2014ee720f12a2ce43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kontact-24.01.75.tar.xz">kontact-24.01.75</a></td>
   <td align="right">838kB</td>
   <td><tt>15266acc0888cf41347de8485e28607b4adbe02c13c603879cdf8cbd424e9a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kontactinterface-24.01.75.tar.xz">kontactinterface-24.01.75</a></td>
   <td align="right">39kB</td>
   <td><tt>722fd19f1225fcb58737966d80e95a9803f76f8ebc83141a241803a4700472a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kontrast-24.01.75.tar.xz">kontrast-24.01.75</a></td>
   <td align="right">206kB</td>
   <td><tt>6b4813cf23b7c85f45cb12ae91983ed26055efd784a5e116d78677cf6c3e86ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/konversation-24.01.75.tar.xz">konversation-24.01.75</a></td>
   <td align="right">4307kB</td>
   <td><tt>1a0d52a062ee18c67391d5b9f0e1287e8fadefdc5f1b5f424256af22be7d9e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kopeninghours-24.01.75.tar.xz">kopeninghours-24.01.75</a></td>
   <td align="right">70kB</td>
   <td><tt>d91f64142b306dfd87c536df766f7703088018027ae5172a097fd1434c53298d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/korganizer-24.01.75.tar.xz">korganizer-24.01.75</a></td>
   <td align="right">2506kB</td>
   <td><tt>706c1bce1a49727081385e6f92d2cf875c6e267dee27defae3f40bada9a632b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kosmindoormap-24.01.75.tar.xz">kosmindoormap-24.01.75</a></td>
   <td align="right">608kB</td>
   <td><tt>e8040ff3478706fab8a00579c91f75264acce1576bfc9a8fe281700495e77052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kpat-24.01.75.tar.xz">kpat-24.01.75</a></td>
   <td align="right">3669kB</td>
   <td><tt>ca6c9ea9b8f477249fbd75da2d5b52a60f9935fb372fa89530cdc424d05f7400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kpimtextedit-24.01.75.tar.xz">kpimtextedit-24.01.75</a></td>
   <td align="right">163kB</td>
   <td><tt>a0df08c850becdb932bbb83a8d14a29f4a4b10cb9d012e0564f3027270041f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kpkpass-24.01.75.tar.xz">kpkpass-24.01.75</a></td>
   <td align="right">28kB</td>
   <td><tt>ecc45779390895a3f55ed8e89c41a462504540017e73bb8bac5e0ec36df74297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kpmcore-24.01.75.tar.xz">kpmcore-24.01.75</a></td>
   <td align="right">608kB</td>
   <td><tt>a9235496e9c5cd629b8f8d97f615d4c3a2918840810761554e8037cc19c355b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kpublictransport-24.01.75.tar.xz">kpublictransport-24.01.75</a></td>
   <td align="right">561kB</td>
   <td><tt>8b0d4a821cd0b6ca4112614c059f2d9d108efc0072ab6bdb2876ffd84b9c6e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kqtquickcharts-24.01.75.tar.xz">kqtquickcharts-24.01.75</a></td>
   <td align="right">30kB</td>
   <td><tt>f8e040838eb1bb737e3c8e23124ed90ca48d94bab7c6aaac6554285861e8ba83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/krdc-24.01.75.tar.xz">krdc-24.01.75</a></td>
   <td align="right">1591kB</td>
   <td><tt>37a967ab28eb472f2ab19a01908a46fc97c96457e8cb94a040cc0acdf2251b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/krecorder-24.01.75.tar.xz">krecorder-24.01.75</a></td>
   <td align="right">157kB</td>
   <td><tt>f1105e3eccace3a1b4d1a48add7cef45c45dfcb9ec06cf35dc6b9a6abc13b14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kreversi-24.01.75.tar.xz">kreversi-24.01.75</a></td>
   <td align="right">1052kB</td>
   <td><tt>79518a85265d6694e136f623db0d48be3e34609d8e4cf93d552e5852da55499a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/krfb-24.01.75.tar.xz">krfb-24.01.75</a></td>
   <td align="right">1288kB</td>
   <td><tt>b546b700e928104c7272aaf3d26d70d0bda93588f5ca0c14a089d75f118cf57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kross-interpreters-24.01.75.tar.xz">kross-interpreters-24.01.75</a></td>
   <td align="right">148kB</td>
   <td><tt>14339482cb33ec0a698e63d7210f9f9d4ad8d26053fbe3c481a12cee4f99dd22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kruler-24.01.75.tar.xz">kruler-24.01.75</a></td>
   <td align="right">281kB</td>
   <td><tt>ffde8b4e5d30284d316959b45ffc778db753d4c8dc7749aa530a3de5a3a418e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksanecore-24.01.75.tar.xz">ksanecore-24.01.75</a></td>
   <td align="right">50kB</td>
   <td><tt>d42614cbf907214c05ed95fb18eb983cb87d1d625fdd09990cebd947d25df4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kshisen-24.01.75.tar.xz">kshisen-24.01.75</a></td>
   <td align="right">984kB</td>
   <td><tt>0226e6c1b46c1646ce5b79f680b67fe355733d8ddc07c05e1229ef15a675319b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksirk-24.01.75.tar.xz">ksirk-24.01.75</a></td>
   <td align="right">6903kB</td>
   <td><tt>b8c0962183ac0d0d0374b49c317352b7e6374397d7374755f61491ea43eed79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksmtp-24.01.75.tar.xz">ksmtp-24.01.75</a></td>
   <td align="right">49kB</td>
   <td><tt>bf4bbe5261811ebd12947c6cf047e4d741fcba76776fc37815a7ca4c8f88a5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksnakeduel-24.01.75.tar.xz">ksnakeduel-24.01.75</a></td>
   <td align="right">588kB</td>
   <td><tt>2e2b2aff00d4fccf08a85e216b03a2cd13ecf9e2e0cb49fc38105559a54ce092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kspaceduel-24.01.75.tar.xz">kspaceduel-24.01.75</a></td>
   <td align="right">644kB</td>
   <td><tt>834a61c5771f4997e0a8ff8fbd4bdce1c85094df0b6fe394117a12ccfada6665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksquares-24.01.75.tar.xz">ksquares-24.01.75</a></td>
   <td align="right">305kB</td>
   <td><tt>1ba696ed017124363bbd1b1493e88fbf28c4740b1f155b5759e0eba1d8f567ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksudoku-24.01.75.tar.xz">ksudoku-24.01.75</a></td>
   <td align="right">1669kB</td>
   <td><tt>4edf598403fff1859058fb5e73d526cafff8b103cbb73f65b1471422a6146109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ksystemlog-24.01.75.tar.xz">ksystemlog-24.01.75</a></td>
   <td align="right">1966kB</td>
   <td><tt>2a0fe1af3de88d86ea4c85458f4d880556b00cfd8c7d50233c533ede8ee022c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kteatime-24.01.75.tar.xz">kteatime-24.01.75</a></td>
   <td align="right">307kB</td>
   <td><tt>dbb981a6f0419f91b8b10a58219dd33601ba39ad37b277ede8685b9ed8250c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktimer-24.01.75.tar.xz">ktimer-24.01.75</a></td>
   <td align="right">396kB</td>
   <td><tt>f1977ccabadaee4b0bcbb09d327b53b4ef1ea2b2f7703e4e3b9d29b022b9ba1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktnef-24.01.75.tar.xz">ktnef-24.01.75</a></td>
   <td align="right">304kB</td>
   <td><tt>8ce9f8d3d7f339e57503446a6f4e2571f0627543e9c137436f40d62b0cb25661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktorrent-24.01.75.tar.xz">ktorrent-24.01.75</a></td>
   <td align="right">2105kB</td>
   <td><tt>ab7c9a97555200877e2164afc1cbf039d8ea6d24818c0eaa34984731d9121657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktouch-24.01.75.tar.xz">ktouch-24.01.75</a></td>
   <td align="right">4921kB</td>
   <td><tt>8aba5bd494c85288ec824fce526e7d7f5f9b1d0b4496ce51234889c9960121aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktrip-24.01.75.tar.xz">ktrip-24.01.75</a></td>
   <td align="right">249kB</td>
   <td><tt>4a9007c6aca61d79a61fdef33733603ac54bac83e959847f34b25123b5136447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/ktuberling-24.01.75.tar.xz">ktuberling-24.01.75</a></td>
   <td align="right">69729kB</td>
   <td><tt>5c17b427f9869d606c6947c051be8c907b6a1a1c797ced89192e12392dc8f17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kturtle-24.01.75.tar.xz">kturtle-24.01.75</a></td>
   <td align="right">2195kB</td>
   <td><tt>6373892062eb3ba096be67732e77797f852ad11ab3eb51af6c75db1134f00a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kubrick-24.01.75.tar.xz">kubrick-24.01.75</a></td>
   <td align="right">345kB</td>
   <td><tt>bd5513a68d7c3740358813befe9ed4e6aa53703bfe11cc8dd929139b91ea908f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kwalletmanager-24.01.75.tar.xz">kwalletmanager-24.01.75</a></td>
   <td align="right">835kB</td>
   <td><tt>ca8561ee897994d367435ed4dfbbec7de434a58c3e3e010a3ff247b71a4de4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kwave-24.01.75.tar.xz">kwave-24.01.75</a></td>
   <td align="right">6817kB</td>
   <td><tt>39c4c4a3068eee656f40af83fe1065ab1550d77e9e485779ccc6352165f64845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kweather-24.01.75.tar.xz">kweather-24.01.75</a></td>
   <td align="right">923kB</td>
   <td><tt>650c8627d5870143223642f026d0463c0926d8fa862999ee3161e63c507afcc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/kwordquiz-24.01.75.tar.xz">kwordquiz-24.01.75</a></td>
   <td align="right">3976kB</td>
   <td><tt>cce6d8dee8d0d0019d77da256103fe43cfeae475b402a9d490d95cd869a1b594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libgravatar-24.01.75.tar.xz">libgravatar-24.01.75</a></td>
   <td align="right">35kB</td>
   <td><tt>50828e66e0c20cb765a7a265376b0b0b7944d9f7ac1d6e8cef5c8ecf49c305f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkcddb-24.01.75.tar.xz">libkcddb-24.01.75</a></td>
   <td align="right">440kB</td>
   <td><tt>e62d6cd01917dbfcebbed8d7201fa1d2776cad6b83e643107f349980c04dd557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkcompactdisc-24.01.75.tar.xz">libkcompactdisc-24.01.75</a></td>
   <td align="right">97kB</td>
   <td><tt>3108620d3ee59ff6aa1f26abaeb91d75fb9fdbad5d730a1b716782cb566a7f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkdcraw-24.01.75.tar.xz">libkdcraw-24.01.75</a></td>
   <td align="right">36kB</td>
   <td><tt>36fe6fee8d7bb02be7b90344a9b60405a2b954e68de92ef1ae1eabc392b69870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkdegames-24.01.75.tar.xz">libkdegames-24.01.75</a></td>
   <td align="right">5824kB</td>
   <td><tt>294389082cafd3f7774d6e73e3fed9152283abdcbe9e28381cfd32d4a22cae85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkdepim-24.01.75.tar.xz">libkdepim-24.01.75</a></td>
   <td align="right">278kB</td>
   <td><tt>437a289e36e3455dcea6ad6818a7643aa828e584891e93850c3f350fc178e9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkeduvocdocument-24.01.75.tar.xz">libkeduvocdocument-24.01.75</a></td>
   <td align="right">223kB</td>
   <td><tt>ef963329273ea6af557c78346cd707c4a448f49e4d147f749eebfce56e58dbb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkexiv2-24.01.75.tar.xz">libkexiv2-24.01.75</a></td>
   <td align="right">59kB</td>
   <td><tt>8804f3aef570d97d5bf2e705c94d779d70f9d592688bd351dd72eee153cc8343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkgapi-24.01.75.tar.xz">libkgapi-24.01.75</a></td>
   <td align="right">327kB</td>
   <td><tt>e47a046d8fe162841736021b76f1a1303056d2d2e2887f6e632bcd3058310be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkipi-24.01.75.tar.xz">libkipi-24.01.75</a></td>
   <td align="right">86kB</td>
   <td><tt>2b4443cca150d7dbd731ff76ff84bba4436d3cb5a5a05f4cc99cb49e43f4df66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkleo-24.01.75.tar.xz">libkleo-24.01.75</a></td>
   <td align="right">552kB</td>
   <td><tt>74cc11d111f23c59658b1e8028a89812b278697d290a435ddb8aa48918c88a11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkmahjongg-24.01.75.tar.xz">libkmahjongg-24.01.75</a></td>
   <td align="right">1646kB</td>
   <td><tt>7cd63502022cf7be9012a42ec653fb83a20c0eb42f1bacc15aa8c28fef68c3aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libkomparediff2-24.01.75.tar.xz">libkomparediff2-24.01.75</a></td>
   <td align="right">183kB</td>
   <td><tt>7f155fdd91b4579a1c336937c1710a91d9dfa0ed0c993d9034803d48d2d2962a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libksane-24.01.75.tar.xz">libksane-24.01.75</a></td>
   <td align="right">151kB</td>
   <td><tt>3e0db801b17ed303fb04d3f233232140933f8a29eaf92123138f967748f50875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libksieve-24.01.75.tar.xz">libksieve-24.01.75</a></td>
   <td align="right">565kB</td>
   <td><tt>9f0e402ce3728772b12ad4088c107fb0fea4b3c7bbe502316d4c6c81a98c1999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/libktorrent-24.01.75.tar.xz">libktorrent-24.01.75</a></td>
   <td align="right">590kB</td>
   <td><tt>29665b4083dcacc67989951d140180dc5429f6695022865d6fad8bc622914c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/lokalize-24.01.75.tar.xz">lokalize-24.01.75</a></td>
   <td align="right">2089kB</td>
   <td><tt>ca1e3fda1c3f1f584880a65b7bf5ade8ef632eb8d6a03e7c761c4d6ef4b71985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/lskat-24.01.75.tar.xz">lskat-24.01.75</a></td>
   <td align="right">1220kB</td>
   <td><tt>225338bf324ea85160eda365eeec63adfaf295218fe2177dceb5ebefe26d6a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/mailcommon-24.01.75.tar.xz">mailcommon-24.01.75</a></td>
   <td align="right">751kB</td>
   <td><tt>376e4f93e6b56f44920bcf65fa02e531fe8fb25eda83dab73d59c6ef8c0df87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/mailimporter-24.01.75.tar.xz">mailimporter-24.01.75</a></td>
   <td align="right">579kB</td>
   <td><tt>83e0ea9771ec7bd65038b5b14b369caefc2ee453d9d6d9c1ea6f2ec80fa1d7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/marble-24.01.75.tar.xz">marble-24.01.75</a></td>
   <td align="right">52535kB</td>
   <td><tt>f8fe1d68b0b463e79be733b85c03e76f6404f9a238cc9346f271047ec9594ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/markdownpart-24.01.75.tar.xz">markdownpart-24.01.75</a></td>
   <td align="right">31kB</td>
   <td><tt>9a68b21db911359ae6d6f0ac9408b81819b3bffe320b196395df67f805f2c92f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/mbox-importer-24.01.75.tar.xz">mbox-importer-24.01.75</a></td>
   <td align="right">29kB</td>
   <td><tt>7c0acd997d2ba6411098bca1c8765eb9f7c63d4f025314f5a1fbebcfbaa6cfb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/merkuro-24.01.75.tar.xz">merkuro-24.01.75</a></td>
   <td align="right">694kB</td>
   <td><tt>fce4f1ccd14707062aebbafce865e71c87725e9480a7ff63138be5e939ac2c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/messagelib-24.01.75.tar.xz">messagelib-24.01.75</a></td>
   <td align="right">11070kB</td>
   <td><tt>512ae3fdc841405602718d65ecd44a167433d8c0b07578c0705921c3426638f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/mimetreeparser-24.01.75.tar.xz">mimetreeparser-24.01.75</a></td>
   <td align="right">613kB</td>
   <td><tt>ac73504b52166174f3b6052f5c26c8c50c7989c6b5a4c7ffb60177952d8cf555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/minuet-24.01.75.tar.xz">minuet-24.01.75</a></td>
   <td align="right">27037kB</td>
   <td><tt>c5361fecaff1349930dbf2dfd00887687d68e7ab7c77c132cae852b040c4742a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/neochat-24.01.75.tar.xz">neochat-24.01.75</a></td>
   <td align="right">829kB</td>
   <td><tt>b407efd97a2cec10c4a2295beff91581a0f97f3d504bd9c7f9cca103df17ea63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/okular-24.01.75.tar.xz">okular-24.01.75</a></td>
   <td align="right">8323kB</td>
   <td><tt>42e4a7eb1e349eadafc3d7ae46606b31afbddd44625846a3fba996ac80340152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/palapeli-24.01.75.tar.xz">palapeli-24.01.75</a></td>
   <td align="right">2066kB</td>
   <td><tt>9fa2bf25fed2467a1e903553071da882b5f5c6908ecebb9596ad3eeb1717003f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/parley-24.01.75.tar.xz">parley-24.01.75</a></td>
   <td align="right">8400kB</td>
   <td><tt>fb8222b488f141dfef4632a4e5cf7c0a8a88e0905eeb59173ebd6fd656fbc559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/partitionmanager-24.01.75.tar.xz">partitionmanager-24.01.75</a></td>
   <td align="right">2097kB</td>
   <td><tt>02fb90cc85275b21932b8e96a55fad174158bd10d61b82540c9df1d0728746ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/picmi-24.01.75.tar.xz">picmi-24.01.75</a></td>
   <td align="right">1505kB</td>
   <td><tt>3846cf6110f924ebfe750f79c2e256865b3997c6e5d3687fa82ead6dead4493e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/pimcommon-24.01.75.tar.xz">pimcommon-24.01.75</a></td>
   <td align="right">334kB</td>
   <td><tt>b0751a0061cfe6aa36571a9503b51d23a80110629e6ca53784d63780effa5a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/pim-data-exporter-24.01.75.tar.xz">pim-data-exporter-24.01.75</a></td>
   <td align="right">416kB</td>
   <td><tt>f3cd6edd5390c3f34ebae357ffa4dd09b128b5209a9336e24dc07e380a4ac58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/pim-sieve-editor-24.01.75.tar.xz">pim-sieve-editor-24.01.75</a></td>
   <td align="right">455kB</td>
   <td><tt>49a965f5b03c1a4a3d0593d461c17823a3d7722070c232e947bc48a1c46e615d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/plasmatube-24.01.75.tar.xz">plasmatube-24.01.75</a></td>
   <td align="right">113kB</td>
   <td><tt>73c07fb2f6d15430eb6937cd207d654ad6a16febd15325d1ddc7596411527a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/poxml-24.01.75.tar.xz">poxml-24.01.75</a></td>
   <td align="right">43kB</td>
   <td><tt>e2294aeb59df39dc8a5ce05b6eae2ff4092c0201be0fc77ecedb113ca283b74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/qmlkonsole-24.01.75.tar.xz">qmlkonsole-24.01.75</a></td>
   <td align="right">60kB</td>
   <td><tt>dd81250173b5da6bdd0b3ebc36cd10d1f90cfc05fe58d1632b5ce7e16c8793b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/rocs-24.01.75.tar.xz">rocs-24.01.75</a></td>
   <td align="right">1533kB</td>
   <td><tt>570e6bc28b9422f35c7e4d3aa727ac5a1d6cf891414f010b7e12f371e5065454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/signon-kwallet-extension-24.01.75.tar.xz">signon-kwallet-extension-24.01.75</a></td>
   <td align="right">10kB</td>
   <td><tt>66b338613f982f3b7a91487e4e1c6a58d0bcad29da22c9d3872b81ec4522aede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/skanlite-24.01.75.tar.xz">skanlite-24.01.75</a></td>
   <td align="right">2393kB</td>
   <td><tt>0db55bdc71a29731df251cc890e7bd54f07786955981a47ac4dc07c9eaf137ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/skanpage-24.01.75.tar.xz">skanpage-24.01.75</a></td>
   <td align="right">1283kB</td>
   <td><tt>2da5bd00e30e71f3562da7acf67ccfc3b52a8752488d7ee09592fa803084ce24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/spectacle-24.01.75.tar.xz">spectacle-24.01.75</a></td>
   <td align="right">1350kB</td>
   <td><tt>0c2d62a33d2769e2838fb757b6f14f72773b97c3558fe193b3a691917dc39f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/step-24.01.75.tar.xz">step-24.01.75</a></td>
   <td align="right">971kB</td>
   <td><tt>74a9a7ff5b4a074904600b1d8e1db5ebb88276e9b5ec4cc0271e9232fd1447cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/svgpart-24.01.75.tar.xz">svgpart-24.01.75</a></td>
   <td align="right">28kB</td>
   <td><tt>b69818c573458b4d4df0cf2a822b6b15842c676cc07aaeddb453b5aa961c64ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/sweeper-24.01.75.tar.xz">sweeper-24.01.75</a></td>
   <td align="right">390kB</td>
   <td><tt>32d8bec74c1081b43fe9cc36a7f235d81d7083d480fa4c1b433099e3fc05f43a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/telly-skout-24.01.75.tar.xz">telly-skout-24.01.75</a></td>
   <td align="right">94kB</td>
   <td><tt>7537cfb7c380af7d42493eeee7ab6ac8fbd6e79b712b7726d03f7f304843ae51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/tokodon-24.01.75.tar.xz">tokodon-24.01.75</a></td>
   <td align="right">448kB</td>
   <td><tt>f94531409751e8c272b193df1c97fbacb363b075799afd0060d95cafa00bf6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/umbrello-24.01.75.tar.xz">umbrello-24.01.75</a></td>
   <td align="right">5640kB</td>
   <td><tt>250285773cba8a5db3a3e7616b8149290ceacf35cdd5250c5ecc01de7399edcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/yakuake-24.01.75.tar.xz">yakuake-24.01.75</a></td>
   <td align="right">428kB</td>
   <td><tt>4c9baa3058c4dbb6f365d1f827f813eb5c6ab263f898855b740f72bc91efbc9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.75/src/zanshin-24.01.75.tar.xz">zanshin-24.01.75</a></td>
   <td align="right">357kB</td>
   <td><tt>9f4cb94dc1b0372962f85c6e4ebcdb0f40c4951e11797c0b4e54110583908e77</tt></td>
</tr>

</table>
