<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/bluedevil-6.1.4.tar.xz">bluedevil-6.1.4</a></td>
   <td align="right">364kB</td>
   <td><tt>70f8e95cc9b591204e823278924047a9e3965b0385bf9a12220132e6c00c140f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/breeze-6.1.4.tar.xz">breeze-6.1.4</a></td>
   <td align="right">55MB</td>
   <td><tt>226726df37b03cbcae15409fcb5dc3b69f560aee68541e401e2bd76080da01a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/breeze-grub-6.1.4.tar.xz">breeze-grub-6.1.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>914fbe3550099dde0f06e7f1b22c53ba2ee217eec3cfe7771a7b6f6d6c627004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/breeze-gtk-6.1.4.tar.xz">breeze-gtk-6.1.4</a></td>
   <td align="right">39kB</td>
   <td><tt>5e5bfceaedbc5ddb693f1775ed002e5819b26178321a31dc94d3bfd8d610aec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/breeze-plymouth-6.1.4.tar.xz">breeze-plymouth-6.1.4</a></td>
   <td align="right">108kB</td>
   <td><tt>e9775eb0891900b78706704d8c8a4263970cac753398bf1111c5e48737af2ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/discover-6.1.4.tar.xz">discover-6.1.4</a></td>
   <td align="right">1000kB</td>
   <td><tt>64e73e990bebe13a2614245f03beb51c5027c285fc793309a2cff79e6156d284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/drkonqi-6.1.4.tar.xz">drkonqi-6.1.4</a></td>
   <td align="right">851kB</td>
   <td><tt>6b9717c3b06b90714b40bc3f8b288d24cdae2390609362577ee0e1e901e0385b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/flatpak-kcm-6.1.4.tar.xz">flatpak-kcm-6.1.4</a></td>
   <td align="right">237kB</td>
   <td><tt>e41b77f1ec30b8b2240cb09003410e601dacdd592122e08535e5c5b15782be12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kactivitymanagerd-6.1.4.tar.xz">kactivitymanagerd-6.1.4</a></td>
   <td align="right">107kB</td>
   <td><tt>989652c371ba811c3eb9b161b30687f46caffc3bc1fac917554c79514a9870c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kde-cli-tools-6.1.4.tar.xz">kde-cli-tools-6.1.4</a></td>
   <td align="right">614kB</td>
   <td><tt>d6d84afc71bab6bec45ca87333b261694920cc2246345b363cc469edadae1ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kdecoration-6.1.4.tar.xz">kdecoration-6.1.4</a></td>
   <td align="right">54kB</td>
   <td><tt>87f0e00869078e104855192ab42db63d1d6a4d2ba5e90bf3536908b5e4b7bbf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kde-gtk-config-6.1.4.tar.xz">kde-gtk-config-6.1.4</a></td>
   <td align="right">76kB</td>
   <td><tt>b3d4e5c8da2e7525bd23c77a85468e3a7cf3b1a9d9c9e8ae6a87e207a3f98019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kdeplasma-addons-6.1.4.tar.xz">kdeplasma-addons-6.1.4</a></td>
   <td align="right">868kB</td>
   <td><tt>8b339a7e50c6f9f3a3d14caf105d83e7f3a15bbc9674317e39d555fba1be9a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kgamma-6.1.4.tar.xz">kgamma-6.1.4</a></td>
   <td align="right">84kB</td>
   <td><tt>bd20882a6676a76a06206b424368ab4aef7279871ea5461bbd8522dac1718a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kglobalacceld-6.1.4.tar.xz">kglobalacceld-6.1.4</a></td>
   <td align="right">54kB</td>
   <td><tt>6cb493bea3316ac916e87f5602299a97f1f02fdc01669a52ea25223a6085ada8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kinfocenter-6.1.4.tar.xz">kinfocenter-6.1.4</a></td>
   <td align="right">702kB</td>
   <td><tt>179dfdc224ff66f1d692456560b1c9f0dd74b568e233347182316709ac2520d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kmenuedit-6.1.4.tar.xz">kmenuedit-6.1.4</a></td>
   <td align="right">850kB</td>
   <td><tt>c6a2d745e6402843db0abc633eff6362d6e4d2d80ef4ea5b07d3d9c5dc0adfd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kpipewire-6.1.4.tar.xz">kpipewire-6.1.4</a></td>
   <td align="right">145kB</td>
   <td><tt>ab116d56fd8a6b36da6b595f597cf4383d8ed171f8e625dca67b7a4645337134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/krdp-6.1.4.tar.xz">krdp-6.1.4</a></td>
   <td align="right">82kB</td>
   <td><tt>74de8e185be67d35bdd66a4194c79d7fe4d98794a33ec9be915433c86bc591cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kscreen-6.1.4.tar.xz">kscreen-6.1.4</a></td>
   <td align="right">204kB</td>
   <td><tt>99fe64edb097fc8285ec2bd3222d02fcb5c9560d29fcbe41f7f4b898b1e331af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kscreenlocker-6.1.4.tar.xz">kscreenlocker-6.1.4</a></td>
   <td align="right">176kB</td>
   <td><tt>1dc70ae8de365d3ec41f8f5a33b46099add5a650c23469f7a73f72c85b3aeb73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/ksshaskpass-6.1.4.tar.xz">ksshaskpass-6.1.4</a></td>
   <td align="right">28kB</td>
   <td><tt>5b72337f939aa81448e892bd3cb62f59bd76d0cd0f9d80700146033fbbd9650c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/ksystemstats-6.1.4.tar.xz">ksystemstats-6.1.4</a></td>
   <td align="right">125kB</td>
   <td><tt>a41113999f90773cd87f2e6ed74b28953bba7c0f6f9d0d71316485ee3bc0839c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kwallet-pam-6.1.4.tar.xz">kwallet-pam-6.1.4</a></td>
   <td align="right">21kB</td>
   <td><tt>7324b13e0327cfb73fdb4ade8948cad17b854e02241dfa9c17cbab858f2f2e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kwayland-6.1.4.tar.xz">kwayland-6.1.4</a></td>
   <td align="right">130kB</td>
   <td><tt>8691c06e65ac2c739de4842c0d1219579efb4ae1864b8614dc74a4645dd59774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kwayland-integration-6.1.4.tar.xz">kwayland-integration-6.1.4</a></td>
   <td align="right">25kB</td>
   <td><tt>5c1e28138621d8061def908642c6a13eab6d3119285052f6a1e17794b380ce4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kwin-6.1.4.tar.xz">kwin-6.1.4</a></td>
   <td align="right">8.1MB</td>
   <td><tt>fcffce468dea23a92cad33ac1b1264c55c0799d497f54f6b8e23439dcdadeb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/kwrited-6.1.4.tar.xz">kwrited-6.1.4</a></td>
   <td align="right">23kB</td>
   <td><tt>cfbea69eb9b74b7dfefe6d66f09b28de8b348ccb7cac5eec654b4a465245814b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/layer-shell-qt-6.1.4.tar.xz">layer-shell-qt-6.1.4</a></td>
   <td align="right">35kB</td>
   <td><tt>6239d2dc6bef5386b948ec2180202a18f75e23f37902c2d7410fb3811dfb3268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/libkscreen-6.1.4.tar.xz">libkscreen-6.1.4</a></td>
   <td align="right">116kB</td>
   <td><tt>730262beecbc6270b96afc0d3fbbfeb546b4e383889222b385d07aecb42c667b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/libksysguard-6.1.4.tar.xz">libksysguard-6.1.4</a></td>
   <td align="right">298kB</td>
   <td><tt>d2a7aebc9571ce81b4ca79095b74a0d91829c249303d22462038203a4c56c5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/libplasma-6.1.4.tar.xz">libplasma-6.1.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2afe314d9960e86e0d1799aac26904c5665be2934d5d9d5c8533ba962a6b8410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/milou-6.1.4.tar.xz">milou-6.1.4</a></td>
   <td align="right">48kB</td>
   <td><tt>72803ccc20a7846ee4598fe1eb2c85a1bcfe68ac5e23766e4b4b607a52720082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/ocean-sound-theme-6.1.4.tar.xz">ocean-sound-theme-6.1.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a20004cfacb8b0dce9e5deb72d755ee96bfd18eb7307a0a1b829c32fdca56f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/oxygen-6.1.4.tar.xz">oxygen-6.1.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>036017d9fdf72764cb4bb078972a5d95c61d62f865100c56ef5a811e31aba9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/oxygen-sounds-6.1.4.tar.xz">oxygen-sounds-6.1.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6875e9984ce19c79ec199f6e8eed1fd85a088a78669710a88f612b582aa341c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma5support-6.1.4.tar.xz">plasma5support-6.1.4</a></td>
   <td align="right">85kB</td>
   <td><tt>c99fd50d6496f7cf123d11e376790bcbcd6c80670af7e903ee0295ad42dd44d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-activities-6.1.4.tar.xz">plasma-activities-6.1.4</a></td>
   <td align="right">69kB</td>
   <td><tt>ecb39579234bffeb8f518ab7d1964091b316f0f97c251c890992ee77b8f52286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-activities-stats-6.1.4.tar.xz">plasma-activities-stats-6.1.4</a></td>
   <td align="right">81kB</td>
   <td><tt>92fae6bf29594c5fe99625086bc94f5bbab992760f96d6b4324e93c5ec7f2077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-browser-integration-6.1.4.tar.xz">plasma-browser-integration-6.1.4</a></td>
   <td align="right">217kB</td>
   <td><tt>d6bf9aeafe3c8b0e65cc1efc4846d0c21236d04961dea8c6d6a7b33e2d4c3c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-desktop-6.1.4.tar.xz">plasma-desktop-6.1.4</a></td>
   <td align="right">15MB</td>
   <td><tt>83b897f602fbdcb8d571908c27f2303e1f8ba8dded33c1b03752437c412487d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-disks-6.1.4.tar.xz">plasma-disks-6.1.4</a></td>
   <td align="right">98kB</td>
   <td><tt>795f6bdaba2fe979d5836479111fc3d6fc6b2a0b355b48c8333db5abb5df4c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-firewall-6.1.4.tar.xz">plasma-firewall-6.1.4</a></td>
   <td align="right">365kB</td>
   <td><tt>cb3f1c9aed0c659e0abca3c82041860ebf4009f0e73103eb565299b48a37bb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-integration-6.1.4.tar.xz">plasma-integration-6.1.4</a></td>
   <td align="right">90kB</td>
   <td><tt>08a12823fd78e7be04e23f1dd1f5ee6eb1535cab561237d6efd4b0d032dcaa74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-mobile-6.1.4.tar.xz">plasma-mobile-6.1.4</a></td>
   <td align="right">3.5MB</td>
   <td><tt>949b05d41c05a5a74e4b7aaaa05060fc1e4069b38f4fcec06c29cbcbf92330d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-nano-6.1.4.tar.xz">plasma-nano-6.1.4</a></td>
   <td align="right">75kB</td>
   <td><tt>844e7d0a6b7819280df397ba99c44d42c27503937bff2a13a6ac43aeb8d888c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-nm-6.1.4.tar.xz">plasma-nm-6.1.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>14af47108cf32af68c00d0ce6fb3627f3b4a91e2e057a6ef5ba8fcfcb6f505e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-pa-6.1.4.tar.xz">plasma-pa-6.1.4</a></td>
   <td align="right">158kB</td>
   <td><tt>344bd460a8f6a9ff44ebf713f6459fb1dc5c3ab1c3eda5acf66fbc91f3e4734d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-sdk-6.1.4.tar.xz">plasma-sdk-6.1.4</a></td>
   <td align="right">319kB</td>
   <td><tt>f0664a22ee99f415050bc2ed583d8a137214acb282930cb0f1e0d9b17ed2734a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-systemmonitor-6.1.4.tar.xz">plasma-systemmonitor-6.1.4</a></td>
   <td align="right">183kB</td>
   <td><tt>262a48d29da061bc76aa7c24904d4828bc2dec0b6640acffce3799194c4be457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-thunderbolt-6.1.4.tar.xz">plasma-thunderbolt-6.1.4</a></td>
   <td align="right">77kB</td>
   <td><tt>81a8442549fcaf7c00fd51124748c1d4885c513ac24b0ab89f04866da6ed4c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-vault-6.1.4.tar.xz">plasma-vault-6.1.4</a></td>
   <td align="right">196kB</td>
   <td><tt>34a4ff4c5b9bf6fe75c4eab0225daea21c25129179defc89b0b92ecb1a7bc8df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-welcome-6.1.4.tar.xz">plasma-welcome-6.1.4</a></td>
   <td align="right">649kB</td>
   <td><tt>a4adb679fe9c75cddc5153a6313809a11b4c4719dd10590d044d2935c7d53b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-workspace-6.1.4.tar.xz">plasma-workspace-6.1.4</a></td>
   <td align="right">18MB</td>
   <td><tt>cb2099dd39c0b23ff4b05c8cf657845187075d31f75fe41f0fe01edce56c8d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plasma-workspace-wallpapers-6.1.4.tar.xz">plasma-workspace-wallpapers-6.1.4</a></td>
   <td align="right">95MB</td>
   <td><tt>88f65c23608d793317cc369ea8eefddab26e61a21ca6d434a020efee9a5b43c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/plymouth-kcm-6.1.4.tar.xz">plymouth-kcm-6.1.4</a></td>
   <td align="right">45kB</td>
   <td><tt>2b553abee33824f2d612d5b641dde990bef8e90bf0ecbd77cc5ea0487c03345c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/polkit-kde-agent-1-6.1.4.tar.xz">polkit-kde-agent-1-6.1.4</a></td>
   <td align="right">55kB</td>
   <td><tt>78fa994b712aabcdbefdef0c05fafda046ac3ce4e50657d81a3cc30fa25ddbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/powerdevil-6.1.4.tar.xz">powerdevil-6.1.4</a></td>
   <td align="right">944kB</td>
   <td><tt>a1a966e2e2498305e33397ef27dfa68d10255fcb7099b0d91c5eda8d429013e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/print-manager-6.1.4.tar.xz">print-manager-6.1.4</a></td>
   <td align="right">361kB</td>
   <td><tt>c5747bf544804ba121103d2644ffdd6e52ed8046568292cca217513a76d00edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/qqc2-breeze-style-6.1.4.tar.xz">qqc2-breeze-style-6.1.4</a></td>
   <td align="right">64kB</td>
   <td><tt>8fb9bc4156f9dc920c63b0d8afaa4aacb72eb650e907c06dacde38bfd55d5168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/sddm-kcm-6.1.4.tar.xz">sddm-kcm-6.1.4</a></td>
   <td align="right">96kB</td>
   <td><tt>204f6099ecb140eb588ce9074ffcc1442112e291d2cddee86c31983c9f4e14a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/systemsettings-6.1.4.tar.xz">systemsettings-6.1.4</a></td>
   <td align="right">208kB</td>
   <td><tt>c0ea266277ccb759a7b3b9c589d6099674f3e3f603e7aa471ed89dc6ad007da3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/wacomtablet-6.1.4.tar.xz">wacomtablet-6.1.4</a></td>
   <td align="right">810kB</td>
   <td><tt>532f039ec5bb265b70c65c9e0e28b0361dfd4f3b7bd59e278f49d9dbab337f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.4/xdg-desktop-portal-kde-6.1.4.tar.xz">xdg-desktop-portal-kde-6.1.4</a></td>
   <td align="right">168kB</td>
   <td><tt>38ca15fd86d5fef2cc79ac98f56b4cd3d93cefd32e82d3b2246bb77402dca7b2</tt></td>
</tr>

</table>
