<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-23.08.1.tar.xz">akonadi-23.08.1</a></td>
   <td align="right">1623kB</td>
   <td><tt>8a944a53f1c7b4dbab3e0b11bf4d15471853b4ec27342d5bf6994e4809539638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-calendar-23.08.1.tar.xz">akonadi-calendar-23.08.1</a></td>
   <td align="right">461kB</td>
   <td><tt>2b6804813e833da507901bbca3195d22b2f28e91e255d916f6144a81fe207ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-calendar-tools-23.08.1.tar.xz">akonadi-calendar-tools-23.08.1</a></td>
   <td align="right">248kB</td>
   <td><tt>ae4d16b964fa4d3019e5e59e6dd0ef8596d1f7775dadbbf08fb901426db818b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadiconsole-23.08.1.tar.xz">akonadiconsole-23.08.1</a></td>
   <td align="right">274kB</td>
   <td><tt>8d7c35da5383adf67f6320c8593e11a6fd045d6794253c53353344590ce2a589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-contacts-23.08.1.tar.xz">akonadi-contacts-23.08.1</a></td>
   <td align="right">411kB</td>
   <td><tt>dd8e84bf6dbbd4f5b619ca94988796ba466dbd17754f6f390db037b1820d8a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-import-wizard-23.08.1.tar.xz">akonadi-import-wizard-23.08.1</a></td>
   <td align="right">503kB</td>
   <td><tt>666883a63856f2457f4465884e3b477d3ac0c53109615aa64fc7512d3bb209de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-mime-23.08.1.tar.xz">akonadi-mime-23.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>cab4a99c8140041a936ea7db5d55edace2c7e169633cdd7f088a80f29c7a4e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-notes-23.08.1.tar.xz">akonadi-notes-23.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>e6649f052b8c8a9ecbae888db6bb26ff0927f19b627fb77bd33e560cacaeeed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akonadi-search-23.08.1.tar.xz">akonadi-search-23.08.1</a></td>
   <td align="right">105kB</td>
   <td><tt>243e67e0cd960d0b559aca15b33bdeeab35c0b2796d84aa6f5969c3a946d82ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/akregator-23.08.1.tar.xz">akregator-23.08.1</a></td>
   <td align="right">2266kB</td>
   <td><tt>a6bd7a3ad6dfd0aa261d41dec136c4581678b3f638ffdaf5e826fba4a148a0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/alligator-23.08.1.tar.xz">alligator-23.08.1</a></td>
   <td align="right">185kB</td>
   <td><tt>922c5730953f6237348e6509c90a220bf9d40bc7f508ba55c82d384fe88bc310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/analitza-23.08.1.tar.xz">analitza-23.08.1</a></td>
   <td align="right">344kB</td>
   <td><tt>4958521396d5942a237c268824f423c31ac8670797e78822885a2dd17cfd393b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/angelfish-23.08.1.tar.xz">angelfish-23.08.1</a></td>
   <td align="right">239kB</td>
   <td><tt>eee6723e006656410f1279b68cf35a8c472dcd6a6c78ed45a2c49c4a2112f98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/arianna-23.08.1.tar.xz">arianna-23.08.1</a></td>
   <td align="right">791kB</td>
   <td><tt>f4496491a6a95d97fc5c380538859087ed6c7f67f37328c42b96115a62242814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ark-23.08.1.tar.xz">ark-23.08.1</a></td>
   <td align="right">2945kB</td>
   <td><tt>7ed454a9905342ca5de2ff8435546b05c7dd2c3bb2fd1484b294981ad74f7d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/artikulate-23.08.1.tar.xz">artikulate-23.08.1</a></td>
   <td align="right">1067kB</td>
   <td><tt>03d386be68103b9ad3ab2e83aa9fc5eed05bd81e581d36dfed257bab64ab3c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/audiocd-kio-23.08.1.tar.xz">audiocd-kio-23.08.1</a></td>
   <td align="right">550kB</td>
   <td><tt>2505212cd30e77508a7b7c042828af17e37a8a1aa3ebe9a92ed0e826ca0c6ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/audiotube-23.08.1.tar.xz">audiotube-23.08.1</a></td>
   <td align="right">142kB</td>
   <td><tt>97d53269009f67f30ceca829117eecb07dec96c03ad2aa2b4a8d35361dabad1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/baloo-widgets-23.08.1.tar.xz">baloo-widgets-23.08.1</a></td>
   <td align="right">270kB</td>
   <td><tt>39806d8df0c49b7ea772f735c7ae44769a145f9f4f698908b98868f02617b057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/blinken-23.08.1.tar.xz">blinken-23.08.1</a></td>
   <td align="right">2661kB</td>
   <td><tt>ae406ba79edb2beeb5db744135b25a7f484bc0c44c5b5a6a9fd2a1bcd984abf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/bomber-23.08.1.tar.xz">bomber-23.08.1</a></td>
   <td align="right">819kB</td>
   <td><tt>ffeb4ca938acb39ca8525e6dc37bf5d81b38788da5fd100e099bb972a45e3112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/bovo-23.08.1.tar.xz">bovo-23.08.1</a></td>
   <td align="right">210kB</td>
   <td><tt>8c54e013416a23ba14c1a9fc78a1e1a311916f2ba6397d2621aa358cb593c052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/calendarsupport-23.08.1.tar.xz">calendarsupport-23.08.1</a></td>
   <td align="right">964kB</td>
   <td><tt>7b4f33cbc91e604d256b1eb3615f56c7c49ccfc8f386fd75b141efb7dbfcaf6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/calindori-23.08.1.tar.xz">calindori-23.08.1</a></td>
   <td align="right">372kB</td>
   <td><tt>8a2fd224319a94bec9c03c5562ae53751b1277edd54d47326d37e9cd8fc29157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/cantor-23.08.1.tar.xz">cantor-23.08.1</a></td>
   <td align="right">9063kB</td>
   <td><tt>f92de55a7ffe84f8e09e56a194e5cf6a2b1696893aa1d5892c47e1b6a8b23814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/cervisia-23.08.1.tar.xz">cervisia-23.08.1</a></td>
   <td align="right">1900kB</td>
   <td><tt>9d00461a980ce27398a7703bf996fdafe4f6b65355209041a9e5de3be6c2e856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/colord-kde-23.08.1.tar.xz">colord-kde-23.08.1</a></td>
   <td align="right">106kB</td>
   <td><tt>e2d754420b8997a098df788929e4290e4b6c6886e9eda596aa4c621b0b210345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/dolphin-23.08.1.tar.xz">dolphin-23.08.1</a></td>
   <td align="right">5624kB</td>
   <td><tt>05ce21772ee91482f72151c1ef9ddcb62ccff5fc3cd297117215082ba1ec15e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/dolphin-plugins-23.08.1.tar.xz">dolphin-plugins-23.08.1</a></td>
   <td align="right">266kB</td>
   <td><tt>992f429f3b80d6eeb0304a2f38b475868bf86e7929cedcbf5728fe79853a0b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/dragon-23.08.1.tar.xz">dragon-23.08.1</a></td>
   <td align="right">1630kB</td>
   <td><tt>ccc1bfc327f341b7b2b32e25166f8161595b247a1f18139853742b26339eb5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/elisa-23.08.1.tar.xz">elisa-23.08.1</a></td>
   <td align="right">1770kB</td>
   <td><tt>d9dbd1ee17a980ec6e801d4beeded375dfc7f74d439434be86a89a844dbe3930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/eventviews-23.08.1.tar.xz">eventviews-23.08.1</a></td>
   <td align="right">449kB</td>
   <td><tt>8b42516364906e2dc708ed3d5cc6841ba1b5d2f7e7b67a5fdd4992d9fc45afa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/falkon-23.08.1.tar.xz">falkon-23.08.1</a></td>
   <td align="right">2511kB</td>
   <td><tt>ae10856181cf75ee51be94d8c961b9757c5b78dde0cef797f7ce60011704e569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ffmpegthumbs-23.08.1.tar.xz">ffmpegthumbs-23.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>913a086c994f261f1e7c8d5f484fc8623fd747064d0e03d7df600eb301f1a2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/filelight-23.08.1.tar.xz">filelight-23.08.1</a></td>
   <td align="right">682kB</td>
   <td><tt>92599e5b11cce1493d16ca1b1602aa7ed8aaf94fede2ca4c133174e85e0aac2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ghostwriter-23.08.1.tar.xz">ghostwriter-23.08.1</a></td>
   <td align="right">3539kB</td>
   <td><tt>fc7c1fbd2a45ca3c753e1ccd44ff42957f71141d3759841602984808142786cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/granatier-23.08.1.tar.xz">granatier-23.08.1</a></td>
   <td align="right">2063kB</td>
   <td><tt>6a97e6f2dec6c772e8d36a08cd7f641681d4e94694df5b958a3e3d9c87123006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/grantlee-editor-23.08.1.tar.xz">grantlee-editor-23.08.1</a></td>
   <td align="right">114kB</td>
   <td><tt>86a59467a2f09d9ffada094672478f914066c8e9804cef1ac626e417c6af3cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/grantleetheme-23.08.1.tar.xz">grantleetheme-23.08.1</a></td>
   <td align="right">61kB</td>
   <td><tt>51801f601c7d860929ba331781e92d2788d1ecfaaa426c364cd02ff1de737dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/gwenview-23.08.1.tar.xz">gwenview-23.08.1</a></td>
   <td align="right">6740kB</td>
   <td><tt>977f0b9354ffdf198934bb46d117942413262f17a3ce0411fbfd187021dcb276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/incidenceeditor-23.08.1.tar.xz">incidenceeditor-23.08.1</a></td>
   <td align="right">554kB</td>
   <td><tt>5ef8c77c67a66eb0766e9dd2e4dcb7a93d532a7082c7aa9dc8c2cae2601bbc89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/itinerary-23.08.1.tar.xz">itinerary-23.08.1</a></td>
   <td align="right">622kB</td>
   <td><tt>cc3b1067b405f104ab3ea6d423cf6d9c6b48632a3d5f7a764c474e0be34bb7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/juk-23.08.1.tar.xz">juk-23.08.1</a></td>
   <td align="right">2031kB</td>
   <td><tt>6476d970732db31eadacba0d55e19ed96883eb0df925c1c9d8950ef6eba1a7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/k3b-23.08.1.tar.xz">k3b-23.08.1</a></td>
   <td align="right">10709kB</td>
   <td><tt>25547379656d98e3d25df9d582c6c99b1ef3772d7ddd655e80cb078dfa90600f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kaccounts-integration-23.08.1.tar.xz">kaccounts-integration-23.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>6874eb3e3cf5ef0a06abe83931a9b61818ec96ed3492001a357268b3d81a30ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kaccounts-providers-23.08.1.tar.xz">kaccounts-providers-23.08.1</a></td>
   <td align="right">64kB</td>
   <td><tt>578522c47514e2af4c5c2fd4f548ad559cc832bd4239106af93c4894e3e1de11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kaddressbook-23.08.1.tar.xz">kaddressbook-23.08.1</a></td>
   <td align="right">3375kB</td>
   <td><tt>47506d3ac568098ffcd75b55209e74b9e9956899f9ac0c275e977e76a32f662d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kajongg-23.08.1.tar.xz">kajongg-23.08.1</a></td>
   <td align="right">4470kB</td>
   <td><tt>54d9be306a007faa049675c6e9afa6bbc1b32efd79d5d82a95363cd38665db97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kalarm-23.08.1.tar.xz">kalarm-23.08.1</a></td>
   <td align="right">2534kB</td>
   <td><tt>f2e379f497226eed50dd3aa46753ecbafe7fbb3f282fb3ec4841677299978e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kalgebra-23.08.1.tar.xz">kalgebra-23.08.1</a></td>
   <td align="right">1012kB</td>
   <td><tt>1670db3ab69549573325cba1ec5596cfaeea72588c58ef63dbd79c1bbd99dedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kalk-23.08.1.tar.xz">kalk-23.08.1</a></td>
   <td align="right">82kB</td>
   <td><tt>d6d2ed9e7407bc445cd3a2871dbe84310cbb38822ca62fe332c37118661b6565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kalzium-23.08.1.tar.xz">kalzium-23.08.1</a></td>
   <td align="right">24065kB</td>
   <td><tt>892b9e1c98622b4a40a0648f6c5f5df1adf42b2d6c4ffc27bd1a07e51537f4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kamera-23.08.1.tar.xz">kamera-23.08.1</a></td>
   <td align="right">127kB</td>
   <td><tt>f850288b926cba59b228268bc54a49a0a613bc59d7a2f87c668f269da649a333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kamoso-23.08.1.tar.xz">kamoso-23.08.1</a></td>
   <td align="right">226kB</td>
   <td><tt>b37a1eb1a5249efdbb97c200b0d167bc1d0e3b09c6bed40ffdfb723a546c8da3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kanagram-23.08.1.tar.xz">kanagram-23.08.1</a></td>
   <td align="right">7877kB</td>
   <td><tt>1c5e905c9a30092742c2616cf88de8ba059683a12810c2b083c254316175197f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kapman-23.08.1.tar.xz">kapman-23.08.1</a></td>
   <td align="right">2423kB</td>
   <td><tt>6916b8aa2755de9e8c850fd029f0cdc273be1196fba430af06cf42bce27ee33d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kapptemplate-23.08.1.tar.xz">kapptemplate-23.08.1</a></td>
   <td align="right">331kB</td>
   <td><tt>8dbc9556cf0d7e5c01b86e97cd6b720804e97bc43189ae96220ccc06fbfb191a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kasts-23.08.1.tar.xz">kasts-23.08.1</a></td>
   <td align="right">551kB</td>
   <td><tt>4876e1ec72818198f7e1cfa5d104c6e3991f4440fae20dc6f2a11e4a078b81e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kate-23.08.1.tar.xz">kate-23.08.1</a></td>
   <td align="right">7843kB</td>
   <td><tt>ef7e73eff86421e77a3502f353e1f30f50303b3e0313fd76b4c52f014cbc4f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/katomic-23.08.1.tar.xz">katomic-23.08.1</a></td>
   <td align="right">1417kB</td>
   <td><tt>173998675c396022c6b48adfbb01bf3dcaf2afadc07e842ca1006f5f560677c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kbackup-23.08.1.tar.xz">kbackup-23.08.1</a></td>
   <td align="right">388kB</td>
   <td><tt>8d3a35bcb6944473d0a0b553e9868c8a9bc07b5004080924c02bc64db1b966b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kblackbox-23.08.1.tar.xz">kblackbox-23.08.1</a></td>
   <td align="right">537kB</td>
   <td><tt>8b0bcca9cd92af97969f4b3ce4ef666dcc66622d3e96c6b06acb0830a6e4b47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kblocks-23.08.1.tar.xz">kblocks-23.08.1</a></td>
   <td align="right">2058kB</td>
   <td><tt>3f1a77682fad213b6748605043aaeea6b80c17a4faaf3600ccba02783ef3e14c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kbounce-23.08.1.tar.xz">kbounce-23.08.1</a></td>
   <td align="right">3461kB</td>
   <td><tt>c0fa948d2c97a748ebab3935f948425b062617f71fe312b69feec6d642c6c080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kbreakout-23.08.1.tar.xz">kbreakout-23.08.1</a></td>
   <td align="right">2499kB</td>
   <td><tt>88d6c11a770d7606bce589427a07217f8f8f233d5b025d99b78f3805c7f0fb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kbruch-23.08.1.tar.xz">kbruch-23.08.1</a></td>
   <td align="right">5523kB</td>
   <td><tt>a3ffb6eb4f8ffa3172636c13e8776679d95121ef76065487ebbda66a1b7bc3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcachegrind-23.08.1.tar.xz">kcachegrind-23.08.1</a></td>
   <td align="right">900kB</td>
   <td><tt>69ee24c45f9d975f0192b4353daadf278587a3c52537681d4ef6c684326e9d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcalc-23.08.1.tar.xz">kcalc-23.08.1</a></td>
   <td align="right">428kB</td>
   <td><tt>c4c546988559fb631d67fb69c3b0f3eff635eedc6b43d4c4651124759b65c5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcalutils-23.08.1.tar.xz">kcalutils-23.08.1</a></td>
   <td align="right">344kB</td>
   <td><tt>15df3615318b159b81292237bb50ca7ce7bf4cce2966640d4f754dfabdda1156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcharselect-23.08.1.tar.xz">kcharselect-23.08.1</a></td>
   <td align="right">374kB</td>
   <td><tt>031373ec7ef49814ac110175eeeb4148a660399c808724f4e71f63500e007ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kclock-23.08.1.tar.xz">kclock-23.08.1</a></td>
   <td align="right">624kB</td>
   <td><tt>e350d3890cc3570fe05f686382342073b31eb5a43ff4000ca28765e97cc4ea74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcolorchooser-23.08.1.tar.xz">kcolorchooser-23.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>b99ab77c936e334b6a06542f05986518cfa5c1e261373b9916061170345ab4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kcron-23.08.1.tar.xz">kcron-23.08.1</a></td>
   <td align="right">919kB</td>
   <td><tt>56cdd58db91e514611110eeadcac95c9c54a17959470a96e8189d6a6f61049e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdebugsettings-23.08.1.tar.xz">kdebugsettings-23.08.1</a></td>
   <td align="right">105kB</td>
   <td><tt>245bf21de95fcd9ea2c31eec9ea610b7d8a97059d5d00a42500c2192a3f04bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdeconnect-kde-23.08.1.tar.xz">kdeconnect-kde-23.08.1</a></td>
   <td align="right">639kB</td>
   <td><tt>d35ab7f06f0caeae7915d0e914574b398a5d6f81071ca4864b0d7824a5798ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kde-dev-scripts-23.08.1.tar.xz">kde-dev-scripts-23.08.1</a></td>
   <td align="right">365kB</td>
   <td><tt>eb86c83dab4d33604d1e777f3a671aa21f7c91104eb0289dadfc316cfb55c4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kde-dev-utils-23.08.1.tar.xz">kde-dev-utils-23.08.1</a></td>
   <td align="right">72kB</td>
   <td><tt>dd7df0af9a83677126f6ca37d0dd8853c76fe5d5fe79bec1e8e43b2295fc7d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdeedu-data-23.08.1.tar.xz">kdeedu-data-23.08.1</a></td>
   <td align="right">325kB</td>
   <td><tt>059e486afb4c4c9a0668d54bdc9982aad6e12fc33f7ef6898cc18c9f950c5b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdegraphics-mobipocket-23.08.1.tar.xz">kdegraphics-mobipocket-23.08.1</a></td>
   <td align="right">12kB</td>
   <td><tt>e4c357da8738358e65e194833eeee3cee1abc361d7dabdf60e64f7e23fe4b638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdegraphics-thumbnailers-23.08.1.tar.xz">kdegraphics-thumbnailers-23.08.1</a></td>
   <td align="right">48kB</td>
   <td><tt>f97068053ef2201d1d9606cb7090581697859c996cf25c6975984fef3a114a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kde-inotify-survey-23.08.1.tar.xz">kde-inotify-survey-23.08.1</a></td>
   <td align="right">224kB</td>
   <td><tt>9bb3ff100c79e83d58a159aa192376f4f213455e63fdad1bba8aaf98b79726fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdenetwork-filesharing-23.08.1.tar.xz">kdenetwork-filesharing-23.08.1</a></td>
   <td align="right">469kB</td>
   <td><tt>b348abb77e89f677bae2bf0b163eb5d63410064021ba99f20d01243a94f5cc96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdenlive-23.08.1.tar.xz">kdenlive-23.08.1</a></td>
   <td align="right">12398kB</td>
   <td><tt>4bd61786ccdc7c28ea4bede4476c30e2bc1270c85068c8112043b0e78b390eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdepim-addons-23.08.1.tar.xz">kdepim-addons-23.08.1</a></td>
   <td align="right">2580kB</td>
   <td><tt>a93f036f84f38ede32ec30ef066a69d49dab9b377bedfb17d510d293bd743bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdepim-runtime-23.08.1.tar.xz">kdepim-runtime-23.08.1</a></td>
   <td align="right">1819kB</td>
   <td><tt>8b1e85b469159234abfd1da99717a697d4f1d7c92557a2c237264a93b7af4cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdesdk-kio-23.08.1.tar.xz">kdesdk-kio-23.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>8cfe282e9d204ed948d6deed8bfe6b60af21671b6b7a148d912f22ae98b9a042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdesdk-thumbnailers-23.08.1.tar.xz">kdesdk-thumbnailers-23.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>5765d9696af8910c75b225ea12fb4b0c8f308d1335e4452c8ed0b6c29b6381df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdevelop-23.08.1.tar.xz">kdevelop-23.08.1</a></td>
   <td align="right">8500kB</td>
   <td><tt>2edbd5e912df8b6d4034d468e14138d9b9c9ae5d8c6ea74d48e0c7c983616227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdev-php-23.08.1.tar.xz">kdev-php-23.08.1</a></td>
   <td align="right">1062kB</td>
   <td><tt>0ef93f01591317d37de1ff9e6e4ae800975b4840bbfe56bd7f0630612eb432a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdev-python-23.08.1.tar.xz">kdev-python-23.08.1</a></td>
   <td align="right">1071kB</td>
   <td><tt>a4d3bc8c86a1d67d709c31a7aad8436b2c958f13f8ad290264044c7cd78b45de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdf-23.08.1.tar.xz">kdf-23.08.1</a></td>
   <td align="right">482kB</td>
   <td><tt>7ccbfd53c37b77afd8ed23ab488653091298f4419c2aef4001768dbdac819379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdialog-23.08.1.tar.xz">kdialog-23.08.1</a></td>
   <td align="right">139kB</td>
   <td><tt>6e68e68da3217700626cfe52728ecfe8a72f2b8d2be717774262c8b7608c8ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kdiamond-23.08.1.tar.xz">kdiamond-23.08.1</a></td>
   <td align="right">4598kB</td>
   <td><tt>298759850e3c380fa8294a6511f60dcde26e520f4399eae1fd1c60d6c933d97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/keditbookmarks-23.08.1.tar.xz">keditbookmarks-23.08.1</a></td>
   <td align="right">234kB</td>
   <td><tt>8d25d9505816a156840233b7463f534f193c9f7b283f4887a11b4c58ef7ba264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/keysmith-23.08.1.tar.xz">keysmith-23.08.1</a></td>
   <td align="right">159kB</td>
   <td><tt>52c3dff6be4987531cc851bd33fae1e0822de301b65566d1cf700690396d4c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kfind-23.08.1.tar.xz">kfind-23.08.1</a></td>
   <td align="right">335kB</td>
   <td><tt>55d00c5897a78fadcf34e53149380987e1e631e62bd116af766dd8ece656926c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kfourinline-23.08.1.tar.xz">kfourinline-23.08.1</a></td>
   <td align="right">721kB</td>
   <td><tt>2d0b6fd42404832228dfe111bf755b09ccbb8f7a6d9c4cbf91828c362ff8439d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kgeography-23.08.1.tar.xz">kgeography-23.08.1</a></td>
   <td align="right">12256kB</td>
   <td><tt>9af36d9ea29bc68b683f2a68ee7f40b34a2b97d8a60230cf78417ed351b33d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kget-23.08.1.tar.xz">kget-23.08.1</a></td>
   <td align="right">5433kB</td>
   <td><tt>499ed2aede9b871c44a38bac2828899f393666de8b9fd46fc04c7265c82aa7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kgoldrunner-23.08.1.tar.xz">kgoldrunner-23.08.1</a></td>
   <td align="right">4790kB</td>
   <td><tt>056a88ff2016a6da86da5e07066a2219ab95054ee115ac409db5ca1433c660ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kgpg-23.08.1.tar.xz">kgpg-23.08.1</a></td>
   <td align="right">2974kB</td>
   <td><tt>4d2dd855a45871ca792802d6e733a0e4b06824fd51946f50996d56f41701e1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/khangman-23.08.1.tar.xz">khangman-23.08.1</a></td>
   <td align="right">7272kB</td>
   <td><tt>7837de608444a9ebd102bcf39e902dd23235e283ed0038c7c80da12fc428d28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/khelpcenter-23.08.1.tar.xz">khelpcenter-23.08.1</a></td>
   <td align="right">4266kB</td>
   <td><tt>c94ae472ac2ac0961d0d756a6dcb718e33a644ef993aed2c175a0cdbf8e24813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kidentitymanagement-23.08.1.tar.xz">kidentitymanagement-23.08.1</a></td>
   <td align="right">160kB</td>
   <td><tt>bcf4775fbc7a2b812c8ca19e1794e9a4e1ea07b3950ebd99a735c46154f1dc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kig-23.08.1.tar.xz">kig-23.08.1</a></td>
   <td align="right">3220kB</td>
   <td><tt>efb3cad1de12c5c5fd7e70761b8304fe8193b7eeec62f32ecac0719f0ef9f613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kigo-23.08.1.tar.xz">kigo-23.08.1</a></td>
   <td align="right">5142kB</td>
   <td><tt>bc45bde70f5acfbe881ad854f5f06689cb78b2e626944486e28250362b7f206a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/killbots-23.08.1.tar.xz">killbots-23.08.1</a></td>
   <td align="right">1174kB</td>
   <td><tt>5eda7d7b748296b243a906ddaea5f534ba3c26eef3143e9fbb5d6b40990c74d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kimagemapeditor-23.08.1.tar.xz">kimagemapeditor-23.08.1</a></td>
   <td align="right">1078kB</td>
   <td><tt>81bcf244982fa62d4692fbc964c4c7171acdeec93ba721cfa635ac6b37f852f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kimap-23.08.1.tar.xz">kimap-23.08.1</a></td>
   <td align="right">127kB</td>
   <td><tt>d3c618d7cf390804e8580539776eed5c79b87dbefd1825e0ab7cb3c00e81b9d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kio-admin-23.08.1.tar.xz">kio-admin-23.08.1</a></td>
   <td align="right">34kB</td>
   <td><tt>f52ab099268b954b3e17f34c6c3055e30a670d09b891f7688cf75ebbd58b9bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kio-extras-23.08.1.tar.xz">kio-extras-23.08.1</a></td>
   <td align="right">1396kB</td>
   <td><tt>1c5b559f54ca3736988ba0fae2dcfc4227a195aa442da254dd6cc2e738cd61d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kio-gdrive-23.08.1.tar.xz">kio-gdrive-23.08.1</a></td>
   <td align="right">77kB</td>
   <td><tt>bff509d859b21cf0041c5eb0e47619be3ea08d16ed3437252b2ecc35aabe48c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kio-zeroconf-23.08.1.tar.xz">kio-zeroconf-23.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>7a318709c4c811a3926b7976f9fb287b18321f3184d44aaca24f2fc966ff7183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kipi-plugins-23.08.1.tar.xz">kipi-plugins-23.08.1</a></td>
   <td align="right">1527kB</td>
   <td><tt>226a3f8be82cc4ba7db16013498fd14f9602cf4419dbc33131eca856ba24f459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kirigami-gallery-23.08.1.tar.xz">kirigami-gallery-23.08.1</a></td>
   <td align="right">342kB</td>
   <td><tt>0118c95f4e44e44e0fe93be71fe6902ac2d2af6a44a500dad0b2ea8dfe6173d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kiriki-23.08.1.tar.xz">kiriki-23.08.1</a></td>
   <td align="right">361kB</td>
   <td><tt>6a2a49d072f378f255ca184beaa0bf07bb7dbb30b4664855aef2d6abe3f2823f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kiten-23.08.1.tar.xz">kiten-23.08.1</a></td>
   <td align="right">11068kB</td>
   <td><tt>3eb1a8bc4ee6af1ca7addd16bfc53c293c3a7fe6b65c1e8d7fb8cd1b5c610c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kitinerary-23.08.1.tar.xz">kitinerary-23.08.1</a></td>
   <td align="right">1878kB</td>
   <td><tt>2842985dd99ae4ee3df5f478f6e0c11ffc149be709b33134fa8a799b4758c7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kjournald-23.08.1.tar.xz">kjournald-23.08.1</a></td>
   <td align="right">501kB</td>
   <td><tt>942807098e8c8f738a47ee82e4b241fb58a54ee007b59263919d887539d85b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kjumpingcube-23.08.1.tar.xz">kjumpingcube-23.08.1</a></td>
   <td align="right">329kB</td>
   <td><tt>cc1074faf0e30f3776940cb665a9c7a6145b47104487408ba551da61f96c6f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kldap-23.08.1.tar.xz">kldap-23.08.1</a></td>
   <td align="right">178kB</td>
   <td><tt>28afc03580e04a59bcb31623387f4091b9ff70a13525bf7284e384b76c107e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kleopatra-23.08.1.tar.xz">kleopatra-23.08.1</a></td>
   <td align="right">2620kB</td>
   <td><tt>ca5386fb338713b660370d7114c9f0c4120fc922f0c94887aeeb29df582583f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/klettres-23.08.1.tar.xz">klettres-23.08.1</a></td>
   <td align="right">46716kB</td>
   <td><tt>735bda32895aaaa70d2822af0c7fcda5ccd325ada598d8b155c0270082135ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/klickety-23.08.1.tar.xz">klickety-23.08.1</a></td>
   <td align="right">1465kB</td>
   <td><tt>df0790b944e742c254d27b202e2fb02db10b21268c903e00aafcc385894dfea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/klines-23.08.1.tar.xz">klines-23.08.1</a></td>
   <td align="right">1697kB</td>
   <td><tt>600d95304e0298bb6bb3c6283aa6afc7865f7324ba2c27760cf22a8d2c62f3d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmag-23.08.1.tar.xz">kmag-23.08.1</a></td>
   <td align="right">707kB</td>
   <td><tt>fa9f9795c7f1572c723d5bd03d97402dff5f8350d7464cbaf48df8969b3d5b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmahjongg-23.08.1.tar.xz">kmahjongg-23.08.1</a></td>
   <td align="right">4000kB</td>
   <td><tt>10c5030a4161ffd0db663a9e0e308e0d8202079afa5ac8d07e63d570554d46e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmail-23.08.1.tar.xz">kmail-23.08.1</a></td>
   <td align="right">7471kB</td>
   <td><tt>2a4f25d048306aa3e039935fe50dce1d537132a5e43481c8ac05bd7c304fb48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmail-account-wizard-23.08.1.tar.xz">kmail-account-wizard-23.08.1</a></td>
   <td align="right">180kB</td>
   <td><tt>206c43a656f3a18a2a3e8537f367fc578809232d3565eb89ae4fad4b45a7e490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmailtransport-23.08.1.tar.xz">kmailtransport-23.08.1</a></td>
   <td align="right">170kB</td>
   <td><tt>a0b03a775abfd1fd985acc3d8febbb0c20832aa5dcfb811bdb05a398b8d438a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmbox-23.08.1.tar.xz">kmbox-23.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>652eb21a9cc5f4de381bc3034a4d1fd244788e11ec6c0558a60c6ec0f1647cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmime-23.08.1.tar.xz">kmime-23.08.1</a></td>
   <td align="right">158kB</td>
   <td><tt>a6dca327e3bd0fd6c86ccbe688cc46fcab2220bc80fcbaee995d14d2e6dcbb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmines-23.08.1.tar.xz">kmines-23.08.1</a></td>
   <td align="right">985kB</td>
   <td><tt>28f1acd485abf8759cfbf53df7cf4017abf53e56465c718f26103ec9af727ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmix-23.08.1.tar.xz">kmix-23.08.1</a></td>
   <td align="right">1180kB</td>
   <td><tt>2201c26c9ef8115b3b9c61775557cf3cdc70218b57e1cf9366f30014e4c1703a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmousetool-23.08.1.tar.xz">kmousetool-23.08.1</a></td>
   <td align="right">126kB</td>
   <td><tt>9798360a43fa90075cdcdb88383d487bd75fcaf00b7c0617aff40e22cab4ccd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmouth-23.08.1.tar.xz">kmouth-23.08.1</a></td>
   <td align="right">2038kB</td>
   <td><tt>ed0b3c8e06f8dc7e6dae5ea7804d5b366d006d2c96291b870f2634e31cdb888e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kmplot-23.08.1.tar.xz">kmplot-23.08.1</a></td>
   <td align="right">3026kB</td>
   <td><tt>588ced24250dafd37ef4b336f04cb5afaae94958fc5402f4068d64a6b4d31590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/knavalbattle-23.08.1.tar.xz">knavalbattle-23.08.1</a></td>
   <td align="right">1367kB</td>
   <td><tt>4c07665c2342d49811924cb3fc8a979695e95145315503976d90919c865cc257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/knetwalk-23.08.1.tar.xz">knetwalk-23.08.1</a></td>
   <td align="right">1079kB</td>
   <td><tt>9c9244fc4354b8cdf989a6937714402a4f3a8289ca2252780bbba9140fbc7848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/knights-23.08.1.tar.xz">knights-23.08.1</a></td>
   <td align="right">3251kB</td>
   <td><tt>90bae88eec9cc8f86033799b0e81f117ed10d5db5e52f5da3c7dd8ec4ce472ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/knotes-23.08.1.tar.xz">knotes-23.08.1</a></td>
   <td align="right">368kB</td>
   <td><tt>fc8ff695b48600184d3f2c4ed4256d35d4f9bfd2d73f7c078999990c5897b153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/koko-23.08.1.tar.xz">koko-23.08.1</a></td>
   <td align="right">134kB</td>
   <td><tt>e75d5db66dfb8aab61d621ffc7abf3587acadd20d70b0a500154335c1b3cc2e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kolf-23.08.1.tar.xz">kolf-23.08.1</a></td>
   <td align="right">1045kB</td>
   <td><tt>b7d3da7f1cd129d552315e3ccbba9734868aeeb97eace31d8f39f41c1a2572e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kollision-23.08.1.tar.xz">kollision-23.08.1</a></td>
   <td align="right">300kB</td>
   <td><tt>4e56ed8a5dc4bff46b1de1e2453ed7b2ceb9f15fbc5a5f9c1fea00b69d2d61da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kolourpaint-23.08.1.tar.xz">kolourpaint-23.08.1</a></td>
   <td align="right">5650kB</td>
   <td><tt>88b8f27e55a74cd4f53851e4739b9c4fcd14b84794de096eefcd17d0e0b2cd20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kompare-23.08.1.tar.xz">kompare-23.08.1</a></td>
   <td align="right">960kB</td>
   <td><tt>1458c3fdfb017e2c96588624944d2515e2109402ede447ac70381e6b96d08cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kongress-23.08.1.tar.xz">kongress-23.08.1</a></td>
   <td align="right">575kB</td>
   <td><tt>e24de529e678be2a8bd40eb00d3fbe6c9c3769877b6324278b15284dd3c4c852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/konqueror-23.08.1.tar.xz">konqueror-23.08.1</a></td>
   <td align="right">9831kB</td>
   <td><tt>ce290a231cc0428681347acab9b6512cc6e8ed2a01b4c552e8eb4b2f89f0706d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/konquest-23.08.1.tar.xz">konquest-23.08.1</a></td>
   <td align="right">854kB</td>
   <td><tt>bb160a75949c6e431b946689222d6f961476b07024acff8bf32f0a567142c81a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/konsole-23.08.1.tar.xz">konsole-23.08.1</a></td>
   <td align="right">1784kB</td>
   <td><tt>1ea81c62e150243ba178463418e6caf01bcca5bded37992b8a1bd87dffca1f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kontact-23.08.1.tar.xz">kontact-23.08.1</a></td>
   <td align="right">854kB</td>
   <td><tt>549795f933b6d1460eeead35b691d557644a2a06c7b87690de11f4961dd77016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kontactinterface-23.08.1.tar.xz">kontactinterface-23.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>227f3a56a84a37c93df8aaacf9ecdf998455a93cb3de42c9e56f90cde7503a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kontrast-23.08.1.tar.xz">kontrast-23.08.1</a></td>
   <td align="right">204kB</td>
   <td><tt>31d94facb068e48dc8c9361e3d011fbd04b7de7e40cd33136d5c3621c74d52ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/konversation-23.08.1.tar.xz">konversation-23.08.1</a></td>
   <td align="right">4372kB</td>
   <td><tt>30db5eb68721e98bbe8d106a0540737bdfa0f36337c3548d99d3aa23e97f1d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kopeninghours-23.08.1.tar.xz">kopeninghours-23.08.1</a></td>
   <td align="right">70kB</td>
   <td><tt>22f5b05136d2c4ba096571acda6564b756ab157400b4937006ecc1778a078436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kopete-23.08.1.tar.xz">kopete-23.08.1</a></td>
   <td align="right">9907kB</td>
   <td><tt>c650536b8e2d3062233617c76bae05e9005c4671a1b0388106acac0539d29cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/korganizer-23.08.1.tar.xz">korganizer-23.08.1</a></td>
   <td align="right">2480kB</td>
   <td><tt>25cad4a99496ec1b07405fcd906925f57024b8f9146311826dccda650b03cb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kosmindoormap-23.08.1.tar.xz">kosmindoormap-23.08.1</a></td>
   <td align="right">370kB</td>
   <td><tt>2d36d8470c2c3bee1d5c28ef0181f87e8e1cc8c8b56a85680496ec60ce6739b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kpat-23.08.1.tar.xz">kpat-23.08.1</a></td>
   <td align="right">3664kB</td>
   <td><tt>b0c267c3b5744d882efc8089ca98bf74a9558e0834bbfe7e2a06855086120cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kpimtextedit-23.08.1.tar.xz">kpimtextedit-23.08.1</a></td>
   <td align="right">295kB</td>
   <td><tt>9396519482bf0fa1179f24e17f14b65ca89f841581cc6b46acd47a38f9f2912d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kpkpass-23.08.1.tar.xz">kpkpass-23.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>5b93bf199b3bff03f99e44c97c755d8cae747daa053c3728080803f51d386b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kpmcore-23.08.1.tar.xz">kpmcore-23.08.1</a></td>
   <td align="right">608kB</td>
   <td><tt>9d398da4b6b9b6be94cbdabd0255daa3697019ebba8d45eabadab44c076d75db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kpublictransport-23.08.1.tar.xz">kpublictransport-23.08.1</a></td>
   <td align="right">555kB</td>
   <td><tt>9850302c89284d826c6ac6449842773beb8d6158bca0b3edeb8f9d5b21c10994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kqtquickcharts-23.08.1.tar.xz">kqtquickcharts-23.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>c9f2448dd465393ffb374dc3abff150d42e8f6b7b00aa18367c7f29d5802877d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/krdc-23.08.1.tar.xz">krdc-23.08.1</a></td>
   <td align="right">1590kB</td>
   <td><tt>9fa3917f57ebafdd6586f74765b4796d4f139158ce793d3c80656f590f052225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/krecorder-23.08.1.tar.xz">krecorder-23.08.1</a></td>
   <td align="right">157kB</td>
   <td><tt>0a99f0b719b12f806530c2049f9b9c7ad55d58ba51e30229254d6177e833e75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kreversi-23.08.1.tar.xz">kreversi-23.08.1</a></td>
   <td align="right">1052kB</td>
   <td><tt>e3c6d2f5a41600d3ea606922e848f4cb9a754d173b93e25f1b235039af39b3d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/krfb-23.08.1.tar.xz">krfb-23.08.1</a></td>
   <td align="right">1288kB</td>
   <td><tt>601894ff73a4c7e16782ed5d55a0c40475afcd9dd32194ffe6046ce1a96c0ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kross-interpreters-23.08.1.tar.xz">kross-interpreters-23.08.1</a></td>
   <td align="right">148kB</td>
   <td><tt>754675c9679720b7815e009fcc358227f0d1aeb979d36a2fe2232b1ea55a7dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kruler-23.08.1.tar.xz">kruler-23.08.1</a></td>
   <td align="right">280kB</td>
   <td><tt>658241a7de02dad3cb3226e143a7d1a8b2c0f5eecc461569150aee856d7e898b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksanecore-23.08.1.tar.xz">ksanecore-23.08.1</a></td>
   <td align="right">48kB</td>
   <td><tt>644d3e14ea0da79ca8697af8b7ba85ebbda6516f40ab837b4e42f93059e4b7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kshisen-23.08.1.tar.xz">kshisen-23.08.1</a></td>
   <td align="right">984kB</td>
   <td><tt>254e748486e5506ef7ecbb459b0a88515817eec32c4e5d50b4021e6447e353e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksirk-23.08.1.tar.xz">ksirk-23.08.1</a></td>
   <td align="right">6882kB</td>
   <td><tt>2d5eb6bb2e7f960bd70405114d0b7b959119390b92c015204ac4540edb620c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksmtp-23.08.1.tar.xz">ksmtp-23.08.1</a></td>
   <td align="right">49kB</td>
   <td><tt>ec85f6fde14694d78116a1de5c6a028ce4d0f0e9e2c674f74bd9108229f9835c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksnakeduel-23.08.1.tar.xz">ksnakeduel-23.08.1</a></td>
   <td align="right">588kB</td>
   <td><tt>9e0fc65b41d5d70610027e5aa0f0d051acc746c07ecb2b697b758d2940413bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kspaceduel-23.08.1.tar.xz">kspaceduel-23.08.1</a></td>
   <td align="right">644kB</td>
   <td><tt>f93fb5c85389540ee5b457aaa0ac9e638b9426b22c4d75e1f1dc174506daf77d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksquares-23.08.1.tar.xz">ksquares-23.08.1</a></td>
   <td align="right">305kB</td>
   <td><tt>2b210117a2b70dfe70d225d038ff93d32ec095d5810a0f9b61f393e9b21f8a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksudoku-23.08.1.tar.xz">ksudoku-23.08.1</a></td>
   <td align="right">1661kB</td>
   <td><tt>0b84416b71558ba8e09eb1ecce9d09564f8644e658ecd12ff322cd425b0fb7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ksystemlog-23.08.1.tar.xz">ksystemlog-23.08.1</a></td>
   <td align="right">1957kB</td>
   <td><tt>8a630ee06063a0f20c230622b4f9517d14e9e4fd9641b549d48496e63684cc72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kteatime-23.08.1.tar.xz">kteatime-23.08.1</a></td>
   <td align="right">306kB</td>
   <td><tt>4d4f0e313e4aae37670cf40df615aba05d448adfa33eb9418dc5094341012a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktimer-23.08.1.tar.xz">ktimer-23.08.1</a></td>
   <td align="right">395kB</td>
   <td><tt>a78c2167ee48affd1cb984dab6c39cca4bd561131bf6d06287e70a46a46584b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktnef-23.08.1.tar.xz">ktnef-23.08.1</a></td>
   <td align="right">302kB</td>
   <td><tt>4aab9901aa0656b3b9ec24ada3229148d5a01ba5434ae860b46c20cac007e548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktorrent-23.08.1.tar.xz">ktorrent-23.08.1</a></td>
   <td align="right">2103kB</td>
   <td><tt>e16214736b82781fb55396f0384e5e7e4362c470ac31a709944d29da968c54c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktouch-23.08.1.tar.xz">ktouch-23.08.1</a></td>
   <td align="right">4921kB</td>
   <td><tt>6ecdcd334e98416a4127ebe3153900e7f5274efa2b9c5474a19d3ac834934486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktrip-23.08.1.tar.xz">ktrip-23.08.1</a></td>
   <td align="right">248kB</td>
   <td><tt>904cdd21b6a7ac0eca91681d87c408021ea8001101fdd0e40ae98a6871ae3eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/ktuberling-23.08.1.tar.xz">ktuberling-23.08.1</a></td>
   <td align="right">69742kB</td>
   <td><tt>ba32176dc8da61b523190a48b189633af9b241a388841e395524e64b1c1306ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kturtle-23.08.1.tar.xz">kturtle-23.08.1</a></td>
   <td align="right">2191kB</td>
   <td><tt>a48cdff31d802fb07087fa759278b12080fa7387d03c73c08eb624035c837944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kubrick-23.08.1.tar.xz">kubrick-23.08.1</a></td>
   <td align="right">340kB</td>
   <td><tt>309e3c0c428188170a6c84b2d0d911e7ba1c6fbd182a4b1277bc09ab4bd8257a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kwalletmanager-23.08.1.tar.xz">kwalletmanager-23.08.1</a></td>
   <td align="right">831kB</td>
   <td><tt>30cad3be391b3a7e38b6ee9cdc1ff3dc932814ea8beb303199c9358721048de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kwave-23.08.1.tar.xz">kwave-23.08.1</a></td>
   <td align="right">6801kB</td>
   <td><tt>66e9960acfa1c3be12546b454dcf6c12e66cdd15af7a40cb9fd9103c7e8e3ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kweather-23.08.1.tar.xz">kweather-23.08.1</a></td>
   <td align="right">922kB</td>
   <td><tt>8300de1105d31249cd88d7b66ab5512a7d2a2471267a27f82e0dcaee9552f182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/kwordquiz-23.08.1.tar.xz">kwordquiz-23.08.1</a></td>
   <td align="right">3980kB</td>
   <td><tt>2234dcd616199e0783e6df643baa8f3aee0013c75f973962fe2bd4c95511f3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libgravatar-23.08.1.tar.xz">libgravatar-23.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>3dc8ac5ee293e679dcdf575ae1cd6632b442b86ad1e1fd3ae17e4f90e7e10817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkcddb-23.08.1.tar.xz">libkcddb-23.08.1</a></td>
   <td align="right">440kB</td>
   <td><tt>efe6fbcbe3708da8f4b3b8817398b162db90f409e3340e24bd1c997691fe3451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkcompactdisc-23.08.1.tar.xz">libkcompactdisc-23.08.1</a></td>
   <td align="right">97kB</td>
   <td><tt>c5f7042780a9956db0cbf0361e6923e9582a62d50e3b429a282ea70e2e1a1ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkdcraw-23.08.1.tar.xz">libkdcraw-23.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>d9450b1d8858455770495253cc67e9d26e66bd08024e393a911eb96c5de66267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkdegames-23.08.1.tar.xz">libkdegames-23.08.1</a></td>
   <td align="right">5844kB</td>
   <td><tt>0ea260a762bf9dcc27f793fea1628c7653383ab5b5e41e50cf2ae4a62aa7db97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkdepim-23.08.1.tar.xz">libkdepim-23.08.1</a></td>
   <td align="right">278kB</td>
   <td><tt>e4808e74427ece2b1fa4aeaf5d70ba3b895d47c53ed6018a71e3725437d813a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkeduvocdocument-23.08.1.tar.xz">libkeduvocdocument-23.08.1</a></td>
   <td align="right">223kB</td>
   <td><tt>d2bbc1fb4aa48488927d788a0e7873cb43d686b37ca7fb5136816430c1853662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkexiv2-23.08.1.tar.xz">libkexiv2-23.08.1</a></td>
   <td align="right">59kB</td>
   <td><tt>123a3298897116605c436b4abe885cdfac77f375639d4881f8048ec0c636b736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkgapi-23.08.1.tar.xz">libkgapi-23.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>3a6676dc8e37fc580327f21e7d21c980416cafb709818fc271194a9ad0666a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkipi-23.08.1.tar.xz">libkipi-23.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>91587bfe4fa3620989c116b77609fe1d60bc403fb2e1f2f0934cfe223c8a8d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkleo-23.08.1.tar.xz">libkleo-23.08.1</a></td>
   <td align="right">536kB</td>
   <td><tt>a129f7ad71d6ba295a7f36771a28c7665d23b3887da238f7e3240b49214dab1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkmahjongg-23.08.1.tar.xz">libkmahjongg-23.08.1</a></td>
   <td align="right">1648kB</td>
   <td><tt>3c72e5b3e6f3bc7d5933d14a51c24577080935509ff924717193a072cdf1a9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libkomparediff2-23.08.1.tar.xz">libkomparediff2-23.08.1</a></td>
   <td align="right">183kB</td>
   <td><tt>e2d5597bf1c82c897a106e37cbc56572915f14abc9c0a7da76da62e6a61b4f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libksane-23.08.1.tar.xz">libksane-23.08.1</a></td>
   <td align="right">151kB</td>
   <td><tt>eabdcac6f2231fba63e13e59e2be7e5b7b0e5973c42e1c36220472a593bb8e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libksieve-23.08.1.tar.xz">libksieve-23.08.1</a></td>
   <td align="right">544kB</td>
   <td><tt>e8a24a9aef6998f72d93a9a25586e6f1d25fd8d096341d4c32ab3476aba29a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/libktorrent-23.08.1.tar.xz">libktorrent-23.08.1</a></td>
   <td align="right">589kB</td>
   <td><tt>cb6253f76beeb7130eb65f94a5eb2c3d49d87b97bff38580a889c5b34b6bd0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/lokalize-23.08.1.tar.xz">lokalize-23.08.1</a></td>
   <td align="right">2090kB</td>
   <td><tt>c57c352d7724f83d69c1f0f8d38289cf0277bd3c6c0cb442e3b9c5bf4dfc4612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/lskat-23.08.1.tar.xz">lskat-23.08.1</a></td>
   <td align="right">1219kB</td>
   <td><tt>2c0af51c3f2fd5dbc5838ea600ee7edf6be0c20f5d8a429ffae4cecd6e2fd993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/mailcommon-23.08.1.tar.xz">mailcommon-23.08.1</a></td>
   <td align="right">740kB</td>
   <td><tt>3ac3ea02143fe8deeffa0639131917b3f61a6070e0e90b2ace535eb54e6c8834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/mailimporter-23.08.1.tar.xz">mailimporter-23.08.1</a></td>
   <td align="right">577kB</td>
   <td><tt>b679723bc75b1dc4fe0848b8444ddc3c3410c0a4d5e765643755470530f1308d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/marble-23.08.1.tar.xz">marble-23.08.1</a></td>
   <td align="right">52524kB</td>
   <td><tt>84354049f71a5c532495321772d28190b91c083e814415e7aed7ed1c7f417195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/markdownpart-23.08.1.tar.xz">markdownpart-23.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>4a6595b2fac97e38e101d713f35f08aa6daec9e3f46b782bc337176ac5a01158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/mbox-importer-23.08.1.tar.xz">mbox-importer-23.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>3b16e252dec022ddc2dbb6f4b2966bf3b77a4b4aba1a4bc94596e2b0977bf9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/merkuro-23.08.1.tar.xz">merkuro-23.08.1</a></td>
   <td align="right">953kB</td>
   <td><tt>8b96c51c0db07acd9f229fea6e85889f2e9ef22f6b0b911751c40d37ca0bfb19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/messagelib-23.08.1.tar.xz">messagelib-23.08.1</a></td>
   <td align="right">11087kB</td>
   <td><tt>6f22799474a2abad7eaaee7c614acdd6cb2b51473a9362e62d0bf50a1b713797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/minuet-23.08.1.tar.xz">minuet-23.08.1</a></td>
   <td align="right">27034kB</td>
   <td><tt>10418db5e0ab7013220c3701a2dc68b232d1f51337617303e2e44896373ff1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/neochat-23.08.1.tar.xz">neochat-23.08.1</a></td>
   <td align="right">762kB</td>
   <td><tt>c73646a5e0405bb82f36926af8371f724b7156cef147b4ac9ae1f1db642ea31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/okular-23.08.1.tar.xz">okular-23.08.1</a></td>
   <td align="right">8313kB</td>
   <td><tt>43b3732d701692324967e767ecf69f6b4d957765b5aba24a4dfa6efc8a494817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/palapeli-23.08.1.tar.xz">palapeli-23.08.1</a></td>
   <td align="right">2062kB</td>
   <td><tt>77fbbacc552908fb88ffc216529399ed4f008fb718eb5557c6158088cde5197a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/parley-23.08.1.tar.xz">parley-23.08.1</a></td>
   <td align="right">8398kB</td>
   <td><tt>1957ca220dc639aca051bdc33f1e5e8b8b1c7d309871e72276d29a7aadf8e06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/partitionmanager-23.08.1.tar.xz">partitionmanager-23.08.1</a></td>
   <td align="right">2097kB</td>
   <td><tt>7d0acf4edd60af3a130dd62403f03a0a17e4b1e0291e15eeae81748a15eba55f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/picmi-23.08.1.tar.xz">picmi-23.08.1</a></td>
   <td align="right">1504kB</td>
   <td><tt>5ae77c8f7181f63c799d334ca6a899dafb9b5581ea689e0f60606c8f21685ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/pimcommon-23.08.1.tar.xz">pimcommon-23.08.1</a></td>
   <td align="right">340kB</td>
   <td><tt>67993cf689bd477a9887e09b4bd8dc7742f5156695c20ff59e1835aa01a059dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/pim-data-exporter-23.08.1.tar.xz">pim-data-exporter-23.08.1</a></td>
   <td align="right">417kB</td>
   <td><tt>e759b51b292a58684feac85a45db41ae3f1c8c399518c817e5a27c94935a8a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/pim-sieve-editor-23.08.1.tar.xz">pim-sieve-editor-23.08.1</a></td>
   <td align="right">455kB</td>
   <td><tt>4984fd6a1c4484e42eac973ea014470987534d1402e669d1b7e46d0965d17f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/plasmatube-23.08.1.tar.xz">plasmatube-23.08.1</a></td>
   <td align="right">81kB</td>
   <td><tt>efe4002eda7f143a7cb751b85936a8d6e45428b166baf1ebac7c2717638b852f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/poxml-23.08.1.tar.xz">poxml-23.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>ab4db9542a9738f0393151e40fb0e9b35bd7f04c9b72dc25029f121ab1a61ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/print-manager-23.08.1.tar.xz">print-manager-23.08.1</a></td>
   <td align="right">282kB</td>
   <td><tt>0f65a3ef35755a4c1bd15c5fb2dccc2ffbc4f8c91594b072649856f50fe31720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/qmlkonsole-23.08.1.tar.xz">qmlkonsole-23.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>fe71f14ab97ad5aa15a1f8aea7683d633cc2cfd46ff926ebc29c74b826d135fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/rocs-23.08.1.tar.xz">rocs-23.08.1</a></td>
   <td align="right">1533kB</td>
   <td><tt>814a3c5173e2da949bd30f4b65e6a0ba370ecf06a60a869478d598ee79547e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/signon-kwallet-extension-23.08.1.tar.xz">signon-kwallet-extension-23.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>a284401ddb2b24e17ffb3bdaa98aae6d04824aee0616f740e32fecb53af42f2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/skanlite-23.08.1.tar.xz">skanlite-23.08.1</a></td>
   <td align="right">2392kB</td>
   <td><tt>b3885d178e2c5ed1fdf3ea2f4e0f5f6e2233d526784a60dab0007e0ea2da2c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/skanpage-23.08.1.tar.xz">skanpage-23.08.1</a></td>
   <td align="right">1281kB</td>
   <td><tt>6a764075ad7ab10492fc0abdc97e7516dba799e06e63dfafacdbdd1b3751512a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/spectacle-23.08.1.tar.xz">spectacle-23.08.1</a></td>
   <td align="right">1319kB</td>
   <td><tt>5160e28c60e168c0dd43acaf1dc4580a13d1055b9d9a492d1b3606ac25f4f70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/step-23.08.1.tar.xz">step-23.08.1</a></td>
   <td align="right">971kB</td>
   <td><tt>4e683a78ee2289678787491826b1824c2c067563c2519255919474025050ee80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/svgpart-23.08.1.tar.xz">svgpart-23.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>dc9dde3e8471c432c51359c7b08ff005d109f905a75021c43ddbd425c6e050b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/sweeper-23.08.1.tar.xz">sweeper-23.08.1</a></td>
   <td align="right">389kB</td>
   <td><tt>a0ed245936e70deb72a779e9c333f2c888d691fb7ed4c07b17f6751594c3b32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/telly-skout-23.08.1.tar.xz">telly-skout-23.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>fe24d3098bf92be4836c13fef5978e7a321dc0ab4d8767bdbf36a0be354837fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/tokodon-23.08.1.tar.xz">tokodon-23.08.1</a></td>
   <td align="right">316kB</td>
   <td><tt>3b66af0bb4c8263236aeb60162695975a8e7d19a60ef88d5a17fecf25963c77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/umbrello-23.08.1.tar.xz">umbrello-23.08.1</a></td>
   <td align="right">5638kB</td>
   <td><tt>2de7bfaccb341332b2deec7429fe389575d8dd6081af267ce449015808cf4b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/yakuake-23.08.1.tar.xz">yakuake-23.08.1</a></td>
   <td align="right">418kB</td>
   <td><tt>e919626f1267a72a52c6ba9b2b356677a861766711e8c0be894b1bbd833eb54a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.1/src/zanshin-23.08.1.tar.xz">zanshin-23.08.1</a></td>
   <td align="right">352kB</td>
   <td><tt>8ad348deeccbc0ea3f250d5986093c840647a2c915451030b76e701624dff859</tt></td>
</tr>

</table>
