<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/bluedevil-6.2.5.tar.xz">bluedevil-6.2.5</a></td>
   <td align="right">380kB</td>
   <td><tt>4e5f43e9dd9d7590e29a432148ad51abbbd31cf30285731425f5be8f2444f2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/breeze-6.2.5.tar.xz">breeze-6.2.5</a></td>
   <td align="right">105MB</td>
   <td><tt>1d3bd4481bb7cd274a13ac5d5852be51ff2975e620872dfc22fbd531bad04e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/breeze-grub-6.2.5.tar.xz">breeze-grub-6.2.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>028b4dc2f8f0f663039e5eb803287c5f9e3dc4f5f3e5fd7a44fc71d676dc3989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/breeze-gtk-6.2.5.tar.xz">breeze-gtk-6.2.5</a></td>
   <td align="right">39kB</td>
   <td><tt>2115f00bbcef8e6ba57247e9c6ce1633dedf370f92da01d2fc4aafca1a74d35f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/breeze-plymouth-6.2.5.tar.xz">breeze-plymouth-6.2.5</a></td>
   <td align="right">108kB</td>
   <td><tt>e03fcd8cce19de98f1b2daf3970dbd59e17f59f9b688deffc4e4a077aba6e14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/discover-6.2.5.tar.xz">discover-6.2.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8ccbb881392a4bad540ab0bb465637a0e206ef6b53e7bf02e71bc8fb6453a4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/drkonqi-6.2.5.tar.xz">drkonqi-6.2.5</a></td>
   <td align="right">861kB</td>
   <td><tt>f95ec56c702eb1cba48411fd1709d8723849e370ff8ea69981482d6f3a5d5c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/flatpak-kcm-6.2.5.tar.xz">flatpak-kcm-6.2.5</a></td>
   <td align="right">242kB</td>
   <td><tt>26c87213ad9a394a2b3dc6616051d67c5caa3238baaa88a9afb995dd89673b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kactivitymanagerd-6.2.5.tar.xz">kactivitymanagerd-6.2.5</a></td>
   <td align="right">105kB</td>
   <td><tt>f36e1bbc5c100f4c39d1af007a03c474ea3dd1584592029fe24fbbdb1cf9dad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kde-cli-tools-6.2.5.tar.xz">kde-cli-tools-6.2.5</a></td>
   <td align="right">621kB</td>
   <td><tt>1dda57f7495060a086658796519d68d54f5e7da4e12fa6d8d4bf4614ac728002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kde-gtk-config-6.2.5.tar.xz">kde-gtk-config-6.2.5</a></td>
   <td align="right">77kB</td>
   <td><tt>283f9803a15f13734de6298558f875406a5c7c0ea46e9ffba5647f480bfc6a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kdecoration-6.2.5.tar.xz">kdecoration-6.2.5</a></td>
   <td align="right">53kB</td>
   <td><tt>726c58cd4b34fc49546578727a447c76242938add577292cd334bd60bf9d8f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kdeplasma-addons-6.2.5.tar.xz">kdeplasma-addons-6.2.5</a></td>
   <td align="right">881kB</td>
   <td><tt>57d138d5101adbb8092c424c58ceb73e1d05d0cce3ec4a354432744dbd17e426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kgamma-6.2.5.tar.xz">kgamma-6.2.5</a></td>
   <td align="right">85kB</td>
   <td><tt>3df75cdcb020acfd216e9a722404d381c8a4d97262be85f6704b189e665610ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kglobalacceld-6.2.5.tar.xz">kglobalacceld-6.2.5</a></td>
   <td align="right">55kB</td>
   <td><tt>94b5cc3780ca6b074093c487ec9e6c3460f635ae5145780f87c0fe8484d8c6c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kinfocenter-6.2.5.tar.xz">kinfocenter-6.2.5</a></td>
   <td align="right">715kB</td>
   <td><tt>9ed87edb3a24256189f8dc79c821b8f45589aab7032d8dde78d5d94cf0639ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kmenuedit-6.2.5.tar.xz">kmenuedit-6.2.5</a></td>
   <td align="right">856kB</td>
   <td><tt>0908645f4fc24a00b023d0537cac6dee7b7abad75c7980b4a01c6c098ded684a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kpipewire-6.2.5.tar.xz">kpipewire-6.2.5</a></td>
   <td align="right">146kB</td>
   <td><tt>db42d581f0ca427bd80ee6a67d1fa9cef01114266c9aee7faa2cecbd973e6319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/krdp-6.2.5.tar.xz">krdp-6.2.5</a></td>
   <td align="right">94kB</td>
   <td><tt>1a8d37e3db91e80cae9e22bf1c5986985c4279de2456ba7bc481c725c34a73fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kscreen-6.2.5.tar.xz">kscreen-6.2.5</a></td>
   <td align="right">206kB</td>
   <td><tt>6237c47fe70384d10e6f20d7f058c6aacca51a493da928077fcec91b0ef69642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kscreenlocker-6.2.5.tar.xz">kscreenlocker-6.2.5</a></td>
   <td align="right">177kB</td>
   <td><tt>3a3ed2d040394dc2a80cf25cdd2a6c4022146aca54e72c44af16e8982e8b8e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/ksshaskpass-6.2.5.tar.xz">ksshaskpass-6.2.5</a></td>
   <td align="right">30kB</td>
   <td><tt>85e71c8037d5d2199f861ae707189f42a7caed2f03743ea83b7570c34a11eb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/ksystemstats-6.2.5.tar.xz">ksystemstats-6.2.5</a></td>
   <td align="right">140kB</td>
   <td><tt>efff56f55e6fe5ed4231a47a44c8d08d3d46fd10d74d186344ef4f2fcd9595a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kwallet-pam-6.2.5.tar.xz">kwallet-pam-6.2.5</a></td>
   <td align="right">21kB</td>
   <td><tt>0168d4f2397ae289ae027a7d202b0ffd5f8d7a19b233ebfa6417b843841bfd44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kwayland-6.2.5.tar.xz">kwayland-6.2.5</a></td>
   <td align="right">130kB</td>
   <td><tt>2a17a8ce5643fd51c3cf787542032c1050da3a1fb00dcc9a32dea288bd38d7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kwayland-integration-6.2.5.tar.xz">kwayland-integration-6.2.5</a></td>
   <td align="right">25kB</td>
   <td><tt>06b6fb7ddcf19c727716f476b7224e230f4986c7e3d36066e918859fdc3b4413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kwin-6.2.5.tar.xz">kwin-6.2.5</a></td>
   <td align="right">8.1MB</td>
   <td><tt>5cc450a6e41105c8c49929b72550b331237f96aafb294690f4707bdc5f776848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/kwrited-6.2.5.tar.xz">kwrited-6.2.5</a></td>
   <td align="right">23kB</td>
   <td><tt>04794f10917a0a94167962015cfbb057c9802061fff91b027de01a3e6937d792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/layer-shell-qt-6.2.5.tar.xz">layer-shell-qt-6.2.5</a></td>
   <td align="right">35kB</td>
   <td><tt>bc09870218df387c377bad2fed4b2a8f39121ddbdc5c6bb28a40be0c1b000c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/libkscreen-6.2.5.tar.xz">libkscreen-6.2.5</a></td>
   <td align="right">116kB</td>
   <td><tt>5edaf6fa2eed6ddcef4bc479f4bb15d3481acb60adf0150e9f9a1382607bbcb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/libksysguard-6.2.5.tar.xz">libksysguard-6.2.5</a></td>
   <td align="right">308kB</td>
   <td><tt>9694f3d6b5078b4d82eb8e6ed34eb20e2d109ed7c2234c59a640bc32f31c76ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/libplasma-6.2.5.tar.xz">libplasma-6.2.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>af770f5fef978512c70491889516fb769d340f00a02270987d2d1d17753658ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/milou-6.2.5.tar.xz">milou-6.2.5</a></td>
   <td align="right">48kB</td>
   <td><tt>833bcaeafe292e85eff353e09b0631f603ae2121e8d1d6fe061b1f632017accf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/ocean-sound-theme-6.2.5.tar.xz">ocean-sound-theme-6.2.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>017d325ec673bb80dfca442b76ef71a172cca26911c28a230cc7392b015dc505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/oxygen-6.2.5.tar.xz">oxygen-6.2.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6d772dd509c2bfd03d7f801e45eff151f344172900bae05bb16d8ba2f8d3b7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/oxygen-sounds-6.2.5.tar.xz">oxygen-sounds-6.2.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ee083c672b76005dfde340902cf0302ca081b359caa566679334da967e8f75b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-activities-6.2.5.tar.xz">plasma-activities-6.2.5</a></td>
   <td align="right">65kB</td>
   <td><tt>77ea739c7ce5170d92d78d6f3765e19a32f0e24b741f525555d59dc7de15e6c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-activities-stats-6.2.5.tar.xz">plasma-activities-stats-6.2.5</a></td>
   <td align="right">81kB</td>
   <td><tt>cddba25924651e0f5de74a6faabc8990301857bb31f4ee4ac1f69d7a0c48532c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-browser-integration-6.2.5.tar.xz">plasma-browser-integration-6.2.5</a></td>
   <td align="right">218kB</td>
   <td><tt>25da9051669f20a1bf9bd8987d95621b2e664131a3c38701a3c5e2f86d9b5dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-desktop-6.2.5.tar.xz">plasma-desktop-6.2.5</a></td>
   <td align="right">15MB</td>
   <td><tt>b73d29202031b7049485d84e615d7bd0a3ca890dcb2c22d8116eb8fe6fe9d068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-dialer-6.2.5.tar.xz">plasma-dialer-6.2.5</a></td>
   <td align="right">122kB</td>
   <td><tt>0d64d8397b1101ba89832be36f229aced873150a541d110235b5d059ac0f6046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-disks-6.2.5.tar.xz">plasma-disks-6.2.5</a></td>
   <td align="right">100kB</td>
   <td><tt>9b514ab7fb0bde0cb1871334ce9ea8115d898dd2890e96ee068ea5a429be7f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-firewall-6.2.5.tar.xz">plasma-firewall-6.2.5</a></td>
   <td align="right">367kB</td>
   <td><tt>f0e9b7da481a383ac4511210baa998b8c263601f18211b0655f5c9d98157da69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-integration-6.2.5.tar.xz">plasma-integration-6.2.5</a></td>
   <td align="right">93kB</td>
   <td><tt>5795e52285deea10877fd56474473d061071cb425ba87cef3366832d50764729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-mobile-6.2.5.tar.xz">plasma-mobile-6.2.5</a></td>
   <td align="right">3.6MB</td>
   <td><tt>aeceb9bab392fc3d9fdea5913c202a11078c4060794927722581bd88ec6518d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-nano-6.2.5.tar.xz">plasma-nano-6.2.5</a></td>
   <td align="right">71kB</td>
   <td><tt>733401ec743684f59dad219ad7eb9c156dd730b8e1726bf5580d879489df1ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-nm-6.2.5.tar.xz">plasma-nm-6.2.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>146d76936ce98558839a9a7cf30fa951b7ee6cd3daa7c32d71ccdf157a4f6c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-pa-6.2.5.tar.xz">plasma-pa-6.2.5</a></td>
   <td align="right">182kB</td>
   <td><tt>5179337a7eac4145a953b46146d4899945d9c43373ad60f76692ffc42cf19d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-sdk-6.2.5.tar.xz">plasma-sdk-6.2.5</a></td>
   <td align="right">341kB</td>
   <td><tt>76bd62e5ef3d9e717f7c45ff58638732b807e7a513942c62472c02b0b2ae3511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-systemmonitor-6.2.5.tar.xz">plasma-systemmonitor-6.2.5</a></td>
   <td align="right">192kB</td>
   <td><tt>9575d4562e68209627aee2f358070b09122cc3e09fee50c90451df52bf00b2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-thunderbolt-6.2.5.tar.xz">plasma-thunderbolt-6.2.5</a></td>
   <td align="right">79kB</td>
   <td><tt>e6c38c7fe844eba6b2d38a06cf3e9f2c51e989893965e1683917c46d94eb24da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-vault-6.2.5.tar.xz">plasma-vault-6.2.5</a></td>
   <td align="right">196kB</td>
   <td><tt>6b7e73fc39c6bb5e2c06573ef88a8948eea570608a8e1e49d912389aefa50b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-welcome-6.2.5.tar.xz">plasma-welcome-6.2.5</a></td>
   <td align="right">677kB</td>
   <td><tt>e9a2ae0cad82ef9feae7471f625628d7df7098255ea8ee71fab78ed48539261a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-workspace-6.2.5.tar.xz">plasma-workspace-6.2.5</a></td>
   <td align="right">18MB</td>
   <td><tt>b82511e46f62e1b8f60b969c828c8d8d32fc7928401a70cc28c29f85f46c412f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma-workspace-wallpapers-6.2.5.tar.xz">plasma-workspace-wallpapers-6.2.5</a></td>
   <td align="right">106MB</td>
   <td><tt>d8b07a2cc3d34d13434f3a20e9a496ed7502805262e3bb189eb846d574f1bc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plasma5support-6.2.5.tar.xz">plasma5support-6.2.5</a></td>
   <td align="right">187kB</td>
   <td><tt>cac5244aa2961ad020ed2c43427389e0823482ecb179948b5fd6b221606e8b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/plymouth-kcm-6.2.5.tar.xz">plymouth-kcm-6.2.5</a></td>
   <td align="right">46kB</td>
   <td><tt>adf7042f2e7098559950c42bd61026fe462d66cd7fbbdbb997b458f6996b1048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/polkit-kde-agent-1-6.2.5.tar.xz">polkit-kde-agent-1-6.2.5</a></td>
   <td align="right">55kB</td>
   <td><tt>b1ffb3e444c6c53db822a8fb4c7505c38f2613a812ae17be2434e02f50c293fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/powerdevil-6.2.5.tar.xz">powerdevil-6.2.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>70250396d5efae4be7d3201be878e0e35fd8d9bfb390660d5e0394828b1f464b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/print-manager-6.2.5.tar.xz">print-manager-6.2.5</a></td>
   <td align="right">366kB</td>
   <td><tt>056016ebb75fe02a3f2e71bfa679806c0c0dc20bdc676e34345c2ed04b5feacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/qqc2-breeze-style-6.2.5.tar.xz">qqc2-breeze-style-6.2.5</a></td>
   <td align="right">64kB</td>
   <td><tt>380cb63696ca2126265659c618e05636193f28e7f6a597341eb915af5dd1d10f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/sddm-kcm-6.2.5.tar.xz">sddm-kcm-6.2.5</a></td>
   <td align="right">98kB</td>
   <td><tt>fa401116bcfc690fd2557c16cf39461fa9d6e1de0d917a4f49ff92e37d5fdf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/spacebar-6.2.5.tar.xz">spacebar-6.2.5</a></td>
   <td align="right">126kB</td>
   <td><tt>f8b6bd3d980dbb00af8f3307030ea05eada6daacd3e5f23ec17922e6658f57a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/systemsettings-6.2.5.tar.xz">systemsettings-6.2.5</a></td>
   <td align="right">214kB</td>
   <td><tt>b5022f294325dbd3da16abefb52a12c018c73a3c78eda032df89173c69abd375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/wacomtablet-6.2.5.tar.xz">wacomtablet-6.2.5</a></td>
   <td align="right">815kB</td>
   <td><tt>e5b36f8e3e56d55c29857d6da7c1e3cec538f703df8a1025766388a07acf387b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.5/xdg-desktop-portal-kde-6.2.5.tar.xz">xdg-desktop-portal-kde-6.2.5</a></td>
   <td align="right">175kB</td>
   <td><tt>1e86bf6f7dc433400ade93347671ec9cad88e382536dd30930030e4514623af1</tt></td>
</tr>

</table>
