<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/accessibility-inspector-24.12.0.tar.xz">accessibility-inspector-24.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>fe2d6ed9c4d149329c48c3283f3c3f5088fcc876ad05d366ca80e4dd7ef2674c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-24.12.0.tar.xz">akonadi-24.12.0</a></td>
   <td align="right">1670kB</td>
   <td><tt>ca71758319f0529b4af0ef4bf16352b023c002b9fe578524c82f4dc7ff0e9ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-calendar-24.12.0.tar.xz">akonadi-calendar-24.12.0</a></td>
   <td align="right">512kB</td>
   <td><tt>dfa4d60162bc3672ff3a76745f727e87b7a5e089be6b79f399b0df23970eba69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-calendar-tools-24.12.0.tar.xz">akonadi-calendar-tools-24.12.0</a></td>
   <td align="right">263kB</td>
   <td><tt>fb5531c8d7a4c415e063bc6ccf6211541c1fd8ae040f0fb47486168a771d1040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadiconsole-24.12.0.tar.xz">akonadiconsole-24.12.0</a></td>
   <td align="right">306kB</td>
   <td><tt>bf0a7ca3571b36a52e493b8c3c87f3cd4f5245dd4df02cb9521d4c2148c1fb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-contacts-24.12.0.tar.xz">akonadi-contacts-24.12.0</a></td>
   <td align="right">426kB</td>
   <td><tt>00f2c765ebeb8c472f20937daff3654e1d755b015f0dbd1af9817920c47f81c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-import-wizard-24.12.0.tar.xz">akonadi-import-wizard-24.12.0</a></td>
   <td align="right">480kB</td>
   <td><tt>e5abdaff722ab35d35afef63e12ccdc8ca37d464db3f73f383cf839557f641a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-mime-24.12.0.tar.xz">akonadi-mime-24.12.0</a></td>
   <td align="right">171kB</td>
   <td><tt>a4357769d6aeedb15b35665b3b581b60b9cdd5b298e142d3a0b9d318d6b4d0c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akonadi-search-24.12.0.tar.xz">akonadi-search-24.12.0</a></td>
   <td align="right">110kB</td>
   <td><tt>145eb9b1c7f323ceb62817b48a9a3a07fa26d27e3d93a421d6767717bc157fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/akregator-24.12.0.tar.xz">akregator-24.12.0</a></td>
   <td align="right">2084kB</td>
   <td><tt>4828565f78a4c9439d41943e87ab3415468a60ec493883a3596b9bcd70230c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/alligator-24.12.0.tar.xz">alligator-24.12.0</a></td>
   <td align="right">191kB</td>
   <td><tt>b2a703220f0c41612e2b9a7bba1fa22157859b63c9ca55bc619965c341c75e24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/analitza-24.12.0.tar.xz">analitza-24.12.0</a></td>
   <td align="right">351kB</td>
   <td><tt>82b8ae9147cea0fde1c47f75338b499284e273cd2ae2a5902ba0366a7097a575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/angelfish-24.12.0.tar.xz">angelfish-24.12.0</a></td>
   <td align="right">268kB</td>
   <td><tt>81be823ecc231388e66edc83da5059c5d4fe5ab6a1394a61682ae3531d2e65ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/arianna-24.12.0.tar.xz">arianna-24.12.0</a></td>
   <td align="right">801kB</td>
   <td><tt>36c1845b89e7cd93b9541dc7cbe4c45cd3fa5b7632428ae45fba8e5186245d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ark-24.12.0.tar.xz">ark-24.12.0</a></td>
   <td align="right">2939kB</td>
   <td><tt>a9e8e50a5cc2e56987cbc17d715e9c2958157c89cca8c21fa3b0d2fa802d0712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/artikulate-24.12.0.tar.xz">artikulate-24.12.0</a></td>
   <td align="right">1029kB</td>
   <td><tt>dc0ecc629ea6009272d6ecda12d3ba64a126f4cf305de69505f825eb64715b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/audex-24.12.0.tar.xz">audex-24.12.0</a></td>
   <td align="right">697kB</td>
   <td><tt>8682a078cf2749eb9b5fbacc43faa171666abd531cf0b98dafde19a71566eeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/audiocd-kio-24.12.0.tar.xz">audiocd-kio-24.12.0</a></td>
   <td align="right">566kB</td>
   <td><tt>33f2b0c95081f3102f56ede6d0b06d0f405f80f73eceb0a915da23a2a04bc9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/audiotube-24.12.0.tar.xz">audiotube-24.12.0</a></td>
   <td align="right">152kB</td>
   <td><tt>30ba9237bdd0769470a509f642e04874f065c395124af5f755ffcd09cf229507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/baloo-widgets-24.12.0.tar.xz">baloo-widgets-24.12.0</a></td>
   <td align="right">271kB</td>
   <td><tt>98893290528c2d82d851c5c743e64a4b7d44a3805cd38a33b0c5e462e3eeb616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/blinken-24.12.0.tar.xz">blinken-24.12.0</a></td>
   <td align="right">2613kB</td>
   <td><tt>c2ee251c7b612b24ab488793a016f72a86ad3b4bfef6f837d0d182c53563daba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/bomber-24.12.0.tar.xz">bomber-24.12.0</a></td>
   <td align="right">819kB</td>
   <td><tt>d0b12cc21bce1a01c842b6638978a942888ce05694d3cdaa38f1a85d2ddac4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/bovo-24.12.0.tar.xz">bovo-24.12.0</a></td>
   <td align="right">215kB</td>
   <td><tt>f94dd3b9d77497c3f0065588d5ef96affeb26de7cbb1f85e1021140fceaee94b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/calendarsupport-24.12.0.tar.xz">calendarsupport-24.12.0</a></td>
   <td align="right">974kB</td>
   <td><tt>2920105c0d48067ed8bd32bfd126e7868a9bdd31ab9c9e96ad002f0a366cf21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/calindori-24.12.0.tar.xz">calindori-24.12.0</a></td>
   <td align="right">387kB</td>
   <td><tt>1ba403f30553f8c712cf5eeb0948fae96bde80af5d9e7875df1a45bbe584c0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/calligra-24.12.0.tar.xz">calligra-24.12.0</a></td>
   <td align="right">56546kB</td>
   <td><tt>71b89f1e8121b8f88ee43376acf7cb7a88cb6d9a078e8ba3f102389f9a1f6097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/cantor-24.12.0.tar.xz">cantor-24.12.0</a></td>
   <td align="right">10614kB</td>
   <td><tt>3c327a33377e0cd6895936b438fb33a1cea274ba394b997fb0002a80d273f337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/cervisia-24.12.0.tar.xz">cervisia-24.12.0</a></td>
   <td align="right">1767kB</td>
   <td><tt>a889c7d8c434ff0342fc522c699943f2d9301888aa40e8fe27aacc2fdd23820b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/colord-kde-24.12.0.tar.xz">colord-kde-24.12.0</a></td>
   <td align="right">115kB</td>
   <td><tt>f03c6237372fa40c875a69df978375c08478f239fcbde048fdb46431b2e7e0e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/dolphin-24.12.0.tar.xz">dolphin-24.12.0</a></td>
   <td align="right">5559kB</td>
   <td><tt>421f02f9699b609d7e66e0aae9fa1fd735ba0a92a56febe75880ecbeb8dfc513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/dolphin-plugins-24.12.0.tar.xz">dolphin-plugins-24.12.0</a></td>
   <td align="right">311kB</td>
   <td><tt>edfd039209603ef0462fc53c8de067b3331afefbf10663bd444ae145a52c216d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/dragon-24.12.0.tar.xz">dragon-24.12.0</a></td>
   <td align="right">1787kB</td>
   <td><tt>1d87f71f6948ee83ef0ab711dee33397e38e6c42ce942d2404a7a13885a00309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/elisa-24.12.0.tar.xz">elisa-24.12.0</a></td>
   <td align="right">1879kB</td>
   <td><tt>75202d8541aacea3babf84bd021a8aeffb3ee4268fc382b03a00d619de73ff8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/eventviews-24.12.0.tar.xz">eventviews-24.12.0</a></td>
   <td align="right">485kB</td>
   <td><tt>b8e9d473836cbb401fac0e1c41e01016b4853a6323530237113e3fece4403089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/falkon-24.12.0.tar.xz">falkon-24.12.0</a></td>
   <td align="right">2590kB</td>
   <td><tt>2b286b381ffba6ff408dcc9ad104ee6ae3fa05b15ee2d73bef45cd315cead877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ffmpegthumbs-24.12.0.tar.xz">ffmpegthumbs-24.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>15c7befdf7343a0a0e0320913a7314a2a4c22be47488dd1e5a0948218089d4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/filelight-24.12.0.tar.xz">filelight-24.12.0</a></td>
   <td align="right">670kB</td>
   <td><tt>f8102f0d74f7dc3b6f17906993cbc63570f498c6f016a39a13503fdbe6d3b6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/francis-24.12.0.tar.xz">francis-24.12.0</a></td>
   <td align="right">111kB</td>
   <td><tt>b16ae97a42ed20c4943c3213c91bfe7c691538d229331bd7b1624e700116a3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ghostwriter-24.12.0.tar.xz">ghostwriter-24.12.0</a></td>
   <td align="right">2645kB</td>
   <td><tt>60f65643ab341b62f1f6e6816a06b9245ba6dee4da06557043e93efd5a7a340e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/granatier-24.12.0.tar.xz">granatier-24.12.0</a></td>
   <td align="right">1966kB</td>
   <td><tt>06a9630f12cff8184e2257d7d260a79ea92879aaee715ae5b7b648d124875af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/grantlee-editor-24.12.0.tar.xz">grantlee-editor-24.12.0</a></td>
   <td align="right">121kB</td>
   <td><tt>65357fefd24610395b7644c5359c75860739a83825bc47188b00f007929b0bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/grantleetheme-24.12.0.tar.xz">grantleetheme-24.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>21e566e19782f888d67026141991743cb144ded7d11b2f9c060e445a9fce07fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/gwenview-24.12.0.tar.xz">gwenview-24.12.0</a></td>
   <td align="right">6372kB</td>
   <td><tt>74971003952d966252e5b84d4f8e592fec4784e32fad2fb998aaa37338564adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/incidenceeditor-24.12.0.tar.xz">incidenceeditor-24.12.0</a></td>
   <td align="right">573kB</td>
   <td><tt>38aa0bdef8407f23faec133e7e91e6044e4e61b5437450a0c4b5b6ebf90fef1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/isoimagewriter-24.12.0.tar.xz">isoimagewriter-24.12.0</a></td>
   <td align="right">457kB</td>
   <td><tt>8b1687e963666e1de8f8cea647702cc168d6632e9361d4062e5b16faa7a64c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/itinerary-24.12.0.tar.xz">itinerary-24.12.0</a></td>
   <td align="right">749kB</td>
   <td><tt>76bb36a2358a0333d6c16a79789a47e45b5edc566078a9c8918b7f897e052e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/juk-24.12.0.tar.xz">juk-24.12.0</a></td>
   <td align="right">1865kB</td>
   <td><tt>12b5cb9a37572c4d64b2edac71ce5633a35d6bee8be3c4c1eb6d0fff1db5ceab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/k3b-24.12.0.tar.xz">k3b-24.12.0</a></td>
   <td align="right">10446kB</td>
   <td><tt>2f25aed2645a758da6a781dfda8a0e7fc29a007d47edf66cdb4ab648873b4a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kaccounts-integration-24.12.0.tar.xz">kaccounts-integration-24.12.0</a></td>
   <td align="right">91kB</td>
   <td><tt>04e8a00bdd4539027497edcabc4d7c21932ab00f43a51b1184365735f8d3b433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kaccounts-providers-24.12.0.tar.xz">kaccounts-providers-24.12.0</a></td>
   <td align="right">67kB</td>
   <td><tt>1ea284d24c34c18af5aeb21fd849a9cd7a23ff945490e0724be17ec267be790a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kaddressbook-24.12.0.tar.xz">kaddressbook-24.12.0</a></td>
   <td align="right">3349kB</td>
   <td><tt>44de7575a593e47c37d236bb8bcee4806c859b2a53a34a44f354d620760f9a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kajongg-24.12.0.tar.xz">kajongg-24.12.0</a></td>
   <td align="right">4510kB</td>
   <td><tt>e816c994659675934109bf085f9382357b2ed2dab607a7e3c8d4ce545f727723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kalarm-24.12.0.tar.xz">kalarm-24.12.0</a></td>
   <td align="right">2573kB</td>
   <td><tt>699436c461b0b29aec3933b6c1b9e26345a53060f7558532da0689583735ef72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kalgebra-24.12.0.tar.xz">kalgebra-24.12.0</a></td>
   <td align="right">926kB</td>
   <td><tt>a67ced988de126ed57531dc474a118d6b52d9d53918c5ca12627c5f7b02dd64a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kalk-24.12.0.tar.xz">kalk-24.12.0</a></td>
   <td align="right">75kB</td>
   <td><tt>98cd7960e05f4e10f92d076f7933db4ae46900bd1bea5807b3db941798e5ea94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kalm-24.12.0.tar.xz">kalm-24.12.0</a></td>
   <td align="right">88kB</td>
   <td><tt>8359feda0093b1311cc8d044576701eb9839c50c02433b9a7be2b947374aab2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kalzium-24.12.0.tar.xz">kalzium-24.12.0</a></td>
   <td align="right">22151kB</td>
   <td><tt>99dff6426c31e67c6c6e2774929f23a3980a755be06c6a79772a27079b1f9bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kamera-24.12.0.tar.xz">kamera-24.12.0</a></td>
   <td align="right">128kB</td>
   <td><tt>57783d2cddaaf027319d556d2208d7e6508cf4931813e87e13ee0c67d8f61d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kamoso-24.12.0.tar.xz">kamoso-24.12.0</a></td>
   <td align="right">229kB</td>
   <td><tt>190f6d697da713960a86d655bdd3ee78f28c658746855ce3f2c951b29b820a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kanagram-24.12.0.tar.xz">kanagram-24.12.0</a></td>
   <td align="right">7601kB</td>
   <td><tt>3da43cb9a7facf58a0481fcca48a946915a8cb6c9f923fa16a746a63b5cee7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kapman-24.12.0.tar.xz">kapman-24.12.0</a></td>
   <td align="right">2097kB</td>
   <td><tt>a8302a270f4dcb42731527a3b6acb797ac8ace6502129e978bf9b96a21c931c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kapptemplate-24.12.0.tar.xz">kapptemplate-24.12.0</a></td>
   <td align="right">465kB</td>
   <td><tt>c99c3f211d8657218fb3d3afeaed14c67cbe6cb7ebc0f50ed8360b12191715cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kasts-24.12.0.tar.xz">kasts-24.12.0</a></td>
   <td align="right">611kB</td>
   <td><tt>48668ee817c68166795f89ec5d51132ee88aeb3d66da1abba1b56f86ed7511a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kate-24.12.0.tar.xz">kate-24.12.0</a></td>
   <td align="right">8106kB</td>
   <td><tt>a5926a0d85c69ca2cc34d87e567501e795e95050e16f896e39cd8cac4ced2348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/katomic-24.12.0.tar.xz">katomic-24.12.0</a></td>
   <td align="right">1414kB</td>
   <td><tt>38f8158bd5c858caad42a4be5f6509f8b67a6006ab4a8fb45b271e646b4b7781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kbackup-24.12.0.tar.xz">kbackup-24.12.0</a></td>
   <td align="right">379kB</td>
   <td><tt>22d1c53e75f2c2164c9ab1b94d3b74156f34e03ebafdb4865218dd4dc7825b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kblackbox-24.12.0.tar.xz">kblackbox-24.12.0</a></td>
   <td align="right">538kB</td>
   <td><tt>c8ba44eae08ad150bad718adc7a17c4f918edf2ed8dc5c933ae6b7540261f8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kblocks-24.12.0.tar.xz">kblocks-24.12.0</a></td>
   <td align="right">2053kB</td>
   <td><tt>266d1876499ce9523c17fada715b12b8204de5630921fff89246fc9d49d461a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kbounce-24.12.0.tar.xz">kbounce-24.12.0</a></td>
   <td align="right">3244kB</td>
   <td><tt>d24983bed5a9456c638ae51a07d452dcb6fa693f47a7101dc9597d1b42660853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kbreakout-24.12.0.tar.xz">kbreakout-24.12.0</a></td>
   <td align="right">2496kB</td>
   <td><tt>09f476eaf57a194e668283de40fdab20251cc6e1898b257647d62b970c6b8d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kbruch-24.12.0.tar.xz">kbruch-24.12.0</a></td>
   <td align="right">5036kB</td>
   <td><tt>e063a8c9b48454e930d2d6e300e836959eba63abb6dc58900eadf66a2e1c8cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcachegrind-24.12.0.tar.xz">kcachegrind-24.12.0</a></td>
   <td align="right">953kB</td>
   <td><tt>163e23e2f18874e90cbad8b4cb8b3b25fbfd0513d5acf182f2c0d92e8a3c48ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcalc-24.12.0.tar.xz">kcalc-24.12.0</a></td>
   <td align="right">459kB</td>
   <td><tt>467ada64363dbba0434358f68bd8852b8417e7bfafc279b3e378f8a729c83b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcalutils-24.12.0.tar.xz">kcalutils-24.12.0</a></td>
   <td align="right">347kB</td>
   <td><tt>9cef8de0d5e936ee7242831a86fdb9a4a9aa4ba56011ff015047c8e0b4bb71d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcharselect-24.12.0.tar.xz">kcharselect-24.12.0</a></td>
   <td align="right">465kB</td>
   <td><tt>d0a746000f0ff810b89f6e9ba2b65cdce4f2cd92ccd3e108940f2a9af184de3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kclock-24.12.0.tar.xz">kclock-24.12.0</a></td>
   <td align="right">646kB</td>
   <td><tt>7d1b8de2719bf8432c2fd947e8983eba6a8628a2109be34b33815193baac259d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcolorchooser-24.12.0.tar.xz">kcolorchooser-24.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>afe552ddf0a4c76a4b81251649eeda1662b2a16dc8eba88c0be0ec4004b4674e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kcron-24.12.0.tar.xz">kcron-24.12.0</a></td>
   <td align="right">875kB</td>
   <td><tt>169fdd6376aaca069f3f078671651e90d44675bb29e3b3704de067b3a04dc92f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdebugsettings-24.12.0.tar.xz">kdebugsettings-24.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>3aaef428148e92882eb184967ba73d92e053d35cb86a0157e91609089a97aaf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdeconnect-kde-24.12.0.tar.xz">kdeconnect-kde-24.12.0</a></td>
   <td align="right">697kB</td>
   <td><tt>33f40c531fa5d3f5398e9020fe8c1f8e49210127d2827ffbcdc3f942a10774d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kde-dev-scripts-24.12.0.tar.xz">kde-dev-scripts-24.12.0</a></td>
   <td align="right">367kB</td>
   <td><tt>4d8abf915cdec7d973f40e2923ea275bfeaa77f84edd7c82fecee0e29189d66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kde-dev-utils-24.12.0.tar.xz">kde-dev-utils-24.12.0</a></td>
   <td align="right">73kB</td>
   <td><tt>5fd608c52843b2f8c263cb9abb77feb02c065646654f130f5212336a7a640210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdeedu-data-24.12.0.tar.xz">kdeedu-data-24.12.0</a></td>
   <td align="right">330kB</td>
   <td><tt>42fd4dacaa5d0f44b4c4d1c57c3e313d7bf3d1e3da6e31adb3acace67d249831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdegraphics-mobipocket-24.12.0.tar.xz">kdegraphics-mobipocket-24.12.0</a></td>
   <td align="right">12kB</td>
   <td><tt>777e577f7d603aef7f00d584b3a0a1e2659194134f37c0315a026173181289f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdegraphics-thumbnailers-24.12.0.tar.xz">kdegraphics-thumbnailers-24.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>d4dd2a4617db0874bc7de7b15e4fd50f7aadaa5249fb46f888ab151a8480b1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kde-inotify-survey-24.12.0.tar.xz">kde-inotify-survey-24.12.0</a></td>
   <td align="right">230kB</td>
   <td><tt>63da255adebc54d547588d8794bb96453bdb968f639b8bec6235e238e5d8ae98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdenetwork-filesharing-24.12.0.tar.xz">kdenetwork-filesharing-24.12.0</a></td>
   <td align="right">490kB</td>
   <td><tt>429e1fb15e988011bf8b91a59657585dfb1f95606e4f75f7300c3cbfa8372906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdenlive-24.12.0.tar.xz">kdenlive-24.12.0</a></td>
   <td align="right">12820kB</td>
   <td><tt>c61d034dce9c25a9d2f9e7acff990b7ba46f664d1f972acfaba3a84de1c2288a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdepim-addons-24.12.0.tar.xz">kdepim-addons-24.12.0</a></td>
   <td align="right">2556kB</td>
   <td><tt>68f0c8f1188695f9eb0530951aa15e3740ab49e1af9c46537e8af11f055687e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdepim-runtime-24.12.0.tar.xz">kdepim-runtime-24.12.0</a></td>
   <td align="right">1625kB</td>
   <td><tt>80f64309b75ab0be488eff3748143368ec661844f891ef28b3a916ac802a58a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdesdk-kio-24.12.0.tar.xz">kdesdk-kio-24.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>298dd4faaa1d91ca64355d8ebb81f2558ebd15a2093774e51a4cc63a4ecd59e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdesdk-thumbnailers-24.12.0.tar.xz">kdesdk-thumbnailers-24.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>a9816bc6178891fd0a160fb44f050b62c0daa03b19169355ea7974714f15d43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdevelop-24.12.0.tar.xz">kdevelop-24.12.0</a></td>
   <td align="right">8626kB</td>
   <td><tt>72a7fd572360c995b54febf020c25755e42d8b84c065e453a436663298b82231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdev-php-24.12.0.tar.xz">kdev-php-24.12.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>4d81f13655b60df1df50493e0a28952f93eb3bf3b583336d89bda3c3c4d2fc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdev-python-24.12.0.tar.xz">kdev-python-24.12.0</a></td>
   <td align="right">1077kB</td>
   <td><tt>49eb40bdd574f62026a1d66ba2092f978c7cf6325fea23a916c40513409cbbe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdf-24.12.0.tar.xz">kdf-24.12.0</a></td>
   <td align="right">468kB</td>
   <td><tt>2f1d21d78676a819a60ebb6825f0ede3af11d67015a07b46bfe6a92b7fa6cfba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdialog-24.12.0.tar.xz">kdialog-24.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>6922aa49019b14acb3fb3f22151ff71021aa6b31e8a90590c3b87178984e569f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kdiamond-24.12.0.tar.xz">kdiamond-24.12.0</a></td>
   <td align="right">4563kB</td>
   <td><tt>1dcc8ac08162c2994c2215eeb5e7bec28c1bf7da52f0e3b6e9c08ef35808960d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/keditbookmarks-24.12.0.tar.xz">keditbookmarks-24.12.0</a></td>
   <td align="right">254kB</td>
   <td><tt>2c583d76abe444fc388cb63ca9f72842cdfbd01a1173378e37f90308e95b25bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/keysmith-24.12.0.tar.xz">keysmith-24.12.0</a></td>
   <td align="right">168kB</td>
   <td><tt>e57b8c0d41783c6dd9fef3f5edf9a78dcf63f19acb988b4ec7b5b0fd2548a325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kfind-24.12.0.tar.xz">kfind-24.12.0</a></td>
   <td align="right">322kB</td>
   <td><tt>c1a9d4da666dff8bfb89f3d22b9d7c203eacad5d53208b69f40032c82e421a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kfourinline-24.12.0.tar.xz">kfourinline-24.12.0</a></td>
   <td align="right">728kB</td>
   <td><tt>1e2ed965e8f430abeee2362f5eab5d9d29b89dd3e0c2e2eaa72c63e6e549115e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kgeography-24.12.0.tar.xz">kgeography-24.12.0</a></td>
   <td align="right">12133kB</td>
   <td><tt>965b94c0d462c298dfcde943e82854c9f5f0a5a9e5cd9b0969a089bd6f13e075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kget-24.12.0.tar.xz">kget-24.12.0</a></td>
   <td align="right">4798kB</td>
   <td><tt>55bd0f3ec4f28e47ccc6ec35350bfff6776f284e66aac265ccf8853e9bae54f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kgoldrunner-24.12.0.tar.xz">kgoldrunner-24.12.0</a></td>
   <td align="right">4242kB</td>
   <td><tt>0e6d3ee6402a130c4d58fa012cf9c8de0caf463e4b7deaf12e9a6462b48b050e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kgpg-24.12.0.tar.xz">kgpg-24.12.0</a></td>
   <td align="right">2961kB</td>
   <td><tt>a4005c4ab6505c80b7d29e1b507161e98b8c4134300badda00ef7c114af0ebc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kgraphviewer-24.12.0.tar.xz">kgraphviewer-24.12.0</a></td>
   <td align="right">1553kB</td>
   <td><tt>0ce02d7818001a6b479226ab598242390f2695dbf80aa7b2566b31909de79645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/khangman-24.12.0.tar.xz">khangman-24.12.0</a></td>
   <td align="right">6857kB</td>
   <td><tt>8008e9321fbd4ad861078c9f2b40a1cb9cca15c5e06c6870c5547ebb380d6073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/khealthcertificate-24.12.0.tar.xz">khealthcertificate-24.12.0</a></td>
   <td align="right">502kB</td>
   <td><tt>af5958d60d26835ea2763054c75642ae4bb32a3cd17d45fab89914da9f0abec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/khelpcenter-24.12.0.tar.xz">khelpcenter-24.12.0</a></td>
   <td align="right">4140kB</td>
   <td><tt>2f9853d63c77627772b1eff00f508cc53ba2f853ffabca71ec004c5c27e31b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kidentitymanagement-24.12.0.tar.xz">kidentitymanagement-24.12.0</a></td>
   <td align="right">192kB</td>
   <td><tt>7bd3add4cdf1b0c8a99af076e4c98a41fb937375b909518d930a451a192b9217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kig-24.12.0.tar.xz">kig-24.12.0</a></td>
   <td align="right">3170kB</td>
   <td><tt>99ec248a49c0c2a0e94020db6fa06f1fc9d2811b3a46b5fc3ddcca197abeb397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kigo-24.12.0.tar.xz">kigo-24.12.0</a></td>
   <td align="right">4719kB</td>
   <td><tt>c98ae93ff332186e1ad8637983e3216b00f8062d9a56ad40cc2497690b71ef6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/killbots-24.12.0.tar.xz">killbots-24.12.0</a></td>
   <td align="right">1145kB</td>
   <td><tt>87ed1cc68613f067cef598456ffd7e0c1d650d194a7f1453de461fa38f57db7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kimagemapeditor-24.12.0.tar.xz">kimagemapeditor-24.12.0</a></td>
   <td align="right">1049kB</td>
   <td><tt>671cbe27f141d238808e25ae722cfec6664685ff8e66f2e0115eb505fd74baca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kimap-24.12.0.tar.xz">kimap-24.12.0</a></td>
   <td align="right">129kB</td>
   <td><tt>e7c0f4eb3924ecf4c54ca58cfbb51a7dd4b0ea9870f9613075d07cbc05398a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kio-admin-24.12.0.tar.xz">kio-admin-24.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>0e1590105dbfc5dd8b7934061082b9e210d2c8f90bfc503ba9646f908a10c943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kio-extras-24.12.0.tar.xz">kio-extras-24.12.0</a></td>
   <td align="right">3432kB</td>
   <td><tt>5131e77f3771320d65cde43cef6fd3eb9d59bf551cad6e90753b354ff15df2c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kio-gdrive-24.12.0.tar.xz">kio-gdrive-24.12.0</a></td>
   <td align="right">78kB</td>
   <td><tt>e68855748ca1b3747d9b5848f899490d4bcd9564dd47d77a613f93e45458f475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kio-zeroconf-24.12.0.tar.xz">kio-zeroconf-24.12.0</a></td>
   <td align="right">43kB</td>
   <td><tt>20879ad3f7fb6f1cbee8274dea6860b474566f9ba629ae8499179e71b2f1a436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kirigami-gallery-24.12.0.tar.xz">kirigami-gallery-24.12.0</a></td>
   <td align="right">361kB</td>
   <td><tt>e2b66b3648f4b773e5c8435ed61ffbce1aed7a8078d2f2fc35ad2196cfcb47ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kiriki-24.12.0.tar.xz">kiriki-24.12.0</a></td>
   <td align="right">365kB</td>
   <td><tt>e5435d46785d6dbfd48228d1c929007cdeb2d9a2bd630f823ae62948430cbdeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kiten-24.12.0.tar.xz">kiten-24.12.0</a></td>
   <td align="right">11051kB</td>
   <td><tt>80e473382b9a1b18e62deebf44cbbb511a77bdb8ee2fbb05029a83540437a8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kitinerary-24.12.0.tar.xz">kitinerary-24.12.0</a></td>
   <td align="right">1957kB</td>
   <td><tt>4c11339a5bce980bd061a4437a943200fae82e104bd8472f3b2f7dc36f82b5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kjournald-24.12.0.tar.xz">kjournald-24.12.0</a></td>
   <td align="right">509kB</td>
   <td><tt>64d3b67c15685c0aebec2777c83f33dade4771f42c4bbd299b2a5c4280eaeecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kjumpingcube-24.12.0.tar.xz">kjumpingcube-24.12.0</a></td>
   <td align="right">338kB</td>
   <td><tt>4c371004c9ca671f34a568c688cac82f592ec1a10f138b9089a124149d2cc230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kldap-24.12.0.tar.xz">kldap-24.12.0</a></td>
   <td align="right">185kB</td>
   <td><tt>79c0119eac21c42d7f16eb021ca7a9706c29b2606eb613880965da9ab7f9ab91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kleopatra-24.12.0.tar.xz">kleopatra-24.12.0</a></td>
   <td align="right">2720kB</td>
   <td><tt>357c2ee2331812a9f0d004725526479327ba293dcc2eb4ce752f66e13a5e0045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/klettres-24.12.0.tar.xz">klettres-24.12.0</a></td>
   <td align="right">46079kB</td>
   <td><tt>38092900746f6b0b9bf58357ef8609251bf674da2b97b150befe970c9fe71abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/klickety-24.12.0.tar.xz">klickety-24.12.0</a></td>
   <td align="right">1354kB</td>
   <td><tt>1efec4b079e54c807bbc632e8823b58d0a7731e4cc215fb259396dad622586c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/klines-24.12.0.tar.xz">klines-24.12.0</a></td>
   <td align="right">1634kB</td>
   <td><tt>1bbce72cf5775c254c0dbbe07fa6f7ee889bc57f3c8b55c0304969d4e9b23994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmag-24.12.0.tar.xz">kmag-24.12.0</a></td>
   <td align="right">661kB</td>
   <td><tt>eed6d5bfd5fdabb07d89c7c2aacb50d36a49c45a4b3ba28143fffb49a13304ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmahjongg-24.12.0.tar.xz">kmahjongg-24.12.0</a></td>
   <td align="right">3632kB</td>
   <td><tt>eb142a2d33f56cf9aada2181b3e876b31dbded90a7c4619a65a702e1438a5068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmail-24.12.0.tar.xz">kmail-24.12.0</a></td>
   <td align="right">7589kB</td>
   <td><tt>55ccb818d7f23b928bcfc0a9a236d04436546b3ab0b0e5a9ad7e6f75b48602fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmail-account-wizard-24.12.0.tar.xz">kmail-account-wizard-24.12.0</a></td>
   <td align="right">163kB</td>
   <td><tt>78f17730d10b424d039e60f13b8f56701bcc46d7930fd57c4582fd1afb69857b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmailtransport-24.12.0.tar.xz">kmailtransport-24.12.0</a></td>
   <td align="right">184kB</td>
   <td><tt>7f542a37b45b852ccfefbdc9aa39006dfe00bcd66dac386b98da9482c9691846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmbox-24.12.0.tar.xz">kmbox-24.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>246bf77b9c1f9de0de2572069e541157e65e11c39167fabd46c914eb31f9ce71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmime-24.12.0.tar.xz">kmime-24.12.0</a></td>
   <td align="right">161kB</td>
   <td><tt>9f26b5f96e46e4f81792782b08d748e2ce681b299674242d49bd329ebb9704cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmines-24.12.0.tar.xz">kmines-24.12.0</a></td>
   <td align="right">926kB</td>
   <td><tt>6c80d9afaad3d5c8a0361a0f758d4abbd7f386aa728f146e22dc7674d0b5c75b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmix-24.12.0.tar.xz">kmix-24.12.0</a></td>
   <td align="right">1138kB</td>
   <td><tt>1057928512a7752c2bc32da83c8ecb6d7b8f2215aa71111be98704905ccf97b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmousetool-24.12.0.tar.xz">kmousetool-24.12.0</a></td>
   <td align="right">131kB</td>
   <td><tt>107847e56a2b9a817fac3d91497db7ddda860f82acd6df57b1cde883cf88b9d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmouth-24.12.0.tar.xz">kmouth-24.12.0</a></td>
   <td align="right">1894kB</td>
   <td><tt>851a4526d8862dee02c337a20897a4e0c89ba8deed20df8ecf2dc16aace814af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kmplot-24.12.0.tar.xz">kmplot-24.12.0</a></td>
   <td align="right">2951kB</td>
   <td><tt>add2d9e6f0f19c7ff195a4d591b00dc75aaea934961b064a48a6d41c08918185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/knavalbattle-24.12.0.tar.xz">knavalbattle-24.12.0</a></td>
   <td align="right">1023kB</td>
   <td><tt>1e3b228532cf6e66ea30207ce4a17b7d2caa556c81032b98aaccd63f78b7a30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/knetwalk-24.12.0.tar.xz">knetwalk-24.12.0</a></td>
   <td align="right">986kB</td>
   <td><tt>b933cf1f67b917a618e2aad6aaf26aae3d965f0879126b7991b64f124d536014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/knights-24.12.0.tar.xz">knights-24.12.0</a></td>
   <td align="right">2431kB</td>
   <td><tt>afd253ce77a8b71395dfaffacd4180bbab217871c3da6ccacce7197fad18139b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/koko-24.12.0.tar.xz">koko-24.12.0</a></td>
   <td align="right">8337kB</td>
   <td><tt>abb5b9e9de335608aeb02a37e182eb8cb03beb948ed9f46129c089cb0794647a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kolf-24.12.0.tar.xz">kolf-24.12.0</a></td>
   <td align="right">1054kB</td>
   <td><tt>76e7cac3e5a45a12774e976f576c65562204162718b59ff113f044df84c997af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kollision-24.12.0.tar.xz">kollision-24.12.0</a></td>
   <td align="right">304kB</td>
   <td><tt>af5c190158df17b486b8a2bfa71ee3c435f017cd7a5c6332406994e2a53ee789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kolourpaint-24.12.0.tar.xz">kolourpaint-24.12.0</a></td>
   <td align="right">5185kB</td>
   <td><tt>7275709d94dc07558a23c5b3059af486fbd280591c6062d16ac9a0d2453c581c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kompare-24.12.0.tar.xz">kompare-24.12.0</a></td>
   <td align="right">937kB</td>
   <td><tt>232d358c1621f9638d08b37017298c3a0848a58e405056e2a034cf53f59e3976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kongress-24.12.0.tar.xz">kongress-24.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>ffb3d3bb950ebcebc10733d62d36837c6963b609e462767f80cf417b03506957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/konqueror-24.12.0.tar.xz">konqueror-24.12.0</a></td>
   <td align="right">9520kB</td>
   <td><tt>b0c8d17b32a558403218819cf1d2feb3a09b06c6a91adc406f88a2c5d2c99e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/konquest-24.12.0.tar.xz">konquest-24.12.0</a></td>
   <td align="right">841kB</td>
   <td><tt>52bfa3f000430852b116b717d2774661eb63ae2cd7e0dfd91018b5808b5f3fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/konsole-24.12.0.tar.xz">konsole-24.12.0</a></td>
   <td align="right">1776kB</td>
   <td><tt>255f344d6ffe338dfeafd610bf6d63ed1bf9adf306948d58351838c057b21a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kontact-24.12.0.tar.xz">kontact-24.12.0</a></td>
   <td align="right">848kB</td>
   <td><tt>3c14a9533fe7968c6481883eb6a81e4fe8ef70ff0c5288514513b175a0a41733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kontactinterface-24.12.0.tar.xz">kontactinterface-24.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>ba2402d6083c420fbc31fcc7a3a7f4c57ee21eb137fbffbca927d20bd83799b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kontrast-24.12.0.tar.xz">kontrast-24.12.0</a></td>
   <td align="right">212kB</td>
   <td><tt>3528138ed55a0a3485edc7ce25f08e41c29dfe0014362d5ceb611c4e627ce304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/konversation-24.12.0.tar.xz">konversation-24.12.0</a></td>
   <td align="right">4312kB</td>
   <td><tt>1e8080a78372bc09e812c9278550763b8328f7aa78fcb3c93f04e492a5a3cd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kopeninghours-24.12.0.tar.xz">kopeninghours-24.12.0</a></td>
   <td align="right">73kB</td>
   <td><tt>16d29db8c240306794ef5938ce8ef8bea05974c81f4ebe3adf828a14eb6c0656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/korganizer-24.12.0.tar.xz">korganizer-24.12.0</a></td>
   <td align="right">2871kB</td>
   <td><tt>a340ca5b469ec0706947d3b23db87a490ae97a85524b907b0c5db0524d8f5746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kosmindoormap-24.12.0.tar.xz">kosmindoormap-24.12.0</a></td>
   <td align="right">676kB</td>
   <td><tt>f2a648d8dab8e568448fddcddd2bcc76387b6231cd6aca355030491aa6a336c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kpat-24.12.0.tar.xz">kpat-24.12.0</a></td>
   <td align="right">3648kB</td>
   <td><tt>4be3ebe62d2777b7f53d6065b540d2be52aeb41969427b3caa9d5cab15138b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kpimtextedit-24.12.0.tar.xz">kpimtextedit-24.12.0</a></td>
   <td align="right">172kB</td>
   <td><tt>3ff865a6319af3017ef07bffed6bcd39be026c9552214aead9021ad972ef7f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kpkpass-24.12.0.tar.xz">kpkpass-24.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>803f2a222e844f09b3ac68f0ee2c4032d2a3694c60b1188a9c5527e64e26c24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kpmcore-24.12.0.tar.xz">kpmcore-24.12.0</a></td>
   <td align="right">631kB</td>
   <td><tt>cfcc265902680f15031e966f86d5d2a4e7ca124abcbb4428199422ab205461eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kpublictransport-24.12.0.tar.xz">kpublictransport-24.12.0</a></td>
   <td align="right">739kB</td>
   <td><tt>b1e0f9498219e5733d47d2c8b60082201ea285215e392831a587267e2c683250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kqtquickcharts-24.12.0.tar.xz">kqtquickcharts-24.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>1e2fb9659b12585d3ed75d4c05ac7e0b00f68cbfe6bc52ae4e0df16fe85030e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/krdc-24.12.0.tar.xz">krdc-24.12.0</a></td>
   <td align="right">1521kB</td>
   <td><tt>7174604a50134bb23bda77e904986b170f9e35e41d83ce22ea2457608290c296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/krecorder-24.12.0.tar.xz">krecorder-24.12.0</a></td>
   <td align="right">164kB</td>
   <td><tt>ab4c9cc6ff95fd7503907526aba00faf97f4b3fa1cbdf020df2b7b9d80ccaaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kreversi-24.12.0.tar.xz">kreversi-24.12.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>f0319f8b14ec338984dc238c366f7263049a2401fa587481a8f9776c46131d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/krfb-24.12.0.tar.xz">krfb-24.12.0</a></td>
   <td align="right">1189kB</td>
   <td><tt>55917eb513fdc4cd745c4fb0b6d8e7dcfcf388e54c6d5ea52aebc88dba6d49f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kross-interpreters-24.12.0.tar.xz">kross-interpreters-24.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>1a2515cc79bf036cdf44281c1ae2e208d82da1869cae378f77ca82d7e9dc3529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kruler-24.12.0.tar.xz">kruler-24.12.0</a></td>
   <td align="right">279kB</td>
   <td><tt>d522d5b7c9648ca84b8f179fe3eea8c9c786a9cc1641da5565b1140dca1c7c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksanecore-24.12.0.tar.xz">ksanecore-24.12.0</a></td>
   <td align="right">53kB</td>
   <td><tt>3d5275d182be9b869eb26688195abe37bdc7c55dac669377a9bce7d847440829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kshisen-24.12.0.tar.xz">kshisen-24.12.0</a></td>
   <td align="right">949kB</td>
   <td><tt>c50e9914a0573c6dcab8ebea2d181522cf677059eaa341a1923d4529c37c267b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksirk-24.12.0.tar.xz">ksirk-24.12.0</a></td>
   <td align="right">6547kB</td>
   <td><tt>0b0cf308a5ef3b091ccc9a88c75c1d148469d6d4fba2e47fbdc10d55bae2097c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksmtp-24.12.0.tar.xz">ksmtp-24.12.0</a></td>
   <td align="right">51kB</td>
   <td><tt>7fb9496edd57199b2aeba3efa8e7a584e8093a67a91c114313460efc788c4570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksnakeduel-24.12.0.tar.xz">ksnakeduel-24.12.0</a></td>
   <td align="right">564kB</td>
   <td><tt>a274f1bda9d9136a141d07a532a48b83da3c8a489ca74db797000fd0436b7188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kspaceduel-24.12.0.tar.xz">kspaceduel-24.12.0</a></td>
   <td align="right">620kB</td>
   <td><tt>9d236e49f920f6a82a480d59c368d04221108a820ed2d64411def014ef16804b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksquares-24.12.0.tar.xz">ksquares-24.12.0</a></td>
   <td align="right">314kB</td>
   <td><tt>351080a07a6f9f95e37b6b68c0341244c0aa5d60656f3db4f23c913e7b53c99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksudoku-24.12.0.tar.xz">ksudoku-24.12.0</a></td>
   <td align="right">1688kB</td>
   <td><tt>3cab748001b2ff3aed003beaf810a27f23cbf74162d30853176d8684f2ad1259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ksystemlog-24.12.0.tar.xz">ksystemlog-24.12.0</a></td>
   <td align="right">1814kB</td>
   <td><tt>1b31eefb4c76a892d9a6c0a52490b3e9d42cce00040d3ea533a890f2fbf3983a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kteatime-24.12.0.tar.xz">kteatime-24.12.0</a></td>
   <td align="right">302kB</td>
   <td><tt>eb77c1ab028cc728f185a802d71ccd6d0c4b7b50161f9a435fb7316f7977edc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktimer-24.12.0.tar.xz">ktimer-24.12.0</a></td>
   <td align="right">442kB</td>
   <td><tt>2358d1de51add41f617078e59be67f49b714a0329d1bb13a32b066ace3914bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktnef-24.12.0.tar.xz">ktnef-24.12.0</a></td>
   <td align="right">306kB</td>
   <td><tt>0a7677d2acf7e25f5199e1acd9a3422370eff9a309ddd27740657768cbdd0660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktorrent-24.12.0.tar.xz">ktorrent-24.12.0</a></td>
   <td align="right">2138kB</td>
   <td><tt>1f61a7ad19eacb0bc7ddf5d060c1dfde76db65e7bdbc24a7a41a78f901982993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktouch-24.12.0.tar.xz">ktouch-24.12.0</a></td>
   <td align="right">4674kB</td>
   <td><tt>d571efbf4c86719cf81cb9a57ee08337e252aa224e243febe7424d206e2ddb79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktrip-24.12.0.tar.xz">ktrip-24.12.0</a></td>
   <td align="right">1014kB</td>
   <td><tt>cc263be64a0eba68a81f6ddbc0c1b5a8bd007cc2ba0f6e6f0547ae8b6716eaaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/ktuberling-24.12.0.tar.xz">ktuberling-24.12.0</a></td>
   <td align="right">69887kB</td>
   <td><tt>6f4febdcd65d8cb03a1532c6012dec7b4561ed48cf95a7eade92cd90e71ffab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kturtle-24.12.0.tar.xz">kturtle-24.12.0</a></td>
   <td align="right">2046kB</td>
   <td><tt>e0c2310fbcd76bae4dd33e35773f1d7d55b97117e6bbf7887b5208800aa9474c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kubrick-24.12.0.tar.xz">kubrick-24.12.0</a></td>
   <td align="right">366kB</td>
   <td><tt>b58faa25b3b28048beddfddecc19a55469e5d120e3a90ba290413d666daadd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kunifiedpush-24.12.0.tar.xz">kunifiedpush-24.12.0</a></td>
   <td align="right">52kB</td>
   <td><tt>ba99516fe72376afa30730a7e7fe32ef18f8054b7e81f50377299ea09c09e44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kwalletmanager-24.12.0.tar.xz">kwalletmanager-24.12.0</a></td>
   <td align="right">1024kB</td>
   <td><tt>5c2beeaadb9efbcbb9ebff8945a57d5806cccad8e78a8514f578253871449596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kwave-24.12.0.tar.xz">kwave-24.12.0</a></td>
   <td align="right">6317kB</td>
   <td><tt>711eac6beaf4efdfbb3dbbac5ff0838bcd655b738fce3b5b4a4f2bfab1f4c13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kweather-24.12.0.tar.xz">kweather-24.12.0</a></td>
   <td align="right">353kB</td>
   <td><tt>9acb898f082a5b6fc3187366c12d51dde75c8b50ad785005f3eadf8c2ea19a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kweathercore-24.12.0.tar.xz">kweathercore-24.12.0</a></td>
   <td align="right">74kB</td>
   <td><tt>f3470faf4408e0e7a8c8d1a913d3f7bcff4bb04307963019cf98d27a522f7559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/kwordquiz-24.12.0.tar.xz">kwordquiz-24.12.0</a></td>
   <td align="right">3688kB</td>
   <td><tt>a668876d68aeafe6fe90d8742d76131687a522169321fc046598a69e1a70f48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libgravatar-24.12.0.tar.xz">libgravatar-24.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>ed50ed375e435b23f90e8a9d639d6ad55a74df6800559d538cae16ec385a3d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkcddb-24.12.0.tar.xz">libkcddb-24.12.0</a></td>
   <td align="right">439kB</td>
   <td><tt>6beef1b07dbe2970c1b5613f8e98fffa008b8e2c9d37a6011614434ceb771944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkcompactdisc-24.12.0.tar.xz">libkcompactdisc-24.12.0</a></td>
   <td align="right">98kB</td>
   <td><tt>9bea8582bcf63acfebc7b67018edc6849b32f306bc6a45edb90f33048d4fbc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkdcraw-24.12.0.tar.xz">libkdcraw-24.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>0b4b6067fd362d218f6ee088c661c42b2f55cd9e3a8bdfb82efed96bd682625c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkdegames-24.12.0.tar.xz">libkdegames-24.12.0</a></td>
   <td align="right">5833kB</td>
   <td><tt>d919e8235b2507667d02e21b6871f556d87ab74eab6c0a5a65d313cccd688765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkdepim-24.12.0.tar.xz">libkdepim-24.12.0</a></td>
   <td align="right">276kB</td>
   <td><tt>7bbb03d777802399f50d51f4db06e498d3ef5e2c3cf87870224f6d5e7b82c4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkeduvocdocument-24.12.0.tar.xz">libkeduvocdocument-24.12.0</a></td>
   <td align="right">223kB</td>
   <td><tt>f855eac0ab1fa3caf1777484ef21ea0e66ff640e5a98f7ded29a82d02aa2e16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkexiv2-24.12.0.tar.xz">libkexiv2-24.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>27c7919d13ab7d481c064f115831fd4e276354bf1b61adf48350e28fab6730f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkgapi-24.12.0.tar.xz">libkgapi-24.12.0</a></td>
   <td align="right">331kB</td>
   <td><tt>3ed3e2370cddbc6af483041ffc5402f1665fae0a42e718c38377924a43d42dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkleo-24.12.0.tar.xz">libkleo-24.12.0</a></td>
   <td align="right">623kB</td>
   <td><tt>f916785386e87bc9381cc9a4ff7502a74fc7e30eb1d6e82f9c44ed4bae9f1077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkmahjongg-24.12.0.tar.xz">libkmahjongg-24.12.0</a></td>
   <td align="right">1654kB</td>
   <td><tt>e62028df0114b178ec8a2fc093f9e685063fa987c922a1ca0c64e9d905380cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libkomparediff2-24.12.0.tar.xz">libkomparediff2-24.12.0</a></td>
   <td align="right">183kB</td>
   <td><tt>fa729d5e8dcc3d45aa041292b21989314c2d3ec73f00ca436fe27f58000b6e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libksane-24.12.0.tar.xz">libksane-24.12.0</a></td>
   <td align="right">151kB</td>
   <td><tt>35e079267a069906627a3ba53297f181be0d28ef483806d0fbe24920741e1c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libksieve-24.12.0.tar.xz">libksieve-24.12.0</a></td>
   <td align="right">589kB</td>
   <td><tt>c48699eaafe04d09a0acd134e8c3d10f3db8ef3a017923923499b25d12035272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/libktorrent-24.12.0.tar.xz">libktorrent-24.12.0</a></td>
   <td align="right">590kB</td>
   <td><tt>8d45ebceb9004b2905d015383e5c0cda2a15d869527f3bb010f3a837d4f32f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/lokalize-24.12.0.tar.xz">lokalize-24.12.0</a></td>
   <td align="right">2011kB</td>
   <td><tt>b53c6941a80e80d79cca34dff01abf232298c8474909cf4fd390289098d0c5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/lskat-24.12.0.tar.xz">lskat-24.12.0</a></td>
   <td align="right">1198kB</td>
   <td><tt>7af2da3f03bdfd1894899683e6e058b5824ebefb19c2f351471e685dd207facb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/mailcommon-24.12.0.tar.xz">mailcommon-24.12.0</a></td>
   <td align="right">771kB</td>
   <td><tt>409e8fc2188392e9ae1452d443eed33ec3fbc017aba7e7e0ae02dd0758cf1e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/mailimporter-24.12.0.tar.xz">mailimporter-24.12.0</a></td>
   <td align="right">582kB</td>
   <td><tt>98ef8275a3ebbd2a23daeb8611de6eb771c8f650d230ca37176f18c30f001993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/marble-24.12.0.tar.xz">marble-24.12.0</a></td>
   <td align="right">52378kB</td>
   <td><tt>a347f134d1428bd46b886bb41a292a2fec4aea4de274bff73cd8b8994f920576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/markdownpart-24.12.0.tar.xz">markdownpart-24.12.0</a></td>
   <td align="right">33kB</td>
   <td><tt>7a470205fa39b60d81472f1617eb1fe4c8699a061faad090e14a05d23b7bf8f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/massif-visualizer-24.12.0.tar.xz">massif-visualizer-24.12.0</a></td>
   <td align="right">273kB</td>
   <td><tt>738ab85f85d391cb541a22662b825682b1c1d99a6851b66d5c65c713551dd52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/mbox-importer-24.12.0.tar.xz">mbox-importer-24.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>eceea4ae75a94ac758486a7a39dfc09c4d63a3a8df8e0379fdc4f1b8fe8b2773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/merkuro-24.12.0.tar.xz">merkuro-24.12.0</a></td>
   <td align="right">773kB</td>
   <td><tt>335540c4ec47441f7f09df224d3dd4aff5758c377e41c208fca31fdefcf20eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/messagelib-24.12.0.tar.xz">messagelib-24.12.0</a></td>
   <td align="right">7245kB</td>
   <td><tt>9eff795b5e12d30ba33171442de3a3bd66772039f19214e55384e9596fc82ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/mimetreeparser-24.12.0.tar.xz">mimetreeparser-24.12.0</a></td>
   <td align="right">631kB</td>
   <td><tt>1994ceb0704bb12eff08a5850a7986acd99979e248889c9631aba8f82e42dab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/minuet-24.12.0.tar.xz">minuet-24.12.0</a></td>
   <td align="right">27046kB</td>
   <td><tt>aa0097cf2aafdbdc76c723b6b947a251a9b9b96f06660367c3887a0392d1edd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/neochat-24.12.0.tar.xz">neochat-24.12.0</a></td>
   <td align="right">1038kB</td>
   <td><tt>c88f8292575b7298cad7f426dec26aef33cd3da6dd1be65484436507b461eeb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/okular-24.12.0.tar.xz">okular-24.12.0</a></td>
   <td align="right">7867kB</td>
   <td><tt>8258058c40254ae888a3f85b28563b29b116496af235b335449323a5f25e57d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/palapeli-24.12.0.tar.xz">palapeli-24.12.0</a></td>
   <td align="right">2072kB</td>
   <td><tt>951c3999382b7546bc298132aaffe2ab4204dcc9cd38c31fb2d8adc609b5a755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/parley-24.12.0.tar.xz">parley-24.12.0</a></td>
   <td align="right">8236kB</td>
   <td><tt>9dda0372f868f70daf36343fbea458c98f37effbda9728a7a066f9d26139b67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/partitionmanager-24.12.0.tar.xz">partitionmanager-24.12.0</a></td>
   <td align="right">2268kB</td>
   <td><tt>f245132bd4e7b4583ba3bf046684e516d2f23a752b4ead40d788870021fe177b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/picmi-24.12.0.tar.xz">picmi-24.12.0</a></td>
   <td align="right">1483kB</td>
   <td><tt>5b84f0b0770616dc7efdde6f2c5aea7dd6f8fb76c36e1bcd84934cdfb99f1549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/pimcommon-24.12.0.tar.xz">pimcommon-24.12.0</a></td>
   <td align="right">357kB</td>
   <td><tt>bcca986072612234a627c15777a530039904615288b9ce0d0d20f975c0adec24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/pim-data-exporter-24.12.0.tar.xz">pim-data-exporter-24.12.0</a></td>
   <td align="right">411kB</td>
   <td><tt>d544034f3a5ea29b5bd45bd757d257162fb10d2affadff52a00bbf1ef1f8e06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/pim-sieve-editor-24.12.0.tar.xz">pim-sieve-editor-24.12.0</a></td>
   <td align="right">459kB</td>
   <td><tt>1b37acf93cb07d066f7a7542e4104bef1b1706258478bec06b4dc24b03d8cdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/plasmatube-24.12.0.tar.xz">plasmatube-24.12.0</a></td>
   <td align="right">211kB</td>
   <td><tt>36654d2b6ec1b8ce282253fa78569dacf7d918919f965bd959bf5924a08b748e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/poxml-24.12.0.tar.xz">poxml-24.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>3457d1eee055dd69adf6ca97f1e0db4d37c998f12346160ad6f69ef66400fea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/qmlkonsole-24.12.0.tar.xz">qmlkonsole-24.12.0</a></td>
   <td align="right">193kB</td>
   <td><tt>bba9a8a56e3665a95f818e9cc6d952eecbef8b51f5038ca6c3fdea5f89d1af03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/rocs-24.12.0.tar.xz">rocs-24.12.0</a></td>
   <td align="right">1530kB</td>
   <td><tt>dcbb3fac20057ea3fc65bee3a54c5a7d90414c6234354c0e91814e29de4ebd7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/signon-kwallet-extension-24.12.0.tar.xz">signon-kwallet-extension-24.12.0</a></td>
   <td align="right">11kB</td>
   <td><tt>aaf0ca9b42867c2a037fd983cb42720b3a87243226d5d6ed8cda7d0ce466e438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/skanlite-24.12.0.tar.xz">skanlite-24.12.0</a></td>
   <td align="right">2334kB</td>
   <td><tt>e4f9850fc9b9cecd04d695abe87cbf91a32b0ee58bf56ccdf13470727ab322e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/skanpage-24.12.0.tar.xz">skanpage-24.12.0</a></td>
   <td align="right">1306kB</td>
   <td><tt>9fa176b2adfd6a1031f985ce727b7d44341c56e7933d06b0439c0fc76e9e3174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/skladnik-24.12.0.tar.xz">skladnik-24.12.0</a></td>
   <td align="right">403kB</td>
   <td><tt>1a5c4b891009d32ff54cd426ca30b3d48f5fccc64309bf879308d8a0710cf22b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/spectacle-24.12.0.tar.xz">spectacle-24.12.0</a></td>
   <td align="right">1524kB</td>
   <td><tt>091210b6b61aa725f808a0c0b70de164b8ac7ede52ca3f56a012191a2fcdf0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/step-24.12.0.tar.xz">step-24.12.0</a></td>
   <td align="right">965kB</td>
   <td><tt>6594a0e02b5f9775c340638c132092e76c7d8f16fbd94d6ea6303fa70a95fe5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/svgpart-24.12.0.tar.xz">svgpart-24.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>ac1d24564f582b36d26b2b4ab0664b394368ad1123509d9b075e8e6bde684c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/sweeper-24.12.0.tar.xz">sweeper-24.12.0</a></td>
   <td align="right">375kB</td>
   <td><tt>3254887c57342bdfcbb05d3160f5cae1ccbb91e4a4b56876726b16ce6e2091a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/telly-skout-24.12.0.tar.xz">telly-skout-24.12.0</a></td>
   <td align="right">104kB</td>
   <td><tt>659716f28795b320b832be43e34722183760dd0aa4305673afc065f85fda9560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/tokodon-24.12.0.tar.xz">tokodon-24.12.0</a></td>
   <td align="right">639kB</td>
   <td><tt>debc060f1c8573d5b937ada1ca043290bb37f58f420ef4a9c8327683e21fa537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/umbrello-24.12.0.tar.xz">umbrello-24.12.0</a></td>
   <td align="right">5485kB</td>
   <td><tt>b972ad5f1a1887047a031839dc99fb27067ebabdb26c80ee5e07750f2b93f0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/yakuake-24.12.0.tar.xz">yakuake-24.12.0</a></td>
   <td align="right">380kB</td>
   <td><tt>c485c67645f312e53e3e232be9a9bb72be033e6bb5dafe01c19aa3eb7e028466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.0/src/zanshin-24.12.0.tar.xz">zanshin-24.12.0</a></td>
   <td align="right">368kB</td>
   <td><tt>6a84825fc75e5b0ce04aec8decd8062989f5463ab94f76f8d40a5f5ccbf6cf90</tt></td>
</tr>

</table>
