<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/bluedevil-5.9.2.tar.xz">bluedevil-5.9.2</a></td>
   <td align="right">140kB</td>
   <td><tt>2316c455f8656d3e59d7780be94e751197781b9d2bf5e991d1d3295fa9637c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/breeze-5.9.2.tar.xz">breeze-5.9.2</a></td>
   <td align="right">29MB</td>
   <td><tt>2b0e9c8e4b92bb169d79b6815f1c7adea70056aa73949600cc1485eb6124693d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/breeze-grub-5.9.2.tar.xz">breeze-grub-5.9.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b96612da1d1b4636c14e34d195ede39394918b203d25d141e4615edf5e3434dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/breeze-gtk-5.9.2.tar.xz">breeze-gtk-5.9.2</a></td>
   <td align="right">206kB</td>
   <td><tt>70185746dfe98e07294848337af03b0ae8b7710084c9af020293ce31a2f30f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/breeze-plymouth-5.9.2.tar.xz">breeze-plymouth-5.9.2</a></td>
   <td align="right">94kB</td>
   <td><tt>0a810255d609f45d1d75eaa33a5e935ba336b81c791e2fe311cf2345445d3965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/discover-5.9.2.tar.xz">discover-5.9.2</a></td>
   <td align="right">9.2MB</td>
   <td><tt>420c97b959eb9130cf54ab09a68b1ee1504eb31c676059e24f01fa5a86528f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kactivitymanagerd-5.9.2.tar.xz">kactivitymanagerd-5.9.2</a></td>
   <td align="right">81kB</td>
   <td><tt>47e652cae3f59288c0d7a08d5a7cccd1de98475a9908bdbb36697c6571730be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kde-cli-tools-5.9.2.tar.xz">kde-cli-tools-5.9.2</a></td>
   <td align="right">489kB</td>
   <td><tt>abe6805e8ed108ac693c8459093255bab42b3f132a2d73d61e362bbf866098f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kdecoration-5.9.2.tar.xz">kdecoration-5.9.2</a></td>
   <td align="right">34kB</td>
   <td><tt>ced8508d9e86f13b6fdcf07a16b4b830da50f15c1efd9d931032ae6a16dd4940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kde-gtk-config-5.9.2.tar.xz">kde-gtk-config-5.9.2</a></td>
   <td align="right">147kB</td>
   <td><tt>f1739eb1e1a2ad68dc8fea7b39371d331480d3e1051b159becde16cecbaf89cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kdeplasma-addons-5.9.2.tar.xz">kdeplasma-addons-5.9.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e6221a2b1f86b1ec442767172b527e081d27c8cb4f159e2efb69be937470287a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kgamma5-5.9.2.tar.xz">kgamma5-5.9.2</a></td>
   <td align="right">59kB</td>
   <td><tt>3ab19e0434b11d9d55aac97413b3a0ac896776f52b20332adc112d45aea6d3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/khotkeys-5.9.2.tar.xz">khotkeys-5.9.2</a></td>
   <td align="right">591kB</td>
   <td><tt>88d1633e7271e8d90814501d10d2e393f3d43428ad0240e8f03bb9fa7c348e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kinfocenter-5.9.2.tar.xz">kinfocenter-5.9.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>bef138f07707893832bceba86525f43ce0605d0bf8633651024138b5b46a4be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kmenuedit-5.9.2.tar.xz">kmenuedit-5.9.2</a></td>
   <td align="right">637kB</td>
   <td><tt>630bd3ec270639fe9d02f03b7d8c6f4fca0cfc7c16ad50e3225287f2ca68984f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kscreen-5.9.2.tar.xz">kscreen-5.9.2</a></td>
   <td align="right">110kB</td>
   <td><tt>d06eb4ea86446b3d898f85c56b37629587b3f3016850270624ff3177b3a6d86e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kscreenlocker-5.9.2.tar.xz">kscreenlocker-5.9.2</a></td>
   <td align="right">105kB</td>
   <td><tt>69c264e7c9f0fa5c826b912a5ebe5f1e582d338bd93214df8ece064bb4e7bcfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/ksshaskpass-5.9.2.tar.xz">ksshaskpass-5.9.2</a></td>
   <td align="right">19kB</td>
   <td><tt>e4ca4282814da54595919f617cea3050a8e266d1cb8b83e05f26c84b5e3c209e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/ksysguard-5.9.2.tar.xz">ksysguard-5.9.2</a></td>
   <td align="right">476kB</td>
   <td><tt>664763f003d863df6d8477cacd76f17e70767ee5ce1730886bc4ab8b7faa8c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kwallet-pam-5.9.2.tar.xz">kwallet-pam-5.9.2</a></td>
   <td align="right">17kB</td>
   <td><tt>4f57e7b5918ef196d00ec8f33875b30c6bfdeac85d44325cc6a733d23cbb2975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kwayland-integration-5.9.2.tar.xz">kwayland-integration-5.9.2</a></td>
   <td align="right">17kB</td>
   <td><tt>e9154d8979d596216c8e11494f7b59ebc37e03986787123f8df8faf9f00f9741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kwin-5.9.2.tar.xz">kwin-5.9.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>3cc87aa4c9a092c2c0df2fcf536d1774928c12c5410a389c0127164b33530c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/kwrited-5.9.2.tar.xz">kwrited-5.9.2</a></td>
   <td align="right">19kB</td>
   <td><tt>2b65b6c50180322c33c55278fead0f9b62e05665c8cb4ed3908ae5ed7a923ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/libkscreen-5.9.2.tar.xz">libkscreen-5.9.2</a></td>
   <td align="right">91kB</td>
   <td><tt>ef41b091c5a4c1525d3ac398f7e4af84fd56801b8299b3b2856d4143bb0aa546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/libksysguard-5.9.2.tar.xz">libksysguard-5.9.2</a></td>
   <td align="right">561kB</td>
   <td><tt>897ef20ff4a62a3ec8250653b2912be90971234fc43b8ce4b7ae0d00489d7504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/milou-5.9.2.tar.xz">milou-5.9.2</a></td>
   <td align="right">53kB</td>
   <td><tt>ad43b448e916f5f390eb4929472db8f7b514d89acf2c46861f822e4e601ad42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/oxygen-5.9.2.tar.xz">oxygen-5.9.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>482f814e7d833abc7295a8cccf324fdda9e927bc2001de37c6ff4cad07f3ad0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-desktop-5.9.2.tar.xz">plasma-desktop-5.9.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>2a5644228762137e83aa481767d6f061d1f8b51a04e24fa9ef78bf26a6ca5b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-integration-5.9.2.tar.xz">plasma-integration-5.9.2</a></td>
   <td align="right">48kB</td>
   <td><tt>239f68671b1d1c7eb7e937dc9acf9b01ab1e5e13f69d032fa645aa7d880b3afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-nm-5.9.2.tar.xz">plasma-nm-5.9.2</a></td>
   <td align="right">652kB</td>
   <td><tt>e072ebd1c3614320a65ea3b10b23971bde0688827525e232b53f4365e345298f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-pa-5.9.2.tar.xz">plasma-pa-5.9.2</a></td>
   <td align="right">68kB</td>
   <td><tt>a6e35cf87acf10ee8d55c1fb04a574d1756d350d52cf663edc9c65b26c55b21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-sdk-5.9.2.tar.xz">plasma-sdk-5.9.2</a></td>
   <td align="right">705kB</td>
   <td><tt>af8423848c278cb8ffa667f5293376350d1552a37efddeeb7f7fa900754bc36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-tests-5.9.2.tar.xz">plasma-tests-5.9.2</a></td>
   <td align="right">1kB</td>
   <td><tt>732876030c24c86725d1038fe152f7040e4e12c2512bb6118c4b624123877fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-workspace-5.9.2.tar.xz">plasma-workspace-5.9.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a66824802fe9d7b42e05251d31dc677e3932c189de53328d83ef19f564e41a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/plasma-workspace-wallpapers-5.9.2.tar.xz">plasma-workspace-wallpapers-5.9.2</a></td>
   <td align="right">43MB</td>
   <td><tt>dc67f29fcf9a721bc5b00ddca66bd81e3ad50383be7459262d2e048bae68b163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/polkit-kde-agent-1-5.9.2.tar.xz">polkit-kde-agent-1-5.9.2</a></td>
   <td align="right">40kB</td>
   <td><tt>c3d95e6c3ffc827f209bbccf1a663268bc3d3ee495c611ec363b6e98f89e22ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/powerdevil-5.9.2.tar.xz">powerdevil-5.9.2</a></td>
   <td align="right">349kB</td>
   <td><tt>69be5802b9ba9aac8adbc835ec6c5d0c98603e4c04e5666e9ca74e936e824c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/sddm-kcm-5.9.2.tar.xz">sddm-kcm-5.9.2</a></td>
   <td align="right">54kB</td>
   <td><tt>d0ae0b53ec61fdffe4cbaa3893c97b21430eb71b54ec6fbc7d23caa5b57ea289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/systemsettings-5.9.2.tar.xz">systemsettings-5.9.2</a></td>
   <td align="right">154kB</td>
   <td><tt>a7f9827178e04f8fbf2f729a785b80261f9ae150f907afdee5718fb574ab0736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.2/user-manager-5.9.2.tar.xz">user-manager-5.9.2</a></td>
   <td align="right">530kB</td>
   <td><tt>a767012194bdcf305080457885d50aba267fd0b85f6a8bebf66b4f2bbe8c35a2</tt></td>
</tr>

</table>
