<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/bluedevil-6.0.3.tar.xz">bluedevil-6.0.3</a></td>
   <td align="right">360kB</td>
   <td><tt>d263be54825a4189d456b01a7ce0bdb4275a1b555e3782b10a8a77d2be93cb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/breeze-6.0.3.tar.xz">breeze-6.0.3</a></td>
   <td align="right">55MB</td>
   <td><tt>597c46097040ae79a4b47086c5cca121bf2b4479bcd0993026e9ccd260b4b1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/breeze-grub-6.0.3.tar.xz">breeze-grub-6.0.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7bb8bd153f09d028f5907594fc0e8085294b4b518700ac4252542baca09ab115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/breeze-gtk-6.0.3.tar.xz">breeze-gtk-6.0.3</a></td>
   <td align="right">39kB</td>
   <td><tt>b7c130dc6b2743aad3908d54b0baf2a7b7fe717d5265f7605041eb37d410ea36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/breeze-plymouth-6.0.3.tar.xz">breeze-plymouth-6.0.3</a></td>
   <td align="right">108kB</td>
   <td><tt>01f7d055a9a761b0ca97d7d44dbcd73289103c1d0afd752e237df4058073cf40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/discover-6.0.3.tar.xz">discover-6.0.3</a></td>
   <td align="right">975kB</td>
   <td><tt>b29196211f8f84bfde92ed59366cb3bbc7fd6ce340b02266ad0bac26c1dc779e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/drkonqi-6.0.3.tar.xz">drkonqi-6.0.3</a></td>
   <td align="right">853kB</td>
   <td><tt>1fa9e7522551a9aab92d8ade3f6bbb7fcfb832973a01111aa444b188e434e2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/flatpak-kcm-6.0.3.tar.xz">flatpak-kcm-6.0.3</a></td>
   <td align="right">233kB</td>
   <td><tt>93eb5468b1dfcf1a853559b66e25d6ae490d65ba3975263f1e5c0718b4ae3a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kactivitymanagerd-6.0.3.tar.xz">kactivitymanagerd-6.0.3</a></td>
   <td align="right">107kB</td>
   <td><tt>4f92314fc2117dc26ff671c3334e0076d5f2b7feca434f4e138bfdf574b67ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kde-cli-tools-6.0.3.tar.xz">kde-cli-tools-6.0.3</a></td>
   <td align="right">613kB</td>
   <td><tt>50de4abcaf2659ba8c1be857bcb7f1a09550d27cc47f25a0dee592110a559c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kdecoration-6.0.3.tar.xz">kdecoration-6.0.3</a></td>
   <td align="right">53kB</td>
   <td><tt>3c91f65a9b1ea08cf203e79ec4edfea688c463d7d218c95296c0376bdf5956f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kde-gtk-config-6.0.3.tar.xz">kde-gtk-config-6.0.3</a></td>
   <td align="right">76kB</td>
   <td><tt>36d4cf4fe4acdec5d917c8ff3ff15748e6fcb356dcd3a4488c9e087e79b564c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kdeplasma-addons-6.0.3.tar.xz">kdeplasma-addons-6.0.3</a></td>
   <td align="right">842kB</td>
   <td><tt>2dec1e005e2e87f3c8d383a0678b1bf98d488507d3de94a7df8cd93e3bb967c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kgamma-6.0.3.tar.xz">kgamma-6.0.3</a></td>
   <td align="right">85kB</td>
   <td><tt>816e79b0992fa2ae6d4f6dd6b277f508562df84e0061d9c060955753b84224d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kglobalacceld-6.0.3.tar.xz">kglobalacceld-6.0.3</a></td>
   <td align="right">51kB</td>
   <td><tt>12a137ee5052fdbf76c54c4efc07d550edca5a25a7b434d522c1418e3e35b2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kinfocenter-6.0.3.tar.xz">kinfocenter-6.0.3</a></td>
   <td align="right">811kB</td>
   <td><tt>ee9c2ddaee2c8bf453c38e82c3327dc83ad390042dd106c19ddf4b6251a8adfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kmenuedit-6.0.3.tar.xz">kmenuedit-6.0.3</a></td>
   <td align="right">908kB</td>
   <td><tt>7cf8d4e2aa9e2633a9d0f092025c48c0a731a14cf920a6b528d8ffe7b4d6c72c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kpipewire-6.0.3.tar.xz">kpipewire-6.0.3</a></td>
   <td align="right">141kB</td>
   <td><tt>1aba7a04bf35c8869068af387845121b5db4e7e61f1990e4deb86cb683a0527e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kscreen-6.0.3.tar.xz">kscreen-6.0.3</a></td>
   <td align="right">197kB</td>
   <td><tt>5916e086c2260040a54dda00fe32fa768540daba78915f2d76ba5df79d799a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kscreenlocker-6.0.3.tar.xz">kscreenlocker-6.0.3</a></td>
   <td align="right">160kB</td>
   <td><tt>4afedb43a935241ff698e44905b4af6e1901440326868093163ca36f8398d669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/ksshaskpass-6.0.3.tar.xz">ksshaskpass-6.0.3</a></td>
   <td align="right">28kB</td>
   <td><tt>b7ea4a5bbb50ab0c98f042d001a835f0fe84f2cb91e4f6f90f1be0c66a183209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/ksystemstats-6.0.3.tar.xz">ksystemstats-6.0.3</a></td>
   <td align="right">121kB</td>
   <td><tt>7fec3a705dd06faff4f98ce94b505fca957e09d826192402f9643f818dcf4445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kwallet-pam-6.0.3.tar.xz">kwallet-pam-6.0.3</a></td>
   <td align="right">22kB</td>
   <td><tt>22cd8b00ae17a92c473af6196a36855fc3eace9204b73f3bce2489d80f34e87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kwayland-6.0.3.tar.xz">kwayland-6.0.3</a></td>
   <td align="right">130kB</td>
   <td><tt>fbb129acfba82bb0aa3a98790b5562bf3fca867ef41f4823c6f13c6605036698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kwayland-integration-6.0.3.tar.xz">kwayland-integration-6.0.3</a></td>
   <td align="right">25kB</td>
   <td><tt>d9dcf435ca32d49f241b9116cb359ad93ad0f0ab2067f6e41b955a7834d8e1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kwin-6.0.3.1.tar.xz">kwin-6.0.3.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>f15108a993206b962a3c5835b988a0b4922c0a9bc9ab80faf6b36a334d321b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/kwrited-6.0.3.tar.xz">kwrited-6.0.3</a></td>
   <td align="right">23kB</td>
   <td><tt>39dfa8fedeadf139abc610a88c517cab658d52cba50223a68b70760be1277bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/layer-shell-qt-6.0.3.tar.xz">layer-shell-qt-6.0.3</a></td>
   <td align="right">20kB</td>
   <td><tt>3443c57a8f8be26efa40b3f2f748d130ac64d613f894e798d6fa52e29b59b517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/libkscreen-6.0.3.tar.xz">libkscreen-6.0.3</a></td>
   <td align="right">115kB</td>
   <td><tt>4785fc3e2a5e6db3a62cc58f1682dd75134ec88c9d966b9d8fb22e870aa33483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/libksysguard-6.0.3.tar.xz">libksysguard-6.0.3</a></td>
   <td align="right">286kB</td>
   <td><tt>53361387f39293c721af0d4bac48bb008757e642fda9b9af8190a1ca9d9c2b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/libplasma-6.0.3.tar.xz">libplasma-6.0.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1ca020026deda38a46cb34cd71d7c49c3b18b9bef26caf1cef765abf49fdf71d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/milou-6.0.3.tar.xz">milou-6.0.3</a></td>
   <td align="right">48kB</td>
   <td><tt>2efbf9e2a644145d2da4a1040e6a2f4e547032eafc61190659bb571f8e7cd3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/ocean-sound-theme-6.0.3.tar.xz">ocean-sound-theme-6.0.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>63bbdf6ec15c14ec80807cbc428650e5e2de1e9c639b7ddeae5c7899c233c536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/oxygen-6.0.3.tar.xz">oxygen-6.0.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>737d5dba2d8a6229d7c3d654b5900aa3c0a2a3a8e36cb5c87d8ed7a738233c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/oxygen-sounds-6.0.3.tar.xz">oxygen-sounds-6.0.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>30ea00a09c7595f6e8471aa028b45d3f518f58e3b19ac14c8817b16245284fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma5support-6.0.3.tar.xz">plasma5support-6.0.3</a></td>
   <td align="right">54kB</td>
   <td><tt>c883bb07e513edc66fd3939a542f3c4e017c882c1851286e55bb7addcb5c3495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-activities-6.0.3.tar.xz">plasma-activities-6.0.3</a></td>
   <td align="right">69kB</td>
   <td><tt>c61595e9f47eefaf47e3baf400dcfd0ba012aae48c69342d8fa0e3a1e12570ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-activities-stats-6.0.3.tar.xz">plasma-activities-stats-6.0.3</a></td>
   <td align="right">81kB</td>
   <td><tt>5dd98cc027a637fdb6efd2de0dd5e67edbb4fb046118d1fe49c3e95f6d441a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-browser-integration-6.0.3.tar.xz">plasma-browser-integration-6.0.3</a></td>
   <td align="right">214kB</td>
   <td><tt>86a72e3a48107faa08296751f56d520564525c40356cf4a5af126a2548ddc5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-desktop-6.0.3.tar.xz">plasma-desktop-6.0.3</a></td>
   <td align="right">14MB</td>
   <td><tt>019b10bb8d04a8069d82a59113c021a1e5a24d379dea5be3097017aae11bd9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-disks-6.0.3.tar.xz">plasma-disks-6.0.3</a></td>
   <td align="right">97kB</td>
   <td><tt>fa6f1cf9084d7fefdadbe0c958577aca7447b1397ec4d41461aeae44af6ac328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-firewall-6.0.3.tar.xz">plasma-firewall-6.0.3</a></td>
   <td align="right">359kB</td>
   <td><tt>18a57d2fa505d82accff3516c4e1a203b0938a4814f0445286815c19ee2b759a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-integration-6.0.3.tar.xz">plasma-integration-6.0.3</a></td>
   <td align="right">90kB</td>
   <td><tt>5beb7784d124d9ea108f008043a93c837c07573f5bc8afcf9216eeb4644afd8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-mobile-6.0.3.1.tar.xz">plasma-mobile-6.0.3.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a48933bfe539b3724ec4a3f82705b9e12178330860340d67778ae20a6536db83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-nano-6.0.3.tar.xz">plasma-nano-6.0.3</a></td>
   <td align="right">75kB</td>
   <td><tt>9818ce904f18304d30b22acd713980577de6cc0bd75ea0cfb64bed250d004b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-nm-6.0.3.tar.xz">plasma-nm-6.0.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1058b85942deb5c79632f5c32f09f781b70381de1239e1ce87dfe9972856ed3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-pa-6.0.3.tar.xz">plasma-pa-6.0.3</a></td>
   <td align="right">166kB</td>
   <td><tt>b1e198a01551e87275b3f9b718b94df3edf391dccf2ba71ea9af07bc52ddee5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-sdk-6.0.3.tar.xz">plasma-sdk-6.0.3</a></td>
   <td align="right">318kB</td>
   <td><tt>4ae4d495c77b6508ef8535d39b73a8b14c1ee1297c7dba740e928b260fdbfd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-systemmonitor-6.0.3.tar.xz">plasma-systemmonitor-6.0.3</a></td>
   <td align="right">177kB</td>
   <td><tt>25c308e98c78072a04456215932b613e8fb9ea71ec520c0500d71e6ab0bc5847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-thunderbolt-6.0.3.tar.xz">plasma-thunderbolt-6.0.3</a></td>
   <td align="right">73kB</td>
   <td><tt>c50ff28839eee87626eb7f191ff56c0c966176dd10d3f42a9bce280e33134d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-vault-6.0.3.tar.xz">plasma-vault-6.0.3</a></td>
   <td align="right">188kB</td>
   <td><tt>51842d70afb579c1af8b171bdbdef9869a98da86e2e15de47f0d294ee1aa89f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-welcome-6.0.3.tar.xz">plasma-welcome-6.0.3</a></td>
   <td align="right">886kB</td>
   <td><tt>db61235c0f7478707095b1ec99ce13c270feb81a181d44eb8d4309251b63d41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-workspace-6.0.3.tar.xz">plasma-workspace-6.0.3</a></td>
   <td align="right">19MB</td>
   <td><tt>e43ea8003a8753279df4580ebed17eea352e9694b54dba4507406025a41f69c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plasma-workspace-wallpapers-6.0.3.tar.xz">plasma-workspace-wallpapers-6.0.3</a></td>
   <td align="right">104MB</td>
   <td><tt>66ecbd25db634aeb52be05fc3dcc4a71b1cffdee12ab645147ae5f2ec4237bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/plymouth-kcm-6.0.3.tar.xz">plymouth-kcm-6.0.3</a></td>
   <td align="right">45kB</td>
   <td><tt>2063747d111bd86d794f83e46358252420b2d13c8356912564ea8c7fa18b46ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/polkit-kde-agent-1-6.0.3.tar.xz">polkit-kde-agent-1-6.0.3</a></td>
   <td align="right">54kB</td>
   <td><tt>3dbc5f47eec7092ccf1f4295a349fe69ae84ce800bea90925a096b638dd0cbfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/powerdevil-6.0.3.tar.xz">powerdevil-6.0.3</a></td>
   <td align="right">775kB</td>
   <td><tt>1c9b90e30cb2222e0f5cd2aaf0a8f8908c9e7ec1151ad40dcd7cf7540ea1ed92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/print-manager-6.0.3.tar.xz">print-manager-6.0.3</a></td>
   <td align="right">329kB</td>
   <td><tt>f2a2e91e7c43b6ab1db0b99a97c42a4845230c7f6cb739cb30a48c282457e48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/qqc2-breeze-style-6.0.3.tar.xz">qqc2-breeze-style-6.0.3</a></td>
   <td align="right">64kB</td>
   <td><tt>401844f87e1be48e15f167af641ab311a20376c48a9b3ee21c76ee25e8a3dbd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/sddm-kcm-6.0.3.tar.xz">sddm-kcm-6.0.3</a></td>
   <td align="right">95kB</td>
   <td><tt>faa75e0f5afe1e290f00c696fbf76e4aa71188e351bf844547043e062600986e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/systemsettings-6.0.3.tar.xz">systemsettings-6.0.3</a></td>
   <td align="right">213kB</td>
   <td><tt>1c74d8928bbd0cbd58f01fd5eda9db8cd325e17e63b7436c0f19d3208f51c5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/wacomtablet-6.0.3.tar.xz">wacomtablet-6.0.3</a></td>
   <td align="right">805kB</td>
   <td><tt>c0c0fb2314c64aadeb13f414121ae76cc18d279603d52fc6db1259fbbfc33b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.3/xdg-desktop-portal-kde-6.0.3.tar.xz">xdg-desktop-portal-kde-6.0.3</a></td>
   <td align="right">159kB</td>
   <td><tt>bd659b7e1b68ded28d8199abf8c5f49fc6eeb432c9b6a8843ebf4c04cc035aa9</tt></td>
</tr>

</table>
