
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/attica-5.14.0.tar.xz">attica-5.14.0</a></td>
   <td align="right">59kB</td>
   <td><tt>a438aaacd23afc4aac779effe5ba20cec55e9328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/baloo-5.14.0.tar.xz">baloo-5.14.0</a></td>
   <td align="right">149kB</td>
   <td><tt>ef74f411a6b2d8d7858b8edf4de9d4306867604e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/bluez-qt-5.14.0.tar.xz">bluez-qt-5.14.0</a></td>
   <td align="right">71kB</td>
   <td><tt>7f4a25e758ec8e1ea5d6025fb8799953ddcd9dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/extra-cmake-modules-5.14.0.tar.xz">extra-cmake-modules-5.14.0</a></td>
   <td align="right">131kB</td>
   <td><tt>6e88ebe4acea14d7b8a0eaadcc3f2892d6a9b304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/frameworkintegration-5.14.0.tar.xz">frameworkintegration-5.14.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>12e3d9f3236cd14745c4ca38da79676d8082f3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kactivities-5.14.0.tar.xz">kactivities-5.14.0</a></td>
   <td align="right">168kB</td>
   <td><tt>dbc47dc29d7b209c35c662d6e6d967afb5d68340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kapidox-5.14.0.tar.xz">kapidox-5.14.0</a></td>
   <td align="right">129kB</td>
   <td><tt>d52d4f6c32a93ed022ef7c318869260595d22bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/karchive-5.14.0.tar.xz">karchive-5.14.0</a></td>
   <td align="right">105kB</td>
   <td><tt>bd637c0677dfa2e8e2e2b9ff8f961e5e615cb341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kauth-5.14.0.tar.xz">kauth-5.14.0</a></td>
   <td align="right">80kB</td>
   <td><tt>434f9e70793fe3ff38c054adfb308be5397dd693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kbookmarks-5.14.0.tar.xz">kbookmarks-5.14.0</a></td>
   <td align="right">112kB</td>
   <td><tt>2d9ba4a42cbc745893700a7bb99fa98a4dc58f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kcmutils-5.14.0.tar.xz">kcmutils-5.14.0</a></td>
   <td align="right">229kB</td>
   <td><tt>774adc704eadc75ca5943eda2a674488493930d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kcodecs-5.14.0.tar.xz">kcodecs-5.14.0</a></td>
   <td align="right">210kB</td>
   <td><tt>92af550a4f060d62e3355b498f582b5c05760ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kcompletion-5.14.0.tar.xz">kcompletion-5.14.0</a></td>
   <td align="right">113kB</td>
   <td><tt>99fc184fdd5936afc384b8c0ee744b71a660997e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kconfig-5.14.0.tar.xz">kconfig-5.14.0</a></td>
   <td align="right">217kB</td>
   <td><tt>81e8410f54eb0a508cb00a20b38ed52ffdb737aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kconfigwidgets-5.14.0.tar.xz">kconfigwidgets-5.14.0</a></td>
   <td align="right">350kB</td>
   <td><tt>5a27c44f7677b7de1867981bd0c43c8c50bb94c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kcoreaddons-5.14.0.tar.xz">kcoreaddons-5.14.0</a></td>
   <td align="right">295kB</td>
   <td><tt>848e513d39f185eaf8c4bfb65a5b13d6fd1391fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kcrash-5.14.0.tar.xz">kcrash-5.14.0</a></td>
   <td align="right">19kB</td>
   <td><tt>04403e6b8c0dc4c81fc156f8701e71423da71121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdbusaddons-5.14.0.tar.xz">kdbusaddons-5.14.0</a></td>
   <td align="right">32kB</td>
   <td><tt>679787484dc8c77b6f53897c27bc14d8a3846eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdeclarative-5.14.0.tar.xz">kdeclarative-5.14.0</a></td>
   <td align="right">160kB</td>
   <td><tt>37ed60ced1b6ceb9a508035f1cac5442ad8cc323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kded-5.14.0.tar.xz">kded-5.14.0</a></td>
   <td align="right">35kB</td>
   <td><tt>3576ddcd8180817a6d47a839ed565c8dbd0cbf1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdesignerplugin-5.14.0.tar.xz">kdesignerplugin-5.14.0</a></td>
   <td align="right">84kB</td>
   <td><tt>051beaf550169f44058fcf5bf638f41be1728b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdesu-5.14.0.tar.xz">kdesu-5.14.0</a></td>
   <td align="right">42kB</td>
   <td><tt>9057b5cb5171bd98eee4cb139a6bd2e800d305b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdewebkit-5.14.0.tar.xz">kdewebkit-5.14.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e43596d4ffdef76c5be3f4e439af0039caacd103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdnssd-5.14.0.tar.xz">kdnssd-5.14.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d6f431e5c05751cde1682c59d5512a180daefc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kdoctools-5.14.0.tar.xz">kdoctools-5.14.0</a></td>
   <td align="right">398kB</td>
   <td><tt>d35c9c91f9e3f9eeb95fc7194f24987e440bd7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kemoticons-5.14.0.tar.xz">kemoticons-5.14.0</a></td>
   <td align="right">92kB</td>
   <td><tt>b45a09db137378c96f5e709e196c9a637f31955d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kfilemetadata-5.14.0.tar.xz">kfilemetadata-5.14.0</a></td>
   <td align="right">118kB</td>
   <td><tt>d959a8ea8ec2e77168662296e75937e9a2445cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kglobalaccel-5.14.0.tar.xz">kglobalaccel-5.14.0</a></td>
   <td align="right">79kB</td>
   <td><tt>729ec1876559a195ab6e99e1cf24fef439ad8ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kguiaddons-5.14.0.tar.xz">kguiaddons-5.14.0</a></td>
   <td align="right">38kB</td>
   <td><tt>671e74cda0a6980824c212a7eeb89371051cc77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/ki18n-5.14.0.tar.xz">ki18n-5.14.0</a></td>
   <td align="right">579kB</td>
   <td><tt>4d8a9b3b83b6340cb7b6f6dcffe03485ca16d2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kiconthemes-5.14.0.tar.xz">kiconthemes-5.14.0</a></td>
   <td align="right">191kB</td>
   <td><tt>29731629923eb2a7480833f44af8440f8ac456ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kidletime-5.14.0.tar.xz">kidletime-5.14.0</a></td>
   <td align="right">25kB</td>
   <td><tt>52ab2c92bca4dfbc80cd3bb2a33777aaf3a1c612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kimageformats-5.14.0.tar.xz">kimageformats-5.14.0</a></td>
   <td align="right">83kB</td>
   <td><tt>b7345a50c9a453e2e1f5e00ad588b9766a5a18bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kinit-5.14.0.tar.xz">kinit-5.14.0</a></td>
   <td align="right">114kB</td>
   <td><tt>af9d6737b8322c1c71e800af4e91cc81ed4456ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kio-5.14.0.tar.xz">kio-5.14.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b13653322bba5a28e1d01199ee3c84b67cadfa79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kitemmodels-5.14.0.tar.xz">kitemmodels-5.14.0</a></td>
   <td align="right">374kB</td>
   <td><tt>38f23be0fd9b2a3a220ac39cdc418518c48655af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kitemviews-5.14.0.tar.xz">kitemviews-5.14.0</a></td>
   <td align="right">72kB</td>
   <td><tt>b0f1b2751b7ec7f27b4297d6ffd758403ff7b667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kjobwidgets-5.14.0.tar.xz">kjobwidgets-5.14.0</a></td>
   <td align="right">86kB</td>
   <td><tt>9e4d67e4453e9e637bf422259dbc88a058e3bed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/knewstuff-5.14.0.tar.xz">knewstuff-5.14.0</a></td>
   <td align="right">832kB</td>
   <td><tt>b9b7790a5b49e5f1752023032a61931a1459e772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/knotifications-5.14.0.tar.xz">knotifications-5.14.0</a></td>
   <td align="right">90kB</td>
   <td><tt>ce8def2e20747381a820ea7ce7ea50c7e2390efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/knotifyconfig-5.14.0.tar.xz">knotifyconfig-5.14.0</a></td>
   <td align="right">80kB</td>
   <td><tt>28adae56b29f509f03c48bf845588ce760fae82e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kpackage-5.14.0.tar.xz">kpackage-5.14.0</a></td>
   <td align="right">96kB</td>
   <td><tt>e93d2a29b68d66138816e234fbb8fcbd45e5f982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kparts-5.14.0.tar.xz">kparts-5.14.0</a></td>
   <td align="right">150kB</td>
   <td><tt>cbd5fb7579c43f704ed28d3925a4a391c52926c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kpeople-5.14.0.tar.xz">kpeople-5.14.0</a></td>
   <td align="right">56kB</td>
   <td><tt>735e44a952383d0168fbcc92e53fd75ba87835fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kplotting-5.14.0.tar.xz">kplotting-5.14.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a2d6b3e662b0db3eab6db3750f27cfdbb5bff964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kpty-5.14.0.tar.xz">kpty-5.14.0</a></td>
   <td align="right">55kB</td>
   <td><tt>c235525f4ebe4bc2a082d95f515f362de8760b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kservice-5.14.0.tar.xz">kservice-5.14.0</a></td>
   <td align="right">260kB</td>
   <td><tt>3ff46cd246369e3d050ac2c973c070eaf0917892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/ktexteditor-5.14.0.tar.xz">ktexteditor-5.14.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e971bf1274a59079f2deb8aa83b40aaf54bbe37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/ktextwidgets-5.14.0.tar.xz">ktextwidgets-5.14.0</a></td>
   <td align="right">298kB</td>
   <td><tt>c6cf51b1b69c2c3973d85fdf745be479588dc96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kunitconversion-5.14.0.tar.xz">kunitconversion-5.14.0</a></td>
   <td align="right">605kB</td>
   <td><tt>b9890a2d76dc5262e28d3ffe8328eb013142017b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kwallet-5.14.0.tar.xz">kwallet-5.14.0</a></td>
   <td align="right">277kB</td>
   <td><tt>35a82a378dc78bde2b66ffb631e6d732089b4786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kwidgetsaddons-5.14.0.tar.xz">kwidgetsaddons-5.14.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>196a2b081c0a498e7e9df54ba78c833349b8f006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kwindowsystem-5.14.0.tar.xz">kwindowsystem-5.14.0</a></td>
   <td align="right">159kB</td>
   <td><tt>0b3e1f102d14211ad6b0a5cb0533842d346c09a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kxmlgui-5.14.0.tar.xz">kxmlgui-5.14.0</a></td>
   <td align="right">842kB</td>
   <td><tt>0eca5ff26a4b46f39d9c07a41df9320758a1ce39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/kxmlrpcclient-5.14.0.tar.xz">kxmlrpcclient-5.14.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9306eec73b7305811b60cfab5a6106cfd21c743f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/modemmanager-qt-5.14.0.tar.xz">modemmanager-qt-5.14.0</a></td>
   <td align="right">96kB</td>
   <td><tt>2b7466b30f5af80e7e92405c824ff910208f0cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/networkmanager-qt-5.14.0.tar.xz">networkmanager-qt-5.14.0</a></td>
   <td align="right">151kB</td>
   <td><tt>8e4f15dcc4deb676e321a8a0b984cabf568c1208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/plasma-framework-5.14.0.tar.xz">plasma-framework-5.14.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b833cca212b0890e3ba2e3b8b64b92794be55f0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/solid-5.14.0.tar.xz">solid-5.14.0</a></td>
   <td align="right">259kB</td>
   <td><tt>192ec7e4668d3a39c967652d5ced954c567e8bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/sonnet-5.14.0.tar.xz">sonnet-5.14.0</a></td>
   <td align="right">271kB</td>
   <td><tt>44b82628f4765bdc20773576012b23f548a72567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.14/threadweaver-5.14.0.tar.xz">threadweaver-5.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>459a2127fab0de8d954c343a60473c83cabb4c0b</tt></td>
</tr>

</table>
