<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/bluedevil-5.12.4.tar.xz">bluedevil-5.12.4</a></td>
   <td align="right">145kB</td>
   <td><tt>5d4cd83d4fc37c93937762725bea16d86040ba131073135836b30f2874fe27bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/breeze-5.12.4.tar.xz">breeze-5.12.4</a></td>
   <td align="right">21MB</td>
   <td><tt>879f826ad9b86b402c7791ff3d49e70e55739460e6c3697d5ad3556052946a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/breeze-grub-5.12.4.tar.xz">breeze-grub-5.12.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>7aff5419fdddbf9403667e11eee875cf1b8da2e689fed4a1ae895607ede7d74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/breeze-gtk-5.12.4.tar.xz">breeze-gtk-5.12.4</a></td>
   <td align="right">208kB</td>
   <td><tt>8ccc0556d288806307e2f97ead62eca29a4b27699b8ad60b4114c346519077a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/breeze-plymouth-5.12.4.tar.xz">breeze-plymouth-5.12.4</a></td>
   <td align="right">103kB</td>
   <td><tt>d9f989c926746c9f19d61021b0fbe7fc144f35de669cd889dc4e57c9b014fbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/discover-5.12.4.tar.xz">discover-5.12.4</a></td>
   <td align="right">9.7MB</td>
   <td><tt>981be31dac5d18007d5d8eef0e7ec1b65fa498dc1ffc1620743ee8e8d46dcdbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/drkonqi-5.12.4.tar.xz">drkonqi-5.12.4</a></td>
   <td align="right">718kB</td>
   <td><tt>6679bbc795bc03dc44bb8bf17375958ec3020d3fdbcd181779d7f0844c835946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kactivitymanagerd-5.12.4.tar.xz">kactivitymanagerd-5.12.4</a></td>
   <td align="right">82kB</td>
   <td><tt>8fdde5f82b3f1ad5dc8bdeade3f196301a6bc1ebcac2a81eca2400f49b8996d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kde-cli-tools-5.12.4.tar.xz">kde-cli-tools-5.12.4</a></td>
   <td align="right">557kB</td>
   <td><tt>8b978ae3c5efd5072a635d3d075b0882904c0b547a768982df66a58873fad170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kdecoration-5.12.4.tar.xz">kdecoration-5.12.4</a></td>
   <td align="right">34kB</td>
   <td><tt>d22e54abd40cc3e030e894510e45e11a318f126ba658c708d0a56e58c01a5a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kde-gtk-config-5.12.4.tar.xz">kde-gtk-config-5.12.4</a></td>
   <td align="right">153kB</td>
   <td><tt>a671142823a98712b454402769da78456c7e79a4ea6672a39d382df2d3114202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kdeplasma-addons-5.12.4.tar.xz">kdeplasma-addons-5.12.4</a></td>
   <td align="right">552kB</td>
   <td><tt>e5b1d5280dda7bb652f59251cdb1846d62719589e78cab94d445642275edfb3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kgamma5-5.12.4.tar.xz">kgamma5-5.12.4</a></td>
   <td align="right">58kB</td>
   <td><tt>10e84fe879a8fd4790cabd93fe3a97ea5200699e362adcef191eed7d8e5729ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/khotkeys-5.12.4.tar.xz">khotkeys-5.12.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ceb4ba8267cf1e3c772813c3288fc755dae3069cd059feeeda64c01a6f5748d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kinfocenter-5.12.4.tar.xz">kinfocenter-5.12.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>436a6b36917f745ec710802bd34bc541a482802fd0753b787d9d16d5115bfe35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kmenuedit-5.12.4.tar.xz">kmenuedit-5.12.4</a></td>
   <td align="right">636kB</td>
   <td><tt>29819b6a94e43d28fdbd8172e64ddf9fecb0349b825eab0cb262debd7a026518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kscreen-5.12.4.tar.xz">kscreen-5.12.4</a></td>
   <td align="right">114kB</td>
   <td><tt>250cace7cd2cca780db0a63c448d6df5dd6037f68749cc36bce5c5b7dd433dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kscreenlocker-5.12.4.tar.xz">kscreenlocker-5.12.4</a></td>
   <td align="right">115kB</td>
   <td><tt>357cb97d31d5cd91d647169f0fe980fbce08cb71a01087022fdab155bf32eca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/ksshaskpass-5.12.4.tar.xz">ksshaskpass-5.12.4</a></td>
   <td align="right">20kB</td>
   <td><tt>e59794af3cb9fcd4285049d229f82ce51fe535745ed3014f7b0445892e2e804c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/ksysguard-5.12.4.tar.xz">ksysguard-5.12.4</a></td>
   <td align="right">474kB</td>
   <td><tt>9357689af7959cd01696a1ee3a5b1db6f2658f9791bf471e4d18cbd5de2b736b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kwallet-pam-5.12.4.tar.xz">kwallet-pam-5.12.4</a></td>
   <td align="right">18kB</td>
   <td><tt>58586c4d5fec26b68b086ef14d5ea0233a33979957d5c523199647ef27ee1d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kwayland-integration-5.12.4.tar.xz">kwayland-integration-5.12.4</a></td>
   <td align="right">18kB</td>
   <td><tt>8aeae5633eff4728a4b18ba6e61dfde257459b95af4ab259149aea88a3089fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kwin-5.12.4.tar.xz">kwin-5.12.4</a></td>
   <td align="right">4.7MB</td>
   <td><tt>c8bda63cb1365351e10d8e871c330c494530a79ef23cb119dee653a5323b222f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/kwrited-5.12.4.tar.xz">kwrited-5.12.4</a></td>
   <td align="right">19kB</td>
   <td><tt>fead2852cbafe7dfbe2e57f7a46c3e6ad5ab0c1f17be7d1da4d5baee77b55a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/libkscreen-5.12.4.tar.xz">libkscreen-5.12.4</a></td>
   <td align="right">92kB</td>
   <td><tt>59634d2480732fe65e6318258de33f0d806f9fafafeb6bdf6fe4e37dfeaa05b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/libksysguard-5.12.4.tar.xz">libksysguard-5.12.4</a></td>
   <td align="right">553kB</td>
   <td><tt>ed3a83435b85bb6b405cb2507b69ac5f21c793d2bb671889ee04c7de4876b826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/milou-5.12.4.tar.xz">milou-5.12.4</a></td>
   <td align="right">56kB</td>
   <td><tt>87d60635ad3da879604c52b49503e4976346eb34cfbeaa774b09aa168122156c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/oxygen-5.12.4.tar.xz">oxygen-5.12.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8a1378f9f701266c2ff8b42dcdc800f0272bc583dd432af94b64f1df8fa633cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-desktop-5.12.4.tar.xz">plasma-desktop-5.12.4</a></td>
   <td align="right">8.1MB</td>
   <td><tt>bec2bf03d3cc44e12a92cb16b40957425708ea58269eee6030d49ee696dde299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-integration-5.12.4.tar.xz">plasma-integration-5.12.4</a></td>
   <td align="right">52kB</td>
   <td><tt>8b4e25cea0e533b95682e613b8dcc3f8ebe2e100610b03805ba08952eb64be61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-nm-5.12.4.tar.xz">plasma-nm-5.12.4</a></td>
   <td align="right">687kB</td>
   <td><tt>f2bbbb3c9d222332a5626f616dd46ff94580c0eedba0a0249a5c90d6612072d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-pa-5.12.4.tar.xz">plasma-pa-5.12.4</a></td>
   <td align="right">83kB</td>
   <td><tt>a6f09665a90f08c86b1a2f020213e6bcc214eea7e3f671642ca49e9292c2cfd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-sdk-5.12.4.tar.xz">plasma-sdk-5.12.4</a></td>
   <td align="right">238kB</td>
   <td><tt>624a9b7984f93142cfa333bf34b8c45052b1c065a98ede967e268d1fee3984d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-tests-5.12.4.tar.xz">plasma-tests-5.12.4</a></td>
   <td align="right">1kB</td>
   <td><tt>a975e3aa1ab8268d6e94f7e21efd8116ede046cc58e12d1c699dc01a5d3df88d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-vault-5.12.4.tar.xz">plasma-vault-5.12.4</a></td>
   <td align="right">102kB</td>
   <td><tt>16355615908b50f36103f697f6378e08e4446551409220135f6917a1b2c45b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-workspace-5.12.4.tar.xz">plasma-workspace-5.12.4</a></td>
   <td align="right">4.3MB</td>
   <td><tt>07d63fc73293d0c1244d67f018e8986a79a7c570b0d5fa92d11a3b20a189c202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plasma-workspace-wallpapers-5.12.4.tar.xz">plasma-workspace-wallpapers-5.12.4</a></td>
   <td align="right">43MB</td>
   <td><tt>926c58efe562ad4425fbefdc4e562171e0bf4586e5ca7eedc04d5941f1c455f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/plymouth-kcm-5.12.4.tar.xz">plymouth-kcm-5.12.4</a></td>
   <td align="right">38kB</td>
   <td><tt>76724ee5875d622a5771c4017f7b2d31d16d0dc5f2949b8515dbda95b17053a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/polkit-kde-agent-1-5.12.4.tar.xz">polkit-kde-agent-1-5.12.4</a></td>
   <td align="right">40kB</td>
   <td><tt>58a895834a9bb5ee200ae5ff3450b31f3ddf3dff50e50eb6d44cc04a320b9373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/powerdevil-5.12.4.tar.xz">powerdevil-5.12.4</a></td>
   <td align="right">372kB</td>
   <td><tt>1d2a1f0df349386acce2197ee0e5693ac8f3246aa925c06650d89aa5e0077310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/sddm-kcm-5.12.4.tar.xz">sddm-kcm-5.12.4</a></td>
   <td align="right">58kB</td>
   <td><tt>072a8f71a381fff763c62e9a09752167a4cb3a0dca63674387c0464b7281a82e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/systemsettings-5.12.4.tar.xz">systemsettings-5.12.4</a></td>
   <td align="right">167kB</td>
   <td><tt>8a6cc50e8d00bf6d59e087f344f011426516307fc0a3a372a347754e2ddec229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/user-manager-5.12.4.tar.xz">user-manager-5.12.4</a></td>
   <td align="right">531kB</td>
   <td><tt>959af1859aaa8fdcd853ebae78d2b8a15e6700ca340c0ed3bd041315382524f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.4/xdg-desktop-portal-kde-5.12.4.tar.xz">xdg-desktop-portal-kde-5.12.4</a></td>
   <td align="right">30kB</td>
   <td><tt>8c10609b7d15418242c4ca5389777c49a13df72ff1bdcc9f176e63e7573d69a1</tt></td>
</tr>

</table>
