<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/bluedevil-6.3.0.tar.xz">bluedevil-6.3.0</a></td>
   <td align="right">387kB</td>
   <td><tt>baa8158d67ac1831f3230c7cdbc440c3d56de8147083c81952fda2d9acecb284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/breeze-6.3.0.tar.xz">breeze-6.3.0</a></td>
   <td align="right">43MB</td>
   <td><tt>7bb50dd662e35dfdaeec958fad4214e6c3c14484919ab12a545a1109fbe08995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/breeze-grub-6.3.0.tar.xz">breeze-grub-6.3.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b1009fdf56521bd2840274639cce405d10e20e57492ab62b592b815a6185be1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/breeze-gtk-6.3.0.tar.xz">breeze-gtk-6.3.0</a></td>
   <td align="right">39kB</td>
   <td><tt>26b77dceede1f2687df63665c4ba0e0e79dbc9aacefc74858502f816ed3265f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/breeze-plymouth-6.3.0.tar.xz">breeze-plymouth-6.3.0</a></td>
   <td align="right">108kB</td>
   <td><tt>058940b21eb8ef0210dd11ccb0ec1f8e20c17b68ce8b8d38bc4eea2260500482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/discover-6.3.0.tar.xz">discover-6.3.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bf592a174a2996e21081f2bec068dbeee9ab945df0eecf2d465be448e023ea9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/drkonqi-6.3.0.tar.xz">drkonqi-6.3.0</a></td>
   <td align="right">869kB</td>
   <td><tt>652bbc55e70471ca7acf138d80a237fcf5e107e40d2acb0ec79f03aad5009489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/flatpak-kcm-6.3.0.tar.xz">flatpak-kcm-6.3.0</a></td>
   <td align="right">244kB</td>
   <td><tt>f5798f1d0ccee9b50289ccb410715d35fecde5fd1ad7cd484c918f149c6d5121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kactivitymanagerd-6.3.0.tar.xz">kactivitymanagerd-6.3.0</a></td>
   <td align="right">101kB</td>
   <td><tt>225f64e568e559e3e6ec8e9a052d84fb3c557e16e9d4f81b5671990811a755ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kde-cli-tools-6.3.0.tar.xz">kde-cli-tools-6.3.0</a></td>
   <td align="right">628kB</td>
   <td><tt>cccbcd737f1f433f2eeb17ee1e3b8cc10b673a13b685bc0d60a391978fc97b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kde-gtk-config-6.3.0.tar.xz">kde-gtk-config-6.3.0</a></td>
   <td align="right">77kB</td>
   <td><tt>f52910f23ef36a63037e40124a8cf153627280ae39b3f8a31ed1f2db4887984f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kdecoration-6.3.0.tar.xz">kdecoration-6.3.0</a></td>
   <td align="right">55kB</td>
   <td><tt>74f7f4afca10a0a37915233c80033cdb332a7f9f45afc64d0c38c60aba2d5dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kdeplasma-addons-6.3.0.tar.xz">kdeplasma-addons-6.3.0</a></td>
   <td align="right">900kB</td>
   <td><tt>5999d1ee120af5673e70cf17f3030ce492bccce7997cd4c92dc041fa181099b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kgamma-6.3.0.tar.xz">kgamma-6.3.0</a></td>
   <td align="right">86kB</td>
   <td><tt>cb1368705099f6f6f09b08d3f885601d1f4790749a2bbc4ce977574d44f17102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kglobalacceld-6.3.0.tar.xz">kglobalacceld-6.3.0</a></td>
   <td align="right">55kB</td>
   <td><tt>6124988297b1910846b4af2a02902b6923398383443412f41b95cc88bf0de0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kinfocenter-6.3.0.tar.xz">kinfocenter-6.3.0</a></td>
   <td align="right">730kB</td>
   <td><tt>20fb607366d166390dc18beca8f9321813924305a0adfee91f795e4e05ead311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kmenuedit-6.3.0.tar.xz">kmenuedit-6.3.0</a></td>
   <td align="right">858kB</td>
   <td><tt>f682bbdfa436e657aeecb461f9da05d70e5d6cdb0236dfdb71635d3077174563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kpipewire-6.3.0.tar.xz">kpipewire-6.3.0</a></td>
   <td align="right">149kB</td>
   <td><tt>377f0d20fbf1f38073136f17b5995c83e5c7fa80a508966d569e35c4f180df2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/krdp-6.3.0.tar.xz">krdp-6.3.0</a></td>
   <td align="right">98kB</td>
   <td><tt>1e97450b05dacc1b5e25a99c49156c41a19866fb2f196eca1d1e275a57d72450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kscreen-6.3.0.tar.xz">kscreen-6.3.0</a></td>
   <td align="right">220kB</td>
   <td><tt>56d9e0a607f2fb798311e171df67b29096417f50642df8710937e50af4d1d7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kscreenlocker-6.3.0.tar.xz">kscreenlocker-6.3.0</a></td>
   <td align="right">179kB</td>
   <td><tt>ad86ba0d7dc8754aa5dd8097ab25288cdfaa44c01e31a10813ab4d0d6987f65e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/ksshaskpass-6.3.0.tar.xz">ksshaskpass-6.3.0</a></td>
   <td align="right">30kB</td>
   <td><tt>11793796c5c4f6eb7b0601bc003d84ce8e42147bf05212c2a6bd20dfc74a3622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/ksystemstats-6.3.0.tar.xz">ksystemstats-6.3.0</a></td>
   <td align="right">147kB</td>
   <td><tt>640af98c6b076a07436a7d6b91ae3018e1e5ac899e6b843f04d4800594b2773a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kwallet-pam-6.3.0.tar.xz">kwallet-pam-6.3.0</a></td>
   <td align="right">21kB</td>
   <td><tt>1a27bfc97001e4c0c5120eec1a36d3730baa6ef9df44fbf68f23a34cd551c67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kwayland-6.3.0.tar.xz">kwayland-6.3.0</a></td>
   <td align="right">131kB</td>
   <td><tt>2f6d68b89dab21037ba6ecc91a6353d1f5a314f7b8068bb6e605bf5e1b6b25ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kwayland-integration-6.3.0.tar.xz">kwayland-integration-6.3.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4bc5421194384d9bc37c546a2a0f39653e9574f2ba16a9ce36abe8c9cb543afd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kwin-6.3.0.tar.xz">kwin-6.3.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>1ad978fc52b21bfdd218843554a015b24689e0c04904d1cb00e2e4afca4f4af4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/kwrited-6.3.0.tar.xz">kwrited-6.3.0</a></td>
   <td align="right">23kB</td>
   <td><tt>fc7d1815589e28d06c6da967b18312ce507eacc27ef581bdaedc183739b62e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/layer-shell-qt-6.3.0.tar.xz">layer-shell-qt-6.3.0</a></td>
   <td align="right">35kB</td>
   <td><tt>a0988a12a23664cfe357b0070d3d8caecea3b08882ee52086a5a4e34b885d443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/libkscreen-6.3.0.tar.xz">libkscreen-6.3.0</a></td>
   <td align="right">117kB</td>
   <td><tt>9ef791eef2f5c6e95428a9da3fb735e4d2230081c5472962c95c8353c01a643a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/libksysguard-6.3.0.tar.xz">libksysguard-6.3.0</a></td>
   <td align="right">322kB</td>
   <td><tt>bc1bbb385b25c06423f6f2d044b00c106cbdb551c5cf8348bd5922c63d4cbcb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/libplasma-6.3.0.tar.xz">libplasma-6.3.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9c2cde9615a94397da68e4293182768e1fbdc2f419cdb8f00e8b13a366d5978d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/milou-6.3.0.tar.xz">milou-6.3.0</a></td>
   <td align="right">49kB</td>
   <td><tt>81b4836af54b42c1d8df32752a07085ad9186237edd8a434455eaa93d9bdc691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/ocean-sound-theme-6.3.0.tar.xz">ocean-sound-theme-6.3.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>83d9c5f6873cb90e2d71ea5455487c42737e05351338cef19e3f8cad3ebc24da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/oxygen-6.3.0.tar.xz">oxygen-6.3.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4a908ee61e79dbfc2520527c6493efb9279655750cc715f1e33d852a4f096834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/oxygen-sounds-6.3.0.tar.xz">oxygen-sounds-6.3.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bea2fe5c414a37ae669f39922ccbadc140779247045297ec2d011fa17ecc0f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-activities-6.3.0.tar.xz">plasma-activities-6.3.0</a></td>
   <td align="right">65kB</td>
   <td><tt>ccb1ca2dc1deb1e235dd496f42355f0054f58061ecf9a759d9faa0a299a56c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-activities-stats-6.3.0.tar.xz">plasma-activities-stats-6.3.0</a></td>
   <td align="right">81kB</td>
   <td><tt>b4a3b802166018fe4d4d35cd0d7c411b52d1cb74ffd22a1c84e494ad3035682e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-browser-integration-6.3.0.tar.xz">plasma-browser-integration-6.3.0</a></td>
   <td align="right">228kB</td>
   <td><tt>9c5ed3c8ecbe0a8ecf1697416cbf9f3416941e9df7f5abe179b667bd8078fb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-desktop-6.3.0.tar.xz">plasma-desktop-6.3.0</a></td>
   <td align="right">16MB</td>
   <td><tt>bbdbfa874b6c04e3bb33683ea0d09e32616de827df96a1b664a20b2f59d69d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-dialer-6.3.0.tar.xz">plasma-dialer-6.3.0</a></td>
   <td align="right">125kB</td>
   <td><tt>c950747b8c83d790ec63ee585eed2d330d740b765c6141523d094636272057aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-disks-6.3.0.tar.xz">plasma-disks-6.3.0</a></td>
   <td align="right">103kB</td>
   <td><tt>a7699e0e6819311952c35159139c6a112612ddf3951eb742eb4cdffb6ad86d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-firewall-6.3.0.tar.xz">plasma-firewall-6.3.0</a></td>
   <td align="right">372kB</td>
   <td><tt>965d7bda8a8b8d9096e9478b09c46a7d1dcc87dcfffed1c27b787791dbe3c7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-integration-6.3.0.tar.xz">plasma-integration-6.3.0</a></td>
   <td align="right">94kB</td>
   <td><tt>e082f45c71807e4a41a5fee0eee3f2734728b8c8ded041e2f944b75306869433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-mobile-6.3.0.tar.xz">plasma-mobile-6.3.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>b4390dc2c4a8b99713d45c51f241b71ffed118b98ab89aac40d0f8b0bd3bb391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-nano-6.3.0.tar.xz">plasma-nano-6.3.0</a></td>
   <td align="right">71kB</td>
   <td><tt>ab4ba15133aaf273ec1c791fc37f45ce304f287f7a1706849fc4edae1b4b1d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-nm-6.3.0.tar.xz">plasma-nm-6.3.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>21a917c12772f7e281ce2e6b7b0827379e44f7b547a261df46159d572d0dc5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-pa-6.3.0.tar.xz">plasma-pa-6.3.0</a></td>
   <td align="right">188kB</td>
   <td><tt>de04fb2a0c1eec7f849350d5a17c8e84ff972d820b5e34d38dae0b89226169ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-sdk-6.3.0.tar.xz">plasma-sdk-6.3.0</a></td>
   <td align="right">351kB</td>
   <td><tt>3d75d224b2b7a7d65c7b1b41d4dab1222cf25c59ea4e9c0170adb727d7ef4168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-systemmonitor-6.3.0.tar.xz">plasma-systemmonitor-6.3.0</a></td>
   <td align="right">197kB</td>
   <td><tt>fe467f5feb9295a02da10353098a02f30056bb964016357e2ce4d0c07d305c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-thunderbolt-6.3.0.tar.xz">plasma-thunderbolt-6.3.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a0c3db55a9c6d3e40c7f4b78f621f6b85e11f66ccfc049133339fb8c9ce1fe6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-vault-6.3.0.tar.xz">plasma-vault-6.3.0</a></td>
   <td align="right">200kB</td>
   <td><tt>414fe5360eb132ff246322ece9a564504112fa95a4c462b3f172b98613dc25d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-welcome-6.3.0.tar.xz">plasma-welcome-6.3.0</a></td>
   <td align="right">686kB</td>
   <td><tt>c7e884178c1cd1aa0ac26073bd9cf124d0a3be3926c0240b7974778067211984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-workspace-6.3.0.tar.xz">plasma-workspace-6.3.0</a></td>
   <td align="right">18MB</td>
   <td><tt>14167db6b966b1567b4b8b8fb7bed18d952f2b4d9447b5228a3f5a1fbb38c439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma-workspace-wallpapers-6.3.0.tar.xz">plasma-workspace-wallpapers-6.3.0</a></td>
   <td align="right">124MB</td>
   <td><tt>d4e86bac4833a4df2398d0815d5f92c07ebe5baf97da52063f46ff5c510f100a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plasma5support-6.3.0.tar.xz">plasma5support-6.3.0</a></td>
   <td align="right">223kB</td>
   <td><tt>b952016957b3f8033d81fc58f90bf13f02f97eecd66ca4e6b6b0805074ca6283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/plymouth-kcm-6.3.0.tar.xz">plymouth-kcm-6.3.0</a></td>
   <td align="right">48kB</td>
   <td><tt>a46a86734e938225d287c1cfa499d5bf78d6cc5b008c0c43e39add9af777252e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/polkit-kde-agent-1-6.3.0.tar.xz">polkit-kde-agent-1-6.3.0</a></td>
   <td align="right">56kB</td>
   <td><tt>e07fb43e50efa9a4599ff128ec5131cbbe67049f1bff24673ce91f55b5e441eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/powerdevil-6.3.0.tar.xz">powerdevil-6.3.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cb4cbe6cabb0ea3d098a991035c11cfc184d9c9bd065fbba9ef34f6c082c13a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/print-manager-6.3.0.tar.xz">print-manager-6.3.0</a></td>
   <td align="right">383kB</td>
   <td><tt>c2c47a2c4bdc38a32ecd96856d5bd9cd16bf50116579e575b5bc3a4f71c7980c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/qqc2-breeze-style-6.3.0.tar.xz">qqc2-breeze-style-6.3.0</a></td>
   <td align="right">64kB</td>
   <td><tt>eb1eea6160cf705228798b7eceffc354fd7e93fb1a8a64a86e5d39f53eb8a27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/sddm-kcm-6.3.0.tar.xz">sddm-kcm-6.3.0</a></td>
   <td align="right">101kB</td>
   <td><tt>a38e028461a6ab042417d19f2f24c5b9f4c428389ab371384636f70bcab7764c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/spacebar-6.3.0.tar.xz">spacebar-6.3.0</a></td>
   <td align="right">141kB</td>
   <td><tt>439ea48464032781726181484dc5e41dc00e85f417ed26dff355d8fd4fa55b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/spectacle-6.3.0.tar.xz">spectacle-6.3.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>be80abbc1e80bc4493711089580a905848499608a2497be3d7eb81cbbf876099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/systemsettings-6.3.0.tar.xz">systemsettings-6.3.0</a></td>
   <td align="right">214kB</td>
   <td><tt>771b9b6cbbde15fe860ca65ec09a38c6e175c914829e556de56c1362691ac680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/wacomtablet-6.3.0.tar.xz">wacomtablet-6.3.0</a></td>
   <td align="right">822kB</td>
   <td><tt>c05768ea45917b5599a23c58cdef31cd121c4213af0ffc700caf2a19cbc15835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.3.0/xdg-desktop-portal-kde-6.3.0.tar.xz">xdg-desktop-portal-kde-6.3.0</a></td>
   <td align="right">186kB</td>
   <td><tt>b30cf5716685bea9161b7ac3dcbaaa31156627399850d74592c06e9cd4dd0f51</tt></td>
</tr>

</table>
