<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/bluedevil-6.0.0.tar.xz">bluedevil-6.0.0</a></td>
   <td align="right">359kB</td>
   <td><tt>831473069c7bf07187af2acbb101d3a6c74755587e490142098d5aa054ee6265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/breeze-6.0.0.tar.xz">breeze-6.0.0</a></td>
   <td align="right">55MB</td>
   <td><tt>bc72a16b116b7beabf1b4e9a451019f9048e7be6b05ac73a4627f25b2c2059ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/breeze-grub-6.0.0.tar.xz">breeze-grub-6.0.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6ec48bff5ea79de2dc42076be513866fdcd5d742b4672b690caf2edce5cb70d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/breeze-gtk-6.0.0.tar.xz">breeze-gtk-6.0.0</a></td>
   <td align="right">39kB</td>
   <td><tt>cec4caf1c229bc30ca00c6605db4db98a96502167f34a9b77ca02b26b499ab36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/breeze-plymouth-6.0.0.tar.xz">breeze-plymouth-6.0.0</a></td>
   <td align="right">108kB</td>
   <td><tt>277786580c010c09aa192f88d096459af60a2afff25a90e8fd395d3a5227a64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/discover-6.0.0.tar.xz">discover-6.0.0</a></td>
   <td align="right">974kB</td>
   <td><tt>7ba825fe4779a495ffed4692b50e71170e20233db9901ecbe1528edc3ab3dfb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/drkonqi-6.0.0.tar.xz">drkonqi-6.0.0</a></td>
   <td align="right">853kB</td>
   <td><tt>a08d5247adef589e4afbca30df148f8f18237c50d64e13a4ce985bf7787d3106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/flatpak-kcm-6.0.0.tar.xz">flatpak-kcm-6.0.0</a></td>
   <td align="right">233kB</td>
   <td><tt>deee5c35cc531c092e4898e6bc95089c33b3279cf598f93446363c6d80fb7121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kactivitymanagerd-6.0.0.tar.xz">kactivitymanagerd-6.0.0</a></td>
   <td align="right">107kB</td>
   <td><tt>9210b391c329018e45ac65c6e3a77f64532f3e0176c589bcd76460c2030102fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kde-cli-tools-6.0.0.tar.xz">kde-cli-tools-6.0.0</a></td>
   <td align="right">611kB</td>
   <td><tt>4370c93bb5c205ef32bf48bc00f263eaa390b7f1b46df875a42fcbffbf428741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kdecoration-6.0.0.tar.xz">kdecoration-6.0.0</a></td>
   <td align="right">53kB</td>
   <td><tt>363a5d23d90952a5e2e32bc7fbf41ff4dbbb7ccff138bef19d48b3dad11f1551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kde-gtk-config-6.0.0.tar.xz">kde-gtk-config-6.0.0</a></td>
   <td align="right">76kB</td>
   <td><tt>60071ffcb5427818a50caa95b2272489da10805c32b975d382026c078f8d8453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kdeplasma-addons-6.0.0.tar.xz">kdeplasma-addons-6.0.0</a></td>
   <td align="right">840kB</td>
   <td><tt>bd0d590664464c886fe14447be38c161a927b70fb6c9ce28a7090f9090260cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kgamma-6.0.0.tar.xz">kgamma-6.0.0</a></td>
   <td align="right">84kB</td>
   <td><tt>9704d32c84e26d8c33017f0b0c562b741bbb6695b89fa38829fc84375a505665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kglobalacceld-6.0.0.tar.xz">kglobalacceld-6.0.0</a></td>
   <td align="right">52kB</td>
   <td><tt>aa7eb34f3dfafdc2f475bb20ed6a8563a2e9fbfb06470890e127dc9054f945aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kinfocenter-6.0.0.tar.xz">kinfocenter-6.0.0</a></td>
   <td align="right">810kB</td>
   <td><tt>6f299ad0ba143864120dacf36544863a4906835a5915c1cb891706cf39a37e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kmenuedit-6.0.0.tar.xz">kmenuedit-6.0.0</a></td>
   <td align="right">908kB</td>
   <td><tt>fa6a09e8fec343680d58d47daedf0d58267f8b990f12e2c50aa72babc963ac5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kpipewire-6.0.0.tar.xz">kpipewire-6.0.0</a></td>
   <td align="right">141kB</td>
   <td><tt>dd585ee4de3b5bcdc10f36fe5df91966447ca716570d6b4ea15160db1f1d73bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kscreen-6.0.0.tar.xz">kscreen-6.0.0</a></td>
   <td align="right">193kB</td>
   <td><tt>f97c0457630bce0d90fdbc0f6c45f1e2b21a60144bd182d8b41f58939bfd7346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kscreenlocker-6.0.0.tar.xz">kscreenlocker-6.0.0</a></td>
   <td align="right">160kB</td>
   <td><tt>2502faa85c87460a4b5eabb92769d33c196cd3373b3f3a521ed396e504d22ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/ksshaskpass-6.0.0.tar.xz">ksshaskpass-6.0.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b5d9185814cb62c64c55f4c0ebb290d239f73eaaf72158c458e564338c55edc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/ksystemstats-6.0.0.tar.xz">ksystemstats-6.0.0</a></td>
   <td align="right">121kB</td>
   <td><tt>a850185e639b67892dea51b2ffb71a7498fd049ffc28d173e6ee7c6ad3f3ceba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kwallet-pam-6.0.0.tar.xz">kwallet-pam-6.0.0</a></td>
   <td align="right">22kB</td>
   <td><tt>193a881da41ff151bce1e8edf3a094ab351b522fd90e37a7357d1a195ef0067a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kwayland-6.0.0.tar.xz">kwayland-6.0.0</a></td>
   <td align="right">130kB</td>
   <td><tt>00312094681966a4cf692288398047a24136f1bce132307304d0dffa1cf9ed79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kwayland-integration-6.0.0.tar.xz">kwayland-integration-6.0.0</a></td>
   <td align="right">25kB</td>
   <td><tt>04e2cbc45ea3c4b6f18aba16610fd2c7fa20b263ca606290b1b27546650101e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kwin-6.0.0.tar.xz">kwin-6.0.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>b1947c2b44de6190908462c81e8ac89ff9c7326a87641feb65e6ccd85262a4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/kwrited-6.0.0.tar.xz">kwrited-6.0.0</a></td>
   <td align="right">23kB</td>
   <td><tt>f641c003df091c4f3796c4c6f3151d5627a8a385310084e2e7f4fcacf4f74a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/layer-shell-qt-6.0.0.tar.xz">layer-shell-qt-6.0.0</a></td>
   <td align="right">20kB</td>
   <td><tt>15a57a82d9ccb0d520b558a173f331b39775c800c0b28481da808115e1d28ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/libkscreen-6.0.0.tar.xz">libkscreen-6.0.0</a></td>
   <td align="right">115kB</td>
   <td><tt>c42a7290c899fc8b887890a7b03efd720b476d7ac6fc91c64e6f03dadff09b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/libksysguard-6.0.0.tar.xz">libksysguard-6.0.0</a></td>
   <td align="right">798kB</td>
   <td><tt>6b72ccfbed69f27bcec0d86414ed780870109801cc20c505901657c85c3644dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/libplasma-6.0.0.tar.xz">libplasma-6.0.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b1d8f4701a009dd18797cbf68f06bdc45a3e85a243b04190890b4b40440927d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/milou-6.0.0.tar.xz">milou-6.0.0</a></td>
   <td align="right">48kB</td>
   <td><tt>c8ea924f7c3915e1deaa5220ba007238526b3df9029b3ac98eca158e5552b34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/ocean-sound-theme-6.0.0.tar.xz">ocean-sound-theme-6.0.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>22a0edca869c79b49be5a255b6c3dfb0d2584c9ef68dbb7906138a7c96f679fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/oxygen-6.0.0.tar.xz">oxygen-6.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fb93637c679c79eb8f7643e7d4842255f37f925b965bce2fd557f80adffac1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/oxygen-sounds-6.0.0.tar.xz">oxygen-sounds-6.0.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7565ae1ecc6d395bcaf43687eff94f56eda8a4289d0c6ff5f4a5751391c6e58f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma5support-6.0.0.tar.xz">plasma5support-6.0.0</a></td>
   <td align="right">54kB</td>
   <td><tt>aa131487ff2c75c892ce8c52813b6e1fe2d6a49f52ed08f38700e22c0e99ebed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-activities-6.0.0.tar.xz">plasma-activities-6.0.0</a></td>
   <td align="right">69kB</td>
   <td><tt>f0bd07bbcd9022c72e564046046029b39f71d1cc5b467b9f50914813043b2795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-activities-stats-6.0.0.tar.xz">plasma-activities-stats-6.0.0</a></td>
   <td align="right">81kB</td>
   <td><tt>5e6ab0fe5f3c5db0de2ebe6adcd79c26170b92addc056cf35f0484fb45007d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-browser-integration-6.0.0.tar.xz">plasma-browser-integration-6.0.0</a></td>
   <td align="right">214kB</td>
   <td><tt>21d5f727224a9e1c5486a7345042db4282eaa42e09a6852fb77b5b0135f4f641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-desktop-6.0.0.tar.xz">plasma-desktop-6.0.0</a></td>
   <td align="right">14MB</td>
   <td><tt>924ce04db2c88cf7ae1a23f19b38eb452977087b6e937ed0568ce5397bcc927d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-disks-6.0.0.tar.xz">plasma-disks-6.0.0</a></td>
   <td align="right">97kB</td>
   <td><tt>b82ffe327db6edd746c422f71e0071523713de6d9b2f46fb0e12d03002874f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-firewall-6.0.0.tar.xz">plasma-firewall-6.0.0</a></td>
   <td align="right">359kB</td>
   <td><tt>32b0b4e241e67d7aab2ade5ea345670f0945850e220d65aba3c6e55f60185796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-integration-6.0.0.tar.xz">plasma-integration-6.0.0</a></td>
   <td align="right">90kB</td>
   <td><tt>133ff66eca6363b798b5152e96e370400213e5a2bc28bd633d8b691406b02c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-mobile-6.0.0.tar.xz">plasma-mobile-6.0.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>d76f07e1147fd2eb6a32e35d7cb4c84795eda32b161cb0a60a04676a1e9a6ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-nano-6.0.0.tar.xz">plasma-nano-6.0.0</a></td>
   <td align="right">75kB</td>
   <td><tt>99fc44ded4dd3b44c45f893ed9221aa6126dde9d4f6adcb72704c03a93207c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-nm-6.0.0.tar.xz">plasma-nm-6.0.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>52cf96738ceeafce65f183a3457325aeb5b1f18a4336ceede5a226556e6e9eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-pa-6.0.0.tar.xz">plasma-pa-6.0.0</a></td>
   <td align="right">166kB</td>
   <td><tt>b49abb2bb74401b22cdae1d992101d764b483a18c60087c202f6e695145d022c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-sdk-6.0.0.tar.xz">plasma-sdk-6.0.0</a></td>
   <td align="right">318kB</td>
   <td><tt>8cb2de57aa20df4433a7d951306a637cc284acebae2b34cfa71c50ee3ede2aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-systemmonitor-6.0.0.tar.xz">plasma-systemmonitor-6.0.0</a></td>
   <td align="right">176kB</td>
   <td><tt>589fd04f1fe0d96bfa297a4fe03eeb015c7b5f8399325bf233277dfe79e66f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-thunderbolt-6.0.0.tar.xz">plasma-thunderbolt-6.0.0</a></td>
   <td align="right">72kB</td>
   <td><tt>0478ef59dbafe7a9b4974d28f1491cb9ddfb399f831d6dc1ba5ab0375ce8a89f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-vault-6.0.0.tar.xz">plasma-vault-6.0.0</a></td>
   <td align="right">188kB</td>
   <td><tt>641dd71ddb39d5d15be84d4b0c24d5a0e0c41b4ce2b725738fa72e59c452eda9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-welcome-6.0.0.tar.xz">plasma-welcome-6.0.0</a></td>
   <td align="right">884kB</td>
   <td><tt>c6285518c2c72107c6827a9d7198f93a1f30aec6f99993c2a311e3137fd3e66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-workspace-6.0.0.tar.xz">plasma-workspace-6.0.0</a></td>
   <td align="right">19MB</td>
   <td><tt>47dd87b4c0e09c1bcb34162b7aae3e5a3b9a4aaba1b9fed0f4d681bb3f9febba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plasma-workspace-wallpapers-6.0.0.tar.xz">plasma-workspace-wallpapers-6.0.0</a></td>
   <td align="right">104MB</td>
   <td><tt>4dd7be3d7aaaf01b7c9a62865ff0484e74af11b24685c54231a315f74af6b81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/plymouth-kcm-6.0.0.tar.xz">plymouth-kcm-6.0.0</a></td>
   <td align="right">45kB</td>
   <td><tt>0fbf62ea33f9f777dd6dee093d09402d4b4d985d8686e7354bbc436afa892de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/polkit-kde-agent-1-6.0.0.tar.xz">polkit-kde-agent-1-6.0.0</a></td>
   <td align="right">54kB</td>
   <td><tt>2ccfc41a83cfef8c9b3311fe1f93ab52d062f63b0f6e5a63b08240ed1153aa4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/powerdevil-6.0.0.tar.xz">powerdevil-6.0.0</a></td>
   <td align="right">774kB</td>
   <td><tt>126342760e1b8ca4b98fa8579abcaa415b859d7d6d1802b36a025648672cb050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/print-manager-6.0.0.tar.xz">print-manager-6.0.0</a></td>
   <td align="right">328kB</td>
   <td><tt>bd90578b91e6c90a13c5afcf94bc16d57bc7a3b7de89445bfa015f0c4e7814fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/qqc2-breeze-style-6.0.0.tar.xz">qqc2-breeze-style-6.0.0</a></td>
   <td align="right">64kB</td>
   <td><tt>a430e197c213c4989fe10fc249e4f0ae462ee1d3f5d6fbc958f42eb38b04c927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/sddm-kcm-6.0.0.tar.xz">sddm-kcm-6.0.0</a></td>
   <td align="right">94kB</td>
   <td><tt>88120524ea85158e6784f3523fb70643c2a65c19fe72ee0d5f040073ac22878f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/systemsettings-6.0.0.tar.xz">systemsettings-6.0.0</a></td>
   <td align="right">212kB</td>
   <td><tt>561f9013ba07071c0add777858ec85d40a8dddfcc83a10f5f04b2ce1016666bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/wacomtablet-6.0.0.tar.xz">wacomtablet-6.0.0</a></td>
   <td align="right">804kB</td>
   <td><tt>d7f318273e8758a3a224016e10930873fb8ed709d9cd6acc266d65a78ee4d16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.0/xdg-desktop-portal-kde-6.0.0.tar.xz">xdg-desktop-portal-kde-6.0.0</a></td>
   <td align="right">158kB</td>
   <td><tt>c56ede3e5148df746839618b74b0ae38fb0fb6b10cd04a35c71bc92f8d57dd6a</tt></td>
</tr>

</table>
