<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/bluedevil-5.16.0.tar.xz">bluedevil-5.16.0</a></td>
   <td align="right">154kB</td>
   <td><tt>b1086e98ea39c6b9b6c53623f9df2cc13e2ee36e0da4a66d9b3e1a4e67a06dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/breeze-5.16.0.tar.xz">breeze-5.16.0</a></td>
   <td align="right">15MB</td>
   <td><tt>eb37e75b6a463648edd1b421e06531054a361af9b60e0e4fb1588a36212a4dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/breeze-grub-5.16.0.tar.xz">breeze-grub-5.16.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1b146df44355af09d0f267187e288fd0e15a9e03e3fed7717c0c40e14b6a3dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/breeze-gtk-5.16.0.tar.xz">breeze-gtk-5.16.0</a></td>
   <td align="right">46kB</td>
   <td><tt>605f2fa40a05f882f2f7950075603c0bded2d3ea498a77fb3aaddf5f40e928b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/breeze-plymouth-5.16.0.tar.xz">breeze-plymouth-5.16.0</a></td>
   <td align="right">103kB</td>
   <td><tt>5a12f5e476636838792dc551e07b329241b2b5b007dc15a717987a6dbaf4956b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/discover-5.16.0.tar.xz">discover-5.16.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>809f0d5e5acb9733991fc8cc43cf7376e7a636ac2ec3dd4295d0271f4d0541b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/drkonqi-5.16.0.tar.xz">drkonqi-5.16.0</a></td>
   <td align="right">723kB</td>
   <td><tt>5faf9a71393d1d46ca5a49be8610637e4b7b482f6d5d1799560b29b9c18f86c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kactivitymanagerd-5.16.0.tar.xz">kactivitymanagerd-5.16.0</a></td>
   <td align="right">82kB</td>
   <td><tt>1708191667f74b920765a570704c0cb9ce4a307facbfd3e40d10aee59b1d857b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kde-cli-tools-5.16.0.tar.xz">kde-cli-tools-5.16.0</a></td>
   <td align="right">573kB</td>
   <td><tt>4f5e22a53d9f708696a3fd85702fb5f2a48280e8cd537265fb5201a8596fa9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kde-gtk-config-5.16.0.tar.xz">kde-gtk-config-5.16.0</a></td>
   <td align="right">150kB</td>
   <td><tt>539f6ea694d5709b4be14ff8c1d1b70dc8c01737ab86cc1b7055e9ac1463da93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kdecoration-5.16.0.tar.xz">kdecoration-5.16.0</a></td>
   <td align="right">41kB</td>
   <td><tt>87f97de50c64cf60b8322c6e883fc8d06659f5089643f4d11487ade84c98d758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kdeplasma-addons-5.16.0.tar.xz">kdeplasma-addons-5.16.0</a></td>
   <td align="right">580kB</td>
   <td><tt>d7fc80d63c7e1aea37a9ba28e5309bd538ac0c3c889b3dd9af1730a25acb8eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kgamma5-5.16.0.tar.xz">kgamma5-5.16.0</a></td>
   <td align="right">77kB</td>
   <td><tt>e60118149d43c0a8c86146647f03d0817e1658b074c3d5c7676f0b05e9ce4f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/khotkeys-5.16.0.tar.xz">khotkeys-5.16.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>111c1f2af7d89a327baf5e8902a1045068727038f75b680435c1600d8e41df18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kinfocenter-5.16.0.tar.xz">kinfocenter-5.16.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>5779cd6d59d51c81b8d1478b3424a3c3813b097bcde781958e13e180c63a2dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kmenuedit-5.16.0.tar.xz">kmenuedit-5.16.0</a></td>
   <td align="right">792kB</td>
   <td><tt>03927410260a58fe13120e06f36c7fe4e993ecf8d4ba428a84c93422f23b908b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kscreen-5.16.0.tar.xz">kscreen-5.16.0</a></td>
   <td align="right">119kB</td>
   <td><tt>058243275c88bb6824f33223cf9a9fd6d5fd982ac06396ba33468362acfd8176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kscreenlocker-5.16.0.tar.xz">kscreenlocker-5.16.0</a></td>
   <td align="right">119kB</td>
   <td><tt>4c349a02a62ae0c7e7f22ec1669e28f5e7574ddb5d0319e0a8136e81e41dd7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/ksshaskpass-5.16.0.tar.xz">ksshaskpass-5.16.0</a></td>
   <td align="right">20kB</td>
   <td><tt>49e7a3d0245503a984c4712c855931ae3eeac147a66d4301840a8023a2c47813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/ksysguard-5.16.0.tar.xz">ksysguard-5.16.0</a></td>
   <td align="right">488kB</td>
   <td><tt>bf902d3f4f3410bd5dce1c647599625b296859dc1a5dd9ccd694ff5e77e11256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kwallet-pam-5.16.0.tar.xz">kwallet-pam-5.16.0</a></td>
   <td align="right">19kB</td>
   <td><tt>498425290ca53b31a82d763d1191b8f0f489311e69f070cda3c4885f951b6581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kwayland-integration-5.16.0.tar.xz">kwayland-integration-5.16.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3f3e53ef60d0f8725095278c247df7b2f1b02bb6a082327042e0cb5d997233c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kwin-5.16.0.tar.xz">kwin-5.16.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>82685526c32830a54ecd2034049d86dd5b59b97c434788798da1b5c217f2495e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/kwrited-5.16.0.tar.xz">kwrited-5.16.0</a></td>
   <td align="right">19kB</td>
   <td><tt>26561775a280f326b7323170d6466d39447d98d0d5f593e7aaea5a62ef001559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/libkscreen-5.16.0.tar.xz">libkscreen-5.16.0</a></td>
   <td align="right">79kB</td>
   <td><tt>6ae883fc34c0a15882d34c0aba1f37f31de944b42639f46a1f495c9dda2f8bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/libksysguard-5.16.0.tar.xz">libksysguard-5.16.0</a></td>
   <td align="right">566kB</td>
   <td><tt>7e1cf76408824fe4b30e133e12d2b276594bd042a633b6b5cc4d33d0a9954b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/milou-5.16.0.tar.xz">milou-5.16.0</a></td>
   <td align="right">55kB</td>
   <td><tt>047658479fdddb6b3290ca4b6c4263827d80d70bc9de7c88bdc6b5707ba47e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/oxygen-5.16.0.tar.xz">oxygen-5.16.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e32d5e81ea4bab06a89d937ee7438445af73292f2d52d2547f8fec11b52cb988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-browser-integration-5.16.0.tar.xz">plasma-browser-integration-5.16.0</a></td>
   <td align="right">119kB</td>
   <td><tt>0aa69ee733dab6d9435cf82a71bc85011dfe4b703909656e2c67fbf40df2839e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-desktop-5.16.0.tar.xz">plasma-desktop-5.16.0</a></td>
   <td align="right">9.0MB</td>
   <td><tt>7ef395413acbea604383b15e7e575365ad7c5cbbc47dd39d6e4abfa627a3051c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-integration-5.16.0.tar.xz">plasma-integration-5.16.0</a></td>
   <td align="right">54kB</td>
   <td><tt>ce297e9a6e97f7d50bae6fe31d25051a46f860abfeb82c34b95c57d245ad2914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-nm-5.16.0.tar.xz">plasma-nm-5.16.0</a></td>
   <td align="right">764kB</td>
   <td><tt>5c18031ff2ed73963350f05c5f4293cd91f98ab6cf2e261910b09dc7fcb5ccc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-pa-5.16.0.tar.xz">plasma-pa-5.16.0</a></td>
   <td align="right">98kB</td>
   <td><tt>abdd38458c75103bde1278a90b5b8660b75c2e4fa41d38c5c990b409896af5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-sdk-5.16.0.tar.xz">plasma-sdk-5.16.0</a></td>
   <td align="right">244kB</td>
   <td><tt>3012268273a318049ad51a37a416f22b4d08a54fa14b51a29a3bbc980aa0a50d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-tests-5.16.0.tar.xz">plasma-tests-5.16.0</a></td>
   <td align="right">1kB</td>
   <td><tt>4d04352996182a29e995db7f9d4af3751d02ef368b08239b64b0176eb42ef755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-vault-5.16.0.tar.xz">plasma-vault-5.16.0</a></td>
   <td align="right">123kB</td>
   <td><tt>fbcd37da69a4cedd7fda58426d0a08572b217c63f8944f9f8562265373e8c1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-workspace-5.16.0.tar.xz">plasma-workspace-5.16.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>52da11a30708b375136ec5c280d75948e2651ecdb03f745e596d10168ab0ffae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plasma-workspace-wallpapers-5.16.0.tar.xz">plasma-workspace-wallpapers-5.16.0</a></td>
   <td align="right">32MB</td>
   <td><tt>1e1fdbe7873c5028bf86793d6b37af0ad1e5afd298841df05f45e8a26e823965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/plymouth-kcm-5.16.0.tar.xz">plymouth-kcm-5.16.0</a></td>
   <td align="right">39kB</td>
   <td><tt>5565510fe35382100045c0b9d854f698480c414e590a2adf89aa275bc9f16399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/polkit-kde-agent-1-5.16.0.tar.xz">polkit-kde-agent-1-5.16.0</a></td>
   <td align="right">41kB</td>
   <td><tt>1bc1545656e7c9066e0a2967e98869194e0c0300380cd3b9d79d620f220b3a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/powerdevil-5.16.0.tar.xz">powerdevil-5.16.0</a></td>
   <td align="right">576kB</td>
   <td><tt>640781709afb1a595061f918b9686fafb75e78bb72db0169a76a4d94d9e48a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/sddm-kcm-5.16.0.tar.xz">sddm-kcm-5.16.0</a></td>
   <td align="right">60kB</td>
   <td><tt>dba4bf7e730553459f00b2102c56b468a385ca5dfe32ce7a13d10414e109ff80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/systemsettings-5.16.0.tar.xz">systemsettings-5.16.0</a></td>
   <td align="right">174kB</td>
   <td><tt>dcbff775f7ed6dfaf5dce4937d65e9202fa0e4e8f5b57c6f16642c22ebe7cc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/user-manager-5.16.0.tar.xz">user-manager-5.16.0</a></td>
   <td align="right">534kB</td>
   <td><tt>fc0448c62c76baaa43df8acb216fbae3a97d3fe0378eba848142afc24ff65f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.0/xdg-desktop-portal-kde-5.16.0.tar.xz">xdg-desktop-portal-kde-5.16.0</a></td>
   <td align="right">60kB</td>
   <td><tt>a2fc10b848fbfdc4d9c6acd94245e2bfefe805d6f63e375c8c8cad74ea05fb27</tt></td>
</tr>

</table>
