@import "plasma-announcement-shared";

.header-plasma {
  background-image: url('/announcements/plasma/5/5.27.0/blur_light_1920x1080.png');
  background-size: cover;
}

.header-plasma, .header-plasma * {
  color: white !important;
}

main li {
  font-size: 1.15rem;
}

.text-center ul {
  list-style-type: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.max-width-800 {
  max-width: 800px;
}
@media (max-width: 799.98px) {
  .max-width-800 {
    max-width: 100%;
  }
}

.highlight-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "overview      krunner      fingerprint"
    "overview-desc krunner-desc fingerprint-desc";
  column-gap: 40px;
}
.overview {
  grid-area: overview;
}
.overview-desc {
  grid-area: overview-desc;
}
.hl-krunner {
  grid-area: krunner;
}
.hl-krunner-desc {
  grid-area: krunner-desc;
}
.fingerprint {
  grid-area: fingerprint;
}
.fingerprint-desc {
  grid-area: fingerprint-desc;
}
.fingerprint, .hl-krunner, .overview {
  align-self: end;
  margin-top: 20px;
}
.fingerprint-desc, .hl-krunner-desc, .overview-desc {
  text-align: center;
  align-self: start;
}
@media (max-width: 767px) {
  .highlight-grid {
    display: flex;
    flex-direction: column;
  }
  .fingerprint, .hl-krunner, .overview {
    width: 100%;
    align-self: center;
    margin: 0;
    margin-top: 20px;
  }
}

.feature-video {
  width: 75%;
}

@media (max-width: 999px) {
  .feature-video {
    width: 100%;
  }
}

.donnorbox-container, .donnorbox-container-small {
  background-color: var(--background-color);
  max-width: calc(100% - 60px);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
  border-radius: 1rem;
  p {
    padding: 1rem;
  }
  iframe {
    top: 15px;
    position: relative;
  }
}
.donnorbox-container {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 400px;
  @media (max-width: 1500px) {
    display: none;
  }
}

.donnorbox-container-small {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1500px) {
    display: none;
  }
}
