@import "plasma-announcement-shared";

.header-plasma {
  background-image: url('/announcements/plasma/6/6.2.0/blur_light_1920x1080.png');
  background-size: cover;
  background-position: center;
}

.header-plasma, .header-plasma * {
  color: white !important;
}

main li {
  font-size: 1.15rem;
}

.text-center ul {
  list-style-type: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.max-width-800 {
  max-width: 800px;
}
@media (max-width: 799.98px) {
  .max-width-800 {
    max-width: 100%;
  }
}

.donnorbox-container, .donnorbox-container-small {
  background-color: var(--background-color);
  max-width: calc(100% - 60px);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
  border-radius: 1rem;
  p {
    padding: 1rem;
  }
  iframe {
    top: 15px;
    position: relative;
  }
}
.donnorbox-container {
  position: absolute;
  top: 30px;
  right: 1rem;
  width: 400px;
  /* Only show when there's enough width besides our 800px content
   * 800px content, 400px (container width) either side,
   * and 2 rem either side (so the container has 1rem each side)
   */
  @media (max-width: calc(800px + (400px * 2) + (2rem * 2))) {
    display: none;
  }
}

.donnorbox-container-small {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  /* Same as above, but min */
  @media (min-width: calc(800px + (400px * 2) + (2rem * 2))) {
    display: none;
  }
}
