/**
 * SPDX-FileCopyrightText: 2021 Nguyen Hung Phu <phuhnguyen@disroot.org>
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */
table, th, td { border: 1px solid black; }

td, th { padding: 0 5px; }

.donation-year { width: 900px; margin-left: auto; margin-right: auto; }

.first-cols { width: 15%; }

.last-col { width: 70%; }

.amount-col { text-align: right; }

@media screen and (max-width: 900px) {
  .donation-year { width: 100%; }
}

@media (prefers-color-scheme: dark) {
  canvas {
      filter: invert(1) hue-rotate(180deg);
  }
}
