@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Butcherman";
  src: local("Butcherman"), url("/fonts/Butcherman/Butcherman-Regular.ttf") format("opentype");
}

main {
	background-color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.butcherman-regular {
	font-family: "Butcherman", serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-family: "Butcherman", "Noto Sans", serif;
	font-size: 5rem;
	margin-top: 4rem;
	text-align: center;
	color: white;
	.red {
		color: #EE2020
	}

	@media (max-width: 992px) {
		font-size: 4rem;
		margin-top: 2rem;
	}
}

h2 {
	font-family: "Butcherman", "Noto Sans", serif;
	font-size: 3rem;
	margin-top: 4rem;
	color: white;
	text-align: center;
	.red {
		color: #EE2020
	}

	@media (max-width: 992px) {
		font-size: 4rem;
		margin-top: 2rem;
	}
}

h3 {
	font-family: "Butcherman", "Noto Sans", serif;
	font-size: 1.5rem;
	margin-top: 1rem;
	text-align: center;
	.red {
		color: #EE2020
	}
	.white {
		color: whitesmoke;
	}


	@media (max-width: 992px) {
		font-size: 4rem;
		margin-top: 2rem;
	}
}

.horror {
	font-family: "Butcherman", "Noto Sans", serif;
	font-size: 1rem;
	color: whitesmoke;
}


.bluefriday p {
	font-size: 1.2rem;
	color: whitesmoke;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	@media (max-width: 992px) {
		font-size: 1.0rem;
	}
}

.kde-logo-rotate {
	max-height: none!important;
	margin-top: 4rem;
/*	transform: rotate(10deg); */
	position: relative;
	display: block;
/*	border-radius: 20px;*/
	display: block;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.bluefriday-image {
	max-width: 90vw;
}

.donnorbox {
	max-width: 500px;
	min-width: 250px;
	max-height: none !important;
	margin-top: 4rem;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 8px;
}


///////////////////////
//  PROGRESS BAR STUFF

 #bar {
 font-family: sans-serif;
 font-weight: bolder;
 width: 100%;
 }

 #bar-top {
 //  float: left;
 width: 100%;
 }

 #bar_goal1 {
 // float: right;
 text-align: right;
 color: whitesmoke;
 border-right: thin solid;
 }

 #bar_goal2 {
 //  float: left;
 text-align: right;
 color: whitesmoke;
 border-right: thin solid;
 }

 #bar_goal3 {
 //  float: left;
 text-align: right;
 color: whitesmoke;
 border-right: thin solid;
 }

 #bar_outline {
 border: thin solid;
 }

 #bar_inline {
 background-color: lightgray;
 border: thin solid white;
 }

 #bar_fill {
 background-color: DarkSlateGray;
 }

 #bar_amount {
 float: left;
 text-align: right;
 color: whitesmoke;
 border-right: thin solid;
 }

 #bar_text {
 text-align: center;
 color: white;
 }
