<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-17.04.3.tar.xz">akonadi-17.04.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>72be63e0450eee28e2fe1fdd6211037a8f6fa6bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-calendar-17.04.3.tar.xz">akonadi-calendar-17.04.3</a></td>
   <td align="right">273kB</td>
   <td><tt>12fa1d202f83698f026a70ec8839d205c5d2023f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-calendar-tools-17.04.3.tar.xz">akonadi-calendar-tools-17.04.3</a></td>
   <td align="right">216kB</td>
   <td><tt>367c42bd9eb7a4ffa3e3c9db1d7dcd4bde744fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadiconsole-17.04.3.tar.xz">akonadiconsole-17.04.3</a></td>
   <td align="right">181kB</td>
   <td><tt>8dd7ff916b61b978a66e6775a59cd6e0350e122d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-contacts-17.04.3.tar.xz">akonadi-contacts-17.04.3</a></td>
   <td align="right">339kB</td>
   <td><tt>b15c8c1d41f14ade89c5740eb3d468130b069870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-import-wizard-17.04.3.tar.xz">akonadi-import-wizard-17.04.3</a></td>
   <td align="right">422kB</td>
   <td><tt>ba27a748dd9dac8a135692ac068824ef2722afda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-mime-17.04.3.tar.xz">akonadi-mime-17.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>9fb4bd7317960ae06165130e205e4abb1fc62433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-notes-17.04.3.tar.xz">akonadi-notes-17.04.3</a></td>
   <td align="right">23kB</td>
   <td><tt>4af9f2aa4b33c3b12508a926275053db51bb7fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akonadi-search-17.04.3.tar.xz">akonadi-search-17.04.3</a></td>
   <td align="right">79kB</td>
   <td><tt>9545b83c992ee66fb669f83f72e7eb24b5c13c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/akregator-17.04.3.tar.xz">akregator-17.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3403c6b5c0c03fa42c7bc651a438c5fbd57b5560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/analitza-17.04.3.tar.xz">analitza-17.04.3</a></td>
   <td align="right">320kB</td>
   <td><tt>25a8317eedbb02d5b52cce5b9afc577d34e8162a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ark-17.04.3.tar.xz">ark-17.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b72af2d602fe42005b02416eac2411bb206a77ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/artikulate-17.04.3.tar.xz">artikulate-17.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a297a2302afc8b69068017267b918f830aea4773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/audiocd-kio-17.04.3.tar.xz">audiocd-kio-17.04.3</a></td>
   <td align="right">242kB</td>
   <td><tt>26822f1c66765d16e517aa5cadd0578962f255da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/baloo-widgets-17.04.3.tar.xz">baloo-widgets-17.04.3</a></td>
   <td align="right">146kB</td>
   <td><tt>1000d5a747345f79fb03ffb0a54eff7d27fa4cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/blinken-17.04.3.tar.xz">blinken-17.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>97509b6b1b56e9cac92554ae363b564950ae3a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/blogilo-17.04.3.tar.xz">blogilo-17.04.3</a></td>
   <td align="right">784kB</td>
   <td><tt>460a82fa9ae64da340de90c51f5b7a2a9fe92446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/bomber-17.04.3.tar.xz">bomber-17.04.3</a></td>
   <td align="right">736kB</td>
   <td><tt>9ed4cbe8a53c12b92cc2fdfd602cd3710379c493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/bovo-17.04.3.tar.xz">bovo-17.04.3</a></td>
   <td align="right">181kB</td>
   <td><tt>fa8a00a92bcfc19b038ded15773724b143de6bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/calendarsupport-17.04.3.tar.xz">calendarsupport-17.04.3</a></td>
   <td align="right">652kB</td>
   <td><tt>1aa9a339b2bea3d5f78b8551d1a69ad9e1dea649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/cantor-17.04.3.tar.xz">cantor-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>304e8faba5efe70053e7d70c12be240324d00c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/cervisia-17.04.3.tar.xz">cervisia-17.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4b501f91fd3d4e7ce1c7cf236d19d15718cf0347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/dolphin-17.04.3.tar.xz">dolphin-17.04.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dda594bf56a7033813bf99935ec7cf35a44d4dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/dolphin-plugins-17.04.3.tar.xz">dolphin-plugins-17.04.3</a></td>
   <td align="right">181kB</td>
   <td><tt>66160adc259c18873367a527da2576f730cc4831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/dragon-17.04.3.tar.xz">dragon-17.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cc68c74573bdf4a5afd6ff1e53c9612d9b77091d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/eventviews-17.04.3.tar.xz">eventviews-17.04.3</a></td>
   <td align="right">424kB</td>
   <td><tt>ef00644cfb91562d9792678353073a328c0020d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ffmpegthumbs-17.04.3.tar.xz">ffmpegthumbs-17.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>e2a966fa59c195e7e96aed45c7d07c047b743016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/filelight-17.04.3.tar.xz">filelight-17.04.3</a></td>
   <td align="right">637kB</td>
   <td><tt>64a68e939dec9571bd2385d8e09632611cb5f79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/granatier-17.04.3.tar.xz">granatier-17.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6390884ce00d0e0b95c5ce627f6f552df2f56925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/grantlee-editor-17.04.3.tar.xz">grantlee-editor-17.04.3</a></td>
   <td align="right">108kB</td>
   <td><tt>5d6ea9708a9a8ef65a843bc2ad411e4bfec5f755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/grantleetheme-17.04.3.tar.xz">grantleetheme-17.04.3</a></td>
   <td align="right">49kB</td>
   <td><tt>0bbc4f3068a782f263318dbb4080157e0ed550e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/gwenview-17.04.3.tar.xz">gwenview-17.04.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>426a9d87238e7e2367f2002457b3bb7ea7315d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/incidenceeditor-17.04.3.tar.xz">incidenceeditor-17.04.3</a></td>
   <td align="right">509kB</td>
   <td><tt>a3f1537f212adb1c465e751c4b823584309b5856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/jovie-17.04.3.tar.xz">jovie-17.04.3</a></td>
   <td align="right">385kB</td>
   <td><tt>2180ef034490d4e7918947304be3da158cb4736c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/juk-17.04.3.tar.xz">juk-17.04.3</a></td>
   <td align="right">435kB</td>
   <td><tt>98457c78baaf8d952dec527903e4ef51aa74f8c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/k3b-17.04.3.tar.xz">k3b-17.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>a4e0302e72b9042c6e9609638a0ecf10e2c43ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kaccessible-17.04.3.tar.xz">kaccessible-17.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>af678821ea535edf7cccf3c7865ed96cb6381d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kaccounts-integration-17.04.3.tar.xz">kaccounts-integration-17.04.3</a></td>
   <td align="right">67kB</td>
   <td><tt>538cb5db1763764f1deebe5c9868fc8541a825b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kaccounts-providers-17.04.3.tar.xz">kaccounts-providers-17.04.3</a></td>
   <td align="right">30kB</td>
   <td><tt>36cccb70887218132d9d714d7eff181c63999d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kaddressbook-17.04.3.tar.xz">kaddressbook-17.04.3</a></td>
   <td align="right">546kB</td>
   <td><tt>1a6de4db695330fb417c0551306a3aa196c9f7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kajongg-17.04.3.tar.xz">kajongg-17.04.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bf8e9177cb06a6a2425d4fe0e5239b84f392d1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kalarm-17.04.3.tar.xz">kalarm-17.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b0ecd9c5db5294c642bba526e5c8b0838154b060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kalarmcal-17.04.3.tar.xz">kalarmcal-17.04.3</a></td>
   <td align="right">490kB</td>
   <td><tt>be6dfdfb9a2b5b6a89529aa9d1d10c5bf841d074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kalgebra-17.04.3.tar.xz">kalgebra-17.04.3</a></td>
   <td align="right">673kB</td>
   <td><tt>441ed152ceccca697ba19f49c6d05039e573687b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kalzium-17.04.3.tar.xz">kalzium-17.04.3</a></td>
   <td align="right">23MB</td>
   <td><tt>20783e4ca7da8db97875f51829a708e3653dd560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kamera-17.04.3.tar.xz">kamera-17.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>f28637fe1f57230c71da2abd0affdc47bca2f93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kanagram-17.04.3.tar.xz">kanagram-17.04.3</a></td>
   <td align="right">7.2MB</td>
   <td><tt>5ffd4c2ea324fed90dfac9723c1420f44ac5cae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kapman-17.04.3.tar.xz">kapman-17.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>89dcea7ed56052b4e943f6d1be08ea56912978f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kapptemplate-17.04.3.tar.xz">kapptemplate-17.04.3</a></td>
   <td align="right">480kB</td>
   <td><tt>02a488bec41db3b450bab74de2fa887b9b7c5eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kate-17.04.3.tar.xz">kate-17.04.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>07bffffffb20d0e1cead943c91cdec76c7d3f1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/katomic-17.04.3.tar.xz">katomic-17.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2a6b3a10ee41615ac30c4845eeb9748ea6484221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kblackbox-17.04.3.tar.xz">kblackbox-17.04.3</a></td>
   <td align="right">391kB</td>
   <td><tt>adda2806bad625fdac480b693a244df57cc66f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kblocks-17.04.3.tar.xz">kblocks-17.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>96a70a968f512d57479ca893473ece6203681cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kblog-17.04.3.tar.xz">kblog-17.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>77c009f4d1bd30d2c74c44c4a82f97c79c9d0885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kbounce-17.04.3.tar.xz">kbounce-17.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>af53249457895343efb33ccf47d45fe6ae538872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kbreakout-17.04.3.tar.xz">kbreakout-17.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>199042ccd39317075fbc753878dfb4ea04c965cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kbruch-17.04.3.tar.xz">kbruch-17.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>34afbb0fed485c8533d925c40afd4e1d07080586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcachegrind-17.04.3.tar.xz">kcachegrind-17.04.3</a></td>
   <td align="right">787kB</td>
   <td><tt>0cf08b9741d49441f3505371e0619951635ea805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcalc-17.04.3.tar.xz">kcalc-17.04.3</a></td>
   <td align="right">351kB</td>
   <td><tt>ec80ac05a867c97d7db4de6ec348915db3eb10c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcalcore-17.04.3.tar.xz">kcalcore-17.04.3</a></td>
   <td align="right">289kB</td>
   <td><tt>8b20475a08272af80ea30cec5aeaf0f7b9ee62d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcalutils-17.04.3.tar.xz">kcalutils-17.04.3</a></td>
   <td align="right">319kB</td>
   <td><tt>bd5bc8fa9f251579546f971e4024d0a6e5ffd707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcharselect-17.04.3.tar.xz">kcharselect-17.04.3</a></td>
   <td align="right">341kB</td>
   <td><tt>3c5811ecf8925dd855c346b34884cb72c692447a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcolorchooser-17.04.3.tar.xz">kcolorchooser-17.04.3</a></td>
   <td align="right">15kB</td>
   <td><tt>80cbcaee9fbb9621ca44dbc147c3181f9054608a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcontacts-17.04.3.tar.xz">kcontacts-17.04.3</a></td>
   <td align="right">202kB</td>
   <td><tt>8990db6d714f491742b9c30482e34801021f0ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kcron-17.04.3.tar.xz">kcron-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a51873296f710f83db5ffb2f549ba6d2f5f64623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdav-17.04.3.tar.xz">kdav-17.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>a1608f2c2220d437d73064f9f7c2d22c7243e7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdebugsettings-17.04.3.tar.xz">kdebugsettings-17.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>1efffce913383c13c96c3e722e42d44084d50981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-dev-scripts-17.04.3.tar.xz">kde-dev-scripts-17.04.3</a></td>
   <td align="right">307kB</td>
   <td><tt>e2668d4b596b9cdc0cbce2639cc0c65386efdd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-dev-utils-17.04.3.tar.xz">kde-dev-utils-17.04.3</a></td>
   <td align="right">51kB</td>
   <td><tt>a8fd5deb3ed0abcc9c1afe2d7f9649cf33ca0ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdeedu-data-17.04.3.tar.xz">kdeedu-data-17.04.3</a></td>
   <td align="right">778kB</td>
   <td><tt>61f01b6dad0c7ab751eef200052c13ac2eb11dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdegraphics-mobipocket-17.04.3.tar.xz">kdegraphics-mobipocket-17.04.3</a></td>
   <td align="right">13kB</td>
   <td><tt>9726bb78340eb2c286414105fe184ac15e9a976b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdegraphics-thumbnailers-17.04.3.tar.xz">kdegraphics-thumbnailers-17.04.3</a></td>
   <td align="right">40kB</td>
   <td><tt>62a2d8a92358312b1c19fabd80f7c22205d3915a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdelibs-4.14.34.tar.xz">kdelibs-4.14.34</a></td>
   <td align="right">11MB</td>
   <td><tt>6797e571c1c327ed1968006d9f7f6f1ffefef930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdenetwork-filesharing-17.04.3.tar.xz">kdenetwork-filesharing-17.04.3</a></td>
   <td align="right">327kB</td>
   <td><tt>2fded255f938507017ac69f5e1224c77b106f1a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdenlive-17.04.3.tar.xz">kdenlive-17.04.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>9f0598276e32bd5bc8a96eaed742c8d15a544519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdepim-addons-17.04.3.tar.xz">kdepim-addons-17.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>898ee19fd3b96c9f01dc080a0108f052b68fd8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdepim-apps-libs-17.04.3.tar.xz">kdepim-apps-libs-17.04.3</a></td>
   <td align="right">71kB</td>
   <td><tt>9b3dfde0d7725b93f617065c1f80bc85923f24e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdepim-runtime-17.04.3.tar.xz">kdepim-runtime-17.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3140d8c72758873ecab9749182b75f44618b3722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-runtime-17.04.3.tar.xz">kde-runtime-17.04.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>ea725d1889f9e00a9a928629e09b165c7bf77978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdesdk-kioslaves-17.04.3.tar.xz">kdesdk-kioslaves-17.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>83dde5e81c78ffa459b63925d797a51896f1cee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdesdk-thumbnailers-17.04.3.tar.xz">kdesdk-thumbnailers-17.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>f7b3e59b38a0840d38a19550c85bcd930662fb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdf-17.04.3.tar.xz">kdf-17.04.3</a></td>
   <td align="right">517kB</td>
   <td><tt>f9144bbcfeffb55074d2aa232ff643c5d94edf8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdialog-17.04.3.tar.xz">kdialog-17.04.3</a></td>
   <td align="right">92kB</td>
   <td><tt>52b6a7a0a14631c5abf3a8a8d2c810a2551f9dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kdiamond-17.04.3.tar.xz">kdiamond-17.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>8ceaa151094facd1efc9e2c6bc96ee423dc77bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/keditbookmarks-17.04.3.tar.xz">keditbookmarks-17.04.3</a></td>
   <td align="right">177kB</td>
   <td><tt>2b1f67eb9ea5537f6ac00390a19f225fd8c180ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kfilereplace-17.04.3.tar.xz">kfilereplace-17.04.3</a></td>
   <td align="right">745kB</td>
   <td><tt>25afde5eb7a1efe0a027b0228549334eb1d4080b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kfind-17.04.3.tar.xz">kfind-17.04.3</a></td>
   <td align="right">204kB</td>
   <td><tt>9ab12968a661e8c3a55d0d86f910a450e838d1e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kfloppy-17.04.3.tar.xz">kfloppy-17.04.3</a></td>
   <td align="right">193kB</td>
   <td><tt>dffbaa29ebbfa1dde65d4a14320f31ff615052b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kfourinline-17.04.3.tar.xz">kfourinline-17.04.3</a></td>
   <td align="right">559kB</td>
   <td><tt>1ad29c9a02f3b07b2c5c04294c00e848acf7c2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kgeography-17.04.3.tar.xz">kgeography-17.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>9b5b702b5d200ba05a82230eb04d9a6546d1f101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kget-17.04.3.tar.xz">kget-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9c0686cf93a48352dba65f9f1e44563d575e38a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kgoldrunner-17.04.3.tar.xz">kgoldrunner-17.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5cd8ee62af29f079b56410a5f1519bdffd4e1a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kgpg-17.04.3.tar.xz">kgpg-17.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7bb6201183bd037217784f76a8b4e51676bce68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/khangman-17.04.3.tar.xz">khangman-17.04.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>72e78bc68e7a6a7e342e7195d194e0e3c2b203d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/khelpcenter-17.04.3.tar.xz">khelpcenter-17.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8f5e6c2c096d1034761f7f0a19aa3630bcaff1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kholidays-17.04.3.tar.xz">kholidays-17.04.3</a></td>
   <td align="right">196kB</td>
   <td><tt>9a401a77fdd86fab5a943f98c7332b3f05c54b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kidentitymanagement-17.04.3.tar.xz">kidentitymanagement-17.04.3</a></td>
   <td align="right">144kB</td>
   <td><tt>c9a45e542ca2837d5a665259dea851f37e01b994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kig-17.04.3.tar.xz">kig-17.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4ef94073f7111213f61294c877d0c3edb02c541d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kigo-17.04.3.tar.xz">kigo-17.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9d4fb0afc529574d5fa58453587e531f87144150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/killbots-17.04.3.tar.xz">killbots-17.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>966c0e0643e6cdac22d616122c3400280d968526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kimagemapeditor-17.04.3.tar.xz">kimagemapeditor-17.04.3</a></td>
   <td align="right">397kB</td>
   <td><tt>b4a035debc5a614c44c54c9dc59fa38c715063ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kimap-17.04.3.tar.xz">kimap-17.04.3</a></td>
   <td align="right">116kB</td>
   <td><tt>53d1d5fa0902fefd3f178eef44b1045149ad3a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kio-extras-17.04.3.tar.xz">kio-extras-17.04.3</a></td>
   <td align="right">539kB</td>
   <td><tt>3760c75e5b36c764107dea36a11aa249159d14d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kiriki-17.04.3.tar.xz">kiriki-17.04.3</a></td>
   <td align="right">317kB</td>
   <td><tt>c26bf57da913ff78cba51c2e84875903c16da0c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kiten-17.04.3.tar.xz">kiten-17.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>b5399c1f9ef7dd2185dfa91e7b4a5d912acc839b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kjumpingcube-17.04.3.tar.xz">kjumpingcube-17.04.3</a></td>
   <td align="right">285kB</td>
   <td><tt>45c6f4a4ffdfee9292da1c8179061e1a1ebfd2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kldap-17.04.3.tar.xz">kldap-17.04.3</a></td>
   <td align="right">150kB</td>
   <td><tt>ae044a159cb6286b81056cd416f5a1bdb49e3455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kleopatra-17.04.3.tar.xz">kleopatra-17.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a7d795082e66de9e5acfad30163bce15ea287303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/klettres-17.04.3.tar.xz">klettres-17.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>c9fe59f24eff340ee805af586c6df1d49a60c60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/klickety-17.04.3.tar.xz">klickety-17.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e978dc7f6ee1ee4691285c39af8a71855f22a0f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/klines-17.04.3.tar.xz">klines-17.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7af0ffc9a59a164abf8f6944f0a33fd83d7bd327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/klinkstatus-17.04.3.tar.xz">klinkstatus-17.04.3</a></td>
   <td align="right">439kB</td>
   <td><tt>ced3270df028d51bcef91d7381fb006273adf04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmag-17.04.3.tar.xz">kmag-17.04.3</a></td>
   <td align="right">84kB</td>
   <td><tt>c40010bec397f3b91157c12cef61bcf69f3a356e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmahjongg-17.04.3.tar.xz">kmahjongg-17.04.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>d83e56eeea20e6ff6f712d648a8c1a57ed9bc97b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmail-17.04.3.tar.xz">kmail-17.04.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>ec1a799aee762e09a436b2884dba5e21fe25b699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmail-account-wizard-17.04.3.tar.xz">kmail-account-wizard-17.04.3</a></td>
   <td align="right">146kB</td>
   <td><tt>4d7eefc3e653fe146e4bcd103276f63fc6cc1644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmailtransport-17.04.3.tar.xz">kmailtransport-17.04.3</a></td>
   <td align="right">221kB</td>
   <td><tt>843b30f01459f11031f25ae72c74dc68d837f1dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmbox-17.04.3.tar.xz">kmbox-17.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>61d6e22848b6d1d3b1ab9291dac5970c1be33ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmime-17.04.3.tar.xz">kmime-17.04.3</a></td>
   <td align="right">141kB</td>
   <td><tt>5bcae08eeeb62394cc7d76ca71fb769951f05d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmines-17.04.3.tar.xz">kmines-17.04.3</a></td>
   <td align="right">862kB</td>
   <td><tt>bc8ed3b4bfe067762cc666fb9bd715a0761ec0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmix-17.04.3.tar.xz">kmix-17.04.3</a></td>
   <td align="right">379kB</td>
   <td><tt>1e6110f6c99c49c622f760f6e68a02484454cab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmousetool-17.04.3.tar.xz">kmousetool-17.04.3</a></td>
   <td align="right">35kB</td>
   <td><tt>d7018911a9dcbee6d000a7efe9d7357d0aed41f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmouth-17.04.3.tar.xz">kmouth-17.04.3</a></td>
   <td align="right">271kB</td>
   <td><tt>8a3425ae58db65c5b430439a0d03f27c5980a3e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kmplot-17.04.3.tar.xz">kmplot-17.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5011b1e05aacd2411a8a998a787754b0a2b980a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/knavalbattle-17.04.3.tar.xz">knavalbattle-17.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>704a52b22e1bf861ab29e22a8690f49fc7b6833b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/knetwalk-17.04.3.tar.xz">knetwalk-17.04.3</a></td>
   <td align="right">958kB</td>
   <td><tt>b20827ca6fdf182cf6b602a9403a7bdb8113f4b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/knotes-17.04.3.tar.xz">knotes-17.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>e18f0d9bf10c866704b0824a7397b51434a84adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kolf-17.04.3.tar.xz">kolf-17.04.3</a></td>
   <td align="right">751kB</td>
   <td><tt>88ae1822c1f38e8dd2328343c5c0ff733d361b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kollision-17.04.3.tar.xz">kollision-17.04.3</a></td>
   <td align="right">265kB</td>
   <td><tt>f2ee2189ed2ad134b89a9e26f7df5d955e4dc008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kolourpaint-17.04.3.tar.xz">kolourpaint-17.04.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>ea0f1911e68b5a89cccaa5452a53ae4834849628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kompare-17.04.3.tar.xz">kompare-17.04.3</a></td>
   <td align="right">691kB</td>
   <td><tt>eecc475091adae4ed9673d7fb666c74c6ddee78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/konqueror-17.04.3.tar.xz">konqueror-17.04.3</a></td>
   <td align="right">7.4MB</td>
   <td><tt>61c79513930253f2e2be8b568cb87e3e669de953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/konquest-17.04.3.tar.xz">konquest-17.04.3</a></td>
   <td align="right">396kB</td>
   <td><tt>7184855c7bbeba397054215596367f9576be9198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/konsole-17.04.3.tar.xz">konsole-17.04.3</a></td>
   <td align="right">984kB</td>
   <td><tt>a9a99d46d17f5b49f35e84a9e5cb682658c10716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kontact-17.04.3.tar.xz">kontact-17.04.3</a></td>
   <td align="right">842kB</td>
   <td><tt>89f58efab7a0fee2c4c365a222fbd67cc0c10049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kontactinterface-17.04.3.tar.xz">kontactinterface-17.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>d6df04e5b164c04ef08ed0d6a9f05ea0938fce39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kopete-17.04.3.tar.xz">kopete-17.04.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>40fa96ad0be329e97f5493a77a2c10927b385a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/korganizer-17.04.3.tar.xz">korganizer-17.04.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8f1a5182f98c95506cfdd7ad6564587f777d0061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kpat-17.04.3.tar.xz">kpat-17.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ffd5f6ba4d86f3dd826ee9c35cf794ffc638c5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kpimtextedit-17.04.3.tar.xz">kpimtextedit-17.04.3</a></td>
   <td align="right">137kB</td>
   <td><tt>57afac16b5e252559109eb8f708cf818bd075ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kppp-17.04.3.tar.xz">kppp-17.04.3</a></td>
   <td align="right">684kB</td>
   <td><tt>fd84655e2007a5b71811d433bd27b8a816e33104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kqtquickcharts-17.04.3.tar.xz">kqtquickcharts-17.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>e14af6dda77b6a8d0234b13b0a33fa1655c12c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/krdc-17.04.3.tar.xz">krdc-17.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7db6040a4762742909be7637c691ebabbb31d9ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kremotecontrol-17.04.3.tar.xz">kremotecontrol-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>69e000cc2d29467d9493bd839b1b82bcfedd9cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kreversi-17.04.3.tar.xz">kreversi-17.04.3</a></td>
   <td align="right">464kB</td>
   <td><tt>9242d474045ac54c3bc1070e930c3a837b4c7c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/krfb-17.04.3.tar.xz">krfb-17.04.3</a></td>
   <td align="right">961kB</td>
   <td><tt>cea3e0dccddb7f3de46a71c4a522fcc56075f9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kross-interpreters-17.04.3.tar.xz">kross-interpreters-17.04.3</a></td>
   <td align="right">141kB</td>
   <td><tt>c557b7e7dd846d2cb4dd7439139d1a6f41e32b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kruler-17.04.3.tar.xz">kruler-17.04.3</a></td>
   <td align="right">263kB</td>
   <td><tt>3708c9add7031b9133556edf6e95bec2e67a4937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksaneplugin-17.04.3.tar.xz">ksaneplugin-17.04.3</a></td>
   <td align="right">12kB</td>
   <td><tt>7ce24e59666338b6e24280b2a030e4fbb8e07bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kscd-17.04.3.tar.xz">kscd-17.04.3</a></td>
   <td align="right">90kB</td>
   <td><tt>d70228dec5daaa439e768c33a57879da0a498dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kshisen-17.04.3.tar.xz">kshisen-17.04.3</a></td>
   <td align="right">692kB</td>
   <td><tt>bb6fac00b93007e8e875ce14c8ff330184056db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksirk-17.04.3.tar.xz">ksirk-17.04.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>8ff8f107415a5b70d83e24a876f20d1e6b7e1c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksnakeduel-17.04.3.tar.xz">ksnakeduel-17.04.3</a></td>
   <td align="right">291kB</td>
   <td><tt>568882d290697c3fdafbe08d2ccee8a08d823e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kspaceduel-17.04.3.tar.xz">kspaceduel-17.04.3</a></td>
   <td align="right">247kB</td>
   <td><tt>fd5e212ed1bbf2fef7889abf384e5331d91a8fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksquares-17.04.3.tar.xz">ksquares-17.04.3</a></td>
   <td align="right">210kB</td>
   <td><tt>526ca87303b7b84b7b945fcaab4752afd312fffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kstars-17.04.3.tar.xz">kstars-17.04.3</a></td>
   <td align="right">61MB</td>
   <td><tt>a7bc657a1f33371951a23c2c863288e71fa51584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksudoku-17.04.3.tar.xz">ksudoku-17.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5cea8bf40db555a2cbd380e2df28c6f1afbef50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ksystemlog-17.04.3.tar.xz">ksystemlog-17.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0406b0b2678657d6cfa4e5632615d1aecd7d32d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kteatime-17.04.3.tar.xz">kteatime-17.04.3</a></td>
   <td align="right">289kB</td>
   <td><tt>f7196b95180f1281823b7ee1750eebdff7917c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktimer-17.04.3.tar.xz">ktimer-17.04.3</a></td>
   <td align="right">440kB</td>
   <td><tt>5010fae46236d9abbaa682b8fb633de5013e665c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktnef-17.04.3.tar.xz">ktnef-17.04.3</a></td>
   <td align="right">292kB</td>
   <td><tt>d5b7c1e0f9d665fcd9f72b61fb338eb8cd80ef1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktouch-17.04.3.tar.xz">ktouch-17.04.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>75c9b543832ce42a7050ba55d6ec7ff33e999e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-accounts-kcm-17.04.3.tar.xz">ktp-accounts-kcm-17.04.3</a></td>
   <td align="right">256kB</td>
   <td><tt>cbff27f7db027f6cf92c433057215f40d4e8810e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-approver-17.04.3.tar.xz">ktp-approver-17.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>4de3ddc8b143157e203132680490fa66b862db5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-auth-handler-17.04.3.tar.xz">ktp-auth-handler-17.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>396db73784a4064830bb6761d89072da258a6ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-call-ui-17.04.3.tar.xz">ktp-call-ui-17.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>cfb06a9e5c7a5fe199c2d60d52c883af55ab76f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-common-internals-17.04.3.tar.xz">ktp-common-internals-17.04.3</a></td>
   <td align="right">431kB</td>
   <td><tt>6d77d84d2f334a11753d3e1bd7382084556e34ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-contact-list-17.04.3.tar.xz">ktp-contact-list-17.04.3</a></td>
   <td align="right">129kB</td>
   <td><tt>4c340952a2393365e8cd9188576bf2a5c834c191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-contact-runner-17.04.3.tar.xz">ktp-contact-runner-17.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>2b16a3bce239ff4a158a889af01b438b0f0e0682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-desktop-applets-17.04.3.tar.xz">ktp-desktop-applets-17.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>b40ea0996ba94676118dedb3292b3b2900a28d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-filetransfer-handler-17.04.3.tar.xz">ktp-filetransfer-handler-17.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>c9f595206f3cbe27ce529644801ccd7cab98e9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-kded-module-17.04.3.tar.xz">ktp-kded-module-17.04.3</a></td>
   <td align="right">79kB</td>
   <td><tt>d48a877018102b6f709324e375113bb6e9f084b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-send-file-17.04.3.tar.xz">ktp-send-file-17.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>2566a55d0658f6d3f67b1e5d912664cd8a715813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktp-text-ui-17.04.3.tar.xz">ktp-text-ui-17.04.3</a></td>
   <td align="right">456kB</td>
   <td><tt>3bec8cc80bccd32ae61f9c4a365fdf1b32c7df0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/ktuberling-17.04.3.tar.xz">ktuberling-17.04.3</a></td>
   <td align="right">31MB</td>
   <td><tt>1122a05c735a099cf42c9cb316da4ab54df806ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kturtle-17.04.3.tar.xz">kturtle-17.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f5b828ef6d126578715d27507048d71144d4d0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kubrick-17.04.3.tar.xz">kubrick-17.04.3</a></td>
   <td align="right">104kB</td>
   <td><tt>5dc4a48354987ac682fa09e2dd6a258543c0e9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kwalletmanager-17.04.3.tar.xz">kwalletmanager-17.04.3</a></td>
   <td align="right">728kB</td>
   <td><tt>7532ff7cfbad1c0a505c2b0516bb5ba0e969e863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kwave-17.04.3.tar.xz">kwave-17.04.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>7c558de2cde065fa95cf9a96e3449c6e9a35042a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kwordquiz-17.04.3.tar.xz">kwordquiz-17.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>35428b544d84a80592221dbdef8e873d5f6a0e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libgravatar-17.04.3.tar.xz">libgravatar-17.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>3074416fbe1e5ba133739277acf5dd32a9e88d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkcddb-17.04.3.tar.xz">libkcddb-17.04.3</a></td>
   <td align="right">414kB</td>
   <td><tt>6839b73c2744dc7e3ccf173f656cb5735020673a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkcompactdisc-17.04.3.tar.xz">libkcompactdisc-17.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>1c04b8956820dd73404433c758501fc85496e9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkdcraw-17.04.3.tar.xz">libkdcraw-17.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>41ba1a8eb9066e03d6633e0c3895613e4f77d1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkdegames-17.04.3.tar.xz">libkdegames-17.04.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>bfb3f219000364541fbac96f94c25ed036853ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkdepim-17.04.3.tar.xz">libkdepim-17.04.3</a></td>
   <td align="right">332kB</td>
   <td><tt>a70283e8a627d6b1951085b1ccd38431509c6111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkeduvocdocument-17.04.3.tar.xz">libkeduvocdocument-17.04.3</a></td>
   <td align="right">207kB</td>
   <td><tt>b88c10b4ad71c7aa692d1ae82af9eca58d22c777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkexiv2-17.04.3.tar.xz">libkexiv2-17.04.3</a></td>
   <td align="right">63kB</td>
   <td><tt>70420807b7fd6e57c2fe919cb8fcf158a9d274d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkface-17.04.3.tar.xz">libkface-17.04.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>bd9c56916ce4df59d422594acb959280db813eed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkgapi-17.04.3.tar.xz">libkgapi-17.04.3</a></td>
   <td align="right">171kB</td>
   <td><tt>66502843cf5b1b09fece1255290f9c02499f7865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkgeomap-17.04.3.tar.xz">libkgeomap-17.04.3</a></td>
   <td align="right">146kB</td>
   <td><tt>a9f5aa25d47ce517700b9e2c50335cd4ed15534a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkipi-17.04.3.tar.xz">libkipi-17.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>ab4a0eaec7628dfe96f4eb1e9db5ad02682aeb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkleo-17.04.3.tar.xz">libkleo-17.04.3</a></td>
   <td align="right">283kB</td>
   <td><tt>3bfffe6efbc7260a3a8b8f22a9b9fde282ddaf36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkmahjongg-17.04.3.tar.xz">libkmahjongg-17.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>56d54d68b36dc443fa5fea64196c273de0a0c67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libkomparediff2-17.04.3.tar.xz">libkomparediff2-17.04.3</a></td>
   <td align="right">174kB</td>
   <td><tt>78be32018c1f49b2911eb875cfbc899eff610105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libksane-17.04.3.tar.xz">libksane-17.04.3</a></td>
   <td align="right">134kB</td>
   <td><tt>888e37c713f86c3cb0931dd7bd4e0fe372e3c5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/libksieve-17.04.3.tar.xz">libksieve-17.04.3</a></td>
   <td align="right">511kB</td>
   <td><tt>377f025bf421a390cdfcfdafb04858c82c1e6b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/lokalize-17.04.3.tar.xz">lokalize-17.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>38a06193839a6ddc86312bb635f05a7042ed5d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/lskat-17.04.3.tar.xz">lskat-17.04.3</a></td>
   <td align="right">905kB</td>
   <td><tt>d0a360b6be1b5a0e97fdebe7c5efceafcfa6676a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/mailcommon-17.04.3.tar.xz">mailcommon-17.04.3</a></td>
   <td align="right">643kB</td>
   <td><tt>def5d4505e1975b591d771cab7c7b69efbc028f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/mailimporter-17.04.3.tar.xz">mailimporter-17.04.3</a></td>
   <td align="right">524kB</td>
   <td><tt>2bf752a4eb0d6defb07e45cbdb4931cacfa84e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/marble-17.04.3.tar.xz">marble-17.04.3</a></td>
   <td align="right">49MB</td>
   <td><tt>0d9d499508e087f5580a8cb0386b24e2df64ac4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/mbox-importer-17.04.3.tar.xz">mbox-importer-17.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>885deeacae1f1e1d047692a76775237238c0d1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/messagelib-17.04.3.tar.xz">messagelib-17.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>99c8d86e276c38dc2ea5bda340124f2b0b53d89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/minuet-17.04.3.tar.xz">minuet-17.04.3</a></td>
   <td align="right">26MB</td>
   <td><tt>e46445f1c9a0152c2e1ce9efb9da533563374717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/okteta-17.04.3.tar.xz">okteta-17.04.3</a></td>
   <td align="right">936kB</td>
   <td><tt>36b884c559ed84b20b032270f36d346fcafdf8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/okular-17.04.3.tar.xz">okular-17.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>7b5e2e49c0c186be6bb063c5974d4efacf99b68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/palapeli-17.04.3.tar.xz">palapeli-17.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f430620fe3450a40c7e2eeafd76cb9ff655ecfd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/parley-17.04.3.tar.xz">parley-17.04.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>e403450706402eb3477b0935a2a28e691b12168a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/picmi-17.04.3.tar.xz">picmi-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>68d786961e654152704b6dd43df4da45faed107e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/pimcommon-17.04.3.tar.xz">pimcommon-17.04.3</a></td>
   <td align="right">266kB</td>
   <td><tt>159f6306eb2f1f5087a4bfe541102ad53d66fd6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/pim-data-exporter-17.04.3.tar.xz">pim-data-exporter-17.04.3</a></td>
   <td align="right">259kB</td>
   <td><tt>ab81ba5f5fed3406d6992c263fbc485e637a3f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/pim-sieve-editor-17.04.3.tar.xz">pim-sieve-editor-17.04.3</a></td>
   <td align="right">430kB</td>
   <td><tt>f1d4a2d07c246145b3d7aef5bb3bd66698cbdd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/poxml-17.04.3.tar.xz">poxml-17.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>8e37b5905eb8494aebba8e1fe20363106a49aed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/print-manager-17.04.3.tar.xz">print-manager-17.04.3</a></td>
   <td align="right">230kB</td>
   <td><tt>78f96319dcbb08ec53656a84ad77569822089c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/rocs-17.04.3.tar.xz">rocs-17.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c09df98870bfb1c289c0e007201acc9f302c7c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/signon-kwallet-extension-17.04.3.tar.xz">signon-kwallet-extension-17.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>01de1c4da3beb44af187f69ce0cc775bdccd0aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/spectacle-17.04.3.tar.xz">spectacle-17.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e2e1321f13dec677fd84fc90060c0a3196b8c743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/step-17.04.3.tar.xz">step-17.04.3</a></td>
   <td align="right">841kB</td>
   <td><tt>2539f65ccdccee734b8f6f3c01c9d273932c836a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/svgpart-17.04.3.tar.xz">svgpart-17.04.3</a></td>
   <td align="right">18kB</td>
   <td><tt>b7bdce20ffd66a00276f50768bfdbecc7cfb624c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/sweeper-17.04.3.tar.xz">sweeper-17.04.3</a></td>
   <td align="right">80kB</td>
   <td><tt>d5a8322fa537cdbaaa4ae8cbc4f2b47293ad1946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/syndication-17.04.3.tar.xz">syndication-17.04.3</a></td>
   <td align="right">156kB</td>
   <td><tt>394b16e32fd03f2dfc866d2e417ec5095a8ea9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/umbrello-17.04.3.tar.xz">umbrello-17.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b7fa736cb18a92b41937ad3dddc8ba51cf89be9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/zeroconf-ioslave-17.04.3.tar.xz">zeroconf-ioslave-17.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>b469279cce5840f1d68a1722ba9a1d7c29edf48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ar-17.04.3.tar.xz">kde-l10n-ar-17.04.3</a></td>
   <td align="right">630kB</td>
   <td><tt>1317eafd488435281bb49bec55c7a53a4002ba03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ast-17.04.3.tar.xz">kde-l10n-ast-17.04.3</a></td>
   <td align="right">461kB</td>
   <td><tt>24ff153858f76cbff684e81281c7c8fd766d1942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-bg-17.04.3.tar.xz">kde-l10n-bg-17.04.3</a></td>
   <td align="right">557kB</td>
   <td><tt>e6a822397e21b4ca3b81083aaac88d4410e48d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-bs-17.04.3.tar.xz">kde-l10n-bs-17.04.3</a></td>
   <td align="right">678kB</td>
   <td><tt>997f9c7318c2a213ea80f6ad402139fba6a5aee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ca-17.04.3.tar.xz">kde-l10n-ca-17.04.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>a19f0a9659f1e74f47aa0d44f35a77e74d9e62b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ca@valencia-17.04.3.tar.xz">kde-l10n-ca@valencia-17.04.3</a></td>
   <td align="right">656kB</td>
   <td><tt>81492b102f5a1a0e1d89065a17ded4d46a3f0fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-cs-17.04.3.tar.xz">kde-l10n-cs-17.04.3</a></td>
   <td align="right">626kB</td>
   <td><tt>83c181bd586ce5bb6d4a2a391fcabcca7323f4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-da-17.04.3.tar.xz">kde-l10n-da-17.04.3</a></td>
   <td align="right">1009kB</td>
   <td><tt>e48a98857a1f2897660d8693826abe3db83d4887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-de-17.04.3.tar.xz">kde-l10n-de-17.04.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>f32cb6c8d986d9e0cf8bd4c9d43aacd9f0886dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-el-17.04.3.tar.xz">kde-l10n-el-17.04.3</a></td>
   <td align="right">841kB</td>
   <td><tt>4e40f3164717583dffc1f93b5f266cc1c9fa5d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-en_GB-17.04.3.tar.xz">kde-l10n-en_GB-17.04.3</a></td>
   <td align="right">584kB</td>
   <td><tt>1d4e17dd2d2d19a5e07053db4742d2c6474c2f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-eo-17.04.3.tar.xz">kde-l10n-eo-17.04.3</a></td>
   <td align="right">569kB</td>
   <td><tt>675e4910e14574927e08141ef900ddaecb1e779c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-es-17.04.3.tar.xz">kde-l10n-es-17.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f398ba295404c41c235d8107b2ad5a456abe2b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-et-17.04.3.tar.xz">kde-l10n-et-17.04.3</a></td>
   <td align="right">995kB</td>
   <td><tt>4d76e9e80339d1001b7a1e5b0493ab937e4cf4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-eu-17.04.3.tar.xz">kde-l10n-eu-17.04.3</a></td>
   <td align="right">650kB</td>
   <td><tt>5d9b12c6ba1a1117096fe5eefd72c10660837697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-fa-17.04.3.tar.xz">kde-l10n-fa-17.04.3</a></td>
   <td align="right">588kB</td>
   <td><tt>e36ac80a255320c9ca1d5e597f7b32e79aeaa2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-fi-17.04.3.tar.xz">kde-l10n-fi-17.04.3</a></td>
   <td align="right">713kB</td>
   <td><tt>eb0a0a0a9cd06799d36af96a0304824a41361cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-fr-17.04.3.tar.xz">kde-l10n-fr-17.04.3</a></td>
   <td align="right">6.2MB</td>
   <td><tt>82e145a428378088d95ce17101de496355f87741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ga-17.04.3.tar.xz">kde-l10n-ga-17.04.3</a></td>
   <td align="right">617kB</td>
   <td><tt>73ccb5ecabceece9d4b626f2b0aefb70a70f394c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-gl-17.04.3.tar.xz">kde-l10n-gl-17.04.3</a></td>
   <td align="right">809kB</td>
   <td><tt>a132ff8e0b838510e7a0a8e6bb9f95e9e983d8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-he-17.04.3.tar.xz">kde-l10n-he-17.04.3</a></td>
   <td align="right">492kB</td>
   <td><tt>1bd6561e27adc085e9b8deb47840db75f81b1edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-hi-17.04.3.tar.xz">kde-l10n-hi-17.04.3</a></td>
   <td align="right">542kB</td>
   <td><tt>21bee19e4f438ccc1d4e169fdf18033589c1ba1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-hr-17.04.3.tar.xz">kde-l10n-hr-17.04.3</a></td>
   <td align="right">550kB</td>
   <td><tt>1a9c41639cea38c942116b32bd1fdb4d19948281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-hu-17.04.3.tar.xz">kde-l10n-hu-17.04.3</a></td>
   <td align="right">706kB</td>
   <td><tt>d5329c96b7ec9218c9b81c086d4e6c9538770850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ia-17.04.3.tar.xz">kde-l10n-ia-17.04.3</a></td>
   <td align="right">469kB</td>
   <td><tt>79a38029ac34180f9de245e4c26dd1c5a5e43328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-id-17.04.3.tar.xz">kde-l10n-id-17.04.3</a></td>
   <td align="right">184kB</td>
   <td><tt>f4302b75d87c1f2f8e22737b4b00e8a0e365966e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-is-17.04.3.tar.xz">kde-l10n-is-17.04.3</a></td>
   <td align="right">534kB</td>
   <td><tt>0776c26042608704ef5451110b37f73352553aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-it-17.04.3.tar.xz">kde-l10n-it-17.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d77041d4ced23d528ee1077d16d947ae8cb80921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ja-17.04.3.tar.xz">kde-l10n-ja-17.04.3</a></td>
   <td align="right">605kB</td>
   <td><tt>22c851195a08df3ef9d60da740e409037c61d57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-kk-17.04.3.tar.xz">kde-l10n-kk-17.04.3</a></td>
   <td align="right">700kB</td>
   <td><tt>c99acf32ce2de74569dfd40a75218dd90e680a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-km-17.04.3.tar.xz">kde-l10n-km-17.04.3</a></td>
   <td align="right">641kB</td>
   <td><tt>a4ba208054fbd4cdfd00bd9457f149dfd6e0747f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ko-17.04.3.tar.xz">kde-l10n-ko-17.04.3</a></td>
   <td align="right">533kB</td>
   <td><tt>6bd996c1139752f624974c69fdea9d27c39b563e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-lt-17.04.3.tar.xz">kde-l10n-lt-17.04.3</a></td>
   <td align="right">600kB</td>
   <td><tt>91b96c13896e869332c29948c80fb40417e2ded1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-lv-17.04.3.tar.xz">kde-l10n-lv-17.04.3</a></td>
   <td align="right">625kB</td>
   <td><tt>6cb6f7c077018eba28111ae245fce1d35522bb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-mr-17.04.3.tar.xz">kde-l10n-mr-17.04.3</a></td>
   <td align="right">512kB</td>
   <td><tt>c75e56c3bc1bc0d84c611de27a67eecd010ad7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-nb-17.04.3.tar.xz">kde-l10n-nb-17.04.3</a></td>
   <td align="right">672kB</td>
   <td><tt>1f29bb5aa129cbf68fda0c3d1b466dad248304c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-nds-17.04.3.tar.xz">kde-l10n-nds-17.04.3</a></td>
   <td align="right">733kB</td>
   <td><tt>0a1fd17094bc182b293be0cec1086c87ad2b444d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-nl-17.04.3.tar.xz">kde-l10n-nl-17.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5976ccc775997186ba7ec26c6064b3faaad33d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-nn-17.04.3.tar.xz">kde-l10n-nn-17.04.3</a></td>
   <td align="right">619kB</td>
   <td><tt>3b91602ce7823d120ac0e9d2d67fd7303ed01f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-pa-17.04.3.tar.xz">kde-l10n-pa-17.04.3</a></td>
   <td align="right">505kB</td>
   <td><tt>b52ac0d015f7da4843384a332dde3c679c270b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-pl-17.04.3.tar.xz">kde-l10n-pl-17.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>961039371e7f627acdcbda0ffc15cdf24615e080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-pt-17.04.3.tar.xz">kde-l10n-pt-17.04.3</a></td>
   <td align="right">1016kB</td>
   <td><tt>27636c1b4ce91934829574959ffc3843eab57508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-pt_BR-17.04.3.tar.xz">kde-l10n-pt_BR-17.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4e49088e55a1a384a56739b09aa9cb4df4a8195c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ro-17.04.3.tar.xz">kde-l10n-ro-17.04.3</a></td>
   <td align="right">696kB</td>
   <td><tt>d182a9964157adf658e9f7d779fce658f7ad8d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ru-17.04.3.tar.xz">kde-l10n-ru-17.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ae53058c17638faf8efcce8aff5856dcf0d62244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-sk-17.04.3.tar.xz">kde-l10n-sk-17.04.3</a></td>
   <td align="right">661kB</td>
   <td><tt>676d4e9c7abfd4bc7a368f57a4e5c5d78547fe03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-sl-17.04.3.tar.xz">kde-l10n-sl-17.04.3</a></td>
   <td align="right">710kB</td>
   <td><tt>745baaafa5e2a1dd34e08f675d0410e574d8cbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-sr-17.04.3.tar.xz">kde-l10n-sr-17.04.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0a3b6d8e96c52fd3cea2912eda75b3cef2f2f0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-sv-17.04.3.tar.xz">kde-l10n-sv-17.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6c6ead6ce83bdfeeca5cc410e07003f3e3a79cf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-tr-17.04.3.tar.xz">kde-l10n-tr-17.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>bd3983a18cd21a0a9d054ef5512b8f5332622942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-ug-17.04.3.tar.xz">kde-l10n-ug-17.04.3</a></td>
   <td align="right">529kB</td>
   <td><tt>c26ef44a0186d8f0d2946c594a4c615e9533216e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-uk-17.04.3.tar.xz">kde-l10n-uk-17.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>7f4b0eaeddb9fbc4c99e92c7606eee10647d0a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-wa-17.04.3.tar.xz">kde-l10n-wa-17.04.3</a></td>
   <td align="right">403kB</td>
   <td><tt>f0bb5553e8463d242a363c9c1d7713809bd77540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-zh_CN-17.04.3.tar.xz">kde-l10n-zh_CN-17.04.3</a></td>
   <td align="right">652kB</td>
   <td><tt>290e89cd5ca663a2a9714fb6ada40ab172384038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.3/src/kde-l10n/kde-l10n-zh_TW-17.04.3.tar.xz">kde-l10n-zh_TW-17.04.3</a></td>
   <td align="right">714kB</td>
   <td><tt>c69369083c50d389d82eb2e83efafadbbbadbf81</tt></td>
</tr>

</table>
