<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-17.08.3.tar.xz">akonadi-17.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8117e4de64edb1344e92e1bb15992bc35e1d22e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-calendar-17.08.3.tar.xz">akonadi-calendar-17.08.3</a></td>
   <td align="right">273kB</td>
   <td><tt>31dfa377da00153f861194af261c3de1cfb20b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-calendar-tools-17.08.3.tar.xz">akonadi-calendar-tools-17.08.3</a></td>
   <td align="right">218kB</td>
   <td><tt>811d168881e6c6bec02ba6942c1dae37d362cddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadiconsole-17.08.3.tar.xz">akonadiconsole-17.08.3</a></td>
   <td align="right">180kB</td>
   <td><tt>d63838ecec76149845d7d820907be6e39a79cc63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-contacts-17.08.3.tar.xz">akonadi-contacts-17.08.3</a></td>
   <td align="right">345kB</td>
   <td><tt>6a989458dd4e0d54368c04c4588a5e959a465268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-import-wizard-17.08.3.tar.xz">akonadi-import-wizard-17.08.3</a></td>
   <td align="right">424kB</td>
   <td><tt>aa4086d59e663d042e4668cf7c727243f80ad092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-mime-17.08.3.tar.xz">akonadi-mime-17.08.3</a></td>
   <td align="right">127kB</td>
   <td><tt>739fca5e9edd71dc3a5d646ebc561b293bc7285b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-notes-17.08.3.tar.xz">akonadi-notes-17.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>3fba26e64b428c65a1a2987cf10a51b675350fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akonadi-search-17.08.3.tar.xz">akonadi-search-17.08.3</a></td>
   <td align="right">79kB</td>
   <td><tt>f9cb560fed58670c46630e636520a5d8b889ed77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/akregator-17.08.3.tar.xz">akregator-17.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>560ca63d61f3f3d1551e4cfa34d20a6db1676e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/analitza-17.08.3.tar.xz">analitza-17.08.3</a></td>
   <td align="right">322kB</td>
   <td><tt>3cb423655035c197848030a7890efa1d35a968c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ark-17.08.3.tar.xz">ark-17.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3cd5aa89a638dccdac47d31a73c62ff70651e93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/artikulate-17.08.3.tar.xz">artikulate-17.08.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>5c735a3c2e4ded14386e3bc8befac2e8714513c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/audiocd-kio-17.08.3.tar.xz">audiocd-kio-17.08.3</a></td>
   <td align="right">242kB</td>
   <td><tt>21adf64044825303b1fcdfd74090125816129258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/baloo-widgets-17.08.3.tar.xz">baloo-widgets-17.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>fa858e46e262246fc2308eaa86d379c7bc117d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/blinken-17.08.3.tar.xz">blinken-17.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f775a75849f11a35c7a9c17f37aae8e174551a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/blogilo-17.08.3.tar.xz">blogilo-17.08.3</a></td>
   <td align="right">785kB</td>
   <td><tt>930dc06fd8e7662bf6b780439c8160835be45958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/bomber-17.08.3.tar.xz">bomber-17.08.3</a></td>
   <td align="right">736kB</td>
   <td><tt>4b9e0b8b94d0986c86244c16c9eb04b0142e07ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/bovo-17.08.3.tar.xz">bovo-17.08.3</a></td>
   <td align="right">182kB</td>
   <td><tt>00948779af7fd070b1c84118c0928718a92c0c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/calendarsupport-17.08.3.tar.xz">calendarsupport-17.08.3</a></td>
   <td align="right">629kB</td>
   <td><tt>0d13dc3e6ab2920106abe993bf469c62ecc11598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/cantor-17.08.3.tar.xz">cantor-17.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>aaddd1560e9d4cc72404b95ba1bf3a7f3a6148a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/cervisia-17.08.3.tar.xz">cervisia-17.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d01d0469ec7c969a8cdd7f65cc6631f0d021e695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/dolphin-17.08.3.tar.xz">dolphin-17.08.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ba6c4c5f1d230f5385a6952566a15ca960ef84a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/dolphin-plugins-17.08.3.tar.xz">dolphin-plugins-17.08.3</a></td>
   <td align="right">182kB</td>
   <td><tt>2909328e2c19028ef8fc2c31938d0eceb92497c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/dragon-17.08.3.tar.xz">dragon-17.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3be4094bd877a7be7c0e2a55c816529d7ca480c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/eventviews-17.08.3.tar.xz">eventviews-17.08.3</a></td>
   <td align="right">423kB</td>
   <td><tt>ad7a322f31ba4c41926277472b00f0614815799e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ffmpegthumbs-17.08.3.tar.xz">ffmpegthumbs-17.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>c17e9c17ce8a598aa366cc9d6ecd9b5581dd49f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/filelight-17.08.3.tar.xz">filelight-17.08.3</a></td>
   <td align="right">635kB</td>
   <td><tt>8958cebdf00518f806c9b3d52a472c02f958e5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/granatier-17.08.3.tar.xz">granatier-17.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>16680b1d599fed02624f6197f1e34e22a92acb7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/grantlee-editor-17.08.3.tar.xz">grantlee-editor-17.08.3</a></td>
   <td align="right">108kB</td>
   <td><tt>81e31fe66673b4f62c95854ceb9da3d486fd54f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/grantleetheme-17.08.3.tar.xz">grantleetheme-17.08.3</a></td>
   <td align="right">49kB</td>
   <td><tt>eac27e23e353cf3257961ede8aa901e67290a361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/gwenview-17.08.3.tar.xz">gwenview-17.08.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>0a172ce0f5402cb1368dbe8c4ab4c93a47a86389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/incidenceeditor-17.08.3.tar.xz">incidenceeditor-17.08.3</a></td>
   <td align="right">506kB</td>
   <td><tt>1238bfdd33f8dc8d3dff307516d3b99730264888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/jovie-17.08.3.tar.xz">jovie-17.08.3</a></td>
   <td align="right">385kB</td>
   <td><tt>81f65f16b304e938a23b2c98916ae52914156459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/juk-17.08.3.tar.xz">juk-17.08.3</a></td>
   <td align="right">435kB</td>
   <td><tt>e15f9070ca79a4ed03a8aca768b0e7010ca24327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/k3b-17.08.3.tar.xz">k3b-17.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>98847e958c1208a2083f28faa3b9308f412b7d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kaccessible-17.08.3.tar.xz">kaccessible-17.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>7cb7da8f2fe6195ae69dfa6d2c1a30a2f376a9cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kaccounts-integration-17.08.3.tar.xz">kaccounts-integration-17.08.3</a></td>
   <td align="right">67kB</td>
   <td><tt>756bfb63bab84ff2c3d9b1ae980c29c554c21fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kaccounts-providers-17.08.3.tar.xz">kaccounts-providers-17.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>c730bddafbad3a7d4c9af0ebc752b902762cdc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kaddressbook-17.08.3.tar.xz">kaddressbook-17.08.3</a></td>
   <td align="right">534kB</td>
   <td><tt>d51a2a0a4df4a7168318673e8b987ecbb7ebd151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kajongg-17.08.3.tar.xz">kajongg-17.08.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>656fb0fb33a7777247ff4a0065620b2c97cfd3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kalarm-17.08.3.tar.xz">kalarm-17.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0f3f3c6a892aa88c641326116de8bdfa89902930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kalarmcal-17.08.3.tar.xz">kalarmcal-17.08.3</a></td>
   <td align="right">481kB</td>
   <td><tt>08b428e037a73ee1777c89f30aac366e6987f123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kalgebra-17.08.3.tar.xz">kalgebra-17.08.3</a></td>
   <td align="right">673kB</td>
   <td><tt>f975d042d2b8ae6acb7fa6d839efe0c7ff1e1222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kalzium-17.08.3.tar.xz">kalzium-17.08.3</a></td>
   <td align="right">23MB</td>
   <td><tt>f2b7956b41b3399eff46019749c5fb254df4d130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kamera-17.08.3.tar.xz">kamera-17.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>aacc76228146610aa5ddde0640a8836d6318e46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kanagram-17.08.3.tar.xz">kanagram-17.08.3</a></td>
   <td align="right">7.2MB</td>
   <td><tt>806b74aa813e7ce5011347784aa29af97553a143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kapman-17.08.3.tar.xz">kapman-17.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3fdd11ffe2f6be39a2c666525d1d8ce3f25c72e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kapptemplate-17.08.3.tar.xz">kapptemplate-17.08.3</a></td>
   <td align="right">436kB</td>
   <td><tt>e835ed93c367041a30c5401b6cfb38a19d4bc688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kate-17.08.3.tar.xz">kate-17.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>cde3539161b5f0792bfc3eb44d850f87a56ad809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/katomic-17.08.3.tar.xz">katomic-17.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>51da82bfc561d478d4b6de77c15e21e993a2b8c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kblackbox-17.08.3.tar.xz">kblackbox-17.08.3</a></td>
   <td align="right">392kB</td>
   <td><tt>c57de2ed032c74920685008658f1e9bc4b97f50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kblocks-17.08.3.tar.xz">kblocks-17.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0b941dd8c2025b6bb61323b7d2adb226915c32eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kblog-17.08.3.tar.xz">kblog-17.08.3</a></td>
   <td align="right">70kB</td>
   <td><tt>dcc1f76e2c27231eebcc9180288eb162002030ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kbounce-17.08.3.tar.xz">kbounce-17.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b83221f233e5521f9714993e8eb31d4ef6fdc235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kbreakout-17.08.3.tar.xz">kbreakout-17.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fde090882f9fc05754f0a3bc5b2761d5064bc2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kbruch-17.08.3.tar.xz">kbruch-17.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>8c4513fe6323cb20d39e6cb7f9658f6403397bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcachegrind-17.08.3.tar.xz">kcachegrind-17.08.3</a></td>
   <td align="right">794kB</td>
   <td><tt>6860872e8dd9d591903a9ff97fa3029c1533f4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcalc-17.08.3.tar.xz">kcalc-17.08.3</a></td>
   <td align="right">351kB</td>
   <td><tt>67b8cb40bb3eac2f2764fbc4a83b9b1a742a2112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcalcore-17.08.3.tar.xz">kcalcore-17.08.3</a></td>
   <td align="right">276kB</td>
   <td><tt>23e0547953af5359befbad4adc7b97453961ac23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcalutils-17.08.3.tar.xz">kcalutils-17.08.3</a></td>
   <td align="right">317kB</td>
   <td><tt>f03881edc582d226059a6d6138d03f5e2d7fab32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcharselect-17.08.3.tar.xz">kcharselect-17.08.3</a></td>
   <td align="right">342kB</td>
   <td><tt>92aeaac05afeefadcf15809df6205b970772b113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcolorchooser-17.08.3.tar.xz">kcolorchooser-17.08.3</a></td>
   <td align="right">15kB</td>
   <td><tt>da514f5ea84d15825f88d48d381b93535001784b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcontacts-17.08.3.tar.xz">kcontacts-17.08.3</a></td>
   <td align="right">202kB</td>
   <td><tt>3f444ef4341d1402ea9dfb7a2dcad406dfdc344c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kcron-17.08.3.tar.xz">kcron-17.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9abb9152e17e508ea85732ec2a94bf238a48d17d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdav-17.08.3.tar.xz">kdav-17.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>767bbc72d6e1ce02c730ec06e85bee08458bbfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdebugsettings-17.08.3.tar.xz">kdebugsettings-17.08.3</a></td>
   <td align="right">46kB</td>
   <td><tt>712f3bc2fdafb6abce3eb1e82460c2732402e828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-dev-scripts-17.08.3.tar.xz">kde-dev-scripts-17.08.3</a></td>
   <td align="right">307kB</td>
   <td><tt>50d38d877a6ed9c287e36ff80b4be47d17ec961b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-dev-utils-17.08.3.tar.xz">kde-dev-utils-17.08.3</a></td>
   <td align="right">57kB</td>
   <td><tt>739f2d482d57c82ba50fe4da386877e68e0c8005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdeedu-data-17.08.3.tar.xz">kdeedu-data-17.08.3</a></td>
   <td align="right">320kB</td>
   <td><tt>505e776446460b6f4400363b1ef6b72fa9ce97ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdegraphics-mobipocket-17.08.3.tar.xz">kdegraphics-mobipocket-17.08.3</a></td>
   <td align="right">13kB</td>
   <td><tt>636820b486ded81028282a5a96ad85e1f64d0b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdegraphics-thumbnailers-17.08.3.tar.xz">kdegraphics-thumbnailers-17.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>284cebf1db78682f1f17ee488d980ff9dfcdfacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdelibs-4.14.38.tar.xz">kdelibs-4.14.38</a></td>
   <td align="right">11MB</td>
   <td><tt>2271f8b38cd5b6b55fa31c567271e3ca37ef641a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdenetwork-filesharing-17.08.3.tar.xz">kdenetwork-filesharing-17.08.3</a></td>
   <td align="right">316kB</td>
   <td><tt>e9845a07ace48a38d7b5c0b6d95b553e5672dfae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdenlive-17.08.3.tar.xz">kdenlive-17.08.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>686a760224ae4dcb1b1792c3f1f4e4837628c3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdepim-addons-17.08.3.tar.xz">kdepim-addons-17.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>de9df6f8dafeb0cb745e49b1b52c80087ed42223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdepim-apps-libs-17.08.3.tar.xz">kdepim-apps-libs-17.08.3</a></td>
   <td align="right">71kB</td>
   <td><tt>2b8baf2ac21308de12fcb1d2dd1243a0f71b16f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdepim-runtime-17.08.3.tar.xz">kdepim-runtime-17.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2c4993d83f2391780877145bac00371b622d8953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-runtime-17.08.3.tar.xz">kde-runtime-17.08.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>5932fd4653d6697351ea5ac28b09f876ad6f06df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdesdk-kioslaves-17.08.3.tar.xz">kdesdk-kioslaves-17.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>cb06332014afd986550a960f249a8becc1fc4d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdesdk-thumbnailers-17.08.3.tar.xz">kdesdk-thumbnailers-17.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>e1b6d4e3fbec26d7f3614b2ea8409b61dfc3b939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdf-17.08.3.tar.xz">kdf-17.08.3</a></td>
   <td align="right">518kB</td>
   <td><tt>73a5cd8684b327697f7039d9db54edb437427159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdialog-17.08.3.tar.xz">kdialog-17.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>b7a3bdad83a55de954597c5322b71cd79e7e938a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kdiamond-17.08.3.tar.xz">kdiamond-17.08.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6ca487d76a391731a08e316ff705dd35b3a045ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/keditbookmarks-17.08.3.tar.xz">keditbookmarks-17.08.3</a></td>
   <td align="right">178kB</td>
   <td><tt>5895a7c6205d2870c6d024cc7a3b499575cd927c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kfilereplace-17.08.3.tar.xz">kfilereplace-17.08.3</a></td>
   <td align="right">745kB</td>
   <td><tt>a72f6888da5b3eff1ef73293f0dbbf550877589f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kfind-17.08.3.tar.xz">kfind-17.08.3</a></td>
   <td align="right">204kB</td>
   <td><tt>f829fe32755393b51b35ccead00c374ae55f3077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kfloppy-17.08.3.tar.xz">kfloppy-17.08.3</a></td>
   <td align="right">194kB</td>
   <td><tt>d52759239792b58e0143d8c403afa5fcb3895b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kfourinline-17.08.3.tar.xz">kfourinline-17.08.3</a></td>
   <td align="right">559kB</td>
   <td><tt>54c656f00b999b19cb52a0c827ae25b549e9cb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kgeography-17.08.3.tar.xz">kgeography-17.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>c9d1213a1c2ad9d6b2ad1a97c9866a61e6970a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kget-17.08.3.tar.xz">kget-17.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ddebcb3ff5fe7093609c581d733df69a22a3c9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kgoldrunner-17.08.3.tar.xz">kgoldrunner-17.08.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>dd84022d78fe744f946db9fb21f9e2833668b992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kgpg-17.08.3.tar.xz">kgpg-17.08.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3761119df8d6efc92f47bf10ee3023f131cfa29f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/khangman-17.08.3.tar.xz">khangman-17.08.3</a></td>
   <td align="right">6.1MB</td>
   <td><tt>e7dfa220d9dfd27c40693ad61228f609d46cb2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/khelpcenter-17.08.3.tar.xz">khelpcenter-17.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f8abf60fd61d854d6981dbb415ca12b6d546a628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kholidays-17.08.3.tar.xz">kholidays-17.08.3</a></td>
   <td align="right">197kB</td>
   <td><tt>699f8a8f9a4493e4c43a3451405cf45d56e3430a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kidentitymanagement-17.08.3.tar.xz">kidentitymanagement-17.08.3</a></td>
   <td align="right">144kB</td>
   <td><tt>8bf4d34040f148aaccb09631e5f2a8ce61527c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kig-17.08.3.tar.xz">kig-17.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b38aaa429be1c9add4ce185050541b07aabb7ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kigo-17.08.3.tar.xz">kigo-17.08.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>23e975d8c55f870d276f860bf238121ac0e7075c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/killbots-17.08.3.tar.xz">killbots-17.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a031008b8fe970943ea47f240ab1c3ca2a78469c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kimagemapeditor-17.08.3.tar.xz">kimagemapeditor-17.08.3</a></td>
   <td align="right">397kB</td>
   <td><tt>a376312e07af1b396822d8460b43d1bd33cca5e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kimap-17.08.3.tar.xz">kimap-17.08.3</a></td>
   <td align="right">117kB</td>
   <td><tt>df42d6fd501c55cdf1678f50732629cecf5508ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kio-extras-17.08.3.tar.xz">kio-extras-17.08.3</a></td>
   <td align="right">543kB</td>
   <td><tt>57811653eee2850e105a3eb85436c5ecee9a50ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kiriki-17.08.3.tar.xz">kiriki-17.08.3</a></td>
   <td align="right">318kB</td>
   <td><tt>d89be67de843d7127a25ceaec0497db40c39f172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kiten-17.08.3.tar.xz">kiten-17.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>68102c17fc0052f206f4407380d2724d02eaee47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kjumpingcube-17.08.3.tar.xz">kjumpingcube-17.08.3</a></td>
   <td align="right">286kB</td>
   <td><tt>3c93c2b804e34ea9f6c3c043abea26df295fce4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kldap-17.08.3.tar.xz">kldap-17.08.3</a></td>
   <td align="right">151kB</td>
   <td><tt>5e54ea023313449aa82169112ef117d4377abeb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kleopatra-17.08.3.tar.xz">kleopatra-17.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ab1d973b78d2f25b3e4d38d276f4db4a1492d161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/klettres-17.08.3.tar.xz">klettres-17.08.3</a></td>
   <td align="right">20MB</td>
   <td><tt>498ae7dfb0b5813312b2b7301ffb4e9162b9a6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/klickety-17.08.3.tar.xz">klickety-17.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>99cd16994860135341f3e55d3d9c9904c8089d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/klines-17.08.3.tar.xz">klines-17.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b93d85ef398c15a0ae41b58c505a7a70b9d58862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/klinkstatus-17.08.3.tar.xz">klinkstatus-17.08.3</a></td>
   <td align="right">439kB</td>
   <td><tt>c7d059bd06398766124932860390cd5433cf27df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmag-17.08.3.tar.xz">kmag-17.08.3</a></td>
   <td align="right">573kB</td>
   <td><tt>64e0bd85bd8a23eee911aa183b6b97a40adad0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmahjongg-17.08.3.tar.xz">kmahjongg-17.08.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b6f91c6d07d528bbebe6cd27c07248c10e111170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmail-17.08.3.tar.xz">kmail-17.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>3af66a6d77058e1102aded2c17ead7285e1ab530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmail-account-wizard-17.08.3.tar.xz">kmail-account-wizard-17.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>470922612a8aecba8b5753e9f3f802c707751b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmailtransport-17.08.3.tar.xz">kmailtransport-17.08.3</a></td>
   <td align="right">227kB</td>
   <td><tt>0565ce8cbb39d21865c0c5c512891001ad2ff199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmbox-17.08.3.tar.xz">kmbox-17.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>2e2c00844bb2da612ebee73f3d90838b388ab211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmime-17.08.3.tar.xz">kmime-17.08.3</a></td>
   <td align="right">142kB</td>
   <td><tt>3895eaa42956a2ae4291bd7f2c0f7c241ab313d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmines-17.08.3.tar.xz">kmines-17.08.3</a></td>
   <td align="right">861kB</td>
   <td><tt>837cfaea781b6daff05414ca2c913605fa39318e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmix-17.08.3.tar.xz">kmix-17.08.3</a></td>
   <td align="right">379kB</td>
   <td><tt>7831d89dde4880fdbbe00f284a0ac3bea39323e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmousetool-17.08.3.tar.xz">kmousetool-17.08.3</a></td>
   <td align="right">108kB</td>
   <td><tt>f9d4ba37ecd2f81433cf80485a2af5b3345c46ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmouth-17.08.3.tar.xz">kmouth-17.08.3</a></td>
   <td align="right">271kB</td>
   <td><tt>697df85b1a5a6a87cb0074d3bf9adfc93c46f2af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kmplot-17.08.3.tar.xz">kmplot-17.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>988a1844c2e35b7f91f38af51bbe2dfc61d59816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/knavalbattle-17.08.3.tar.xz">knavalbattle-17.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>80363948ac4caf01db7138e088c8a2167ebae7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/knetwalk-17.08.3.tar.xz">knetwalk-17.08.3</a></td>
   <td align="right">958kB</td>
   <td><tt>7817d37bc1da9e838762a110f4afb72faf56979b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/knotes-17.08.3.tar.xz">knotes-17.08.3</a></td>
   <td align="right">326kB</td>
   <td><tt>836fa7e72d0d584cb5f6d4584c8207460b58cba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kolf-17.08.3.tar.xz">kolf-17.08.3</a></td>
   <td align="right">754kB</td>
   <td><tt>312e06c71c8a2a64e4bc684040a1f2d8fc6a102a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kollision-17.08.3.tar.xz">kollision-17.08.3</a></td>
   <td align="right">265kB</td>
   <td><tt>6cd4eed5afa53d23646feda90afabb0274cd901f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kolourpaint-17.08.3.tar.xz">kolourpaint-17.08.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>82aebe79797440d4a0d05ee1303c6c10315b6dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kompare-17.08.3.tar.xz">kompare-17.08.3</a></td>
   <td align="right">693kB</td>
   <td><tt>1d5bba31394e3168198cb4f357c8e547f4b1b396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/konqueror-17.08.3.tar.xz">konqueror-17.08.3</a></td>
   <td align="right">7.3MB</td>
   <td><tt>9967bd3a60950f02dd358257eef3fb5ac6399a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/konquest-17.08.3.tar.xz">konquest-17.08.3</a></td>
   <td align="right">642kB</td>
   <td><tt>7e3d25b130c546f595bd2277797d46b5312f6c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/konsole-17.08.3.tar.xz">konsole-17.08.3</a></td>
   <td align="right">997kB</td>
   <td><tt>861a9de49d3612b80aeac2c44adeb71bebe31236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kontact-17.08.3.tar.xz">kontact-17.08.3</a></td>
   <td align="right">844kB</td>
   <td><tt>535be1b410865ff939633f5048016e1974ffa9a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kontactinterface-17.08.3.tar.xz">kontactinterface-17.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>380cec156c69d1987746b85d121b7fb996786756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kopete-17.08.3.tar.xz">kopete-17.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5b9f73599e63dc7737eb759f29344c22fa1d8220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/korganizer-17.08.3.tar.xz">korganizer-17.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7033b0550e420f2e669e964a2ec90a76333ec8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kpat-17.08.3.tar.xz">kpat-17.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a15f49f10153be411dc4ac7e5906a8f945d0d7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kpimtextedit-17.08.3.tar.xz">kpimtextedit-17.08.3</a></td>
   <td align="right">137kB</td>
   <td><tt>9e1b939bf612f89e3629c4e8e4fac346730e2a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kppp-17.08.3.tar.xz">kppp-17.08.3</a></td>
   <td align="right">684kB</td>
   <td><tt>deb6c97cca138e6b34ed1bf5ad7a91bb37ce0b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kqtquickcharts-17.08.3.tar.xz">kqtquickcharts-17.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>534100765ce037824063376facf67b390101d8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/krdc-17.08.3.tar.xz">krdc-17.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>823fb9132f1334ade8f0f234e8cef607d7c3848d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kremotecontrol-17.08.3.tar.xz">kremotecontrol-17.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c2abe57a7e1e0bde8b9f8bb152dc8c099671fdfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kreversi-17.08.3.tar.xz">kreversi-17.08.3</a></td>
   <td align="right">887kB</td>
   <td><tt>1c0b6e766f53f1c96859c9f313bebe42987cae56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/krfb-17.08.3.tar.xz">krfb-17.08.3</a></td>
   <td align="right">967kB</td>
   <td><tt>53950c2762b5bf516aa66d272384be9cba56adc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kross-interpreters-17.08.3.tar.xz">kross-interpreters-17.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>735412a3f7e1ea58ceab3758ed1978f60a9b34a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kruler-17.08.3.tar.xz">kruler-17.08.3</a></td>
   <td align="right">252kB</td>
   <td><tt>cd58fdbf1d2eb07bff35e94cd0cdb5a5e93d1a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksaneplugin-17.08.3.tar.xz">ksaneplugin-17.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>03b514c588416bf32cfb2eed64493249f8e23880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kscd-17.08.3.tar.xz">kscd-17.08.3</a></td>
   <td align="right">90kB</td>
   <td><tt>096f3f6689bf4459c77ffbb54dcaf6af769ef7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kshisen-17.08.3.tar.xz">kshisen-17.08.3</a></td>
   <td align="right">692kB</td>
   <td><tt>9742cb44d43dcf0c9d3c63bdbdb32830d48f380c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksirk-17.08.3.tar.xz">ksirk-17.08.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>7e026a6cf4aedd07aa58c984ba23f3c390342d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksnakeduel-17.08.3.tar.xz">ksnakeduel-17.08.3</a></td>
   <td align="right">591kB</td>
   <td><tt>73856469e2911affaaab86945e49d71c43bf8953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kspaceduel-17.08.3.tar.xz">kspaceduel-17.08.3</a></td>
   <td align="right">595kB</td>
   <td><tt>ffb3d0c136896c59bf67f9ae0fad4beb9ca0ce96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksquares-17.08.3.tar.xz">ksquares-17.08.3</a></td>
   <td align="right">210kB</td>
   <td><tt>a7d4c4954de76fd425ab987b0f9d6466506008f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kstars-17.08.3.tar.xz">kstars-17.08.3</a></td>
   <td align="right">58MB</td>
   <td><tt>5c36540d699c21eaaf6e97a0898f33a22c01a5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksudoku-17.08.3.tar.xz">ksudoku-17.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d6c54f03447e5b3c9f8bb16b1f45321ba6736959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ksystemlog-17.08.3.tar.xz">ksystemlog-17.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1c1aa4d89abbf47e189dada359a73322f1a1f631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kteatime-17.08.3.tar.xz">kteatime-17.08.3</a></td>
   <td align="right">290kB</td>
   <td><tt>7519bca4b90cfad606430ac1b3e5e34037192b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktimer-17.08.3.tar.xz">ktimer-17.08.3</a></td>
   <td align="right">441kB</td>
   <td><tt>cb839f09bb27c8bc7edee8b5cbb1d3a847378816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktnef-17.08.3.tar.xz">ktnef-17.08.3</a></td>
   <td align="right">292kB</td>
   <td><tt>d783fdc6de41d83deea0a3c24842c66a767d6353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktouch-17.08.3.tar.xz">ktouch-17.08.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>7306caf167f54ced8c291f8d4b95e2def7ecb099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-accounts-kcm-17.08.3.tar.xz">ktp-accounts-kcm-17.08.3</a></td>
   <td align="right">256kB</td>
   <td><tt>fb72f669a4ad8c417be679c74868cc4231968a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-approver-17.08.3.tar.xz">ktp-approver-17.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>b893b28441c793ec53f2e6bf27de657a77e7ec60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-auth-handler-17.08.3.tar.xz">ktp-auth-handler-17.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>807d4b3b125fab30c9dcd7fd386859bc750f9776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-call-ui-17.08.3.tar.xz">ktp-call-ui-17.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>d2baa6c7080da3629e543e971e630f53bc0ce2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-common-internals-17.08.3.tar.xz">ktp-common-internals-17.08.3</a></td>
   <td align="right">431kB</td>
   <td><tt>54722d9dfed7cf792f37ed159a9b34d41953b2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-contact-list-17.08.3.tar.xz">ktp-contact-list-17.08.3</a></td>
   <td align="right">129kB</td>
   <td><tt>7eaff310d19d1c9ea694015162a2dbc49be94f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-contact-runner-17.08.3.tar.xz">ktp-contact-runner-17.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>75b807931f868d8a70ef845ca61e9276ae62754e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-desktop-applets-17.08.3.tar.xz">ktp-desktop-applets-17.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>1a4e7ae2cdaddbe5dcff997a283a8ffda4f35bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-filetransfer-handler-17.08.3.tar.xz">ktp-filetransfer-handler-17.08.3</a></td>
   <td align="right">44kB</td>
   <td><tt>20b1dc45eab6a90ca3cc21d0d778bedb3cabcf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-kded-module-17.08.3.tar.xz">ktp-kded-module-17.08.3</a></td>
   <td align="right">79kB</td>
   <td><tt>7c7b938b7ae84353fd6e8338c792f7947e9aa4b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-send-file-17.08.3.tar.xz">ktp-send-file-17.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>aa8adb4643c36a52289ee76d77532496fa37a054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktp-text-ui-17.08.3.tar.xz">ktp-text-ui-17.08.3</a></td>
   <td align="right">457kB</td>
   <td><tt>8cb40e6f624f4f87651e8ad71e98730b4341b744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/ktuberling-17.08.3.tar.xz">ktuberling-17.08.3</a></td>
   <td align="right">31MB</td>
   <td><tt>a8a06a7a1dcf1c615b8c7465593405fa86687729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kturtle-17.08.3.tar.xz">kturtle-17.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fb3d95f135d94eac7ae03edb9f4b790ad9d5a220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kubrick-17.08.3.tar.xz">kubrick-17.08.3</a></td>
   <td align="right">299kB</td>
   <td><tt>a72b16c5ccf7dc4349cf48fd8ef7a20949f4eb69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kwalletmanager-17.08.3.tar.xz">kwalletmanager-17.08.3</a></td>
   <td align="right">732kB</td>
   <td><tt>5e4113b3a1ce861c6e8d59eab04be258041964f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kwave-17.08.3.tar.xz">kwave-17.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c91849ec768f8cdf7c06a26f1dcf5964710e89d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kwordquiz-17.08.3.tar.xz">kwordquiz-17.08.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>b781703678c256f44e6a2a4852cd4ad219253105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libgravatar-17.08.3.tar.xz">libgravatar-17.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>5d9b82392e6bbe56dd694662152d008970164a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkcddb-17.08.3.tar.xz">libkcddb-17.08.3</a></td>
   <td align="right">414kB</td>
   <td><tt>a0d635758339fbcade3340fc6c51b5764aadd95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkcompactdisc-17.08.3.tar.xz">libkcompactdisc-17.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>3780e917a95db5781a79bd0f39f45bb021b0df7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkdcraw-17.08.3.tar.xz">libkdcraw-17.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>c6c0ba3cc377d4cb35213c78c8563dccf0153703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkdegames-17.08.3.tar.xz">libkdegames-17.08.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>5dbc966b5265efe40dca4178a004751b76f9d61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkdepim-17.08.3.tar.xz">libkdepim-17.08.3</a></td>
   <td align="right">331kB</td>
   <td><tt>0c5fc72ac0c465457337efb1581045312929fdf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkeduvocdocument-17.08.3.tar.xz">libkeduvocdocument-17.08.3</a></td>
   <td align="right">204kB</td>
   <td><tt>90fb48c83782bfad3dd1f4a223beae231cc81fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkexiv2-17.08.3.tar.xz">libkexiv2-17.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>ccdfd25b049e86540d9d222ee7bd64345e446b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkface-17.08.3.tar.xz">libkface-17.08.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>7c895279e15919be382fabdb3a175db60326e571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkgapi-17.08.3.tar.xz">libkgapi-17.08.3</a></td>
   <td align="right">171kB</td>
   <td><tt>19db60ba3cc403991c1091be6511e02ae9fbd10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkgeomap-17.08.3.tar.xz">libkgeomap-17.08.3</a></td>
   <td align="right">146kB</td>
   <td><tt>015df565b7786d7cad6875aaa23e8371578a6cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkipi-17.08.3.tar.xz">libkipi-17.08.3</a></td>
   <td align="right">101kB</td>
   <td><tt>3421705d7348a78fb2a7eef629c45b876e264018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkleo-17.08.3.tar.xz">libkleo-17.08.3</a></td>
   <td align="right">284kB</td>
   <td><tt>5285fc967d66f0609c08dd55c513de539198705d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkmahjongg-17.08.3.tar.xz">libkmahjongg-17.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>af41ba7dbe71efcde1757b3176ac4be6481d2f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libkomparediff2-17.08.3.tar.xz">libkomparediff2-17.08.3</a></td>
   <td align="right">172kB</td>
   <td><tt>96c750337cfc83d1f6baee13e738adeef74b741f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libksane-17.08.3.tar.xz">libksane-17.08.3</a></td>
   <td align="right">134kB</td>
   <td><tt>441e7fa6664f129c5bea27990381947a1ef73f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/libksieve-17.08.3.tar.xz">libksieve-17.08.3</a></td>
   <td align="right">533kB</td>
   <td><tt>d523f047c8c06c5236ffcdee1bbea86a4601cdc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/lokalize-17.08.3.tar.xz">lokalize-17.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2f0e3e7837047644015e126d38a54da94bbc3105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/lskat-17.08.3.tar.xz">lskat-17.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>99b18f9058dd9333edfea43716528a2af96e98e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/mailcommon-17.08.3.tar.xz">mailcommon-17.08.3</a></td>
   <td align="right">642kB</td>
   <td><tt>1a2771c7cee95c5f1465a0dff7b81f5f0f214d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/mailimporter-17.08.3.tar.xz">mailimporter-17.08.3</a></td>
   <td align="right">525kB</td>
   <td><tt>32d3c2c330a89e62d320964c90d7a94b76652799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/marble-17.08.3.tar.xz">marble-17.08.3</a></td>
   <td align="right">49MB</td>
   <td><tt>daf05a3f9c2823aea75d091817bc19f97c02092a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/mbox-importer-17.08.3.tar.xz">mbox-importer-17.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>d7f0913ba887c23ebc791d7b99df805b90555f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/messagelib-17.08.3.tar.xz">messagelib-17.08.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>360e6ddb589797db9090a9256a84271dbbabf9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/minuet-17.08.3.tar.xz">minuet-17.08.3</a></td>
   <td align="right">26MB</td>
   <td><tt>92d2f66907483a5574f8a03418552b29ed7a3a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/okteta-17.08.3.tar.xz">okteta-17.08.3</a></td>
   <td align="right">939kB</td>
   <td><tt>3552c4582271326217da6cdb10b8fecad51c5e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/okular-17.08.3.tar.xz">okular-17.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a81cef57613af25cd252cd38ec8547cfc204214b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/palapeli-17.08.3.tar.xz">palapeli-17.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2c72b0e963a9311cebbba7d157df11a2a6243a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/parley-17.08.3.tar.xz">parley-17.08.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>0f8faddfb56691c323dc63f396beadd412b2d3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/picmi-17.08.3.tar.xz">picmi-17.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4d543891627eea3b329d02b2b2130686154b1ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/pimcommon-17.08.3.tar.xz">pimcommon-17.08.3</a></td>
   <td align="right">269kB</td>
   <td><tt>1fb262f2dfe8582bb39aa5c78e2b93e4ab8ad03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/pim-data-exporter-17.08.3.tar.xz">pim-data-exporter-17.08.3</a></td>
   <td align="right">260kB</td>
   <td><tt>a215e1fb2bfdd0ddb1ddfd216d7b1ff220690f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/pim-sieve-editor-17.08.3.tar.xz">pim-sieve-editor-17.08.3</a></td>
   <td align="right">434kB</td>
   <td><tt>0327eb0898355b41ef7d472d4a9c7337795ac3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/poxml-17.08.3.tar.xz">poxml-17.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>6d545f1b19cc6a5fdcbe4de3f5ee8b6ad7353cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/print-manager-17.08.3.tar.xz">print-manager-17.08.3</a></td>
   <td align="right">231kB</td>
   <td><tt>c2f16227f71d3495c85cf122c75b184e620112a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/rocs-17.08.3.tar.xz">rocs-17.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a099213785672b49d59b0c7743fac0b785ba2a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/signon-kwallet-extension-17.08.3.tar.xz">signon-kwallet-extension-17.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>51222246ecaeccc56290373514ba318f69c0b2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/spectacle-17.08.3.tar.xz">spectacle-17.08.3</a></td>
   <td align="right">651kB</td>
   <td><tt>fc95fc68418e14d0f771a1de2784806322ee0b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/step-17.08.3.tar.xz">step-17.08.3</a></td>
   <td align="right">839kB</td>
   <td><tt>9b2ebab30ca4c27ffd3af07709785fa2f919cd8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/svgpart-17.08.3.tar.xz">svgpart-17.08.3</a></td>
   <td align="right">18kB</td>
   <td><tt>f1b5ae6a4cf729234269112ea70fdaa345440683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/sweeper-17.08.3.tar.xz">sweeper-17.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>de74cdc2871d866efad5b056856124b2f2242522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/syndication-17.08.3.tar.xz">syndication-17.08.3</a></td>
   <td align="right">156kB</td>
   <td><tt>8ed47f187eb020989aff5b04f5b6529b03560b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/umbrello-17.08.3.tar.xz">umbrello-17.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a69971383ce51ac3a37df2dcac290151a0c97950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/zeroconf-ioslave-17.08.3.tar.xz">zeroconf-ioslave-17.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>c0476e26a75aec473adeb33ed07fcaec1dbcd5af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ar-17.08.3.tar.xz">kde-l10n-ar-17.08.3</a></td>
   <td align="right">541kB</td>
   <td><tt>5668b631a75a778fe0fe34fc7990974497c2fc2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ast-17.08.3.tar.xz">kde-l10n-ast-17.08.3</a></td>
   <td align="right">386kB</td>
   <td><tt>74f08e30b2b3502cbb5740057f538881450edeca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-bg-17.08.3.tar.xz">kde-l10n-bg-17.08.3</a></td>
   <td align="right">471kB</td>
   <td><tt>5b763b25a5132a0653da70f806ced6209e033767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-bs-17.08.3.tar.xz">kde-l10n-bs-17.08.3</a></td>
   <td align="right">549kB</td>
   <td><tt>0e52b6e6553c22e19336ce98cfcffbc24d383f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ca-17.08.3.tar.xz">kde-l10n-ca-17.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>422623b2f77848a9418a3460d08f742e3a3edf72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ca@valencia-17.08.3.tar.xz">kde-l10n-ca@valencia-17.08.3</a></td>
   <td align="right">527kB</td>
   <td><tt>f49087e0abb3d5f918c3772b31ec7450e195d3fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-cs-17.08.3.tar.xz">kde-l10n-cs-17.08.3</a></td>
   <td align="right">536kB</td>
   <td><tt>2118b01aa098459f72cff85f22a432a14b880bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-da-17.08.3.tar.xz">kde-l10n-da-17.08.3</a></td>
   <td align="right">881kB</td>
   <td><tt>2216519c348cd58a10e5629e6f733b267a2472c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-de-17.08.3.tar.xz">kde-l10n-de-17.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>8ad96b46a578f8aef611518ea267c9f9eb438710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-el-17.08.3.tar.xz">kde-l10n-el-17.08.3</a></td>
   <td align="right">724kB</td>
   <td><tt>4d738023f89f16684e9e8a554a2f9e2d3dd6be5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-en_GB-17.08.3.tar.xz">kde-l10n-en_GB-17.08.3</a></td>
   <td align="right">498kB</td>
   <td><tt>3513e9b882ae8fdaf47068049f85fab05f18bc63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-eo-17.08.3.tar.xz">kde-l10n-eo-17.08.3</a></td>
   <td align="right">482kB</td>
   <td><tt>c099204828d84e7d36c4f237515facb4059b0aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-es-17.08.3.tar.xz">kde-l10n-es-17.08.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5a2fabea9e275ef5e654c982cbf8fb353b927959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-et-17.08.3.tar.xz">kde-l10n-et-17.08.3</a></td>
   <td align="right">820kB</td>
   <td><tt>e45884d3cdd73d897e106090183bf69887155dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-eu-17.08.3.tar.xz">kde-l10n-eu-17.08.3</a></td>
   <td align="right">541kB</td>
   <td><tt>a1edc348f58c490f466fb22d407e3673b816ff51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-fa-17.08.3.tar.xz">kde-l10n-fa-17.08.3</a></td>
   <td align="right">499kB</td>
   <td><tt>b71d546c81a0815d8415c3dcf4b827e0e7ccfcc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-fi-17.08.3.tar.xz">kde-l10n-fi-17.08.3</a></td>
   <td align="right">602kB</td>
   <td><tt>083e344e5a97bcb22c5fe0fc7c0f7e2a9cb19fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-fr-17.08.3.tar.xz">kde-l10n-fr-17.08.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>61d0889c664aa9ce110d586d09870bc373f518c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ga-17.08.3.tar.xz">kde-l10n-ga-17.08.3</a></td>
   <td align="right">528kB</td>
   <td><tt>5182b033a18d4da19d6496ffd882833e4fec8119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-gl-17.08.3.tar.xz">kde-l10n-gl-17.08.3</a></td>
   <td align="right">659kB</td>
   <td><tt>1a979f752978cebf4e1def474c8243332f6734c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-he-17.08.3.tar.xz">kde-l10n-he-17.08.3</a></td>
   <td align="right">481kB</td>
   <td><tt>26d5ececf3366cd9a5b48bd3922669d20a5be0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-hi-17.08.3.tar.xz">kde-l10n-hi-17.08.3</a></td>
   <td align="right">455kB</td>
   <td><tt>78faf7b0ae6275acaa51add8ae062adfd910ff7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-hr-17.08.3.tar.xz">kde-l10n-hr-17.08.3</a></td>
   <td align="right">473kB</td>
   <td><tt>0746c1c14947518b483a4b2b91591c9d3c0e1bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-hu-17.08.3.tar.xz">kde-l10n-hu-17.08.3</a></td>
   <td align="right">584kB</td>
   <td><tt>6efcc9e065267a7005e2dccc4113a3a04a702237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ia-17.08.3.tar.xz">kde-l10n-ia-17.08.3</a></td>
   <td align="right">468kB</td>
   <td><tt>0bc7034073a3962f2f5964e4721d5a997474a288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-id-17.08.3.tar.xz">kde-l10n-id-17.08.3</a></td>
   <td align="right">194kB</td>
   <td><tt>c51781805b8da1df33c865dabb4ff64e3d34b973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-is-17.08.3.tar.xz">kde-l10n-is-17.08.3</a></td>
   <td align="right">467kB</td>
   <td><tt>4319ef0b742fe75f720858b079b26a9532e13f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-it-17.08.3.tar.xz">kde-l10n-it-17.08.3</a></td>
   <td align="right">931kB</td>
   <td><tt>862f7a9aeef5810be2b997d90ed81ce404b6c419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ja-17.08.3.tar.xz">kde-l10n-ja-17.08.3</a></td>
   <td align="right">509kB</td>
   <td><tt>c73b59b69542f24ab6eeec67eff6247705579cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-kk-17.08.3.tar.xz">kde-l10n-kk-17.08.3</a></td>
   <td align="right">572kB</td>
   <td><tt>401b2519d70e04b7bb59257a36b56970594e18fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-km-17.08.3.tar.xz">kde-l10n-km-17.08.3</a></td>
   <td align="right">509kB</td>
   <td><tt>3c1e689d848c58973ce9b89eeeff6e1f3f9c58ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ko-17.08.3.tar.xz">kde-l10n-ko-17.08.3</a></td>
   <td align="right">497kB</td>
   <td><tt>baa9d5bbff44d533a6a7d97a16f008cb7ac8b5b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-lt-17.08.3.tar.xz">kde-l10n-lt-17.08.3</a></td>
   <td align="right">521kB</td>
   <td><tt>9d90117525b1b8a646ca606e38603a1dfd0abe58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-lv-17.08.3.tar.xz">kde-l10n-lv-17.08.3</a></td>
   <td align="right">529kB</td>
   <td><tt>9e8f22fbaf78041638367058b52b828df4638cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-mr-17.08.3.tar.xz">kde-l10n-mr-17.08.3</a></td>
   <td align="right">437kB</td>
   <td><tt>9107cbcf2c3abc5836356595e29890a8afe90320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-nb-17.08.3.tar.xz">kde-l10n-nb-17.08.3</a></td>
   <td align="right">549kB</td>
   <td><tt>a5c186330ada72ea0073143ff58915d2ff6c1bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-nds-17.08.3.tar.xz">kde-l10n-nds-17.08.3</a></td>
   <td align="right">604kB</td>
   <td><tt>d040c5a9aab3314b35a7478793acdb9271c2b34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-nl-17.08.3.tar.xz">kde-l10n-nl-17.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a32c087a2cb027a93e922e74e594d4921e5b0737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-nn-17.08.3.tar.xz">kde-l10n-nn-17.08.3</a></td>
   <td align="right">521kB</td>
   <td><tt>0ed2bc8e2e0185aaac51c4ca468d7f1144bcbd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-pa-17.08.3.tar.xz">kde-l10n-pa-17.08.3</a></td>
   <td align="right">454kB</td>
   <td><tt>2cd4fc697a6667429138162cecf948e605fbd99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-pl-17.08.3.tar.xz">kde-l10n-pl-17.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a3f16686bdbe3fd57492c795128840cd4768a614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-pt-17.08.3.tar.xz">kde-l10n-pt-17.08.3</a></td>
   <td align="right">841kB</td>
   <td><tt>56731fad42e1b298c5b94d938f2e09e2e759edc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-pt_BR-17.08.3.tar.xz">kde-l10n-pt_BR-17.08.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>500f487b6f84ceb578e5e740a20cc04589ca7843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ro-17.08.3.tar.xz">kde-l10n-ro-17.08.3</a></td>
   <td align="right">579kB</td>
   <td><tt>8b73b19764176149526ea53fe686b9042799ff4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ru-17.08.3.tar.xz">kde-l10n-ru-17.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8bd1eda75a9bce60d9ea293c9feaee3995849de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-sk-17.08.3.tar.xz">kde-l10n-sk-17.08.3</a></td>
   <td align="right">530kB</td>
   <td><tt>424e68dd8dcc3133397e3001d6dadcd0a273fedc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-sl-17.08.3.tar.xz">kde-l10n-sl-17.08.3</a></td>
   <td align="right">581kB</td>
   <td><tt>b69542698effa8df7b5f61673b64dd775e2f1b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-sr-17.08.3.tar.xz">kde-l10n-sr-17.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d453a4c7ebcb2719a6118ab3f6e4c3c52e793c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-sv-17.08.3.tar.xz">kde-l10n-sv-17.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>058b258ebaa3f8a14cdd7e69c2ef97a1c27bdbee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-tr-17.08.3.tar.xz">kde-l10n-tr-17.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4cdd92a29140b1068e7d406503ecb4485979c67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-ug-17.08.3.tar.xz">kde-l10n-ug-17.08.3</a></td>
   <td align="right">452kB</td>
   <td><tt>75acc8f9bec87dde28ef85c51a982000f4123b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-uk-17.08.3.tar.xz">kde-l10n-uk-17.08.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>2424d39a5e45f221e68a1f0de03e2ec2f24f1193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-wa-17.08.3.tar.xz">kde-l10n-wa-17.08.3</a></td>
   <td align="right">403kB</td>
   <td><tt>5caf684c7accd4c31dac0ec5b6aae9fdfd4c2c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-zh_CN-17.08.3.tar.xz">kde-l10n-zh_CN-17.08.3</a></td>
   <td align="right">551kB</td>
   <td><tt>81aaf55fc3d365f8380ddeec54fad1d51411a597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.3/src/kde-l10n/kde-l10n-zh_TW-17.08.3.tar.xz">kde-l10n-zh_TW-17.08.3</a></td>
   <td align="right">590kB</td>
   <td><tt>e97b23d75ca576392109a3f7dafd445e6146d808</tt></td>
</tr>

</table>
