<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-17.08.0.tar.xz">akonadi-17.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fad8b025dd6b27ae47637b78bf1ba17145025324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-calendar-17.08.0.tar.xz">akonadi-calendar-17.08.0</a></td>
   <td align="right">273kB</td>
   <td><tt>b981e69a64f975b92c7cf6d8d4845b27f28d788c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-calendar-tools-17.08.0.tar.xz">akonadi-calendar-tools-17.08.0</a></td>
   <td align="right">217kB</td>
   <td><tt>30535c13747bfa89884b1d745ad911cb6c9df14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadiconsole-17.08.0.tar.xz">akonadiconsole-17.08.0</a></td>
   <td align="right">180kB</td>
   <td><tt>adb2c8f5d52e0aa45890043ce0121e66fe7b17a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-contacts-17.08.0.tar.xz">akonadi-contacts-17.08.0</a></td>
   <td align="right">343kB</td>
   <td><tt>c8c176847dcb06dbc5f8fdd856d533bda8daf9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-import-wizard-17.08.0.tar.xz">akonadi-import-wizard-17.08.0</a></td>
   <td align="right">424kB</td>
   <td><tt>749cd5c0abea8c15f89297847b28bd3f2f37a01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-mime-17.08.0.tar.xz">akonadi-mime-17.08.0</a></td>
   <td align="right">127kB</td>
   <td><tt>cd5173814c12bbab58d5837e8a4ca32d601f0640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-notes-17.08.0.tar.xz">akonadi-notes-17.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>b6db577e349127781768c6b0b9fc3f8772e2d884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akonadi-search-17.08.0.tar.xz">akonadi-search-17.08.0</a></td>
   <td align="right">79kB</td>
   <td><tt>72ab73b607023a21d2b583b798cad939983d679e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/akregator-17.08.0.tar.xz">akregator-17.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4e7add981df9d5886e80e42791af3c180bb9ae36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/analitza-17.08.0.tar.xz">analitza-17.08.0</a></td>
   <td align="right">322kB</td>
   <td><tt>0d4f8f4af2008503a361703448c12536527708b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ark-17.08.0.tar.xz">ark-17.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ec126087f29f9177de96ab9d978dcd303a6dd3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/artikulate-17.08.0.tar.xz">artikulate-17.08.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>9d49e5d3b0665d9ac1367e162adb1a442bb28499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/audiocd-kio-17.08.0.tar.xz">audiocd-kio-17.08.0</a></td>
   <td align="right">241kB</td>
   <td><tt>b237a2b559c6d8b9d65f16252f16480577a8b714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/baloo-widgets-17.08.0.tar.xz">baloo-widgets-17.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>c81916969427907042e0bd55ea664be30c1616b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/blinken-17.08.0.tar.xz">blinken-17.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>aad136370a15999703cbcb02a22cdd1ca86757ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/blogilo-17.08.0.tar.xz">blogilo-17.08.0</a></td>
   <td align="right">784kB</td>
   <td><tt>304da43bdea39308f716ceea2e39fcde73948cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/bomber-17.08.0.tar.xz">bomber-17.08.0</a></td>
   <td align="right">736kB</td>
   <td><tt>a25aa7f627b0ea06a5b1062e01dc2de816982ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/bovo-17.08.0.tar.xz">bovo-17.08.0</a></td>
   <td align="right">181kB</td>
   <td><tt>10946c292aeeb5fe15a9b2b5f92103215e125e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/calendarsupport-17.08.0.tar.xz">calendarsupport-17.08.0</a></td>
   <td align="right">628kB</td>
   <td><tt>2e70f833a2dd34edcc94a82175aea906cc6f4557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/cantor-17.08.0.tar.xz">cantor-17.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>971185ed843ad8ac794815b86c869740c2246b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/cervisia-17.08.0.tar.xz">cervisia-17.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8eb5727d370d689e8d808a006f9b71eeaed50843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/dolphin-17.08.0.tar.xz">dolphin-17.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>4ddbb6f0fc3c11e51083019d5ea3b8fddd387a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/dolphin-plugins-17.08.0.tar.xz">dolphin-plugins-17.08.0</a></td>
   <td align="right">182kB</td>
   <td><tt>a541dd7abc0c151dc6411d422ff47ac9c90075d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/dragon-17.08.0.tar.xz">dragon-17.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d15150d75e77b9b1ba1f1f7ee87bf159b2636527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/eventviews-17.08.0.tar.xz">eventviews-17.08.0</a></td>
   <td align="right">423kB</td>
   <td><tt>188b50053789f90ae7c90140e9a7cc8a369ca820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ffmpegthumbs-17.08.0.tar.xz">ffmpegthumbs-17.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>a92787376d4b5b0af460e9b0368b9943b0de6bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/filelight-17.08.0.tar.xz">filelight-17.08.0</a></td>
   <td align="right">634kB</td>
   <td><tt>dea493f48d6a5836d9750540ad795c5a6fbccf97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/granatier-17.08.0.tar.xz">granatier-17.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6019d6dbb296a27196c856daac856a8d9e6baa35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/grantlee-editor-17.08.0.tar.xz">grantlee-editor-17.08.0</a></td>
   <td align="right">107kB</td>
   <td><tt>96fa028b3cf537ff0e73e9ba5f69d90e194c9fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/grantleetheme-17.08.0.tar.xz">grantleetheme-17.08.0</a></td>
   <td align="right">49kB</td>
   <td><tt>a409c9d9dbd51183e52b2c12ebb28776a67d3825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/gwenview-17.08.0.tar.xz">gwenview-17.08.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>f6373850d22503b5fc2c2251c19a0ebdb230698c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/incidenceeditor-17.08.0.tar.xz">incidenceeditor-17.08.0</a></td>
   <td align="right">505kB</td>
   <td><tt>8cc1b5a39417fd64ba95049f13284309972c0431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/jovie-17.08.0.tar.xz">jovie-17.08.0</a></td>
   <td align="right">385kB</td>
   <td><tt>57e2b9f3eedf2f0bee2833b7d8036a38bc936340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/juk-17.08.0.tar.xz">juk-17.08.0</a></td>
   <td align="right">435kB</td>
   <td><tt>31dd7db191ae238be194aadec574f8e7a175f021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/k3b-17.08.0.tar.xz">k3b-17.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>d9533bc1caf0de024f2bbe2588450047d7b3562e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kaccessible-17.08.0.tar.xz">kaccessible-17.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e6b14c3cd57d04ca563093d0391b21963348e6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kaccounts-integration-17.08.0.tar.xz">kaccounts-integration-17.08.0</a></td>
   <td align="right">67kB</td>
   <td><tt>5ccc01df5a140cb426771c72621824d68286d4bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kaccounts-providers-17.08.0.tar.xz">kaccounts-providers-17.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>70ee9ca483531bfb2c703343a2201b1061199ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kaddressbook-17.08.0.tar.xz">kaddressbook-17.08.0</a></td>
   <td align="right">533kB</td>
   <td><tt>803eae6b0af883b639642302af5902c52e85e0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kajongg-17.08.0.tar.xz">kajongg-17.08.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>56ff37538074be19acab7d303523608bfa7ef05c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kalarm-17.08.0.tar.xz">kalarm-17.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>002db5d45c0ff26015ed485c12367dc905974a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kalarmcal-17.08.0.tar.xz">kalarmcal-17.08.0</a></td>
   <td align="right">481kB</td>
   <td><tt>301baabcfe5a486f01fe8cdd060221578c985720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kalgebra-17.08.0.tar.xz">kalgebra-17.08.0</a></td>
   <td align="right">673kB</td>
   <td><tt>740c99ff3ca1ae984c1ab58b3b9ac677164225ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kalzium-17.08.0.tar.xz">kalzium-17.08.0</a></td>
   <td align="right">23MB</td>
   <td><tt>16d8638868f8d930bc4bc77d1836829ae0ff2c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kamera-17.08.0.tar.xz">kamera-17.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>5c7365f6c724a6517cf498c76c2628e2dd0f6aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kanagram-17.08.0.tar.xz">kanagram-17.08.0</a></td>
   <td align="right">7.2MB</td>
   <td><tt>1c102935510f27c0a44f7614b69802b173ac1aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kapman-17.08.0.tar.xz">kapman-17.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8fe3ec51714cdc6182b93525fb60838becc59b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kapptemplate-17.08.0.tar.xz">kapptemplate-17.08.0</a></td>
   <td align="right">435kB</td>
   <td><tt>b943968c377af4dcbf229af83bf2eb613f9be6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kate-17.08.0.tar.xz">kate-17.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d25d49342a3533545892dc407f258521f3bc27c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/katomic-17.08.0.tar.xz">katomic-17.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4a1ff9ec40f66f1236c1ff8c7ca5537207204790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kblackbox-17.08.0.tar.xz">kblackbox-17.08.0</a></td>
   <td align="right">392kB</td>
   <td><tt>7923a1e81b382fcc84ce37cbe26cc0e76f57d31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kblocks-17.08.0.tar.xz">kblocks-17.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eb8e5c8e2e5d7b31c5c3962dcae4bb7f7b5d9411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kblog-17.08.0.tar.xz">kblog-17.08.0</a></td>
   <td align="right">70kB</td>
   <td><tt>fb000b9a87f9d4a6b0ab311b2750ea7607f51281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kbounce-17.08.0.tar.xz">kbounce-17.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>8c347e4c1edb0e23d67be96c1ca483a62eb8c7ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kbreakout-17.08.0.tar.xz">kbreakout-17.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b6372827b9c579f0dfd6dc21a32df0247216cfcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kbruch-17.08.0.tar.xz">kbruch-17.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>4f791c4e454b5e000ea41c629d6f9dbcc569090d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcachegrind-17.08.0.tar.xz">kcachegrind-17.08.0</a></td>
   <td align="right">786kB</td>
   <td><tt>23217a9b2c75eb02f3d58f9607cae83040f35e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcalc-17.08.0.tar.xz">kcalc-17.08.0</a></td>
   <td align="right">351kB</td>
   <td><tt>b620368aaad93399723e62778d5e72e6884d49c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcalcore-17.08.0.tar.xz">kcalcore-17.08.0</a></td>
   <td align="right">275kB</td>
   <td><tt>77580073cdb215c35dda1e23642b05d4b04332fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcalutils-17.08.0.tar.xz">kcalutils-17.08.0</a></td>
   <td align="right">316kB</td>
   <td><tt>52f7afd7ba5d5f1eba81ce82687268fcc6709ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcharselect-17.08.0.tar.xz">kcharselect-17.08.0</a></td>
   <td align="right">342kB</td>
   <td><tt>661130912cb8b5ed2545435013053784a2843232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcolorchooser-17.08.0.tar.xz">kcolorchooser-17.08.0</a></td>
   <td align="right">15kB</td>
   <td><tt>2cc9ed612fe884e907625c739d40070b2da0857b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcontacts-17.08.0.tar.xz">kcontacts-17.08.0</a></td>
   <td align="right">202kB</td>
   <td><tt>224a54d6c2859bc08ce5004fdd8b7ae818b1ddfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kcron-17.08.0.tar.xz">kcron-17.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c2d02c6337750ac2dca7b9ef3d1b6c8e51820510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdav-17.08.0.tar.xz">kdav-17.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>deea0d713de87da786941eea99f72874e1445d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdebugsettings-17.08.0.tar.xz">kdebugsettings-17.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>4bbfa20ca707e13688c66d07c2039ab60abb5d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-dev-scripts-17.08.0.tar.xz">kde-dev-scripts-17.08.0</a></td>
   <td align="right">307kB</td>
   <td><tt>238a78b32f5a2440107d31c317865817d2dde52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-dev-utils-17.08.0.tar.xz">kde-dev-utils-17.08.0</a></td>
   <td align="right">51kB</td>
   <td><tt>fccf99b0c0e273498a29189fe162c917804438c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdeedu-data-17.08.0.tar.xz">kdeedu-data-17.08.0</a></td>
   <td align="right">779kB</td>
   <td><tt>e5b3cd51b892a5aa038af01bfe81885d55bc5aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdegraphics-mobipocket-17.08.0.tar.xz">kdegraphics-mobipocket-17.08.0</a></td>
   <td align="right">13kB</td>
   <td><tt>b59d9e00ad20f8d1ecf828ce8b2f40dd0b368f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdegraphics-thumbnailers-17.08.0.tar.xz">kdegraphics-thumbnailers-17.08.0</a></td>
   <td align="right">40kB</td>
   <td><tt>3e85539bb927234110d2a70665a55efb9471551b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdelibs-4.14.35.tar.xz">kdelibs-4.14.35</a></td>
   <td align="right">11MB</td>
   <td><tt>0ba942d9b28660eba5038bd4d90908d6d08f90ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdenetwork-filesharing-17.08.0.tar.xz">kdenetwork-filesharing-17.08.0</a></td>
   <td align="right">315kB</td>
   <td><tt>bb5a7d9859c8a8526d655c7c8a755d877ca58e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdenlive-17.08.0.tar.xz">kdenlive-17.08.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>1fc39dbd18ea85b7377bf0b0049910bd618d975c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdepim-addons-17.08.0.tar.xz">kdepim-addons-17.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>04439e33a04544c354802b2849502c3cdd4a18ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdepim-apps-libs-17.08.0.tar.xz">kdepim-apps-libs-17.08.0</a></td>
   <td align="right">71kB</td>
   <td><tt>b338a72a16902208dcedff378962e5fc8c03e34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdepim-runtime-17.08.0.tar.xz">kdepim-runtime-17.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ebafbcf9fe242ac499f246fa52d6a83c618b5687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-runtime-17.08.0.tar.xz">kde-runtime-17.08.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>91890a333df00e125a04b931c6151bc5b8908a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdesdk-kioslaves-17.08.0.tar.xz">kdesdk-kioslaves-17.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>18b7f19a6f3af73ff31eb50f1f23f758659617ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdesdk-thumbnailers-17.08.0.tar.xz">kdesdk-thumbnailers-17.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>a16b42c3c0a33d1e2d066609c7199b6047ecd568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdf-17.08.0.tar.xz">kdf-17.08.0</a></td>
   <td align="right">517kB</td>
   <td><tt>3136b0ada33d21c31e1726a5b5f6a6aece311cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdialog-17.08.0.tar.xz">kdialog-17.08.0</a></td>
   <td align="right">92kB</td>
   <td><tt>c39b91d62fd94cf0683b0a060f4054f8899c4de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kdiamond-17.08.0.tar.xz">kdiamond-17.08.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>61a8fb423b6b895352fed15d4c15985e2361c18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/keditbookmarks-17.08.0.tar.xz">keditbookmarks-17.08.0</a></td>
   <td align="right">178kB</td>
   <td><tt>f83540723402a91722e8ec7dcdf36e1c174442e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kfilereplace-17.08.0.tar.xz">kfilereplace-17.08.0</a></td>
   <td align="right">745kB</td>
   <td><tt>0965877c246b5a96390dbba2d8041a3288796f1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kfind-17.08.0.tar.xz">kfind-17.08.0</a></td>
   <td align="right">203kB</td>
   <td><tt>368c1d63f2ac5aea9f3cbec7a543bfcf292b5aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kfloppy-17.08.0.tar.xz">kfloppy-17.08.0</a></td>
   <td align="right">193kB</td>
   <td><tt>f3ecdc61691aa43717a6458bada369c705a97346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kfourinline-17.08.0.tar.xz">kfourinline-17.08.0</a></td>
   <td align="right">559kB</td>
   <td><tt>404812fc75bbf7ed3dbe6ad78777d4a9228808e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kgeography-17.08.0.tar.xz">kgeography-17.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>5924f30886dda360f641a05a623e47d3978e01b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kget-17.08.0.tar.xz">kget-17.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4dd56ff8c99acdd48e2c8d1b7c05a9c60347fe3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kgoldrunner-17.08.0.tar.xz">kgoldrunner-17.08.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>99797527f91771100fd6ddcf9e5a589be1472eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kgpg-17.08.0.tar.xz">kgpg-17.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>89043147e4c308bf72d4204bdb24068961075e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/khangman-17.08.0.tar.xz">khangman-17.08.0</a></td>
   <td align="right">6.1MB</td>
   <td><tt>365fd7cbf508abf61be3d73e2f6411e849e53528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/khelpcenter-17.08.0.tar.xz">khelpcenter-17.08.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>2eee2e17922d23ff1edc57146eac1ed24816c011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kholidays-17.08.0.tar.xz">kholidays-17.08.0</a></td>
   <td align="right">197kB</td>
   <td><tt>94fe20447629e73ebba1cc97d7872e213f387540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kidentitymanagement-17.08.0.tar.xz">kidentitymanagement-17.08.0</a></td>
   <td align="right">144kB</td>
   <td><tt>26f877f6a5a6254df9689f181310392481a12a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kig-17.08.0.tar.xz">kig-17.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>97c2cc5cd12da3516e078d48915269083d741c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kigo-17.08.0.tar.xz">kigo-17.08.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>f99efd517c358e96d98716877d79e1243e82a08e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/killbots-17.08.0.tar.xz">killbots-17.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>009bb294ea49603ce5bb672689b2b642d2ec96b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kimagemapeditor-17.08.0.tar.xz">kimagemapeditor-17.08.0</a></td>
   <td align="right">397kB</td>
   <td><tt>1f58825c516835713e9226219635b331cf8caa9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kimap-17.08.0.tar.xz">kimap-17.08.0</a></td>
   <td align="right">117kB</td>
   <td><tt>c1568ccc03c2d45d3ea2b767763c72185a6eeca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kio-extras-17.08.0.tar.xz">kio-extras-17.08.0</a></td>
   <td align="right">542kB</td>
   <td><tt>d4139c8e803eda44b8a650011fd0ad698dbfd81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kiriki-17.08.0.tar.xz">kiriki-17.08.0</a></td>
   <td align="right">318kB</td>
   <td><tt>cf2dcb8d4ba42af5d2520f0857bf7078069269a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kiten-17.08.0.tar.xz">kiten-17.08.0</a></td>
   <td align="right">11MB</td>
   <td><tt>83b37fbbd40a0f7c715ad647a75993684dda47c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kjumpingcube-17.08.0.tar.xz">kjumpingcube-17.08.0</a></td>
   <td align="right">285kB</td>
   <td><tt>f41eb530fa6e793f099d6ed352b0cd32951f6ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kldap-17.08.0.tar.xz">kldap-17.08.0</a></td>
   <td align="right">151kB</td>
   <td><tt>670f0855cfeb9ec108590166f8f824e1f0f14797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kleopatra-17.08.0.tar.xz">kleopatra-17.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>95f61a0762f223a49387ea793fcb13570f41a20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/klettres-17.08.0.tar.xz">klettres-17.08.0</a></td>
   <td align="right">20MB</td>
   <td><tt>94915c2dd714e8df709ba27bb40dcc591d4c942e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/klickety-17.08.0.tar.xz">klickety-17.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4fa80bbeeaaca9082b77d7e94adef684ff38bfc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/klines-17.08.0.tar.xz">klines-17.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5f9e2f948fe43ee9cc18dec2ca519fc4450a51d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/klinkstatus-17.08.0.tar.xz">klinkstatus-17.08.0</a></td>
   <td align="right">439kB</td>
   <td><tt>641248c74478555efb6cd2e76e9d79013d8c06ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmag-17.08.0.tar.xz">kmag-17.08.0</a></td>
   <td align="right">573kB</td>
   <td><tt>00c43106cce60efe9d84f4f1d56f078e5443e8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmahjongg-17.08.0.tar.xz">kmahjongg-17.08.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>fb0ca74a16b68b181101e5bf4c58e3c3a2071ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmail-17.08.0.tar.xz">kmail-17.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>99ad201f4cdf242e1f6484414cdcfad7b237afa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmail-account-wizard-17.08.0.tar.xz">kmail-account-wizard-17.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>11f6f20fb1b0bb4d98c9cd8fc09f175ddef5bbd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmailtransport-17.08.0.tar.xz">kmailtransport-17.08.0</a></td>
   <td align="right">227kB</td>
   <td><tt>e1b88175c963f6bca3d8b0e152f33eb1ba6f687a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmbox-17.08.0.tar.xz">kmbox-17.08.0</a></td>
   <td align="right">23kB</td>
   <td><tt>945a87da20561d30731fa0f8ee7d366622a665d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmime-17.08.0.tar.xz">kmime-17.08.0</a></td>
   <td align="right">142kB</td>
   <td><tt>4ad3f7677b7d3a9e864197e37f19ca49a0fe9e47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmines-17.08.0.tar.xz">kmines-17.08.0</a></td>
   <td align="right">861kB</td>
   <td><tt>070bf9a6a7f3a4a5479e943ddd03ec985ed2dcb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmix-17.08.0.tar.xz">kmix-17.08.0</a></td>
   <td align="right">379kB</td>
   <td><tt>61679bbeaa08d168f433446f2590fe2b4ad5c761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmousetool-17.08.0.tar.xz">kmousetool-17.08.0</a></td>
   <td align="right">107kB</td>
   <td><tt>cb95318185bad616ff8925365f744736528374a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmouth-17.08.0.tar.xz">kmouth-17.08.0</a></td>
   <td align="right">271kB</td>
   <td><tt>482d2fd01db4f371ab5ad0548ac1fb48ee34f6f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kmplot-17.08.0.tar.xz">kmplot-17.08.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>2b0dc309d6dc8414e187c9b9004db3eca5992b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/knavalbattle-17.08.0.tar.xz">knavalbattle-17.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>36d3973c1c92132cfb02f15c385aab88b731d418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/knetwalk-17.08.0.tar.xz">knetwalk-17.08.0</a></td>
   <td align="right">958kB</td>
   <td><tt>35a8dff235be5500bc76ceba524b93712b749a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/knotes-17.08.0.tar.xz">knotes-17.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>37da4724b901f8a033f596143cfc7b3b2ae00f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kolf-17.08.0.tar.xz">kolf-17.08.0</a></td>
   <td align="right">753kB</td>
   <td><tt>b8fb86cd903e75c534ebbe2b4862de7b72b5e190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kollision-17.08.0.tar.xz">kollision-17.08.0</a></td>
   <td align="right">265kB</td>
   <td><tt>cc0770bcdc97f3026c7f133929bbf312b5db50f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kolourpaint-17.08.0.tar.xz">kolourpaint-17.08.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>ae9d05b66d4df04616705a5f71eb3ae647eabb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kompare-17.08.0.tar.xz">kompare-17.08.0</a></td>
   <td align="right">693kB</td>
   <td><tt>48499a58fc0ea12ff21b2a09fe9e781d88dc2781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/konqueror-17.08.0.tar.xz">konqueror-17.08.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>48c9972428b9feaeb33ef3036648cdc306002ee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/konquest-17.08.0.tar.xz">konquest-17.08.0</a></td>
   <td align="right">642kB</td>
   <td><tt>162697d54c6b1d4283fcc3fe386ab377688e1c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/konsole-17.08.0.tar.xz">konsole-17.08.0</a></td>
   <td align="right">997kB</td>
   <td><tt>8f79064c662ce995112bae473c862e920efb2039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kontact-17.08.0.tar.xz">kontact-17.08.0</a></td>
   <td align="right">843kB</td>
   <td><tt>05110586d708172972e3aa393abb75f3f17e212f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kontactinterface-17.08.0.tar.xz">kontactinterface-17.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>15faf6acd232da6295ad7dab3c7728e7490385d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kopete-17.08.0.tar.xz">kopete-17.08.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>eccace8b2efbe623c3e7dd06d00840ae03a36030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/korganizer-17.08.0.tar.xz">korganizer-17.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3cc691f8906915cf33efda2b3b747e8431785d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kpat-17.08.0.tar.xz">kpat-17.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>6c2583cddd18a80ce73e6231b22f897a1c3981e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kpimtextedit-17.08.0.tar.xz">kpimtextedit-17.08.0</a></td>
   <td align="right">137kB</td>
   <td><tt>56fd4baa24adaf5cd3c5d1fc5b092f898ae6f7c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kppp-17.08.0.tar.xz">kppp-17.08.0</a></td>
   <td align="right">684kB</td>
   <td><tt>9b99758bb1d0f6cd2991c5c8b87d7a8ace431787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kqtquickcharts-17.08.0.tar.xz">kqtquickcharts-17.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>fd6ec5ca59c8de84fe37fcafbede77f172a4fdd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/krdc-17.08.0.tar.xz">krdc-17.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c8bc945d6384976427a77f2b8d1e804a62d189d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kremotecontrol-17.08.0.tar.xz">kremotecontrol-17.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8daaa1ac8e022fd8638058a46eca73fcd47ed26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kreversi-17.08.0.tar.xz">kreversi-17.08.0</a></td>
   <td align="right">884kB</td>
   <td><tt>51d39f988390764c4ad2781435a7cda9fe14d987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/krfb-17.08.0.tar.xz">krfb-17.08.0</a></td>
   <td align="right">966kB</td>
   <td><tt>eaa57db6e25823190dfac202dbddec15195a71c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kross-interpreters-17.08.0.tar.xz">kross-interpreters-17.08.0</a></td>
   <td align="right">141kB</td>
   <td><tt>762be3ca3e44d7c4bef63a78d55307004787388d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kruler-17.08.0.tar.xz">kruler-17.08.0</a></td>
   <td align="right">252kB</td>
   <td><tt>8afc30debca1c3e2387dde163dbd802b4163e596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksaneplugin-17.08.0.tar.xz">ksaneplugin-17.08.0</a></td>
   <td align="right">12kB</td>
   <td><tt>42bbda1b840b1528f1d6270cff9a218186cbd6ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kscd-17.08.0.tar.xz">kscd-17.08.0</a></td>
   <td align="right">90kB</td>
   <td><tt>b34053abda66595dfbe39d9b333f67c337b4b4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kshisen-17.08.0.tar.xz">kshisen-17.08.0</a></td>
   <td align="right">691kB</td>
   <td><tt>84f078db0668cd4f467d11288937a9865e077153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksirk-17.08.0.tar.xz">ksirk-17.08.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>da4efc1bd39c4a66c7142fe126ea7e0466fb25e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksnakeduel-17.08.0.tar.xz">ksnakeduel-17.08.0</a></td>
   <td align="right">591kB</td>
   <td><tt>e8a6704f6b0192566747307524f725191098e6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kspaceduel-17.08.0.tar.xz">kspaceduel-17.08.0</a></td>
   <td align="right">595kB</td>
   <td><tt>cdcdaede8cc70ab0bf0bf815f39bb4d09b6ccae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksquares-17.08.0.tar.xz">ksquares-17.08.0</a></td>
   <td align="right">210kB</td>
   <td><tt>cfccf483982ee25f9a8fbc52e4369ff05bb377b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kstars-17.08.0.tar.xz">kstars-17.08.0</a></td>
   <td align="right">58MB</td>
   <td><tt>2baf47715f1b9462ad8b86fd19e636224eea7cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksudoku-17.08.0.tar.xz">ksudoku-17.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3429b22fe17a3744c72c8abb1ab8e36cd2937592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ksystemlog-17.08.0.tar.xz">ksystemlog-17.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>69a614b88083203bf7baada80ac20dcb3dd08678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kteatime-17.08.0.tar.xz">kteatime-17.08.0</a></td>
   <td align="right">289kB</td>
   <td><tt>bf15739273e94186886714531b48874c41330622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktimer-17.08.0.tar.xz">ktimer-17.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>c6be1fa11408060129c9aca1d5a540ecd94a8fe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktnef-17.08.0.tar.xz">ktnef-17.08.0</a></td>
   <td align="right">293kB</td>
   <td><tt>aedd406b0db8cf92e3748757e242402ad73814ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktouch-17.08.0.tar.xz">ktouch-17.08.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>46703e270957674c4c70b0f0e938d3984e57667d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-accounts-kcm-17.08.0.tar.xz">ktp-accounts-kcm-17.08.0</a></td>
   <td align="right">256kB</td>
   <td><tt>5099b9c7460d6e837c45c6354c4416eb7aae3c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-approver-17.08.0.tar.xz">ktp-approver-17.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>de351902f20bbac9d882e619b69a5e9d26749339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-auth-handler-17.08.0.tar.xz">ktp-auth-handler-17.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>1c4ae6c65fc1214500263b886f01f99dcf36ddd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-call-ui-17.08.0.tar.xz">ktp-call-ui-17.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>737fefe5e8c966751827ba37a8d9e92f06e62a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-common-internals-17.08.0.tar.xz">ktp-common-internals-17.08.0</a></td>
   <td align="right">431kB</td>
   <td><tt>a3fe8a07d12d77c1a12b470da9afae48cfd71f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-contact-list-17.08.0.tar.xz">ktp-contact-list-17.08.0</a></td>
   <td align="right">128kB</td>
   <td><tt>5d6fa9f6719ac5c184ea59b875d1e89ac33f6e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-contact-runner-17.08.0.tar.xz">ktp-contact-runner-17.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>b59913e3a4504bd407817ac0fbe8233a6648fe90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-desktop-applets-17.08.0.tar.xz">ktp-desktop-applets-17.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>4ac59267c01deeabc89adff43ced3d0d3591a835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-filetransfer-handler-17.08.0.tar.xz">ktp-filetransfer-handler-17.08.0</a></td>
   <td align="right">44kB</td>
   <td><tt>30fa7859ac801fd9e03353b7f0fd339eefb133ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-kded-module-17.08.0.tar.xz">ktp-kded-module-17.08.0</a></td>
   <td align="right">79kB</td>
   <td><tt>5503f429d7c282482fc37e0c8ffff60e79327135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-send-file-17.08.0.tar.xz">ktp-send-file-17.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a06a8f0b67f3f07f1e021aa0b83f14b010f5ae4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktp-text-ui-17.08.0.tar.xz">ktp-text-ui-17.08.0</a></td>
   <td align="right">457kB</td>
   <td><tt>a46b3797b6d85ac33bee33c4591e84dd823e98bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/ktuberling-17.08.0.tar.xz">ktuberling-17.08.0</a></td>
   <td align="right">31MB</td>
   <td><tt>db6ce41621c1c9051a4789c7871be25b0826d846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kturtle-17.08.0.tar.xz">kturtle-17.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bd2b05a796829f3548b8cfa6d069bd704e5789ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kubrick-17.08.0.tar.xz">kubrick-17.08.0</a></td>
   <td align="right">299kB</td>
   <td><tt>f9c05be749b599782a72eaefa746d36f312b839d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kwalletmanager-17.08.0.tar.xz">kwalletmanager-17.08.0</a></td>
   <td align="right">732kB</td>
   <td><tt>8ca2ccd40895ec46d5855f19c9a2368e621c6b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kwave-17.08.0.tar.xz">kwave-17.08.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>9aaf480f184e8fbf12b3ffbc9e7bb706373cc201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kwordquiz-17.08.0.tar.xz">kwordquiz-17.08.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>81a1d791ae6c19d80a52d3ea52247d679e74ad1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libgravatar-17.08.0.tar.xz">libgravatar-17.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>df48e8ac3786df16524671103c83a807e60ad1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkcddb-17.08.0.tar.xz">libkcddb-17.08.0</a></td>
   <td align="right">413kB</td>
   <td><tt>f511854b274409dbbdb79db4c7ec824618f615f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkcompactdisc-17.08.0.tar.xz">libkcompactdisc-17.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>31e1e1cf240610eff831889036e3bf06e0c38c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkdcraw-17.08.0.tar.xz">libkdcraw-17.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>71f701703f14cee348c7afb69f02b1fb8d6f66b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkdegames-17.08.0.tar.xz">libkdegames-17.08.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>6de013fdcfc9ba013130fd91b9f96d54976fc083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkdepim-17.08.0.tar.xz">libkdepim-17.08.0</a></td>
   <td align="right">330kB</td>
   <td><tt>d4f3a38b860eb28050c00af67c85a6defdf32bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkeduvocdocument-17.08.0.tar.xz">libkeduvocdocument-17.08.0</a></td>
   <td align="right">204kB</td>
   <td><tt>265bf4525d1877bc240f5d2dc8218bbd14193924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkexiv2-17.08.0.tar.xz">libkexiv2-17.08.0</a></td>
   <td align="right">63kB</td>
   <td><tt>e37aaad7d69375ba7cbe4f4736a914ed39e9418d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkface-17.08.0.tar.xz">libkface-17.08.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>fa099f9fc9e2891aaed92cab7fa743cdc18c1cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkgapi-17.08.0.tar.xz">libkgapi-17.08.0</a></td>
   <td align="right">171kB</td>
   <td><tt>1f9fbd48eeed19d542054b061a84fd5c97b7f4ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkgeomap-17.08.0.tar.xz">libkgeomap-17.08.0</a></td>
   <td align="right">146kB</td>
   <td><tt>ea8d4dc4b8daba70ec5d19d4b30b2174e38658f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkipi-17.08.0.tar.xz">libkipi-17.08.0</a></td>
   <td align="right">101kB</td>
   <td><tt>b9ef2e42004e883477e5ec23547089cd22fb8c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkleo-17.08.0.tar.xz">libkleo-17.08.0</a></td>
   <td align="right">283kB</td>
   <td><tt>7eaa6439a5ced3dabcff827f1ff36641a0069e62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkmahjongg-17.08.0.tar.xz">libkmahjongg-17.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e3b83dba605f4fa0343b6642ff66c6ee23f489a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libkomparediff2-17.08.0.tar.xz">libkomparediff2-17.08.0</a></td>
   <td align="right">172kB</td>
   <td><tt>2f8f52f13b0c1d0ab7fbc50d79d07a8668c9d3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libksane-17.08.0.tar.xz">libksane-17.08.0</a></td>
   <td align="right">134kB</td>
   <td><tt>dc554f8e537bf0432ab14719ea05c46e37ce8235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/libksieve-17.08.0.tar.xz">libksieve-17.08.0</a></td>
   <td align="right">531kB</td>
   <td><tt>41d53061ea216633371c6b768500ea72b1379c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/lokalize-17.08.0.tar.xz">lokalize-17.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7bef951aff191c42e8e84ed5d136014ff1a9f2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/lskat-17.08.0.tar.xz">lskat-17.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2a0982ddf70c33007d0b324da3e1eb9077bb3348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/mailcommon-17.08.0.tar.xz">mailcommon-17.08.0</a></td>
   <td align="right">641kB</td>
   <td><tt>b835e0b999a6165c148c7a35341235fbdb774f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/mailimporter-17.08.0.tar.xz">mailimporter-17.08.0</a></td>
   <td align="right">525kB</td>
   <td><tt>1085555df9cc6652a73d7ed55132d57bcf4bd3f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/marble-17.08.0.tar.xz">marble-17.08.0</a></td>
   <td align="right">49MB</td>
   <td><tt>20166b94ac79aadb1c68142d2c4c453f7cc2b584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/mbox-importer-17.08.0.tar.xz">mbox-importer-17.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>c60fae7cb1674ddf83f4aaf68ec267d251921117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/messagelib-17.08.0.tar.xz">messagelib-17.08.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>e182857334818c6e93273a3c80fbff13deccdecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/minuet-17.08.0.tar.xz">minuet-17.08.0</a></td>
   <td align="right">26MB</td>
   <td><tt>c2d4acc45bd27e09e393973e5ed424afec91a342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/okteta-17.08.0.tar.xz">okteta-17.08.0</a></td>
   <td align="right">938kB</td>
   <td><tt>b658c9612e102a0703d70a0a92ff08c8ec9e398b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/okular-17.08.0.tar.xz">okular-17.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>dddab44d53060291cb46c43536e2df1863be88f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/palapeli-17.08.0.tar.xz">palapeli-17.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dff852e4301076b45380d9f096c5799eecb1f8cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/parley-17.08.0.tar.xz">parley-17.08.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>21f98ee22c96b91b6f38d28600c73ac66894c46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/picmi-17.08.0.tar.xz">picmi-17.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>487efd056e45fa2a44daea9b40c9ea6d5056884d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/pimcommon-17.08.0.tar.xz">pimcommon-17.08.0</a></td>
   <td align="right">268kB</td>
   <td><tt>43ca0bb69f69223a9b2b59175d01402b8b40a9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/pim-data-exporter-17.08.0.tar.xz">pim-data-exporter-17.08.0</a></td>
   <td align="right">259kB</td>
   <td><tt>8dc8740bf7ccc156b13a7b600f5c155dcb45edfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/pim-sieve-editor-17.08.0.tar.xz">pim-sieve-editor-17.08.0</a></td>
   <td align="right">432kB</td>
   <td><tt>826111917d3ea8c4bd2f36bef0253fadbf56acbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/poxml-17.08.0.tar.xz">poxml-17.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>b584d096bafdfee77b143cf0d534c087c07e68da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/print-manager-17.08.0.tar.xz">print-manager-17.08.0</a></td>
   <td align="right">231kB</td>
   <td><tt>4457e3a66d1f1f9109f174043c6cbfce0c0deaf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/rocs-17.08.0.tar.xz">rocs-17.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d8dae54464e94caefa4c499aa9e749acdbf6d958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/signon-kwallet-extension-17.08.0.tar.xz">signon-kwallet-extension-17.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>f4493abcc2537ea9ef20e89bad428242e4bce94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/spectacle-17.08.0.tar.xz">spectacle-17.08.0</a></td>
   <td align="right">651kB</td>
   <td><tt>1ab4ebc08d7d4eab39bc8628095ad3d51c2f3cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/step-17.08.0.tar.xz">step-17.08.0</a></td>
   <td align="right">839kB</td>
   <td><tt>7791fef6d6cd6efeee3bd3f92351912a1ed8b94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/svgpart-17.08.0.tar.xz">svgpart-17.08.0</a></td>
   <td align="right">18kB</td>
   <td><tt>8c673c610b233610e9c49c9436626f0a26452166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/sweeper-17.08.0.tar.xz">sweeper-17.08.0</a></td>
   <td align="right">80kB</td>
   <td><tt>ea7d4903d19d0655e1611bf92eb7bdf64ac21a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/syndication-17.08.0.tar.xz">syndication-17.08.0</a></td>
   <td align="right">156kB</td>
   <td><tt>946c6c399e78fccbd5ea311cf0ad03712442e85e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/umbrello-17.08.0.tar.xz">umbrello-17.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>435882bd7625880d2751a4eca13336f13b607675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/zeroconf-ioslave-17.08.0.tar.xz">zeroconf-ioslave-17.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>8373dc7536d2de3d0f70a6dfe3e71407f377981e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ar-17.08.0.tar.xz">kde-l10n-ar-17.08.0</a></td>
   <td align="right">541kB</td>
   <td><tt>0000cf9d1e6ce158fbdd4dc50d33da9b2efbbde0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ast-17.08.0.tar.xz">kde-l10n-ast-17.08.0</a></td>
   <td align="right">386kB</td>
   <td><tt>2675d8a4eecee6679015ccf9ee9eedeb9d48c168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-bg-17.08.0.tar.xz">kde-l10n-bg-17.08.0</a></td>
   <td align="right">471kB</td>
   <td><tt>a2fc19745259d5ac715ff28bb0a69ecdf6795027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-bs-17.08.0.tar.xz">kde-l10n-bs-17.08.0</a></td>
   <td align="right">549kB</td>
   <td><tt>8a276f776544761beb6fe308452479ae94ba50d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ca-17.08.0.tar.xz">kde-l10n-ca-17.08.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>e56aac84dde7d03bc4c85237dc8272d9763d5bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ca@valencia-17.08.0.tar.xz">kde-l10n-ca@valencia-17.08.0</a></td>
   <td align="right">528kB</td>
   <td><tt>280b0a58a0b511afa121441cb71f2ca1dc718bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-cs-17.08.0.tar.xz">kde-l10n-cs-17.08.0</a></td>
   <td align="right">536kB</td>
   <td><tt>020adb900c52d54de748bc18a6c9bc9ff876727a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-da-17.08.0.tar.xz">kde-l10n-da-17.08.0</a></td>
   <td align="right">881kB</td>
   <td><tt>6642d1eadccbcf2991920e13d353abaaf563c630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-de-17.08.0.tar.xz">kde-l10n-de-17.08.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>8e276a9531e86843b7b7ad942483d8bdea8e8724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-el-17.08.0.tar.xz">kde-l10n-el-17.08.0</a></td>
   <td align="right">724kB</td>
   <td><tt>831622b5bb57b56c8be97b6e4ed6dc138372eaaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-en_GB-17.08.0.tar.xz">kde-l10n-en_GB-17.08.0</a></td>
   <td align="right">498kB</td>
   <td><tt>9ac068398a2051373ea2c46e1396d8ad35dbf033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-eo-17.08.0.tar.xz">kde-l10n-eo-17.08.0</a></td>
   <td align="right">482kB</td>
   <td><tt>3808668f052edae743233c9b10ddea9a7b566f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-es-17.08.0.tar.xz">kde-l10n-es-17.08.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d17bbdb3867940f971abb721c3591ec9ab8678e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-et-17.08.0.tar.xz">kde-l10n-et-17.08.0</a></td>
   <td align="right">820kB</td>
   <td><tt>637d282b8e5e6c37776015df4f401c167b2e570c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-eu-17.08.0.tar.xz">kde-l10n-eu-17.08.0</a></td>
   <td align="right">541kB</td>
   <td><tt>009fd00af16c1cdbd3015eb73d221400f8188dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-fa-17.08.0.tar.xz">kde-l10n-fa-17.08.0</a></td>
   <td align="right">499kB</td>
   <td><tt>56ac7d58856f50dcec9d42c85ef444e10ef022d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-fi-17.08.0.tar.xz">kde-l10n-fi-17.08.0</a></td>
   <td align="right">602kB</td>
   <td><tt>5e76db7ddce1c1865c903d09c6ee840435fdc4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-fr-17.08.0.tar.xz">kde-l10n-fr-17.08.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>2ffed75d56ebd0755c8ae723fe8931536771f68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ga-17.08.0.tar.xz">kde-l10n-ga-17.08.0</a></td>
   <td align="right">528kB</td>
   <td><tt>4b1fc6b89796dd87232412f624b1f7afc33a4a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-gl-17.08.0.tar.xz">kde-l10n-gl-17.08.0</a></td>
   <td align="right">659kB</td>
   <td><tt>492ff4ffcb8f4e60da7b6e1f46305cdd543fb7aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-he-17.08.0.tar.xz">kde-l10n-he-17.08.0</a></td>
   <td align="right">481kB</td>
   <td><tt>87212c8b121c9137b9a4f8b570824a26bfa0a38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-hi-17.08.0.tar.xz">kde-l10n-hi-17.08.0</a></td>
   <td align="right">455kB</td>
   <td><tt>a8d7e0ca27a911831a3add104f4c172a5e9383d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-hr-17.08.0.tar.xz">kde-l10n-hr-17.08.0</a></td>
   <td align="right">473kB</td>
   <td><tt>7088f112a35e353dad6effffdf579d80ff519cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-hu-17.08.0.tar.xz">kde-l10n-hu-17.08.0</a></td>
   <td align="right">584kB</td>
   <td><tt>026c043973eda8080a70a03c99131ee098ad4ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ia-17.08.0.tar.xz">kde-l10n-ia-17.08.0</a></td>
   <td align="right">468kB</td>
   <td><tt>fcaf49550fb7ecd83d33a84443cfc64f74d74f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-id-17.08.0.tar.xz">kde-l10n-id-17.08.0</a></td>
   <td align="right">184kB</td>
   <td><tt>b7bd42b9eb42ac27eb5b9f79e4aad94f3e32503c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-is-17.08.0.tar.xz">kde-l10n-is-17.08.0</a></td>
   <td align="right">467kB</td>
   <td><tt>5db42c521779e1d21d2ab93ebefb6b9dbd81c9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-it-17.08.0.tar.xz">kde-l10n-it-17.08.0</a></td>
   <td align="right">930kB</td>
   <td><tt>9c6296df47178e071dfd314bd69f0ce93e69bd58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ja-17.08.0.tar.xz">kde-l10n-ja-17.08.0</a></td>
   <td align="right">509kB</td>
   <td><tt>30d897220e8dd81d410b9232fa6f4d280fe538ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-kk-17.08.0.tar.xz">kde-l10n-kk-17.08.0</a></td>
   <td align="right">572kB</td>
   <td><tt>fd547c992b20327cff1281ccfdf2d755b4488aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-km-17.08.0.tar.xz">kde-l10n-km-17.08.0</a></td>
   <td align="right">509kB</td>
   <td><tt>4b4ec0a339038f9de6eab2502c2c308ed1fe3614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ko-17.08.0.tar.xz">kde-l10n-ko-17.08.0</a></td>
   <td align="right">497kB</td>
   <td><tt>084adfe3598c921b792e1854331552c7eb62bdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-lt-17.08.0.tar.xz">kde-l10n-lt-17.08.0</a></td>
   <td align="right">521kB</td>
   <td><tt>ef71a6bb8821568775705a4db75b684d852edd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-lv-17.08.0.tar.xz">kde-l10n-lv-17.08.0</a></td>
   <td align="right">530kB</td>
   <td><tt>cb56c6aa7b21c622b96816b2d2dd44545539460c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-mr-17.08.0.tar.xz">kde-l10n-mr-17.08.0</a></td>
   <td align="right">437kB</td>
   <td><tt>e38206c367c338cfea42c7848c2bb23f75bc8643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-nb-17.08.0.tar.xz">kde-l10n-nb-17.08.0</a></td>
   <td align="right">549kB</td>
   <td><tt>a045f0a2b64ae4c0cd9cc351d8e400f7ae1bf62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-nds-17.08.0.tar.xz">kde-l10n-nds-17.08.0</a></td>
   <td align="right">604kB</td>
   <td><tt>62f2dfdca62aa27de58a6b8764f611dd4ce9041e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-nl-17.08.0.tar.xz">kde-l10n-nl-17.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>87d60015308d08921fdb3bceb2321af27071bc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-nn-17.08.0.tar.xz">kde-l10n-nn-17.08.0</a></td>
   <td align="right">518kB</td>
   <td><tt>316b3fba6d567270f7c9b5b2db9d5667d44b5ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-pa-17.08.0.tar.xz">kde-l10n-pa-17.08.0</a></td>
   <td align="right">454kB</td>
   <td><tt>7bbb6d73280521c90bb7386c4ebf772df9462bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-pl-17.08.0.tar.xz">kde-l10n-pl-17.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7fb9226f4e274aeca2de7541e4c84e0420597d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-pt-17.08.0.tar.xz">kde-l10n-pt-17.08.0</a></td>
   <td align="right">841kB</td>
   <td><tt>b1fdf42c7e12493f3e2fae7732b8d2891c8b463c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-pt_BR-17.08.0.tar.xz">kde-l10n-pt_BR-17.08.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>0fdff4817561dac3e66e14b289a6c6264b992b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ro-17.08.0.tar.xz">kde-l10n-ro-17.08.0</a></td>
   <td align="right">579kB</td>
   <td><tt>67b65cf3c454c85d1ac7b0a714c06ec5e13b921d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ru-17.08.0.tar.xz">kde-l10n-ru-17.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2807eb51ea8bc68d3174deb245298ee8df0c7706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-sk-17.08.0.tar.xz">kde-l10n-sk-17.08.0</a></td>
   <td align="right">530kB</td>
   <td><tt>0d49b96a935270f57f91d379fbb42d32b349dd0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-sl-17.08.0.tar.xz">kde-l10n-sl-17.08.0</a></td>
   <td align="right">582kB</td>
   <td><tt>64ad6ea0b93959b3865896c5e3ac0d7952304451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-sr-17.08.0.tar.xz">kde-l10n-sr-17.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2515929952a5022592326d6cbd8d43202f68d483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-sv-17.08.0.tar.xz">kde-l10n-sv-17.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>14c47f5e691dc8f50f4436a4893cac4a68a509f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-tr-17.08.0.tar.xz">kde-l10n-tr-17.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>81680160fd4a6791a6e5042e0d01dffbb5ddcaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-ug-17.08.0.tar.xz">kde-l10n-ug-17.08.0</a></td>
   <td align="right">452kB</td>
   <td><tt>0801a61940c1c6222c8c893fded60673b5015079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-uk-17.08.0.tar.xz">kde-l10n-uk-17.08.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>21cf31d9b50e1aa266cdc4d2a12ad5393f4863cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-wa-17.08.0.tar.xz">kde-l10n-wa-17.08.0</a></td>
   <td align="right">403kB</td>
   <td><tt>0570f75439381dca0db7e9e4a02a2fd148fea637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-zh_CN-17.08.0.tar.xz">kde-l10n-zh_CN-17.08.0</a></td>
   <td align="right">551kB</td>
   <td><tt>1facb5a11c351469f0f70eade3c075ce3a47b8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.08.0/src/kde-l10n/kde-l10n-zh_TW-17.08.0.tar.xz">kde-l10n-zh_TW-17.08.0</a></td>
   <td align="right">590kB</td>
   <td><tt>9891703177238c8d62eee3550c1d5e08519e62ec</tt></td>
</tr>

</table>
