<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-19.04.1.tar.xz">akonadi-19.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0b1ece7c7c0d3d793764f82a2d4e729df44b4029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-calendar-19.04.1.tar.xz">akonadi-calendar-19.04.1</a></td>
   <td align="right">324kB</td>
   <td><tt>de401f7ab73b313da1d1bc5480807fc12e018a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-calendar-tools-19.04.1.tar.xz">akonadi-calendar-tools-19.04.1</a></td>
   <td align="right">218kB</td>
   <td><tt>60a15dda14287b89d49013b78cfd0434a60db87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadiconsole-19.04.1.tar.xz">akonadiconsole-19.04.1</a></td>
   <td align="right">189kB</td>
   <td><tt>6e1317800b2de6d5f797d5b5edd2ff1eddc04006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-contacts-19.04.1.tar.xz">akonadi-contacts-19.04.1</a></td>
   <td align="right">382kB</td>
   <td><tt>afb656eab63ed409a24b4eacf7bef49f3f7a6631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-import-wizard-19.04.1.tar.xz">akonadi-import-wizard-19.04.1</a></td>
   <td align="right">429kB</td>
   <td><tt>e946054923ac1059f73d256cb46d90663cd43045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-mime-19.04.1.tar.xz">akonadi-mime-19.04.1</a></td>
   <td align="right">133kB</td>
   <td><tt>2ac8e8fcf665ebf0f3accbae381d400852ac3db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-notes-19.04.1.tar.xz">akonadi-notes-19.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>187b2d5cdfb6f21d2354e2a1142b8e4b0641c3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akonadi-search-19.04.1.tar.xz">akonadi-search-19.04.1</a></td>
   <td align="right">80kB</td>
   <td><tt>e58e8105398d18d2f0e7934ae75d770aafdf664d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/akregator-19.04.1.tar.xz">akregator-19.04.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2d241a5a21de05eda84374141123b1d60d03450f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/analitza-19.04.1.tar.xz">analitza-19.04.1</a></td>
   <td align="right">323kB</td>
   <td><tt>c661017c5ef6863a8eabfeb7aac85a30e8a825f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ark-19.04.1.tar.xz">ark-19.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>761aa9194b06a63f9a3fdfe970e0b348071630c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/artikulate-19.04.1.tar.xz">artikulate-19.04.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9c2408e6b40960d8b488e89fcb0f2bea854061a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/audiocd-kio-19.04.1.tar.xz">audiocd-kio-19.04.1</a></td>
   <td align="right">346kB</td>
   <td><tt>8ccb9007d377985b74e3d58d06a04cb700b2de4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/baloo-widgets-19.04.1.tar.xz">baloo-widgets-19.04.1</a></td>
   <td align="right">242kB</td>
   <td><tt>cbfa380ec2e55537b0f64fd9273ed2bad57c465d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/blinken-19.04.1.tar.xz">blinken-19.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1e38bed1e0884c7b6af818d8baeebb0ae9d7bcc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/bomber-19.04.1.tar.xz">bomber-19.04.1</a></td>
   <td align="right">799kB</td>
   <td><tt>0e7f7661497ce281d40171a2373eff31daafc197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/bovo-19.04.1.tar.xz">bovo-19.04.1</a></td>
   <td align="right">194kB</td>
   <td><tt>b64145b3bbb71985de60d75238927e5afdd87c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/calendarsupport-19.04.1.tar.xz">calendarsupport-19.04.1</a></td>
   <td align="right">631kB</td>
   <td><tt>bae23a9ae713d31bc10671cba891df8cc156bc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/cantor-19.04.1.tar.xz">cantor-19.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>998ce2b419f10a81ef0b6ca9d54c328e63326a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/cervisia-19.04.1.tar.xz">cervisia-19.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>099eda28fd97abd3b4a929b939f58373f8243805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/dolphin-19.04.1.tar.xz">dolphin-19.04.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>e3883123c15361f273e9ec0789ec6673f6d3dde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/dolphin-plugins-19.04.1.tar.xz">dolphin-plugins-19.04.1</a></td>
   <td align="right">187kB</td>
   <td><tt>8195800abfeba87ef93f34d4bd7bf79f0df463ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/dragon-19.04.1.tar.xz">dragon-19.04.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>59135c4e678a61784877646c6a4e04fcce2080ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/eventviews-19.04.1.tar.xz">eventviews-19.04.1</a></td>
   <td align="right">433kB</td>
   <td><tt>62e8f0789c66d7664fefea815f334c6cde33eac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ffmpegthumbs-19.04.1.tar.xz">ffmpegthumbs-19.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>1f541fc2086dd19a6761f89789171fa2788fc70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/filelight-19.04.1.tar.xz">filelight-19.04.1</a></td>
   <td align="right">643kB</td>
   <td><tt>0e811d29055472d1fb010b095dfc60ea4880db9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/granatier-19.04.1.tar.xz">granatier-19.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>255f236ec9970c4476b81f0818a844154c620b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/grantlee-editor-19.04.1.tar.xz">grantlee-editor-19.04.1</a></td>
   <td align="right">108kB</td>
   <td><tt>3d7bec05ae9938dab49ca03ea7568c3546f0a808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/grantleetheme-19.04.1.tar.xz">grantleetheme-19.04.1</a></td>
   <td align="right">50kB</td>
   <td><tt>bc20a11828df065bf9275cf432af8b2178c6b30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/gwenview-19.04.1.tar.xz">gwenview-19.04.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>c06766c94d53ba38b62feea0f7e4f6425263abf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/incidenceeditor-19.04.1.tar.xz">incidenceeditor-19.04.1</a></td>
   <td align="right">537kB</td>
   <td><tt>4d75f0eecb049e266c095a75c8af1f4e0a4eae37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/juk-19.04.1.tar.xz">juk-19.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>57dbde330c189034e04174ee18c06408fe580dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/k3b-19.04.1.tar.xz">k3b-19.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>acd769ccf9a925e5615d35f472a8ada0ca1a91f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kaccounts-integration-19.04.1.tar.xz">kaccounts-integration-19.04.1</a></td>
   <td align="right">69kB</td>
   <td><tt>9cad0899ff7bb3f6c0c83c5b3c2d3f7af067159c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kaccounts-providers-19.04.1.tar.xz">kaccounts-providers-19.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>2f2c5634c6d1c5a122bb9be441947cf1090ae216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kaddressbook-19.04.1.tar.xz">kaddressbook-19.04.1</a></td>
   <td align="right">462kB</td>
   <td><tt>2587aff55770f87341200753ce8da00642569c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kajongg-19.04.1.tar.xz">kajongg-19.04.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>955af60968ad6cd06b586e422d2c91e62973d3cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kalarm-19.04.1.tar.xz">kalarm-19.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4e274c185889cc4020c901dd84a9fd66b3bb96df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kalarmcal-19.04.1.tar.xz">kalarmcal-19.04.1</a></td>
   <td align="right">559kB</td>
   <td><tt>2eb0ef16533d91ec343dbb2775ac37f0d560c1be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kalgebra-19.04.1.tar.xz">kalgebra-19.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fe15a8e57aa8695c27df258038f3c7e352bfb4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kalzium-19.04.1.tar.xz">kalzium-19.04.1</a></td>
   <td align="right">25MB</td>
   <td><tt>bf1631d310d2f0ee727df8c2a43dcefd8828a419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kamera-19.04.1.tar.xz">kamera-19.04.1</a></td>
   <td align="right">96kB</td>
   <td><tt>4daf072647e4d45b27c80aeaabdd0e441221c4ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kamoso-19.04.1.tar.xz">kamoso-19.04.1</a></td>
   <td align="right">195kB</td>
   <td><tt>5b24ad55fd9cc0bfb0d983266c82046c6d442104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kanagram-19.04.1.tar.xz">kanagram-19.04.1</a></td>
   <td align="right">7.6MB</td>
   <td><tt>a5897d79441ab3234e796d39a5fac4d919a8f7a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kapman-19.04.1.tar.xz">kapman-19.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>932567b8a9dea62c4d1cbf3e6260cad4c4892cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kapptemplate-19.04.1.tar.xz">kapptemplate-19.04.1</a></td>
   <td align="right">310kB</td>
   <td><tt>e245a1370cc7dcef3b7aedf01678731eae4bdee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kate-19.04.1.tar.xz">kate-19.04.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>4ebf0e147e5b1ce06cd710506347cbeb1a0ffb08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/katomic-19.04.1.tar.xz">katomic-19.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3ca9f5b1e25717eefb4ad1ceabc29d25e0eefd1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kbackup-19.04.1.tar.xz">kbackup-19.04.1</a></td>
   <td align="right">349kB</td>
   <td><tt>7b36dc23546f2e153f0fcb4f499434b422764c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kblackbox-19.04.1.tar.xz">kblackbox-19.04.1</a></td>
   <td align="right">434kB</td>
   <td><tt>3d471a9789383f29210f717903b6bb92c3633913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kblocks-19.04.1.tar.xz">kblocks-19.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e264799a64fbe1ea523eab25026d5cb40cfb60b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kblog-19.04.1.tar.xz">kblog-19.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>14efaae6bae58a8ca0253d1dadf3f543cb8d78fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kbounce-19.04.1.tar.xz">kbounce-19.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b0f5e1ff80f4363bd11e6885f2b90ec524139849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kbreakout-19.04.1.tar.xz">kbreakout-19.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b76738346899da584f3c27699cb0b894c6f54797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kbruch-19.04.1.tar.xz">kbruch-19.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>1d844539b80ecd17bc4c1cdbd954b7c033b319d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcachegrind-19.04.1.tar.xz">kcachegrind-19.04.1</a></td>
   <td align="right">793kB</td>
   <td><tt>08832dddfb027aff441320b2495057b30616bf81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcalc-19.04.1.tar.xz">kcalc-19.04.1</a></td>
   <td align="right">357kB</td>
   <td><tt>0b829f91dae6acdb89cc75e162b66e813c174c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcalcore-19.04.1.tar.xz">kcalcore-19.04.1</a></td>
   <td align="right">246kB</td>
   <td><tt>3e7e29cfc935ede2d5b684bb00226713581ca514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcalutils-19.04.1.tar.xz">kcalutils-19.04.1</a></td>
   <td align="right">320kB</td>
   <td><tt>b93281baa4489b6dce8b199d781c18dfa1efe4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcharselect-19.04.1.tar.xz">kcharselect-19.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>c2016308936ec4937e98804dfcce14db94d18b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcolorchooser-19.04.1.tar.xz">kcolorchooser-19.04.1</a></td>
   <td align="right">19kB</td>
   <td><tt>f2f8fdf42e68af93249a5a93250afa42f272f329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcontacts-19.04.1.tar.xz">kcontacts-19.04.1</a></td>
   <td align="right">589kB</td>
   <td><tt>4897404c64c56584404cd33ff82f9edfb3959fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kcron-19.04.1.tar.xz">kcron-19.04.1</a></td>
   <td align="right">905kB</td>
   <td><tt>3545e316f82dc8c6fc3e8d6da68eb19a36b35ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdav-19.04.1.tar.xz">kdav-19.04.1</a></td>
   <td align="right">48kB</td>
   <td><tt>4dd61a5622812838ee6f02a83f1a29e242ab2354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdebugsettings-19.04.1.tar.xz">kdebugsettings-19.04.1</a></td>
   <td align="right">53kB</td>
   <td><tt>a094c63d6b4faa8f57ac954684a8dbf0c7331a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kde-dev-scripts-19.04.1.tar.xz">kde-dev-scripts-19.04.1</a></td>
   <td align="right">368kB</td>
   <td><tt>68b115d1902c616491e9ab8e975a4403fa0604c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kde-dev-utils-19.04.1.tar.xz">kde-dev-utils-19.04.1</a></td>
   <td align="right">60kB</td>
   <td><tt>e434929190a762832354848505f895c0993fcd41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdeedu-data-19.04.1.tar.xz">kdeedu-data-19.04.1</a></td>
   <td align="right">319kB</td>
   <td><tt>7794340c1761faa563476da4e7659703bc4e5f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdegraphics-mobipocket-19.04.1.tar.xz">kdegraphics-mobipocket-19.04.1</a></td>
   <td align="right">13kB</td>
   <td><tt>3b5b752e7d9ec141e1d4e9e8ed46ce070962d350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdegraphics-thumbnailers-19.04.1.tar.xz">kdegraphics-thumbnailers-19.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>afe6215f282ca37e76285779608d6e9dc42f5912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdenetwork-filesharing-19.04.1.tar.xz">kdenetwork-filesharing-19.04.1</a></td>
   <td align="right">305kB</td>
   <td><tt>59068c1be204492def74822e5afe211b555e363d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdenlive-19.04.1.tar.xz">kdenlive-19.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>6f428333d29777156bf56f4526840047d3ec06c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdepim-addons-19.04.1.tar.xz">kdepim-addons-19.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ed85f1caf2a094cfc82a81c2ca733231598d2f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdepim-apps-libs-19.04.1.tar.xz">kdepim-apps-libs-19.04.1</a></td>
   <td align="right">83kB</td>
   <td><tt>d5c17cf608658d61bd7166d3f20fbcfff79d371e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdepim-runtime-19.04.1.tar.xz">kdepim-runtime-19.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8f553181835b78e617c306b77cbcbeb93b033df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdesdk-kioslaves-19.04.1.tar.xz">kdesdk-kioslaves-19.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>40d46c145d43739d2c775a21c269e1b7bcb05d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdesdk-thumbnailers-19.04.1.tar.xz">kdesdk-thumbnailers-19.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>45cdf78b603ea2939f566f1cd4a97d5340b14705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdf-19.04.1.tar.xz">kdf-19.04.1</a></td>
   <td align="right">528kB</td>
   <td><tt>24ed8de3e822c8c52c2e8cec41d35ed1bec7a70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdialog-19.04.1.tar.xz">kdialog-19.04.1</a></td>
   <td align="right">95kB</td>
   <td><tt>47cd356dd877a5cf5c9dc4c78ad92ee6bd222f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kdiamond-19.04.1.tar.xz">kdiamond-19.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7d2179bfb09ffe74172381686d2c2ee692853918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/keditbookmarks-19.04.1.tar.xz">keditbookmarks-19.04.1</a></td>
   <td align="right">180kB</td>
   <td><tt>11f88da6a0eb9bf5ac19db87ee9c1e9211776275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kfind-19.04.1.tar.xz">kfind-19.04.1</a></td>
   <td align="right">260kB</td>
   <td><tt>5c9d256c25a2d96876bcca5ee75349916da2d85c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kfloppy-19.04.1.tar.xz">kfloppy-19.04.1</a></td>
   <td align="right">194kB</td>
   <td><tt>473b631bb3f8c96f24e529104d7913023bae0b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kfourinline-19.04.1.tar.xz">kfourinline-19.04.1</a></td>
   <td align="right">621kB</td>
   <td><tt>190787bd8dcde382c4177d2391ec4779d2855f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kgeography-19.04.1.tar.xz">kgeography-19.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>05c101dd387b7c969111c43321ec8a287fe0a0ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kget-19.04.1.tar.xz">kget-19.04.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>f9c52ef5295db8d86fc769cd97fd949a1d7eae4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kgoldrunner-19.04.1.tar.xz">kgoldrunner-19.04.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e6267b456d10e4dc8a63c402cca4c87d3c2a5231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kgpg-19.04.1.tar.xz">kgpg-19.04.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ecc0f2a10347d5665bf30f2b7a377382107ee630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/khangman-19.04.1.tar.xz">khangman-19.04.1</a></td>
   <td align="right">6.7MB</td>
   <td><tt>43554ffa670cc5962624eb4aeea5b88eb84a1b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/khelpcenter-19.04.1.tar.xz">khelpcenter-19.04.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>330f6e6e76c65ba7ed233b29434ba09f1180c1f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kidentitymanagement-19.04.1.tar.xz">kidentitymanagement-19.04.1</a></td>
   <td align="right">145kB</td>
   <td><tt>b451762d62e1171b18a60b6fdf3528d973e61193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kig-19.04.1.tar.xz">kig-19.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>af332dd2b446673081b279885248cebd7bfa12f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kigo-19.04.1.tar.xz">kigo-19.04.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>a112c21c6d4b809586e345fe39ae1737445b4d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/killbots-19.04.1.tar.xz">killbots-19.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c5183196c2d3079936c3089b346528064531350b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kimagemapeditor-19.04.1.tar.xz">kimagemapeditor-19.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1df73227340bc6987852b0421e9b7a6a6e33eaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kimap-19.04.1.tar.xz">kimap-19.04.1</a></td>
   <td align="right">116kB</td>
   <td><tt>8655e45258396c6bb78d798b9aa2eaa30163a100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kio-extras-19.04.1.tar.xz">kio-extras-19.04.1</a></td>
   <td align="right">557kB</td>
   <td><tt>402f72a958d7ebcbac47baa07ee81c180c229e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kirigami-gallery-19.04.1.tar.xz">kirigami-gallery-19.04.1</a></td>
   <td align="right">263kB</td>
   <td><tt>32554df9a06f13fe468a2ac809713a911941816e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kiriki-19.04.1.tar.xz">kiriki-19.04.1</a></td>
   <td align="right">362kB</td>
   <td><tt>1c8cc38cf4832439fb2709902190c77bcc277e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kiten-19.04.1.tar.xz">kiten-19.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>260f5059dd6fcf1160baebb8941c61f504711eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kitinerary-19.04.1.tar.xz">kitinerary-19.04.1</a></td>
   <td align="right">674kB</td>
   <td><tt>3251f3b38d65b718232cebc50886136c292a5060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kjumpingcube-19.04.1.tar.xz">kjumpingcube-19.04.1</a></td>
   <td align="right">279kB</td>
   <td><tt>f191f49eb65df44750b95421810b9ea9cfc096bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kldap-19.04.1.tar.xz">kldap-19.04.1</a></td>
   <td align="right">152kB</td>
   <td><tt>2b4c6a381acbb4092507666d8a836fbf6add82e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kleopatra-19.04.1.tar.xz">kleopatra-19.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>47ca0b87444eeb6eda0f3dad4964abe27d4d78f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/klettres-19.04.1.tar.xz">klettres-19.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>06e6b78ee189b1e3f5924f65942461b1347417e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/klickety-19.04.1.tar.xz">klickety-19.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1ac8b765afe74d022db41d9664ef90bc93cda280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/klines-19.04.1.tar.xz">klines-19.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>89e4c95fe7f39a2a7cb593f121cbc5dd43975af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmag-19.04.1.tar.xz">kmag-19.04.1</a></td>
   <td align="right">721kB</td>
   <td><tt>4b0408127d25ed30f13258715129624efe6c0d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmahjongg-19.04.1.tar.xz">kmahjongg-19.04.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>dfed8afc2b46586c405141f634e5f72944b90337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmail-19.04.1.tar.xz">kmail-19.04.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9828483024c6a08f5fa8836ff483493160cc1d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmail-account-wizard-19.04.1.tar.xz">kmail-account-wizard-19.04.1</a></td>
   <td align="right">152kB</td>
   <td><tt>1a1a2388c6af42787ec951743ee8f569ee72c47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmailtransport-19.04.1.tar.xz">kmailtransport-19.04.1</a></td>
   <td align="right">162kB</td>
   <td><tt>94372320d8822f1b8dd030f79b05cacbae0ef7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmbox-19.04.1.tar.xz">kmbox-19.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>c65c97c1cef1a6a7b06ca46966ca79f28252a7ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmime-19.04.1.tar.xz">kmime-19.04.1</a></td>
   <td align="right">143kB</td>
   <td><tt>ec5ade986eaa67dd8671d4a733811806fd88f854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmines-19.04.1.tar.xz">kmines-19.04.1</a></td>
   <td align="right">882kB</td>
   <td><tt>b2946cf844c0e8d37ef3b5fb5a499fcce1fe3968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmix-19.04.1.tar.xz">kmix-19.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c69c2cf80208c3d4c0cfc0ca06e6d048d318a2a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmousetool-19.04.1.tar.xz">kmousetool-19.04.1</a></td>
   <td align="right">109kB</td>
   <td><tt>c6971406bef1c338812513b896f14b0c0347126e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmouth-19.04.1.tar.xz">kmouth-19.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b36ebe25aedd95bb41a037225b18d176e22cceaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kmplot-19.04.1.tar.xz">kmplot-19.04.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>94aee908e07e7d766e994b109a6156fe1dd03da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/knavalbattle-19.04.1.tar.xz">knavalbattle-19.04.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6a43c728815c66d076a5ebc26865c90abb4b7cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/knetwalk-19.04.1.tar.xz">knetwalk-19.04.1</a></td>
   <td align="right">1013kB</td>
   <td><tt>c5626f909ad72727b2968f453fef3a316778016e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/knights-19.04.1.tar.xz">knights-19.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>92bdecf6d680bcdd016446fe92463591ebf13155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/knotes-19.04.1.tar.xz">knotes-19.04.1</a></td>
   <td align="right">312kB</td>
   <td><tt>eb32e0cf5a30a844a3f56906f2dc684141786017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kolf-19.04.1.tar.xz">kolf-19.04.1</a></td>
   <td align="right">998kB</td>
   <td><tt>a71ba150c6a2ac18c3bf056731281a58d9613eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kollision-19.04.1.tar.xz">kollision-19.04.1</a></td>
   <td align="right">274kB</td>
   <td><tt>160b76110d2bdb19549e770cb80b14f929cf0873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kolourpaint-19.04.1.tar.xz">kolourpaint-19.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>4968397b9551257c461bfd4c836f0f0362f6a812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kompare-19.04.1.tar.xz">kompare-19.04.1</a></td>
   <td align="right">782kB</td>
   <td><tt>1b83fb0416d125b86bc2d3efb025746bba351e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/konqueror-19.04.1.tar.xz">konqueror-19.04.1</a></td>
   <td align="right">7.3MB</td>
   <td><tt>b6aceea0aad7d687d2e6ab7160442ac672ab1a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/konquest-19.04.1.tar.xz">konquest-19.04.1</a></td>
   <td align="right">642kB</td>
   <td><tt>c237b754bd53a434d6c8866e5a133ebb49541302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/konsole-19.04.1.tar.xz">konsole-19.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>678497e8b803525b333c747c6b48ccffefffd0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kontact-19.04.1.tar.xz">kontact-19.04.1</a></td>
   <td align="right">774kB</td>
   <td><tt>caf76d667c5417e51496b5ad859c96654048d4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kontactinterface-19.04.1.tar.xz">kontactinterface-19.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>a166835f92cdd4d25e30343a02b39f8e70c3994e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kopete-19.04.1.tar.xz">kopete-19.04.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>b2904f1b695fb3968d5724c10dbf35a9b0024dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/korganizer-19.04.1.tar.xz">korganizer-19.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bf9f315327c5af15338f6e1cd8a031160a0f2795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kpat-19.04.1.tar.xz">kpat-19.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3ce6e5802b54de3e3cf2f3f567a523cfb6d638f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kpimtextedit-19.04.1.tar.xz">kpimtextedit-19.04.1</a></td>
   <td align="right">148kB</td>
   <td><tt>fb30a1b90da8c1244a87fd248a8fe41c51f0a660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kpkpass-19.04.1.tar.xz">kpkpass-19.04.1</a></td>
   <td align="right">22kB</td>
   <td><tt>d8ebd217b04502cd46988201946647286790cdc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kqtquickcharts-19.04.1.tar.xz">kqtquickcharts-19.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>652dee9bc1d960bbbc94f3b1553978f047f70526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/krdc-19.04.1.tar.xz">krdc-19.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9965cfce762df547cbe3b281ac60775244a7b218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kreversi-19.04.1.tar.xz">kreversi-19.04.1</a></td>
   <td align="right">920kB</td>
   <td><tt>174332beb2221b829a14302bb8142e48aa98c807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/krfb-19.04.1.tar.xz">krfb-19.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2b67e49346a2fbe2abfe755ba62a186deeba7bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kross-interpreters-19.04.1.tar.xz">kross-interpreters-19.04.1</a></td>
   <td align="right">146kB</td>
   <td><tt>843cb3be8e82519836991d61f25aa9f5a40c42dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kruler-19.04.1.tar.xz">kruler-19.04.1</a></td>
   <td align="right">243kB</td>
   <td><tt>3ee15cce4215f499069715502e2ab4397b2fb70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kshisen-19.04.1.tar.xz">kshisen-19.04.1</a></td>
   <td align="right">803kB</td>
   <td><tt>2a7883c333732e576f88452d424467fb8529e2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksirk-19.04.1.tar.xz">ksirk-19.04.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>e76b4fcd051c7f14efdc4f3c141155429f1dbf48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksmtp-19.04.1.tar.xz">ksmtp-19.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>154f08059d12dd7f4655a295bb93b8f9bed2097b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksnakeduel-19.04.1.tar.xz">ksnakeduel-19.04.1</a></td>
   <td align="right">590kB</td>
   <td><tt>25b6812223cdaac97812623d7fc007b792b7bd9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kspaceduel-19.04.1.tar.xz">kspaceduel-19.04.1</a></td>
   <td align="right">595kB</td>
   <td><tt>b273aacd66070b397ca5014db3a44af96021d483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksquares-19.04.1.tar.xz">ksquares-19.04.1</a></td>
   <td align="right">253kB</td>
   <td><tt>b4028273bcfbd17ae771f0974b2a9cc59c87041a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksudoku-19.04.1.tar.xz">ksudoku-19.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e49e632a891220967d7f2417049b646ca7cd492e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ksystemlog-19.04.1.tar.xz">ksystemlog-19.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0d8a629ef17105bcf948249fcff4bce070b689a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kteatime-19.04.1.tar.xz">kteatime-19.04.1</a></td>
   <td align="right">291kB</td>
   <td><tt>2fdcf7909fe3b7116aeec50347bfbdcfd23743e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktimer-19.04.1.tar.xz">ktimer-19.04.1</a></td>
   <td align="right">368kB</td>
   <td><tt>460dc9d687ff980f813c9a033cbabadad21f7d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktnef-19.04.1.tar.xz">ktnef-19.04.1</a></td>
   <td align="right">292kB</td>
   <td><tt>7f9615c57cbf4c9a312458638f5c62060084ead7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktouch-19.04.1.tar.xz">ktouch-19.04.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>df3c994fd5bed050b5d9646261668d252369f538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-accounts-kcm-19.04.1.tar.xz">ktp-accounts-kcm-19.04.1</a></td>
   <td align="right">254kB</td>
   <td><tt>2e4ca1f00a4d18b88e03b264c0a3c7d49288cf6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-approver-19.04.1.tar.xz">ktp-approver-19.04.1</a></td>
   <td align="right">35kB</td>
   <td><tt>1e0be513722bb7a43ff0c4fb38d6c0906ed47d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-auth-handler-19.04.1.tar.xz">ktp-auth-handler-19.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>7197069d334da0ee76d8bfc0100f88b5f56a2648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-call-ui-19.04.1.tar.xz">ktp-call-ui-19.04.1</a></td>
   <td align="right">93kB</td>
   <td><tt>fba37f5f2cea71ce21d45721af377d6517447aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-common-internals-19.04.1.tar.xz">ktp-common-internals-19.04.1</a></td>
   <td align="right">431kB</td>
   <td><tt>5c1f47153c4f411cc521f4520594902e572d5f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-contact-list-19.04.1.tar.xz">ktp-contact-list-19.04.1</a></td>
   <td align="right">141kB</td>
   <td><tt>be107276daf4adbf6dc5ca91412541e0d327b35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-contact-runner-19.04.1.tar.xz">ktp-contact-runner-19.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>5b0f9b56b57049a2aac6d5a20ef77f15b8c2983c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-desktop-applets-19.04.1.tar.xz">ktp-desktop-applets-19.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>e5eaf4690c5b2dfcedb994e6107f94505b5d7f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-filetransfer-handler-19.04.1.tar.xz">ktp-filetransfer-handler-19.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>04264bde1ee6bbade8b5773261bceb856a984880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-kded-module-19.04.1.tar.xz">ktp-kded-module-19.04.1</a></td>
   <td align="right">92kB</td>
   <td><tt>04a888337553638db43824a08b6aa38a53335fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-send-file-19.04.1.tar.xz">ktp-send-file-19.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>7d781f4c6ca5744f83620a595638d094f959899b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktp-text-ui-19.04.1.tar.xz">ktp-text-ui-19.04.1</a></td>
   <td align="right">454kB</td>
   <td><tt>c6aee4943921dddfcb4b1325187ad434bdad4f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/ktuberling-19.04.1.tar.xz">ktuberling-19.04.1</a></td>
   <td align="right">31MB</td>
   <td><tt>5f18312b29382d2c453c5c3412afb638eacae13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kturtle-19.04.1.tar.xz">kturtle-19.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f11ff94ca13292aaa9ee123ccd39eefbfcd5665e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kubrick-19.04.1.tar.xz">kubrick-19.04.1</a></td>
   <td align="right">302kB</td>
   <td><tt>06c02dfb2b2ee2d088c8447b2bf91ffbd8959383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kwalletmanager-19.04.1.tar.xz">kwalletmanager-19.04.1</a></td>
   <td align="right">767kB</td>
   <td><tt>205b2864c3ea6a1c8ffe80c57008989b9b2474fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kwave-19.04.1.tar.xz">kwave-19.04.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ef1aa110d36d3fcffab97c00d22302174f6e483b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/kwordquiz-19.04.1.tar.xz">kwordquiz-19.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8b3d758cdc3cb3973275704bc2c64254c51e5b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libgravatar-19.04.1.tar.xz">libgravatar-19.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>9df3350f0703208a4d4db7cdac58623a0ab768c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkcddb-19.04.1.tar.xz">libkcddb-19.04.1</a></td>
   <td align="right">413kB</td>
   <td><tt>310c14e1e2298da4b1eb39b38fd2f2f09a858a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkcompactdisc-19.04.1.tar.xz">libkcompactdisc-19.04.1</a></td>
   <td align="right">87kB</td>
   <td><tt>beb437b857461ce3c35a639d61496d345d2f1cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkdcraw-19.04.1.tar.xz">libkdcraw-19.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>2d93393b6cad73c8494727c70fbaa2adc73ac391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkdegames-19.04.1.tar.xz">libkdegames-19.04.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e5cbd6842d304522dfd7152c545471cdba2b03a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkdepim-19.04.1.tar.xz">libkdepim-19.04.1</a></td>
   <td align="right">327kB</td>
   <td><tt>b1546c1402095939cf194a5058b8f672106e1784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkeduvocdocument-19.04.1.tar.xz">libkeduvocdocument-19.04.1</a></td>
   <td align="right">202kB</td>
   <td><tt>6c8f8608d343c950e531634d7e66a5bff744cbdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkexiv2-19.04.1.tar.xz">libkexiv2-19.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>474aff985ec6a4004c1e257ef62dabb4b9384b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkgapi-19.04.1.tar.xz">libkgapi-19.04.1</a></td>
   <td align="right">219kB</td>
   <td><tt>db8ec7501f9600ac280cd1b3a74635ab56479c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkgeomap-19.04.1.tar.xz">libkgeomap-19.04.1</a></td>
   <td align="right">147kB</td>
   <td><tt>76940649b50c1ff47028ccc26d9e21104ec367d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkipi-19.04.1.tar.xz">libkipi-19.04.1</a></td>
   <td align="right">100kB</td>
   <td><tt>c85802a13d00e867e9c08ded9d714f04275f27ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkleo-19.04.1.tar.xz">libkleo-19.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>b3a258d3309c75c2154b423a4002890571a3c0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkmahjongg-19.04.1.tar.xz">libkmahjongg-19.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>809b6a3869837ef633f88e4e8708a7fd4d8f269f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libkomparediff2-19.04.1.tar.xz">libkomparediff2-19.04.1</a></td>
   <td align="right">168kB</td>
   <td><tt>270f6fa586d4e2294e68e4ed3a59594d8292b6eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libksane-19.04.1.tar.xz">libksane-19.04.1</a></td>
   <td align="right">134kB</td>
   <td><tt>512850731013ec168abc839a4d2ac44f1588d457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/libksieve-19.04.1.tar.xz">libksieve-19.04.1</a></td>
   <td align="right">535kB</td>
   <td><tt>b668a0198c28338e6db095139915e6fd8b8c368a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/lokalize-19.04.1.tar.xz">lokalize-19.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4f9c1248a6752f1b39ff6f8012388607ed8b2a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/lskat-19.04.1.tar.xz">lskat-19.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0193d69b5b27d020a46da7ba45641c7887654590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/mailcommon-19.04.1.tar.xz">mailcommon-19.04.1</a></td>
   <td align="right">674kB</td>
   <td><tt>6762d9836ff52d432d386a1b3c6c434701e52a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/mailimporter-19.04.1.tar.xz">mailimporter-19.04.1</a></td>
   <td align="right">527kB</td>
   <td><tt>4868633c65f5271143a9374eab53d6436d435c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/marble-19.04.1.tar.xz">marble-19.04.1</a></td>
   <td align="right">49MB</td>
   <td><tt>e7bac41555fb6775acb738570d11642823c6bff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/mbox-importer-19.04.1.tar.xz">mbox-importer-19.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>c101947fd79c04df7f537b6b18d5195b4fe7378d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/messagelib-19.04.1.tar.xz">messagelib-19.04.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>c1cf1048ba47e528c0a5b7a7cd4afd00ae877e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/minuet-19.04.1.tar.xz">minuet-19.04.1</a></td>
   <td align="right">26MB</td>
   <td><tt>0bde289a06409abf401fb659cb26e90730647a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/okular-19.04.1.tar.xz">okular-19.04.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>fec8d556888e0a363060ec715700b57d8a44882e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/palapeli-19.04.1.tar.xz">palapeli-19.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d78a81016710575deb86c04558cd81b9c514afe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/parley-19.04.1.tar.xz">parley-19.04.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>28403b3558b02cc9a8b3b2e837f60b8106bbc68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/picmi-19.04.1.tar.xz">picmi-19.04.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9b25506e88218aa1e75f6e252cebf3f0fc585c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/pimcommon-19.04.1.tar.xz">pimcommon-19.04.1</a></td>
   <td align="right">288kB</td>
   <td><tt>a35ec40ea13da23d5dbd600c305ae20590de829f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/pim-data-exporter-19.04.1.tar.xz">pim-data-exporter-19.04.1</a></td>
   <td align="right">263kB</td>
   <td><tt>e6ee446bf5a01058345db6609dfdb77ee206eae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/pim-sieve-editor-19.04.1.tar.xz">pim-sieve-editor-19.04.1</a></td>
   <td align="right">441kB</td>
   <td><tt>722238992870b5df3f3a5412c3746fb3695522c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/poxml-19.04.1.tar.xz">poxml-19.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>0ea392b389db5acfe050b8a7a678355279087a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/print-manager-19.04.1.tar.xz">print-manager-19.04.1</a></td>
   <td align="right">233kB</td>
   <td><tt>0f8d84eb0fc55974ef94f417231d60d4f474817c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/rocs-19.04.1.tar.xz">rocs-19.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>af6cfe0c3dd41e10a9c09b7f72e22bb69565004d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/signon-kwallet-extension-19.04.1.tar.xz">signon-kwallet-extension-19.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>8eefc9aed78bf606bfeaa616e5ce6d6895803612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/spectacle-19.04.1.tar.xz">spectacle-19.04.1</a></td>
   <td align="right">932kB</td>
   <td><tt>66af9759bc3a949707e6f54602815c0d93eebb2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/step-19.04.1.tar.xz">step-19.04.1</a></td>
   <td align="right">839kB</td>
   <td><tt>d84f0eb36dddc0ad09fe847188f85ef53b808aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/svgpart-19.04.1.tar.xz">svgpart-19.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>a8fa47b670ab9ddcd0ecf537dad07037c7bff0d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/sweeper-19.04.1.tar.xz">sweeper-19.04.1</a></td>
   <td align="right">359kB</td>
   <td><tt>67b110ec87ce67be4022ac7d31ab934d67235647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/umbrello-19.04.1.tar.xz">umbrello-19.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a521b9d6c5741450d4d7902e718f5074bfcb7e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.1/src/zeroconf-ioslave-19.04.1.tar.xz">zeroconf-ioslave-19.04.1</a></td>
   <td align="right">37kB</td>
   <td><tt>bcc308e2fdd93457e1ccba32a88750223d2d2a52</tt></td>
</tr>

</table>
