{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- if eq .Params.layout "plasma" }}
  {{ partial "announcements/plasma_intro.html" . }}
  {{ .Content }}
  {{ $major := path.Base .File.Dir }}
  {{ with .Params.changelog }}
  <a href="/announcements/changelogs/plasma/{{$major}}/{{ . }}">{{ i18n "view-changelog" }}</a>
  {{ end }}
{{- else if eq .Params.layout "framework" }}
  {{ partial "announcements/frameworks_intro.html" . }}
  {{ .Content }}
{{- else if eq .Params.layout "gear" }}
  {{- $patch := index (split .File.TranslationBaseName ".") 2 | int }}
  {{- if eq $patch 0 }}
    {{ .Content }}
  {{- else }}
    {{ partial "announcements/gear_intro.html" . }}
    {{ .Content }}
    {{ partial "announcements/gear_outro.html" . }}
  {{- end }}
{{- else if .Params.origin }}
  <a href="{{ .Params.origin }}">{{ .Params.origin }}</a>
{{- else if .Params.rssDescription }}
   {{ .Params.rssDescription }}
{{- else }}
  {{ .Content }}
{{- end -}}
