 
#desktop-hero {
	background-image: url(wallpaper.jpg);
	background-size: cover;
	background-position: center center;
	padding-bottom: 32px;
	position: relative;
	min-height: 550px;
	padding-right: 250px;
    padding-top: 100px;
}

#desktop-hero .window-headerbar {
    background-image: linear-gradient(to bottom, #545f67, #475057);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 10px 0px 30px; 
    height: 30px;
    line-height: 12px;
    width: 90%;
    max-width: 400px;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.window-headerbar img {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4px;
    border-width: 0;
}

img.window-close {
    right: 4px;
}

img.window-maximize {
    right: 30px;
    top: 7px;
    width: 16px;
    height: 16px;
}

img.window-minimize {
    top: 7px;
    width: 16px;
    height: 16px;
    right: 52px;
}
#desktop-hero sup {
    font-size: 40%; vertical-align: super;
}

#desktop-hero .container {
    padding: 10px;
    margin: 0px 10px 10px 30px; 
    color: #000;
    max-width: 400px;
    width: 90%;
    background-color: #eff0f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

#desktop-hero #demo-widgets {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 500px;
}

#desktop-hero h1, #desktop-hero p {
    text-shadow: 1px 0px 1px white, -1px 0px 1px white, 0px 0px 2px white;
}

#desktop-hero svg {
	vertical-align: middle;
}

#desktop-hero .breeze-button:active {
    background-image: linear-gradient(to bottom, #96d2ed, #87bed7);
}

#desktop-hero .breeze-button:hover {
    box-shadow: 1px 1px 0px 0px rgba(147, 206, 233, 0.2);
    border: solid 1px rgba(147, 206, 233, 0.6);
}

#desktop-hero .breeze-button {
    color: #232627;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom, #eff0f1, #e9eaeb);
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,.1);
    transition: background-image .2s;
}

#desktop-hero .breeze-button::after {
    color: #232627;
}

#demo-panel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(239,241,241,.9);
}

#demo-panel:before {
	content: "";
	position: absolute;
	bottom: 100%;
	height: 4px;
	width: 100%;
	left: 0px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
}

#demo-toolbar {
	position: absolute;
	top: 0px;
	right: 0px;
}

@media (max-width: 768px) {
	#demo-widgets {display: none;}
	#desktop-hero {
		padding-right: 20px;
	}
}

#kWelcome {
	font-size: 14px;
	border-radius: 2px;
	border: solid 1px #abdaf9;
	background-color: #e1f2ff;
	color: #375a7d;
	padding: 10px 20px !important;
	margin: 10px auto !important;
}
