{{/*
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{- $appid := .Get "appid" }}
{{- $url := "" }}
{{- if eq $appid "akonadi" }}
  <h2 id="{{ $appid }}"><a href="https://kontact.kde.org/components/akonadi">Akonadi</a> <small class="h5 text-muted">Background service for KDE PIM apps</small></h2>
{{- else }}
  {{- if eq $appid "kaidan" }}
    {{- $url = "https://apps.kde.org/appdata/im.kaidan.kaidan.json" }}
  {{- else if eq $appid "kraft" }}
      <h3 id="kraft"><a href="https://volle-kraft-voraus.de/Main/Kraft">Kraft</a> <small class="h5 text-muted">Quotes and invoices for small business</small></h3>
  {{- else }}
    {{- $url = printf "https://apps.kde.org/appdata/org.kde.%s.json" $appid }}
  {{- end }}
  
  {{- with $url }}
    {{- with try (resources.GetRemote .) }}
      {{- with .Err }}
        {{- errorf "%s" . }}
      {{- else with .Value}}
        {{- $data := .Content | transform.Unmarshal }}
      {{ else }}
        {{ errorf "Unable to get remote resource %q" $url }}
{{ if eq $appid "merkuro" }}
<div class="text-center mt-5"><img style="max-height: 48px; max-width: 48px" src="https://apps.kde.org/app-icons/org.kde.{{ $appid }}.png" alt="" /></div>
{{ else }}
<div class="text-center mt-5"><img style="max-height: 48px; max-width: 48px" src="https://apps.kde.org/app-icons/org.kde.{{ $appid }}.svg" alt="" /></div>
{{ end }}
<h3 class="display-5 my-0 text-center" id="{{ $appid }}"><a style="padding-left: 40px;" href="https://apps.kde.org/{{ $appid }}">{{ index $data (slice "Name" "en") }}</a></h3><p class="text-center"><small class="h5 mt-0 mb-5 text-muted">{{ index $data (slice "Summary" "en") }}</small></p>
      {{- end }}
    {{- else }}
      {{- errorf "Unable to get remote resource %q" . }}
    {{- end }}
  {{- end }}
{{- end }}
