<div class="container container-feature py-5 {{ with .Get "class" }}{{ . }}{{ end }}">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 {{ if .Get "reverse" }}order-md-2{{ end }}">
      {{- .Inner | $.Page.RenderString -}}
    </div>
    <div class="col-12 col-md-6 {{ if .Get "reverse" }}order-md-1{{ end }}">
      {{- if .Get "video" }}
      <div class="ratio ratio-16x9">
        <video muted="" loop="" autoplay="" style="pointer-events:none"><source src="{{ .Get "video" }}" type="video/mp4"></video>
      </div>
      {{- else }}
        <img src="{{ .Get "img" }}" class="img-fluid {{ if .Get "img-class" }}{{ .Get "img-class" }}{{ else }}w-50{{ end }} mx-auto d-block" />
      {{- end }}
      {{- with .Get "img-caption" }}<p class="text-center">{{ . }}</p>{{ end }}
    </div>
  </div>
</div>
