<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-21.03.80.tar.xz">akonadi-21.03.80</a></td>
   <td align="right">1561kB</td>
   <td><tt>571ad1162b1db9bd32b07f4ca7f742aaeb161e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-calendar-21.03.80.tar.xz">akonadi-calendar-21.03.80</a></td>
   <td align="right">339kB</td>
   <td><tt>735244355174f2fcb0bbf4b5b6b9a9ae7928ba05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-calendar-tools-21.03.80.tar.xz">akonadi-calendar-tools-21.03.80</a></td>
   <td align="right">223kB</td>
   <td><tt>74e9de1379def7d89207d0ccaf21aa64d034b3e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadiconsole-21.03.80.tar.xz">akonadiconsole-21.03.80</a></td>
   <td align="right">197kB</td>
   <td><tt>3f35e9c3526a74aa34c100ce70cfe1f421759bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-contacts-21.03.80.tar.xz">akonadi-contacts-21.03.80</a></td>
   <td align="right">409kB</td>
   <td><tt>64fa1ea473501b88f94e3ee9ebc9c23162f1ca5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-import-wizard-21.03.80.tar.xz">akonadi-import-wizard-21.03.80</a></td>
   <td align="right">499kB</td>
   <td><tt>567eb9ea7742809b7cf3586b2e30e6de848c9783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-mime-21.03.80.tar.xz">akonadi-mime-21.03.80</a></td>
   <td align="right">137kB</td>
   <td><tt>90b8eda864fe64967b4da11a9384c17ecac8edbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-notes-21.03.80.tar.xz">akonadi-notes-21.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>3dca0489c021f250e35b9f99a180e8a7472270f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akonadi-search-21.03.80.tar.xz">akonadi-search-21.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>197cd2cd026834bbd949129c40ee7eab8cce11d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/akregator-21.03.80.tar.xz">akregator-21.03.80</a></td>
   <td align="right">2161kB</td>
   <td><tt>4467ff0f263bd3ea88c32493a827cd1ea05636ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/analitza-21.03.80.tar.xz">analitza-21.03.80</a></td>
   <td align="right">334kB</td>
   <td><tt>1e5448ff11086be0c4433883f58886938c007f0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ark-21.03.80.tar.xz">ark-21.03.80</a></td>
   <td align="right">2661kB</td>
   <td><tt>6fb0bab91827784f37ba610692967d122a60ad7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/artikulate-21.03.80.tar.xz">artikulate-21.03.80</a></td>
   <td align="right">1061kB</td>
   <td><tt>3abd94c5c7d2f3e3b53cf028a48ff5a0ec60f2eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/audiocd-kio-21.03.80.tar.xz">audiocd-kio-21.03.80</a></td>
   <td align="right">490kB</td>
   <td><tt>a77f8c34f8da98b82cec4b0005d1bd4f41dab5c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/baloo-widgets-21.03.80.tar.xz">baloo-widgets-21.03.80</a></td>
   <td align="right">256kB</td>
   <td><tt>5148e18933fb83c0e1e1ad1136c0051de02ec509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/blinken-21.03.80.tar.xz">blinken-21.03.80</a></td>
   <td align="right">2646kB</td>
   <td><tt>4dc5a678a56098c03a36da7b3f72697aafdcc2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/bomber-21.03.80.tar.xz">bomber-21.03.80</a></td>
   <td align="right">809kB</td>
   <td><tt>48a7d6216ec8f893a01c1542c71e3a8333c736a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/bovo-21.03.80.tar.xz">bovo-21.03.80</a></td>
   <td align="right">201kB</td>
   <td><tt>b55b15410167b617d1234e64b8026bdf9f37522f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/calendarsupport-21.03.80.tar.xz">calendarsupport-21.03.80</a></td>
   <td align="right">655kB</td>
   <td><tt>f9f19781e3102ffc12d7a3408c7e8fbdbc72c0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/cantor-21.03.80.tar.xz">cantor-21.03.80</a></td>
   <td align="right">8919kB</td>
   <td><tt>6e1af1525fcb107d5e8045e27e38e9e32eb63c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/cervisia-21.03.80.tar.xz">cervisia-21.03.80</a></td>
   <td align="right">1844kB</td>
   <td><tt>b747aa2d7444444a61bafbb1a9979e1a790b4aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/dolphin-21.03.80.tar.xz">dolphin-21.03.80</a></td>
   <td align="right">5031kB</td>
   <td><tt>3f2ad401a240861fed1ba75794baddb070187fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/dolphin-plugins-21.03.80.tar.xz">dolphin-plugins-21.03.80</a></td>
   <td align="right">236kB</td>
   <td><tt>e1dbc12f6a0c4771170940f7c743234506f1bbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/dragon-21.03.80.tar.xz">dragon-21.03.80</a></td>
   <td align="right">1625kB</td>
   <td><tt>76d174b221261a31079b78ce4d40b422c1c23cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/elisa-21.03.80.tar.xz">elisa-21.03.80</a></td>
   <td align="right">1640kB</td>
   <td><tt>07fcc0457ae02cee2ff67086333a6f5efa505d42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/eventviews-21.03.80.tar.xz">eventviews-21.03.80</a></td>
   <td align="right">436kB</td>
   <td><tt>9785c61b9f59f236d23afe5bc36dc4d96222a8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ffmpegthumbs-21.03.80.tar.xz">ffmpegthumbs-21.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>33f26d088f971cef7cfe9c9f6aea9793279c64a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/filelight-21.03.80.tar.xz">filelight-21.03.80</a></td>
   <td align="right">663kB</td>
   <td><tt>694aad389b7ee2f7479f0a3cdc34f23d451e5db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/granatier-21.03.80.tar.xz">granatier-21.03.80</a></td>
   <td align="right">1907kB</td>
   <td><tt>6cc6bdc88c8f644d98c1a28cbc92d89f5d5aa796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/grantlee-editor-21.03.80.tar.xz">grantlee-editor-21.03.80</a></td>
   <td align="right">109kB</td>
   <td><tt>7e9248886f4373237c02a0f050800f22a288fbb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/grantleetheme-21.03.80.tar.xz">grantleetheme-21.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>4d39ba199e1097464f0f2b969c600cc42cc9b472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/gwenview-21.03.80.tar.xz">gwenview-21.03.80</a></td>
   <td align="right">6598kB</td>
   <td><tt>fe35c98c618b9967a694e145cce743107949a0c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/incidenceeditor-21.03.80.tar.xz">incidenceeditor-21.03.80</a></td>
   <td align="right">526kB</td>
   <td><tt>9dbe7f1b71a00adfdc060b649b1ffc203f822747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/itinerary-21.03.80.tar.xz">itinerary-21.03.80</a></td>
   <td align="right">367kB</td>
   <td><tt>04a848f907140558bf5f404ed2b7ce74a5cc5c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/juk-21.03.80.tar.xz">juk-21.03.80</a></td>
   <td align="right">1950kB</td>
   <td><tt>80302eb9efd9d050160d4e9adc2001e4c53cac9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/k3b-21.03.80.tar.xz">k3b-21.03.80</a></td>
   <td align="right">10457kB</td>
   <td><tt>56f9ce533101af2516f46c64dc719ea0b31d16e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kaccounts-integration-21.03.80.tar.xz">kaccounts-integration-21.03.80</a></td>
   <td align="right">82kB</td>
   <td><tt>8dd05b4d4ab8b9efd14eff3b1e839eefb48523e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kaccounts-providers-21.03.80.tar.xz">kaccounts-providers-21.03.80</a></td>
   <td align="right">60kB</td>
   <td><tt>b8f68e8bdea88f90b2a03fe5af18db8990efeb13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kaddressbook-21.03.80.tar.xz">kaddressbook-21.03.80</a></td>
   <td align="right">3185kB</td>
   <td><tt>8091ec17e59b12a07959410a0b212faa1ff1b0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kajongg-21.03.80.tar.xz">kajongg-21.03.80</a></td>
   <td align="right">4368kB</td>
   <td><tt>ff9c0406dfa116fa564933bbae8bfaae13c5874a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kalarm-21.03.80.tar.xz">kalarm-21.03.80</a></td>
   <td align="right">2025kB</td>
   <td><tt>a953781adc7f0385c840ab34234619ad79471b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kalarmcal-21.03.80.tar.xz">kalarmcal-21.03.80</a></td>
   <td align="right">566kB</td>
   <td><tt>71c58180028693e53595923b99afed4959109665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kalgebra-21.03.80.tar.xz">kalgebra-21.03.80</a></td>
   <td align="right">997kB</td>
   <td><tt>6ec80bc373fdab48e132c0ccd3aa4871a09e0dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kalzium-21.03.80.tar.xz">kalzium-21.03.80</a></td>
   <td align="right">23968kB</td>
   <td><tt>56f13456e2f813b743e33e7e22e442276041c4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kamera-21.03.80.tar.xz">kamera-21.03.80</a></td>
   <td align="right">107kB</td>
   <td><tt>0e0635e1a2f1eaebdb95ebc21dd09da52c849f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kamoso-21.03.80.tar.xz">kamoso-21.03.80</a></td>
   <td align="right">206kB</td>
   <td><tt>1565faa3e75e9a58d5f556d97904c17e86e40727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kanagram-21.03.80.tar.xz">kanagram-21.03.80</a></td>
   <td align="right">7845kB</td>
   <td><tt>cd2b374ce1add1de24d073a1dad6bc3e09c169fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kapman-21.03.80.tar.xz">kapman-21.03.80</a></td>
   <td align="right">2472kB</td>
   <td><tt>0c03bcc2aad87c726227708cd142238a3958a1b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kapptemplate-21.03.80.tar.xz">kapptemplate-21.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>03384a8c525ddaab74a7a6c5faf589bb8fb3e184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kate-21.03.80.tar.xz">kate-21.03.80</a></td>
   <td align="right">6763kB</td>
   <td><tt>c084d93d1f566f5854c48777fba9cd6de506dd17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/katomic-21.03.80.tar.xz">katomic-21.03.80</a></td>
   <td align="right">1395kB</td>
   <td><tt>9cd2134e27739e50a3717c840207a7f68f5cfb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kbackup-21.03.80.tar.xz">kbackup-21.03.80</a></td>
   <td align="right">373kB</td>
   <td><tt>89f9da3e5214c9fa8df0dfd4030f310959df0647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kblackbox-21.03.80.tar.xz">kblackbox-21.03.80</a></td>
   <td align="right">439kB</td>
   <td><tt>e82c1371c697107ca55e4d345620e7120eccca3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kblocks-21.03.80.tar.xz">kblocks-21.03.80</a></td>
   <td align="right">1865kB</td>
   <td><tt>8d6fd16e534a296040261844058db0fe20851b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kbounce-21.03.80.tar.xz">kbounce-21.03.80</a></td>
   <td align="right">3362kB</td>
   <td><tt>938eb327d6ed5eba3629de66124cabbf876a999b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kbreakout-21.03.80.tar.xz">kbreakout-21.03.80</a></td>
   <td align="right">2229kB</td>
   <td><tt>3ad01ad0db6f08f3f82f0d894b296d5caa4e097d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kbruch-21.03.80.tar.xz">kbruch-21.03.80</a></td>
   <td align="right">5484kB</td>
   <td><tt>2b61f71b1f99218c8411600fb1153789843d53cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcachegrind-21.03.80.tar.xz">kcachegrind-21.03.80</a></td>
   <td align="right">808kB</td>
   <td><tt>603b515a760dff497a66f42676463025b3fe3ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcalc-21.03.80.tar.xz">kcalc-21.03.80</a></td>
   <td align="right">351kB</td>
   <td><tt>73ec2cd085ff896e3bbdedd88ff647e2ccc0ed39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcalutils-21.03.80.tar.xz">kcalutils-21.03.80</a></td>
   <td align="right">324kB</td>
   <td><tt>f8b4a269e17497234ad6ed6b706d82bef506f637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcharselect-21.03.80.tar.xz">kcharselect-21.03.80</a></td>
   <td align="right">358kB</td>
   <td><tt>a9af79f244bed4fbbbcf35120193a9082a870a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcolorchooser-21.03.80.tar.xz">kcolorchooser-21.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>25f3d9be38d2dfbb6628e97cf44acc89df635b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kcron-21.03.80.tar.xz">kcron-21.03.80</a></td>
   <td align="right">880kB</td>
   <td><tt>231d3e06ab6f08b999f5f9fec7c7bfa37547613b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdebugsettings-21.03.80.tar.xz">kdebugsettings-21.03.80</a></td>
   <td align="right">84kB</td>
   <td><tt>a1f7cb9c0e6b9c185d560c502305a6bdd9dc5ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdeconnect-kde-21.03.80.tar.xz">kdeconnect-kde-21.03.80</a></td>
   <td align="right">544kB</td>
   <td><tt>68880153a1a5828707b06bfbfcdecb787404fcc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kde-dev-scripts-21.03.80.tar.xz">kde-dev-scripts-21.03.80</a></td>
   <td align="right">357kB</td>
   <td><tt>b5b44aa5932c51b55a46c082780e5bf04699a6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kde-dev-utils-21.03.80.tar.xz">kde-dev-utils-21.03.80</a></td>
   <td align="right">64kB</td>
   <td><tt>10e137c8c29f4b29c5f07a958208179779c245f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdeedu-data-21.03.80.tar.xz">kdeedu-data-21.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>1e3b0c9498ca4344114113f8c71247e959aa0c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdegraphics-mobipocket-21.03.80.tar.xz">kdegraphics-mobipocket-21.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>f628178d3884e87d164849165f19ae27a54cec9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdegraphics-thumbnailers-21.03.80.tar.xz">kdegraphics-thumbnailers-21.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>ac764ab9635359f9a925dd3c69574130f0f89895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdenetwork-filesharing-21.03.80.tar.xz">kdenetwork-filesharing-21.03.80</a></td>
   <td align="right">344kB</td>
   <td><tt>9b876a3c84f1fb2762162e8b257d5483bdd5853e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdenlive-21.03.80.tar.xz">kdenlive-21.03.80</a></td>
   <td align="right">11388kB</td>
   <td><tt>59103f07a53e94b82cd86f37caecf1131124ebf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdepim-addons-21.03.80.tar.xz">kdepim-addons-21.03.80</a></td>
   <td align="right">2108kB</td>
   <td><tt>ad809f1de3436908ac16e167aa635ae4579ee85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdepim-runtime-21.03.80.tar.xz">kdepim-runtime-21.03.80</a></td>
   <td align="right">1769kB</td>
   <td><tt>42d68ca6deaaa56c32220f3772380d3e85aa9141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdesdk-kioslaves-21.03.80.tar.xz">kdesdk-kioslaves-21.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>5b0e5ae8ac39d95279d491308469f9b1aa78de5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdesdk-thumbnailers-21.03.80.tar.xz">kdesdk-thumbnailers-21.03.80</a></td>
   <td align="right">17kB</td>
   <td><tt>c201bf7434676764eaeeaebd118a5c3afd7dbc07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdf-21.03.80.tar.xz">kdf-21.03.80</a></td>
   <td align="right">456kB</td>
   <td><tt>79f9f666851354f73aa72a70c2475db1f5469144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdialog-21.03.80.tar.xz">kdialog-21.03.80</a></td>
   <td align="right">106kB</td>
   <td><tt>59f3b81be19b4a3262ac4b6b89ffe67ba05162c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kdiamond-21.03.80.tar.xz">kdiamond-21.03.80</a></td>
   <td align="right">4587kB</td>
   <td><tt>a25952b6f2a6b6c4f73724f35f746efabe5abfdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/keditbookmarks-21.03.80.tar.xz">keditbookmarks-21.03.80</a></td>
   <td align="right">186kB</td>
   <td><tt>020a748ca9b8c19783081a65c1387e8461fe9941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kfind-21.03.80.tar.xz">kfind-21.03.80</a></td>
   <td align="right">265kB</td>
   <td><tt>a5caed8371744137a311e29199b6cac9eea9fed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kfloppy-21.03.80.tar.xz">kfloppy-21.03.80</a></td>
   <td align="right">200kB</td>
   <td><tt>a0dce3bfe1b56b322a0d493ac3c9a61f82d8693a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kfourinline-21.03.80.tar.xz">kfourinline-21.03.80</a></td>
   <td align="right">629kB</td>
   <td><tt>b2116039f701b7110969af798de41ced2992cb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kgeography-21.03.80.tar.xz">kgeography-21.03.80</a></td>
   <td align="right">10509kB</td>
   <td><tt>a6b563b400b240b848968a0b8f7fa55e20a2cead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kget-21.03.80.tar.xz">kget-21.03.80</a></td>
   <td align="right">5459kB</td>
   <td><tt>2628005838dfef796b3f18d5772028d2acc4175b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kgoldrunner-21.03.80.tar.xz">kgoldrunner-21.03.80</a></td>
   <td align="right">4346kB</td>
   <td><tt>facba046a816f9212263b0572d586c8269939dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kgpg-21.03.80.tar.xz">kgpg-21.03.80</a></td>
   <td align="right">2818kB</td>
   <td><tt>4b3927282f13214455dcf16b9a7aefe5c186e4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/khangman-21.03.80.tar.xz">khangman-21.03.80</a></td>
   <td align="right">7249kB</td>
   <td><tt>36e6b99fc065e88256380644f8e659eab0d1088c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/khelpcenter-21.03.80.tar.xz">khelpcenter-21.03.80</a></td>
   <td align="right">4169kB</td>
   <td><tt>72bce9e1218da67f81f3b733378c3998b0c61246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kidentitymanagement-21.03.80.tar.xz">kidentitymanagement-21.03.80</a></td>
   <td align="right">152kB</td>
   <td><tt>3bf4f3cd7294443cd16b4fa625c9aca3b88de443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kig-21.03.80.tar.xz">kig-21.03.80</a></td>
   <td align="right">3054kB</td>
   <td><tt>28c06c8233be7e3a45b0d333187983e0bfe69f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kigo-21.03.80.tar.xz">kigo-21.03.80</a></td>
   <td align="right">5122kB</td>
   <td><tt>bb96d413223e2c1dfee9e2fc3dc154ce999570bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/killbots-21.03.80.tar.xz">killbots-21.03.80</a></td>
   <td align="right">1158kB</td>
   <td><tt>7f028a8eb92ac3509bfb4794f7eb51697e6c6c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kimagemapeditor-21.03.80.tar.xz">kimagemapeditor-21.03.80</a></td>
   <td align="right">1054kB</td>
   <td><tt>ec9500959df348d05567a2870a6afc43faf22a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kimap-21.03.80.tar.xz">kimap-21.03.80</a></td>
   <td align="right">125kB</td>
   <td><tt>0d2e8708084aa48a5660f2b264b8eec2117d36fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kio-extras-21.03.80.tar.xz">kio-extras-21.03.80</a></td>
   <td align="right">630kB</td>
   <td><tt>45620211bf27e233f32ab3de59a39458cc028b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kio-gdrive-21.03.80.tar.xz">kio-gdrive-21.03.80</a></td>
   <td align="right">66kB</td>
   <td><tt>a9769555f25fd96cd0b375545556f36d7e0f8dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kipi-plugins-21.03.80.tar.xz">kipi-plugins-21.03.80</a></td>
   <td align="right">1612kB</td>
   <td><tt>6732f037d166554e2b8936cd1909d30be9e56f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kirigami-gallery-21.03.80.tar.xz">kirigami-gallery-21.03.80</a></td>
   <td align="right">321kB</td>
   <td><tt>43e47097093261d7f59f9dbe52ef26785e21645c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kiriki-21.03.80.tar.xz">kiriki-21.03.80</a></td>
   <td align="right">370kB</td>
   <td><tt>09625e0c71d1e95aa77c77103852a5f3adb45299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kiten-21.03.80.tar.xz">kiten-21.03.80</a></td>
   <td align="right">11035kB</td>
   <td><tt>f850e3daf8f6508b5b7a5462d5f6891fedaa6eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kitinerary-21.03.80.tar.xz">kitinerary-21.03.80</a></td>
   <td align="right">1777kB</td>
   <td><tt>50032102bea118dd5c0024f71e7db05bc772e2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kjumpingcube-21.03.80.tar.xz">kjumpingcube-21.03.80</a></td>
   <td align="right">284kB</td>
   <td><tt>80512c22825d0119ae76bbd19116058b0669657e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kldap-21.03.80.tar.xz">kldap-21.03.80</a></td>
   <td align="right">166kB</td>
   <td><tt>6b9129c1bbf61b5e09ff8febb9efc11708634e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kleopatra-21.03.80.tar.xz">kleopatra-21.03.80</a></td>
   <td align="right">2006kB</td>
   <td><tt>ce0004e718ddc16a8747c91363b32602c8bf6d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/klettres-21.03.80.tar.xz">klettres-21.03.80</a></td>
   <td align="right">46024kB</td>
   <td><tt>4957c8c16e9ec9f64e8648856a175f6b4c90abfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/klickety-21.03.80.tar.xz">klickety-21.03.80</a></td>
   <td align="right">1361kB</td>
   <td><tt>b3725b57cb2d141a0fa79f5cd7787d4e10c6ab8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/klines-21.03.80.tar.xz">klines-21.03.80</a></td>
   <td align="right">1748kB</td>
   <td><tt>6a6f279eb0657cece7dbc4ba7c9129f578a52321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmag-21.03.80.tar.xz">kmag-21.03.80</a></td>
   <td align="right">682kB</td>
   <td><tt>2cf496fff98f5fc0a11bb643634f239c26cde8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmahjongg-21.03.80.tar.xz">kmahjongg-21.03.80</a></td>
   <td align="right">3353kB</td>
   <td><tt>9d8d820e059b05d88ca7981a5feca29b76003d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmail-21.03.80.tar.xz">kmail-21.03.80</a></td>
   <td align="right">5928kB</td>
   <td><tt>1b5217d77d4281d7c62aa23aae56c4a77296f925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmail-account-wizard-21.03.80.tar.xz">kmail-account-wizard-21.03.80</a></td>
   <td align="right">161kB</td>
   <td><tt>1b7076ba59f8406670b8063485812b36cc96b2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmailtransport-21.03.80.tar.xz">kmailtransport-21.03.80</a></td>
   <td align="right">168kB</td>
   <td><tt>26ca8ddbd2238a6d398680d0b07332c525b2896f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmbox-21.03.80.tar.xz">kmbox-21.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>2dc91c9717161cfd2e7f637770c3e5ce90b5aaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmime-21.03.80.tar.xz">kmime-21.03.80</a></td>
   <td align="right">150kB</td>
   <td><tt>6f88255d897686744ff6128d7667959e685a2aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmines-21.03.80.tar.xz">kmines-21.03.80</a></td>
   <td align="right">936kB</td>
   <td><tt>8f0f678a92408ea8964f405f2bf844c527521228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmix-21.03.80.tar.xz">kmix-21.03.80</a></td>
   <td align="right">1124kB</td>
   <td><tt>73761cfe932b0277857054ef36a90b7a65ac6706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmousetool-21.03.80.tar.xz">kmousetool-21.03.80</a></td>
   <td align="right">114kB</td>
   <td><tt>23358ce3e45f070e35befc845e540b143c8fc243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmouth-21.03.80.tar.xz">kmouth-21.03.80</a></td>
   <td align="right">2035kB</td>
   <td><tt>e518a2d4793c0d7f22151872e34db95b7fc4a670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kmplot-21.03.80.tar.xz">kmplot-21.03.80</a></td>
   <td align="right">2939kB</td>
   <td><tt>bbb18356b0efb1263861b91594468c0789032642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/knavalbattle-21.03.80.tar.xz">knavalbattle-21.03.80</a></td>
   <td align="right">1334kB</td>
   <td><tt>57257d2c00d55bc9584358590863649aad9cc4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/knetwalk-21.03.80.tar.xz">knetwalk-21.03.80</a></td>
   <td align="right">1239kB</td>
   <td><tt>db8fa663a38ce227a87874a6a9ff5e2717b53ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/knights-21.03.80.tar.xz">knights-21.03.80</a></td>
   <td align="right">3453kB</td>
   <td><tt>9d27c76050ba3ec565b59c6546560e84191b6a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/knotes-21.03.80.tar.xz">knotes-21.03.80</a></td>
   <td align="right">326kB</td>
   <td><tt>7ea6c1d9071a82ae35656c0d69e902bba3dd88c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kolf-21.03.80.tar.xz">kolf-21.03.80</a></td>
   <td align="right">1010kB</td>
   <td><tt>07192020a936339e5745a052bef64dc6f1810a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kollision-21.03.80.tar.xz">kollision-21.03.80</a></td>
   <td align="right">283kB</td>
   <td><tt>d8a6776a6ff7e801d239ea8e1d2e82540b4eb936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kolourpaint-21.03.80.tar.xz">kolourpaint-21.03.80</a></td>
   <td align="right">5557kB</td>
   <td><tt>a11c4b5818ed86d1f5bab1da63cb73bb8dde6ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kompare-21.03.80.tar.xz">kompare-21.03.80</a></td>
   <td align="right">905kB</td>
   <td><tt>4d8eb9250ae16d608a63cf58a12a2ed54b685b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/konqueror-21.03.80.tar.xz">konqueror-21.03.80</a></td>
   <td align="right">7084kB</td>
   <td><tt>903e480694891300d6061e679f0755adaf358604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/konquest-21.03.80.tar.xz">konquest-21.03.80</a></td>
   <td align="right">650kB</td>
   <td><tt>13aaa480e564d20de929683e335ccc6eea2de7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/konsole-21.03.80.tar.xz">konsole-21.03.80</a></td>
   <td align="right">1245kB</td>
   <td><tt>d725e998a081e977210813fc1b642c2ec8c35b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kontact-21.03.80.tar.xz">kontact-21.03.80</a></td>
   <td align="right">775kB</td>
   <td><tt>67f37061e744ef64234ea971ca1bec79e6534387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kontactinterface-21.03.80.tar.xz">kontactinterface-21.03.80</a></td>
   <td align="right">38kB</td>
   <td><tt>f4fb7ac3d3af581d0783e9cd7c47573e3e8af611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kontrast-21.03.80.tar.xz">kontrast-21.03.80</a></td>
   <td align="right">120kB</td>
   <td><tt>334a43074f5cada5186ccd7342736d86fbc03832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/konversation-21.03.80.tar.xz">konversation-21.03.80</a></td>
   <td align="right">4131kB</td>
   <td><tt>000e9fcba75e513d2e13b13bfcc3eb29442a5103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kopeninghours-21.03.80.tar.xz">kopeninghours-21.03.80</a></td>
   <td align="right">60kB</td>
   <td><tt>bf57ce625ebf32ee59da944c6f572a5abfb0af3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kopete-21.03.80.tar.xz">kopete-21.03.80</a></td>
   <td align="right">9193kB</td>
   <td><tt>4308da6f9c078eb8ded9e5337e0a9433863f35c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/korganizer-21.03.80.tar.xz">korganizer-21.03.80</a></td>
   <td align="right">2270kB</td>
   <td><tt>e6d8852837ea0fdba34c48a9cda74b40f64fdcbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kosmindoormap-21.03.80.tar.xz">kosmindoormap-21.03.80</a></td>
   <td align="right">323kB</td>
   <td><tt>9ecd11119807d44004694f04e1598366b7ff2c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kpat-21.03.80.tar.xz">kpat-21.03.80</a></td>
   <td align="right">3562kB</td>
   <td><tt>036000a4946596643a52695c6b9f471313e0838d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kpimtextedit-21.03.80.tar.xz">kpimtextedit-21.03.80</a></td>
   <td align="right">200kB</td>
   <td><tt>174c258f2b34f688051194602c1c2c99143d7ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kpkpass-21.03.80.tar.xz">kpkpass-21.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>1ff88d8395ae7588e114538a37c360c46f3077f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kpmcore-21.03.80.tar.xz">kpmcore-21.03.80</a></td>
   <td align="right">572kB</td>
   <td><tt>c9f3038c227a138904849ac4078dffc9d612e928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kpublictransport-21.03.80.tar.xz">kpublictransport-21.03.80</a></td>
   <td align="right">382kB</td>
   <td><tt>c7cf840d254087d23ac38dc1695c4268790703f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kqtquickcharts-21.03.80.tar.xz">kqtquickcharts-21.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>ff4e5696464915c5a19d1ffd3aaba19861477972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/krdc-21.03.80.tar.xz">krdc-21.03.80</a></td>
   <td align="right">1531kB</td>
   <td><tt>e219663830dfd24d541df6300e710907be6459e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kreversi-21.03.80.tar.xz">kreversi-21.03.80</a></td>
   <td align="right">933kB</td>
   <td><tt>15c1a3576465fa2bf464f7b78590b36ae39f5ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/krfb-21.03.80.tar.xz">krfb-21.03.80</a></td>
   <td align="right">1253kB</td>
   <td><tt>d1145096229e5a96bd868ce30b271fe6a510ffc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kross-interpreters-21.03.80.tar.xz">kross-interpreters-21.03.80</a></td>
   <td align="right">148kB</td>
   <td><tt>29f16cef51ef08fde6771098885780d82209a446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kruler-21.03.80.tar.xz">kruler-21.03.80</a></td>
   <td align="right">266kB</td>
   <td><tt>ea38d9e6aceb60938f5ef34cf0c756e965a3146c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kshisen-21.03.80.tar.xz">kshisen-21.03.80</a></td>
   <td align="right">808kB</td>
   <td><tt>89f3bd60ff29c6cb5685aa1ff0a8cdeb83ce9bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksirk-21.03.80.tar.xz">ksirk-21.03.80</a></td>
   <td align="right">6832kB</td>
   <td><tt>6e15a5331f4bac76d1c05b40ad31a7d7ec31d79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksmtp-21.03.80.tar.xz">ksmtp-21.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>25fc8477d756908937ef86211656813711fb8526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksnakeduel-21.03.80.tar.xz">ksnakeduel-21.03.80</a></td>
   <td align="right">530kB</td>
   <td><tt>a737ca9db184596f2680064104e2fe12b1ef0c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kspaceduel-21.03.80.tar.xz">kspaceduel-21.03.80</a></td>
   <td align="right">603kB</td>
   <td><tt>7f13ce412f015628f5ed3f7600c45918d45b829b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksquares-21.03.80.tar.xz">ksquares-21.03.80</a></td>
   <td align="right">260kB</td>
   <td><tt>1ed7479d25e8b59105471911ba76a3453f2c0a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksudoku-21.03.80.tar.xz">ksudoku-21.03.80</a></td>
   <td align="right">1639kB</td>
   <td><tt>513358ed62c3686418eafc6c203ce3ba85cf6942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ksystemlog-21.03.80.tar.xz">ksystemlog-21.03.80</a></td>
   <td align="right">1908kB</td>
   <td><tt>6588334c16582ed636b5ae98bb7d0d39cc56eaad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kteatime-21.03.80.tar.xz">kteatime-21.03.80</a></td>
   <td align="right">288kB</td>
   <td><tt>3cfa12ad682c1dbe998170b7e0df92f9c6a03afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktimer-21.03.80.tar.xz">ktimer-21.03.80</a></td>
   <td align="right">376kB</td>
   <td><tt>f93bd048c42c3db5e8006ccb76820ade1153ecf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktnef-21.03.80.tar.xz">ktnef-21.03.80</a></td>
   <td align="right">296kB</td>
   <td><tt>30f9137e9c7b67670442d608e5f281181b880e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktorrent-21.03.80.tar.xz">ktorrent-21.03.80</a></td>
   <td align="right">2022kB</td>
   <td><tt>ed13397376138a4c2dc9b028a92060b17f343458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktouch-21.03.80.tar.xz">ktouch-21.03.80</a></td>
   <td align="right">4825kB</td>
   <td><tt>80a6c7f0dc29fa04e57644f517f0684e0554402d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-accounts-kcm-21.03.80.tar.xz">ktp-accounts-kcm-21.03.80</a></td>
   <td align="right">257kB</td>
   <td><tt>0794fb78b792ff86589c90ea95186d4f98030759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-approver-21.03.80.tar.xz">ktp-approver-21.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>b6f9ebd5718dcf287532928f14addcf65acf0dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-auth-handler-21.03.80.tar.xz">ktp-auth-handler-21.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>d738b80abb1e3477a001881d3bfd417847bb1190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-call-ui-21.03.80.tar.xz">ktp-call-ui-21.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>12269b20ca6496d210609d995e69bed3dcda6c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-common-internals-21.03.80.tar.xz">ktp-common-internals-21.03.80</a></td>
   <td align="right">440kB</td>
   <td><tt>df3d3315658b0be1638aac2b3e5a4ec4c08bd9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-contact-list-21.03.80.tar.xz">ktp-contact-list-21.03.80</a></td>
   <td align="right">147kB</td>
   <td><tt>f01142b9fed5adf13a2724bbf9a8cf76b0784158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-contact-runner-21.03.80.tar.xz">ktp-contact-runner-21.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>8096687aaa5d744b3818c7f8076514d07849f4af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-desktop-applets-21.03.80.tar.xz">ktp-desktop-applets-21.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>e608b81e42f512cfeec6a1787bd9f90619744d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-filetransfer-handler-21.03.80.tar.xz">ktp-filetransfer-handler-21.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>5b89ff1297818f4db684089f7a8f88b23a1d7407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-kded-module-21.03.80.tar.xz">ktp-kded-module-21.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>17627b11f20b03a4cc2b986d95880a5bbbfac26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-send-file-21.03.80.tar.xz">ktp-send-file-21.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>6428252af4cbe1aac0b3e69b97eb49fe5332d247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktp-text-ui-21.03.80.tar.xz">ktp-text-ui-21.03.80</a></td>
   <td align="right">462kB</td>
   <td><tt>a3554318ec7d1e44afda6b908209422fe3e7c806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/ktuberling-21.03.80.tar.xz">ktuberling-21.03.80</a></td>
   <td align="right">69110kB</td>
   <td><tt>f350ec98ee3bd1b85336b561de80a3d737e2dfe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kturtle-21.03.80.tar.xz">kturtle-21.03.80</a></td>
   <td align="right">1795kB</td>
   <td><tt>348a5079e607e9bef2660398903defe3f3e1bef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kubrick-21.03.80.tar.xz">kubrick-21.03.80</a></td>
   <td align="right">332kB</td>
   <td><tt>923460a8f9fdcc771bf55c266bdfcede224dd329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kwalletmanager-21.03.80.tar.xz">kwalletmanager-21.03.80</a></td>
   <td align="right">763kB</td>
   <td><tt>c6bfcbe5c055f568002db2cfbf01931665303cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kwave-21.03.80.tar.xz">kwave-21.03.80</a></td>
   <td align="right">6718kB</td>
   <td><tt>184b8a0d282640873eccbe6e2b5700b8031d28f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/kwordquiz-21.03.80.tar.xz">kwordquiz-21.03.80</a></td>
   <td align="right">4091kB</td>
   <td><tt>8b11f4fb4893654c4920ff6fe51593b3bb3b2986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libgravatar-21.03.80.tar.xz">libgravatar-21.03.80</a></td>
   <td align="right">34kB</td>
   <td><tt>cbae6aef46f696e4b29376dd0d8e6f2a8aa1b34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkcddb-21.03.80.tar.xz">libkcddb-21.03.80</a></td>
   <td align="right">414kB</td>
   <td><tt>b0af173024848be0ed4d40185648df25cf956cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkcompactdisc-21.03.80.tar.xz">libkcompactdisc-21.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>34c71bef0bffe9a38ed73b2663ed1ba1247039a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkdcraw-21.03.80.tar.xz">libkdcraw-21.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>b0b6c078737f3365969a070183a9b62c80de437f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkdegames-21.03.80.tar.xz">libkdegames-21.03.80</a></td>
   <td align="right">6238kB</td>
   <td><tt>2cbe80507b78599219a652e471030a9557e0fb19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkdepim-21.03.80.tar.xz">libkdepim-21.03.80</a></td>
   <td align="right">236kB</td>
   <td><tt>e335295373007ad4cc8dadc16b7ba7af8f63e5f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkeduvocdocument-21.03.80.tar.xz">libkeduvocdocument-21.03.80</a></td>
   <td align="right">206kB</td>
   <td><tt>35b8926fad5295a9b53df04b7e83f26995b0116a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkexiv2-21.03.80.tar.xz">libkexiv2-21.03.80</a></td>
   <td align="right">58kB</td>
   <td><tt>54ce4fd53a99565623aaa780a791d0c566e97cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkgapi-21.03.80.tar.xz">libkgapi-21.03.80</a></td>
   <td align="right">243kB</td>
   <td><tt>2ca1f284de11efeae37b7c04f0a5195aaf148184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkipi-21.03.80.tar.xz">libkipi-21.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>a20953d2d828a20395d70f63d928544b463c2ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkleo-21.03.80.tar.xz">libkleo-21.03.80</a></td>
   <td align="right">362kB</td>
   <td><tt>081abe9294b29d6bfba5b9f3240edd05f561beb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkmahjongg-21.03.80.tar.xz">libkmahjongg-21.03.80</a></td>
   <td align="right">1641kB</td>
   <td><tt>6591e34d63a2a52cf7ab5c555ae3fc39e34344e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libkomparediff2-21.03.80.tar.xz">libkomparediff2-21.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>6495cfe31878469f7c5d63665254be8e06cbc387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libksane-21.03.80.tar.xz">libksane-21.03.80</a></td>
   <td align="right">140kB</td>
   <td><tt>2331346a3e6ada2f137dcafdee87687d6e6534ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libksieve-21.03.80.tar.xz">libksieve-21.03.80</a></td>
   <td align="right">551kB</td>
   <td><tt>3fb7fba0b18840fc2b3657c72e81af1ae1238de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/libktorrent-21.03.80.tar.xz">libktorrent-21.03.80</a></td>
   <td align="right">589kB</td>
   <td><tt>ea4e83072909c2a4e0c434edd214effbec62dacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/lokalize-21.03.80.tar.xz">lokalize-21.03.80</a></td>
   <td align="right">1946kB</td>
   <td><tt>b8986745b31aa5b9d91857e47d0946165e2d5e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/lskat-21.03.80.tar.xz">lskat-21.03.80</a></td>
   <td align="right">1193kB</td>
   <td><tt>74eb5ab855a870f6367c51eb814ee498d1410dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/mailcommon-21.03.80.tar.xz">mailcommon-21.03.80</a></td>
   <td align="right">710kB</td>
   <td><tt>74b6f00fc26c5699cfd4fb22b303ec92729c865d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/mailimporter-21.03.80.tar.xz">mailimporter-21.03.80</a></td>
   <td align="right">540kB</td>
   <td><tt>e6728bb47f4b06d909b4a0ad3c0e38515f3651ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/marble-21.03.80.tar.xz">marble-21.03.80</a></td>
   <td align="right">51148kB</td>
   <td><tt>fe12db613158eaa408c37d7831b92c6fc4f4112d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/markdownpart-21.03.80.tar.xz">markdownpart-21.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>8b979670d382d34965da61c267a693397f031d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/mbox-importer-21.03.80.tar.xz">mbox-importer-21.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>af0c227dce8edf22496eadbbf8120493e1801a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/messagelib-21.03.80.tar.xz">messagelib-21.03.80</a></td>
   <td align="right">10377kB</td>
   <td><tt>fc1d80e1ed9002cb58abc43f746b31a747a4152c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/minuet-21.03.80.tar.xz">minuet-21.03.80</a></td>
   <td align="right">27079kB</td>
   <td><tt>fe6be51408ea51ab428e42fb4129829c95809634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/okular-21.03.80.tar.xz">okular-21.03.80</a></td>
   <td align="right">7746kB</td>
   <td><tt>8127fc19434dd00db968ba13b002f25a650687ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/palapeli-21.03.80.tar.xz">palapeli-21.03.80</a></td>
   <td align="right">2027kB</td>
   <td><tt>a2336eff68c3e563179eb6907c0cb3fe4bfb42fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/parley-21.03.80.tar.xz">parley-21.03.80</a></td>
   <td align="right">8636kB</td>
   <td><tt>462b6e0fa97766ee28088071356ba53cb11820ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/partitionmanager-21.03.80.tar.xz">partitionmanager-21.03.80</a></td>
   <td align="right">2038kB</td>
   <td><tt>e6940f758da9ff0d7dfa4fad1747d2551cc103aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/picmi-21.03.80.tar.xz">picmi-21.03.80</a></td>
   <td align="right">1337kB</td>
   <td><tt>29510a5959c441fa6ee97db987cb29de1a5b46b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/pimcommon-21.03.80.tar.xz">pimcommon-21.03.80</a></td>
   <td align="right">360kB</td>
   <td><tt>969b45560e303fc77f6d7420cd9646e8c503297f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/pim-data-exporter-21.03.80.tar.xz">pim-data-exporter-21.03.80</a></td>
   <td align="right">395kB</td>
   <td><tt>109acc0b87ee671b2b1e6b7dc97aa302eb6397ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/pim-sieve-editor-21.03.80.tar.xz">pim-sieve-editor-21.03.80</a></td>
   <td align="right">447kB</td>
   <td><tt>0395394bb791e8dca1dc3d5475efa277a1a8f356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/poxml-21.03.80.tar.xz">poxml-21.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>335d40644d98354e0cf25c7e0e7c72d1a0d2510a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/print-manager-21.03.80.tar.xz">print-manager-21.03.80</a></td>
   <td align="right">253kB</td>
   <td><tt>aa1ae5dd0d56a000846eb970d54d39e1d1ab03e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/rocs-21.03.80.tar.xz">rocs-21.03.80</a></td>
   <td align="right">1505kB</td>
   <td><tt>6044fff6e0b5d7513a84b0982362e09ca08f51ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/signon-kwallet-extension-21.03.80.tar.xz">signon-kwallet-extension-21.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>0c6a90947194db104e44fdfc6c685c5bafdcd9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/spectacle-21.03.80.tar.xz">spectacle-21.03.80</a></td>
   <td align="right">1140kB</td>
   <td><tt>5524338013469954d646937f1d9fee636849508f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/step-21.03.80.tar.xz">step-21.03.80</a></td>
   <td align="right">941kB</td>
   <td><tt>55961855562905a2c04d3ca646b3cf9298a809a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/svgpart-21.03.80.tar.xz">svgpart-21.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>d78eda9bd581781f462bc03a3581e65067cda54f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/sweeper-21.03.80.tar.xz">sweeper-21.03.80</a></td>
   <td align="right">363kB</td>
   <td><tt>54d8c760c18a2d15a4fb2366560468a1af7ec8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/umbrello-21.03.80.tar.xz">umbrello-21.03.80</a></td>
   <td align="right">5437kB</td>
   <td><tt>5a5db0987260903c90ef4a392d2138e7ea642d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/yakuake-21.03.80.tar.xz">yakuake-21.03.80</a></td>
   <td align="right">382kB</td>
   <td><tt>8a420d11443296318c3f980ca643ced3e133b034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.03.80/src/zeroconf-ioslave-21.03.80.tar.xz">zeroconf-ioslave-21.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>35fed23ee02cf29f70e9f511c803e7ddc92a45aa</tt></td>
</tr>

</table>
